[sub-tool]-get_user_data-(autobot)-etwsKBkF8D5xqsoq.json
{"updatedAt":"2026-05-27T13:04:51.596Z","createdAt":"2026-05-26T13:43:40.190Z","id":"etwsKBkF8D5xqsoq","name":"[Sub Tool] get_user_data (Autobot)","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"e80132b1-8f40-4ed8-9e05-30a0b2a1e8b2","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{},"id":"f50b4655-d5e7-4b82-998c-974e5bba742e","name":"When clicking 'Test'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,304]},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"airtable_record_id","value":"recxxxxxxxx","type":"string"}]},"options":{}},"id":"9c258b20-4295-449f-b06b-c7c5747f379f","name":"Set Test Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,304]},{"parameters":{"base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste"},"id":"={{ $json.airtable_record_id }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[448,160],"id":"702f24de-f64c-4f27-b26d-5bf2a5c21141","name":"Airtable - Get Record","credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"f1","name":"Name","value":"={{ $json.Name ?? '' }}","type":"string"},{"id":"f2","name":"Email","value":"={{ $json.Email ?? '' }}","type":"string"},{"id":"f3","name":"Telefone","value":"={{ $json.Telefone ?? '' }}","type":"string"},{"id":"f4","name":"Event_Type_Name","value":"={{ $json['Event Type Name'] ?? '' }}","type":"string"},{"id":"f5","name":"Calendly_Start_Date_Time","value":"={{ $json['Calendly Start Date & Time'] ?? '' }}","type":"string"},{"id":"f6","name":"linkMeet","value":"={{ $json.linkMeet ?? '' }}","type":"string"},{"id":"f7","name":"has_booking","value":"={{ ($json.linkMeet ?? '').length > 0 }}","type":"boolean"}]},"options":{}},"id":"745d09bf-038f-4262-9751-28f052eed5fe","name":"Format Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,160]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Airtable - Get Record","type":"main","index":0}]]},"When clicking 'Test'":{"main":[[{"node":"Set Test Input","type":"main","index":0}]]},"Set Test Input":{"main":[[{"node":"Airtable - Get Record","type":"main","index":0}]]},"Airtable - Get Record":{"main":[[{"node":"Format Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"38ce50a9-a617-4cf0-8320-8ba6cc364a71","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-26T13:43:40.190Z","createdAt":"2026-05-26T13:43:40.190Z","role":"workflow:owner","workflowId":"etwsKBkF8D5xqsoq","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-26T13:42:28.907Z","createdAt":"2026-05-26T13:42:28.907Z","id":"NdNWP9Ddugt1sDC4","name":"SDR"}]}