[sub-tool]-cancel_booking-(autobot)-wzMl35bgFEsyF25R.json
{"updatedAt":"2026-05-31T20:45:10.807Z","createdAt":"2026-05-26T13:42:59.880Z","id":"wzMl35bgFEsyF25R","name":"[Sub Tool] cancel_booking (Autobot)","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"2c0ec442-8cea-4bcd-8651-3b7cf0ab6146","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{},"id":"56331923-466a-48c1-bc80-7635a1cf8165","name":"When clicking 'Test'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,304]},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"airtable_record_id","value":"rec0tKKifjgsj5dyx","type":"string"},{"id":"a2","name":"cancellation_reason","value":"Teste evento passado do sub-tool cancel_booking","type":"string"}]},"options":{}},"id":"8624998d-56b3-4e93-b483-d8105a983a1b","name":"Set Test Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,304]},{"parameters":{"url":"=https://api.airtable.com/v0/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC/{{ $json.airtable_record_id }}","authentication":"***REDACTED***","nodeCredentialType":"airtableTokenApi","options":{}},"id":"79063e78-2a1b-4661-9ba3-47a4186ede41","name":"Get Lead from Airtable","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,160],"credentials":null},{"parameters":{"jsCode":"const lead = $input.item.json;\nconst fields = lead.fields || {};\nconst linkMeet = fields.linkMeet || '';\nconst airtable_record_id = lead.id;\n\nlet cancellation_reason = '';\ntry {\n  cancellation_reason = $('Set Test Input').item.json.cancellation_reason || '';\n} catch (e) {\n  try {\n    cancellation_reason = $('Execute Workflow Trigger').item.json.cancellation_reason || '';\n  } catch (e2) {\n    cancellation_reason = '';\n  }\n}\n\nif (!linkMeet || linkMeet.trim() === '') {\n  return [{\n    json: {\n      airtable_record_id,\n      has_booking: false,\n      calendly_uuid: null,\n      cancellation_reason,\n      skip_cancel: true,\n      message: 'Lead nao tem booking ativo para cancelar.'\n    }\n  }];\n}\n\nconst match = linkMeet.match(/calendly\\.com\\/events\\/([a-f0-9-]+)/i);\nif (!match || !match[1]) {\n  throw new Error(`linkMeet nao tem formato Calendly esperado: ${linkMeet}`);\n}\n\nconst calendly_uuid = match[1];\n\nreturn [{\n  json: {\n    airtable_record_id,\n    has_booking: true,\n    calendly_uuid,\n    cancellation_reason,\n    skip_cancel: false,\n    linkMeet\n  }\n}];"},"id":"519fd440-fe45-4f44-a090-844e047c7e54","name":"Extract Calendly UUID","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-001","leftValue":"={{ $json.skip_cancel }}","rightValue":true,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"cde615be-a8e1-43fd-b955-ab888bfdd02c","name":"IF has_booking","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,160]},{"parameters":{"method":"POST","url":"=https://api.calendly.com/scheduled_events/{{ $json.calendly_uuid }}/cancellation","authentication":"***REDACTED***","nodeCredentialType":"calendlyApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"reason\": \"{{ $json.cancellation_reason || 'Cancelado via assistente AI' }}\"\n}","options":{}},"id":"d407f416-9ab2-47a9-aeda-3f0ac006c724","name":"Cancel Calendly Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,96],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"n1","name":"success","value":"={{ true }}","type":"boolean"},{"id":"n2","name":"was_cancelled","value":"={{ false }}","type":"boolean"},{"id":"n3","name":"airtable_record_id","value":"={{ $('Extract Calendly UUID').item.json.airtable_record_id }}","type":"string"},{"id":"n4","name":"calendly_uuid","value":"","type":"string"},{"id":"n5","name":"cancellation_reason","value":"={{ $('Extract Calendly UUID').item.json.cancellation_reason }}","type":"string"},{"id":"n6","name":"message","value":"=Lead nao tinha booking ativo. Nenhuma acao foi necessaria.","type":"string"}]},"options":{}},"id":"0e771963-466f-4697-a6f1-94e8fdd5ad94","name":"Format Output (No Booking)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,304]},{"parameters":{"assignments":{"assignments":[{"id":"151b753d-6a69-48cc-8f17-e671f38a95b7","name":"success","value":false,"type":"boolean"},{"id":"1edfa416-ce57-4940-872c-5bc46f6e0694","name":"was_cancelled","value":false,"type":"boolean"},{"id":"afec9b68-9e02-4a8f-9c81-78c231a9ca6a","name":"airtable_record_id","value":"={{ $('Extract Calendly UUID').item.json.airtable_record_id }}","type":"string"},{"id":"e94e94c3-e143-41c7-a670-0231c8a8f6b8","name":"message","value":"Nao foi possivel cancelar a reuniao por um erro tecnico. Tente novamente em instantes ou contacte-nos por email.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1616,368],"id":"93911446-5c9e-49e2-be7c-9a1611d7c7be","name":"Format Output (Not Cancellable)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a11d2a90-3b54-482d-9677-59ca5cf63c8c","leftValue":"={{ $json.error.description }}","rightValue":"Event in the past","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1328,192],"id":"8a7811f9-c2a5-4641-84f1-6ea500514caf","name":"IF Event in the past"},{"parameters":{"method":"PATCH","url":"=https://api.airtable.com/v0/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC/{{ $('Extract Calendly UUID').item.json.airtable_record_id }}","authentication":"***REDACTED***","nodeCredentialType":"airtableTokenApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"linkMeet\": \"\",\n    \"Calendly Start Date & Time\": null,\n    \"Calendly Event Created Date & Time\": null,\n    \"calendly_cancel_url\": \"\",\n    \"calendly_reschedule_url\": \"\"\n  }\n}","options":{}},"id":"b63dadb3-d2fc-4665-ae97-56eea2a8cea3","name":"Clear Airtable Fields2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,176],"credentials":null},{"parameters":{"method":"PATCH","url":"=https://api.airtable.com/v0/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC/{{ $('Extract Calendly UUID').item.json.airtable_record_id }}","authentication":"***REDACTED***","nodeCredentialType":"airtableTokenApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"linkMeet\": \"\",\n    \"Calendly Start Date & Time\": null,\n    \"Calendly Event Created Date & Time\": null,\n    \"calendly_cancel_url\": \"\",\n    \"calendly_reschedule_url\": \"\"\n  }\n}","options":{}},"id":"a49fafc0-8237-4be6-bf61-ca30652c37bf","name":"Clear Airtable Fields 1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,-32],"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"f1","name":"success","value":"={{ true }}","type":"boolean"},{"id":"f2","name":"was_cancelled","value":"={{ true }}","type":"boolean"},{"id":"f3","name":"airtable_record_id","value":"={{ $('Extract Calendly UUID').item.json.airtable_record_id }}","type":"string"},{"id":"f4","name":"calendly_uuid","value":"={{ $('Extract Calendly UUID').item.json.calendly_uuid }}","type":"string"},{"id":"f5","name":"cancellation_reason","value":"={{ $('Extract Calendly UUID').item.json.cancellation_reason }}","type":"string"},{"id":"f6","name":"message","value":"=Reuniao cancelada com sucesso no Calendly e campos limpos no Airtable.","type":"string"}]},"options":{}},"id":"c8d72dd8-0318-492e-b78e-0a6f1ad3cf0d","name":"Format Output (Cancelled) 1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1808,-32]},{"parameters":{"assignments":{"assignments":[{"id":"ce2c7fec-7b45-4407-af89-57872027b251","name":"success","value":true,"type":"boolean"},{"id":"f2","name":"was_cancelled","value":"={{ false }}","type":"boolean"},{"id":"f3","name":"airtable_record_id","value":"={{ $('Extract Calendly UUID').item.json.airtable_record_id }}","type":"string"},{"id":"f4","name":"calendly_uuid","value":"={{ $('Extract Calendly UUID').item.json.calendly_uuid }}","type":"string"},{"id":"f5","name":"cancellation_reason","value":"={{ $('Extract Calendly UUID').item.json.cancellation_reason }}","type":"string"},{"id":"f6","name":"message","value":"=A data da reuniao ja passou, por isso nao podemos cancelar. Podemos agendar uma nova reuniao.","type":"string"}]},"options":{}},"id":"cd51ef7d-4901-4057-819e-8087b6068004","name":"Format Output Past Event (Cancelled) 2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1824,176]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Get Lead from Airtable","type":"main","index":0}]]},"When clicking 'Test'":{"main":[[{"node":"Set Test Input","type":"main","index":0}]]},"Set Test Input":{"main":[[{"node":"Get Lead from Airtable","type":"main","index":0}]]},"Get Lead from Airtable":{"main":[[{"node":"Extract Calendly UUID","type":"main","index":0}]]},"Extract Calendly UUID":{"main":[[{"node":"IF has_booking","type":"main","index":0}]]},"IF has_booking":{"main":[[{"node":"Cancel Calendly Event","type":"main","index":0}],[{"node":"Format Output (No Booking)","type":"main","index":0}]]},"Cancel Calendly Event":{"main":[[{"node":"Clear Airtable Fields 1","type":"main","index":0}],[{"node":"IF Event in the past","type":"main","index":0}]]},"IF Event in the past":{"main":[[{"node":"Clear Airtable Fields2","type":"main","index":0}],[{"node":"Format Output (Not Cancellable)","type":"main","index":0}]]},"Clear Airtable Fields 1":{"main":[[{"node":"Format Output (Cancelled) 1","type":"main","index":0}]]},"Clear Airtable Fields2":{"main":[[{"node":"Format Output Past Event (Cancelled) 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ed52d35b-ede1-4128-ba54-cab5dc0801b0","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-26T13:42:59.880Z","createdAt":"2026-05-26T13:42:59.880Z","role":"workflow:owner","workflowId":"wzMl35bgFEsyF25R","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-26T13:42:28.907Z","createdAt":"2026-05-26T13:42:28.907Z","id":"NdNWP9Ddugt1sDC4","name":"SDR"}]}