[sub-tool]-appointment_booking-(autobot)-H1YeHOUJDMpPTpB3.json
{"updatedAt":"2026-05-27T13:07:42.618Z","createdAt":"2026-05-26T13:42:30.021Z","id":"H1YeHOUJDMpPTpB3","name":"[Sub Tool] appointment_booking (Autobot)","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"19a9f1e1-43db-445e-a309-bb5419522048","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{},"id":"b9b5ce02-02e5-4501-acde-9d316f7e1286","name":"When clicking 'Test'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,304]},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"airtable_record_id","value":"recxxxxxxxxxx","type":"string"},{"id":"a2","name":"preferred_date_note","value":"Cliente prefere manha na proxima semana (TESTE)","type":"string"}]},"options":{}},"id":"c3f268e8-a337-4044-8358-d4fe9d8684c7","name":"Set Test Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,304]},{"parameters":{"url":"=https://api.airtable.com/v0/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC/{{ $json.airtable_record_id }}","authentication":"***REDACTED***","nodeCredentialType":"airtableTokenApi","options":{}},"id":"801347da-a4b4-44ad-b4a1-0608a57c65ee","name":"Get Lead from Airtable","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,160],"credentials":null},{"parameters":{"jsCode":"const lead = $input.item.json;\nconst fields = lead.fields || {};\nconst linkMeet = fields.linkMeet || '';\nconst airtable_record_id = lead.id;\n\nlet preferred_date_note = '';\ntry {\n  preferred_date_note = $('Set Test Input').item.json.preferred_date_note || '';\n} catch (e) {\n  try {\n    preferred_date_note = $('Execute Workflow Trigger').item.json.preferred_date_note || '';\n  } catch (e2) {\n    preferred_date_note = '';\n  }\n}\n\nconst has_booking = Boolean(linkMeet && linkMeet.trim() !== '');\n\nreturn [{\n  json: {\n    airtable_record_id,\n    has_booking,\n    existing_linkMeet: has_booking ? linkMeet : '',\n    preferred_date_note,\n    lead_name: fields.Name || '',\n    lead_email: fields.Email || ''\n  }\n}];"},"id":"70525d96-b375-4f42-8ae7-72ebab549d6f","name":"Check Existing Booking","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-001","leftValue":"={{ $json.has_booking }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b0d8f467-5d17-4661-add4-d8e09d3f06f7","name":"IF has_booking","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,160]},{"parameters":{"method":"POST","url":"https://api.calendly.com/scheduling_links","authentication":"***REDACTED***","nodeCredentialType":"calendlyApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"max_event_count\": 1,\n  \"owner\": \"https://api.calendly.com/event_types/a5b91262-ad3e-4460-9351-5bbf8b03f085\",\n  \"owner_type\": \"EventType\"\n}","options":{}},"id":"a785e5fc-f56d-4a72-8fc5-07bd8619a086","name":"Create Scheduling Link","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,304],"credentials":null},{"parameters":{"jsCode":"const calendlyResp = $input.item.json;\nconst scheduling_link = calendlyResp.resource?.booking_url || '';\n\nif (!scheduling_link) {\n  throw new Error('Calendly nao retornou booking_url: ' + JSON.stringify(calendlyResp));\n}\n\nconst upstream = $('Check Existing Booking').item.json;\nconst airtable_record_id = upstream.airtable_record_id;\nconst preferred_date_note = upstream.preferred_date_note || '';\n\nconst TZ = 'Europe/Lisbon';\n\nconst now = new Date();\nconst expiresAt = new Date(now.getTime() + 7 * 24 * 60 * 60 * 1000);\n\nconst formatter = new Intl.DateTimeFormat('en-CA', {\n  timeZone: TZ,\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit'\n});\n\nconst dateStr = formatter.format(now);\nconst expiresStr = formatter.format(expiresAt);\n\nconst timeFormatter = new Intl.DateTimeFormat('pt-PT', {\n  timeZone: TZ,\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false\n});\nconst timeStr = timeFormatter.format(now);\n\nlet obsEntry = `[${dateStr} ${timeStr}] Link Evento Teste (15min) criado: ${scheduling_link} | Expira ${expiresStr}`;\nif (preferred_date_note) {\n  obsEntry += ` | Nota lead: ${preferred_date_note}`;\n}\n\nreturn [{\n  json: {\n    airtable_record_id,\n    scheduling_link,\n    expires_at: expiresAt.toISOString(),\n    expires_date_local: expiresStr,\n    timezone_used: TZ,\n    obs_entry: obsEntry,\n    preferred_date_note\n  }\n}];"},"id":"c8c1dc7e-28a3-4da7-80ca-455f3b46d4dd","name":"Build Airtable Patch","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,304]},{"parameters":{"method":"PATCH","url":"=https://api.airtable.com/v0/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC/{{ $json.airtable_record_id }}","authentication":"***REDACTED***","nodeCredentialType":"airtableTokenApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"fields\": {\n    \"Obs\": \"{{ $json.obs_entry }}\"\n  }\n}","options":{}},"id":"63edebf2-3ff0-47f1-b472-cf47c0d4f49b","name":"Update Airtable Obs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,304],"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"f1","name":"success","value":"={{ true }}","type":"boolean"},{"id":"f2","name":"scheduling_link","value":"={{ $('Build Airtable Patch').item.json.scheduling_link }}","type":"string"},{"id":"f3","name":"event_type_name","value":"Evento Teste","type":"string"},{"id":"f4","name":"duration_minutes","value":"={{ 15 }}","type":"number"},{"id":"f5","name":"expires_in_days","value":"={{ 7 }}","type":"number"},{"id":"f6","name":"expires_at","value":"={{ $('Build Airtable Patch').item.json.expires_at }}","type":"string"},{"id":"f7","name":"airtable_record_id","value":"={{ $('Build Airtable Patch').item.json.airtable_record_id }}","type":"string"},{"id":"f8","name":"message","value":"=Link de agendamento criado. Envie ao lead com instrucao de clicar para escolher horario.","type":"string"}]},"options":{}},"id":"90cf610e-8476-4c02-9d73-219a0a81101d","name":"Format Output (Link Created)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,304]},{"parameters":{"assignments":{"assignments":[{"id":"n1","name":"success","value":"={{ false }}","type":"boolean"},{"id":"n2","name":"already_booked","value":"={{ true }}","type":"boolean"},{"id":"n3","name":"airtable_record_id","value":"={{ $('Check Existing Booking').item.json.airtable_record_id }}","type":"string"},{"id":"n4","name":"existing_linkMeet","value":"={{ $('Check Existing Booking').item.json.existing_linkMeet }}","type":"string"},{"id":"n5","name":"message","value":"=Lead ja tem agendamento ativo. Sugira cancelar primeiro com cancel_booking se quer remarcar.","type":"string"}]},"options":{}},"id":"46f74945-6416-40bc-b1c2-f799db12fd8d","name":"Format Output (Already Booked)","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Get Lead from Airtable","type":"main","index":0}]]},"When clicking 'Test'":{"main":[[{"node":"Set Test Input","type":"main","index":0}]]},"Set Test Input":{"main":[[{"node":"Get Lead from Airtable","type":"main","index":0}]]},"Get Lead from Airtable":{"main":[[{"node":"Check Existing Booking","type":"main","index":0}]]},"Check Existing Booking":{"main":[[{"node":"IF has_booking","type":"main","index":0}]]},"IF has_booking":{"main":[[{"node":"Format Output (Already Booked)","type":"main","index":0}],[{"node":"Create Scheduling Link","type":"main","index":0}]]},"Create Scheduling Link":{"main":[[{"node":"Build Airtable Patch","type":"main","index":0}]]},"Build Airtable Patch":{"main":[[{"node":"Update Airtable Obs","type":"main","index":0}]]},"Update Airtable Obs":{"main":[[{"node":"Format Output (Link Created)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"90754eed-ac0a-46fe-94e3-4c74c182dcba","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-26T13:42:30.021Z","createdAt":"2026-05-26T13:42:30.021Z","role":"workflow:owner","workflowId":"H1YeHOUJDMpPTpB3","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-26T13:42:28.907Z","createdAt":"2026-05-26T13:42:28.907Z","id":"NdNWP9Ddugt1sDC4","name":"SDR"}]}