[sub-tool]-save_user_data-(autobot)-sNdsQpx6tkp43Oyr.json
{"updatedAt":"2026-05-27T13:00:45.594Z","createdAt":"2026-05-26T13:44:17.312Z","id":"sNdsQpx6tkp43Oyr","name":"[Sub Tool] save_user_data (Autobot)","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"b0aecda5-7b6c-482d-b4a6-178029a5a2a8","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{},"id":"cff059f9-2c8d-4fe3-9978-776f0e4c495a","name":"When clicking 'Test'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,304]},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"airtable_record_id","value":"recXXXXXXXXXXXXXX","type":"string"},{"id":"a2","name":"resposta1","value":"Teste resposta 1 do sub-tool save_user_data","type":"string"},{"id":"a3","name":"tags","value":"={{ ['Conversa Finalizada'] }}","type":"array"},{"id":"a4","name":"off_Bot","value":"={{ false }}","type":"boolean"}]},"options":{}},"id":"2bd0e606-c5a9-4597-be24-2dbe7d6d0e18","name":"Set Test Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,304]},{"parameters":{"jsCode":"const input = $input.item.json;\n\nconst recordId = input.airtable_record_id;\nif (!recordId) {\n  throw new Error('airtable_record_id is required');\n}\n\nconst fieldMap = {\n  resposta1: 'resposta1',\n  resposta2: 'resposta2',\n  resposta3: 'resposta3',\n  resposta4: 'resposta4',\n  resposta5: 'resposta5',\n  resposta6: 'resposta6',\n  lead_Report: 'lead_Report',\n  tags: 'tags',\n  off_Bot: 'off_Bot',\n  Enviar_Proposta: 'Enviar Proposta?',\n  Obs: 'Obs'\n};\n\nconst fields = {};\nfor (const [toolName, airtableName] of Object.entries(fieldMap)) {\n  const value = input[toolName];\n  if (value !== null && value !== undefined && value !== '') {\n    fields[airtableName] = value;\n  }\n}\n\nif (Object.keys(fields).length === 0) {\n  throw new Error('No fields to update');\n}\n\nreturn [{\n  json: {\n    airtable_record_id: recordId,\n    fields: fields,\n    fields_updated_count: Object.keys(fields).length,\n    fields_updated_list: Object.keys(fields)\n  }\n}];"},"id":"0e107c7d-0844-4104-ac3c-0f9f1ad2bb91","name":"Build Update Object","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,160]},{"parameters":{"method":"PATCH","url":"=https://api.airtable.com/v0/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC/{{ $json.airtable_record_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ fields: $json.fields }) }}","options":{}},"id":"bd1cabba-b074-42e9-a273-f82760e610e7","name":"Airtable - Update Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,160]},{"parameters":{"assignments":{"assignments":[{"id":"f1","name":"success","value":"={{ true }}","type":"boolean"},{"id":"f2","name":"airtable_record_id","value":"={{ $('Build Update Object').item.json.airtable_record_id }}","type":"string"},{"id":"f3","name":"fields_updated_count","value":"={{ $('Build Update Object').item.json.fields_updated_count }}","type":"number"},{"id":"f4","name":"fields_updated_list","value":"={{ $('Build Update Object').item.json.fields_updated_list }}","type":"array"},{"id":"f5","name":"message","value":"=Lead atualizado com sucesso. {{ $('Build Update Object').item.json.fields_updated_count }} campo(s) modificado(s).","type":"string"}]},"options":{}},"id":"95303c03-e055-4497-a597-2d997d7e0eec","name":"Format Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,160]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Build Update Object","type":"main","index":0}]]},"When clicking 'Test'":{"main":[[{"node":"Set Test Input","type":"main","index":0}]]},"Set Test Input":{"main":[[{"node":"Build Update Object","type":"main","index":0}]]},"Build Update Object":{"main":[[{"node":"Airtable - Update Record","type":"main","index":0}]]},"Airtable - Update Record":{"main":[[{"node":"Format Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"7c093068-7cab-4eb5-8845-b0e05ece8876","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-26T13:44:17.312Z","createdAt":"2026-05-26T13:44:17.312Z","role":"workflow:owner","workflowId":"sNdsQpx6tkp43Oyr","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-26T13:42:28.907Z","createdAt":"2026-05-26T13:42:28.907Z","id":"NdNWP9Ddugt1sDC4","name":"SDR"}]}