ai-job-application-system-3VB0pQSHVESae0hA.json
{"updatedAt":"2026-05-18T00:15:27.247Z","createdAt":"2026-02-26T13:31:38.323Z","id":"3VB0pQSHVESae0hA","name":"AI Job Application System","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"airtable-job-trigger","options":{}},"id":"74931522-e3b1-4597-8b47-23089f4d777b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"webhookId":"c73d8610-d6c4-4ec2-be0d-5cef752b6e76"},{"parameters":{"assignments":{"assignments":[{"id":"6fd35bcd-dead-464c-9736-b45240fb6e53","name":"company","type":"string","value":"={{ $json.Company }}"},{"id":"efd5d8e5-4284-4ed9-b767-0bd35b3c0bf6","name":"title","type":"string","value":"={{ $json.Title }}"},{"id":"2e9b4e36-da2e-4b79-947b-5bef97ba6b08","name":"description","type":"string","value":"={{ $json.Description }}"},{"id":"f763984a-0e11-4d84-b227-6941a278a47b","name":"url","type":"string","value":"={{ $json.url }}"},{"id":"946114be-b082-4187-a752-73116921a25c","name":"record_id","type":"string","value":"={{ $json.id }}"},{"id":"a4946bab-d58a-4f40-ad72-d39ccd2169e3","name":"candidate_profile","type":"string","value":"Ary Gustavo Ribeiro — Berlin, Germany e Lisboa, Portugal  Title: Marketing & Growth Leader | AI-Powered Marketing Systems | Product Marketing & Digital Innovation  Summary: 18+ years driving digital innovation, marketing strategy, and business growth across B2B and B2C environments. Designs and scales data-driven marketing ecosystems connecting paid media, CRM, automation, AI, and customer experience to measurable business outcomes. Deep hands-on experience managing campaigns across Meta Ads, Google Ads, TikTok Ads, PPC, SEO, and programmatic channels. 6+ years leading intelligent marketing operations integrating CRM, data pipelines, analytics dashboards, and AI-driven insights to drive acquisition, retention, and conversion optimization. Background bridges growth marketing, product marketing, campaign management, and martech architecture.  Core Skills: Growth Marketing & Strategy, Campaign Management & Optimization, Paid Media (Meta, Google, TikTok, Reddit, LinkedIn Ads), AB Testing & Experimentation, Conversion Rate Optimization (CRO), Funnel Design & Optimization, Data-Driven Marketing & Analytics, Marketing Automation, AI Product Management, Product Marketing, Content Marketing & SEO, CRM Strategy & Optimization, Email Marketing & Lifecycle, Team Leadership & Mentoring, Cross-Functional Collaboration, Donor/Customer Acquisition, Retention & LTV Optimization, Go-to-Market Strategy, Product-Led Growth, Stakeholder Management, Budget Management & ROAS Optimization.  Tech Stack: Meta Ads Manager, Google Ads, TikTok Ads Manager, Google Analytics (GA4), Google Tag Manager, Google Search Console, Google Data Studio/Looker, Hotjar, SEMrush, Ahrefs, OpenAI API, ChatGPT, Gemini, Claude, Groq, N8N, Make (Integromat), Zapier, Python, ActiveCampaign, HubSpot, Pipedrive, Mailchimp, Instantly, WordPress, Webflow, HTML/CSS, REST APIs & Webhooks, Docker, Portainer, VPS Hosting, Supabase, Postgres, Redis, Airtable, Stripe.  Education: Bachelor in Civil Engineering (UFBA, Brazil), Advanced Analytics (NOVA IMS, Portugal), Marketing Extension Program (UC Berkeley, USA), Full Stack Engineer (Udacity).  Key Achievements: Managed paid media campaigns across Meta, Google, and TikTok achieving consistent ROAS improvements. Built cross-channel acquisition funnels reducing customer acquisition cost (CAC) by 40%. Deployed AI-powered lead qualification increasing revenue pipeline by 30%. Built AI chatbots reducing customer service workload by 80%. Created marketing automation workflows saving 40+ hours/month. Achieved 3x increase in lead generation efficiency through data-driven experimentation and AB testing. Designed analytics dashboards tracking CAC, LTV, ROAS, and conversion metrics across channels. Implemented email lifecycle campaigns improving retention and engagement rates.  Experience: AI Automation & Growth Marketing Consultant at Felicidade Plena, Portugal (2020-Present) — Manages paid media campaigns, builds AI-powered marketing systems, develops conversion funnels and landing pages for B2B and B2C clients across health, real estate, and professional services. CMO at Coletiv.me startup hub, Brazil (2018-2020) — Led marketing strategy for 30+ startups, directed cross-functional teams, managed campaign budgets, built automated acquisition funnels, mentored 60+ founders in growth and digital strategy. Head of Growth at Shipsterliving (YC SUS2018), Portugal (2018) — Led growth experiments, AB testing, and campaign optimization achieving 3x lead generation increase. CEO at JCG real estate development, Brazil (2001-2017) — Directed marketing, sales strategy, and team leadership for high-end real estate projects.  Target Roles: Marketing Manager, Growth Marketing Manager, Senior Marketing Manager, Performance Marketing Manager, Product Marketing Manager, AI/Automation PM, Marketing Systems Lead, Head of Growth, Digital Marketing Lead, Campaign Manager, Growth Leadership, Digital Innovation Architect — remote or Berlin-based. Open to: AI, MarTech, SaaS, FinTech, Real Estate Tech, Health Tech, Non-Profit Tech, E-commerce, Marketplace, AdTech.  Languages: Portuguese (native), English (fluent), Spanish (intermediate)."}]},"includeOtherFields":true,"options":{}},"id":"3abb87a7-e1ec-4eab-9d4a-bab076f7c4c6","name":"Set: Candidate Profile","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[432,304]},{"parameters":{"promptType":"define","text":"=CANDIDATE PROFILE:\n{{ $json.candidate_profile }}\n\nJOB POSTING:\nCompany: {{ $json.company }}\nTitle: {{ $json.title }}\nDescription: {{ $json.description }}\nurl: {{ $json.url }}\n\nEvaluate this job against the candidate profile. Respond with JSON:\n{\"is_match\": true/false, \"match_score\": 0-100, \"reason\": \"brief explanation\"}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are an expert job matching assistant. Your task is to evaluate whether a job posting is a good match for the candidate's profile.\n\nEVALUATION CRITERIA:\n1. Skills alignment (>60% overlap with candidate's core skills)\n2. Experience level match (senior/leadership roles preferred)\n3. Industry relevance (AI, automation, marketing, tech, product management)\n4. Location compatibility (remote, Berlin, Lisbon or Europe-based)\n5. Role type match (PM, growth, innovation, marketing systems, AI consultant)\n6. Language requirement: If the job REQUIRES German, French, Dutch, or any language other than English or Portuguese as a mandatory/required skill, mark as NO match. If other languages are \"preferred\" or \"nice to have\" (not required), this is acceptable.\n\nSTRICT RULES:\n- If the job requires purely software engineering with no product/marketing component, mark as NO match.\n- If the job is in an unrelated field of marketing, real estate or artificial inteligence, mark as NO match.\n- When in doubt, lean towards YES if there's >50% alignment.\n- If the job lists any language other than English or Portuguese as a REQUIRED qualification (not preferred/nice-to-have), mark as NO match regardless of other alignment.\n\nYou MUST respond ONLY with valid JSON, no markdown, no explanation outside the JSON."}]}},"id":"8f4319a0-2c76-41df-ba28-9fb01250511c","name":"AI Chain: Job Filter","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[608,304],"continueOnFail":true},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.1}},"id":"6966e3ba-55c8-4d91-b685-fa8ac9b841a6","name":"OpenAI Mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[512,608],"credentials":null},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"is_match\": { \"type\": \"boolean\", \"description\": \"Whether the job is a good match\" },\n    \"match_score\": { \"type\": \"number\", \"description\": \"Match score from 0 to 100\" },\n    \"reason\": { \"type\": \"string\", \"description\": \"Brief explanation of the match decision\" }\n  },\n  \"required\": [\"is_match\", \"match_score\", \"reason\"]\n}"},"id":"3dbc2e9c-8cf3-4032-80ee-c1d604200d58","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[704,608]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"4a5e9f2c-92c3-4fb6-aecf-6a899752b186","leftValue":"={{ $json.output.is_match }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"07053ee0-266c-4956-bc49-844c73ab2e2b","name":"IF: Is Match?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,304]},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"1xcXw3gTMUSMlKr33rwFQ34xSDHAr2ud1"},"options":{}},"id":"f3f9b515-d365-4e63-928d-20869709352d","name":"Google Drive: Download CV","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1200,288],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"credentials":null,"notes":"CONFIGURE: Set file ID for CV Ary 2026.pdf in folder Compartilhaveis/job_Project. Select Google Drive OAuth2 credential."},{"parameters":{"operation":"pdf","options":{}},"id":"87d9e2ad-d6b3-4950-ad43-c3aee590ecc3","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1504,288]},{"parameters":{"promptType":"define","text":"=ORIGINAL RESUME TEXT:\n{{ $('Extract from File').item.json.text }}\n\nJOB DETAILS:\nCompany: {{ $('Set: Candidate Profile').item.json.company }}\nTitle: {{ $('Set: Candidate Profile').item.json.title }}\nDescription: {{ $('Set: Candidate Profile').item.json.description }}\nurl: {{ $('Set: Candidate Profile').item.json.url }}\n\nCustomize this resume for the job above. Output the complete customized resume.","messages":{"messageValues":[{"message":"You are an expert resume writer and career coach. Your task is to customize a provided resume to align with a specific job description.\n\nRULES:\n1. Keep ALL factual information accurate — never invent experience, skills, or achievements.\n2. Reorder and emphasize existing skills/experience that match the job requirements.\n3. Adjust the Professional Summary to mirror the job's language and priorities.\n4. Highlight relevant achievements with metrics when available.\n5. Adjust skill ordering to prioritize what the job asks for.\n6. Keep the same structure and formatting style of the original CV.\n7. Output the FULL customized resume text, not just changes.\n8. Write in English unless the job description is in another language.\n9. Do NOT add skills or experience the candidate doesn't have.\n10. Keep it to 2 pages maximum worth of content.\n11. ALWAYS include a \"Languages\" section listing: Portuguese (native), English (fluent), Spanish (intermediate). Place it after Education.\n12. Remove overly technical skills irrelevant to the target role (e.g., Docker, Redis, Portainer, Postgres for non-engineering roles). Keep only tools and skills that resonate with the job description.\n13. If the candidate lacks direct industry experience mentioned in the job (e.g., \"experience in banking\", \"experience in healthcare\"), address this gap positively in the Professional Summary using transferable skills framing. Example: \"Eager to apply cross-industry product marketing expertise to the [industry] sector\" or highlight adjacent experience (e.g., real estate finance for banking roles).\n14. Do NOT duplicate sections. If skills are listed in a \"Core Competences\" or \"Skills\" section, do NOT repeat them in a separate \"Tools & Technology Stack\" section. Consolidate into one clean section.\n15. If the job mentions compliance, regulatory requirements, or similar governance topics, positively reference the candidate's experience navigating compliance in marketing campaigns, client communications, and regulated industries (real estate development involves significant regulatory compliance).\n16. Use proper Markdown formatting: **bold** for section headers and company names, --- for section dividers, proper hierarchy with ## headers. The output must be well-formatted Markdown.\n17. Do NOT wrap the output in markdown code fences (``` or ```markdown). Output the raw Markdown directly without any code block wrapper."}]}},"id":"20895c08-10f2-4680-aaeb-a02124f72473","name":"AI Chain: Customize CV","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1808,288],"continueOnFail":true},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4.1"},"options":{"temperature":0.3}},"id":"ba3dc43a-444f-480d-92c9-dd42cfcaaee2","name":"OpenAI 4.1 CV","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1712,608],"credentials":null},{"parameters":{"promptType":"define","text":"=CANDIDATE PROFILE:\n{{ $('Set: Candidate Profile').item.json.candidate_profile }}\n\nCUSTOMIZED RESUME:\n{{ $('AI Chain: Customize CV').item.json.text }}\n\nJOB DETAILS:\nCompany: {{ $('Set: Candidate Profile').item.json.company }}\nTitle: {{ $('Set: Candidate Profile').item.json.title }}\nDescription: {{ $('Set: Candidate Profile').item.json.description }}\nURL: {{ $('Set: Candidate Profile').item.json.url }}\n\nWrite a personalized cover letter for this job application.","messages":{"messageValues":[{"message":"You are an expert cover letter writer. Your task is to create a compelling, personalized cover letter for a job application.\n\nRULES:\n1. Keep it to one page (300-400 words).\n2. Address it to \"Dear Hiring Team\" unless a specific name is available.\n3. Opening paragraph: Express genuine interest and connect your background to the role. Use the EXACT job title from the job description — never paraphrase or simplify it.\n4. Middle paragraph(s): Highlight 2-3 specific achievements from the resume that directly address the job requirements. Use metrics.\n5. Closing paragraph: Express enthusiasm, mention willingness to discuss further.\n6. Tone: Professional but warm, confident but not arrogant.\n7. Mirror the company's language and values from the job description.\n8. Do NOT be generic — every sentence should connect candidate to THIS specific role.\n9. Write in English unless the job description is in another language.\n10. Sign off with \"Warm regards, Ary Ribeiro\"\n11. Use the EXACT job title from the job posting in the opening paragraph. Never paraphrase it (e.g., if the job is \"Product Marketing Manager\", write \"Product Marketing Manager\", not \"Marketing Strategy role\").\n12. If the candidate is based in the same city/country as the job, mention it explicitly (e.g., \"As a Berlin-based professional...\").\n13. ALWAYS mention the candidate's multilingual capabilities (Portuguese native, English fluent, Spanish intermediate) especially when the job mentions international, multilingual, or cross-cultural environments.\n14. Include at least one specific reference to the company beyond just its name — mention the company's team, division, mission, recent initiative, or industry position. Use information from the job description to demonstrate genuine knowledge of the company. For example, reference the specific team (e.g., \"Corporate Functions team\"), the company's market position, or values mentioned in the posting.\n15. If the job is at a well-known company, demonstrate awareness of their market position or reputation in the specific area relevant to the role."}]}},"id":"25f3e9bc-6421-47bc-b4fb-dab5db3b1ea1","name":"AI Chain: Cover Letter","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2112,288],"continueOnFail":true},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4.1"},"options":{"temperature":0.4}},"id":"326c4b64-76ab-40ec-ba22-6ef2ed69cb34","name":"OpenAI 4.1 CL","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2000,608],"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"13864ced-d346-4a67-8583-4195fb0f123d","name":"cvText","type":"string","value":"={{ $('AI Chain: Customize CV').item.json.text }}"},{"id":"a0b473cb-1f43-48b0-a487-fbc59f589931","name":"coverLetterText","type":"string","value":"={{ $('AI Chain: Cover Letter').item.json.text }}"}]},"includeOtherFields":true,"options":{}},"id":"cbb89ba0-c69f-46cf-95ea-24df7dc71bf7","name":"Set: Prepare Files","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2480,288],"notes":"Prepares CV and Cover Letter text fields for file conversion"},{"parameters":{"operation":"toText","sourceProperty":"cvText","binaryPropertyName":"cvFile","options":{"fileName":"cv.md"}},"id":"dd83a687-2c21-48f4-b10f-7a8ae93f354a","name":"Convert to File: CV","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2704,288]},{"parameters":{"operation":"toText","sourceProperty":"coverLetterText","binaryPropertyName":"clFile","options":{"fileName":"coverletter.md"}},"id":"d5dd94d5-bd41-4b31-b317-2e6a1714d53d","name":"Convert to File: CL","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2704,528]},{"parameters":{"inputDataFieldName":"cvFile","name":"={{ 'cv_' + $('Set: Candidate Profile').item.json.company.replace(/[^a-zA-Z0-9]/g, '_') + '.md' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1zMszuTbUjqGU2e5ps2eobLmyAsO9S6dR"},"options":{}},"id":"96b94c13-1247-4919-994b-e9198f501b84","name":"Google Drive: Upload CV","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3008,288],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"credentials":null,"notes":"CONFIGURE: Set folder ID for Compartilhaveis/job_Project. Select Google Drive OAuth2 credential."},{"parameters":{"inputDataFieldName":"clFile","name":"={{ 'coverletter_' + $('Set: Candidate Profile').item.json.company.replace(/[^a-zA-Z0-9]/g, '_') + '.md' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1zMszuTbUjqGU2e5ps2eobLmyAsO9S6dR"},"options":{}},"id":"772791b0-d36a-4e75-bdc5-3ccf07ece5c5","name":"Google Drive: Upload CL","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3008,528],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"credentials":null,"notes":"CONFIGURE: Set folder ID for Compartilhaveis/job_Project. Select Google Drive OAuth2 credential."},{"parameters":{"base":{"__rl":true,"mode":"id","value":"app9shUm0Kp9ySC24"},"table":{"__rl":true,"mode":"id","value":"tbl5pNK0rdLHj2nah"},"id":"={{ $json.query.recordID }}","options":{}},"id":"b20376e5-032a-4f8e-a288-7e51f159e63c","name":"Airtable: Get Record","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[224,304],"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"method":"PATCH","url":"https://api.airtable.com/v0/app9shUm0Kp9ySC24/tbl5pNK0rdLHj2nah","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\": [{\"id\": \"{{ $('Set: Candidate Profile').item.json.record_id }}\", \"fields\": {\"Status\": \"No Fit\"}}]}","options":{}},"id":"d1a7036f-d70a-4747-b576-9f19ee2c3e1c","name":"Airtable: Update No Fit","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,608],"onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app9shUm0Kp9ySC24","mode":"list","cachedResultName":"Opportunities Feed","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24"},"table":{"__rl":true,"value":"tbl5pNK0rdLHj2nah","mode":"list","cachedResultName":"Jobs","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24/tbl5pNK0rdLHj2nah"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.query.recordID }}","Title":"=","Status":"Done"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"RecordID","displayName":"RecordID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"None","value":"None"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"},{"name":"No Fit","value":"No Fit"}],"readOnly":false,"removed":false},{"id":"Created at","displayName":"Created at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3344,400],"id":"d41423dc-4827-43a9-a397-329ce0c75244","name":"Update record","credentials":null}],"connections":{"Set: Candidate Profile":{"main":[[{"node":"AI Chain: Job Filter","type":"main","index":0}]]},"AI Chain: Job Filter":{"main":[[{"node":"IF: Is Match?","type":"main","index":0}]]},"IF: Is Match?":{"main":[[{"node":"Google Drive: Download CV","type":"main","index":0}],[{"node":"Airtable: Update No Fit","type":"main","index":0}]]},"Google Drive: Download CV":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Chain: Customize CV","type":"main","index":0}]]},"AI Chain: Customize CV":{"main":[[{"node":"AI Chain: Cover Letter","type":"main","index":0}]]},"AI Chain: Cover Letter":{"main":[[{"node":"Set: Prepare Files","type":"main","index":0}]]},"Set: Prepare Files":{"main":[[{"node":"Convert to File: CV","type":"main","index":0},{"node":"Convert to File: CL","type":"main","index":0}]]},"OpenAI Mini":{"ai_languageModel":[[{"node":"AI Chain: Job Filter","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Chain: Job Filter","type":"ai_outputParser","index":0}]]},"OpenAI 4.1 CV":{"ai_languageModel":[[{"node":"AI Chain: Customize CV","type":"ai_languageModel","index":0}]]},"OpenAI 4.1 CL":{"ai_languageModel":[[{"node":"AI Chain: Cover Letter","type":"ai_languageModel","index":0}]]},"Convert to File: CV":{"main":[[{"node":"Google Drive: Upload CV","type":"main","index":0}]]},"Convert to File: CL":{"main":[[{"node":"Google Drive: Upload CL","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Airtable: Get Record","type":"main","index":0}]]},"Airtable: Get Record":{"main":[[{"node":"Set: Candidate Profile","type":"main","index":0}]]},"Google Drive: Upload CV":{"main":[[{"node":"Update record","type":"main","index":0}]]},"Google Drive: Upload CL":{"main":[[{"node":"Update record","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"errorWorkflow":"heQ08w9HPkxGpNDu","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"timeSavedMode":"fixed","executionTimeout":600},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a6fbd243-3fa3-4e8a-9bb4-3547f1cd02a0","activeVersionId":"a6fbd243-3fa3-4e8a-9bb4-3547f1cd02a0","triggerCount":1,"shared":[{"updatedAt":"2026-02-26T13:31:38.323Z","createdAt":"2026-02-26T13:31:38.323Z","role":"workflow:owner","workflowId":"3VB0pQSHVESae0hA","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-18T00:15:27.253Z","createdAt":"2026-05-18T00:15:27.253Z","versionId":"a6fbd243-3fa3-4e8a-9bb4-3547f1cd02a0","workflowId":"3VB0pQSHVESae0hA","nodes":[{"parameters":{"path":"airtable-job-trigger","options":{}},"id":"74931522-e3b1-4597-8b47-23089f4d777b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"webhookId":"c73d8610-d6c4-4ec2-be0d-5cef752b6e76"},{"parameters":{"assignments":{"assignments":[{"id":"6fd35bcd-dead-464c-9736-b45240fb6e53","name":"company","type":"string","value":"={{ $json.Company }}"},{"id":"efd5d8e5-4284-4ed9-b767-0bd35b3c0bf6","name":"title","type":"string","value":"={{ $json.Title }}"},{"id":"2e9b4e36-da2e-4b79-947b-5bef97ba6b08","name":"description","type":"string","value":"={{ $json.Description }}"},{"id":"f763984a-0e11-4d84-b227-6941a278a47b","name":"url","type":"string","value":"={{ $json.url }}"},{"id":"946114be-b082-4187-a752-73116921a25c","name":"record_id","type":"string","value":"={{ $json.id }}"},{"id":"a4946bab-d58a-4f40-ad72-d39ccd2169e3","name":"candidate_profile","type":"string","value":"Ary Gustavo Ribeiro — Berlin, Germany e Lisboa, Portugal  Title: Marketing & Growth Leader | AI-Powered Marketing Systems | Product Marketing & Digital Innovation  Summary: 18+ years driving digital innovation, marketing strategy, and business growth across B2B and B2C environments. Designs and scales data-driven marketing ecosystems connecting paid media, CRM, automation, AI, and customer experience to measurable business outcomes. Deep hands-on experience managing campaigns across Meta Ads, Google Ads, TikTok Ads, PPC, SEO, and programmatic channels. 6+ years leading intelligent marketing operations integrating CRM, data pipelines, analytics dashboards, and AI-driven insights to drive acquisition, retention, and conversion optimization. Background bridges growth marketing, product marketing, campaign management, and martech architecture.  Core Skills: Growth Marketing & Strategy, Campaign Management & Optimization, Paid Media (Meta, Google, TikTok, Reddit, LinkedIn Ads), AB Testing & Experimentation, Conversion Rate Optimization (CRO), Funnel Design & Optimization, Data-Driven Marketing & Analytics, Marketing Automation, AI Product Management, Product Marketing, Content Marketing & SEO, CRM Strategy & Optimization, Email Marketing & Lifecycle, Team Leadership & Mentoring, Cross-Functional Collaboration, Donor/Customer Acquisition, Retention & LTV Optimization, Go-to-Market Strategy, Product-Led Growth, Stakeholder Management, Budget Management & ROAS Optimization.  Tech Stack: Meta Ads Manager, Google Ads, TikTok Ads Manager, Google Analytics (GA4), Google Tag Manager, Google Search Console, Google Data Studio/Looker, Hotjar, SEMrush, Ahrefs, OpenAI API, ChatGPT, Gemini, Claude, Groq, N8N, Make (Integromat), Zapier, Python, ActiveCampaign, HubSpot, Pipedrive, Mailchimp, Instantly, WordPress, Webflow, HTML/CSS, REST APIs & Webhooks, Docker, Portainer, VPS Hosting, Supabase, Postgres, Redis, Airtable, Stripe.  Education: Bachelor in Civil Engineering (UFBA, Brazil), Advanced Analytics (NOVA IMS, Portugal), Marketing Extension Program (UC Berkeley, USA), Full Stack Engineer (Udacity).  Key Achievements: Managed paid media campaigns across Meta, Google, and TikTok achieving consistent ROAS improvements. Built cross-channel acquisition funnels reducing customer acquisition cost (CAC) by 40%. Deployed AI-powered lead qualification increasing revenue pipeline by 30%. Built AI chatbots reducing customer service workload by 80%. Created marketing automation workflows saving 40+ hours/month. Achieved 3x increase in lead generation efficiency through data-driven experimentation and AB testing. Designed analytics dashboards tracking CAC, LTV, ROAS, and conversion metrics across channels. Implemented email lifecycle campaigns improving retention and engagement rates.  Experience: AI Automation & Growth Marketing Consultant at Felicidade Plena, Portugal (2020-Present) — Manages paid media campaigns, builds AI-powered marketing systems, develops conversion funnels and landing pages for B2B and B2C clients across health, real estate, and professional services. CMO at Coletiv.me startup hub, Brazil (2018-2020) — Led marketing strategy for 30+ startups, directed cross-functional teams, managed campaign budgets, built automated acquisition funnels, mentored 60+ founders in growth and digital strategy. Head of Growth at Shipsterliving (YC SUS2018), Portugal (2018) — Led growth experiments, AB testing, and campaign optimization achieving 3x lead generation increase. CEO at JCG real estate development, Brazil (2001-2017) — Directed marketing, sales strategy, and team leadership for high-end real estate projects.  Target Roles: Marketing Manager, Growth Marketing Manager, Senior Marketing Manager, Performance Marketing Manager, Product Marketing Manager, AI/Automation PM, Marketing Systems Lead, Head of Growth, Digital Marketing Lead, Campaign Manager, Growth Leadership, Digital Innovation Architect — remote or Berlin-based. Open to: AI, MarTech, SaaS, FinTech, Real Estate Tech, Health Tech, Non-Profit Tech, E-commerce, Marketplace, AdTech.  Languages: Portuguese (native), English (fluent), Spanish (intermediate)."}]},"includeOtherFields":true,"options":{}},"id":"3abb87a7-e1ec-4eab-9d4a-bab076f7c4c6","name":"Set: Candidate Profile","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[432,304]},{"parameters":{"promptType":"define","text":"=CANDIDATE PROFILE:\n{{ $json.candidate_profile }}\n\nJOB POSTING:\nCompany: {{ $json.company }}\nTitle: {{ $json.title }}\nDescription: {{ $json.description }}\nurl: {{ $json.url }}\n\nEvaluate this job against the candidate profile. Respond with JSON:\n{\"is_match\": true/false, \"match_score\": 0-100, \"reason\": \"brief explanation\"}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are an expert job matching assistant. Your task is to evaluate whether a job posting is a good match for the candidate's profile.\n\nEVALUATION CRITERIA:\n1. Skills alignment (>60% overlap with candidate's core skills)\n2. Experience level match (senior/leadership roles preferred)\n3. Industry relevance (AI, automation, marketing, tech, product management)\n4. Location compatibility (remote, Berlin, Lisbon or Europe-based)\n5. Role type match (PM, growth, innovation, marketing systems, AI consultant)\n6. Language requirement: If the job REQUIRES German, French, Dutch, or any language other than English or Portuguese as a mandatory/required skill, mark as NO match. If other languages are \"preferred\" or \"nice to have\" (not required), this is acceptable.\n\nSTRICT RULES:\n- If the job requires purely software engineering with no product/marketing component, mark as NO match.\n- If the job is in an unrelated field of marketing, real estate or artificial inteligence, mark as NO match.\n- When in doubt, lean towards YES if there's >50% alignment.\n- If the job lists any language other than English or Portuguese as a REQUIRED qualification (not preferred/nice-to-have), mark as NO match regardless of other alignment.\n\nYou MUST respond ONLY with valid JSON, no markdown, no explanation outside the JSON."}]}},"id":"8f4319a0-2c76-41df-ba28-9fb01250511c","name":"AI Chain: Job Filter","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[608,304],"continueOnFail":true},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.1}},"id":"6966e3ba-55c8-4d91-b685-fa8ac9b841a6","name":"OpenAI Mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[512,608],"credentials":null},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"is_match\": { \"type\": \"boolean\", \"description\": \"Whether the job is a good match\" },\n    \"match_score\": { \"type\": \"number\", \"description\": \"Match score from 0 to 100\" },\n    \"reason\": { \"type\": \"string\", \"description\": \"Brief explanation of the match decision\" }\n  },\n  \"required\": [\"is_match\", \"match_score\", \"reason\"]\n}"},"id":"3dbc2e9c-8cf3-4032-80ee-c1d604200d58","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[704,608]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"4a5e9f2c-92c3-4fb6-aecf-6a899752b186","leftValue":"={{ $json.output.is_match }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"07053ee0-266c-4956-bc49-844c73ab2e2b","name":"IF: Is Match?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,304]},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"1xcXw3gTMUSMlKr33rwFQ34xSDHAr2ud1"},"options":{}},"id":"f3f9b515-d365-4e63-928d-20869709352d","name":"Google Drive: Download CV","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1200,288],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"credentials":null,"notes":"CONFIGURE: Set file ID for CV Ary 2026.pdf in folder Compartilhaveis/job_Project. Select Google Drive OAuth2 credential."},{"parameters":{"operation":"pdf","options":{}},"id":"87d9e2ad-d6b3-4950-ad43-c3aee590ecc3","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1504,288]},{"parameters":{"promptType":"define","text":"=ORIGINAL RESUME TEXT:\n{{ $('Extract from File').item.json.text }}\n\nJOB DETAILS:\nCompany: {{ $('Set: Candidate Profile').item.json.company }}\nTitle: {{ $('Set: Candidate Profile').item.json.title }}\nDescription: {{ $('Set: Candidate Profile').item.json.description }}\nurl: {{ $('Set: Candidate Profile').item.json.url }}\n\nCustomize this resume for the job above. Output the complete customized resume.","messages":{"messageValues":[{"message":"You are an expert resume writer and career coach. Your task is to customize a provided resume to align with a specific job description.\n\nRULES:\n1. Keep ALL factual information accurate — never invent experience, skills, or achievements.\n2. Reorder and emphasize existing skills/experience that match the job requirements.\n3. Adjust the Professional Summary to mirror the job's language and priorities.\n4. Highlight relevant achievements with metrics when available.\n5. Adjust skill ordering to prioritize what the job asks for.\n6. Keep the same structure and formatting style of the original CV.\n7. Output the FULL customized resume text, not just changes.\n8. Write in English unless the job description is in another language.\n9. Do NOT add skills or experience the candidate doesn't have.\n10. Keep it to 2 pages maximum worth of content.\n11. ALWAYS include a \"Languages\" section listing: Portuguese (native), English (fluent), Spanish (intermediate). Place it after Education.\n12. Remove overly technical skills irrelevant to the target role (e.g., Docker, Redis, Portainer, Postgres for non-engineering roles). Keep only tools and skills that resonate with the job description.\n13. If the candidate lacks direct industry experience mentioned in the job (e.g., \"experience in banking\", \"experience in healthcare\"), address this gap positively in the Professional Summary using transferable skills framing. Example: \"Eager to apply cross-industry product marketing expertise to the [industry] sector\" or highlight adjacent experience (e.g., real estate finance for banking roles).\n14. Do NOT duplicate sections. If skills are listed in a \"Core Competences\" or \"Skills\" section, do NOT repeat them in a separate \"Tools & Technology Stack\" section. Consolidate into one clean section.\n15. If the job mentions compliance, regulatory requirements, or similar governance topics, positively reference the candidate's experience navigating compliance in marketing campaigns, client communications, and regulated industries (real estate development involves significant regulatory compliance).\n16. Use proper Markdown formatting: **bold** for section headers and company names, --- for section dividers, proper hierarchy with ## headers. The output must be well-formatted Markdown.\n17. Do NOT wrap the output in markdown code fences (``` or ```markdown). Output the raw Markdown directly without any code block wrapper."}]}},"id":"20895c08-10f2-4680-aaeb-a02124f72473","name":"AI Chain: Customize CV","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1808,288],"continueOnFail":true},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4.1"},"options":{"temperature":0.3}},"id":"ba3dc43a-444f-480d-92c9-dd42cfcaaee2","name":"OpenAI 4.1 CV","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1712,608],"credentials":null},{"parameters":{"promptType":"define","text":"=CANDIDATE PROFILE:\n{{ $('Set: Candidate Profile').item.json.candidate_profile }}\n\nCUSTOMIZED RESUME:\n{{ $('AI Chain: Customize CV').item.json.text }}\n\nJOB DETAILS:\nCompany: {{ $('Set: Candidate Profile').item.json.company }}\nTitle: {{ $('Set: Candidate Profile').item.json.title }}\nDescription: {{ $('Set: Candidate Profile').item.json.description }}\nURL: {{ $('Set: Candidate Profile').item.json.url }}\n\nWrite a personalized cover letter for this job application.","messages":{"messageValues":[{"message":"You are an expert cover letter writer. Your task is to create a compelling, personalized cover letter for a job application.\n\nRULES:\n1. Keep it to one page (300-400 words).\n2. Address it to \"Dear Hiring Team\" unless a specific name is available.\n3. Opening paragraph: Express genuine interest and connect your background to the role. Use the EXACT job title from the job description — never paraphrase or simplify it.\n4. Middle paragraph(s): Highlight 2-3 specific achievements from the resume that directly address the job requirements. Use metrics.\n5. Closing paragraph: Express enthusiasm, mention willingness to discuss further.\n6. Tone: Professional but warm, confident but not arrogant.\n7. Mirror the company's language and values from the job description.\n8. Do NOT be generic — every sentence should connect candidate to THIS specific role.\n9. Write in English unless the job description is in another language.\n10. Sign off with \"Warm regards, Ary Ribeiro\"\n11. Use the EXACT job title from the job posting in the opening paragraph. Never paraphrase it (e.g., if the job is \"Product Marketing Manager\", write \"Product Marketing Manager\", not \"Marketing Strategy role\").\n12. If the candidate is based in the same city/country as the job, mention it explicitly (e.g., \"As a Berlin-based professional...\").\n13. ALWAYS mention the candidate's multilingual capabilities (Portuguese native, English fluent, Spanish intermediate) especially when the job mentions international, multilingual, or cross-cultural environments.\n14. Include at least one specific reference to the company beyond just its name — mention the company's team, division, mission, recent initiative, or industry position. Use information from the job description to demonstrate genuine knowledge of the company. For example, reference the specific team (e.g., \"Corporate Functions team\"), the company's market position, or values mentioned in the posting.\n15. If the job is at a well-known company, demonstrate awareness of their market position or reputation in the specific area relevant to the role."}]}},"id":"25f3e9bc-6421-47bc-b4fb-dab5db3b1ea1","name":"AI Chain: Cover Letter","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2112,288],"continueOnFail":true},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4.1"},"options":{"temperature":0.4}},"id":"326c4b64-76ab-40ec-ba22-6ef2ed69cb34","name":"OpenAI 4.1 CL","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2000,608],"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"13864ced-d346-4a67-8583-4195fb0f123d","name":"cvText","type":"string","value":"={{ $('AI Chain: Customize CV').item.json.text }}"},{"id":"a0b473cb-1f43-48b0-a487-fbc59f589931","name":"coverLetterText","type":"string","value":"={{ $('AI Chain: Cover Letter').item.json.text }}"}]},"includeOtherFields":true,"options":{}},"id":"cbb89ba0-c69f-46cf-95ea-24df7dc71bf7","name":"Set: Prepare Files","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2480,288],"notes":"Prepares CV and Cover Letter text fields for file conversion"},{"parameters":{"operation":"toText","sourceProperty":"cvText","binaryPropertyName":"cvFile","options":{"fileName":"cv.md"}},"id":"dd83a687-2c21-48f4-b10f-7a8ae93f354a","name":"Convert to File: CV","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2704,288]},{"parameters":{"operation":"toText","sourceProperty":"coverLetterText","binaryPropertyName":"clFile","options":{"fileName":"coverletter.md"}},"id":"d5dd94d5-bd41-4b31-b317-2e6a1714d53d","name":"Convert to File: CL","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2704,528]},{"parameters":{"inputDataFieldName":"cvFile","name":"={{ 'cv_' + $('Set: Candidate Profile').item.json.company.replace(/[^a-zA-Z0-9]/g, '_') + '.md' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1zMszuTbUjqGU2e5ps2eobLmyAsO9S6dR"},"options":{}},"id":"96b94c13-1247-4919-994b-e9198f501b84","name":"Google Drive: Upload CV","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3008,288],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"credentials":null,"notes":"CONFIGURE: Set folder ID for Compartilhaveis/job_Project. Select Google Drive OAuth2 credential."},{"parameters":{"inputDataFieldName":"clFile","name":"={{ 'coverletter_' + $('Set: Candidate Profile').item.json.company.replace(/[^a-zA-Z0-9]/g, '_') + '.md' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1zMszuTbUjqGU2e5ps2eobLmyAsO9S6dR"},"options":{}},"id":"772791b0-d36a-4e75-bdc5-3ccf07ece5c5","name":"Google Drive: Upload CL","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3008,528],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"credentials":null,"notes":"CONFIGURE: Set folder ID for Compartilhaveis/job_Project. Select Google Drive OAuth2 credential."},{"parameters":{"base":{"__rl":true,"mode":"id","value":"app9shUm0Kp9ySC24"},"table":{"__rl":true,"mode":"id","value":"tbl5pNK0rdLHj2nah"},"id":"={{ $json.query.recordID }}","options":{}},"id":"b20376e5-032a-4f8e-a288-7e51f159e63c","name":"Airtable: Get Record","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[224,304],"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"method":"PATCH","url":"https://api.airtable.com/v0/app9shUm0Kp9ySC24/tbl5pNK0rdLHj2nah","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"records\": [{\"id\": \"{{ $('Set: Candidate Profile').item.json.record_id }}\", \"fields\": {\"Status\": \"No Fit\"}}]}","options":{}},"id":"d1a7036f-d70a-4747-b576-9f19ee2c3e1c","name":"Airtable: Update No Fit","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,608],"onError":"continueRegularOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app9shUm0Kp9ySC24","mode":"list","cachedResultName":"Opportunities Feed","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24"},"table":{"__rl":true,"value":"tbl5pNK0rdLHj2nah","mode":"list","cachedResultName":"Jobs","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24/tbl5pNK0rdLHj2nah"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.query.recordID }}","Title":"=","Status":"Done"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"RecordID","displayName":"RecordID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"None","value":"None"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"},{"name":"No Fit","value":"No Fit"}],"readOnly":false,"removed":false},{"id":"Created at","displayName":"Created at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3344,400],"id":"d41423dc-4827-43a9-a397-329ce0c75244","name":"Update record","credentials":null}],"connections":{"Set: Candidate Profile":{"main":[[{"node":"AI Chain: Job Filter","type":"main","index":0}]]},"AI Chain: Job Filter":{"main":[[{"node":"IF: Is Match?","type":"main","index":0}]]},"IF: Is Match?":{"main":[[{"node":"Google Drive: Download CV","type":"main","index":0}],[{"node":"Airtable: Update No Fit","type":"main","index":0}]]},"Google Drive: Download CV":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Chain: Customize CV","type":"main","index":0}]]},"AI Chain: Customize CV":{"main":[[{"node":"AI Chain: Cover Letter","type":"main","index":0}]]},"AI Chain: Cover Letter":{"main":[[{"node":"Set: Prepare Files","type":"main","index":0}]]},"Set: Prepare Files":{"main":[[{"node":"Convert to File: CV","type":"main","index":0},{"node":"Convert to File: CL","type":"main","index":0}]]},"OpenAI Mini":{"ai_languageModel":[[{"node":"AI Chain: Job Filter","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Chain: Job Filter","type":"ai_outputParser","index":0}]]},"OpenAI 4.1 CV":{"ai_languageModel":[[{"node":"AI Chain: Customize CV","type":"ai_languageModel","index":0}]]},"OpenAI 4.1 CL":{"ai_languageModel":[[{"node":"AI Chain: Cover Letter","type":"ai_languageModel","index":0}]]},"Convert to File: CV":{"main":[[{"node":"Google Drive: Upload CV","type":"main","index":0}]]},"Convert to File: CL":{"main":[[{"node":"Google Drive: Upload CL","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Airtable: Get Record","type":"main","index":0}]]},"Airtable: Get Record":{"main":[[{"node":"Set: Candidate Profile","type":"main","index":0}]]},"Google Drive: Upload CV":{"main":[[{"node":"Update record","type":"main","index":0}]]},"Google Drive: Upload CL":{"main":[[{"node":"Update record","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[]}