airtable-leads-testes-to-zap-(novo-agendamento)-ALjHRV2ixmQU5ZEJ.json
{"updatedAt":"2025-12-14T11:29:49.175Z","createdAt":"2025-03-04T07:55:23.568Z","id":"ALjHRV2ixmQU5ZEJ","name":"Airtable Leads Testes to Zap (Novo Agendamento)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"4e7d59f8-aee7-4968-9aa4-0b2b521d7d23","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-300,0],"id":"01527441-e5fa-4e9b-9210-76e43bfc0cde","name":"Webhook","webhookId":"4e7d59f8-aee7-4968-9aa4-0b2b521d7d23"},{"parameters":{"base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"id":"={{ $json.airtable_recordID }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[220,0],"id":"02d248a8-7860-4873-a9c6-a50fa96e48b1","name":"Airtable","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"testes","remoteJid":"={{ $('Airtable').item.json.Telefone }}","messageText":"=A reunião está confirmada para {{ DateTime.fromISO($('Airtable').item.json['Calendly Start Date & Time']).setZone('Europe/Lisbon').toFormat('dd-MM-yyyy HH:mm') }} (Hora de Lisboa). Este é o link da reunião: {{ $json.linkMeet }} \n*Por favor confirme o recebimento desta mensagem com um OK*.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[820,-20],"id":"75cad24e-48f5-4bd8-9a64-9059d4997812","name":"Evo send first message","credentials":null},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[820,160],"id":"5a26b359-e565-4cc8-8610-514c9c59d4d9","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"95c9a1a1-23b0-47c0-8e05-bb77667cd82b","leftValue":"={{ $json['Event Type Name'] }}","rightValue":"Unknown","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[500,0],"id":"9bce0ba1-a518-4b91-9444-5759e4da7cb7","name":"If - is not Unknown"},{"parameters":{"assignments":{"assignments":[{"id":"67967355-b1aa-428b-97e5-3445cf5d08b4","name":"airtable_recordID","value":"={{ $json.body.airtable_recordID }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,0],"id":"9e4ef9da-47c1-40d7-b72e-f316ec00064f","name":"Set Variables"}],"connections":{"Webhook":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"If - is not Unknown","type":"main","index":0}]]},"Evo send first message":{"main":[[]]},"If - is not Unknown":{"main":[[{"node":"Evo send first message","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Airtable","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8eb94d49-811f-47ad-bdb8-846efde86441","triggerCount":1,"shared":[{"updatedAt":"2025-03-04T07:55:23.568Z","createdAt":"2025-03-04T07:55:23.568Z","role":"workflow:owner","workflowId":"ALjHRV2ixmQU5ZEJ","projectId":"NLlHufgAcMM6m1Lv"}],"tags":[]}