backup-workflows-válido-vjFXYpISpPcZx5bL.json
{"updatedAt":"2026-06-01T12:48:55.028Z","createdAt":"2025-02-25T14:46:59.910Z","id":"vjFXYpISpPcZx5bL","name":"Backup Workflows Válido","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"3b4e1319-677d-44e0-ad4c-b949df112751","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[48,432]},{"parameters":{"options":{}},"id":"057c5a37-7b1d-4acb-8854-3716a5aaa86c","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[240,432]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"8012e05c-b07a-4028-8779-a20c40524456","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[448,432]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"c57797ff-6149-48ff-b42b-c5964c85d14b","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[640,432]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"Arygustavo","mode":"list","cachedResultName":"Arygustavo","cachedResultUrl":"https://github.com/Arygustavo"},"repository":{"__rl":true,"value":"n8n-workflows-backup-hetzner","mode":"list","cachedResultName":"n8n-workflows-backup-hetzner","cachedResultUrl":"https://github.com/Arygustavo/n8n-workflows-backup-hetzner"},"filePath":"="},"id":"c2d7cb1f-44a4-40bf-8ffb-0be44157399b","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[864,432],"alwaysOutputData":true,"webhookId":"f299ae2a-dee9-40fa-ba07-4e7950ef382f","credentials":null},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"aff080e4-21b3-4317-9261-4eb9c94ed537","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1040,432]},{"parameters":{"filters":{},"requestOptions":{}},"id":"5e26761c-dc28-436c-b907-588c05290a69","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1360,432],"credentials":null},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"89b7e596-e8ba-436c-86e3-8a6272d9e6b4","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2048,336]},{"parameters":{"batchSize":1,"options":{}},"id":"3bb12e42-fc4c-4db4-be9f-a3f661443bd6","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1680,432]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"69df0b16-d5c1-4996-a17a-e21857a4d83a","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2224,336]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"Arygustavo","mode":"list","cachedResultName":"Arygustavo","cachedResultUrl":"https://github.com/Arygustavo"},"repository":{"__rl":true,"value":"n8n-workflows-backup-hetzner","mode":"list","cachedResultName":"n8n-workflows-backup-hetzner","cachedResultUrl":"https://github.com/Arygustavo/n8n-workflows-backup-hetzner"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"d8dd1cae-6669-4074-b845-5b21ec9baf7b","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2416,128],"webhookId":"5e2f54b4-a3e9-4802-9993-b6b025e92416","credentials":null},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Arygustavo","mode":"list","cachedResultName":"Arygustavo","cachedResultUrl":"https://github.com/Arygustavo"},"repository":{"__rl":true,"value":"n8n-workflows-backup-hetzner","mode":"list","cachedResultName":"n8n-workflows-backup-hetzner","cachedResultUrl":"https://github.com/Arygustavo/n8n-workflows-backup-hetzner"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"f20cc236-b7c9-4aca-90ce-e7573f8831eb","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2400,480],"webhookId":"653cfca0-eb73-41f9-b331-1fa4975c4886","credentials":null},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"120e3392-f60a-499c-b2ee-5174144f5761","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,272]},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"3b1fff8c-cf48-405e-8e82-0169c96fd20a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,272]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"d94f8071-0512-4f50-9a71-ec808cc038c9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,272]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"b96a32ab-c908-40de-ba77-85b9ffa2e930","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1232,272]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":732,"width":928},"id":"7cec27dd-899d-4458-a749-e8cce6d27281","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1632,0]},{"parameters":{"content":"## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=dNuVuoPD0Jo). \n2. Remember to add your credentials and configure GitHub nodes (covered in the video guide).\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**","height":234.82946582693546,"width":508.8662091091177},"id":"cc718916-4df1-4cd5-b1bd-96e9687cb549","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"const patterns = [\n  /sk-ant-[A-Za-z0-9_\\-]{20,}/g,\n  /apify_api_[A-Za-z0-9]{10,}/g,\n  /\\bpat[A-Za-z0-9]{14}\\.[A-Za-z0-9]{40,}\\b/g,\n  /\\bkey[A-Za-z0-9]{14}\\b/g,\n  /(?:sk|ghp|gho|ghs|ghr|github_pat_)[A-Za-z0-9_\\-]{10,}/g,\n  /eyJ[A-Za-z0-9_\\-]{8,}\\.[A-Za-z0-9_\\-]{8,}\\.[A-Za-z0-9_\\-]{8,}/g,\n  /xox[baprs]-[A-Za-z0-9\\-]{10,}/g,\n  /AKIA[0-9A-Z]{16}/g,\n  /Bearer\\s+[A-Za-z0-9_\\-\\.]{12,}/gi,\n];\nconst SECRET_KEY = /(token|secret|password|passwd|pwd|api[_-]?key|access[_-]?key|auth|bearer|client[_-]?secret)/i;\nfunction isExpr(s){ return s.startsWith('=') || s.includes('{{'); }\nfunction redactStr(s, keyName){\n  let out = s;\n  for (const p of patterns) out = out.replace(new RegExp(p.source, p.flags), '***REDACTED***');\n  if (keyName && SECRET_KEY.test(keyName) && !isExpr(s) && out.trim().length > 8) out = '***REDACTED***';\n  return out;\n}\nfunction deepRedact(value, keyName){\n  if (typeof value === 'string') return redactStr(value, keyName);\n  if (Array.isArray(value)) return value.map(v => deepRedact(v, keyName));\n  if (value && typeof value === 'object'){\n    for (const k of Object.keys(value)){\n      if (k === 'credentials'){ value[k] = null; continue; }\n      value[k] = deepRedact(value[k], k);\n    }\n    return value;\n  }\n  return value;\n}\n\nreturn items.map(item => {\n  item.json = deepRedact(item.json, null);\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,336],"id":"3dfdf426-29c5-45cc-8d0d-2198ffe76f8d","name":"Code in JavaScript"}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":1200,"availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f7ba2051-5d26-4bce-bb9c-7ec79ea19f21","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-02-25T14:46:59.910Z","createdAt":"2025-02-25T14:46:59.910Z","role":"workflow:owner","workflowId":"vjFXYpISpPcZx5bL","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[]}