calendly-cancelamento-de-reunião-do-evento-teste-no-airtable-e-trello-CaWO13v3JFn77XR3.json
{"updatedAt":"2025-12-27T18:01:03.076Z","createdAt":"2025-03-09T12:50:09.348Z","id":"CaWO13v3JFn77XR3","name":"Calendly Cancelamento de Reunião do Evento Teste no Airtable e Trello","active":true,"isArchived":false,"nodes":[{"parameters":{"scope":"organization","events":["invitee.canceled"]},"type":"n8n-nodes-base.calendlyTrigger","typeVersion":1,"position":[0,0],"id":"56e6e98c-89f3-490e-8356-2428014c7300","name":"Calendly Trigger","webhookId":"9fa2ef35-4965-4fd2-aebb-af46925a86f9","credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"25d3cc48-f72a-4b37-b867-ff35155a1b36","name":"telefone_ajustado","value":"={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}","type":"string"},{"id":"3fa32fa3-f0f4-4b27-b08c-d0484eb7c85b","name":"first_name_ajustado","value":"={{ $json.payload.name.split(' ')[0].charAt(0).toUpperCase() + $json.payload.name.split(' ')[0].slice(1).toLowerCase() }}","type":"string"},{"id":"1eac4a3e-a3db-4290-8207-10d79a4daa64","name":"last_name_ajustado","value":"={{ $json.payload.name.split(' ').slice(1).map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ') }}","type":"string"},{"id":"87fc9992-97c0-4d81-873d-ee6f962caf79","name":"email_ajustado","value":"={{ $json.payload.email.toLowerCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"ca4964f4-5084-429e-95f6-aeb04e66a229","name":"Set Variables"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"filterByFormula":"=RIGHT({Telefone}, 8) = {{ $('Set Variables').item.json.telefone_ajustado.slice(-8) }}","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Last Modified","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[432,0],"id":"6f48836b-9c1a-49b9-8000-ee8784264e9c","name":"Airtable search by phone","alwaysOutputData":true,"credentials":null},{"parameters":{"resource":"label","operation":"addLabel","cardId":{"__rl":true,"value":"={{ $('Airtable Update Cancelamento').item.json.fields.trello_ID_Card }}","mode":"id"},"id":"5e96d3ea7669b2254973af35"},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[864,0],"id":"a6fb773f-053e-436d-a966-0e2f3e9eab50","name":"Trello","credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $json['Airtable ID '] }}","Obs":"REUNIÃO CANCELADA","tags":"[\"Conversa Finalizada\"]"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[640,0],"id":"cfb7a209-8be0-4c7c-8e2f-6cd2a7a83890","name":"Airtable Update Cancelamento","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"testes","remoteJid":"351913095597","messageText":"=Reunião Cancelada (n8n):\n{{ $('Airtable Update Cancelamento').item.json.fields['Event Type Name'] }} - {{ $('Set Variables').item.json.first_name_ajustado }} {{ $('Set Variables').item.json.last_name_ajustado }} - {{ $('Set Variables').item.json.telefone_ajustado }} - {{ $('Airtable Update Cancelamento').item.json.fields['Airtable ID '] }} - https://wa.me/{{ $('Set Variables').item.json.telefone_ajustado }}?text=Reagendar?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,0],"id":"38107e24-91f0-43c0-81a7-e10a1669e5c9","name":"Envia mensagem de Cancelamento para o Dono","credentials":null}],"connections":{"Calendly Trigger":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Airtable search by phone","type":"main","index":0}]]},"Airtable search by phone":{"main":[[{"node":"Airtable Update Cancelamento","type":"main","index":0}]]},"Airtable Update Cancelamento":{"main":[[{"node":"Trello","type":"main","index":0}]]},"Trello":{"main":[[{"node":"Envia mensagem de Cancelamento para o Dono","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Calendly Trigger":{"webhookURI":"https://api.calendly.com/webhook_subscriptions/4765b0f5-1037-4c75-b5aa-70a24efc15f1"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c6b8be76-be99-4cfb-91e7-426ededfa3f6","triggerCount":1,"shared":[{"updatedAt":"2025-03-09T12:50:09.348Z","createdAt":"2025-03-09T12:50:09.348Z","role":"workflow:owner","workflowId":"CaWO13v3JFn77XR3","projectId":"NLlHufgAcMM6m1Lv"}],"tags":[]}