calendly-leads-clientes-to-airtable,trello,-gsheet-zEY4i84KlQkOmx0B.json
{"updatedAt":"2026-05-29T15:16:21.105Z","createdAt":"2025-02-28T12:27:36.833Z","id":"zEY4i84KlQkOmx0B","name":"Calendly Leads Clientes to Airtable,Trello, GSheet","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fdf371dd-dbce-4bad-ab49-3284f1f5112b","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Evento Teste","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Testes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a77bd43f-4eec-4440-a6e3-34f166df5309","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Cliente 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cliente 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"78144f19-858a-469c-b571-c5fb98853961","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Cliente 2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cliente 2"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1312,16],"id":"63507003-ac07-4eb1-bb38-41c559bc5e6f","name":"Switch"},{"parameters":{"httpMethod":"POST","path":"calendlyclientes","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,304],"id":"00767216-6b12-4544-882f-c8e8e20d711c","name":"Webhook","webhookId":"464c0b2c-1a2a-44ff-93af-f1d280e3596d"},{"parameters":{"assignments":{"assignments":[{"id":"9a2c10c4-74b4-48d0-a8c5-ebe095e7eab5","name":"evo_api_key","value":"2vGHmKALc8VcXLSIuKQO","type":"string"},{"id":"840baa4a-ba9c-49f9-b08b-928815b93a34","name":"evo_instanciaID","value":"E240888B2C3F-4435-950D-ACFDD7E234B6","type":"string"},{"id":"93afa9d0-5a13-4e98-a5a8-74346e7d9f56","name":"nome_da_instancia","value":"testes","type":"string"}]},"options":{}},"id":"df88c99f-a32e-43e8-9306-a23ec70307d8","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2352,-192]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials1').item.json.nome_da_instancia }}","remoteJid":"=+351913095597","messageText":"Lead de Cliente Agendado no Calendly que caiu no Fallback do N8N. Verificar em https://workflows.coletiv.me/workflow/zEY4i84KlQkOmx0B","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2912,976],"id":"60897776-37b6-4f13-85e9-b7cb7d1a53d2","name":"Envia mensagem Zap para mim","credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"cb589df4-d1b5-48aa-ba8b-9d18a6478eba","name":"Nome Completo","value":"={{ $('Webhook').item.json.body.payload.name.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) }}","type":"string"},{"id":"3fd351c7-4998-4069-885a-3135e3a015eb","name":"First Name","value":"={{ $('Webhook').item.json.body.payload.name.split(' ')[0].toLowerCase().replace(/\\b\\w/, c => c.toUpperCase()) }}","type":"string"},{"id":"eca9b0bc-f9d7-4c81-b09d-25a510c76b07","name":"Last Name","value":"={{ $('Webhook').item.json.body.payload.name.split(' ').slice(1).join(' ').toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) }}","type":"string"},{"id":"7f411759-2c5e-4eb1-a19e-76c9a71d81ee","name":"Phone Ajustado","value":"={{ $('Webhook').item.json.body.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}","type":"string"},{"id":"c534b5b7-1711-4478-bba3-dfe79bfc6b06","name":"Email","value":"={{ $('Webhook').item.json.body.payload.email.toLowerCase() }}","type":"string"},{"id":"8bb28802-9945-4010-a9ab-de9b197c7b36","name":"Data da Call","value":"={{ DateTime.fromISO($('Webhook').item.json.body.payload.scheduled_event.start_time).setZone('America/Sao_Paulo').toFormat(\"dd/MM/yyyy HH:mm:ss\") }}","type":"string"},{"id":"b6ebb3f5-5026-4325-8d6c-635c6073a718","name":"Link da Call ","value":"={{ $('Webhook').item.json.body.payload.scheduled_event.location.join_url }}","type":"string"},{"id":"0f941e7a-b77a-4c35-b82b-8b886d069818","name":"Agendamento Criado em","value":"={{ $('Webhook').item.json.body.payload.scheduled_event.created_at }}","type":"string"},{"id":"118fa543-3a2c-432c-95b2-1b4f6b93b91d","name":"Link para Reagendamento","value":"={{ $('Webhook').item.json.body.payload.reschedule_url }}","type":"string"},{"id":"ad5f95c5-5b0a-475d-bd45-9621e2a3de07","name":"Link para Cancelamento","value":"={{ $('Webhook').item.json.body.payload.cancel_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,304],"id":"88a15be6-b19e-44d6-85b3-3097ca47289c","name":"Normalizacao"},{"parameters":{"listId":"6a118190cb8517c8a972401c","name":"=[Lead] {{ $('Normalizacao').item.json['Nome Completo'] }} - {{ $('Webhook').item.json.body.payload.scheduled_event.name }}","description":"=Email: {{ $('Normalizacao').item.json.Email }}\nFone: {{ $('Normalizacao').item.json['Phone Ajustado'] }}\nhttps://wa.me/{{ $('Normalizacao').item.json['Phone Ajustado'] }}?text=Ola \nData da Call: {{ $('Normalizacao').item.json['Data da Call'] }} (Horario de Brasilia UTC-3)\nLink da Call: {{ $('Normalizacao').item.json['Link da Call '] }}\nAcesso Geral Calendly: https://calendly.com/app/scheduled_events/user/me","additionalFields":{"pos":"top"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[720,48],"id":"e1ba1f53-82d1-4f0c-ac44-ea3d77c551ae","name":"Create a card","credentials":null},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Fale Conosco CF","operator":{"type":"string","operation":"equals"},"id":"7a898da2-0ca9-497a-babf-783f1527a555"}],"combinator":"and"},"renameOutput":true,"outputKey":"Geral"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5e9874b2-c07f-4f72-9ad2-ed509662f528","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Nacionalidade Portuguesa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Nacionalidade Portuguesa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fcec707d-21b0-4324-90d2-69a509671588","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Vistos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vistos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"67c43362-52c1-48da-bc2b-53b4fa6114ad","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Impostos (Taxes)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Impostos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fe437c19-997c-4883-a672-a238befc9cdc","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Reunião Mentoria Advogar em Portugal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mentoria"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2448,720],"id":"74272cc4-1ec9-47e2-86a7-23114147bd1b","name":"Carolina Felix"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e8676e5a-8594-49e0-a424-503270c2b30d","leftValue":"={{ $('Webhook').item.json.body.event }}","rightValue":"invitee.created","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Agendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.event }}","rightValue":"invitee.canceled","operator":{"type":"string","operation":"equals"},"id":"03036216-c38b-441d-9e16-df45d351ce53"}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelamento"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[544,304],"id":"b3ab4bb1-52d3-4f40-83dc-d71d58e48c6f","name":"Status"},{"parameters":{"method":"POST","url":"https://api.airtable.com/v0/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"fields\": {\n    \"Name\": $('Normalizacao').item.json['Nome Completo'],\n    \"Email\": $('Normalizacao').item.json.Email,\n    \"Telefone\": $('Normalizacao').item.json['Phone Ajustado'],\n    \"Event Type Name\": $('Webhook').item.json.body.payload.scheduled_event.name,\n    \"Calendly Start Date & Time\": $('Webhook').item.json.body.payload.scheduled_event.start_time,\n    \"Calendly Event Created Date & Time\": $('Webhook').item.json.body.payload.scheduled_event.created_at,\n    \"linkMeet\": $('Webhook').item.json.body.payload.scheduled_event.location.join_url,\n    \"trello_ID_Card\": $('Create a card').item.json.id,\n    \"calendly_cancel_url\": $('Webhook').item.json.body.payload.cancel_url,\n    \"calendly_reschedule_url\": $('Webhook').item.json.body.payload.reschedule_url\n  }\n} }}","options":{}},"id":"6d4a5676-d38a-4cb9-bca0-9bc48b3417c6","name":"Airtable: Create a Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,48]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit?pli=1&gid=1539499846#gid=1539499846","mode":"url"},"sheetName":{"__rl":true,"value":1539499846,"mode":"list","cachedResultName":"Calendly","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit#gid=1539499846"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID":"={{ $('Airtable: Create a Record').item.json.id }}","Invitee Name":"={{ $('Normalizacao').item.json['Nome Completo'] }}","Invitee Email":"={{ $('Normalizacao').item.json.Email }}","Phone Number":"={{ $('Normalizacao').item.json['Phone Ajustado'] }}","Event Type Name":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","Trello ID Card":"={{ $('Create a card').item.json.id }}","created_at":"={{ $now.setZone('America/Sao_Paulo').format('dd/MM/yyyy HH:mm:ss') }}","Start Date & Time":"={{ DateTime.fromISO($('Webhook').item.json.body.payload.scheduled_event.start_time).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm') }}","Link Meet":"={{ $('Webhook').item.json.body.payload.scheduled_event.location.join_url }}","Hora":"={{ DateTime.fromISO($('Webhook').item.json.body.payload.scheduled_event.start_time).setZone('America/Sao_Paulo').toFormat('HH:mm') }}"},"matchingColumns":[],"schema":[{"id":"Airtable ID","displayName":"Airtable ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Name","displayName":"Invitee Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Email","displayName":"Invitee Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Date & Time","displayName":"Start Date & Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notificação 1H Antes","displayName":"Notificação 1H Antes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Call Status","displayName":"Call Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Virou Cliente?","displayName":"Virou Cliente?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Meet","displayName":"Link Meet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Trello ID Card","displayName":"Trello ID Card","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1136,48],"id":"cdcf67ea-7427-40a9-8539-5c9b7a81ef2f","name":"New Lead","credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4f60f2eb-c32f-42a5-9a06-671fc2730db7","leftValue":"={{ $('Search Row').all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[880,768],"id":"e6c3cb6b-b899-4170-8dcf-555122154d1e","name":"Filter"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit?pli=1&gid=1539499846#gid=1539499846","mode":"url"},"sheetName":{"__rl":true,"value":1539499846,"mode":"list","cachedResultName":"Calendly","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit#gid=1539499846"},"columns":{"mappingMode":"defineBelow","value":{"Link Meet":"={{ $('Normalizacao').item.json['Link da Call '] }}","Call Status":"REUNIÃO CANCELADA"},"matchingColumns":["Link Meet"],"schema":[{"id":"Airtable ID","displayName":"Airtable ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Name","displayName":"Invitee Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Email","displayName":"Invitee Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Date & Time","displayName":"Start Date & Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notificação 1H Antes","displayName":"Notificação 1H Antes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Call Status","displayName":"Call Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Virou Cliente?","displayName":"Virou Cliente?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Meet","displayName":"Link Meet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trello ID Card","displayName":"Trello ID Card","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,768],"id":"ae3d7417-f1c0-4512-b86b-9e8f2703c5a0","name":"Update row in sheet","credentials":null},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit?pli=1&gid=1539499846#gid=1539499846","mode":"url"},"sheetName":{"__rl":true,"value":1539499846,"mode":"list","cachedResultName":"Calendly","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit#gid=1539499846"},"filtersUI":{"values":[{"lookupColumn":"Link Meet","lookupValue":"={{ $('Normalizacao').item.json['Link da Call '] }}"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[736,768],"id":"dda3d342-86a1-498a-a45f-f34018fe7071","name":"Search Row","credentials":null},{"parameters":{"method":"PATCH","url":"=https://api.airtable.com/v0/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB/{{ $('Search Row').item.json['Airtable ID'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"fields\": {\n    \"Obs\": \"REUNIÃO CANCELADA\"\n  }\n} }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1584,768],"id":"7392ad7d-6cc0-42f9-916e-f6dc450344b2","name":"Airtable: Update a Record"},{"parameters":{"listId":"661cf24a16681ccc4842f785","name":"=[Lead] {{ $('Normalizacao').item.json['Nome Completo'] }} - {{ $('Webhook').item.json.body.payload.scheduled_event.name }}","description":"=Email: {{ $('Normalizacao').item.json.Email }}\nFone: {{ $('Normalizacao').item.json['Phone Ajustado'] }}\nhttps://wa.me/{{ $('Normalizacao').item.json['Phone Ajustado'] }}?text=Ola \nData da Call: {{ $('Normalizacao').item.json['Data da Call'] }} (Horario de Brasilia UTC-3)\nLink da Call: {{ $('Normalizacao').item.json['Link da Call '] }}\nAcesso Geral Calendly: https://calendly.com/app/scheduled_events/user/me","additionalFields":{"pos":"top"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[3712,768],"id":"8450912c-f85b-4fdd-80be-9afdfcb0ed28","name":"Create a card CF","credentials":null},{"parameters":{"jsCode":"const wh = $('Webhook').item.json.body.payload;\nconst norm = $('Normalizacao').item.json;\nconst airtableId = $('Airtable: Create a Record').item.json.id;\nconst partnerId = $('Resolve or Create Partner').item.json.partner_id;\n\nconst qa = wh.questions_and_answers || [];\nconst idioma = (qa.find(q => /idioma|language/i.test(q.question)) || {}).answer || '';\n\nconst start = DateTime.fromISO(wh.scheduled_event.start_time).toUTC();\nconst dataTriagem = start.toFormat('yyyy-MM-dd HH:mm:ss');\nconst deadline = start.plus({ days: 10 }).toFormat('yyyy-MM-dd');\n\nconst lead = {\n  name: `${wh.scheduled_event.name} - ${norm['Nome Completo']}`,\n  contact_name: norm['Nome Completo'],\n  partner_id: partnerId,            // ← liga ao res.partner criado (id 174)\n  email_from: norm.Email,\n  phone: norm['Phone Ajustado'],\n  mobile: norm['Phone Ajustado'],\n  user_id: 6,\n  expected_revenue: 100,\n  stage_id: 5,\n  lead_respostas: idioma ? `Idioma: ${idioma}` : '',\n  type: 'opportunity',\n  date_deadline: deadline,\n  lead_data_triagem: dataTriagem,\n  lead_meet_link: wh.scheduled_event.location.join_url,\n  lead_calendly_link: 'https://calendly.com/app/scheduled_events/user/me',\n  lead_whatsapp: `https://wa.me/${norm['Phone Ajustado']}?text=Ola`,\n  lead_airtable_id: airtableId\n};\n\nconst payload = {\n  jsonrpc: '2.0',\n  method: 'call',\n  params: {\n    service: 'object',\n    method: 'execute_kw',\n    args: [\n      'odoo18',\n      2,\n      '0fd980f86424e522826d5a2da33e63a5d8a095c1',\n      'crm.lead',\n      'create',\n      [lead]\n    ]\n  }\n};\n\nreturn [{ json: { odoo_body: JSON.stringify(payload) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,768],"id":"45af23d5-528e-47be-8101-5ce4d83f07f1","name":"Monta Lead Odoo"},{"parameters":{"method":"POST","url":"https://odoo.telejud.com/jsonrpc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.odoo_body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3328,768],"id":"7ee24af1-f1c3-485b-bf91-e3515777fc97","name":"Cria Lead Odoo"},{"parameters":{"method":"POST","url":"https://odoo.telejud.com/jsonrpc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  jsonrpc: \"2.0\", method: \"call\",\n  params: { service: \"object\", method: \"execute_kw\",\n    args: [\"odoo18\", 2, \"0fd980f86424e522826d5a2da33e63a5d8a095c1\",\n      \"res.partner\", \"search_read\",\n      [[[\"email\", \"=\", $('Normalizacao').item.json.Email]], [\"id\", \"name\"]],\n      {limit: 1}\n    ]\n  }\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2720,768],"id":"6d80d20f-a8cf-4f5a-a001-3e4070b2646e","name":"Search Partner"},{"parameters":{"jsCode":"const ODOO = 'https://odoo.telejud.com/jsonrpc';\nconst DB = 'odoo18';\nconst UID = 2;\nconst KEY = '0fd980f86424e522826d5a2da33e63a5d8a095c1';\n\nconst norm = $('Normalizacao').item.json;\nconst searchResult = $('Search Partner').item.json.result || [];\n\nlet partnerId;\n\nif (searchResult.length > 0) {\n  // Partner já existe → reusa (pega o primeiro/mais antigo da lista)\n  partnerId = searchResult[0].id;\n} else {\n  // Não existe → cria via jsonrpc usando o helper nativo do n8n (VM2 não tem fetch)\n  const createPayload = {\n    jsonrpc: '2.0',\n    method: 'call',\n    params: {\n      service: 'object',\n      method: 'execute_kw',\n      args: [DB, UID, KEY, 'res.partner', 'create', [{\n        name: norm['Nome Completo'],\n        email: norm.Email,\n        phone: norm['Phone Ajustado'],\n        mobile: norm['Phone Ajustado']\n      }]]\n    }\n  };\n\n  const data = await this.helpers.httpRequest({\n    method: 'POST',\n    url: ODOO,\n    headers: { 'Content-Type': 'application/json' },\n    body: createPayload,\n    json: true\n  });\n\n  if (data.error) {\n    throw new Error('Odoo create partner falhou: ' + JSON.stringify(data.error));\n  }\n  partnerId = data.result;\n}\n\nreturn [{ json: { partner_id: partnerId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2928,768],"id":"84597acd-c038-4949-b24c-266ba715da0c","name":"Resolve or Create Partner"},{"parameters":{"method":"POST","url":"https://odoo.telejud.com/jsonrpc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      \"odoo18\", 2, \"0fd980f86424e522826d5a2da33e63a5d8a095c1\",\n      \"crm.lead\", \"search_read\",\n      [[[\"email_from\", \"ilike\", $('Webhook').item.json.body.payload.email]]],\n      { fields: [\"id\", \"name\"], limit: 1, order: \"id desc\" }\n    ]\n  }\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1776,768],"id":"bb6b978d-71fe-4ff9-8bcd-742b465be31d","name":"Buscar Lead Odoo"},{"parameters":{"method":"POST","url":"https://odoo.telejud.com/jsonrpc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      \"odoo18\", 2, \"0fd980f86424e522826d5a2da33e63a5d8a095c1\",\n      \"mail.activity\", \"create\",\n      [{\n        res_model_id: 408,\n        res_model: \"crm.lead\",\n        res_id: $('Buscar Lead Odoo').item.json.result[0].id,\n        activity_type_id: 9,\n        summary: \"Reunião Calendly cancelada — reagendar\",\n        note: \"Cancelado por: \" + ($('Webhook').item.json.body.payload.cancellation?.canceled_by || \"-\")\n            + \" | Motivo: \" + ($('Webhook').item.json.body.payload.cancellation?.reason || \"-\")\n            + \" | Data original: \" + DateTime.fromISO($('Webhook').item.json.body.payload.scheduled_event.start_time).setZone(\"Europe/Lisbon\").toFormat(\"dd/MM/yyyy HH:mm\"),\n        user_id: 6,\n        date_deadline: DateTime.now().setZone(\"Europe/Lisbon\").toFormat(\"yyyy-MM-dd\")\n      }]\n    ]\n  }\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1968,768],"id":"9fd63ab2-87bc-4ddc-afd1-2cbb442e6854","name":"Criar Atividade Reagendar"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5197bd5f-5a01-4659-9040-7819c890fa50","leftValue":"={{ $json.body.payload.scheduled_event.name }}","rightValue":"Evento Teste","operator":{"type":"string","operation":"equals"}},{"id":"361ae6ec-b742-4520-bab9-fd44fbdcd13e","leftValue":"={{ $json.body.payload.scheduled_event.name }}","rightValue":"Impostos (Taxes)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e0db2bcb-934e-4292-8568-402a7439d37c","leftValue":"={{ $json.body.payload.scheduled_event.name }}","rightValue":"Nacionalidade Portuguesa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"f5f0d0c8-f235-44af-8a9d-00ddf39c8427","leftValue":"={{ $json.body.payload.scheduled_event.name }}","rightValue":"Vistos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"058ba801-0ecc-43a1-b1fd-a82b0f5480c7","leftValue":"={{ $json.body.payload.scheduled_event.name }}","rightValue":"Reunião Mentoria Advogar em Portugal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c48734ee-7faf-443b-83a4-f0e7abc78489","leftValue":"={{ $json.body.payload.scheduled_event.name }}","rightValue":"Fale Conosco CF","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[160,304],"id":"c3d00ad2-9139-4726-baae-e3cdb92367c9","name":"Filter1"},{"parameters":{"method":"POST","url":"https://telejud.api-us1.com/api/3/contact/sync","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"8a130e9ff68606b8d565a3addc000f45bdd748241bfd8a6969844c8021b01ea954996180"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  contact: {\n    email: $('Normalizacao').item.json.Email,\n    firstName: $('Normalizacao').item.json['First Name'],\n    lastName: $('Normalizacao').item.json['Last Name'],\n    phone: $('Normalizacao').item.json['Phone Ajustado'],\n    fieldValues: [\n      { field: \"21\", value: (($('Webhook').item.json.body.payload.questions_and_answers || []).find(q => /idioma|language/i.test(q.question)) || {}).answer || \"\" },\n      { field: \"37\", value: $('Airtable: Create a Record').item.json.id }\n    ]\n  }\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3536,768],"id":"a5949000-8d6a-4994-80fe-a6d4f9c7ecb3","name":"Cria Contato AC"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json['Phone Ajustado'] }}","messageText":"Sua reunião foi agendada com sucesso. Este encontro será realizado com nossa equipe de triagem. *Por favor confirme o recebimento desta mensagem com um OK*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2576,-192],"id":"e648bbb9-09e0-4e1b-b606-764bf100919c","name":"Teste envia texto Zap ao Lead","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json['Phone Ajustado'] }}","messageText":"=A reunião está confirmada para {{ $('Normalizacao').item.json['Data da Call'] }} (Horario de Brasilia, UTC-3). Este é o link da reunião: {{ $('Normalizacao').item.json['Link da Call '] }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2784,-192],"id":"c18f57fc-147a-4d12-8a83-a1d2fc4c15af","name":"Teste envia Link Zap ao Lead","credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"9a2c10c4-74b4-48d0-a8c5-ebe095e7eab5","name":"evo_api_key","value":"2vGHmKALc8VcXLSIuKQO","type":"string"},{"id":"840baa4a-ba9c-49f9-b08b-928815b93a34","name":"evo_instanciaID","value":"E240888B2C3F-4435-950D-ACFDD7E234B6","type":"string"},{"id":"93afa9d0-5a13-4e98-a5a8-74346e7d9f56","name":"nome_da_instancia","value":"Mkt Atend 2","type":"string"}]},"options":{}},"id":"8ccd5ae4-dd06-4eab-868d-da8c7f425c58","name":"Evo Credentials1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2720,976]},{"parameters":{"resource":"label","operation":"addLabel","cardId":{"__rl":true,"value":"={{ $('Search Row').item.json['Trello ID Card Cliente '] }}","mode":"id"},"id":"67ab9ccbb435d754337f9ab4"},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1232,768],"id":"a7d368de-dd4e-4b3f-b2f9-c31cadb6bd38","name":"Add a label to a card CF","credentials":null},{"parameters":{"resource":"label","operation":"addLabel","cardId":{"__rl":true,"value":"={{ $('Search Row').item.json['Trello ID Card'] }}","mode":"id"},"id":"605c5be1dc62511597ad22b1"},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1424,768],"id":"04d22942-9aba-4bb8-ac62-f5001ab6b73d","name":"Add a label to a card MKT","credentials":null},{"parameters":{"listId":"661cf24a16681ccc4842f785","name":"=[Lead] {{ $('Normalizacao').item.json['Nome Completo'] }} - {{ $('Webhook').item.json.body.payload.scheduled_event.name }}","description":"=Email: {{ $('Normalizacao').item.json.Email }}\nFone: {{ $('Normalizacao').item.json['Phone Ajustado'] }}\nhttps://wa.me/{{ $('Normalizacao').item.json['Phone Ajustado'] }}?text=Ola \nData da Call: {{ $('Normalizacao').item.json['Data da Call'] }} (Horario de Brasilia UTC-3)\nLink da Call: {{ $('Normalizacao').item.json['Link da Call '] }}\nAcesso Geral Calendly: https://calendly.com/app/scheduled_events/user/me","additionalFields":{"pos":"top"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1584,-192],"id":"572cc0bd-48cb-4b82-b86f-7f5628bd7a95","name":"Create a card Teste","credentials":null},{"parameters":{"method":"PATCH","url":"=https://api.airtable.com/v0/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB/{{ $('Airtable: Create a Record').item.json.fields['Airtable ID '] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ fields: { \"trello_ID_Card_Cliente\": $('Create a card Teste').item.json.id } }) }}","options":{}},"id":"bbfc66fd-62ba-41ef-b746-c91850be0de0","name":"Airtable: Update a Record Teste","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,-192]},{"parameters":{"method":"PATCH","url":"=https://api.airtable.com/v0/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB/{{ $('Airtable: Create a Record').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"fields\": {\n    \"trello_ID_Card_Cliente\": $('Create a card CF').item.json.id\n  }\n} }}","options":{}},"id":"d5c7c14c-91da-4288-b8b7-12ebf1e8ed13","name":"Airtable: Update a Record CF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4336,768]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit?pli=1&gid=1539499846#gid=1539499846","mode":"url"},"sheetName":{"__rl":true,"value":1539499846,"mode":"list","cachedResultName":"Calendly","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit#gid=1539499846"},"columns":{"mappingMode":"defineBelow","value":{"Link Meet":"={{ $('Normalizacao').item.json['Link da Call '] }}","row_number":0,"Trello ID Card Cliente":"={{ $json.id }}"},"matchingColumns":["Link Meet"],"schema":[{"id":"Airtable ID","displayName":"Airtable ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Name","displayName":"Invitee Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Email","displayName":"Invitee Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Date & Time","displayName":"Start Date & Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notificação 1H Antes","displayName":"Notificação 1H Antes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Call Status","displayName":"Call Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Virou Cliente?","displayName":"Virou Cliente?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Meet","displayName":"Link Meet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trello ID Card","displayName":"Trello ID Card","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Trello ID Card Cliente","displayName":"Trello ID Card Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4112,768],"id":"ee88278c-335f-403b-a9fe-44c1deaf209b","name":"Update Trello ID Card CF","retryOnFail":true,"waitBetweenTries":2000,"credentials":null},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit?pli=1&gid=1539499846#gid=1539499846","mode":"url"},"sheetName":{"__rl":true,"value":1539499846,"mode":"list","cachedResultName":"Calendly","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit#gid=1539499846"},"columns":{"mappingMode":"defineBelow","value":{"Link Meet":"={{ $('Normalizacao').item.json['Link da Call '] }}","Trello ID Card Cliente ":"={{ $json.id }}"},"matchingColumns":["Link Meet"],"schema":[{"id":"Airtable ID","displayName":"Airtable ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Name","displayName":"Invitee Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Email","displayName":"Invitee Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Date & Time","displayName":"Start Date & Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notificação 1H Antes","displayName":"Notificação 1H Antes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Call Status","displayName":"Call Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Virou Cliente?","displayName":"Virou Cliente?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Meet","displayName":"Link Meet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trello ID Card","displayName":"Trello ID Card","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Trello ID Card Cliente ","displayName":"Trello ID Card Cliente ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1776,-192],"id":"a1ffe0ee-f68c-4044-a159-388d08ff844d","name":"Update Trello ID Card Teste","credentials":null},{"parameters":{"method":"POST","url":"https://api.airtable.com/v0/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"fields\": {\n    \"Name\": $('Normalizacao').item.json['Nome Completo'],\n    \"Email\": $('Normalizacao').item.json.Email,\n    \"Telefone\": $('Normalizacao').item.json['Phone Ajustado'],\n    \"Event Type Name\": $('Webhook').item.json.body.payload.scheduled_event.name,\n    \"Calendly Start Date & Time\": $('Webhook').item.json.body.payload.scheduled_event.start_time,\n    \"Calendly Event Created Date & Time\": $('Webhook').item.json.body.payload.scheduled_event.created_at,\n    \"linkMeet\": $('Webhook').item.json.body.payload.scheduled_event.location.join_url,\n    \"trello_ID_Card\": $('Create a card').item.json.id,\n    \"trello_ID_Card_Cliente\": $('Create a card Teste').item.json.id,\n    \"calendly_cancel_url\": $('Webhook').item.json.body.payload.cancel_url,\n    \"calendly_reschedule_url\": $('Webhook').item.json.body.payload.reschedule_url\n  }\n} }}","options":{}},"id":"e9599775-9350-4b7e-a4c4-cc265ff79d9f","name":"Airtable: Create a Record in Autobot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,-192]},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3920,768],"id":"e592b943-ade2-449c-9a24-8758c13e399b","name":"Wait 5s","webhookId":"e8f19b7d-1e35-429d-9aa0-638c93817e0c"}],"connections":{"Switch":{"main":[[{"node":"Create a card Teste","type":"main","index":0}],[],[],[{"node":"Carolina Felix","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Teste envia texto Zap ao Lead","type":"main","index":0}]]},"Normalizacao":{"main":[[{"node":"Status","type":"main","index":0}]]},"Create a card":{"main":[[{"node":"Airtable: Create a Record","type":"main","index":0}]]},"Carolina Felix":{"main":[[{"node":"Search Partner","type":"main","index":0}],[{"node":"Search Partner","type":"main","index":0}],[{"node":"Search Partner","type":"main","index":0}],[{"node":"Search Partner","type":"main","index":0}],[{"node":"Search Partner","type":"main","index":0}],[{"node":"Evo Credentials1","type":"main","index":0}]]},"Status":{"main":[[{"node":"Create a card","type":"main","index":0}],[{"node":"Search Row","type":"main","index":0}]]},"Airtable: Create a Record":{"main":[[{"node":"New Lead","type":"main","index":0}]]},"New Lead":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Add a label to a card CF","type":"main","index":0}]]},"Search Row":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Monta Lead Odoo":{"main":[[{"node":"Cria Lead Odoo","type":"main","index":0}]]},"Cria Lead Odoo":{"main":[[{"node":"Cria Contato AC","type":"main","index":0}]]},"Search Partner":{"main":[[{"node":"Resolve or Create Partner","type":"main","index":0}]]},"Resolve or Create Partner":{"main":[[{"node":"Monta Lead Odoo","type":"main","index":0}]]},"Airtable: Update a Record":{"main":[[{"node":"Buscar Lead Odoo","type":"main","index":0}]]},"Buscar Lead Odoo":{"main":[[{"node":"Criar Atividade Reagendar","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Normalizacao","type":"main","index":0}]]},"Create a card CF":{"main":[[{"node":"Wait 5s","type":"main","index":0}]]},"Cria Contato AC":{"main":[[{"node":"Create a card CF","type":"main","index":0}]]},"Teste envia texto Zap ao Lead":{"main":[[{"node":"Teste envia Link Zap ao Lead","type":"main","index":0}]]},"Evo Credentials1":{"main":[[{"node":"Envia mensagem Zap para mim","type":"main","index":0}]]},"Add a label to a card CF":{"main":[[{"node":"Add a label to a card MKT","type":"main","index":0}]]},"Add a label to a card MKT":{"main":[[{"node":"Airtable: Update a Record","type":"main","index":0}]]},"Create a card Teste":{"main":[[{"node":"Update Trello ID Card Teste","type":"main","index":0}]]},"Airtable: Update a Record Teste":{"main":[[{"node":"Airtable: Create a Record in Autobot","type":"main","index":0}]]},"Update Trello ID Card CF":{"main":[[{"node":"Airtable: Update a Record CF","type":"main","index":0}]]},"Update Trello ID Card Teste":{"main":[[{"node":"Airtable: Update a Record Teste","type":"main","index":0}]]},"Airtable: Create a Record in Autobot":{"main":[[{"node":"Evo Credentials","type":"main","index":0}]]},"Wait 5s":{"main":[[{"node":"Update Trello ID Card CF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"RBvmMczEexEnf0Ul","availableInMCP":true,"timeSavedMode":"fixed","executionTimeout":1200},"staticData":{"node:Calendly Trigger":{"webhookURI":"https://api.calendly.com/webhook_subscriptions/d02f6edd-acdc-4030-961b-2db5ba393782"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fbd14db1-bf62-4c71-9784-d4911dd09a1e","activeVersionId":"fbd14db1-bf62-4c71-9784-d4911dd09a1e","triggerCount":1,"shared":[{"updatedAt":"2025-02-28T12:27:36.833Z","createdAt":"2025-02-28T12:27:36.833Z","role":"workflow:owner","workflowId":"zEY4i84KlQkOmx0B","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-29T15:16:21.105Z","createdAt":"2026-05-29T15:16:21.105Z","versionId":"fbd14db1-bf62-4c71-9784-d4911dd09a1e","workflowId":"zEY4i84KlQkOmx0B","nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fdf371dd-dbce-4bad-ab49-3284f1f5112b","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Evento Teste","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Testes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a77bd43f-4eec-4440-a6e3-34f166df5309","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Cliente 1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cliente 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"78144f19-858a-469c-b571-c5fb98853961","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Cliente 2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cliente 2"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1312,16],"id":"63507003-ac07-4eb1-bb38-41c559bc5e6f","name":"Switch"},{"parameters":{"httpMethod":"POST","path":"calendlyclientes","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,304],"id":"00767216-6b12-4544-882f-c8e8e20d711c","name":"Webhook","webhookId":"464c0b2c-1a2a-44ff-93af-f1d280e3596d"},{"parameters":{"assignments":{"assignments":[{"id":"9a2c10c4-74b4-48d0-a8c5-ebe095e7eab5","name":"evo_api_key","value":"2vGHmKALc8VcXLSIuKQO","type":"string"},{"id":"840baa4a-ba9c-49f9-b08b-928815b93a34","name":"evo_instanciaID","value":"E240888B2C3F-4435-950D-ACFDD7E234B6","type":"string"},{"id":"93afa9d0-5a13-4e98-a5a8-74346e7d9f56","name":"nome_da_instancia","value":"testes","type":"string"}]},"options":{}},"id":"df88c99f-a32e-43e8-9306-a23ec70307d8","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2352,-192]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials1').item.json.nome_da_instancia }}","remoteJid":"=+351913095597","messageText":"Lead de Cliente Agendado no Calendly que caiu no Fallback do N8N. Verificar em https://workflows.coletiv.me/workflow/zEY4i84KlQkOmx0B","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2912,976],"id":"60897776-37b6-4f13-85e9-b7cb7d1a53d2","name":"Envia mensagem Zap para mim","credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"cb589df4-d1b5-48aa-ba8b-9d18a6478eba","name":"Nome Completo","value":"={{ $('Webhook').item.json.body.payload.name.toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) }}","type":"string"},{"id":"3fd351c7-4998-4069-885a-3135e3a015eb","name":"First Name","value":"={{ $('Webhook').item.json.body.payload.name.split(' ')[0].toLowerCase().replace(/\\b\\w/, c => c.toUpperCase()) }}","type":"string"},{"id":"eca9b0bc-f9d7-4c81-b09d-25a510c76b07","name":"Last Name","value":"={{ $('Webhook').item.json.body.payload.name.split(' ').slice(1).join(' ').toLowerCase().replace(/\\b\\w/g, c => c.toUpperCase()) }}","type":"string"},{"id":"7f411759-2c5e-4eb1-a19e-76c9a71d81ee","name":"Phone Ajustado","value":"={{ $('Webhook').item.json.body.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}","type":"string"},{"id":"c534b5b7-1711-4478-bba3-dfe79bfc6b06","name":"Email","value":"={{ $('Webhook').item.json.body.payload.email.toLowerCase() }}","type":"string"},{"id":"8bb28802-9945-4010-a9ab-de9b197c7b36","name":"Data da Call","value":"={{ DateTime.fromISO($('Webhook').item.json.body.payload.scheduled_event.start_time).setZone('America/Sao_Paulo').toFormat(\"dd/MM/yyyy HH:mm:ss\") }}","type":"string"},{"id":"b6ebb3f5-5026-4325-8d6c-635c6073a718","name":"Link da Call ","value":"={{ $('Webhook').item.json.body.payload.scheduled_event.location.join_url }}","type":"string"},{"id":"0f941e7a-b77a-4c35-b82b-8b886d069818","name":"Agendamento Criado em","value":"={{ $('Webhook').item.json.body.payload.scheduled_event.created_at }}","type":"string"},{"id":"118fa543-3a2c-432c-95b2-1b4f6b93b91d","name":"Link para Reagendamento","value":"={{ $('Webhook').item.json.body.payload.reschedule_url }}","type":"string"},{"id":"ad5f95c5-5b0a-475d-bd45-9621e2a3de07","name":"Link para Cancelamento","value":"={{ $('Webhook').item.json.body.payload.cancel_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,304],"id":"88a15be6-b19e-44d6-85b3-3097ca47289c","name":"Normalizacao"},{"parameters":{"listId":"6a118190cb8517c8a972401c","name":"=[Lead] {{ $('Normalizacao').item.json['Nome Completo'] }} - {{ $('Webhook').item.json.body.payload.scheduled_event.name }}","description":"=Email: {{ $('Normalizacao').item.json.Email }}\nFone: {{ $('Normalizacao').item.json['Phone Ajustado'] }}\nhttps://wa.me/{{ $('Normalizacao').item.json['Phone Ajustado'] }}?text=Ola \nData da Call: {{ $('Normalizacao').item.json['Data da Call'] }} (Horario de Brasilia UTC-3)\nLink da Call: {{ $('Normalizacao').item.json['Link da Call '] }}\nAcesso Geral Calendly: https://calendly.com/app/scheduled_events/user/me","additionalFields":{"pos":"top"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[720,48],"id":"e1ba1f53-82d1-4f0c-ac44-ea3d77c551ae","name":"Create a card","credentials":null},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Fale Conosco CF","operator":{"type":"string","operation":"equals"},"id":"7a898da2-0ca9-497a-babf-783f1527a555"}],"combinator":"and"},"renameOutput":true,"outputKey":"Geral"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5e9874b2-c07f-4f72-9ad2-ed509662f528","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Nacionalidade Portuguesa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Nacionalidade Portuguesa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fcec707d-21b0-4324-90d2-69a509671588","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Vistos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vistos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"67c43362-52c1-48da-bc2b-53b4fa6114ad","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Impostos (Taxes)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Impostos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fe437c19-997c-4883-a672-a238befc9cdc","leftValue":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","rightValue":"Reunião Mentoria Advogar em Portugal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mentoria"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2448,720],"id":"74272cc4-1ec9-47e2-86a7-23114147bd1b","name":"Carolina Felix"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e8676e5a-8594-49e0-a424-503270c2b30d","leftValue":"={{ $('Webhook').item.json.body.event }}","rightValue":"invitee.created","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Agendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.event }}","rightValue":"invitee.canceled","operator":{"type":"string","operation":"equals"},"id":"03036216-c38b-441d-9e16-df45d351ce53"}],"combinator":"and"},"renameOutput":true,"outputKey":"Cancelamento"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[544,304],"id":"b3ab4bb1-52d3-4f40-83dc-d71d58e48c6f","name":"Status"},{"parameters":{"method":"POST","url":"https://api.airtable.com/v0/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"fields\": {\n    \"Name\": $('Normalizacao').item.json['Nome Completo'],\n    \"Email\": $('Normalizacao').item.json.Email,\n    \"Telefone\": $('Normalizacao').item.json['Phone Ajustado'],\n    \"Event Type Name\": $('Webhook').item.json.body.payload.scheduled_event.name,\n    \"Calendly Start Date & Time\": $('Webhook').item.json.body.payload.scheduled_event.start_time,\n    \"Calendly Event Created Date & Time\": $('Webhook').item.json.body.payload.scheduled_event.created_at,\n    \"linkMeet\": $('Webhook').item.json.body.payload.scheduled_event.location.join_url,\n    \"trello_ID_Card\": $('Create a card').item.json.id,\n    \"calendly_cancel_url\": $('Webhook').item.json.body.payload.cancel_url,\n    \"calendly_reschedule_url\": $('Webhook').item.json.body.payload.reschedule_url\n  }\n} }}","options":{}},"id":"6d4a5676-d38a-4cb9-bca0-9bc48b3417c6","name":"Airtable: Create a Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,48]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit?pli=1&gid=1539499846#gid=1539499846","mode":"url"},"sheetName":{"__rl":true,"value":1539499846,"mode":"list","cachedResultName":"Calendly","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit#gid=1539499846"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID":"={{ $('Airtable: Create a Record').item.json.id }}","Invitee Name":"={{ $('Normalizacao').item.json['Nome Completo'] }}","Invitee Email":"={{ $('Normalizacao').item.json.Email }}","Phone Number":"={{ $('Normalizacao').item.json['Phone Ajustado'] }}","Event Type Name":"={{ $('Webhook').item.json.body.payload.scheduled_event.name }}","Trello ID Card":"={{ $('Create a card').item.json.id }}","created_at":"={{ $now.setZone('America/Sao_Paulo').format('dd/MM/yyyy HH:mm:ss') }}","Start Date & Time":"={{ DateTime.fromISO($('Webhook').item.json.body.payload.scheduled_event.start_time).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm') }}","Link Meet":"={{ $('Webhook').item.json.body.payload.scheduled_event.location.join_url }}","Hora":"={{ DateTime.fromISO($('Webhook').item.json.body.payload.scheduled_event.start_time).setZone('America/Sao_Paulo').toFormat('HH:mm') }}"},"matchingColumns":[],"schema":[{"id":"Airtable ID","displayName":"Airtable ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Name","displayName":"Invitee Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Email","displayName":"Invitee Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Date & Time","displayName":"Start Date & Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notificação 1H Antes","displayName":"Notificação 1H Antes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Call Status","displayName":"Call Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Virou Cliente?","displayName":"Virou Cliente?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Meet","displayName":"Link Meet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Trello ID Card","displayName":"Trello ID Card","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1136,48],"id":"cdcf67ea-7427-40a9-8539-5c9b7a81ef2f","name":"New Lead","credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4f60f2eb-c32f-42a5-9a06-671fc2730db7","leftValue":"={{ $('Search Row').all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[880,768],"id":"e6c3cb6b-b899-4170-8dcf-555122154d1e","name":"Filter"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit?pli=1&gid=1539499846#gid=1539499846","mode":"url"},"sheetName":{"__rl":true,"value":1539499846,"mode":"list","cachedResultName":"Calendly","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit#gid=1539499846"},"columns":{"mappingMode":"defineBelow","value":{"Link Meet":"={{ $('Normalizacao').item.json['Link da Call '] }}","Call Status":"REUNIÃO CANCELADA"},"matchingColumns":["Link Meet"],"schema":[{"id":"Airtable ID","displayName":"Airtable ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Name","displayName":"Invitee Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Email","displayName":"Invitee Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Date & Time","displayName":"Start Date & Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notificação 1H Antes","displayName":"Notificação 1H Antes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Call Status","displayName":"Call Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Virou Cliente?","displayName":"Virou Cliente?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Meet","displayName":"Link Meet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trello ID Card","displayName":"Trello ID Card","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,768],"id":"ae3d7417-f1c0-4512-b86b-9e8f2703c5a0","name":"Update row in sheet","credentials":null},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit?pli=1&gid=1539499846#gid=1539499846","mode":"url"},"sheetName":{"__rl":true,"value":1539499846,"mode":"list","cachedResultName":"Calendly","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit#gid=1539499846"},"filtersUI":{"values":[{"lookupColumn":"Link Meet","lookupValue":"={{ $('Normalizacao').item.json['Link da Call '] }}"}]},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[736,768],"id":"dda3d342-86a1-498a-a45f-f34018fe7071","name":"Search Row","credentials":null},{"parameters":{"method":"PATCH","url":"=https://api.airtable.com/v0/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB/{{ $('Search Row').item.json['Airtable ID'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"fields\": {\n    \"Obs\": \"REUNIÃO CANCELADA\"\n  }\n} }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1584,768],"id":"7392ad7d-6cc0-42f9-916e-f6dc450344b2","name":"Airtable: Update a Record"},{"parameters":{"listId":"661cf24a16681ccc4842f785","name":"=[Lead] {{ $('Normalizacao').item.json['Nome Completo'] }} - {{ $('Webhook').item.json.body.payload.scheduled_event.name }}","description":"=Email: {{ $('Normalizacao').item.json.Email }}\nFone: {{ $('Normalizacao').item.json['Phone Ajustado'] }}\nhttps://wa.me/{{ $('Normalizacao').item.json['Phone Ajustado'] }}?text=Ola \nData da Call: {{ $('Normalizacao').item.json['Data da Call'] }} (Horario de Brasilia UTC-3)\nLink da Call: {{ $('Normalizacao').item.json['Link da Call '] }}\nAcesso Geral Calendly: https://calendly.com/app/scheduled_events/user/me","additionalFields":{"pos":"top"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[3712,768],"id":"8450912c-f85b-4fdd-80be-9afdfcb0ed28","name":"Create a card CF","credentials":null},{"parameters":{"jsCode":"const wh = $('Webhook').item.json.body.payload;\nconst norm = $('Normalizacao').item.json;\nconst airtableId = $('Airtable: Create a Record').item.json.id;\nconst partnerId = $('Resolve or Create Partner').item.json.partner_id;\n\nconst qa = wh.questions_and_answers || [];\nconst idioma = (qa.find(q => /idioma|language/i.test(q.question)) || {}).answer || '';\n\nconst start = DateTime.fromISO(wh.scheduled_event.start_time).toUTC();\nconst dataTriagem = start.toFormat('yyyy-MM-dd HH:mm:ss');\nconst deadline = start.plus({ days: 10 }).toFormat('yyyy-MM-dd');\n\nconst lead = {\n  name: `${wh.scheduled_event.name} - ${norm['Nome Completo']}`,\n  contact_name: norm['Nome Completo'],\n  partner_id: partnerId,            // ← liga ao res.partner criado (id 174)\n  email_from: norm.Email,\n  phone: norm['Phone Ajustado'],\n  mobile: norm['Phone Ajustado'],\n  user_id: 6,\n  expected_revenue: 100,\n  stage_id: 5,\n  lead_respostas: idioma ? `Idioma: ${idioma}` : '',\n  type: 'opportunity',\n  date_deadline: deadline,\n  lead_data_triagem: dataTriagem,\n  lead_meet_link: wh.scheduled_event.location.join_url,\n  lead_calendly_link: 'https://calendly.com/app/scheduled_events/user/me',\n  lead_whatsapp: `https://wa.me/${norm['Phone Ajustado']}?text=Ola`,\n  lead_airtable_id: airtableId\n};\n\nconst payload = {\n  jsonrpc: '2.0',\n  method: 'call',\n  params: {\n    service: 'object',\n    method: 'execute_kw',\n    args: [\n      'odoo18',\n      2,\n      '0fd980f86424e522826d5a2da33e63a5d8a095c1',\n      'crm.lead',\n      'create',\n      [lead]\n    ]\n  }\n};\n\nreturn [{ json: { odoo_body: JSON.stringify(payload) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,768],"id":"45af23d5-528e-47be-8101-5ce4d83f07f1","name":"Monta Lead Odoo"},{"parameters":{"method":"POST","url":"https://odoo.telejud.com/jsonrpc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.odoo_body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3328,768],"id":"7ee24af1-f1c3-485b-bf91-e3515777fc97","name":"Cria Lead Odoo"},{"parameters":{"method":"POST","url":"https://odoo.telejud.com/jsonrpc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  jsonrpc: \"2.0\", method: \"call\",\n  params: { service: \"object\", method: \"execute_kw\",\n    args: [\"odoo18\", 2, \"0fd980f86424e522826d5a2da33e63a5d8a095c1\",\n      \"res.partner\", \"search_read\",\n      [[[\"email\", \"=\", $('Normalizacao').item.json.Email]], [\"id\", \"name\"]],\n      {limit: 1}\n    ]\n  }\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2720,768],"id":"6d80d20f-a8cf-4f5a-a001-3e4070b2646e","name":"Search Partner"},{"parameters":{"jsCode":"const ODOO = 'https://odoo.telejud.com/jsonrpc';\nconst DB = 'odoo18';\nconst UID = 2;\nconst KEY = '0fd980f86424e522826d5a2da33e63a5d8a095c1';\n\nconst norm = $('Normalizacao').item.json;\nconst searchResult = $('Search Partner').item.json.result || [];\n\nlet partnerId;\n\nif (searchResult.length > 0) {\n  // Partner já existe → reusa (pega o primeiro/mais antigo da lista)\n  partnerId = searchResult[0].id;\n} else {\n  // Não existe → cria via jsonrpc usando o helper nativo do n8n (VM2 não tem fetch)\n  const createPayload = {\n    jsonrpc: '2.0',\n    method: 'call',\n    params: {\n      service: 'object',\n      method: 'execute_kw',\n      args: [DB, UID, KEY, 'res.partner', 'create', [{\n        name: norm['Nome Completo'],\n        email: norm.Email,\n        phone: norm['Phone Ajustado'],\n        mobile: norm['Phone Ajustado']\n      }]]\n    }\n  };\n\n  const data = await this.helpers.httpRequest({\n    method: 'POST',\n    url: ODOO,\n    headers: { 'Content-Type': 'application/json' },\n    body: createPayload,\n    json: true\n  });\n\n  if (data.error) {\n    throw new Error('Odoo create partner falhou: ' + JSON.stringify(data.error));\n  }\n  partnerId = data.result;\n}\n\nreturn [{ json: { partner_id: partnerId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2928,768],"id":"84597acd-c038-4949-b24c-266ba715da0c","name":"Resolve or Create Partner"},{"parameters":{"method":"POST","url":"https://odoo.telejud.com/jsonrpc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      \"odoo18\", 2, \"0fd980f86424e522826d5a2da33e63a5d8a095c1\",\n      \"crm.lead\", \"search_read\",\n      [[[\"email_from\", \"ilike\", $('Webhook').item.json.body.payload.email]]],\n      { fields: [\"id\", \"name\"], limit: 1, order: \"id desc\" }\n    ]\n  }\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1776,768],"id":"bb6b978d-71fe-4ff9-8bcd-742b465be31d","name":"Buscar Lead Odoo"},{"parameters":{"method":"POST","url":"https://odoo.telejud.com/jsonrpc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  jsonrpc: \"2.0\",\n  method: \"call\",\n  params: {\n    service: \"object\",\n    method: \"execute_kw\",\n    args: [\n      \"odoo18\", 2, \"0fd980f86424e522826d5a2da33e63a5d8a095c1\",\n      \"mail.activity\", \"create\",\n      [{\n        res_model_id: 408,\n        res_model: \"crm.lead\",\n        res_id: $('Buscar Lead Odoo').item.json.result[0].id,\n        activity_type_id: 9,\n        summary: \"Reunião Calendly cancelada — reagendar\",\n        note: \"Cancelado por: \" + ($('Webhook').item.json.body.payload.cancellation?.canceled_by || \"-\")\n            + \" | Motivo: \" + ($('Webhook').item.json.body.payload.cancellation?.reason || \"-\")\n            + \" | Data original: \" + DateTime.fromISO($('Webhook').item.json.body.payload.scheduled_event.start_time).setZone(\"Europe/Lisbon\").toFormat(\"dd/MM/yyyy HH:mm\"),\n        user_id: 6,\n        date_deadline: DateTime.now().setZone(\"Europe/Lisbon\").toFormat(\"yyyy-MM-dd\")\n      }]\n    ]\n  }\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1968,768],"id":"9fd63ab2-87bc-4ddc-afd1-2cbb442e6854","name":"Criar Atividade Reagendar"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5197bd5f-5a01-4659-9040-7819c890fa50","leftValue":"={{ $json.body.payload.scheduled_event.name }}","rightValue":"Evento Teste","operator":{"type":"string","operation":"equals"}},{"id":"361ae6ec-b742-4520-bab9-fd44fbdcd13e","leftValue":"={{ $json.body.payload.scheduled_event.name }}","rightValue":"Impostos (Taxes)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e0db2bcb-934e-4292-8568-402a7439d37c","leftValue":"={{ $json.body.payload.scheduled_event.name }}","rightValue":"Nacionalidade Portuguesa","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"f5f0d0c8-f235-44af-8a9d-00ddf39c8427","leftValue":"={{ $json.body.payload.scheduled_event.name }}","rightValue":"Vistos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"058ba801-0ecc-43a1-b1fd-a82b0f5480c7","leftValue":"={{ $json.body.payload.scheduled_event.name }}","rightValue":"Reunião Mentoria Advogar em Portugal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"c48734ee-7faf-443b-83a4-f0e7abc78489","leftValue":"={{ $json.body.payload.scheduled_event.name }}","rightValue":"Fale Conosco CF","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[160,304],"id":"c3d00ad2-9139-4726-baae-e3cdb92367c9","name":"Filter1"},{"parameters":{"method":"POST","url":"https://telejud.api-us1.com/api/3/contact/sync","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Api-Token","value":"8a130e9ff68606b8d565a3addc000f45bdd748241bfd8a6969844c8021b01ea954996180"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  contact: {\n    email: $('Normalizacao').item.json.Email,\n    firstName: $('Normalizacao').item.json['First Name'],\n    lastName: $('Normalizacao').item.json['Last Name'],\n    phone: $('Normalizacao').item.json['Phone Ajustado'],\n    fieldValues: [\n      { field: \"21\", value: (($('Webhook').item.json.body.payload.questions_and_answers || []).find(q => /idioma|language/i.test(q.question)) || {}).answer || \"\" },\n      { field: \"37\", value: $('Airtable: Create a Record').item.json.id }\n    ]\n  }\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3536,768],"id":"a5949000-8d6a-4994-80fe-a6d4f9c7ecb3","name":"Cria Contato AC"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json['Phone Ajustado'] }}","messageText":"Sua reunião foi agendada com sucesso. Este encontro será realizado com nossa equipe de triagem. *Por favor confirme o recebimento desta mensagem com um OK*","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2576,-192],"id":"e648bbb9-09e0-4e1b-b606-764bf100919c","name":"Teste envia texto Zap ao Lead","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json['Phone Ajustado'] }}","messageText":"=A reunião está confirmada para {{ $('Normalizacao').item.json['Data da Call'] }} (Horario de Brasilia, UTC-3). Este é o link da reunião: {{ $('Normalizacao').item.json['Link da Call '] }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2784,-192],"id":"c18f57fc-147a-4d12-8a83-a1d2fc4c15af","name":"Teste envia Link Zap ao Lead","credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"9a2c10c4-74b4-48d0-a8c5-ebe095e7eab5","name":"evo_api_key","value":"2vGHmKALc8VcXLSIuKQO","type":"string"},{"id":"840baa4a-ba9c-49f9-b08b-928815b93a34","name":"evo_instanciaID","value":"E240888B2C3F-4435-950D-ACFDD7E234B6","type":"string"},{"id":"93afa9d0-5a13-4e98-a5a8-74346e7d9f56","name":"nome_da_instancia","value":"Mkt Atend 2","type":"string"}]},"options":{}},"id":"8ccd5ae4-dd06-4eab-868d-da8c7f425c58","name":"Evo Credentials1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2720,976]},{"parameters":{"resource":"label","operation":"addLabel","cardId":{"__rl":true,"value":"={{ $('Search Row').item.json['Trello ID Card Cliente '] }}","mode":"id"},"id":"67ab9ccbb435d754337f9ab4"},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1232,768],"id":"a7d368de-dd4e-4b3f-b2f9-c31cadb6bd38","name":"Add a label to a card CF","credentials":null},{"parameters":{"resource":"label","operation":"addLabel","cardId":{"__rl":true,"value":"={{ $('Search Row').item.json['Trello ID Card'] }}","mode":"id"},"id":"605c5be1dc62511597ad22b1"},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1424,768],"id":"04d22942-9aba-4bb8-ac62-f5001ab6b73d","name":"Add a label to a card MKT","credentials":null},{"parameters":{"listId":"661cf24a16681ccc4842f785","name":"=[Lead] {{ $('Normalizacao').item.json['Nome Completo'] }} - {{ $('Webhook').item.json.body.payload.scheduled_event.name }}","description":"=Email: {{ $('Normalizacao').item.json.Email }}\nFone: {{ $('Normalizacao').item.json['Phone Ajustado'] }}\nhttps://wa.me/{{ $('Normalizacao').item.json['Phone Ajustado'] }}?text=Ola \nData da Call: {{ $('Normalizacao').item.json['Data da Call'] }} (Horario de Brasilia UTC-3)\nLink da Call: {{ $('Normalizacao').item.json['Link da Call '] }}\nAcesso Geral Calendly: https://calendly.com/app/scheduled_events/user/me","additionalFields":{"pos":"top"}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1584,-192],"id":"572cc0bd-48cb-4b82-b86f-7f5628bd7a95","name":"Create a card Teste","credentials":null},{"parameters":{"method":"PATCH","url":"=https://api.airtable.com/v0/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB/{{ $('Airtable: Create a Record').item.json.fields['Airtable ID '] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ fields: { \"trello_ID_Card_Cliente\": $('Create a card Teste').item.json.id } }) }}","options":{}},"id":"bbfc66fd-62ba-41ef-b746-c91850be0de0","name":"Airtable: Update a Record Teste","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,-192]},{"parameters":{"method":"PATCH","url":"=https://api.airtable.com/v0/appdXUjiqIKJCM0Nr/tblag7S42K0GZhAWB/{{ $('Airtable: Create a Record').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"fields\": {\n    \"trello_ID_Card_Cliente\": $('Create a card CF').item.json.id\n  }\n} }}","options":{}},"id":"d5c7c14c-91da-4288-b8b7-12ebf1e8ed13","name":"Airtable: Update a Record CF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4336,768]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit?pli=1&gid=1539499846#gid=1539499846","mode":"url"},"sheetName":{"__rl":true,"value":1539499846,"mode":"list","cachedResultName":"Calendly","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit#gid=1539499846"},"columns":{"mappingMode":"defineBelow","value":{"Link Meet":"={{ $('Normalizacao').item.json['Link da Call '] }}","row_number":0,"Trello ID Card Cliente":"={{ $json.id }}"},"matchingColumns":["Link Meet"],"schema":[{"id":"Airtable ID","displayName":"Airtable ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Name","displayName":"Invitee Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Email","displayName":"Invitee Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Date & Time","displayName":"Start Date & Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notificação 1H Antes","displayName":"Notificação 1H Antes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Call Status","displayName":"Call Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Virou Cliente?","displayName":"Virou Cliente?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Meet","displayName":"Link Meet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trello ID Card","displayName":"Trello ID Card","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Trello ID Card Cliente","displayName":"Trello ID Card Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4112,768],"id":"ee88278c-335f-403b-a9fe-44c1deaf209b","name":"Update Trello ID Card CF","retryOnFail":true,"waitBetweenTries":2000,"credentials":null},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit?pli=1&gid=1539499846#gid=1539499846","mode":"url"},"sheetName":{"__rl":true,"value":1539499846,"mode":"list","cachedResultName":"Calendly","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1g8UIs_GJ9clAfLIaCMedDi8Bmn7NsgytaOwxo-27nbg/edit#gid=1539499846"},"columns":{"mappingMode":"defineBelow","value":{"Link Meet":"={{ $('Normalizacao').item.json['Link da Call '] }}","Trello ID Card Cliente ":"={{ $json.id }}"},"matchingColumns":["Link Meet"],"schema":[{"id":"Airtable ID","displayName":"Airtable ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Name","displayName":"Invitee Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Invitee Email","displayName":"Invitee Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Date & Time","displayName":"Start Date & Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Hora","displayName":"Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Notificação 1H Antes","displayName":"Notificação 1H Antes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Call Status","displayName":"Call Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Enviar Proposta?","displayName":"Enviar Proposta?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Virou Cliente?","displayName":"Virou Cliente?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link Meet","displayName":"Link Meet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Trello ID Card","displayName":"Trello ID Card","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Trello ID Card Cliente ","displayName":"Trello ID Card Cliente ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1776,-192],"id":"a1ffe0ee-f68c-4044-a159-388d08ff844d","name":"Update Trello ID Card Teste","credentials":null},{"parameters":{"method":"POST","url":"https://api.airtable.com/v0/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"fields\": {\n    \"Name\": $('Normalizacao').item.json['Nome Completo'],\n    \"Email\": $('Normalizacao').item.json.Email,\n    \"Telefone\": $('Normalizacao').item.json['Phone Ajustado'],\n    \"Event Type Name\": $('Webhook').item.json.body.payload.scheduled_event.name,\n    \"Calendly Start Date & Time\": $('Webhook').item.json.body.payload.scheduled_event.start_time,\n    \"Calendly Event Created Date & Time\": $('Webhook').item.json.body.payload.scheduled_event.created_at,\n    \"linkMeet\": $('Webhook').item.json.body.payload.scheduled_event.location.join_url,\n    \"trello_ID_Card\": $('Create a card').item.json.id,\n    \"trello_ID_Card_Cliente\": $('Create a card Teste').item.json.id,\n    \"calendly_cancel_url\": $('Webhook').item.json.body.payload.cancel_url,\n    \"calendly_reschedule_url\": $('Webhook').item.json.body.payload.reschedule_url\n  }\n} }}","options":{}},"id":"e9599775-9350-4b7e-a4c4-cc265ff79d9f","name":"Airtable: Create a Record in Autobot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,-192]},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3920,768],"id":"e592b943-ade2-449c-9a24-8758c13e399b","name":"Wait 5s","webhookId":"e8f19b7d-1e35-429d-9aa0-638c93817e0c"}],"connections":{"Switch":{"main":[[{"node":"Create a card Teste","type":"main","index":0}],[],[],[{"node":"Carolina Felix","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Teste envia texto Zap ao Lead","type":"main","index":0}]]},"Normalizacao":{"main":[[{"node":"Status","type":"main","index":0}]]},"Create a card":{"main":[[{"node":"Airtable: Create a Record","type":"main","index":0}]]},"Carolina Felix":{"main":[[{"node":"Search Partner","type":"main","index":0}],[{"node":"Search Partner","type":"main","index":0}],[{"node":"Search Partner","type":"main","index":0}],[{"node":"Search Partner","type":"main","index":0}],[{"node":"Search Partner","type":"main","index":0}],[{"node":"Evo Credentials1","type":"main","index":0}]]},"Status":{"main":[[{"node":"Create a card","type":"main","index":0}],[{"node":"Search Row","type":"main","index":0}]]},"Airtable: Create a Record":{"main":[[{"node":"New Lead","type":"main","index":0}]]},"New Lead":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Add a label to a card CF","type":"main","index":0}]]},"Search Row":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Monta Lead Odoo":{"main":[[{"node":"Cria Lead Odoo","type":"main","index":0}]]},"Cria Lead Odoo":{"main":[[{"node":"Cria Contato AC","type":"main","index":0}]]},"Search Partner":{"main":[[{"node":"Resolve or Create Partner","type":"main","index":0}]]},"Resolve or Create Partner":{"main":[[{"node":"Monta Lead Odoo","type":"main","index":0}]]},"Airtable: Update a Record":{"main":[[{"node":"Buscar Lead Odoo","type":"main","index":0}]]},"Buscar Lead Odoo":{"main":[[{"node":"Criar Atividade Reagendar","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Normalizacao","type":"main","index":0}]]},"Create a card CF":{"main":[[{"node":"Wait 5s","type":"main","index":0}]]},"Cria Contato AC":{"main":[[{"node":"Create a card CF","type":"main","index":0}]]},"Teste envia texto Zap ao Lead":{"main":[[{"node":"Teste envia Link Zap ao Lead","type":"main","index":0}]]},"Evo Credentials1":{"main":[[{"node":"Envia mensagem Zap para mim","type":"main","index":0}]]},"Add a label to a card CF":{"main":[[{"node":"Add a label to a card MKT","type":"main","index":0}]]},"Add a label to a card MKT":{"main":[[{"node":"Airtable: Update a Record","type":"main","index":0}]]},"Create a card Teste":{"main":[[{"node":"Update Trello ID Card Teste","type":"main","index":0}]]},"Airtable: Update a Record Teste":{"main":[[{"node":"Airtable: Create a Record in Autobot","type":"main","index":0}]]},"Update Trello ID Card CF":{"main":[[{"node":"Airtable: Update a Record CF","type":"main","index":0}]]},"Update Trello ID Card Teste":{"main":[[{"node":"Airtable: Update a Record Teste","type":"main","index":0}]]},"Airtable: Create a Record in Autobot":{"main":[[{"node":"Evo Credentials","type":"main","index":0}]]},"Wait 5s":{"main":[[{"node":"Update Trello ID Card CF","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[]}