calendly-evento-teste-to-airtable-and-trello-(novos-leads)-zEY4i84KlQkOmx0B.json
{"updatedAt":"2025-12-27T18:01:32.539Z","createdAt":"2025-02-28T12:27:36.833Z","id":"zEY4i84KlQkOmx0B","name":"Calendly Evento Teste to Airtable and Trello (Novos Leads)","active":true,"isArchived":false,"nodes":[{"parameters":{"scope":"organization","events":["invitee.created"]},"type":"n8n-nodes-base.calendlyTrigger","typeVersion":1,"position":[-720,32],"id":"8cf12063-357e-4164-af2e-da6e2acbc7a3","name":"Calendly Trigger","webhookId":"d2c294b3-9833-4d7f-b2c8-45bf95b799c7","credentials":null},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"filterByFormula":"=RIGHT({Telefone}, 8) = {{ $('Set Variables').item.json.telefone_ajustado.slice(-8) }}","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Last Modified","direction":"desc"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[352,0],"id":"f8b82818-2bfa-4e2e-a84c-f649b855aa2d","name":"Airtable search by phone","alwaysOutputData":true,"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"25d3cc48-f72a-4b37-b867-ff35155a1b36","name":"telefone_ajustado","value":"={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}","type":"string"},{"id":"3fa32fa3-f0f4-4b27-b08c-d0484eb7c85b","name":"first_name_ajustado","value":"={{ $json.payload.name.split(' ')[0].charAt(0).toUpperCase() + $json.payload.name.split(' ')[0].slice(1).toLowerCase() }}","type":"string"},{"id":"1eac4a3e-a3db-4290-8207-10d79a4daa64","name":"last_name_ajustado","value":"={{ $json.payload.name.split(' ').slice(1).map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ') }}","type":"string"},{"id":"87fc9992-97c0-4d81-873d-ee6f962caf79","name":"email_ajustado","value":"={{ $json.payload.email.toLowerCase() }}","type":"string"},{"id":"3b761337-2c76-4dcd-8596-b8c97b7e135d","name":"evento","value":"={{ $json.payload.scheduled_event.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,0],"id":"ee2ca885-d568-4026-8e9a-f23780d3eef3","name":"Set Variables"},{"parameters":{"method":"POST","url":"https://webhooks.coletiv.me/webhook/4e7d59f8-aee7-4968-9aa4-0b2b521d7d23","sendBody":true,"bodyParameters":{"parameters":[{"name":"airtable_recordID","value":"={{ $json.fields['Airtable ID '] }}"}]},"options":{}},"id":"8bba417a-2e23-4625-a12a-a9f3d9b971b3","name":"Chama Workflow Airtable Leads Testes to Zap (Novo Agendamento)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,0]},{"parameters":{"content":"## Criar e Gerir Usuário","height":488,"width":936},"id":"7f720067-5b93-407f-977b-93beb94a121e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[528,-96],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"abdc51b1-c595-49d4-8bcb-f47ed719dec4","leftValue":"={{ $('Airtable search by phone').item.json['Airtable ID '] }}","rightValue":"1999-12-31T19:00:00.000-05:00","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"816c8a65-9d46-4749-bfc4-ae28da7b043a","name":"If - User is in Leads Autobot","type":"n8n-nodes-base.if","typeVersion":2,"position":[608,0]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"413ec470-69da-4160-8919-a8238e1099c4","name":"Cria thread Lead Autobot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,160],"credentials":null},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Set Variables').item.json.first_name_ajustado }} {{ $('Set Variables').item.json.last_name_ajustado }}","thread_id_openai":"={{ $('Cria thread Lead Autobot').item.json.id }}","concat_Messages":"Início","thread_id_created":"={{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}","counter_Messages":0,"token_Usage_Total":0,"Telefone":"={{ $('Set Variables').item.json.telefone_ajustado }}","Event Type Name":"={{ $('Set Variables').item.json.evento }}","Obs":"Contato agendado no Calendly","Email":"={{ $('Set Variables').item.json.email_ajustado }}","linkMeet":"={{ $('Calendly Trigger').item.json.payload.scheduled_event.location.join_url }}","calendly_reschedule_url":"={{ $('Calendly Trigger').item.json.payload.reschedule_url }}","calendly_cancel_url":"={{ $('Calendly Trigger').item.json.payload.cancel_url }}","Calendly Event Created Date & Time":"={{ $('Calendly Trigger').item.json.created_at }}","Calendly Start Date & Time":"={{ $('Calendly Trigger').item.json.payload.scheduled_event.start_time }}","trello_ID_Card":"={{ $('Trello Create Card').item.json.id }}","tags":"[\"Entrou no Fluxo\"]"},"matchingColumns":[],"schema":[{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"f58d685f-1a4b-4671-a94e-fbb72caaf2f3","name":"Airtable - Create User Lead Autobot","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1040,160],"credentials":null},{"parameters":{},"id":"a01afe60-5848-4beb-a713-73bcf37efdb6","name":"Merge User Lead Autobot","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1280,0]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable search by phone').item.json['Airtable ID '] }}","trello_ID_Card":"={{ $('Trello Create Card').item.json.id }}","Event Type Name":"={{ $('Set Variables').item.json.evento }}","Calendly Event Created Date & Time":"={{ $('Calendly Trigger').item.json.created_at }}","Calendly Start Date & Time":"={{ $('Calendly Trigger').item.json.payload.scheduled_event.start_time }}","linkMeet":"={{ $('Calendly Trigger').item.json.payload.scheduled_event.location.join_url }}","Obs":"Contato agendado no Calendly","calendly_reschedule_url":"={{ $('Calendly Trigger').item.json.payload.reschedule_url }}","calendly_cancel_url":"={{ $('Calendly Trigger').item.json.payload.cancel_url }}","tags":"[\"Entrou no Fluxo\"]","Email":"={{ $('Set Variables').item.json.email_ajustado }}","Telefone":"={{ $('Set Variables').item.json.telefone_ajustado }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[944,-16],"id":"92978a48-84b0-4549-af67-3db0631d5ce7","name":"Airtable update record","credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e3ee6eae-6e60-4b6d-bf8a-5f07e97693d0","leftValue":"={{ $json.payload.scheduled_event.name }}","rightValue":"Evento Teste","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"9827873d-a394-463d-8519-aa5ee817cc9e","name":"If - Evento Teste","type":"n8n-nodes-base.if","typeVersion":2,"position":[-496,32]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-304,208],"id":"c02db54f-f15f-4fdd-aabd-c42491003386","name":"No Operation, do nothing1"},{"parameters":{"operation":"get","id":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[112,0],"id":"23fd3783-73e2-47fe-a53f-1ed68dd73b58","name":"Trello Get Card","credentials":null},{"parameters":{"listId":"67cec05ab15069d679300f86","name":"=[Lead] {{ $('Set Variables').item.json.first_name_ajustado }} {{ $('Set Variables').item.json.last_name_ajustado }} - {{ $('Calendly Trigger').item.json.payload.scheduled_event.name }}","description":"=Email: {{ $('Set Variables').item.json.email_ajustado }}\nFone: {{ $('Set Variables').item.json.telefone_ajustado }}\nhttps://wa.me/{{ $('Set Variables').item.json.telefone_ajustado }}?text=Ola!\nData da Reunião: {{ DateTime.fromISO($('Calendly Trigger').item.json.payload.scheduled_event.start_time).setZone('Europe/Lisbon').toFormat('dd-MM-yyyy HH:mm') }}\nLink da Reunião Online: {{ $('Calendly Trigger').item.json.payload.scheduled_event.location.join_url }}\nAcesso Calendly: https://calendly.com/app/scheduled_events/user/me","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-96,0],"id":"d813ff34-ab16-48e8-90b6-da7da874635b","name":"Trello Create Card","credentials":null}],"connections":{"Calendly Trigger":{"main":[[{"node":"If - Evento Teste","type":"main","index":0}]]},"Airtable search by phone":{"main":[[{"node":"If - User is in Leads Autobot","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Trello Create Card","type":"main","index":0}]]},"If - User is in Leads Autobot":{"main":[[{"node":"Airtable update record","type":"main","index":0}],[{"node":"Cria thread Lead Autobot","type":"main","index":0}]]},"Cria thread Lead Autobot":{"main":[[{"node":"Airtable - Create User Lead Autobot","type":"main","index":0}]]},"Airtable - Create User Lead Autobot":{"main":[[{"node":"Merge User Lead Autobot","type":"main","index":1}]]},"Merge User Lead Autobot":{"main":[[{"node":"Chama Workflow Airtable Leads Testes to Zap (Novo Agendamento)","type":"main","index":0}]]},"Airtable update record":{"main":[[{"node":"Merge User Lead Autobot","type":"main","index":0}]]},"If - Evento Teste":{"main":[[{"node":"Set Variables","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Trello Get Card":{"main":[[{"node":"Airtable search by phone","type":"main","index":0}]]},"Trello Create Card":{"main":[[{"node":"Trello Get Card","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Calendly Trigger":{"webhookURI":"https://api.calendly.com/webhook_subscriptions/d02f6edd-acdc-4030-961b-2db5ba393782"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"56f2b42a-7210-4ea6-a5f3-5b8520671e7a","triggerCount":1,"shared":[{"updatedAt":"2025-02-28T12:27:36.833Z","createdAt":"2025-02-28T12:27:36.833Z","role":"workflow:owner","workflowId":"zEY4i84KlQkOmx0B","projectId":"NLlHufgAcMM6m1Lv"}],"tags":[]}