calendly-cancelamento-de-reunião-do-evento-teste-no-airtable-e-trello-CaWO13v3JFn77XR3.json
{"updatedAt":"2026-01-27T13:30:25.699Z","createdAt":"2025-03-09T12:50:09.348Z","id":"CaWO13v3JFn77XR3","name":"Calendly Cancelamento de Reunião do Evento Teste no Airtable e Trello","active":false,"isArchived":false,"nodes":[{"parameters":{"scope":"organization","events":["invitee.canceled"]},"id":"cc4a4156-8f94-4a80-905e-5eda5c4c2af2","name":"Calendly Trigger","type":"n8n-nodes-base.calendlyTrigger","typeVersion":1,"position":[240,300],"webhookId":"9fa2ef35-4965-4fd2-aebb-af46925a86f9","credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"8d1e59ab-e4ec-4df1-9c58-30aea0b26a4e","name":"telefone_ajustado","value":"={{ $json.payload.questions_and_answers[0].answer.replace(/\\D/g, '') }}","type":"string"},{"id":"56f6fa77-af3d-4267-bbfa-9adb4e2b5efa","name":"first_name_ajustado","value":"={{ $json.payload.name.split(' ')[0].charAt(0).toUpperCase() + $json.payload.name.split(' ')[0].slice(1).toLowerCase() }}","type":"string"},{"id":"73ea3c52-d48d-47b8-ac30-d1e3fffe12c5","name":"last_name_ajustado","value":"={{ $json.payload.name.split(' ').slice(1).map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()).join(' ') }}","type":"string"},{"id":"e4e0c72b-a45e-48dc-9fe2-a5e3ce9e6e83","name":"email_ajustado","value":"={{ $json.payload.email.toLowerCase() }}","type":"string"}]},"options":{}},"id":"7b5faeea-2f9f-427f-a4cf-0e62b5e22e17","name":"Set Variables","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,300]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Coletiv.me Testes Leads Calendly Qualification","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Teste Leads Calendly Qualification","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"filterByFormula":"=RIGHT({Telefone}, 8) = {{ $('Set Variables').item.json.telefone_ajustado.slice(-8) }}","options":{"returnAll":false,"limit":1}},"id":"2ee77e9a-acb1-4c5e-bf93-d28085fc2cf2","name":"Airtable search by phone","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[680,300],"alwaysOutputData":true,"credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Coletiv.me Testes Leads Calendly Qualification","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Teste Leads Calendly Qualification","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"value":{"Airtable ID ":"={{ $json['Airtable ID '] }}","Obs":"REUNIÃO CANCELADA","tags":"[\"Conversa Finalizada\"]"},"schema":[{"id":"Airtable ID ","type":"string","display":true,"removed":false,"required":false,"displayName":"Airtable ID ","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Obs","type":"string","display":true,"removed":false,"required":false,"displayName":"Obs","defaultMatch":false,"canBeUsedToMatch":true},{"id":"tags","type":"array","display":true,"removed":false,"required":false,"displayName":"tags","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Airtable ID "],"schemaGenerationKey":"airtable:tblLe9aJTS3rY2mpC"},"options":{}},"id":"7ac0f8d8-4fbc-4fa8-9097-cac27c9c89cc","name":"Airtable Update Cancelamento","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[900,300],"credentials":null},{"parameters":{"resource":"label","operation":"addLabel","cardId":{"__rl":true,"value":"={{ $('Airtable Update Cancelamento').item.json.fields.trello_ID_Card }}","mode":"id"},"id":"5e96d3ea7669b2254973af35"},"id":"27c45f98-0f4e-4f3b-bdef-39ed41eee40c","name":"Trello","type":"n8n-nodes-base.trello","typeVersion":1,"position":[1120,300],"credentials":null},{"parameters":{"resource":"messages-api","instanceName":"testes","remoteJid":"351913095597","messageText":"=Reunião Cancelada (n8n):\n{{ $('Airtable Update Cancelamento').item.json.fields['Event Type Name'] }} - {{ $('Set Variables').item.json.first_name_ajustado }} {{ $('Set Variables').item.json.last_name_ajustado }} - {{ $('Set Variables').item.json.telefone_ajustado }} - {{ $('Airtable Update Cancelamento').item.json.fields['Airtable ID '] }} - https://wa.me/{{ $('Set Variables').item.json.telefone_ajustado }}?text=Reagendar?"},"id":"88dd9df9-7959-437a-9a49-b25a6fc3e53b","name":"Envia mensagem de Cancelamento para o Dono","type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1340,300],"credentials":null}],"connections":{"Calendly Trigger":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Airtable search by phone","type":"main","index":0}]]},"Airtable search by phone":{"main":[[{"node":"Airtable Update Cancelamento","type":"main","index":0}]]},"Airtable Update Cancelamento":{"main":[[{"node":"Trello","type":"main","index":0}]]},"Trello":{"main":[[{"node":"Envia mensagem de Cancelamento para o Dono","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"RBvmMczEexEnf0Ul","availableInMCP":false},"staticData":{"node:Calendly Trigger":{"webhookURI":"https://api.calendly.com/webhook_subscriptions/a120a0e3-f01e-44c9-9115-6269a4f3037a"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c6b8be76-be99-4cfb-91e7-426ededfa3f6","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-03-09T12:50:09.348Z","createdAt":"2025-03-09T12:50:09.348Z","role":"workflow:owner","workflowId":"CaWO13v3JFn77XR3","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[]}