claude-brain-—-memory-read-wsgW6T7qQyZf0wAR.json
{"updatedAt":"2026-04-14T14:56:57.149Z","createdAt":"2026-04-08T09:34:42.643Z","id":"wsgW6T7qQyZf0wAR","name":"Claude Brain — Memory Read","active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"45405950-3b10-4b1b-abb7-7ad0e392c64e","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblMikdFKWuCNe4Iq","mode":"id"},"filterByFormula":"=AND(Importance >= 3, DATETIME_DIFF(NOW(), {Date}, 'days') <= 14)","options":{},"sort":{"property":[{"field":"Date","direction":"desc"}]}},"id":"29321bbc-90b6-4780-a447-856da37a61d1","name":"Airtable Read Memories","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[224,0],"alwaysOutputData":true,"credentials":null},{"parameters":{"jsCode":"const items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{ json: { memoryContext: 'Nenhuma memória recente encontrada.' } }];\n}\n\nconst lines = items.map(item => {\n  const f = item.json.fields || item.json;\n  const date = f.Date ? f.Date.substring(0, 10) : 'unknown';\n  const type = f.Type || 'Insight';\n  const project = f.Project || 'Ops';\n  const summary = f.Summary || '';\n  const importance = f.Importance || 3;\n  return `- [${date}] ${type}/${project} (imp:${importance}): ${summary}`;\n});\n\nconst context = `## Memória Recente (sessões anteriores)\\n${lines.join('\\n')}`;\n\nreturn [{ json: { memoryContext: context } }];"},"id":"cf3664c5-ba2a-46ef-9684-10227048ba2b","name":"Format Memory Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Airtable Read Memories","type":"main","index":0}]]},"Airtable Read Memories":{"main":[[{"node":"Format Memory Context","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"fYnGvcrDamwzIZeW"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dabd8509-8480-4e96-a9f1-b87d5a0e4653","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-08T09:34:42.643Z","createdAt":"2026-04-08T09:34:42.643Z","role":"workflow:owner","workflowId":"wsgW6T7qQyZf0wAR","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}