claude-bridge-—-weekly-swot-mac-mini-com-memory-v2-3vQI5AibhbZfDuT7.json
{"updatedAt":"2026-05-31T01:09:53.098Z","createdAt":"2026-04-16T14:24:49.603Z","id":"3vQI5AibhbZfDuT7","name":"Claude Bridge — Weekly SWOT Mac Mini com Memory v2","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"manual-trigger","name":"trigger","value":"manual","type":"string"}]},"options":{}},"id":"7777bf6f-b50d-4f60-89f4-2e0bfc966ee4","name":"Manual Trigger","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2016,384]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"equals","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_after","date":"={{ $now.minus(30, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1792,192],"id":"61054ba1-ca5e-4c00-9ffc-f9e9b2d8adcd","name":"Tasks Concluidas","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.format('yyyy-MM-dd') }}"},{"key":"Due Date|date","condition":"on_or_after","date":"={{ $now.minus(30, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1616,192],"id":"e37a958a-9033-401f-a1e9-dd54845bac5f","name":"Tasks Atrasadas","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Due Date|date","condition":"past_week"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1440,192],"id":"bb56ae9e-5e82-4d4a-bab0-bdb7e6c37030","name":"Tasks Criadas Semana","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21505ed2-eb60-4966-8d64-dc0411270e03","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://www.notion.so/21505ed2eb6049668d64dc0411270e03"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"In progress"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1248,192],"id":"303d3011-2e05-4d7e-8b8f-647b0407f8f6","name":"Active Projects","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"a95901bb-eb94-45df-8136-1b05f1412a3c","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,192],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const bridgeOutput = $input.first().json;\n\nif (bridgeOutput.output && bridgeOutput.output.length > 10) {\n  return [{ json: { output: bridgeOutput.output, elapsed_s: bridgeOutput.elapsed_s || 0, fallback: false, prompt: '' } }];\n}\n\nconst prompt = $('Build SWOT Prompt').first().json.prompt || '';\nreturn [{ json: { output: '', elapsed_s: 0, fallback: true, prompt: prompt } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,192],"id":"ceee05ee-5f2c-46a8-ad74-bc4c681c7661","name":"Fallback Router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fb-check","leftValue":"={{ $json.fallback }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-256,192],"id":"5c9ff441-8015-47cf-8026-c4a5159cbf3f","name":"IF Fallback"},{"parameters":{"chatId":"-1002374157964","text":"={{\n  (() => {\n    const SP = \"_[]()~`>#+-=|{}.!\\\\\";\n    const esc = (s) => s.split('').map(c => SP.includes(c) ? '\\\\' + c : c).join('');\n    const tx = (text) => esc(text).replace(/\\*\\*(.+?)\\*\\*/gs, '*$1*');\n    return '📊 *Weekly SWOT — ' + esc($now.format('dd/MM/yyyy')) + '*\\n'\n      + tx($json.output)\n      + '\\n\\\\-\\\\-\\\\-\\n'\n      + '_⏱️ Gerado em ' + esc(String($json.elapsed_s)) + 's via Claude Code \\\\(with memory\\\\)_';\n  })()\n}}","additionalFields":{"parse_mode":"MarkdownV2"}},"id":"52b2ff6c-6aed-4eef-a94f-683532905696","name":"Telegram SWOT","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[432,80],"webhookId":"99bd7ffe-221b-4f67-9202-b5def9067686","credentials":null},{"parameters":{"jsCode":"const output = $json.output;\nconst elapsed = $json.elapsed_s;\nconst now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nlet text = output\n  .replace(/^### (.+)$/gm, '*$1*')\n  .replace(/^## (.+)$/gm, '*$1*')\n  .replace(/^# (.+)$/gm, '*$1*')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\ntext = `📊 Weekly SWOT — ${date}\\n\\n${text}\\n\\n───\\n⏱️ Gerado em ${elapsed}s via Claude Code (with memory)`;\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,240],"id":"3bb15b61-2832-4cf9-8ad6-2a7c02c2947c","name":"Format WhatsApp"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[624,240],"id":"f16642ff-eed7-4ca0-92b2-f5f20aa9fa32","name":"WhatsApp SWOT","credentials":null},{"parameters":{"jsCode":"const response = $input.first().json;\nconst text = response.content && response.content[0] ? response.content[0].text : JSON.stringify(response);\nreturn [{ json: { output: text + '\\n\\n⚠️ Gerado via Haiku API (fallback — Claude Bridge indisponivel)', elapsed_s: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,-16],"id":"7432dbce-389c-4f0e-8620-99e523a1095d","name":"Format api Response"},{"parameters":{"modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[-96,-16],"id":"972c4660-8922-4b8c-a6b9-1adabf6829d7","name":"Claude api","credentials":null},{"parameters":{"jsCode":"// ===== HELPERS =====\nfunction getTaskName(item) {\n  const props = item.json.properties || {};\n  const nameProps = ['Name', 'Task', 'Title', 'name', 'title'];\n  for (const key of nameProps) {\n    if (props[key] && props[key].title && Array.isArray(props[key].title) && props[key].title.length > 0) {\n      return props[key].title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  for (const key of Object.keys(props)) {\n    const p = props[key];\n    if (p && p.type === 'title' && Array.isArray(p.title) && p.title.length > 0) {\n      return p.title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  return '(sem nome)';\n}\n\nfunction getTags(item) {\n  const props = item.json.properties || {};\n  const tagProps = ['Tags', 'Tag', 'Labels'];\n  for (const key of tagProps) {\n    if (props[key]) {\n      if (props[key].multi_select) return props[key].multi_select.map(t => t.name);\n      if (props[key].select && props[key].select.name) return [props[key].select.name];\n    }\n  }\n  return [];\n}\n\nfunction getDueDate(item) {\n  const props = item.json.properties || {};\n  const dateProps = ['Due Date', 'Due', 'Date', 'Deadline'];\n  for (const key of dateProps) {\n    if (props[key] && props[key].date && props[key].date.start) {\n      return props[key].date.start;\n    }\n  }\n  return '';\n}\n\nfunction getProjectId(item) {\n  const props = item.json.properties || {};\n  const projProps = ['Project', 'Projects'];\n  for (const key of projProps) {\n    if (props[key] && props[key].relation && props[key].relation.length > 0) {\n      return props[key].relation[0].id;\n    }\n  }\n  return '';\n}\n\nfunction getProjectType(item) {\n  const props = item.json.properties || {};\n  const typeProps = ['Type', 'Tipo', 'Category'];\n  for (const key of typeProps) {\n    if (props[key]) {\n      if (props[key].select && props[key].select.name) return props[key].select.name;\n    }\n  }\n  return '';\n}\n\nfunction getContext(tags) {\n  if (tags.includes('Brasil')) return '🇧🇷';\n  if (tags.includes('Portugal')) return '🇵🇹';\n  return '';\n}\n\nfunction getDependency(tags) {\n  if (tags.includes('Dependo de Terceiros')) return '⏸️';\n  return '';\n}\n\nfunction getTodayLisbon() {\n  const now = new Date();\n  return new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Lisbon',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  }).format(now);\n}\n\nfunction getWeekdayLisbon(dateStr) {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  const fmt = new Intl.DateTimeFormat('pt-PT', {\n    timeZone: 'Europe/Lisbon',\n    weekday: 'long'\n  });\n  const day = fmt.format(d).toLowerCase();\n  const map = {\n    'domingo': 'Domingo',\n    'segunda-feira': 'Segunda',\n    'terça-feira': 'Terca',\n    'quarta-feira': 'Quarta',\n    'quinta-feira': 'Quinta',\n    'sexta-feira': 'Sexta',\n    'sábado': 'Sabado'\n  };\n  return map[day] || day;\n}\n\nfunction getISOWeek(dateStr) {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  const target = new Date(d.valueOf());\n  const dayNr = (d.getUTCDay() + 6) % 7;\n  target.setUTCDate(target.getUTCDate() - dayNr + 3);\n  const firstThursday = target.valueOf();\n  target.setUTCMonth(0, 1);\n  if (target.getUTCDay() !== 4) {\n    target.setUTCMonth(0, 1 + ((4 - target.getUTCDay()) + 7) % 7);\n  }\n  return 1 + Math.ceil((firstThursday - target) / (7 * 24 * 3600 * 1000));\n}\n\nfunction getISOWeekYear(dateStr) {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  const target = new Date(d.valueOf());\n  target.setUTCDate(target.getUTCDate() - ((d.getUTCDay() + 6) % 7) + 3);\n  return target.getUTCFullYear();\n}\n\n// ===== GET WEEK DAILY SUMMARIES (ULTIMOS 7 DIAS) =====\nlet weekSummariesBlock = '';\nlet weekSummariesArr = [];\nlet weekHasSummaries = false;\nlet totalScoreSum = 0;\nlet totalScoreCount = 0;\nlet avgScore = null;\nlet manualDaysCount = 0;\nlet patrolDaysCount = 0;\nlet uniqueDates = new Set();\nlet trend = 'N/A';\n\nfunction extractDateFromEntry(entry) {\n  const dateTag = (entry.tags || []).find(t => /^\\d{4}-\\d{2}-\\d{2}$/.test(t));\n  if (dateTag) return dateTag;\n  const summary = entry.summary || '';\n  const m1 = summary.match(/Daily summary (\\d{4}-\\d{2}-\\d{2})/);\n  if (m1) return m1[1];\n  const m2 = summary.match(/Daily summary (\\d{2})\\/(\\d{2})/);\n  if (m2) return `2026-${m2[2]}-${m2[1]}`;\n  if (entry.created_at) {\n    const d = new Date(entry.created_at);\n    d.setUTCDate(d.getUTCDate() - 1);\n    return d.toISOString().slice(0, 10);\n  }\n  return 'data?';\n}\n\nfunction isManualSummary(entry) {\n  return entry.source === 'Manual' && (entry.importance >= 2);\n}\n\ntry {\n  const summaryNode = $('Get Week Summary').first().json;\n  if (summaryNode && summaryNode.found && summaryNode.entries && summaryNode.entries.length > 0) {\n    weekHasSummaries = true;\n    weekSummariesArr = summaryNode.entries;\n\n    const manualOnly = summaryNode.entries.filter(isManualSummary);\n    const patrolOnly = summaryNode.entries.filter(e => !isManualSummary(e));\n    manualDaysCount = manualOnly.length;\n    patrolDaysCount = patrolOnly.length;\n\n    const compactLines = summaryNode.entries.map(entry => {\n      const dateExtracted = extractDateFromEntry(entry);\n      if (dateExtracted !== 'data?') uniqueDates.add(dateExtracted);\n      const details = entry.details || '';\n      const scoreMatch = details.match(/SCORE_?DO_?DIA:\\s*(\\d+(?:\\.\\d+)?)\\s*\\/\\s*10/i);\n      const score = scoreMatch ? scoreMatch[1] + '/10' : '-';\n      if (scoreMatch) {\n        totalScoreSum += parseFloat(scoreMatch[1]);\n        totalScoreCount++;\n      }\n      const sourceTag = isManualSummary(entry) ? 'MANUAL' : 'PATROL';\n      const summaryShort = (entry.summary || '').slice(0, 100);\n      return `- ${dateExtracted} [${sourceTag}] | Score ${score} | ${summaryShort}`;\n    });\n\n    avgScore = totalScoreCount > 0 ? (totalScoreSum / totalScoreCount).toFixed(1) : null;\n\n    if (totalScoreCount >= 3) {\n      const scores = [];\n      for (const entry of summaryNode.entries) {\n        const m = (entry.details || '').match(/SCORE_?DO_?DIA:\\s*(\\d+(?:\\.\\d+)?)\\s*\\/\\s*10/i);\n        if (m) scores.push({ date: extractDateFromEntry(entry), score: parseFloat(m[1]) });\n      }\n      scores.sort((a, b) => a.date.localeCompare(b.date));\n      const firstHalf = scores.slice(0, Math.floor(scores.length / 2));\n      const secondHalf = scores.slice(Math.floor(scores.length / 2));\n      const avg1 = firstHalf.reduce((s, x) => s + x.score, 0) / firstHalf.length;\n      const avg2 = secondHalf.reduce((s, x) => s + x.score, 0) / secondHalf.length;\n      const diff = avg2 - avg1;\n      if (Math.abs(diff) < 0.5) trend = 'estavel';\n      else if (diff > 0) trend = 'subindo';\n      else trend = 'caindo';\n    } else if (totalScoreCount === 0) {\n      trend = 'sem dados (zero scores explicitos)';\n    } else {\n      trend = `amostra insuficiente (${totalScoreCount} score${totalScoreCount === 1 ? '' : 's'})`;\n    }\n\n    const manualDaysSet = new Set(manualOnly.map(extractDateFromEntry).filter(d => d !== 'data?'));\n    const manualDaysWithFechamento = manualDaysSet.size;\n    const diasSemFechamento = Math.max(0, 7 - manualDaysWithFechamento);\n\n    weekSummariesBlock = `\\n\\nDAILY SUMMARIES ULTIMOS 7 DIAS (${manualDaysWithFechamento} dias com fechamento MANUAL, ${patrolDaysCount} entries PATROL automaticas):\\n${compactLines.join('\\n')}\\n\\nMEDIA DE SCORE: ${avgScore !== null ? avgScore + '/10 (' + totalScoreCount + ' scores)' : 'N/A — Ary nao registou SCORE DO DIA nos summaries'}\\nTENDENCIA: ${trend}\\nDIAS SEM FECHAMENTO MANUAL: ${diasSemFechamento}/7\\n\\nDETALHE COMPLETO DOS SUMMARIES (para analise de padroes):\\n${summaryNode.entries.map(e => {\n      const dateExtracted = extractDateFromEntry(e);\n      const sourceTag = isManualSummary(e) ? 'MANUAL' : 'PATROL';\n      return `=== ${dateExtracted} [${sourceTag}] ===\\n${e.details || e.summary}`;\n    }).join('\\n\\n')}\\n`;\n  } else {\n    weekSummariesBlock = '\\n\\n⚠️ MEMORY READ FAILURE OR EMPTY: Get Week Summary retornou 0 entries para tag daily-summary nos ultimos 7 dias. Investigar pipeline.\\n';\n  }\n} catch(e) {\n  weekSummariesBlock = '\\n\\n(Erro a obter daily summaries da semana: ' + (e.message || 'unknown') + ')\\n';\n}\n\n// ===== SEMANTIC SUMMARIES (NEW v3) =====\nlet semanticSummariesBlock = '';\nlet semanticHasResults = false;\nlet semanticResultsCount = 0;\n\ntry {\n  const semanticNode = $('Get Week Summaries (Semantic)').first().json;\n  const results = (semanticNode && semanticNode.results) || [];\n  semanticResultsCount = results.length;\n  \n  if (results.length > 0) {\n    semanticHasResults = true;\n    \n    const sevenDaysAgo = new Date();\n    sevenDaysAgo.setUTCDate(sevenDaysAgo.getUTCDate() - 7);\n    const cutoffDate = sevenDaysAgo.toISOString().slice(0, 10);\n    \n    const recentResults = results.filter(r => {\n      if (!r.created_at) return false;\n      return r.created_at >= cutoffDate;\n    });\n    \n    const tagOnlyIds = new Set(weekSummariesArr.map(e => e.id || e.summary).filter(x => x));\n    const semanticOnly = recentResults.filter(r => !tagOnlyIds.has(r.id || r.summary));\n    \n    if (semanticOnly.length > 0) {\n      semanticSummariesBlock = `\\n\\nSUMMARIES SEMANTICOS ADICIONAIS (${semanticOnly.length} entries encontradas via similarity, NAO apanhadas por tag literal):\\n${semanticOnly.slice(0, 10).map(r => {\n        const date = r.created_at || 'unknown';\n        const sim = r.similarity ? ` (sim: ${r.similarity})` : '';\n        return `[${date}]${sim} ${r.summary}\\n${(r.details || '').slice(0, 300)}`;\n      }).join('\\n---\\n')}\\n`;\n    } else {\n      semanticSummariesBlock = `\\n\\nSEMANTIC SEARCH: ${recentResults.length} resultados, todos ja apanhados pelo filtro tag literal. Coverage tag OK.\\n`;\n    }\n  } else {\n    semanticSummariesBlock = `\\n\\nSEMANTIC SEARCH: zero resultados (Brain Proxy pode estar down ou sem entries relevantes)\\n`;\n  }\n} catch (e) {\n  semanticSummariesBlock = `\\n\\n(Erro semantic search: ${e.message})\\n`;\n}\n\n// ===== WEEK SNAPSHOTS DIFF (NEW v3) =====\nlet weeklyDiffSection = '';\nlet weekSnapshots = [];\nlet diffLeftRadar = [];\nlet diffEnteredRadar = [];\nlet diffRescheduled = [];\nlet diffStuckAllWeek = [];\nlet diffLeftDoneReal = [];\nlet diffLeftOther = [];\n\ntry {\n  const snapshotsNode = $('Get Week Snapshots').all();\n  weekSnapshots = snapshotsNode\n    .map(i => i.json)\n    .filter(s => s && s.details);\n} catch (e) {\n  weekSnapshots = [];\n}\n\nif (weekSnapshots.length >= 2) {\n  try {\n    const first = weekSnapshots[0];\n    const last = weekSnapshots[weekSnapshots.length - 1];\n    \n    const firstDate = first.created_at ? first.created_at.substring(0, 10) : 'inicio';\n    const lastDate = last.created_at ? last.created_at.substring(0, 10) : 'fim';\n    \n    const firstPayload = JSON.parse(first.details);\n    const lastPayload = JSON.parse(last.details);\n    \n    const firstTasks = firstPayload.tasks || [];\n    const lastTasks = lastPayload.tasks || [];\n    \n    const firstIds = new Set(firstTasks.map(t => t.id));\n    const lastIds = new Set(lastTasks.map(t => t.id));\n    const firstMap = new Map(firstTasks.map(t => [t.id, t]));\n    \n    diffLeftRadar = firstTasks.filter(t => !lastIds.has(t.id));\n    diffEnteredRadar = lastTasks.filter(t => !firstIds.has(t.id));\n    diffStuckAllWeek = lastTasks.filter(t => {\n      const f = firstMap.get(t.id);\n      return f && f.due_date === t.due_date && t.status !== 'Done';\n    });\n    diffRescheduled = lastTasks.filter(t => {\n      const f = firstMap.get(t.id);\n      return f && f.due_date !== t.due_date;\n    });\n    \n    // PATCH 2026-05-30: decompor diffLeftRadar em done_real vs other (saiu da janela mas não Done)\n    // Cross-reference com Tasks Concluidas (últimos 30d) para identificar done_real\n    const doneItemsForXref = $('Tasks Concluidas').all().filter(i => {\n      const props = i.json.properties || {};\n      return Object.keys(props).length > 0;\n    });\n    const doneIds = new Set(doneItemsForXref.map(i => i.json.id));\n    \n    diffLeftDoneReal = diffLeftRadar.filter(t => doneIds.has(t.id));\n    diffLeftOther = diffLeftRadar.filter(t => !doneIds.has(t.id));\n    \n    const lines = [];\n    lines.push(`MOVIMENTO DA SEMANA (snapshots ${firstDate} → ${lastDate}, ${weekSnapshots.length} pontos):`);\n    lines.push(`Backlog total Notion: ${firstPayload.total_pending_in_notion || firstTasks.length} → ${lastPayload.total_pending_in_notion || lastTasks.length}`);\n    lines.push(`Relevantes (snapshot filter): ${firstTasks.length} → ${lastTasks.length}`);\n    lines.push(`Saidas: ${diffLeftRadar.length} (${diffLeftDoneReal.length} Done reais + ${diffLeftOther.length} saiu da janela sem Done) | Entradas: ${diffEnteredRadar.length} | Reagendadas: ${diffRescheduled.length} | Stuck toda semana: ${diffStuckAllWeek.length}`);\n    \n    if (diffStuckAllWeek.length > 0) {\n      lines.push(`\\nSTUCK ALL WEEK (nao mexido em 7 dias, mesmo due_date inicio e fim):`);\n      diffStuckAllWeek.slice(0, 10).forEach(t => {\n        const prio = t.priority === 'Alta' ? '🔴' : t.priority === 'Media' ? '🟡' : '⚪';\n        const due = t.due_date ? ` (due: ${t.due_date})` : ' (sem data)';\n        lines.push(`  ${prio} ${t.name}${due}`);\n      });\n      if (diffStuckAllWeek.length > 10) lines.push(`  ... +${diffStuckAllWeek.length - 10} mais`);\n    }\n    \n    if (diffRescheduled.length > 0) {\n      lines.push(`\\nREAGENDADAS (${diffRescheduled.length} tasks com due_date alterado):`);\n      diffRescheduled.slice(0, 5).forEach(t => {\n        const f = firstMap.get(t.id);\n        const oldD = f.due_date || '(sem)';\n        const newD = t.due_date || '(sem)';\n        lines.push(`  - ${t.name}: ${oldD} → ${newD}`);\n      });\n      if (diffRescheduled.length > 5) lines.push(`  ... +${diffRescheduled.length - 5} mais`);\n    }\n    \n    if (diffRescheduled.length > 5) {\n      lines.push(`\\n⚠️ ALERTA PROCRASTINACAO: ${diffRescheduled.length} tasks reagendadas esta semana.`);\n    }\n    \n    if (diffEnteredRadar.length > diffLeftRadar.length + 5) {\n      lines.push(`\\n⚠️ ALERTA BACKLOG INFLATION: ${diffEnteredRadar.length} entradas vs ${diffLeftRadar.length} saidas (${diffEnteredRadar.length - diffLeftRadar.length} liquido +).`);\n    }\n    \n    weeklyDiffSection = '\\n\\n' + lines.join('\\n') + '\\n';\n  } catch (e) {\n    weeklyDiffSection = `\\n\\n(Erro a calcular diff semanal: ${e.message})\\n`;\n  }\n} else {\n  weeklyDiffSection = `\\n\\nMOVIMENTO DA SEMANA: ${weekSnapshots.length} snapshots disponiveis (precisa >=2 para diff). Sistema acabou de iniciar — diff completo disponivel semana que vem.\\n`;\n}\n\n// ===== BUILD PROJECT LOOKUP MAP =====\nconst projectItems = $('Active Projects').all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\n\nconst projectMap = {};\nfor (const p of projectItems) {\n  const id = p.json.id;\n  const name = getTaskName(p);\n  const type = getProjectType(p);\n  projectMap[id] = { name, type };\n}\n\nfunction getProjectName(item) {\n  const id = getProjectId(item);\n  if (!id) return '';\n  if (projectMap[id]) return projectMap[id].name;\n  return '(unknown project)';\n}\n\n// ===== DATE REFERENCES =====\nconst today = getTodayLisbon();\nconst weekday = getWeekdayLisbon(today);\nconst weekNumber = getISOWeek(today);\nconst weekYear = getISOWeekYear(today);\n\nconst [ty, tm, td] = today.split('-');\nconst todayDisplay = `${td}/${tm}/${ty}`;\n\n// ===== TASKS CONCLUIDAS =====\nconst doneItems = $('Tasks Concluidas').all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\nconst done = doneItems.map(i => {\n  const name = getTaskName(i);\n  const due = getDueDate(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const ctx = getContext(tags);\n  const projectTag = project ? ` [${project}]` : '';\n  const ctxTag = ctx ? ` ${ctx}` : '';\n  const dueTag = due ? ` (${due})` : '';\n  return `${name}${projectTag}${ctxTag}${dueTag}`;\n}).join('\\n');\nconst doneCount = doneItems.length;\n\n// ===== TASKS ATRASADAS =====\n// PATCH 2026-05-30: filtro estrito Due < today (Notion node devolve inclusivo, separamos aqui)\nconst overdueRawItems = $('Tasks Atrasadas').all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\n\nconst overdueItems = overdueRawItems.filter(i => {\n  const due = getDueDate(i);\n  return due && due < today;\n});\nconst dueTodayItems = overdueRawItems.filter(i => {\n  const due = getDueDate(i);\n  return due && due === today;\n});\n\nconst overdue = overdueItems.map(i => {\n  const name = getTaskName(i);\n  const due = getDueDate(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const prio = tags.includes('Prioridade Alta') ? '🔴'\n    : (tags.includes('Prioridade Média') || tags.includes('Prioridade Media')) ? '🟡'\n    : '⚪';\n  const ctx = getContext(tags);\n  const dep = getDependency(tags);\n  const flags = [ctx, dep].filter(x => x).join(' ');\n  const projectTag = project ? ` [${project}]` : '';\n  const flagsTag = flags ? ` ${flags}` : '';\n  const dueD = new Date(due + 'T12:00:00Z');\n  const todayD = new Date(today + 'T12:00:00Z');\n  const daysOverdue = Math.floor((todayD - dueD) / (1000 * 60 * 60 * 24));\n  const daysTag = daysOverdue > 0 ? ` (${daysOverdue}d)` : '';\n  return `${prio} ${name}${projectTag}${flagsTag} (due: ${due})${daysTag}`;\n}).join('\\n');\nconst overdueCount = overdueItems.length;\nconst dueTodayCount = dueTodayItems.length;\n\nconst dependencyItems = overdueItems.filter(i => getTags(i).includes('Dependo de Terceiros'));\nconst dependencyCount = dependencyItems.length;\nconst ownOverdueCount = overdueCount - dependencyCount;\n\n// ===== TASKS DUE WEEK =====\nconst dueWeekItems = $('Tasks Criadas Semana').all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\nconst dueWeekCount = dueWeekItems.length;\n\n// ===== ACTIVE PROJECTS =====\nconst projects = projectItems.map(i => {\n  const name = getTaskName(i);\n  const type = getProjectType(i);\n  const icon = type === 'Client' ? '🟢'\n    : type === 'Prospect' ? '🟡'\n    : type === 'Closed' ? '⚫'\n    : '⚪';\n  return `${icon} ${name}${type ? ' (' + type + ')' : ''}`;\n}).join('\\n');\n\nconst clientCount = projectItems.filter(p => getProjectType(p) === 'Client').length;\nconst prospectCount = projectItems.filter(p => getProjectType(p) === 'Prospect').length;\n\n// ===== PROMPT =====\nconst prompt = `Hoje e ${todayDisplay}, ${weekday}. SWOT Semanal para Ary Ribeiro.\n\nCONTEXTO: Consultor IA, 3 verticais: TJ (advogados BR R$2.997/mes), TM (clinicas BR R$2.997/mes), CL (imobiliarias PT E497/mes). Meta Q2: E12.857 trimestral (~E4.286/mes). Revenue actual: E0. Foco actual: construcao da maquina (consistencia de conteudos). Regra: NAO cobrar Sales/pipeline ate 11 Jun 2026.\n\nPROJECTOS ACTIVOS (${projectItems.length} total: ${clientCount} Client, ${prospectCount} Prospect):\n${projects || '(nenhum projecto activo)'}\n${weekSummariesBlock}\n${semanticSummariesBlock}\n${weeklyDiffSection}\nTASKS NOTION CONCLUIDAS ULTIMOS 30 DIAS (${doneCount}):\n${done || '(nenhuma task concluida)'}\n\nTASKS ATRASADAS (${overdueCount} vencidas, due <= hoje, ultimos 30d${dependencyCount > 0 ? '; ' + dependencyCount + ' a aguardar terceiros' : ''}):\n${overdue || '(nenhuma task atrasada)'}\n\nVOLUME: ${dueWeekCount} tasks com Due Date na semana passada\n\nLEGENDA: 🔴 Alta | 🟡 Media | ⚪ Baixa/sem | 🇧🇷 Brasil | 🇵🇹 Portugal | ⏸️ Dependo de terceiros | 🟢 Client | 🟡 Prospect | ⚫ Closed\n\nANALISA estes dados e gera um SWOT estrategico:\n\n═══ HARD CONSTRAINTS ═══\n\nHC1 - DIFF SEMANAL: SEMANTICA E LIMITACOES (v4 reforcado):\nA seccao MOVIMENTO DA SEMANA mostra diff entre snapshot Notion no inicio e fim da semana.\nDECOMPOSICAO IMPORTANTE de \"Saidas\" (diffLeftRadar):\n- diffLeftDoneReal=${diffLeftDoneReal.length}: tasks que SAIRAM porque foram marcadas Done (eliminacao real).\n- diffLeftOther=${diffLeftOther.length}: tasks que sairam da janela relevante MAS nao foram Done.\n  Possiveis razoes: rescheduled para >14d, due_date passou para <-7d sem fechar, ou apagadas.\n  NAO chamar a estas \"eliminadas\" ou \"concluidas\" — chamar \"sairam da janela sem Done\".\n\nLIMITACOES DA METRICA stuck_all_week:\ndiffStuckAllWeek=${diffStuckAllWeek.length} conta tasks com mesmo id E mesmo due_date no inicio e fim.\nNAO captura: edits in-place (status, descricao), trabalho parcial em time_log, decomposicao cognitiva.\nPode haver trabalho real em tasks \"stuck\" que nao move due_date. NAO afirmar \"X% do backlog nao foi tocado\" — afirmar \"X tasks com due_date inalterado e id presente em ambos snapshots\".\n\nCRUZAMENTO OBRIGATORIO:\n- Se diffLeftDoneReal >> tasks reportadas como concluidas em daily summaries: ha desalinhamento (Ary fecha sem registar OU registou trabalho que nao se materializou em task fechada).\n- Se diffEnteredRadar > diffLeftRadar + 5: possivel backlog inflation (mas verificar se entradas sao tasks novas ou reagendamento de existentes).\n\nJUIZO BALANCEADO:\nNAO dizer \"boa semana\" automaticamente se stuck_all_week >= 8.\nNAO dizer \"semana ruim\" automaticamente se stuck_all_week >= 8 — pode ser artefacto de medicao.\nAvaliar contra: diffLeftDoneReal, milestones nos daily summaries, e revenue/movimento estrategico.\n\nHC2 - SEMANTIC vs TAG COVERAGE:\nA seccao SUMMARIES SEMANTICOS ADICIONAIS mostra entries que o filtro tag literal nao apanhou.\nSe semanticHasResults=true E semanticOnly>0: usar esses como contexto adicional para padroes.\n${semanticHasResults && semanticResultsCount > 0 ? 'Coverage: ' + semanticResultsCount + ' entries semantic (revisar se ha gaps no pipeline tag literal).' : 'Coverage tag literal OK.'}\n\nHC3 - MANUAL vs PATROL:\nmanualDaysCount=${manualDaysCount} (fechamentos do Ary com Ops Manager Desktop)\npatrolDaysCount=${patrolDaysCount} (entries automaticas geradas pelo Night Shift/HeartbeatPatrol)\nScore real depende de manualDaysCount. patrolDaysCount NAO conta para higiene.\n\nHC4 - AUDITABILIDADE DE NUMEROS NOTION (NEW):\nValores pre-calculados disponiveis:\n  overdueCount=${overdueCount} (Due < hoje, ESTRITO — exclui Due = hoje)\n  dueTodayCount=${dueTodayCount} (Due = hoje, AINDA NAO vencidas)\n  ownOverdueCount=${ownOverdueCount} (overdue sem dependencias de terceiros)\n  dependencyCount=${dependencyCount}\n  doneCount=${doneCount} (tasks Done ultimos 30d)\n  diffLeftDoneReal=${diffLeftDoneReal.length}, diffLeftOther=${diffLeftOther.length}\n  diffEnteredRadar=${diffEnteredRadar.length}, diffStuckAllWeek=${diffStuckAllWeek.length}\n  diffRescheduled=${diffRescheduled.length}\nReportar EXACTAMENTE estes valores. NUNCA arredondar, aproximar ou inferir. NUNCA copiar\ncontagens de SWOTs anteriores ou daily summaries como se fossem desta semana. Se um valor\nnao for claro acima, escrever \"N/A\".\n\nHC5 - ANTI-CONTRADICAO COM DECISOES JA REGISTADAS (NEW):\nOs daily summaries da semana (acima) podem conter DECISOES JA TOMADAS pelo Ary sobre acoes\nfuturas (ex: \"envio proposta segunda\", \"sales moratorium ate 11 Jun\", \"yoga parqueado\").\nANTES de propor uma DECISAO #1 nova:\n- Verificar se algum daily summary ja menciona decisao sobre o mesmo topico.\n- Se sim e a decisao do Ary contradiz a tua proposta: NAO sobrescrever. Mencionar a decisao\n  do Ary e propor algo COMPLEMENTAR, nao contrario.\n- Exemplo: se daily summary diz \"envio proposta segunda manha\", NAO propor \"envio proposta sabado\".\n- Tom: respeitar a autonomia do Ary sobre decisoes ja tomadas, mesmo que discordes.\n\nHC6 - DISTINGUIR REQUIREMENT NOVO DE METRICA PERDIDA (NEW):\nNAO inventar requirements passados como se tivessem existido formalmente.\n- Se uma metrica (ex: SCORE DO DIA, tracking time_log, fechamento manual) NAO foi\n  registada consistentemente: NAO dizer \"metrica perdida\" ou \"sistema quebrou\".\n- DIZER em alternativa: \"metrica X nunca foi formalizada como obrigatoria — vale a pena\n  decidires adopta-la como requirement\".\n- A diferenca importa: \"perdida\" implica regressao; \"nunca formalizada\" e proposta nova.\n\n═══════════════════════════════════════════════\n\nREGRAS:\n1. ATE 11 JUN 2026: NAO cobrar Sales/pipeline/outreach. Foco em consistencia.\n2. CRUZAR DAILY SUMMARIES com tasks Notion E diff semanal: identifica discrepancias (trabalho registado vs tasks fechadas vs movimento real do backlog).\n3. PADROES TEMPORAIS dos daily summaries: dias mais produtivos, dias mais fracos, score trends (subiu? caiu? estavel?), categorias time_log dominantes.\n4. STRENGTHS: wins reais (tasks Done confirmadas via diffLeftDoneReal + rotinas cumpridas + milestones registados em daily summaries). NAO usar diffLeftRadar total como \"wins\" — apenas diffLeftDoneReal=${diffLeftDoneReal.length} sao Done confirmados.\n5. WEAKNESSES: ${ownOverdueCount} tasks vencidas estritas (Due<hoje) por falha + ${diffStuckAllWeek.length} stuck all week (com ressalva de medicao) + dias sem fechamento manual. NAO categorico — usar linguagem cautelosa para metricas com limitacoes conhecidas.\n6. OPPORTUNITIES: padroes positivos a amplificar + o que acelerar proxima semana.\n7. THREATS: anti-streaks (>3 dias atrasada) + stuck_all_week + backlog inflation + dias sem fechamento + revenue E0.\n8. Tasks com ⏸️ NAO sao falha do Ary — flag separadamente.\n9. SE media de score < 6: alarme — burnout incipiente ou falta de foco.\n10. SE media de score >= 8 MAS stuck_all_week >= 8: score optimista, justificar.\n11. Termina com 1 DECISAO ESTRATEGICA para a proxima semana (foco em consistencia de conteudos + maquina). ANTES de escrever a DECISAO, aplicar HC5: verificar se daily summaries da semana ja contem decisao do Ary sobre o topico. Se sim, propor algo COMPLEMENTAR ou validacao — nao contradizer decisao ja tomada.\n12. Brutalmente honesto - zero fluff, tom de board member exigente.\n13. Se nao ha dados suficientes para uma categoria, diz \"dados insuficientes\".\n\nFORMATO:\nSWOT Semanal - Semana ${weekNumber}/${weekYear}\n\nCONSISTENCIA DA SEMANA\n${weekHasSummaries ? `- Dias com fechamento MANUAL: ${manualDaysCount}/7 | Media score: ${avgScore !== null ? avgScore + '/10' : 'N/A'} | Tendencia: ${trend}` : '- ⚠️ ZERO dias com fechamento. Higiene de sono e accountability comprometidas.'}\n\nMOVIMENTO REAL (DIFF SEMANAL — snapshot inicio vs fim, janela relevante deslizante -7/+14d)\n- Saidas: ${diffLeftRadar.length} (${diffLeftDoneReal.length} Done reais + ${diffLeftOther.length} sairam da janela sem Done) | Entradas: ${diffEnteredRadar.length} | Stuck: ${diffStuckAllWeek.length} (definicao: mesmo id + mesmo due_date) | Reagendadas: ${diffRescheduled.length}\n- NOTA SEMANTICA: \"Saidas\" decompoe-se em (a) Done reais (eliminacao confirmada) e (b) outros (saiu da janela mas nao Done — pode ser reagendamento, due_date <-7d, ou apagada). NAO confundir os dois.\n- NOTA stuck: contar tasks com due_date inalterado NAO equivale a \"backlog nao foi tocado\" — edits in-place e trabalho parcial nao aparecem aqui.\n- [comentar movimento real do backlog, distinguindo Done reais de \"sairam da janela\"]\n\nSTRENGTHS\n- [wins reais cruzando daily summaries + tasks Notion + diff_left_radar]\n\nWEAKNESSES\n- [gaps, dias sem fechamento, anti-streaks, stuck_all_week, score baixo]\n\nOPPORTUNITIES\n- [padroes positivos a amplificar]\n\nTHREATS\n- [riscos acumulados, rotina a falhar, backlog inflation, revenue E0]\n\nDEPENDENCIAS [so se ${dependencyCount} > 0]\n- [tasks bloqueadas por terceiros]\n\nPROJECTOS\n- [status dos activos]\n\nPADROES DETECTADOS [so se ${weekHasSummaries ? 'true' : 'false'}]\n- [insights cruzando os 7 dias: dias produtivos, categorias time_log dominantes, milestones, diff semanal]\n\nDECISAO #1 PROXIMA SEMANA\n[1 frase imperativa focada em consistencia de conteudos + maquina]\n\nMaximo 500 palavras.`;\n\nreturn [{ json: { prompt, timeout: 120000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,192],"id":"032a9496-c40c-4b6e-9b4a-e14b1aa50c31","name":"Build SWOT Prompt"},{"parameters":{"workflowId":{"__rl":true,"value":"gxVtgxoGiPD1pW0J","mode":"list","cachedResultUrl":"/workflow/gxVtgxoGiPD1pW0J","cachedResultName":"Claude Brain — Memory Read by Tag v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mode":"last_n_days","target_tag":"daily-summary","date_tag":"=","days":"7"},"matchingColumns":[],"schema":[{"id":"mode","displayName":"mode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"target_tag","displayName":"target_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"date_tag","displayName":"date_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"days","displayName":"days","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1056,192],"id":"e5a88583-7738-4448-bfc1-18208b7f3671","name":"Get Week Summary","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"https://workflows.coletiv.me/webhook/claude-ai-memory-search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"daily summary fechamento dia score time_log rotina"},{"name":"count","value":"15"},{"name":"threshold","value":"0.35"},{"name":"project","value":"Ops"}]},"options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1776,-272],"id":"d947d0f6-8373-4d57-83f8-4a9a761810aa","name":"Get Week Summaries (Semantic)","alwaysOutputData":true},{"parameters":{"url":"={{ 'https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories?tags=cs.{notion-snapshot}&created_at=gte.' + DateTime.now().setZone('Europe/Lisbon').minus({days: 7}).toFormat('yyyy-MM-dd') + '&select=id,summary,details,created_at,tags&order=created_at.asc' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1776,-48],"id":"575fec2f-1111-407a-a5d1-3af12cde064e","name":"Get Week Snapshots","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"naTm33u35fDAWAIW","mode":"list","cachedResultUrl":"/workflow/naTm33u35fDAWAIW","cachedResultName":"Claude Brain — Snapshot Write v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"summary":"={{ 'Weekly SWOT — Semana ' + $now.toFormat('W/yyyy') }}","details":"={{ $json.output }}","type":"Insight","importance":"4","project":"Ops","tags":"={{ JSON.stringify(['weekly-swot', 'semana-' + $now.toFormat('WW-yyyy'), 'auto']) }}","source":"WeeklySWOT"},"matchingColumns":[],"schema":[{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"details","displayName":"details","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"importance","displayName":"importance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"39b43113-a1d6-498d-a855-d162f6628ae0","name":"Save SWOT to Brain","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[432,400]},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[6],"triggerAtHour":4}]}},"id":"b17dfc3f-0099-455f-afef-e24424ad974d","name":"Cron Sabado 04:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2016,192]}],"connections":{"Manual Trigger":{"main":[[{"node":"Tasks Concluidas","type":"main","index":0}]]},"Tasks Concluidas":{"main":[[{"node":"Tasks Atrasadas","type":"main","index":0}]]},"Tasks Atrasadas":{"main":[[{"node":"Tasks Criadas Semana","type":"main","index":0}]]},"Tasks Criadas Semana":{"main":[[{"node":"Active Projects","type":"main","index":0}]]},"Active Projects":{"main":[[{"node":"Get Week Summary","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Fallback Router","type":"main","index":0}]]},"Fallback Router":{"main":[[{"node":"IF Fallback","type":"main","index":0}]]},"IF Fallback":{"main":[[{"node":"Claude api","type":"main","index":0}],[{"node":"Telegram SWOT","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Save SWOT to Brain","type":"main","index":0}]]},"Format WhatsApp":{"main":[[{"node":"WhatsApp SWOT","type":"main","index":0}]]},"Claude api":{"main":[[{"node":"Format api Response","type":"main","index":0}]]},"Format api Response":{"main":[[{"node":"Telegram SWOT","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Save SWOT to Brain","type":"main","index":0}]]},"Build SWOT Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Get Week Summary":{"main":[[{"node":"Build SWOT Prompt","type":"main","index":0}]]},"Get Week Summaries (Semantic)":{"main":[[]]},"Cron Sabado 04:00":{"main":[[{"node":"Tasks Concluidas","type":"main","index":0},{"node":"Get Week Summaries (Semantic)","type":"main","index":0},{"node":"Get Week Snapshots","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu","executionTimeout":1200},"staticData":{"node:Cron Sexta 17:00 UTC":{"recurrenceRules":[]},"node:Cron Sexta 21:00 UTC":{"recurrenceRules":[]},"node:Cron Sexta 17:00":{"recurrenceRules":[]},"node:Cron Sabado 04:00":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"249b433d-4c3b-4b83-a64c-612e3c19c996","activeVersionId":"249b433d-4c3b-4b83-a64c-612e3c19c996","triggerCount":1,"shared":[{"updatedAt":"2026-04-16T14:24:49.603Z","createdAt":"2026-04-16T14:24:49.603Z","role":"workflow:owner","workflowId":"3vQI5AibhbZfDuT7","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-31T01:09:53.103Z","createdAt":"2026-05-31T01:09:53.103Z","versionId":"249b433d-4c3b-4b83-a64c-612e3c19c996","workflowId":"3vQI5AibhbZfDuT7","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"manual-trigger","name":"trigger","value":"manual","type":"string"}]},"options":{}},"id":"7777bf6f-b50d-4f60-89f4-2e0bfc966ee4","name":"Manual Trigger","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2016,384]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"equals","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_after","date":"={{ $now.minus(30, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1792,192],"id":"61054ba1-ca5e-4c00-9ffc-f9e9b2d8adcd","name":"Tasks Concluidas","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.format('yyyy-MM-dd') }}"},{"key":"Due Date|date","condition":"on_or_after","date":"={{ $now.minus(30, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1616,192],"id":"e37a958a-9033-401f-a1e9-dd54845bac5f","name":"Tasks Atrasadas","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Due Date|date","condition":"past_week"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1440,192],"id":"bb56ae9e-5e82-4d4a-bab0-bdb7e6c37030","name":"Tasks Criadas Semana","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21505ed2-eb60-4966-8d64-dc0411270e03","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://www.notion.so/21505ed2eb6049668d64dc0411270e03"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"In progress"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1248,192],"id":"303d3011-2e05-4d7e-8b8f-647b0407f8f6","name":"Active Projects","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"a95901bb-eb94-45df-8136-1b05f1412a3c","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,192],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const bridgeOutput = $input.first().json;\n\nif (bridgeOutput.output && bridgeOutput.output.length > 10) {\n  return [{ json: { output: bridgeOutput.output, elapsed_s: bridgeOutput.elapsed_s || 0, fallback: false, prompt: '' } }];\n}\n\nconst prompt = $('Build SWOT Prompt').first().json.prompt || '';\nreturn [{ json: { output: '', elapsed_s: 0, fallback: true, prompt: prompt } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,192],"id":"ceee05ee-5f2c-46a8-ad74-bc4c681c7661","name":"Fallback Router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fb-check","leftValue":"={{ $json.fallback }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-256,192],"id":"5c9ff441-8015-47cf-8026-c4a5159cbf3f","name":"IF Fallback"},{"parameters":{"chatId":"-1002374157964","text":"={{\n  (() => {\n    const SP = \"_[]()~`>#+-=|{}.!\\\\\";\n    const esc = (s) => s.split('').map(c => SP.includes(c) ? '\\\\' + c : c).join('');\n    const tx = (text) => esc(text).replace(/\\*\\*(.+?)\\*\\*/gs, '*$1*');\n    return '📊 *Weekly SWOT — ' + esc($now.format('dd/MM/yyyy')) + '*\\n'\n      + tx($json.output)\n      + '\\n\\\\-\\\\-\\\\-\\n'\n      + '_⏱️ Gerado em ' + esc(String($json.elapsed_s)) + 's via Claude Code \\\\(with memory\\\\)_';\n  })()\n}}","additionalFields":{"parse_mode":"MarkdownV2"}},"id":"52b2ff6c-6aed-4eef-a94f-683532905696","name":"Telegram SWOT","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[432,80],"webhookId":"99bd7ffe-221b-4f67-9202-b5def9067686","credentials":null},{"parameters":{"jsCode":"const output = $json.output;\nconst elapsed = $json.elapsed_s;\nconst now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nlet text = output\n  .replace(/^### (.+)$/gm, '*$1*')\n  .replace(/^## (.+)$/gm, '*$1*')\n  .replace(/^# (.+)$/gm, '*$1*')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\ntext = `📊 Weekly SWOT — ${date}\\n\\n${text}\\n\\n───\\n⏱️ Gerado em ${elapsed}s via Claude Code (with memory)`;\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,240],"id":"3bb15b61-2832-4cf9-8ad6-2a7c02c2947c","name":"Format WhatsApp"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[624,240],"id":"f16642ff-eed7-4ca0-92b2-f5f20aa9fa32","name":"WhatsApp SWOT","credentials":null},{"parameters":{"jsCode":"const response = $input.first().json;\nconst text = response.content && response.content[0] ? response.content[0].text : JSON.stringify(response);\nreturn [{ json: { output: text + '\\n\\n⚠️ Gerado via Haiku API (fallback — Claude Bridge indisponivel)', elapsed_s: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,-16],"id":"7432dbce-389c-4f0e-8620-99e523a1095d","name":"Format api Response"},{"parameters":{"modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[-96,-16],"id":"972c4660-8922-4b8c-a6b9-1adabf6829d7","name":"Claude api","credentials":null},{"parameters":{"jsCode":"// ===== HELPERS =====\nfunction getTaskName(item) {\n  const props = item.json.properties || {};\n  const nameProps = ['Name', 'Task', 'Title', 'name', 'title'];\n  for (const key of nameProps) {\n    if (props[key] && props[key].title && Array.isArray(props[key].title) && props[key].title.length > 0) {\n      return props[key].title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  for (const key of Object.keys(props)) {\n    const p = props[key];\n    if (p && p.type === 'title' && Array.isArray(p.title) && p.title.length > 0) {\n      return p.title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  return '(sem nome)';\n}\n\nfunction getTags(item) {\n  const props = item.json.properties || {};\n  const tagProps = ['Tags', 'Tag', 'Labels'];\n  for (const key of tagProps) {\n    if (props[key]) {\n      if (props[key].multi_select) return props[key].multi_select.map(t => t.name);\n      if (props[key].select && props[key].select.name) return [props[key].select.name];\n    }\n  }\n  return [];\n}\n\nfunction getDueDate(item) {\n  const props = item.json.properties || {};\n  const dateProps = ['Due Date', 'Due', 'Date', 'Deadline'];\n  for (const key of dateProps) {\n    if (props[key] && props[key].date && props[key].date.start) {\n      return props[key].date.start;\n    }\n  }\n  return '';\n}\n\nfunction getProjectId(item) {\n  const props = item.json.properties || {};\n  const projProps = ['Project', 'Projects'];\n  for (const key of projProps) {\n    if (props[key] && props[key].relation && props[key].relation.length > 0) {\n      return props[key].relation[0].id;\n    }\n  }\n  return '';\n}\n\nfunction getProjectType(item) {\n  const props = item.json.properties || {};\n  const typeProps = ['Type', 'Tipo', 'Category'];\n  for (const key of typeProps) {\n    if (props[key]) {\n      if (props[key].select && props[key].select.name) return props[key].select.name;\n    }\n  }\n  return '';\n}\n\nfunction getContext(tags) {\n  if (tags.includes('Brasil')) return '🇧🇷';\n  if (tags.includes('Portugal')) return '🇵🇹';\n  return '';\n}\n\nfunction getDependency(tags) {\n  if (tags.includes('Dependo de Terceiros')) return '⏸️';\n  return '';\n}\n\nfunction getTodayLisbon() {\n  const now = new Date();\n  return new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Lisbon',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  }).format(now);\n}\n\nfunction getWeekdayLisbon(dateStr) {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  const fmt = new Intl.DateTimeFormat('pt-PT', {\n    timeZone: 'Europe/Lisbon',\n    weekday: 'long'\n  });\n  const day = fmt.format(d).toLowerCase();\n  const map = {\n    'domingo': 'Domingo',\n    'segunda-feira': 'Segunda',\n    'terça-feira': 'Terca',\n    'quarta-feira': 'Quarta',\n    'quinta-feira': 'Quinta',\n    'sexta-feira': 'Sexta',\n    'sábado': 'Sabado'\n  };\n  return map[day] || day;\n}\n\nfunction getISOWeek(dateStr) {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  const target = new Date(d.valueOf());\n  const dayNr = (d.getUTCDay() + 6) % 7;\n  target.setUTCDate(target.getUTCDate() - dayNr + 3);\n  const firstThursday = target.valueOf();\n  target.setUTCMonth(0, 1);\n  if (target.getUTCDay() !== 4) {\n    target.setUTCMonth(0, 1 + ((4 - target.getUTCDay()) + 7) % 7);\n  }\n  return 1 + Math.ceil((firstThursday - target) / (7 * 24 * 3600 * 1000));\n}\n\nfunction getISOWeekYear(dateStr) {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  const target = new Date(d.valueOf());\n  target.setUTCDate(target.getUTCDate() - ((d.getUTCDay() + 6) % 7) + 3);\n  return target.getUTCFullYear();\n}\n\n// ===== GET WEEK DAILY SUMMARIES (ULTIMOS 7 DIAS) =====\nlet weekSummariesBlock = '';\nlet weekSummariesArr = [];\nlet weekHasSummaries = false;\nlet totalScoreSum = 0;\nlet totalScoreCount = 0;\nlet avgScore = null;\nlet manualDaysCount = 0;\nlet patrolDaysCount = 0;\nlet uniqueDates = new Set();\nlet trend = 'N/A';\n\nfunction extractDateFromEntry(entry) {\n  const dateTag = (entry.tags || []).find(t => /^\\d{4}-\\d{2}-\\d{2}$/.test(t));\n  if (dateTag) return dateTag;\n  const summary = entry.summary || '';\n  const m1 = summary.match(/Daily summary (\\d{4}-\\d{2}-\\d{2})/);\n  if (m1) return m1[1];\n  const m2 = summary.match(/Daily summary (\\d{2})\\/(\\d{2})/);\n  if (m2) return `2026-${m2[2]}-${m2[1]}`;\n  if (entry.created_at) {\n    const d = new Date(entry.created_at);\n    d.setUTCDate(d.getUTCDate() - 1);\n    return d.toISOString().slice(0, 10);\n  }\n  return 'data?';\n}\n\nfunction isManualSummary(entry) {\n  return entry.source === 'Manual' && (entry.importance >= 2);\n}\n\ntry {\n  const summaryNode = $('Get Week Summary').first().json;\n  if (summaryNode && summaryNode.found && summaryNode.entries && summaryNode.entries.length > 0) {\n    weekHasSummaries = true;\n    weekSummariesArr = summaryNode.entries;\n\n    const manualOnly = summaryNode.entries.filter(isManualSummary);\n    const patrolOnly = summaryNode.entries.filter(e => !isManualSummary(e));\n    manualDaysCount = manualOnly.length;\n    patrolDaysCount = patrolOnly.length;\n\n    const compactLines = summaryNode.entries.map(entry => {\n      const dateExtracted = extractDateFromEntry(entry);\n      if (dateExtracted !== 'data?') uniqueDates.add(dateExtracted);\n      const details = entry.details || '';\n      const scoreMatch = details.match(/SCORE_?DO_?DIA:\\s*(\\d+(?:\\.\\d+)?)\\s*\\/\\s*10/i);\n      const score = scoreMatch ? scoreMatch[1] + '/10' : '-';\n      if (scoreMatch) {\n        totalScoreSum += parseFloat(scoreMatch[1]);\n        totalScoreCount++;\n      }\n      const sourceTag = isManualSummary(entry) ? 'MANUAL' : 'PATROL';\n      const summaryShort = (entry.summary || '').slice(0, 100);\n      return `- ${dateExtracted} [${sourceTag}] | Score ${score} | ${summaryShort}`;\n    });\n\n    avgScore = totalScoreCount > 0 ? (totalScoreSum / totalScoreCount).toFixed(1) : null;\n\n    if (totalScoreCount >= 3) {\n      const scores = [];\n      for (const entry of summaryNode.entries) {\n        const m = (entry.details || '').match(/SCORE_?DO_?DIA:\\s*(\\d+(?:\\.\\d+)?)\\s*\\/\\s*10/i);\n        if (m) scores.push({ date: extractDateFromEntry(entry), score: parseFloat(m[1]) });\n      }\n      scores.sort((a, b) => a.date.localeCompare(b.date));\n      const firstHalf = scores.slice(0, Math.floor(scores.length / 2));\n      const secondHalf = scores.slice(Math.floor(scores.length / 2));\n      const avg1 = firstHalf.reduce((s, x) => s + x.score, 0) / firstHalf.length;\n      const avg2 = secondHalf.reduce((s, x) => s + x.score, 0) / secondHalf.length;\n      const diff = avg2 - avg1;\n      if (Math.abs(diff) < 0.5) trend = 'estavel';\n      else if (diff > 0) trend = 'subindo';\n      else trend = 'caindo';\n    } else if (totalScoreCount === 0) {\n      trend = 'sem dados (zero scores explicitos)';\n    } else {\n      trend = `amostra insuficiente (${totalScoreCount} score${totalScoreCount === 1 ? '' : 's'})`;\n    }\n\n    const manualDaysSet = new Set(manualOnly.map(extractDateFromEntry).filter(d => d !== 'data?'));\n    const manualDaysWithFechamento = manualDaysSet.size;\n    const diasSemFechamento = Math.max(0, 7 - manualDaysWithFechamento);\n\n    weekSummariesBlock = `\\n\\nDAILY SUMMARIES ULTIMOS 7 DIAS (${manualDaysWithFechamento} dias com fechamento MANUAL, ${patrolDaysCount} entries PATROL automaticas):\\n${compactLines.join('\\n')}\\n\\nMEDIA DE SCORE: ${avgScore !== null ? avgScore + '/10 (' + totalScoreCount + ' scores)' : 'N/A — Ary nao registou SCORE DO DIA nos summaries'}\\nTENDENCIA: ${trend}\\nDIAS SEM FECHAMENTO MANUAL: ${diasSemFechamento}/7\\n\\nDETALHE COMPLETO DOS SUMMARIES (para analise de padroes):\\n${summaryNode.entries.map(e => {\n      const dateExtracted = extractDateFromEntry(e);\n      const sourceTag = isManualSummary(e) ? 'MANUAL' : 'PATROL';\n      return `=== ${dateExtracted} [${sourceTag}] ===\\n${e.details || e.summary}`;\n    }).join('\\n\\n')}\\n`;\n  } else {\n    weekSummariesBlock = '\\n\\n⚠️ MEMORY READ FAILURE OR EMPTY: Get Week Summary retornou 0 entries para tag daily-summary nos ultimos 7 dias. Investigar pipeline.\\n';\n  }\n} catch(e) {\n  weekSummariesBlock = '\\n\\n(Erro a obter daily summaries da semana: ' + (e.message || 'unknown') + ')\\n';\n}\n\n// ===== SEMANTIC SUMMARIES (NEW v3) =====\nlet semanticSummariesBlock = '';\nlet semanticHasResults = false;\nlet semanticResultsCount = 0;\n\ntry {\n  const semanticNode = $('Get Week Summaries (Semantic)').first().json;\n  const results = (semanticNode && semanticNode.results) || [];\n  semanticResultsCount = results.length;\n  \n  if (results.length > 0) {\n    semanticHasResults = true;\n    \n    const sevenDaysAgo = new Date();\n    sevenDaysAgo.setUTCDate(sevenDaysAgo.getUTCDate() - 7);\n    const cutoffDate = sevenDaysAgo.toISOString().slice(0, 10);\n    \n    const recentResults = results.filter(r => {\n      if (!r.created_at) return false;\n      return r.created_at >= cutoffDate;\n    });\n    \n    const tagOnlyIds = new Set(weekSummariesArr.map(e => e.id || e.summary).filter(x => x));\n    const semanticOnly = recentResults.filter(r => !tagOnlyIds.has(r.id || r.summary));\n    \n    if (semanticOnly.length > 0) {\n      semanticSummariesBlock = `\\n\\nSUMMARIES SEMANTICOS ADICIONAIS (${semanticOnly.length} entries encontradas via similarity, NAO apanhadas por tag literal):\\n${semanticOnly.slice(0, 10).map(r => {\n        const date = r.created_at || 'unknown';\n        const sim = r.similarity ? ` (sim: ${r.similarity})` : '';\n        return `[${date}]${sim} ${r.summary}\\n${(r.details || '').slice(0, 300)}`;\n      }).join('\\n---\\n')}\\n`;\n    } else {\n      semanticSummariesBlock = `\\n\\nSEMANTIC SEARCH: ${recentResults.length} resultados, todos ja apanhados pelo filtro tag literal. Coverage tag OK.\\n`;\n    }\n  } else {\n    semanticSummariesBlock = `\\n\\nSEMANTIC SEARCH: zero resultados (Brain Proxy pode estar down ou sem entries relevantes)\\n`;\n  }\n} catch (e) {\n  semanticSummariesBlock = `\\n\\n(Erro semantic search: ${e.message})\\n`;\n}\n\n// ===== WEEK SNAPSHOTS DIFF (NEW v3) =====\nlet weeklyDiffSection = '';\nlet weekSnapshots = [];\nlet diffLeftRadar = [];\nlet diffEnteredRadar = [];\nlet diffRescheduled = [];\nlet diffStuckAllWeek = [];\nlet diffLeftDoneReal = [];\nlet diffLeftOther = [];\n\ntry {\n  const snapshotsNode = $('Get Week Snapshots').all();\n  weekSnapshots = snapshotsNode\n    .map(i => i.json)\n    .filter(s => s && s.details);\n} catch (e) {\n  weekSnapshots = [];\n}\n\nif (weekSnapshots.length >= 2) {\n  try {\n    const first = weekSnapshots[0];\n    const last = weekSnapshots[weekSnapshots.length - 1];\n    \n    const firstDate = first.created_at ? first.created_at.substring(0, 10) : 'inicio';\n    const lastDate = last.created_at ? last.created_at.substring(0, 10) : 'fim';\n    \n    const firstPayload = JSON.parse(first.details);\n    const lastPayload = JSON.parse(last.details);\n    \n    const firstTasks = firstPayload.tasks || [];\n    const lastTasks = lastPayload.tasks || [];\n    \n    const firstIds = new Set(firstTasks.map(t => t.id));\n    const lastIds = new Set(lastTasks.map(t => t.id));\n    const firstMap = new Map(firstTasks.map(t => [t.id, t]));\n    \n    diffLeftRadar = firstTasks.filter(t => !lastIds.has(t.id));\n    diffEnteredRadar = lastTasks.filter(t => !firstIds.has(t.id));\n    diffStuckAllWeek = lastTasks.filter(t => {\n      const f = firstMap.get(t.id);\n      return f && f.due_date === t.due_date && t.status !== 'Done';\n    });\n    diffRescheduled = lastTasks.filter(t => {\n      const f = firstMap.get(t.id);\n      return f && f.due_date !== t.due_date;\n    });\n    \n    // PATCH 2026-05-30: decompor diffLeftRadar em done_real vs other (saiu da janela mas não Done)\n    // Cross-reference com Tasks Concluidas (últimos 30d) para identificar done_real\n    const doneItemsForXref = $('Tasks Concluidas').all().filter(i => {\n      const props = i.json.properties || {};\n      return Object.keys(props).length > 0;\n    });\n    const doneIds = new Set(doneItemsForXref.map(i => i.json.id));\n    \n    diffLeftDoneReal = diffLeftRadar.filter(t => doneIds.has(t.id));\n    diffLeftOther = diffLeftRadar.filter(t => !doneIds.has(t.id));\n    \n    const lines = [];\n    lines.push(`MOVIMENTO DA SEMANA (snapshots ${firstDate} → ${lastDate}, ${weekSnapshots.length} pontos):`);\n    lines.push(`Backlog total Notion: ${firstPayload.total_pending_in_notion || firstTasks.length} → ${lastPayload.total_pending_in_notion || lastTasks.length}`);\n    lines.push(`Relevantes (snapshot filter): ${firstTasks.length} → ${lastTasks.length}`);\n    lines.push(`Saidas: ${diffLeftRadar.length} (${diffLeftDoneReal.length} Done reais + ${diffLeftOther.length} saiu da janela sem Done) | Entradas: ${diffEnteredRadar.length} | Reagendadas: ${diffRescheduled.length} | Stuck toda semana: ${diffStuckAllWeek.length}`);\n    \n    if (diffStuckAllWeek.length > 0) {\n      lines.push(`\\nSTUCK ALL WEEK (nao mexido em 7 dias, mesmo due_date inicio e fim):`);\n      diffStuckAllWeek.slice(0, 10).forEach(t => {\n        const prio = t.priority === 'Alta' ? '🔴' : t.priority === 'Media' ? '🟡' : '⚪';\n        const due = t.due_date ? ` (due: ${t.due_date})` : ' (sem data)';\n        lines.push(`  ${prio} ${t.name}${due}`);\n      });\n      if (diffStuckAllWeek.length > 10) lines.push(`  ... +${diffStuckAllWeek.length - 10} mais`);\n    }\n    \n    if (diffRescheduled.length > 0) {\n      lines.push(`\\nREAGENDADAS (${diffRescheduled.length} tasks com due_date alterado):`);\n      diffRescheduled.slice(0, 5).forEach(t => {\n        const f = firstMap.get(t.id);\n        const oldD = f.due_date || '(sem)';\n        const newD = t.due_date || '(sem)';\n        lines.push(`  - ${t.name}: ${oldD} → ${newD}`);\n      });\n      if (diffRescheduled.length > 5) lines.push(`  ... +${diffRescheduled.length - 5} mais`);\n    }\n    \n    if (diffRescheduled.length > 5) {\n      lines.push(`\\n⚠️ ALERTA PROCRASTINACAO: ${diffRescheduled.length} tasks reagendadas esta semana.`);\n    }\n    \n    if (diffEnteredRadar.length > diffLeftRadar.length + 5) {\n      lines.push(`\\n⚠️ ALERTA BACKLOG INFLATION: ${diffEnteredRadar.length} entradas vs ${diffLeftRadar.length} saidas (${diffEnteredRadar.length - diffLeftRadar.length} liquido +).`);\n    }\n    \n    weeklyDiffSection = '\\n\\n' + lines.join('\\n') + '\\n';\n  } catch (e) {\n    weeklyDiffSection = `\\n\\n(Erro a calcular diff semanal: ${e.message})\\n`;\n  }\n} else {\n  weeklyDiffSection = `\\n\\nMOVIMENTO DA SEMANA: ${weekSnapshots.length} snapshots disponiveis (precisa >=2 para diff). Sistema acabou de iniciar — diff completo disponivel semana que vem.\\n`;\n}\n\n// ===== BUILD PROJECT LOOKUP MAP =====\nconst projectItems = $('Active Projects').all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\n\nconst projectMap = {};\nfor (const p of projectItems) {\n  const id = p.json.id;\n  const name = getTaskName(p);\n  const type = getProjectType(p);\n  projectMap[id] = { name, type };\n}\n\nfunction getProjectName(item) {\n  const id = getProjectId(item);\n  if (!id) return '';\n  if (projectMap[id]) return projectMap[id].name;\n  return '(unknown project)';\n}\n\n// ===== DATE REFERENCES =====\nconst today = getTodayLisbon();\nconst weekday = getWeekdayLisbon(today);\nconst weekNumber = getISOWeek(today);\nconst weekYear = getISOWeekYear(today);\n\nconst [ty, tm, td] = today.split('-');\nconst todayDisplay = `${td}/${tm}/${ty}`;\n\n// ===== TASKS CONCLUIDAS =====\nconst doneItems = $('Tasks Concluidas').all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\nconst done = doneItems.map(i => {\n  const name = getTaskName(i);\n  const due = getDueDate(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const ctx = getContext(tags);\n  const projectTag = project ? ` [${project}]` : '';\n  const ctxTag = ctx ? ` ${ctx}` : '';\n  const dueTag = due ? ` (${due})` : '';\n  return `${name}${projectTag}${ctxTag}${dueTag}`;\n}).join('\\n');\nconst doneCount = doneItems.length;\n\n// ===== TASKS ATRASADAS =====\n// PATCH 2026-05-30: filtro estrito Due < today (Notion node devolve inclusivo, separamos aqui)\nconst overdueRawItems = $('Tasks Atrasadas').all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\n\nconst overdueItems = overdueRawItems.filter(i => {\n  const due = getDueDate(i);\n  return due && due < today;\n});\nconst dueTodayItems = overdueRawItems.filter(i => {\n  const due = getDueDate(i);\n  return due && due === today;\n});\n\nconst overdue = overdueItems.map(i => {\n  const name = getTaskName(i);\n  const due = getDueDate(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const prio = tags.includes('Prioridade Alta') ? '🔴'\n    : (tags.includes('Prioridade Média') || tags.includes('Prioridade Media')) ? '🟡'\n    : '⚪';\n  const ctx = getContext(tags);\n  const dep = getDependency(tags);\n  const flags = [ctx, dep].filter(x => x).join(' ');\n  const projectTag = project ? ` [${project}]` : '';\n  const flagsTag = flags ? ` ${flags}` : '';\n  const dueD = new Date(due + 'T12:00:00Z');\n  const todayD = new Date(today + 'T12:00:00Z');\n  const daysOverdue = Math.floor((todayD - dueD) / (1000 * 60 * 60 * 24));\n  const daysTag = daysOverdue > 0 ? ` (${daysOverdue}d)` : '';\n  return `${prio} ${name}${projectTag}${flagsTag} (due: ${due})${daysTag}`;\n}).join('\\n');\nconst overdueCount = overdueItems.length;\nconst dueTodayCount = dueTodayItems.length;\n\nconst dependencyItems = overdueItems.filter(i => getTags(i).includes('Dependo de Terceiros'));\nconst dependencyCount = dependencyItems.length;\nconst ownOverdueCount = overdueCount - dependencyCount;\n\n// ===== TASKS DUE WEEK =====\nconst dueWeekItems = $('Tasks Criadas Semana').all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\nconst dueWeekCount = dueWeekItems.length;\n\n// ===== ACTIVE PROJECTS =====\nconst projects = projectItems.map(i => {\n  const name = getTaskName(i);\n  const type = getProjectType(i);\n  const icon = type === 'Client' ? '🟢'\n    : type === 'Prospect' ? '🟡'\n    : type === 'Closed' ? '⚫'\n    : '⚪';\n  return `${icon} ${name}${type ? ' (' + type + ')' : ''}`;\n}).join('\\n');\n\nconst clientCount = projectItems.filter(p => getProjectType(p) === 'Client').length;\nconst prospectCount = projectItems.filter(p => getProjectType(p) === 'Prospect').length;\n\n// ===== PROMPT =====\nconst prompt = `Hoje e ${todayDisplay}, ${weekday}. SWOT Semanal para Ary Ribeiro.\n\nCONTEXTO: Consultor IA, 3 verticais: TJ (advogados BR R$2.997/mes), TM (clinicas BR R$2.997/mes), CL (imobiliarias PT E497/mes). Meta Q2: E12.857 trimestral (~E4.286/mes). Revenue actual: E0. Foco actual: construcao da maquina (consistencia de conteudos). Regra: NAO cobrar Sales/pipeline ate 11 Jun 2026.\n\nPROJECTOS ACTIVOS (${projectItems.length} total: ${clientCount} Client, ${prospectCount} Prospect):\n${projects || '(nenhum projecto activo)'}\n${weekSummariesBlock}\n${semanticSummariesBlock}\n${weeklyDiffSection}\nTASKS NOTION CONCLUIDAS ULTIMOS 30 DIAS (${doneCount}):\n${done || '(nenhuma task concluida)'}\n\nTASKS ATRASADAS (${overdueCount} vencidas, due <= hoje, ultimos 30d${dependencyCount > 0 ? '; ' + dependencyCount + ' a aguardar terceiros' : ''}):\n${overdue || '(nenhuma task atrasada)'}\n\nVOLUME: ${dueWeekCount} tasks com Due Date na semana passada\n\nLEGENDA: 🔴 Alta | 🟡 Media | ⚪ Baixa/sem | 🇧🇷 Brasil | 🇵🇹 Portugal | ⏸️ Dependo de terceiros | 🟢 Client | 🟡 Prospect | ⚫ Closed\n\nANALISA estes dados e gera um SWOT estrategico:\n\n═══ HARD CONSTRAINTS ═══\n\nHC1 - DIFF SEMANAL: SEMANTICA E LIMITACOES (v4 reforcado):\nA seccao MOVIMENTO DA SEMANA mostra diff entre snapshot Notion no inicio e fim da semana.\nDECOMPOSICAO IMPORTANTE de \"Saidas\" (diffLeftRadar):\n- diffLeftDoneReal=${diffLeftDoneReal.length}: tasks que SAIRAM porque foram marcadas Done (eliminacao real).\n- diffLeftOther=${diffLeftOther.length}: tasks que sairam da janela relevante MAS nao foram Done.\n  Possiveis razoes: rescheduled para >14d, due_date passou para <-7d sem fechar, ou apagadas.\n  NAO chamar a estas \"eliminadas\" ou \"concluidas\" — chamar \"sairam da janela sem Done\".\n\nLIMITACOES DA METRICA stuck_all_week:\ndiffStuckAllWeek=${diffStuckAllWeek.length} conta tasks com mesmo id E mesmo due_date no inicio e fim.\nNAO captura: edits in-place (status, descricao), trabalho parcial em time_log, decomposicao cognitiva.\nPode haver trabalho real em tasks \"stuck\" que nao move due_date. NAO afirmar \"X% do backlog nao foi tocado\" — afirmar \"X tasks com due_date inalterado e id presente em ambos snapshots\".\n\nCRUZAMENTO OBRIGATORIO:\n- Se diffLeftDoneReal >> tasks reportadas como concluidas em daily summaries: ha desalinhamento (Ary fecha sem registar OU registou trabalho que nao se materializou em task fechada).\n- Se diffEnteredRadar > diffLeftRadar + 5: possivel backlog inflation (mas verificar se entradas sao tasks novas ou reagendamento de existentes).\n\nJUIZO BALANCEADO:\nNAO dizer \"boa semana\" automaticamente se stuck_all_week >= 8.\nNAO dizer \"semana ruim\" automaticamente se stuck_all_week >= 8 — pode ser artefacto de medicao.\nAvaliar contra: diffLeftDoneReal, milestones nos daily summaries, e revenue/movimento estrategico.\n\nHC2 - SEMANTIC vs TAG COVERAGE:\nA seccao SUMMARIES SEMANTICOS ADICIONAIS mostra entries que o filtro tag literal nao apanhou.\nSe semanticHasResults=true E semanticOnly>0: usar esses como contexto adicional para padroes.\n${semanticHasResults && semanticResultsCount > 0 ? 'Coverage: ' + semanticResultsCount + ' entries semantic (revisar se ha gaps no pipeline tag literal).' : 'Coverage tag literal OK.'}\n\nHC3 - MANUAL vs PATROL:\nmanualDaysCount=${manualDaysCount} (fechamentos do Ary com Ops Manager Desktop)\npatrolDaysCount=${patrolDaysCount} (entries automaticas geradas pelo Night Shift/HeartbeatPatrol)\nScore real depende de manualDaysCount. patrolDaysCount NAO conta para higiene.\n\nHC4 - AUDITABILIDADE DE NUMEROS NOTION (NEW):\nValores pre-calculados disponiveis:\n  overdueCount=${overdueCount} (Due < hoje, ESTRITO — exclui Due = hoje)\n  dueTodayCount=${dueTodayCount} (Due = hoje, AINDA NAO vencidas)\n  ownOverdueCount=${ownOverdueCount} (overdue sem dependencias de terceiros)\n  dependencyCount=${dependencyCount}\n  doneCount=${doneCount} (tasks Done ultimos 30d)\n  diffLeftDoneReal=${diffLeftDoneReal.length}, diffLeftOther=${diffLeftOther.length}\n  diffEnteredRadar=${diffEnteredRadar.length}, diffStuckAllWeek=${diffStuckAllWeek.length}\n  diffRescheduled=${diffRescheduled.length}\nReportar EXACTAMENTE estes valores. NUNCA arredondar, aproximar ou inferir. NUNCA copiar\ncontagens de SWOTs anteriores ou daily summaries como se fossem desta semana. Se um valor\nnao for claro acima, escrever \"N/A\".\n\nHC5 - ANTI-CONTRADICAO COM DECISOES JA REGISTADAS (NEW):\nOs daily summaries da semana (acima) podem conter DECISOES JA TOMADAS pelo Ary sobre acoes\nfuturas (ex: \"envio proposta segunda\", \"sales moratorium ate 11 Jun\", \"yoga parqueado\").\nANTES de propor uma DECISAO #1 nova:\n- Verificar se algum daily summary ja menciona decisao sobre o mesmo topico.\n- Se sim e a decisao do Ary contradiz a tua proposta: NAO sobrescrever. Mencionar a decisao\n  do Ary e propor algo COMPLEMENTAR, nao contrario.\n- Exemplo: se daily summary diz \"envio proposta segunda manha\", NAO propor \"envio proposta sabado\".\n- Tom: respeitar a autonomia do Ary sobre decisoes ja tomadas, mesmo que discordes.\n\nHC6 - DISTINGUIR REQUIREMENT NOVO DE METRICA PERDIDA (NEW):\nNAO inventar requirements passados como se tivessem existido formalmente.\n- Se uma metrica (ex: SCORE DO DIA, tracking time_log, fechamento manual) NAO foi\n  registada consistentemente: NAO dizer \"metrica perdida\" ou \"sistema quebrou\".\n- DIZER em alternativa: \"metrica X nunca foi formalizada como obrigatoria — vale a pena\n  decidires adopta-la como requirement\".\n- A diferenca importa: \"perdida\" implica regressao; \"nunca formalizada\" e proposta nova.\n\n═══════════════════════════════════════════════\n\nREGRAS:\n1. ATE 11 JUN 2026: NAO cobrar Sales/pipeline/outreach. Foco em consistencia.\n2. CRUZAR DAILY SUMMARIES com tasks Notion E diff semanal: identifica discrepancias (trabalho registado vs tasks fechadas vs movimento real do backlog).\n3. PADROES TEMPORAIS dos daily summaries: dias mais produtivos, dias mais fracos, score trends (subiu? caiu? estavel?), categorias time_log dominantes.\n4. STRENGTHS: wins reais (tasks Done confirmadas via diffLeftDoneReal + rotinas cumpridas + milestones registados em daily summaries). NAO usar diffLeftRadar total como \"wins\" — apenas diffLeftDoneReal=${diffLeftDoneReal.length} sao Done confirmados.\n5. WEAKNESSES: ${ownOverdueCount} tasks vencidas estritas (Due<hoje) por falha + ${diffStuckAllWeek.length} stuck all week (com ressalva de medicao) + dias sem fechamento manual. NAO categorico — usar linguagem cautelosa para metricas com limitacoes conhecidas.\n6. OPPORTUNITIES: padroes positivos a amplificar + o que acelerar proxima semana.\n7. THREATS: anti-streaks (>3 dias atrasada) + stuck_all_week + backlog inflation + dias sem fechamento + revenue E0.\n8. Tasks com ⏸️ NAO sao falha do Ary — flag separadamente.\n9. SE media de score < 6: alarme — burnout incipiente ou falta de foco.\n10. SE media de score >= 8 MAS stuck_all_week >= 8: score optimista, justificar.\n11. Termina com 1 DECISAO ESTRATEGICA para a proxima semana (foco em consistencia de conteudos + maquina). ANTES de escrever a DECISAO, aplicar HC5: verificar se daily summaries da semana ja contem decisao do Ary sobre o topico. Se sim, propor algo COMPLEMENTAR ou validacao — nao contradizer decisao ja tomada.\n12. Brutalmente honesto - zero fluff, tom de board member exigente.\n13. Se nao ha dados suficientes para uma categoria, diz \"dados insuficientes\".\n\nFORMATO:\nSWOT Semanal - Semana ${weekNumber}/${weekYear}\n\nCONSISTENCIA DA SEMANA\n${weekHasSummaries ? `- Dias com fechamento MANUAL: ${manualDaysCount}/7 | Media score: ${avgScore !== null ? avgScore + '/10' : 'N/A'} | Tendencia: ${trend}` : '- ⚠️ ZERO dias com fechamento. Higiene de sono e accountability comprometidas.'}\n\nMOVIMENTO REAL (DIFF SEMANAL — snapshot inicio vs fim, janela relevante deslizante -7/+14d)\n- Saidas: ${diffLeftRadar.length} (${diffLeftDoneReal.length} Done reais + ${diffLeftOther.length} sairam da janela sem Done) | Entradas: ${diffEnteredRadar.length} | Stuck: ${diffStuckAllWeek.length} (definicao: mesmo id + mesmo due_date) | Reagendadas: ${diffRescheduled.length}\n- NOTA SEMANTICA: \"Saidas\" decompoe-se em (a) Done reais (eliminacao confirmada) e (b) outros (saiu da janela mas nao Done — pode ser reagendamento, due_date <-7d, ou apagada). NAO confundir os dois.\n- NOTA stuck: contar tasks com due_date inalterado NAO equivale a \"backlog nao foi tocado\" — edits in-place e trabalho parcial nao aparecem aqui.\n- [comentar movimento real do backlog, distinguindo Done reais de \"sairam da janela\"]\n\nSTRENGTHS\n- [wins reais cruzando daily summaries + tasks Notion + diff_left_radar]\n\nWEAKNESSES\n- [gaps, dias sem fechamento, anti-streaks, stuck_all_week, score baixo]\n\nOPPORTUNITIES\n- [padroes positivos a amplificar]\n\nTHREATS\n- [riscos acumulados, rotina a falhar, backlog inflation, revenue E0]\n\nDEPENDENCIAS [so se ${dependencyCount} > 0]\n- [tasks bloqueadas por terceiros]\n\nPROJECTOS\n- [status dos activos]\n\nPADROES DETECTADOS [so se ${weekHasSummaries ? 'true' : 'false'}]\n- [insights cruzando os 7 dias: dias produtivos, categorias time_log dominantes, milestones, diff semanal]\n\nDECISAO #1 PROXIMA SEMANA\n[1 frase imperativa focada em consistencia de conteudos + maquina]\n\nMaximo 500 palavras.`;\n\nreturn [{ json: { prompt, timeout: 120000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,192],"id":"032a9496-c40c-4b6e-9b4a-e14b1aa50c31","name":"Build SWOT Prompt"},{"parameters":{"workflowId":{"__rl":true,"value":"gxVtgxoGiPD1pW0J","mode":"list","cachedResultUrl":"/workflow/gxVtgxoGiPD1pW0J","cachedResultName":"Claude Brain — Memory Read by Tag v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mode":"last_n_days","target_tag":"daily-summary","date_tag":"=","days":"7"},"matchingColumns":[],"schema":[{"id":"mode","displayName":"mode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"target_tag","displayName":"target_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"date_tag","displayName":"date_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"days","displayName":"days","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1056,192],"id":"e5a88583-7738-4448-bfc1-18208b7f3671","name":"Get Week Summary","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"https://workflows.coletiv.me/webhook/claude-ai-memory-search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"daily summary fechamento dia score time_log rotina"},{"name":"count","value":"15"},{"name":"threshold","value":"0.35"},{"name":"project","value":"Ops"}]},"options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1776,-272],"id":"d947d0f6-8373-4d57-83f8-4a9a761810aa","name":"Get Week Summaries (Semantic)","alwaysOutputData":true},{"parameters":{"url":"={{ 'https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories?tags=cs.{notion-snapshot}&created_at=gte.' + DateTime.now().setZone('Europe/Lisbon').minus({days: 7}).toFormat('yyyy-MM-dd') + '&select=id,summary,details,created_at,tags&order=created_at.asc' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1776,-48],"id":"575fec2f-1111-407a-a5d1-3af12cde064e","name":"Get Week Snapshots","alwaysOutputData":true},{"parameters":{"workflowId":{"__rl":true,"value":"naTm33u35fDAWAIW","mode":"list","cachedResultUrl":"/workflow/naTm33u35fDAWAIW","cachedResultName":"Claude Brain — Snapshot Write v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"summary":"={{ 'Weekly SWOT — Semana ' + $now.toFormat('W/yyyy') }}","details":"={{ $json.output }}","type":"Insight","importance":"4","project":"Ops","tags":"={{ JSON.stringify(['weekly-swot', 'semana-' + $now.toFormat('WW-yyyy'), 'auto']) }}","source":"WeeklySWOT"},"matchingColumns":[],"schema":[{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"details","displayName":"details","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"importance","displayName":"importance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"39b43113-a1d6-498d-a855-d162f6628ae0","name":"Save SWOT to Brain","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[432,400]},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[6],"triggerAtHour":4}]}},"id":"b17dfc3f-0099-455f-afef-e24424ad974d","name":"Cron Sabado 04:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2016,192]}],"connections":{"Manual Trigger":{"main":[[{"node":"Tasks Concluidas","type":"main","index":0}]]},"Tasks Concluidas":{"main":[[{"node":"Tasks Atrasadas","type":"main","index":0}]]},"Tasks Atrasadas":{"main":[[{"node":"Tasks Criadas Semana","type":"main","index":0}]]},"Tasks Criadas Semana":{"main":[[{"node":"Active Projects","type":"main","index":0}]]},"Active Projects":{"main":[[{"node":"Get Week Summary","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Fallback Router","type":"main","index":0}]]},"Fallback Router":{"main":[[{"node":"IF Fallback","type":"main","index":0}]]},"IF Fallback":{"main":[[{"node":"Claude api","type":"main","index":0}],[{"node":"Telegram SWOT","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Save SWOT to Brain","type":"main","index":0}]]},"Format WhatsApp":{"main":[[{"node":"WhatsApp SWOT","type":"main","index":0}]]},"Claude api":{"main":[[{"node":"Format api Response","type":"main","index":0}]]},"Format api Response":{"main":[[{"node":"Telegram SWOT","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Save SWOT to Brain","type":"main","index":0}]]},"Build SWOT Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Get Week Summary":{"main":[[{"node":"Build SWOT Prompt","type":"main","index":0}]]},"Get Week Summaries (Semantic)":{"main":[[]]},"Cron Sabado 04:00":{"main":[[{"node":"Tasks Concluidas","type":"main","index":0},{"node":"Get Week Summaries (Semantic)","type":"main","index":0},{"node":"Get Week Snapshots","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"},{"updatedAt":"2026-03-30T17:25:46.128Z","createdAt":"2026-03-30T17:25:46.128Z","id":"I55hCGMBk1VDjvLr","name":"claude-bridge"}]}