claude-bridge-—-telegram-tutor-(filhas)-pvuLyZixZWIFdiRL.json
{"updatedAt":"2026-05-01T11:17:05.862Z","createdAt":"2026-04-09T19:31:22.888Z","id":"pvuLyZixZWIFdiRL","name":"Claude Bridge — Telegram Tutor (Filhas)","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"b8926da8-53d2-4525-9fae-902c9d3a14ff","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-480,80],"webhookId":"tutor-telegram-trigger","credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-giuliana","leftValue":"={{ $json.message.chat.id }}","rightValue":8743894892,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f91d8316-8756-4209-bd53-75ae8b84da3c","name":"IF Authorized","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-256,80]},{"parameters":{"assignments":{"assignments":[{"id":"ctx-name","name":"studentName","value":"Giuliana Fiamenghi Ribeiro","type":"string"},{"id":"ctx-context","name":"studentContext","value":"Giuliana tem 21 anos. Lingua preferida: PT-BR. Trata-a como uma jovem adulta universitaria inteligente e curiosa.","type":"string"},{"id":"ctx-msg","name":"userMessage","value":"={{ $('Telegram Trigger').item.json.message.text }}","type":"string"},{"id":"ctx-chatid","name":"chatId","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"id":"519064dc-ab0d-4ccf-9aa5-9786e3a4d52a","name":"Context Giuliana","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Desculpa, nao estas autorizada a usar este bot. Fala com o teu pai.","additionalFields":{}},"id":"f2240895-c9f3-4d59-aa7a-3d20a418fc9e","name":"Not Authorized","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,288],"webhookId":"643ecb6b-7a5f-4a5f-8a02-19e02a1e7fe0","credentials":null},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblaado7k0a1OH8rh","mode":"id"},"filterByFormula":"={chat_id} = '{{ $json.chatId }}'","options":{},"sort":{"property":[{"field":"Timestamp","direction":"desc"}]}},"id":"c4ff11ad-6e0a-4580-b907-1367cd85c138","name":"Airtable Get History","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[224,0],"alwaysOutputData":true,"credentials":null},{"parameters":{"jsCode":"const ctx = $('Context Giuliana').first().json;\nconst studentName = ctx.studentName;\nconst studentContext = ctx.studentContext;\nconst userMessage = ctx.userMessage;\nconst chatId = ctx.chatId;\n\nconst historyItems = $('Airtable Get History').all();\nlet historyText = '';\nif (historyItems && historyItems.length > 0) {\n  const msgs = historyItems\n    .map(i => {\n      const f = i.json.fields || i.json;\n      if (!f.Message) return null;\n      const role = f.Role === 'assistant' ? 'Tutor' : f.Name || 'Aluna';\n      return `${role}: ${f.Message.substring(0, 200)}`;\n    })\n    .filter(Boolean)\n    .reverse()\n    .slice(-10);\n  if (msgs.length > 0) {\n    historyText = `\\n\\nHISTORICO RECENTE (ultimas mensagens):\\n${msgs.join('\\n')}`;\n  }\n}\n\nconst prompt = `Es um tutor pessoal chamado Tutor IA para ${studentName}. ${studentContext}${historyText}\n\nREGRAS:\n1. Explica de forma clara e adequada a idade da estudante\n2. Usa exemplos praticos e do dia a dia\n3. Se a pergunta envolver conteudo perigoso, inapropriado ou para adultos, recusa educadamente\n4. Se a pergunta for sobre um exercicio ou exame, NAO des a resposta directa. Guia a estudante com perguntas e dicas para que ela chegue a resposta sozinha (metodo Socratico)\n5. Se nao sabes a resposta, diz honestamente\n6. Responde no mesmo idioma em que a pergunta foi feita\n7. Se for uma pergunta de matematica ou ciencias, mostra o raciocinio passo a passo\n8. Se a pergunta for conversa casual (ola, tudo bem, etc), responde de forma amigavel e natural\n9. Maximo 500 palavras na resposta\n\nPERGUNTA DA ESTUDANTE:\n${userMessage}`;\n\nreturn [{ json: { prompt, timeout: 60000, chatId, studentName, userMessage } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"7c04db0b-0258-4756-9036-9d2b606b0046","name":"Build Tutor Prompt"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"cfedabe5-e854-4341-be1f-40ee58ba1158","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,0],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"chatId":"={{ $('Build Tutor Prompt').item.json.chatId }}","text":"={{ $json.output }}","additionalFields":{"parse_mode":"Markdown"}},"id":"52659b45-07c3-4b4d-ae86-2f4c6ccc838a","name":"Telegram Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,0],"webhookId":"f7aea52a-234f-4b53-b2a5-8ac7cb2bdd08","credentials":null},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblaado7k0a1OH8rh","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Build Tutor Prompt').item.json.studentName }}","chat_id":"={{ $('Build Tutor Prompt').item.json.chatId }}","Role":"user","Message":"={{ $('Build Tutor Prompt').item.json.userMessage }}","Project":"Pessoal"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"c2d4b455-a325-4fc2-84b4-c957c806bf25","name":"Save Question","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[896,208],"credentials":null},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblaado7k0a1OH8rh","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Build Tutor Prompt').item.json.studentName }}","chat_id":"={{ $('Build Tutor Prompt').item.json.chatId }}","Role":"assistant","Message":"={{ $('Claude Bridge').item.json.output.substring(0, 10000) }}","Project":"Pessoal"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"5060cbfe-d3dc-4a39-b815-8da1e20edee0","name":"Save Response","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1120,0],"credentials":null}],"connections":{"Telegram Trigger":{"main":[[{"node":"IF Authorized","type":"main","index":0}]]},"IF Authorized":{"main":[[{"node":"Context Giuliana","type":"main","index":0}],[{"node":"Not Authorized","type":"main","index":0}]]},"Context Giuliana":{"main":[[{"node":"Airtable Get History","type":"main","index":0}]]},"Airtable Get History":{"main":[[{"node":"Build Tutor Prompt","type":"main","index":0}]]},"Build Tutor Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Telegram Reply","type":"main","index":0},{"node":"Save Question","type":"main","index":0}]]},"Telegram Reply":{"main":[[{"node":"Save Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ada99809-d022-4e0f-96cb-02ecac758988","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-09T19:31:22.888Z","createdAt":"2026-04-09T19:31:22.888Z","role":"workflow:owner","workflowId":"pvuLyZixZWIFdiRL","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}