claude-bridge-—-weekly-swot-hetzner-A3PzayiJum1b311G.json
{"updatedAt":"2026-04-03T14:56:14.405Z","createdAt":"2026-03-30T21:02:56.574Z","id":"A3PzayiJum1b311G","name":"Claude Bridge — Weekly SWOT Hetzner","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":17}]}},"id":"ef0a76ce-f777-4d3a-80f0-2c473fa5ba73","name":"Cron Sexta 17:00 UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-528,-256]},{"parameters":{"assignments":{"assignments":[{"id":"manual-trigger","name":"trigger","value":"manual","type":"string"}]},"options":{}},"id":"05e2587b-5b7f-4fe3-8f11-e34818a4f023","name":"Manual Trigger","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,-80]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[0,-176],"id":"878f466f-2beb-448b-8a14-926a00b69049","name":"Tasks Atrasadas","credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Due Date|date","condition":"past_week"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[176,-176],"id":"6da75543-f1ea-4439-a5c6-40f79603cb20","name":"Tasks Criadas Semana","executeOnce":true,"credentials":null},{"parameters":{"jsCode":"const today = new Date().toISOString().slice(0, 10);\nconst now = new Date();\nconst weekNumber = Math.ceil((((now - new Date(now.getFullYear(), 0, 1)) / 86400000) + new Date(now.getFullYear(), 0, 1).getDay() + 1) / 7);\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nconst done = $('Tasks Concluidas').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  const tags = i.json.property_tags || [];\n  return `${name}${tags.length ? ' [' + tags.join(', ') + ']' : ''}`;\n}).join('\\n');\nconst doneCount = $('Tasks Concluidas').all().length;\n\nconst overdue = $('Tasks Atrasadas').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  const due = i.json.property_due_date?.start || '';\n  const tags = i.json.property_tags || [];\n  const prio = tags.includes('Prioridade Alta') ? 'ALTA' : tags.includes('Prioridade Media') ? 'MEDIA' : '';\n  return `${prio ? prio + ' ' : ''}${name} (due: ${due})${tags.length ? ' [' + tags.join(', ') + ']' : ''}`;\n}).join('\\n');\nconst overdueCount = $('Tasks Atrasadas').all().length;\n\nconst createdCount = $('Tasks Criadas Semana').all().length;\n\nconst projects = $('Active Projects').all().map(i => {\n  const name = i.json.property_name || i.json.Name || 'Sem nome';\n  const type = i.json.property_type || '';\n  return `${name}${type ? ' (' + type + ')' : ''}`;\n}).join('\\n');\n\nconst prompt = `Hoje e ${date}, sexta-feira. SWOT Semanal para Ary Ribeiro.\n\nCONTEXTO: Consultor IA, 3 verticais: TJ (advogados BR R$2.997/mes), TM (clinicas BR R$2.997/mes), CL (imobiliarias PT E497/mes). Meta Q2: E12.857 trimestral (~E4.286/mes). Revenue actual: E0. Pipeline vazio = crise.\n\nPROJECTOS ACTIVOS (${$('Active Projects').all().length}):\n${projects || '(nenhum projecto activo)'}\n\nTASKS CONCLUIDAS ESTA SEMANA (${doneCount}):\n${done || '(nenhuma task concluida - semana perdida)'}\n\nTASKS ATRASADAS (${overdueCount}):\n${overdue || '(nenhuma task atrasada)'}\n\nVOLUME: ${createdCount} tasks criadas esta semana\n\nANALISA estes dados e gera um SWOT estrategico:\n\nREGRAS:\n1. STRENGTHS: baseado APENAS em tasks concluidas (wins reais)\n2. WEAKNESSES: tasks atrasadas + projectos sem actividade + revenue E0\n3. OPPORTUNITIES: padroes detectados + o que acelerar na proxima semana para gerar receita\n4. THREATS: atrasos acumulados + pipeline vazio + riscos de nao atingir meta Q2\n5. Se revenue = E0 e pipeline vazio, THREATS deve incluir risco existencial de nao gerar caixa\n6. Termina com 1 DECISAO ESTRATEGICA para a proxima semana (focada em revenue)\n7. Brutalmente honesto - zero fluff, tom de board member exigente\n8. Se nao ha dados suficientes para uma categoria, diz dados insuficientes\n\nFORMATO:\nSWOT Semanal - Semana ${weekNumber}/2026\n\nSTRENGTHS\n- [wins da semana]\n\nWEAKNESSES\n- [gaps e falhas]\n\nOPPORTUNITIES\n- [o que acelerar + revenue opportunities]\n\nTHREATS\n- [riscos acumulados + pipeline status]\n\nPROJECTOS\n- [status dos activos com flags]\n\nDECISAO #1 PROXIMA SEMANA\n[1 frase imperativa focada em revenue]\n\nMaximo 350 palavras.`;\n\nreturn [{ json: { prompt, timeout: 120000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,-176],"id":"77aee463-e2b1-4647-967a-65f82e5eeb1c","name":"Build SWOT Prompt"},{"parameters":{"method":"POST","url":"http://128.140.15.139:3939/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"7a4dbe6d-2db2-4539-b8e7-c076c6daf3eb","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,-176],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000},{"parameters":{"chatId":"-1002374157964","text":"=📊 *SWOT Semanal — {{ $now.format('dd/MM/yyyy') }}*\n\n{{ $('Claude Bridge').item.json.output }}\n\n---\n_⏱️ Gerado em {{ $('Claude Bridge').item.json.elapsed_s }}s via Claude Code_","additionalFields":{"parse_mode":"Markdown"}},"id":"270fb220-b736-45f3-8ee4-19d4118003a6","name":"Telegram SWOT","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1008,-368],"webhookId":"f256c020-f708-40be-8cd6-c5095f52aef5","credentials":null},{"parameters":{"jsCode":"const output = $('Claude Bridge').item.json.output;\nconst elapsed = $('Claude Bridge').item.json.elapsed_s;\nconst now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nlet text = output\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\ntext = `📊 SWOT Semanal — ${date}\\n\\n${text}\\n\\n───\\n⏱️ Gerado em ${elapsed}s via Claude Code`;\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0],"id":"3c0075b8-1b9d-46e8-a4ac-3fe8457b8d6e","name":"Format WhatsApp"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,0],"id":"74dec84f-bf91-4119-898d-f47defe5007f","name":"WhatsApp SWOT","credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21505ed2-eb60-4966-8d64-dc0411270e03","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://www.notion.so/21505ed2eb6049668d64dc0411270e03"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"In progress"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[368,-176],"id":"9607c494-ee36-4a7d-aa27-0c4943070707","name":"Active Projects","executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"equals","statusValue":"Done"},{"key":"Due Date|date","condition":"past_week"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-192,-176],"id":"1ebb1f48-0a93-4112-a64f-6adccd4e8b3a","name":"Tasks Concluidas","credentials":null}],"connections":{"Cron Sexta 17:00 UTC":{"main":[[{"node":"Tasks Concluidas","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Tasks Concluidas","type":"main","index":0}]]},"Tasks Atrasadas":{"main":[[{"node":"Tasks Criadas Semana","type":"main","index":0}]]},"Tasks Criadas Semana":{"main":[[{"node":"Active Projects","type":"main","index":0}]]},"Build SWOT Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Telegram SWOT","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0}]]},"Format WhatsApp":{"main":[[{"node":"WhatsApp SWOT","type":"main","index":0}]]},"Active Projects":{"main":[[{"node":"Build SWOT Prompt","type":"main","index":0}]]},"Tasks Concluidas":{"main":[[{"node":"Tasks Atrasadas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Cron Sexta 17:00 UTC":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"78c7b6a3-b682-46d4-bfb0-08168ef0daaf","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-03-30T21:02:56.574Z","createdAt":"2026-03-30T21:02:56.574Z","role":"workflow:owner","workflowId":"A3PzayiJum1b311G","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-30T17:25:46.128Z","createdAt":"2026-03-30T17:25:46.128Z","id":"I55hCGMBk1VDjvLr","name":"claude-bridge"}]}