claude-bridge-—-telegram-tutor-com-rolling-summary-(filhas)-v2-cNqrdlaxgdAmuHCV.json
{"updatedAt":"2026-05-18T00:12:45.933Z","createdAt":"2026-04-15T18:19:29.465Z","id":"cNqrdlaxgdAmuHCV","name":"Claude Bridge — Telegram Tutor com Rolling Summary (Filhas) v2","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"6e78379a-3881-4cae-8d3b-4fb03e0faf1d","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-992,176],"webhookId":"tutor-telegram-trigger-v2","credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-giuliana","leftValue":"={{ $json.message.chat.id }}","rightValue":8743894892,"operator":{"type":"number","operation":"equals"}},{"id":"check-vitoria","leftValue":"={{ $json.message.chat.id }}","rightValue":8523053691,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"2fbd05b5-3894-4ef3-9c2c-555d86490d7c","name":"IF Authorized","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-736,176]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Desculpa, nao estas autorizada a usar este bot. Fala com o teu pai.","additionalFields":{}},"id":"0087980e-ee0b-49d7-8340-b5424d0ec452","name":"Not Authorized","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-432,464],"webhookId":"f6481a7a-1abd-4afb-afa6-a1466c454079","credentials":null},{"parameters":{"jsCode":"// Detect Message Type + Extract file_id + caption/text\nconst msg = $('Telegram Trigger').first().json.message;\nconst chatId = msg.chat.id;\n\nlet fileType = 'text';\nlet fileId = '';\nlet userMessage = '';\nlet mimeType = '';\n\nif (msg.photo && msg.photo.length > 0) {\n  fileType = 'image';\n  // Last element = highest resolution\n  fileId = msg.photo[msg.photo.length - 1].file_id;\n  userMessage = msg.caption || '(foto enviada sem pergunta — analisa o conteudo da imagem)';\n} else if (msg.document) {\n  fileType = 'document';\n  fileId = msg.document.file_id;\n  mimeType = msg.document.mime_type || '';\n  userMessage = msg.caption || '(documento enviado sem pergunta — analisa o conteudo)';\n} else if (msg.voice) {\n  fileType = 'audio';\n  fileId = msg.voice.file_id;\n  mimeType = msg.voice.mime_type || 'audio/ogg';\n  userMessage = '(audio — aguardando transcricao)';\n} else if (msg.audio) {\n  fileType = 'audio';\n  fileId = msg.audio.file_id;\n  mimeType = msg.audio.mime_type || 'audio/mpeg';\n  userMessage = '(audio — aguardando transcricao)';\n} else if (msg.text) {\n  fileType = 'text';\n  userMessage = msg.text;\n} else {\n  fileType = 'text';\n  userMessage = '(tipo de mensagem nao suportado)';\n}\n\n// Student context\nlet studentName = '';\nlet studentContext = '';\n\nif (chatId === 8743894892) {\n  studentName = 'Giuliana Fiamenghi Ribeiro';\n  studentContext = 'Giuliana tem 21 anos, estuda Biomedicina. Lingua preferida: PT-BR. Trata-a como uma jovem adulta universitaria inteligente e curiosa.';\n} else if (chatId === 8523053691) {\n  studentName = 'Maria Vitoria Fiamenghi Ribeiro';\n  studentContext = 'Maria Vitoria tem 23 anos. Lingua preferida: PT-BR. Trata-a como uma jovem adulta universitaria inteligente e curiosa.';\n}\n\nreturn [{ json: {\n  fileType,\n  fileId,\n  userMessage,\n  mimeType,\n  studentName,\n  studentContext,\n  chatId: String(chatId)\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,160],"id":"589d25d8-8550-47e2-a3de-3c3ab1111dfc","name":"Detect Message Type"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"is-text","leftValue":"={{ $json.fileType }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,160],"id":"bc0a12e4-dbee-4ab0-a846-4de24d9de766","name":"IF Text Only"},{"parameters":{"url":"=https://api.telegram.org/bot8707039071:AAFzpbI6_yZMnmrL6Te-n7x6qQbgYLYp9yg/getFile?file_id={{ $('Detect Message Type').item.json.fileId }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,320],"id":"53e90794-cff4-42bd-a279-d7d190f18419","name":"Get File Path"},{"parameters":{"url":"=https://api.telegram.org/file/bot8707039071:AAFzpbI6_yZMnmrL6Te-n7x6qQbgYLYp9yg/{{ $json.result.file_path }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,320],"id":"4db80d74-1121-46bf-a695-9af725ba152f","name":"Download File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"is-audio","leftValue":"={{ $('Detect Message Type').item.json.fileType }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,320],"id":"8c54f9fe-954d-4e46-abcf-2e08b9626c95","name":"IF Audio"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"name":"language","value":"pt"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,240],"id":"b28cfc3d-e1f8-4d67-b084-51bb09cdcb91","name":"Whisper Transcribe"},{"parameters":{"jsCode":"// After Whisper transcription — set userMessage to transcribed text\nconst transcription = $input.first().json.text || '(nao foi possivel transcrever o audio)';\nconst detect = $('Detect Message Type').first().json;\n\nreturn [{ json: {\n  ...detect,\n  userMessage: transcription,\n  fileType: 'audio',\n  fileContent: '',\n  fileDescription: ''\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,240],"id":"bef42ed6-f190-485e-bc13-c1b520535045","name":"Set Audio Text"},{"parameters":{"jsCode":"// Process image or document via Haiku Vision API\nconst detect = $('Detect Message Type').first().json;\nconst binaryData = $input.first().binary;\n\nif (!binaryData || !binaryData.data) {\n  return [{ json: { ...detect, fileContent: '', fileDescription: '(erro ao processar ficheiro)' } }];\n}\n\nconst base64 = binaryData.data.data;\nlet fileMimeType = binaryData.data.mimeType || detect.mimeType || '';\nconst validImageTypes = ['image/jpeg', 'image/png', 'image/gif', 'image/webp'];\nconst validDocTypes = ['application/pdf'];\nif (detect.fileType === 'image' && !validImageTypes.includes(fileMimeType)) {\n  fileMimeType = 'image/jpeg';\n} else if (detect.fileType === 'document' && !validDocTypes.includes(fileMimeType)) {\n  fileMimeType = 'application/pdf';\n}\nconst fileType = detect.fileType;\n\nlet content = [];\n\nif (fileType === 'image') {\n  content = [\n    {\n      type: 'image',\n      source: {\n        type: 'base64',\n        media_type: fileMimeType,\n        data: base64\n      }\n    },\n    {\n      type: 'text',\n      text: 'Descreve detalhadamente o conteudo desta imagem. Se for um exercicio escolar, transcreve o enunciado completo e identifica a disciplina. Se for texto manuscrito, transcreve-o. Se for um diagrama ou grafico, descreve-o. Responde em portugues.'\n    }\n  ];\n} else if (fileType === 'document') {\n  // PDF via document type\n  content = [\n    {\n      type: 'document',\n      source: {\n        type: 'base64',\n        media_type: fileMimeType.includes('pdf') ? 'application/pdf' : fileMimeType,\n        data: base64\n      }\n    },\n    {\n      type: 'text',\n      text: 'Extrai e resume o conteudo principal deste documento. Se forem apontamentos ou exercicios, identifica a disciplina e os topicos. Transcreve partes relevantes. Maximo 1000 palavras. Responde em portugues.'\n    }\n  ];\n}\n\nconst body = {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 2048,\n  messages: [{ role: 'user', content: content }]\n};\n\nreturn [{ json: {\n  body: JSON.stringify(body),\n  studentName: detect.studentName,\n  studentContext: detect.studentContext,\n  userMessage: detect.userMessage,\n  chatId: detect.chatId,\n  fileType: detect.fileType,\n  mimeType: detect.mimeType\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,480],"id":"28f672f2-0a4d-40ca-bf5f-c88138f5ba4d","name":"Prepare Vision Request"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,480],"id":"c92e603c-0630-4d92-a599-016918258727","name":"Haiku Vision"},{"parameters":{"jsCode":"// Parse Haiku Vision response and merge back with context\nconst visionResponse = $input.first().json;\nconst prepData = $('Prepare Vision Request').first().json;\n\nlet fileDescription = '';\ntry {\n  fileDescription = visionResponse.content[0].text || '';\n} catch(e) {\n  fileDescription = '(erro ao analisar ficheiro)';\n}\n\nreturn [{ json: {\n  studentName: prepData.studentName,\n  studentContext: prepData.studentContext,\n  userMessage: prepData.userMessage,\n  chatId: prepData.chatId,\n  fileType: prepData.fileType,\n  fileContent: '',\n  fileDescription: fileDescription\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,480],"id":"e1e2c484-023a-4106-8412-8aaf911fe7e5","name":"Parse Vision Response"},{"parameters":{"jsCode":"// Text-only path — no file processing needed\nconst detect = $('Detect Message Type').first().json;\n\nreturn [{ json: {\n  studentName: detect.studentName,\n  studentContext: detect.studentContext,\n  userMessage: detect.userMessage,\n  chatId: detect.chatId,\n  fileType: 'text',\n  fileContent: '',\n  fileDescription: ''\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"2a39292a-c0ce-4f46-a42e-b7b32af19402","name":"Text Passthrough"},{"parameters":{"jsCode":"// Merge node — receives from 3 paths: text, audio, image/document\nconst item = $input.first().json;\n\nreturn [{ json: {\n  studentName: item.studentName,\n  studentContext: item.studentContext,\n  userMessage: item.userMessage,\n  chatId: item.chatId,\n  fileType: item.fileType,\n  fileContent: item.fileContent || '',\n  fileDescription: item.fileDescription || ''\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,160],"id":"5ca5ff04-9d12-45b9-a08f-395b151f4b02","name":"Merge Context"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblaado7k0a1OH8rh","mode":"id"},"filterByFormula":"={chat_id} = '{{ $json.chatId }}'","options":{},"sort":{"property":[{"field":"Timestamp","direction":"desc"}]}},"id":"0b3a0e8e-ad24-4e29-9783-ba8bbc3e0ba3","name":"Get Recent History","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1568,160],"alwaysOutputData":true,"credentials":null},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblMikdFKWuCNe4Iq","mode":"id"},"filterByFormula":"=AND({Source} = 'TutorSummary', FIND('{{ $json.studentName }}', {Summary}) > 0)","options":{}},"id":"311779fc-d613-4b93-86ee-ecb8708f3e1d","name":"Get Rolling Summary","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1792,160],"alwaysOutputData":true,"credentials":null},{"parameters":{"jsCode":"const allItems = $items('Get Recent History');\nconst summaryItems = $('Get Rolling Summary').all();\n\nconst ctx = $('Merge Context').first().json;\nconst studentName = ctx.studentName;\nconst studentContext = ctx.studentContext;\nconst userMessage = ctx.userMessage;\nconst chatId = ctx.chatId;\nconst fileType = ctx.fileType;\nconst fileDescription = ctx.fileDescription || '';\n\nlet rollingSummary = '';\nif (summaryItems && summaryItems.length > 0) {\n  const f = summaryItems[0].json.fields || summaryItems[0].json;\n  if (f.Details) {\n    rollingSummary = `\\n\\nMEMORIA DE LONGO PRAZO (resumo de todas as conversas anteriores):\\n${f.Details}`;\n  }\n}\n\nconst historyItems = $('Get Recent History').all();\nlet historyText = '';\nlet messageCount = 0;\nif (historyItems && historyItems.length > 0) {\n  const msgs = historyItems\n    .map(i => {\n      const f = i.json.fields || i.json;\n      if (!f.Message) return null;\n      messageCount++;\n      const role = f.Role === 'assistant' ? 'Tutor' : f.Name || 'Aluna';\n      return `${role}: ${f.Message.substring(0, 300)}`;\n    })\n    .filter(Boolean)\n    .reverse()\n    .slice(-10);\n  if (msgs.length > 0) {\n    historyText = `\\n\\nHISTORICO RECENTE (ultimas mensagens):\\n${msgs.join('\\n')}`;\n  }\n}\n\n// Build file context section\nlet fileContext = '';\nif (fileType === 'image' && fileDescription) {\n  fileContext = `\\n\\nCONTEUDO DO FICHEIRO ENVIADO (imagem analisada por IA):\\n${fileDescription}\\n\\nA estudante enviou uma foto. Usa a descricao acima para entender o conteudo e ajuda-la. Se for um exercicio, guia-a pelo metodo Socratico sem dar a resposta directa.`;\n} else if (fileType === 'document' && fileDescription) {\n  fileContext = `\\n\\nCONTEUDO DO DOCUMENTO ENVIADO (extraido por IA):\\n${fileDescription}\\n\\nA estudante enviou um documento. Usa o conteudo extraido acima para ajuda-la. Se forem apontamentos, oferece-te para explicar ou fazer perguntas de revisao.`;\n} else if (fileType === 'audio') {\n  fileContext = `\\n\\nNOTA: A estudante enviou uma mensagem de audio que foi transcrita automaticamente. A pergunta abaixo e a transcricao do audio.`;\n}\n\nconst prompt = `Es um tutor pessoal chamado Tutor IA para ${studentName}. ${studentContext}${rollingSummary}${historyText}${fileContext}\n\nREGRAS:\n1. Explica de forma clara e adequada a idade da estudante\n2. Usa exemplos praticos e do dia a dia\n3. Se a pergunta envolver conteudo perigoso, inapropriado ou para adultos, recusa educadamente\n4. Se a pergunta for sobre um exercicio ou exame, NAO des a resposta directa. Guia a estudante com perguntas e dicas para que ela chegue a resposta sozinha (metodo Socratico)\n5. Se nao sabes a resposta, diz honestamente\n6. Responde no mesmo idioma em que a pergunta foi feita\n7. Se for uma pergunta de matematica ou ciencias, mostra o raciocinio passo a passo\n8. Se a pergunta for conversa casual (ola, tudo bem, etc), responde de forma amigavel e natural\n9. Usa a MEMORIA DE LONGO PRAZO para continuidade — se a aluna ja estudou um tema antes, referencia isso naturalmente\n10. Maximo 500 palavras na resposta\n11. Se a aluna enviou uma foto ou documento, analisa o conteudo descrito e responde em contexto\n12. Se a aluna enviou audio, responde normalmente a pergunta transcrita\n\nPERGUNTA DA ESTUDANTE:\n${userMessage}`;\n\nreturn [{ json: { prompt, timeout: 60000, chatId, studentName, userMessage, messageCount, fileType } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,160],"id":"f94dde4a-c02a-45ff-a13c-f954a72c827e","name":"Build Tutor Prompt"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"32420eb0-14a2-4d27-ab46-f70df3551705","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,160],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"chatId":"={{ $('Build Tutor Prompt').item.json.chatId }}","text":"={{ $json.output }}","additionalFields":{"parse_mode":"Markdown"}},"id":"da2c9054-f292-487f-90f2-f8c8d9842c24","name":"Telegram Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2464,160],"webhookId":"6d9a9bcb-de4c-4f67-b3a8-0592b2a40b35","credentials":null},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblaado7k0a1OH8rh","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Build Tutor Prompt').item.json.studentName }}","chat_id":"={{ $('Build Tutor Prompt').item.json.chatId }}","Role":"user","Message":"={{ $('Build Tutor Prompt').item.json.userMessage }}","Project":"Pessoal","FileType":"={{ $('Build Tutor Prompt').item.json.fileType }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"FileType","displayName":"FileType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"bd7d5f13-aca8-4fb3-93f7-741b9e67715f","name":"Save Question","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2464,368],"credentials":null},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblaado7k0a1OH8rh","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Build Tutor Prompt').item.json.studentName }}","chat_id":"={{ $('Build Tutor Prompt').item.json.chatId }}","Role":"assistant","Message":"={{ $('Claude Bridge').item.json.output.substring(0, 10000) }}","Project":"Pessoal","FileType":"={{ $('Build Tutor Prompt').item.json.fileType }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"FileType","displayName":"FileType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"b6698b62-e6ad-4712-ab1d-1572c4028d0b","name":"Save Response","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2688,160],"credentials":null},{"parameters":{"jsCode":"const messageCount = ($('Build Tutor Prompt').first().json.messageCount || 0) + 2;\nconst studentName = $('Build Tutor Prompt').first().json.studentName;\nconst chatId = $('Build Tutor Prompt').first().json.chatId;\nconst lastResponse = $('Claude Bridge').first().json.output || '';\nconst lastQuestion = $('Build Tutor Prompt').first().json.userMessage || '';\n\nconst shouldUpdateSummary = messageCount > 0 && messageCount % 10 === 0;\n\nconst summaryItems = $('Get Rolling Summary').all();\nlet existingSummary = '';\nlet existingSummaryRecordId = '';\nif (summaryItems && summaryItems.length > 0) {\n  const f = summaryItems[0].json.fields || summaryItems[0].json;\n  existingSummary = f.Details || '';\n  existingSummaryRecordId = summaryItems[0].json.id || '';\n}\n\nconst historyItems = $('Get Recent History').all();\nlet recentConversations = '';\nif (historyItems && historyItems.length > 0) {\n  const msgs = historyItems\n    .map(i => {\n      const f = i.json.fields || i.json;\n      if (!f.Message) return null;\n      const role = f.Role === 'assistant' ? 'Tutor' : 'Aluna';\n      return `${role}: ${f.Message.substring(0, 500)}`;\n    })\n    .filter(Boolean)\n    .reverse();\n  recentConversations = msgs.join('\\n');\n}\n\nrecentConversations += `\\nAluna: ${lastQuestion}\\nTutor: ${lastResponse.substring(0, 500)}`;\n\nreturn [{ json: { \n  shouldUpdateSummary, \n  studentName, \n  chatId, \n  existingSummary, \n  existingSummaryRecordId,\n  recentConversations,\n  messageCount\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,160],"id":"fbd3f545-d754-4c8a-ae4c-5d89dac4641b","name":"Check Summary Update"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-update","leftValue":"={{ $json.shouldUpdateSummary }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"dd84ad10-5dfd-458d-9c20-ffe27e1f6a64","name":"IF Update Summary","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3136,160]},{"parameters":{"jsCode":"const studentName = $json.studentName;\nconst existingSummary = $json.existingSummary;\nconst recentConversations = $json.recentConversations;\n\nconst prompt = `Es um assistente que gera resumos de conversas de tutoria. Atualiza o resumo cumulativo desta aluna.\n\nALUNA: ${studentName}\n\nRESUMO ANTERIOR:\n${existingSummary || '(primeira vez — nao ha resumo anterior)'}\n\nCONVERSAS RECENTES:\n${recentConversations.substring(0, 6000)}\n\nGera um resumo atualizado que inclua:\n1. Disciplinas/materias que a aluna estuda (com topicos especificos)\n2. Pontos fortes detectados\n3. Dificuldades recorrentes\n4. Estilo de aprendizagem preferido (exemplos, visual, passo-a-passo, etc)\n5. Topicos ja cobertos (para nao repetir explicacoes basicas)\n6. Contexto pessoal relevante mencionado nas conversas\n\nRETORNA APENAS o resumo atualizado, sem prefacio. Maximo 500 palavras.`;\n\nconst body = {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 1024,\n  messages: [{ role: 'user', content: prompt }]\n};\n\nreturn [{ json: { \n  body: JSON.stringify(body),\n  studentName: $json.studentName,\n  existingSummaryRecordId: $json.existingSummaryRecordId\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,80],"id":"239f50e3-9d46-4236-9af8-840b108eb109","name":"Prepare Summary Body"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"timeout":30000}},"id":"2efa037f-6899-44f8-a235-d57668914c67","name":"Haiku Generate Summary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3584,80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const haikuResponse = $input.first().json;\nlet newSummary = '';\ntry {\n  newSummary = haikuResponse.content[0].text || '';\n} catch(e) {\n  newSummary = 'Erro ao gerar resumo';\n}\n\nconst studentName = $('Prepare Summary Body').first().json.studentName;\nconst existingRecordId = $('Prepare Summary Body').first().json.existingSummaryRecordId;\n\nreturn [{ json: { newSummary, studentName, existingRecordId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,80],"id":"27e6ef36-c594-419c-a4d7-49bef67de7b7","name":"Parse Summary"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblMikdFKWuCNe4Iq","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Summary":"=TutorSummary: {{ $json.studentName }}","Source":"TutorSummary","Project":"Personal","Type":"Pattern","Details":"={{ $json.newSummary }}","Importance":5,"Tags":"tutor, rolling-summary"},"matchingColumns":[],"schema":[{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Details","displayName":"Details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Importance","displayName":"Importance","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"c7aa7c44-057a-463b-b735-e23a2e4cccbf","name":"Save Rolling Summary","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4032,80],"credentials":null},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3360,320],"id":"ecf6a298-404b-4f5b-a816-bdff259b2826","name":"No Operation, do nothing"}],"connections":{"Telegram Trigger":{"main":[[{"node":"IF Authorized","type":"main","index":0}]]},"IF Authorized":{"main":[[{"node":"Detect Message Type","type":"main","index":0}],[{"node":"Not Authorized","type":"main","index":0}]]},"Detect Message Type":{"main":[[{"node":"IF Text Only","type":"main","index":0}]]},"IF Text Only":{"main":[[{"node":"Text Passthrough","type":"main","index":0}],[{"node":"Get File Path","type":"main","index":0}]]},"Text Passthrough":{"main":[[{"node":"Merge Context","type":"main","index":0}]]},"Get File Path":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Download File":{"main":[[{"node":"IF Audio","type":"main","index":0}]]},"IF Audio":{"main":[[{"node":"Whisper Transcribe","type":"main","index":0}],[{"node":"Prepare Vision Request","type":"main","index":0}]]},"Whisper Transcribe":{"main":[[{"node":"Set Audio Text","type":"main","index":0}]]},"Set Audio Text":{"main":[[{"node":"Merge Context","type":"main","index":0}]]},"Prepare Vision Request":{"main":[[{"node":"Haiku Vision","type":"main","index":0}]]},"Haiku Vision":{"main":[[{"node":"Parse Vision Response","type":"main","index":0}]]},"Parse Vision Response":{"main":[[{"node":"Merge Context","type":"main","index":0}]]},"Merge Context":{"main":[[{"node":"Get Recent History","type":"main","index":0}]]},"Get Recent History":{"main":[[{"node":"Get Rolling Summary","type":"main","index":0}]]},"Get Rolling Summary":{"main":[[{"node":"Build Tutor Prompt","type":"main","index":0}]]},"Build Tutor Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Telegram Reply","type":"main","index":0},{"node":"Save Question","type":"main","index":0}]]},"Telegram Reply":{"main":[[{"node":"Save Response","type":"main","index":0}]]},"Save Response":{"main":[[{"node":"Check Summary Update","type":"main","index":0}]]},"Check Summary Update":{"main":[[{"node":"IF Update Summary","type":"main","index":0}]]},"IF Update Summary":{"main":[[{"node":"Prepare Summary Body","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Prepare Summary Body":{"main":[[{"node":"Haiku Generate Summary","type":"main","index":0}]]},"Haiku Generate Summary":{"main":[[{"node":"Parse Summary","type":"main","index":0}]]},"Parse Summary":{"main":[[{"node":"Save Rolling Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu","executionTimeout":600},"staticData":null,"meta":null,"pinData":{},"versionId":"b8cceef6-8f93-47a7-89dc-ad6324d1c274","activeVersionId":"b8cceef6-8f93-47a7-89dc-ad6324d1c274","triggerCount":1,"shared":[{"updatedAt":"2026-04-15T18:19:29.465Z","createdAt":"2026-04-15T18:19:29.465Z","role":"workflow:owner","workflowId":"cNqrdlaxgdAmuHCV","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-18T00:12:45.937Z","createdAt":"2026-05-18T00:12:45.937Z","versionId":"b8cceef6-8f93-47a7-89dc-ad6324d1c274","workflowId":"cNqrdlaxgdAmuHCV","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"6e78379a-3881-4cae-8d3b-4fb03e0faf1d","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-992,176],"webhookId":"tutor-telegram-trigger-v2","credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-giuliana","leftValue":"={{ $json.message.chat.id }}","rightValue":8743894892,"operator":{"type":"number","operation":"equals"}},{"id":"check-vitoria","leftValue":"={{ $json.message.chat.id }}","rightValue":8523053691,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"2fbd05b5-3894-4ef3-9c2c-555d86490d7c","name":"IF Authorized","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-736,176]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Desculpa, nao estas autorizada a usar este bot. Fala com o teu pai.","additionalFields":{}},"id":"0087980e-ee0b-49d7-8340-b5424d0ec452","name":"Not Authorized","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-432,464],"webhookId":"f6481a7a-1abd-4afb-afa6-a1466c454079","credentials":null},{"parameters":{"jsCode":"// Detect Message Type + Extract file_id + caption/text\nconst msg = $('Telegram Trigger').first().json.message;\nconst chatId = msg.chat.id;\n\nlet fileType = 'text';\nlet fileId = '';\nlet userMessage = '';\nlet mimeType = '';\n\nif (msg.photo && msg.photo.length > 0) {\n  fileType = 'image';\n  // Last element = highest resolution\n  fileId = msg.photo[msg.photo.length - 1].file_id;\n  userMessage = msg.caption || '(foto enviada sem pergunta — analisa o conteudo da imagem)';\n} else if (msg.document) {\n  fileType = 'document';\n  fileId = msg.document.file_id;\n  mimeType = msg.document.mime_type || '';\n  userMessage = msg.caption || '(documento enviado sem pergunta — analisa o conteudo)';\n} else if (msg.voice) {\n  fileType = 'audio';\n  fileId = msg.voice.file_id;\n  mimeType = msg.voice.mime_type || 'audio/ogg';\n  userMessage = '(audio — aguardando transcricao)';\n} else if (msg.audio) {\n  fileType = 'audio';\n  fileId = msg.audio.file_id;\n  mimeType = msg.audio.mime_type || 'audio/mpeg';\n  userMessage = '(audio — aguardando transcricao)';\n} else if (msg.text) {\n  fileType = 'text';\n  userMessage = msg.text;\n} else {\n  fileType = 'text';\n  userMessage = '(tipo de mensagem nao suportado)';\n}\n\n// Student context\nlet studentName = '';\nlet studentContext = '';\n\nif (chatId === 8743894892) {\n  studentName = 'Giuliana Fiamenghi Ribeiro';\n  studentContext = 'Giuliana tem 21 anos, estuda Biomedicina. Lingua preferida: PT-BR. Trata-a como uma jovem adulta universitaria inteligente e curiosa.';\n} else if (chatId === 8523053691) {\n  studentName = 'Maria Vitoria Fiamenghi Ribeiro';\n  studentContext = 'Maria Vitoria tem 23 anos. Lingua preferida: PT-BR. Trata-a como uma jovem adulta universitaria inteligente e curiosa.';\n}\n\nreturn [{ json: {\n  fileType,\n  fileId,\n  userMessage,\n  mimeType,\n  studentName,\n  studentContext,\n  chatId: String(chatId)\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,160],"id":"589d25d8-8550-47e2-a3de-3c3ab1111dfc","name":"Detect Message Type"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"is-text","leftValue":"={{ $json.fileType }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,160],"id":"bc0a12e4-dbee-4ab0-a846-4de24d9de766","name":"IF Text Only"},{"parameters":{"url":"=https://api.telegram.org/bot8707039071:AAFzpbI6_yZMnmrL6Te-n7x6qQbgYLYp9yg/getFile?file_id={{ $('Detect Message Type').item.json.fileId }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,320],"id":"53e90794-cff4-42bd-a279-d7d190f18419","name":"Get File Path"},{"parameters":{"url":"=https://api.telegram.org/file/bot8707039071:AAFzpbI6_yZMnmrL6Te-n7x6qQbgYLYp9yg/{{ $json.result.file_path }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,320],"id":"4db80d74-1121-46bf-a695-9af725ba152f","name":"Download File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"is-audio","leftValue":"={{ $('Detect Message Type').item.json.fileType }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,320],"id":"8c54f9fe-954d-4e46-abcf-2e08b9626c95","name":"IF Audio"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"name":"language","value":"pt"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,240],"id":"b28cfc3d-e1f8-4d67-b084-51bb09cdcb91","name":"Whisper Transcribe"},{"parameters":{"jsCode":"// After Whisper transcription — set userMessage to transcribed text\nconst transcription = $input.first().json.text || '(nao foi possivel transcrever o audio)';\nconst detect = $('Detect Message Type').first().json;\n\nreturn [{ json: {\n  ...detect,\n  userMessage: transcription,\n  fileType: 'audio',\n  fileContent: '',\n  fileDescription: ''\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,240],"id":"bef42ed6-f190-485e-bc13-c1b520535045","name":"Set Audio Text"},{"parameters":{"jsCode":"// Process image or document via Haiku Vision API\nconst detect = $('Detect Message Type').first().json;\nconst binaryData = $input.first().binary;\n\nif (!binaryData || !binaryData.data) {\n  return [{ json: { ...detect, fileContent: '', fileDescription: '(erro ao processar ficheiro)' } }];\n}\n\nconst base64 = binaryData.data.data;\nlet fileMimeType = binaryData.data.mimeType || detect.mimeType || '';\nconst validImageTypes = ['image/jpeg', 'image/png', 'image/gif', 'image/webp'];\nconst validDocTypes = ['application/pdf'];\nif (detect.fileType === 'image' && !validImageTypes.includes(fileMimeType)) {\n  fileMimeType = 'image/jpeg';\n} else if (detect.fileType === 'document' && !validDocTypes.includes(fileMimeType)) {\n  fileMimeType = 'application/pdf';\n}\nconst fileType = detect.fileType;\n\nlet content = [];\n\nif (fileType === 'image') {\n  content = [\n    {\n      type: 'image',\n      source: {\n        type: 'base64',\n        media_type: fileMimeType,\n        data: base64\n      }\n    },\n    {\n      type: 'text',\n      text: 'Descreve detalhadamente o conteudo desta imagem. Se for um exercicio escolar, transcreve o enunciado completo e identifica a disciplina. Se for texto manuscrito, transcreve-o. Se for um diagrama ou grafico, descreve-o. Responde em portugues.'\n    }\n  ];\n} else if (fileType === 'document') {\n  // PDF via document type\n  content = [\n    {\n      type: 'document',\n      source: {\n        type: 'base64',\n        media_type: fileMimeType.includes('pdf') ? 'application/pdf' : fileMimeType,\n        data: base64\n      }\n    },\n    {\n      type: 'text',\n      text: 'Extrai e resume o conteudo principal deste documento. Se forem apontamentos ou exercicios, identifica a disciplina e os topicos. Transcreve partes relevantes. Maximo 1000 palavras. Responde em portugues.'\n    }\n  ];\n}\n\nconst body = {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 2048,\n  messages: [{ role: 'user', content: content }]\n};\n\nreturn [{ json: {\n  body: JSON.stringify(body),\n  studentName: detect.studentName,\n  studentContext: detect.studentContext,\n  userMessage: detect.userMessage,\n  chatId: detect.chatId,\n  fileType: detect.fileType,\n  mimeType: detect.mimeType\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,480],"id":"28f672f2-0a4d-40ca-bf5f-c88138f5ba4d","name":"Prepare Vision Request"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,480],"id":"c92e603c-0630-4d92-a599-016918258727","name":"Haiku Vision"},{"parameters":{"jsCode":"// Parse Haiku Vision response and merge back with context\nconst visionResponse = $input.first().json;\nconst prepData = $('Prepare Vision Request').first().json;\n\nlet fileDescription = '';\ntry {\n  fileDescription = visionResponse.content[0].text || '';\n} catch(e) {\n  fileDescription = '(erro ao analisar ficheiro)';\n}\n\nreturn [{ json: {\n  studentName: prepData.studentName,\n  studentContext: prepData.studentContext,\n  userMessage: prepData.userMessage,\n  chatId: prepData.chatId,\n  fileType: prepData.fileType,\n  fileContent: '',\n  fileDescription: fileDescription\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,480],"id":"e1e2c484-023a-4106-8412-8aaf911fe7e5","name":"Parse Vision Response"},{"parameters":{"jsCode":"// Text-only path — no file processing needed\nconst detect = $('Detect Message Type').first().json;\n\nreturn [{ json: {\n  studentName: detect.studentName,\n  studentContext: detect.studentContext,\n  userMessage: detect.userMessage,\n  chatId: detect.chatId,\n  fileType: 'text',\n  fileContent: '',\n  fileDescription: ''\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"2a39292a-c0ce-4f46-a42e-b7b32af19402","name":"Text Passthrough"},{"parameters":{"jsCode":"// Merge node — receives from 3 paths: text, audio, image/document\nconst item = $input.first().json;\n\nreturn [{ json: {\n  studentName: item.studentName,\n  studentContext: item.studentContext,\n  userMessage: item.userMessage,\n  chatId: item.chatId,\n  fileType: item.fileType,\n  fileContent: item.fileContent || '',\n  fileDescription: item.fileDescription || ''\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,160],"id":"5ca5ff04-9d12-45b9-a08f-395b151f4b02","name":"Merge Context"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblaado7k0a1OH8rh","mode":"id"},"filterByFormula":"={chat_id} = '{{ $json.chatId }}'","options":{},"sort":{"property":[{"field":"Timestamp","direction":"desc"}]}},"id":"0b3a0e8e-ad24-4e29-9783-ba8bbc3e0ba3","name":"Get Recent History","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1568,160],"alwaysOutputData":true,"credentials":null},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblMikdFKWuCNe4Iq","mode":"id"},"filterByFormula":"=AND({Source} = 'TutorSummary', FIND('{{ $json.studentName }}', {Summary}) > 0)","options":{}},"id":"311779fc-d613-4b93-86ee-ecb8708f3e1d","name":"Get Rolling Summary","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1792,160],"alwaysOutputData":true,"credentials":null},{"parameters":{"jsCode":"const allItems = $items('Get Recent History');\nconst summaryItems = $('Get Rolling Summary').all();\n\nconst ctx = $('Merge Context').first().json;\nconst studentName = ctx.studentName;\nconst studentContext = ctx.studentContext;\nconst userMessage = ctx.userMessage;\nconst chatId = ctx.chatId;\nconst fileType = ctx.fileType;\nconst fileDescription = ctx.fileDescription || '';\n\nlet rollingSummary = '';\nif (summaryItems && summaryItems.length > 0) {\n  const f = summaryItems[0].json.fields || summaryItems[0].json;\n  if (f.Details) {\n    rollingSummary = `\\n\\nMEMORIA DE LONGO PRAZO (resumo de todas as conversas anteriores):\\n${f.Details}`;\n  }\n}\n\nconst historyItems = $('Get Recent History').all();\nlet historyText = '';\nlet messageCount = 0;\nif (historyItems && historyItems.length > 0) {\n  const msgs = historyItems\n    .map(i => {\n      const f = i.json.fields || i.json;\n      if (!f.Message) return null;\n      messageCount++;\n      const role = f.Role === 'assistant' ? 'Tutor' : f.Name || 'Aluna';\n      return `${role}: ${f.Message.substring(0, 300)}`;\n    })\n    .filter(Boolean)\n    .reverse()\n    .slice(-10);\n  if (msgs.length > 0) {\n    historyText = `\\n\\nHISTORICO RECENTE (ultimas mensagens):\\n${msgs.join('\\n')}`;\n  }\n}\n\n// Build file context section\nlet fileContext = '';\nif (fileType === 'image' && fileDescription) {\n  fileContext = `\\n\\nCONTEUDO DO FICHEIRO ENVIADO (imagem analisada por IA):\\n${fileDescription}\\n\\nA estudante enviou uma foto. Usa a descricao acima para entender o conteudo e ajuda-la. Se for um exercicio, guia-a pelo metodo Socratico sem dar a resposta directa.`;\n} else if (fileType === 'document' && fileDescription) {\n  fileContext = `\\n\\nCONTEUDO DO DOCUMENTO ENVIADO (extraido por IA):\\n${fileDescription}\\n\\nA estudante enviou um documento. Usa o conteudo extraido acima para ajuda-la. Se forem apontamentos, oferece-te para explicar ou fazer perguntas de revisao.`;\n} else if (fileType === 'audio') {\n  fileContext = `\\n\\nNOTA: A estudante enviou uma mensagem de audio que foi transcrita automaticamente. A pergunta abaixo e a transcricao do audio.`;\n}\n\nconst prompt = `Es um tutor pessoal chamado Tutor IA para ${studentName}. ${studentContext}${rollingSummary}${historyText}${fileContext}\n\nREGRAS:\n1. Explica de forma clara e adequada a idade da estudante\n2. Usa exemplos praticos e do dia a dia\n3. Se a pergunta envolver conteudo perigoso, inapropriado ou para adultos, recusa educadamente\n4. Se a pergunta for sobre um exercicio ou exame, NAO des a resposta directa. Guia a estudante com perguntas e dicas para que ela chegue a resposta sozinha (metodo Socratico)\n5. Se nao sabes a resposta, diz honestamente\n6. Responde no mesmo idioma em que a pergunta foi feita\n7. Se for uma pergunta de matematica ou ciencias, mostra o raciocinio passo a passo\n8. Se a pergunta for conversa casual (ola, tudo bem, etc), responde de forma amigavel e natural\n9. Usa a MEMORIA DE LONGO PRAZO para continuidade — se a aluna ja estudou um tema antes, referencia isso naturalmente\n10. Maximo 500 palavras na resposta\n11. Se a aluna enviou uma foto ou documento, analisa o conteudo descrito e responde em contexto\n12. Se a aluna enviou audio, responde normalmente a pergunta transcrita\n\nPERGUNTA DA ESTUDANTE:\n${userMessage}`;\n\nreturn [{ json: { prompt, timeout: 60000, chatId, studentName, userMessage, messageCount, fileType } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,160],"id":"f94dde4a-c02a-45ff-a13c-f954a72c827e","name":"Build Tutor Prompt"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"32420eb0-14a2-4d27-ab46-f70df3551705","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,160],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"chatId":"={{ $('Build Tutor Prompt').item.json.chatId }}","text":"={{ $json.output }}","additionalFields":{"parse_mode":"Markdown"}},"id":"da2c9054-f292-487f-90f2-f8c8d9842c24","name":"Telegram Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2464,160],"webhookId":"6d9a9bcb-de4c-4f67-b3a8-0592b2a40b35","credentials":null},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblaado7k0a1OH8rh","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Build Tutor Prompt').item.json.studentName }}","chat_id":"={{ $('Build Tutor Prompt').item.json.chatId }}","Role":"user","Message":"={{ $('Build Tutor Prompt').item.json.userMessage }}","Project":"Pessoal","FileType":"={{ $('Build Tutor Prompt').item.json.fileType }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"FileType","displayName":"FileType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"bd7d5f13-aca8-4fb3-93f7-741b9e67715f","name":"Save Question","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2464,368],"credentials":null},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblaado7k0a1OH8rh","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Build Tutor Prompt').item.json.studentName }}","chat_id":"={{ $('Build Tutor Prompt').item.json.chatId }}","Role":"assistant","Message":"={{ $('Claude Bridge').item.json.output.substring(0, 10000) }}","Project":"Pessoal","FileType":"={{ $('Build Tutor Prompt').item.json.fileType }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"FileType","displayName":"FileType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"b6698b62-e6ad-4712-ab1d-1572c4028d0b","name":"Save Response","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2688,160],"credentials":null},{"parameters":{"jsCode":"const messageCount = ($('Build Tutor Prompt').first().json.messageCount || 0) + 2;\nconst studentName = $('Build Tutor Prompt').first().json.studentName;\nconst chatId = $('Build Tutor Prompt').first().json.chatId;\nconst lastResponse = $('Claude Bridge').first().json.output || '';\nconst lastQuestion = $('Build Tutor Prompt').first().json.userMessage || '';\n\nconst shouldUpdateSummary = messageCount > 0 && messageCount % 10 === 0;\n\nconst summaryItems = $('Get Rolling Summary').all();\nlet existingSummary = '';\nlet existingSummaryRecordId = '';\nif (summaryItems && summaryItems.length > 0) {\n  const f = summaryItems[0].json.fields || summaryItems[0].json;\n  existingSummary = f.Details || '';\n  existingSummaryRecordId = summaryItems[0].json.id || '';\n}\n\nconst historyItems = $('Get Recent History').all();\nlet recentConversations = '';\nif (historyItems && historyItems.length > 0) {\n  const msgs = historyItems\n    .map(i => {\n      const f = i.json.fields || i.json;\n      if (!f.Message) return null;\n      const role = f.Role === 'assistant' ? 'Tutor' : 'Aluna';\n      return `${role}: ${f.Message.substring(0, 500)}`;\n    })\n    .filter(Boolean)\n    .reverse();\n  recentConversations = msgs.join('\\n');\n}\n\nrecentConversations += `\\nAluna: ${lastQuestion}\\nTutor: ${lastResponse.substring(0, 500)}`;\n\nreturn [{ json: { \n  shouldUpdateSummary, \n  studentName, \n  chatId, \n  existingSummary, \n  existingSummaryRecordId,\n  recentConversations,\n  messageCount\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2912,160],"id":"fbd3f545-d754-4c8a-ae4c-5d89dac4641b","name":"Check Summary Update"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-update","leftValue":"={{ $json.shouldUpdateSummary }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"dd84ad10-5dfd-458d-9c20-ffe27e1f6a64","name":"IF Update Summary","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3136,160]},{"parameters":{"jsCode":"const studentName = $json.studentName;\nconst existingSummary = $json.existingSummary;\nconst recentConversations = $json.recentConversations;\n\nconst prompt = `Es um assistente que gera resumos de conversas de tutoria. Atualiza o resumo cumulativo desta aluna.\n\nALUNA: ${studentName}\n\nRESUMO ANTERIOR:\n${existingSummary || '(primeira vez — nao ha resumo anterior)'}\n\nCONVERSAS RECENTES:\n${recentConversations.substring(0, 6000)}\n\nGera um resumo atualizado que inclua:\n1. Disciplinas/materias que a aluna estuda (com topicos especificos)\n2. Pontos fortes detectados\n3. Dificuldades recorrentes\n4. Estilo de aprendizagem preferido (exemplos, visual, passo-a-passo, etc)\n5. Topicos ja cobertos (para nao repetir explicacoes basicas)\n6. Contexto pessoal relevante mencionado nas conversas\n\nRETORNA APENAS o resumo atualizado, sem prefacio. Maximo 500 palavras.`;\n\nconst body = {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 1024,\n  messages: [{ role: 'user', content: prompt }]\n};\n\nreturn [{ json: { \n  body: JSON.stringify(body),\n  studentName: $json.studentName,\n  existingSummaryRecordId: $json.existingSummaryRecordId\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,80],"id":"239f50e3-9d46-4236-9af8-840b108eb109","name":"Prepare Summary Body"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"timeout":30000}},"id":"2efa037f-6899-44f8-a235-d57668914c67","name":"Haiku Generate Summary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3584,80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const haikuResponse = $input.first().json;\nlet newSummary = '';\ntry {\n  newSummary = haikuResponse.content[0].text || '';\n} catch(e) {\n  newSummary = 'Erro ao gerar resumo';\n}\n\nconst studentName = $('Prepare Summary Body').first().json.studentName;\nconst existingRecordId = $('Prepare Summary Body').first().json.existingSummaryRecordId;\n\nreturn [{ json: { newSummary, studentName, existingRecordId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3808,80],"id":"27e6ef36-c594-419c-a4d7-49bef67de7b7","name":"Parse Summary"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblMikdFKWuCNe4Iq","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Summary":"=TutorSummary: {{ $json.studentName }}","Source":"TutorSummary","Project":"Personal","Type":"Pattern","Details":"={{ $json.newSummary }}","Importance":5,"Tags":"tutor, rolling-summary"},"matchingColumns":[],"schema":[{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Details","displayName":"Details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Importance","displayName":"Importance","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"c7aa7c44-057a-463b-b735-e23a2e4cccbf","name":"Save Rolling Summary","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4032,80],"credentials":null},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3360,320],"id":"ecf6a298-404b-4f5b-a816-bdff259b2826","name":"No Operation, do nothing"}],"connections":{"Telegram Trigger":{"main":[[{"node":"IF Authorized","type":"main","index":0}]]},"IF Authorized":{"main":[[{"node":"Detect Message Type","type":"main","index":0}],[{"node":"Not Authorized","type":"main","index":0}]]},"Detect Message Type":{"main":[[{"node":"IF Text Only","type":"main","index":0}]]},"IF Text Only":{"main":[[{"node":"Text Passthrough","type":"main","index":0}],[{"node":"Get File Path","type":"main","index":0}]]},"Text Passthrough":{"main":[[{"node":"Merge Context","type":"main","index":0}]]},"Get File Path":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Download File":{"main":[[{"node":"IF Audio","type":"main","index":0}]]},"IF Audio":{"main":[[{"node":"Whisper Transcribe","type":"main","index":0}],[{"node":"Prepare Vision Request","type":"main","index":0}]]},"Whisper Transcribe":{"main":[[{"node":"Set Audio Text","type":"main","index":0}]]},"Set Audio Text":{"main":[[{"node":"Merge Context","type":"main","index":0}]]},"Prepare Vision Request":{"main":[[{"node":"Haiku Vision","type":"main","index":0}]]},"Haiku Vision":{"main":[[{"node":"Parse Vision Response","type":"main","index":0}]]},"Parse Vision Response":{"main":[[{"node":"Merge Context","type":"main","index":0}]]},"Merge Context":{"main":[[{"node":"Get Recent History","type":"main","index":0}]]},"Get Recent History":{"main":[[{"node":"Get Rolling Summary","type":"main","index":0}]]},"Get Rolling Summary":{"main":[[{"node":"Build Tutor Prompt","type":"main","index":0}]]},"Build Tutor Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Telegram Reply","type":"main","index":0},{"node":"Save Question","type":"main","index":0}]]},"Telegram Reply":{"main":[[{"node":"Save Response","type":"main","index":0}]]},"Save Response":{"main":[[{"node":"Check Summary Update","type":"main","index":0}]]},"Check Summary Update":{"main":[[{"node":"IF Update Summary","type":"main","index":0}]]},"IF Update Summary":{"main":[[{"node":"Prepare Summary Body","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Prepare Summary Body":{"main":[[{"node":"Haiku Generate Summary","type":"main","index":0}]]},"Haiku Generate Summary":{"main":[[{"node":"Parse Summary","type":"main","index":0}]]},"Parse Summary":{"main":[[{"node":"Save Rolling Summary","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"},{"updatedAt":"2026-04-15T18:17:08.101Z","createdAt":"2026-04-15T18:17:08.101Z","id":"SR8Qe4iWHEkDkjcL","name":"tutor-v2"}]}