claude-brain-—-memory-write-v2-URJf7Jg58IQAeXfc.json
{"updatedAt":"2026-05-28T12:43:42.554Z","createdAt":"2026-04-14T12:54:56.143Z","id":"URJf7Jg58IQAeXfc","name":"Claude Brain — Memory Write v2","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"source"},{"name":"project"},{"name":"response"}]}},"id":"a57cff0a-7bb1-493b-833a-8ffb1b43b4a6","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1824,160]},{"parameters":{"jsCode":"const source = $input.first().json.source;\nconst project = $input.first().json.project;\nconst response = ($input.first().json.response || '').substring(0, 6000);\n\nconst cleanResponse = response.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n');\n\nconst prompt = `Analisa esta resposta e extrai memorias uteis para sessoes futuras. Source: ${source} Project: ${project} Resposta: ${cleanResponse} Regras: So inclui informacao que seria util relembrar. Decisoes, erros, padroes, insights. Se nada relevante retorna []. Retorna APENAS um JSON array sem markdown sem backticks: [{\"type\": \"Decision|Learning|Error|Insight|Pattern\", \"summary\": \"frase curta\", \"details\": \"contexto\", \"importance\": 1-5, \"tags\": [\"tag1\"]}]`;\n\nconst body = {\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 1024,\n  messages: [\n    { role: \"user\", content: prompt }\n  ]\n};\n\nreturn [{ json: { body: JSON.stringify(body) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,160],"id":"28f72374-9916-4cca-bed4-0a40aa1c0125","name":"Prepare Haiku Body"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"timeout":300000}},"id":"eaa65b23-1d3e-431a-aa54-6a730c6f6fb6","name":"Haiku Extract Memories","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1152,160],"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const content = $input.first().json.content[0].text;\nconst source = $('Execute Workflow Trigger').first().json.source;\nconst project = $('Execute Workflow Trigger').first().json.project;\n\nlet memories = [];\ntry {\n  let cleaned = content.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/```json?\\n?/g, '').replace(/```/g, '').trim();\n  }\n  memories = JSON.parse(cleaned);\n} catch(e) {\n  return [];\n}\n\nif (!Array.isArray(memories) || memories.length === 0) {\n  return [];\n}\n\nreturn memories.map(m => ({\n  json: {\n    source: source,\n    project: project,\n    type: m.type || 'Insight',\n    summary: m.summary || '',\n    details: m.details || '',\n    importance: m.importance || 3,\n    tags: Array.isArray(m.tags) ? m.tags : [m.tags || '']\n  }\n}));"},"id":"78daff95-d7f8-4ce8-b21f-01b41c2f6ada","name":"Parse Memories JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,160]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"text-embedding-3-small\", input: $json.summary + ' ' + $json.details }) }}","options":{"timeout":30000}},"id":"4eda1063-14ca-4433-bcbf-1284a404e066","name":"OpenAI Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-704,160],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/rpc/find_similar_memory","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.similarBody }}","options":{"timeout":15000}},"id":"1ce4b691-f30b-4a55-95f1-51d3bfd3cfb0","name":"Supabase Find Similar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,160],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const similarResults = $input.first().json;\nconst prev = $('Merge Embedding').item.json;\n\nconst hasSimilar = Array.isArray(similarResults) && similarResults.length > 0 && similarResults[0]?.id;\n\nif (hasSimilar) {\n  return [{ json: { action: 'update', existingId: similarResults[0].id, similarity: similarResults[0].similarity, ...prev } }];\n} else {\n  return [{ json: { action: 'insert', ...prev } }];\n}"},"id":"743c22c2-b7f8-4f5e-964e-300c166e51b5","name":"Decide Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[144,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"upsert-check","leftValue":"={{ $json.action }}","rightValue":"update","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[384,160],"id":"408c61ff-4bc1-45b4-993a-abcf8b4bed32","name":"IF Update?"},{"parameters":{"method":"PATCH","url":"=https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories?id=eq.{{ $json.existingId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ summary: $json.summary, details: $json.details, type: $json.type, importance: $json.importance, tags: $json.tags, embedding: $json.embedding, source: $json.source }) }}","options":{"timeout":15000}},"id":"9a0249ae-963f-439b-aacc-15cc0f827e5c","name":"Supabase UPDATE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,0]},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ summary: $json.summary, details: $json.details, source: $json.source, project: $json.project, type: $json.type, importance: $json.importance, tags: $json.tags, embedding: $json.embedding }) }}","options":{"timeout":15000}},"id":"5d359947-252e-4ff5-9f37-bbe0e091e809","name":"Supabase INSERT","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,320]},{"parameters":{"jsCode":"const mem = $('Parse Memories JSON').item.json;\nconst embedding = $json.data[0].embedding;\nreturn [{ json: { ...mem, embedding } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,160],"id":"b65ce849-a255-47cb-b2d6-361c888f4f2d","name":"Merge Embedding"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst body = JSON.stringify({\n  query_embedding: item.embedding,\n  similarity_threshold: 0.85,\n  filter_project: item.project\n});\nreturn [{ json: { ...item, similarBody: body } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,160],"id":"f4400b30-96e5-4d84-a750-a13767c3dc64","name":"Prepare Similar Body"},{"parameters":{"jsCode":"// Circuit Breaker — suprime escritas duplicadas (cascata de erro)\n// Chave: source + project + hash(response). Janela 15min. Limite N=2 (1ª passa, duplicados suprimem).\nconst item = $input.first().json;\nconst source = item.source || 'unknown';\nconst project = item.project || 'unknown';\nconst response = item.response || '';\n\n// hash simples e estável do conteúdo (primeiros 200 chars bastam p/ identificar duplicado)\nfunction hashStr(s) {\n  let h = 0;\n  const sub = s.substring(0, 200);\n  for (let i = 0; i < sub.length; i++) {\n    h = ((h << 5) - h + sub.charCodeAt(i)) | 0;\n  }\n  return h.toString(36);\n}\n\nconst key = `${source}|${project}|${hashStr(response)}`;\nconst now = Date.now();\nconst WINDOW_MS = 15 * 60 * 1000; // 15 min\nconst LIMIT = 2;                   // 1ª passa; a partir da 2ª na janela, suprime\n\nconst store = $getWorkflowStaticData('global');\nif (!store.cb) store.cb = {};\n\n// limpar entradas expiradas (housekeeping para não crescer infinito)\nfor (const k of Object.keys(store.cb)) {\n  store.cb[k] = store.cb[k].filter(ts => now - ts < WINDOW_MS);\n  if (store.cb[k].length === 0) delete store.cb[k];\n}\n\nconst hits = store.cb[key] || [];\nconst recentHits = hits.filter(ts => now - ts < WINDOW_MS);\n\nif (recentHits.length >= LIMIT) {\n  // SUPRIMIR — duplicado dentro da janela. Termina sem gravar.\n  return [];   // array vazio = workflow termina, nada a jusante corre\n}\n\n// passa: regista o hit e deixa seguir para Prepare Haiku Body\nrecentHits.push(now);\nstore.cb[key] = recentHits;\nreturn [{ json: item }];   // propaga o input intacto"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1616,160],"id":"0a796dbd-b8cf-442b-9d35-c98129016949","name":"Circuit Breaker Memory"},{"parameters":{},"id":"3432daec-fb6f-4900-a6fb-c1f7b40e9cd2","name":"When clicking 'Test'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2016,384]},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"source","value":"test-cb","type":"string"},{"id":"99e27657-7f02-48d3-af9d-cbddf51fae17","name":"project","value":"Ops","type":"string"},{"id":"7602933a-10f6-49d7-826e-097028710234","name":"response","value":"teste circuit breaker ABC123","type":"string"}]},"options":{}},"id":"036fad0d-b347-43ae-80d8-de3df5d21319","name":"Set Test Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1792,384]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Circuit Breaker Memory","type":"main","index":0}]]},"Prepare Haiku Body":{"main":[[{"node":"Haiku Extract Memories","type":"main","index":0}]]},"Haiku Extract Memories":{"main":[[{"node":"Parse Memories JSON","type":"main","index":0}]]},"Parse Memories JSON":{"main":[[{"node":"OpenAI Embedding","type":"main","index":0}]]},"OpenAI Embedding":{"main":[[{"node":"Merge Embedding","type":"main","index":0}]]},"Supabase Find Similar":{"main":[[{"node":"Decide Upsert","type":"main","index":0}]]},"Decide Upsert":{"main":[[{"node":"IF Update?","type":"main","index":0}]]},"IF Update?":{"main":[[{"node":"Supabase UPDATE","type":"main","index":0}],[{"node":"Supabase INSERT","type":"main","index":0}]]},"Supabase UPDATE":{"main":[[]]},"Supabase INSERT":{"main":[[]]},"Merge Embedding":{"main":[[{"node":"Prepare Similar Body","type":"main","index":0}]]},"Prepare Similar Body":{"main":[[{"node":"Supabase Find Similar","type":"main","index":0}]]},"Circuit Breaker Memory":{"main":[[{"node":"Prepare Haiku Body","type":"main","index":0}]]},"When clicking 'Test'":{"main":[[{"node":"Set Test Input","type":"main","index":0}]]},"Set Test Input":{"main":[[{"node":"Circuit Breaker Memory","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu"},"staticData":{"global":{"cb":{"DailyBrief|Ops|ylag6u":[1780311689784]}}},"meta":null,"pinData":{},"versionId":"9c4cbc68-25d0-4cfa-b619-d5c267a6aed3","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-14T12:54:56.143Z","createdAt":"2026-04-14T12:54:56.143Z","role":"workflow:owner","workflowId":"URJf7Jg58IQAeXfc","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}