claudeai-memory-search-(brain-proxy)-wuHooOIg4Tsut0Pv.json
{"updatedAt":"2026-05-18T00:09:28.323Z","createdAt":"2026-05-09T17:35:23.664Z","id":"wuHooOIg4Tsut0Pv","name":"ClaudeAi Memory Search (Brain Proxy)","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"claude-ai-memory-search","responseMode":"responseNode","options":{}},"id":"d731367f-ccd3-46a9-9228-6e25ed239a91","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-144],"webhookId":"claude-ai-memory-search"},{"parameters":{"jsCode":"const query = $input.first().json.query?.q || $input.first().json.query?.query || '';\nconst count = parseInt($input.first().json.query?.count || '10');\nconst threshold = parseFloat($input.first().json.query?.threshold || '0.5');\nconst project = $input.first().json.query?.project || null;\n\nif (!query || query.trim().length === 0) {\n  return [{ json: { error: 'Missing query parameter. Use ?q=your+search+query', results: [] } }];\n}\n\nreturn [{ json: { query: query.trim(), count, threshold, project } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,-144],"id":"0ea26fc5-10a6-4772-818e-00185cdd64ca","name":"Parse Query Params"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"text-embedding-3-small\", \"input\": $json.query}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,-144],"id":"8d333aa4-821a-438b-a757-2295f7aca750","name":"OpenAI Embedding","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"jsCode":"const embeddingResponse = $input.first().json;\nconst embedding = embeddingResponse.data[0].embedding;\nconst params = $('Parse Query Params').first().json;\n\nconst body = {\n  query_embedding: JSON.stringify(embedding),\n  match_threshold: params.threshold,\n  match_count: params.count,\n  filter_importance: 1\n};\n\nif (params.project) {\n  body.filter_project = params.project;\n}\n\nreturn [{ json: { rpcBody: JSON.stringify(body) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-144],"id":"0ec94ca7-fb4b-43bf-adc6-1c3ec69c269f","name":"Prepare RPC Body"},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/rpc/match_memories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.rpcBody }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-144],"id":"412557fe-28d0-44fc-9afd-82a188622d06","name":"Supabase Match Memories"},{"parameters":{"jsCode":"const results = $input.all().map(item => {\n  const m = item.json;\n  return {\n    summary: m.summary || '',\n    details: m.details || '',\n    source: m.source || '',\n    project: m.project || '',\n    type: m.type || '',\n    importance: m.importance || 0,\n    tags: m.tags || [],\n    similarity: m.similarity ? Math.round(m.similarity * 100) / 100 : 0,\n    created_at: m.created_at ? m.created_at.substring(0, 10) : ''\n  };\n});\n\nreturn [{ json: { count: results.length, results } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,-144],"id":"83fb78ba-69c1-438e-9338-6e7c1e67ee12","name":"Format Results"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,-144],"id":"19bebc8b-dccc-43a6-a3b8-593908d8f340","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Parse Query Params","type":"main","index":0}]]},"Parse Query Params":{"main":[[{"node":"OpenAI Embedding","type":"main","index":0}]]},"OpenAI Embedding":{"main":[[{"node":"Prepare RPC Body","type":"main","index":0}]]},"Prepare RPC Body":{"main":[[{"node":"Supabase Match Memories","type":"main","index":0}]]},"Supabase Match Memories":{"main":[[{"node":"Format Results","type":"main","index":0}]]},"Format Results":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"errorWorkflow":"heQ08w9HPkxGpNDu","executionTimeout":600},"staticData":null,"meta":null,"pinData":{},"versionId":"1ea5b5a2-301d-4d5f-8b81-33ebd698560e","activeVersionId":"1ea5b5a2-301d-4d5f-8b81-33ebd698560e","triggerCount":1,"shared":[{"updatedAt":"2026-05-09T17:35:23.664Z","createdAt":"2026-05-09T17:35:23.664Z","role":"workflow:owner","workflowId":"wuHooOIg4Tsut0Pv","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-18T00:09:28.326Z","createdAt":"2026-05-18T00:09:28.326Z","versionId":"1ea5b5a2-301d-4d5f-8b81-33ebd698560e","workflowId":"wuHooOIg4Tsut0Pv","nodes":[{"parameters":{"path":"claude-ai-memory-search","responseMode":"responseNode","options":{}},"id":"d731367f-ccd3-46a9-9228-6e25ed239a91","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-144],"webhookId":"claude-ai-memory-search"},{"parameters":{"jsCode":"const query = $input.first().json.query?.q || $input.first().json.query?.query || '';\nconst count = parseInt($input.first().json.query?.count || '10');\nconst threshold = parseFloat($input.first().json.query?.threshold || '0.5');\nconst project = $input.first().json.query?.project || null;\n\nif (!query || query.trim().length === 0) {\n  return [{ json: { error: 'Missing query parameter. Use ?q=your+search+query', results: [] } }];\n}\n\nreturn [{ json: { query: query.trim(), count, threshold, project } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,-144],"id":"0ea26fc5-10a6-4772-818e-00185cdd64ca","name":"Parse Query Params"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"text-embedding-3-small\", \"input\": $json.query}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,-144],"id":"8d333aa4-821a-438b-a757-2295f7aca750","name":"OpenAI Embedding","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"jsCode":"const embeddingResponse = $input.first().json;\nconst embedding = embeddingResponse.data[0].embedding;\nconst params = $('Parse Query Params').first().json;\n\nconst body = {\n  query_embedding: JSON.stringify(embedding),\n  match_threshold: params.threshold,\n  match_count: params.count,\n  filter_importance: 1\n};\n\nif (params.project) {\n  body.filter_project = params.project;\n}\n\nreturn [{ json: { rpcBody: JSON.stringify(body) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-144],"id":"0ec94ca7-fb4b-43bf-adc6-1c3ec69c269f","name":"Prepare RPC Body"},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/rpc/match_memories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.rpcBody }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-144],"id":"412557fe-28d0-44fc-9afd-82a188622d06","name":"Supabase Match Memories"},{"parameters":{"jsCode":"const results = $input.all().map(item => {\n  const m = item.json;\n  return {\n    summary: m.summary || '',\n    details: m.details || '',\n    source: m.source || '',\n    project: m.project || '',\n    type: m.type || '',\n    importance: m.importance || 0,\n    tags: m.tags || [],\n    similarity: m.similarity ? Math.round(m.similarity * 100) / 100 : 0,\n    created_at: m.created_at ? m.created_at.substring(0, 10) : ''\n  };\n});\n\nreturn [{ json: { count: results.length, results } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,-144],"id":"83fb78ba-69c1-438e-9338-6e7c1e67ee12","name":"Format Results"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1200,-144],"id":"19bebc8b-dccc-43a6-a3b8-593908d8f340","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Parse Query Params","type":"main","index":0}]]},"Parse Query Params":{"main":[[{"node":"OpenAI Embedding","type":"main","index":0}]]},"OpenAI Embedding":{"main":[[{"node":"Prepare RPC Body","type":"main","index":0}]]},"Prepare RPC Body":{"main":[[{"node":"Supabase Match Memories","type":"main","index":0}]]},"Supabase Match Memories":{"main":[[{"node":"Format Results","type":"main","index":0}]]},"Format Results":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}