claudeai-memory-write-7uJA7DEc0dVvyBHL.json
{"updatedAt":"2026-05-21T16:47:36.106Z","createdAt":"2026-05-09T10:43:39.185Z","id":"7uJA7DEc0dVvyBHL","name":"ClaudeAi Memory Write","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"claude-ai-memory","responseMode":"responseNode","options":{}},"id":"5d67b410-6a71-4120-8e10-db922cabead3","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1520,112],"webhookId":"claude-ai-memory-write"},{"parameters":{"jsCode":"// Validate input from claude.ai chat\nconst SECRET = '3NuJfuJsMUFGonDnPESfiO5H5aLVBu1cqKl_-YcXS0c';\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\n\n// Auth check\nif (headers['x-webhook-secret'] !== SECRET) {\n  throw new Error('Unauthorized: invalid or missing X-Webhook-Secret header');\n}\n\n// Required fields\nconst required = ['summary', 'details', 'type', 'importance', 'project'];\nfor (const f of required) {\n  if (body[f] === undefined || body[f] === null || body[f] === '') {\n    throw new Error(`Missing required field: ${f}`);\n  }\n}\n\n// Enum validation\nconst validTypes = ['Decision', 'Learning', 'Error', 'Insight', 'Pattern', 'Fact', 'Drift'];\nif (!validTypes.includes(body.type)) {\n  throw new Error(`Invalid type. Must be one of: ${validTypes.join(', ')}`);\n}\n\nconst validProjects = ['TJ', 'TM', 'CL', 'CF', 'Ops', 'Personal'];\nif (!validProjects.includes(body.project)) {\n  throw new Error(`Invalid project. Must be one of: ${validProjects.join(', ')}`);\n}\n\nconst importance = parseInt(body.importance);\nif (isNaN(importance) || importance < 1 || importance > 5) {\n  throw new Error('importance must be integer 1-5');\n}\n\n// Tags handling\nlet tags = body.tags;\nif (!Array.isArray(tags)) {\n  tags = tags ? [String(tags)] : [];\n}\ntags = tags.filter(t => t && typeof t === 'string').map(t => t.trim()).filter(Boolean);\n\nreturn [{\n  json: {\n    summary: String(body.summary).trim(),\n    details: String(body.details).trim(),\n    type: body.type,\n    importance: importance,\n    project: body.project,\n    tags: tags,\n    source: 'ClaudeAi'\n  }\n}];"},"id":"541ae232-a3fc-461e-a7b4-55150efc9ce7","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,112]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"text-embedding-3-small\", input: ($json.summary + ' ' + $json.details).slice(0, 30000) }) }}","options":{"timeout":30000}},"id":"eba962d7-01b2-4f3f-8519-2b735e12a65e","name":"OpenAI Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1088,112]},{"parameters":{"jsCode":"const mem = $('Validate Input').item.json;\nconst embedding = $json.data[0].embedding;\nreturn [{ json: { ...mem, embedding } }];"},"id":"23bcebee-55f5-498c-b8cc-b2fe7316a52b","name":"Merge Embedding","type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,112]},{"parameters":{"jsCode":"const similarResults = $input.first().json;\nconst prev = $('Merge Embedding').item.json;\n\nconst hasSimilar = Array.isArray(similarResults) && similarResults.length > 0 && similarResults[0]?.id;\n\nif (hasSimilar) {\n  return [{ json: { action: 'update', existingId: similarResults[0].id, similarity: similarResults[0].similarity, ...prev } }];\n} else {\n  return [{ json: { action: 'insert', ...prev } }];\n}"},"id":"61cfc9cd-1fc8-4c87-864d-f44c7d41c2c8","name":"Decide Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"upsert-check","leftValue":"={{ $json.action }}","rightValue":"update","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"363daa88-deae-4f65-a195-e6f87ffcb4e3","name":"IF Update?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"method":"PATCH","url":"=https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories?id=eq.{{ $json.existingId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ summary: $json.summary, details: $json.details, type: $json.type, importance: $json.importance, tags: $json.tags, embedding: $json.embedding, source: $json.source, updated_at: new Date().toISOString() }) }}","options":{"timeout":15000}},"id":"e40c9265-5adf-48ad-b0a9-01a1ac613a12","name":"Supabase UPDATE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0]},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ summary: $json.summary, details: $json.details, source: $json.source, project: $json.project, type: $json.type, importance: $json.importance, tags: $json.tags, embedding: $json.embedding }) }}","options":{"timeout":15000}},"id":"8d70ddb6-d038-44df-91aa-9fda4a771308","name":"Supabase INSERT","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,208]},{"parameters":{"jsCode":"const result = $input.first().json;\nconst upstream = $('Decide Upsert').item.json;\n\nconst row = Array.isArray(result) ? result[0] : result;\n\nreturn [{\n  json: {\n    success: true,\n    action: upstream.action,\n    id: row?.id || upstream.existingId || null,\n    summary: upstream.summary,\n    project: upstream.project,\n    source: 'ClaudeAi',\n    similarity: upstream.similarity || null\n  }\n}];"},"id":"304ebfe0-4254-4249-b575-fbcb85d3132d","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,112]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"id":"fbe98308-eb06-4c7c-a0dc-f81abbf2c7c0","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[448,112]},{"parameters":{"jsCode":"const item = $input.first().json;\n\nconst body = JSON.stringify({\n  query_embedding: item.embedding,\n  similarity_threshold: 0.85,\n  filter_project: item.project\n});\n\nconst SUPABASE_KEY = '***REDACTED***';\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/rpc/find_similar_memory',\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`,\n    'Content-Type': 'application/json'\n  },\n  body: body,\n  json: true,\n  returnFullResponse: false\n});\n\nconst similarResults = Array.isArray(response) ? response : [];\nconst hasSimilar = similarResults.length > 0 && similarResults[0]?.id;\n\nif (hasSimilar) {\n  return [{ json: { action: 'update', existingId: similarResults[0].id, similarity: similarResults[0].similarity, ...item } }];\n} else {\n  return [{ json: { action: 'insert', ...item } }];\n}"},"id":"2d661414-a3db-4b40-b434-4d369baf369b","name":"Find Similar via Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,112]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"OpenAI Embedding","type":"main","index":0}]]},"OpenAI Embedding":{"main":[[{"node":"Merge Embedding","type":"main","index":0}]]},"Merge Embedding":{"main":[[{"node":"Find Similar via Code","type":"main","index":0}]]},"Decide Upsert":{"main":[[{"node":"IF Update?","type":"main","index":0}]]},"IF Update?":{"main":[[{"node":"Supabase UPDATE","type":"main","index":0}],[{"node":"Supabase INSERT","type":"main","index":0}]]},"Supabase UPDATE":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Supabase INSERT":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Find Similar via Code":{"main":[[{"node":"Decide Upsert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"errorWorkflow":"heQ08w9HPkxGpNDu","executionTimeout":600},"staticData":null,"meta":null,"pinData":{},"versionId":"d9ba9f30-3c58-4a5b-ac41-f3507e14299a","activeVersionId":"d9ba9f30-3c58-4a5b-ac41-f3507e14299a","triggerCount":1,"shared":[{"updatedAt":"2026-05-09T10:43:39.185Z","createdAt":"2026-05-09T10:43:39.185Z","role":"workflow:owner","workflowId":"7uJA7DEc0dVvyBHL","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-21T16:47:36.105Z","createdAt":"2026-05-21T16:47:36.105Z","versionId":"d9ba9f30-3c58-4a5b-ac41-f3507e14299a","workflowId":"7uJA7DEc0dVvyBHL","nodes":[{"parameters":{"httpMethod":"POST","path":"claude-ai-memory","responseMode":"responseNode","options":{}},"id":"5d67b410-6a71-4120-8e10-db922cabead3","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1520,112],"webhookId":"claude-ai-memory-write"},{"parameters":{"jsCode":"// Validate input from claude.ai chat\nconst SECRET = '3NuJfuJsMUFGonDnPESfiO5H5aLVBu1cqKl_-YcXS0c';\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || {};\n\n// Auth check\nif (headers['x-webhook-secret'] !== SECRET) {\n  throw new Error('Unauthorized: invalid or missing X-Webhook-Secret header');\n}\n\n// Required fields\nconst required = ['summary', 'details', 'type', 'importance', 'project'];\nfor (const f of required) {\n  if (body[f] === undefined || body[f] === null || body[f] === '') {\n    throw new Error(`Missing required field: ${f}`);\n  }\n}\n\n// Enum validation\nconst validTypes = ['Decision', 'Learning', 'Error', 'Insight', 'Pattern', 'Fact', 'Drift'];\nif (!validTypes.includes(body.type)) {\n  throw new Error(`Invalid type. Must be one of: ${validTypes.join(', ')}`);\n}\n\nconst validProjects = ['TJ', 'TM', 'CL', 'CF', 'Ops', 'Personal'];\nif (!validProjects.includes(body.project)) {\n  throw new Error(`Invalid project. Must be one of: ${validProjects.join(', ')}`);\n}\n\nconst importance = parseInt(body.importance);\nif (isNaN(importance) || importance < 1 || importance > 5) {\n  throw new Error('importance must be integer 1-5');\n}\n\n// Tags handling\nlet tags = body.tags;\nif (!Array.isArray(tags)) {\n  tags = tags ? [String(tags)] : [];\n}\ntags = tags.filter(t => t && typeof t === 'string').map(t => t.trim()).filter(Boolean);\n\nreturn [{\n  json: {\n    summary: String(body.summary).trim(),\n    details: String(body.details).trim(),\n    type: body.type,\n    importance: importance,\n    project: body.project,\n    tags: tags,\n    source: 'ClaudeAi'\n  }\n}];"},"id":"541ae232-a3fc-461e-a7b4-55150efc9ce7","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,112]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"text-embedding-3-small\", input: ($json.summary + ' ' + $json.details).slice(0, 30000) }) }}","options":{"timeout":30000}},"id":"eba962d7-01b2-4f3f-8519-2b735e12a65e","name":"OpenAI Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1088,112]},{"parameters":{"jsCode":"const mem = $('Validate Input').item.json;\nconst embedding = $json.data[0].embedding;\nreturn [{ json: { ...mem, embedding } }];"},"id":"23bcebee-55f5-498c-b8cc-b2fe7316a52b","name":"Merge Embedding","type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,112]},{"parameters":{"jsCode":"const similarResults = $input.first().json;\nconst prev = $('Merge Embedding').item.json;\n\nconst hasSimilar = Array.isArray(similarResults) && similarResults.length > 0 && similarResults[0]?.id;\n\nif (hasSimilar) {\n  return [{ json: { action: 'update', existingId: similarResults[0].id, similarity: similarResults[0].similarity, ...prev } }];\n} else {\n  return [{ json: { action: 'insert', ...prev } }];\n}"},"id":"61cfc9cd-1fc8-4c87-864d-f44c7d41c2c8","name":"Decide Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"upsert-check","leftValue":"={{ $json.action }}","rightValue":"update","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"363daa88-deae-4f65-a195-e6f87ffcb4e3","name":"IF Update?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"method":"PATCH","url":"=https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories?id=eq.{{ $json.existingId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ summary: $json.summary, details: $json.details, type: $json.type, importance: $json.importance, tags: $json.tags, embedding: $json.embedding, source: $json.source, updated_at: new Date().toISOString() }) }}","options":{"timeout":15000}},"id":"e40c9265-5adf-48ad-b0a9-01a1ac613a12","name":"Supabase UPDATE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0]},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ summary: $json.summary, details: $json.details, source: $json.source, project: $json.project, type: $json.type, importance: $json.importance, tags: $json.tags, embedding: $json.embedding }) }}","options":{"timeout":15000}},"id":"8d70ddb6-d038-44df-91aa-9fda4a771308","name":"Supabase INSERT","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,208]},{"parameters":{"jsCode":"const result = $input.first().json;\nconst upstream = $('Decide Upsert').item.json;\n\nconst row = Array.isArray(result) ? result[0] : result;\n\nreturn [{\n  json: {\n    success: true,\n    action: upstream.action,\n    id: row?.id || upstream.existingId || null,\n    summary: upstream.summary,\n    project: upstream.project,\n    source: 'ClaudeAi',\n    similarity: upstream.similarity || null\n  }\n}];"},"id":"304ebfe0-4254-4249-b575-fbcb85d3132d","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,112]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"id":"fbe98308-eb06-4c7c-a0dc-f81abbf2c7c0","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[448,112]},{"parameters":{"jsCode":"const item = $input.first().json;\n\nconst body = JSON.stringify({\n  query_embedding: item.embedding,\n  similarity_threshold: 0.85,\n  filter_project: item.project\n});\n\nconst SUPABASE_KEY = '***REDACTED***';\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/rpc/find_similar_memory',\n  headers: {\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`,\n    'Content-Type': 'application/json'\n  },\n  body: body,\n  json: true,\n  returnFullResponse: false\n});\n\nconst similarResults = Array.isArray(response) ? response : [];\nconst hasSimilar = similarResults.length > 0 && similarResults[0]?.id;\n\nif (hasSimilar) {\n  return [{ json: { action: 'update', existingId: similarResults[0].id, similarity: similarResults[0].similarity, ...item } }];\n} else {\n  return [{ json: { action: 'insert', ...item } }];\n}"},"id":"2d661414-a3db-4b40-b434-4d369baf369b","name":"Find Similar via Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,112]}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"OpenAI Embedding","type":"main","index":0}]]},"OpenAI Embedding":{"main":[[{"node":"Merge Embedding","type":"main","index":0}]]},"Merge Embedding":{"main":[[{"node":"Find Similar via Code","type":"main","index":0}]]},"Decide Upsert":{"main":[[{"node":"IF Update?","type":"main","index":0}]]},"IF Update?":{"main":[[{"node":"Supabase UPDATE","type":"main","index":0}],[{"node":"Supabase INSERT","type":"main","index":0}]]},"Supabase UPDATE":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Supabase INSERT":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Find Similar via Code":{"main":[[{"node":"Decide Upsert","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}