claude-bridge-—-daily-brief-hetzner-FoFgoFiUfRhoEsls.json
{"updatedAt":"2026-04-03T14:56:17.523Z","createdAt":"2026-03-30T17:26:06.199Z","id":"FoFgoFiUfRhoEsls","name":"Claude Bridge — Daily Brief Hetzner","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"a704c5b3-b267-4cf9-bf8c-fbc4c652989c","name":"Cron 08:00 UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-848,112]},{"parameters":{"method":"POST","url":"http://128.140.15.139:3939/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"3cfebdd7-9e84-48e1-9aaa-d947dd32d5a0","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,112],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000},{"parameters":{"chatId":"-1002374157964","text":"=📋 *Daily Brief — {{ $now.format('dd/MM/yyyy') }}*\n\n{{ $('Claude Bridge').item.json.output }}\n\n---\n_⏱️ Gerado em {{ $('Claude Bridge').item.json.elapsed_s }}s via Claude Code_","additionalFields":{"parse_mode":"Markdown"}},"id":"f5592be0-11ab-494d-920e-6131bad003f5","name":"Telegram Brief","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[608,0],"webhookId":"75a49ff7-b75c-4932-bacb-8bf499f14ebf","credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"manual-trigger","name":"trigger","value":"manual","type":"string"}]},"options":{}},"id":"fa7d689b-41d2-44a3-a528-bb879dbe4302","name":"Manual Trigger","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,288]},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[832,224],"id":"cc100b02-bb17-4325-8818-a85ee2e206fd","name":"WhatsApp Brief","credentials":null},{"parameters":{"jsCode":"const output = $('Claude Bridge').item.json.output;\nconst elapsed = $('Claude Bridge').item.json.elapsed_s;\nconst now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nlet text = output\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\ntext = `📋 Daily Brief — ${date}\\n\\n${text}\\n\\n───\\n⏱️ Gerado em ${elapsed}s via Claude Code`;\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,224],"id":"3136f055-50f4-4036-9ec8-07d6f384771e","name":"Code in JavaScript"},{"parameters":{"jsCode":"const today = new Date().toISOString().slice(0, 10);\n\nconst tasks7d = $('Tasks 7 Dias').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  const due = i.json.property_due_date?.start || '';\n  const tags = i.json.property_tags || [];\n  const prio = tags.includes('Prioridade Alta') ? '🔴' : tags.includes('Prioridade Média') ? '🟡' : '⚪';\n  const overdue = due && due < today ? '⚠️ ATRASADA ' : '';\n  return `${overdue}${prio} ${name} (${due})${tags.length ? ' [' + tags.join(', ') + ']' : ''}`;\n}).join('\\n');\n\nconst overdueCount = $('Tasks 7 Dias').all().filter(i => {\n  const due = i.json.property_due_date?.start || '';\n  return due && due < today;\n}).length;\n\nconst inbox = $('Tasks Inbox').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  return `📥 ${name}`;\n}).join('\\n');\nconst inboxCount = $('Tasks Inbox').all().length;\n\nconst projects = $('Active Projects').all().map(i => {\n  const name = i.json.property_name || i.json.Name || 'Sem nome';\n  const type = i.json.property_type || '';\n  const icon = type === 'Client' ? '🟢' : type === 'Prospect' ? '🟡' : '⚪';\n  return `${icon} ${name}${type ? ' (' + type + ')' : ''}`;\n}).join('\\n');\n\nconst now = new Date();\nconst date = `${now.getFullYear()}-${String(now.getMonth()+1).padStart(2,'0')}-${String(now.getDate()).padStart(2,'0')}`;\nconst weekday = ['Domingo','Segunda','Terca','Quarta','Quinta','Sexta','Sabado'][now.getDay()];\n\nconst prompt = `Hoje e ${date}, ${weekday}. Daily Brief para Ary Ribeiro.\n\nCONTEXTO: Consultor IA, 3 verticais: TJ (advogados BR R$2.997/mes), TM (clinicas BR R$2.997/mes), CL (imobiliarias PT E497/mes). Meta Q2: E12.857 trimestral. Revenue actual: E0. Pipeline vazio = prioridade #1 e prospeccao e conteudo.\n\nPROJECTOS ACTIVOS (${$('Active Projects').all().length}):\n${projects || '(nenhum projecto activo)'}\n\nPROXIMOS 7 DIAS (${$('Tasks 7 Dias').all().length} tasks, ${overdueCount} atrasadas):\n${tasks7d || '(nenhuma task agendada)'}\n\nINBOX SEM DATA (${inboxCount} tasks):\n${inbox || '(inbox vazio)'}\n\nREGRAS:\n1. Se revenue = E0 e pipeline vazio, ACCAO #1 e SEMPRE prospeccao ou criacao de conteudo que gere leads\n2. Identificar a UNICA accao de maior impacto financeiro\n3. Tasks com ATRASADA = urgente\n4. Inbox >10 = flag triagem\n5. Projectos sem Type=Client ou Prospect = flag sem revenue pipeline\n6. Directo, zero fluff, tom de coach exigente\n\nFORMATO:\nACCAO #1 (maior impacto financeiro - imperativa, especifica)\nPIPELINE (3-5 bullets do que fazer hoje)\nURGENTE (tasks atrasadas com impacto em receita)\nPROJECTOS (status dos activos, flags)\nINBOX (status)\nLEMBRETE (1 frase sobre execucao e revenue)\n\nMaximo 250 palavras.`;\n\nreturn [{ json: { prompt, timeout: 120000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,112],"id":"2ce6e82f-552c-47da-ad59-011c415f5ff5","name":"Code in JavaScript Notion Data"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"limit":20,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Due Date|date","condition":"is_empty"},{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-416,112],"id":"dfd08846-d85f-4ccb-83da-e36d76085c00","name":"Tasks Inbox","executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.plus(7, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-624,112],"id":"10a0b023-88ef-43de-b0e5-06cc38d70be4","name":"Tasks 7 Dias","credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21505ed2-eb60-4966-8d64-dc0411270e03","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://www.notion.so/21505ed2eb6049668d64dc0411270e03"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"In progress"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-208,112],"id":"ba59795d-ea56-4ba1-a08b-ad70c0c4b23d","name":"Active Projects","executeOnce":true,"credentials":null}],"connections":{"Cron 08:00 UTC":{"main":[[{"node":"Tasks 7 Dias","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Tasks 7 Dias","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Telegram Brief","type":"main","index":0},{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"WhatsApp Brief","type":"main","index":0}]]},"Code in JavaScript Notion Data":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Tasks Inbox":{"main":[[{"node":"Active Projects","type":"main","index":0}]]},"Tasks 7 Dias":{"main":[[{"node":"Tasks Inbox","type":"main","index":0}]]},"Active Projects":{"main":[[{"node":"Code in JavaScript Notion Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Cron 08:00 UTC":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"627eb865-417b-4ab4-82d7-2e27e0a8a07d","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-03-30T17:26:06.199Z","createdAt":"2026-03-30T17:26:06.199Z","role":"workflow:owner","workflowId":"FoFgoFiUfRhoEsls","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-30T17:25:46.128Z","createdAt":"2026-03-30T17:25:46.128Z","id":"I55hCGMBk1VDjvLr","name":"claude-bridge"}]}