claude-bridge-—-telegram-tutor-com-rolling-summary-(filhas)-JTPyttgTNeJkj2D2.json
{"updatedAt":"2026-05-01T11:16:55.899Z","createdAt":"2026-04-10T12:31:08.875Z","id":"JTPyttgTNeJkj2D2","name":"Claude Bridge — Telegram Tutor com Rolling Summary (Filhas)","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"463fe03c-0155-482b-8865-85ee95e98e12","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-2720,368],"webhookId":"tutor-telegram-trigger-v2","credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-giuliana","leftValue":"={{ $json.message.chat.id }}","rightValue":8743894892,"operator":{"type":"number","operation":"equals"}},{"id":"38a56189-da92-4484-95e2-fd846a6c9dbb","leftValue":"={{ $json.message.chat.id }}","rightValue":8523053691,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"d188d8cb-af7b-452d-ba89-0732c5cc3e4a","name":"IF Authorized","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2512,368]},{"parameters":{"assignments":{"assignments":[{"id":"ctx-name","name":"studentName","value":"Giuliana Fiamenghi Ribeiro","type":"string"},{"id":"ctx-context","name":"studentContext","value":"Giuliana tem 21 anos, estuda Biomedicina. Lingua preferida: PT-BR. Trata-a como uma jovem adulta universitaria inteligente e curiosa.","type":"string"},{"id":"ctx-msg","name":"userMessage","value":"={{ $('Telegram Trigger').item.json.message.text }}","type":"string"},{"id":"ctx-chatid","name":"chatId","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"id":"5e4244ce-67c0-4c01-ab55-d962bb56ed78","name":"Context Giuliana","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2032,-128]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Desculpa, nao estas autorizada a usar este bot. Fala com o teu pai.","additionalFields":{}},"id":"3b4dd888-4dc8-4b62-abb6-932852f636c6","name":"Not Authorized","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2304,704],"webhookId":"68357cbe-37e7-45d8-80e3-629c708acc39","credentials":null},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblaado7k0a1OH8rh","mode":"id"},"filterByFormula":"={chat_id} = '{{ $json.chatId }}'","options":{},"sort":{"property":[{"field":"Timestamp","direction":"desc"}]}},"id":"da43c256-1ade-4928-b443-c0ed8e1165b8","name":"Get Recent History","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1792,80],"alwaysOutputData":true,"credentials":null},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblMikdFKWuCNe4Iq","mode":"id"},"filterByFormula":"=AND({Source} = 'TutorSummary', FIND('{{ $json.studentName }}', {Summary}) > 0)","options":{}},"id":"0b16911c-0f23-4a1e-8fc6-319c0c2ab9a6","name":"Get Rolling Summary","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1568,80],"alwaysOutputData":true,"credentials":null},{"parameters":{"jsCode":"const allItems = $items('Get Recent History');\nconst summaryItems = $('Get Rolling Summary').all();\n\nlet studentName, studentContext, userMessage, chatId;\n\nconst giulianaItems = [];\nconst vitoriaItems = [];\ntry { giulianaItems.push($('Context Giuliana').first()); } catch(e) {}\ntry { vitoriaItems.push($('Context Maria Vitoria').first()); } catch(e) {}\n\nif (giulianaItems.length > 0 && giulianaItems[0].json.studentName) {\n  studentName = giulianaItems[0].json.studentName;\n  studentContext = giulianaItems[0].json.studentContext;\n  userMessage = giulianaItems[0].json.userMessage;\n  chatId = giulianaItems[0].json.chatId;\n} else if (vitoriaItems.length > 0 && vitoriaItems[0].json.studentName) {\n  studentName = vitoriaItems[0].json.studentName;\n  studentContext = vitoriaItems[0].json.studentContext;\n  userMessage = vitoriaItems[0].json.userMessage;\n  chatId = vitoriaItems[0].json.chatId;\n} else {\n  return [{ json: { error: 'No context found' } }];\n}\n\nlet rollingSummary = '';\nif (summaryItems && summaryItems.length > 0) {\n  const f = summaryItems[0].json.fields || summaryItems[0].json;\n  if (f.Details) {\n    rollingSummary = `\\n\\nMEMORIA DE LONGO PRAZO (resumo de todas as conversas anteriores):\\n${f.Details}`;\n  }\n}\n\nconst historyItems = $('Get Recent History').all();\nlet historyText = '';\nlet messageCount = 0;\nif (historyItems && historyItems.length > 0) {\n  const msgs = historyItems\n    .map(i => {\n      const f = i.json.fields || i.json;\n      if (!f.Message) return null;\n      messageCount++;\n      const role = f.Role === 'assistant' ? 'Tutor' : f.Name || 'Aluna';\n      return `${role}: ${f.Message.substring(0, 300)}`;\n    })\n    .filter(Boolean)\n    .reverse()\n    .slice(-10);\n  if (msgs.length > 0) {\n    historyText = `\\n\\nHISTORICO RECENTE (ultimas mensagens):\\n${msgs.join('\\n')}`;\n  }\n}\n\nconst prompt = `Es um tutor pessoal chamado Tutor IA para ${studentName}. ${studentContext}${rollingSummary}${historyText}\n\nREGRAS:\n1. Explica de forma clara e adequada a idade da estudante\n2. Usa exemplos praticos e do dia a dia\n3. Se a pergunta envolver conteudo perigoso, inapropriado ou para adultos, recusa educadamente\n4. Se a pergunta for sobre um exercicio ou exame, NAO des a resposta directa. Guia a estudante com perguntas e dicas para que ela chegue a resposta sozinha (metodo Socratico)\n5. Se nao sabes a resposta, diz honestamente\n6. Responde no mesmo idioma em que a pergunta foi feita\n7. Se for uma pergunta de matematica ou ciencias, mostra o raciocinio passo a passo\n8. Se a pergunta for conversa casual (ola, tudo bem, etc), responde de forma amigavel e natural\n9. Usa a MEMORIA DE LONGO PRAZO para continuidade — se a aluna ja estudou um tema antes, referencia isso naturalmente\n10. Maximo 500 palavras na resposta\n\nPERGUNTA DA ESTUDANTE:\n${userMessage}`;\n\nreturn [{ json: { prompt, timeout: 60000, chatId, studentName, userMessage, messageCount } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,80],"id":"6076f176-9aaf-4ef0-9abe-3d79f63f467b","name":"Build Tutor Prompt"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"a49bde65-8e9c-4bbb-bf9a-a4b6107aa43f","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,80],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"chatId":"={{ $('Build Tutor Prompt').item.json.chatId }}","text":"={{ $json.output }}","additionalFields":{"parse_mode":"Markdown"}},"id":"73b1b03e-a4e4-428f-b2bf-c14f47aecb9f","name":"Telegram Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-896,80],"webhookId":"328746d8-4c59-4cd4-8c4d-a3e3f38649be","credentials":null},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblaado7k0a1OH8rh","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Build Tutor Prompt').item.json.studentName }}","chat_id":"={{ $('Build Tutor Prompt').item.json.chatId }}","Role":"user","Message":"={{ $('Build Tutor Prompt').item.json.userMessage }}","Project":"Pessoal"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"4c20b0be-8dfa-46c0-b9b9-6e887ef0eed4","name":"Save Question","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-896,288],"credentials":null},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblaado7k0a1OH8rh","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Build Tutor Prompt').item.json.studentName }}","chat_id":"={{ $('Build Tutor Prompt').item.json.chatId }}","Role":"assistant","Message":"={{ $('Claude Bridge').item.json.output.substring(0, 10000) }}","Project":"Pessoal"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Message","displayName":"Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"8db2673d-d895-478d-a5a7-c8992c4d785a","name":"Save Response","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-672,80],"credentials":null},{"parameters":{"jsCode":"// Count total messages for this student in Telegram Tutor table\n// We use the history count from Build Tutor Prompt\n// +2 because we just saved question + response\nconst messageCount = ($('Build Tutor Prompt').first().json.messageCount || 0) + 2;\nconst studentName = $('Build Tutor Prompt').first().json.studentName;\nconst chatId = $('Build Tutor Prompt').first().json.chatId;\nconst lastResponse = $('Claude Bridge').first().json.output || '';\nconst lastQuestion = $('Build Tutor Prompt').first().json.userMessage || '';\n\n// Trigger summary update every 10 messages (5 Q&A pairs)\nconst shouldUpdateSummary = messageCount > 0 && messageCount % 10 === 0;\n\n// Get existing summary\nconst summaryItems = $('Get Rolling Summary').all();\nlet existingSummary = '';\nlet existingSummaryRecordId = '';\nif (summaryItems && summaryItems.length > 0) {\n  const f = summaryItems[0].json.fields || summaryItems[0].json;\n  existingSummary = f.Details || '';\n  existingSummaryRecordId = summaryItems[0].json.id || '';\n}\n\n// Get recent history for summary generation\nconst historyItems = $('Get Recent History').all();\nlet recentConversations = '';\nif (historyItems && historyItems.length > 0) {\n  const msgs = historyItems\n    .map(i => {\n      const f = i.json.fields || i.json;\n      if (!f.Message) return null;\n      const role = f.Role === 'assistant' ? 'Tutor' : 'Aluna';\n      return `${role}: ${f.Message.substring(0, 500)}`;\n    })\n    .filter(Boolean)\n    .reverse();\n  recentConversations = msgs.join('\\n');\n}\n\n// Add the current Q&A\nrecentConversations += `\\nAluna: ${lastQuestion}\\nTutor: ${lastResponse.substring(0, 500)}`;\n\nreturn [{ json: { \n  shouldUpdateSummary, \n  studentName, \n  chatId, \n  existingSummary, \n  existingSummaryRecordId,\n  recentConversations,\n  messageCount\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,80],"id":"acdd9985-3ad2-45ec-bd24-ba659ea44ca9","name":"Check Summary Update"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-update","leftValue":"={{ $json.shouldUpdateSummary }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"e345053b-4718-4c9f-9846-ee8d832cdecb","name":"IF Update Summary","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,80]},{"parameters":{"jsCode":"const studentName = $json.studentName;\nconst existingSummary = $json.existingSummary;\nconst recentConversations = $json.recentConversations;\n\nconst prompt = `Es um assistente que gera resumos de conversas de tutoria. Atualiza o resumo cumulativo desta aluna.\n\nALUNA: ${studentName}\n\nRESUMO ANTERIOR:\n${existingSummary || '(primeira vez — nao ha resumo anterior)'}\n\nCONVERSAS RECENTES:\n${recentConversations.substring(0, 6000)}\n\nGera um resumo atualizado que inclua:\n1. Disciplinas/materias que a aluna estuda (com topicos especificos)\n2. Pontos fortes detectados\n3. Dificuldades recorrentes\n4. Estilo de aprendizagem preferido (exemplos, visual, passo-a-passo, etc)\n5. Topicos ja cobertos (para nao repetir explicacoes basicas)\n6. Contexto pessoal relevante mencionado nas conversas\n\nRETORNA APENAS o resumo atualizado, sem prefacio. Maximo 500 palavras.`;\n\nconst body = {\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 1024,\n  messages: [{ role: 'user', content: prompt }]\n};\n\nreturn [{ json: { \n  body: JSON.stringify(body),\n  studentName: $json.studentName,\n  existingSummaryRecordId: $json.existingSummaryRecordId\n} }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"55d3ee2e-6113-49d2-a42a-d804a1fbdf2f","name":"Prepare Summary Body"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"timeout":30000}},"id":"61d6ee2c-2b4b-4d97-870a-f6f439f07953","name":"Haiku Generate Summary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const haikuResponse = $input.first().json;\nlet newSummary = '';\ntry {\n  newSummary = haikuResponse.content[0].text || '';\n} catch(e) {\n  newSummary = 'Erro ao gerar resumo';\n}\n\nconst studentName = $('Prepare Summary Body').first().json.studentName;\nconst existingRecordId = $('Prepare Summary Body').first().json.existingSummaryRecordId;\n\nreturn [{ json: { newSummary, studentName, existingRecordId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"c0fd694e-5fe1-41cb-9e26-349a3ac4886e","name":"Parse Summary"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblMikdFKWuCNe4Iq","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Summary":"=TutorSummary: {{ $json.studentName }}","Source":"TutorSummary","Project":"Personal","Type":"Pattern","Details":"={{ $json.newSummary }}","Importance":5,"Tags":"tutor, rolling-summary"},"matchingColumns":[],"schema":[{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Details","displayName":"Details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Importance","displayName":"Importance","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"aebffac7-42cf-4dcf-9bbf-11b70dff41ad","name":"Save Rolling Summary","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[672,0],"credentials":null},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16,240],"id":"50b3d631-8960-4fd8-972c-f49dc5117706","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b52da25b-abfe-4a71-bab5-c025aedc41e1","leftValue":"={{ $json.message.chat.id }}","rightValue":8743894892,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2304,64],"id":"57870bb7-f785-4129-92d9-0ca9ca96e679","name":"IF Giuliana"},{"parameters":{"assignments":{"assignments":[{"id":"ctx-name","name":"studentName","value":"Maria Vitoria Fiamenghi Ribeiro","type":"string"},{"id":"ctx-context","name":"studentContext","value":"Maria Vitoria tem 23 anos. Lingua preferida: PT-BR. Trata-a como uma jovem adulta universitaria inteligente e curiosa.","type":"string"},{"id":"ctx-msg","name":"userMessage","value":"={{ $('Telegram Trigger').item.json.message.text }}","type":"string"},{"id":"ctx-chatid","name":"chatId","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"id":"96787254-534a-4ff3-bad0-f0dab2fdf2bb","name":"Context Maria Vitoria","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2016,320]}],"connections":{"Telegram Trigger":{"main":[[{"node":"IF Authorized","type":"main","index":0}]]},"IF Authorized":{"main":[[{"node":"IF Giuliana","type":"main","index":0}],[{"node":"Not Authorized","type":"main","index":0}]]},"Context Giuliana":{"main":[[{"node":"Get Recent History","type":"main","index":0}]]},"Get Recent History":{"main":[[{"node":"Get Rolling Summary","type":"main","index":0}]]},"Get Rolling Summary":{"main":[[{"node":"Build Tutor Prompt","type":"main","index":0}]]},"Build Tutor Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Telegram Reply","type":"main","index":0},{"node":"Save Question","type":"main","index":0}]]},"Telegram Reply":{"main":[[{"node":"Save Response","type":"main","index":0}]]},"Save Response":{"main":[[{"node":"Check Summary Update","type":"main","index":0}]]},"Check Summary Update":{"main":[[{"node":"IF Update Summary","type":"main","index":0}]]},"IF Update Summary":{"main":[[{"node":"Prepare Summary Body","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Prepare Summary Body":{"main":[[{"node":"Haiku Generate Summary","type":"main","index":0}]]},"Haiku Generate Summary":{"main":[[{"node":"Parse Summary","type":"main","index":0}]]},"Parse Summary":{"main":[[{"node":"Save Rolling Summary","type":"main","index":0}]]},"IF Giuliana":{"main":[[{"node":"Context Giuliana","type":"main","index":0}],[{"node":"Context Maria Vitoria","type":"main","index":0}]]},"Context Maria Vitoria":{"main":[[{"node":"Get Recent History","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cbc0efc7-0aa2-4795-a0db-057289c5f62e","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-10T12:31:08.875Z","createdAt":"2026-04-10T12:31:08.875Z","role":"workflow:owner","workflowId":"JTPyttgTNeJkj2D2","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}