claude-brain-—-memory-read-v2-ApIb3XMBDSj8NHlE.json
{"updatedAt":"2026-05-13T13:49:27.193Z","createdAt":"2026-04-14T12:57:39.528Z","id":"ApIb3XMBDSj8NHlE","name":"Claude Brain — Memory Read v2","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"context"},{"name":"project"},{"name":"importance"}]}},"id":"b39caba4-2576-49da-bcfa-a4025bdd1c1e","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"jsCode":"const context = $input.first().json.context || 'Daily Brief for Ary Ribeiro, consultor IA, 3 verticais TJ TM CL';\nconst project = $input.first().json.project || '';\nconst importance = parseInt($input.first().json.importance) || 3;\n\nreturn [{ json: { context, project, importance } }];"},"id":"d7b27d42-e99e-43a8-a41c-6fee8d9524a6","name":"Set Defaults","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"text-embedding-3-small\", input: $json.context }) }}","options":{"timeout":30000}},"id":"bc74a282-f0fc-49ec-af6b-95b922e3f739","name":"OpenAI Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,0]},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/rpc/match_memories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ query_embedding: $json.data[0].embedding, match_threshold: 0.5, match_count: 15, filter_project: $('Set Defaults').first().json.project || null, filter_importance: $('Set Defaults').first().json.importance }) }}","options":{"timeout":15000}},"id":"243ef600-2bda-4e4f-90cc-eabc2a8d4b40","name":"Supabase Match Memories","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,0],"alwaysOutputData":true},{"parameters":{"jsCode":"const items = $input.all();\n\nif (!items || items.length === 0 || (items.length === 1 && !items[0].json.summary)) {\n  return [{ json: { memoryContext: 'Nenhuma memoria recente encontrada.' } }];\n}\n\nconst lines = items.map(item => {\n  const m = item.json;\n  if (!m.summary) return null;\n  const date = m.created_at ? m.created_at.substring(0, 10) : 'unknown';\n  const sim = m.similarity ? (m.similarity * 100).toFixed(0) + '%' : '';\n  return `- [${date}] ${m.type}/${m.project} (imp:${m.importance}, rel:${sim}): ${m.summary}`;\n}).filter(Boolean);\n\nif (lines.length === 0) {\n  return [{ json: { memoryContext: 'Nenhuma memoria recente encontrada.' } }];\n}\n\nconst context = `## Memoria Recente (busca semantica)\\n${lines.join('\\n')}`;\n\nreturn [{ json: { memoryContext: context } }];"},"id":"c3f1a775-97e4-4031-a6d4-1766f652f6f8","name":"Format Memory Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Set Defaults","type":"main","index":0}]]},"Set Defaults":{"main":[[{"node":"OpenAI Embedding","type":"main","index":0}]]},"OpenAI Embedding":{"main":[[{"node":"Supabase Match Memories","type":"main","index":0}]]},"Supabase Match Memories":{"main":[[{"node":"Format Memory Context","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu"},"staticData":null,"meta":null,"pinData":{},"versionId":"cfb2a596-9133-454e-aac6-02ac8018712f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-14T12:57:39.528Z","createdAt":"2026-04-14T12:57:39.528Z","role":"workflow:owner","workflowId":"ApIb3XMBDSj8NHlE","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}