claude-bridge-—-weekly-swot-mac-mini-com-memory-MuDtJQwHhMDhkAIa.json
{"updatedAt":"2026-05-01T11:16:59.263Z","createdAt":"2026-04-08T15:11:25.451Z","id":"MuDtJQwHhMDhkAIa","name":"Claude Bridge — Weekly SWOT Mac Mini com Memory","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5],"triggerAtHour":17}]}},"id":"87ba76d7-06c9-468b-9eed-67c596ddf484","name":"Cron Sexta 17:00 UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2592,112]},{"parameters":{"assignments":{"assignments":[{"id":"manual-trigger","name":"trigger","value":"manual","type":"string"}]},"options":{}},"id":"387110bb-3b4b-4cfa-b26c-7e0ffd2c92a6","name":"Manual Trigger","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2592,288]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"equals","statusValue":"Done"},{"key":"Due Date|date","condition":"past_week"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-2256,192],"id":"dd52bfbf-3a0a-419e-b5f2-2106ca00098e","name":"Tasks Concluidas","credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-2064,192],"id":"f9ca57f8-f4ce-462d-89ae-8aa43cb5089e","name":"Tasks Atrasadas","credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Due Date|date","condition":"past_week"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1888,192],"id":"01f76c6d-9d86-4bbc-b829-bcf945146919","name":"Tasks Criadas Semana","executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21505ed2-eb60-4966-8d64-dc0411270e03","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://www.notion.so/21505ed2eb6049668d64dc0411270e03"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"In progress"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1696,192],"id":"579d076e-2cab-459f-8b9d-1ebe31032b39","name":"Active Projects","executeOnce":true,"credentials":null},{"parameters":{"workflowId":{"__rl":true,"value":"ApIb3XMBDSj8NHlE","mode":"id","cachedResultUrl":"/workflow/ApIb3XMBDSj8NHlE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context":"Weekly SWOT analysis strengths weaknesses opportunities threats TJ TM CL revenue pipeline","importance":"3"},"matchingColumns":[],"schema":[{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"importance","displayName":"importance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"a9777bce-546e-4cdd-8cd0-73a457b40358","name":"Memory Read","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1504,192]},{"parameters":{"jsCode":"const today = new Date().toISOString().slice(0, 10);\nconst now = new Date();\nconst weekNumber = Math.ceil((((now - new Date(now.getFullYear(), 0, 1)) / 86400000) + new Date(now.getFullYear(), 0, 1).getDay() + 1) / 7);\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nconst done = $('Tasks Concluidas').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  const tags = i.json.property_tags || [];\n  return `${name}${tags.length ? ' [' + tags.join(', ') + ']' : ''}`;\n}).join('\\n');\nconst doneCount = $('Tasks Concluidas').all().length;\n\nconst overdue = $('Tasks Atrasadas').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  const due = i.json.property_due_date?.start || '';\n  const tags = i.json.property_tags || [];\n  const prio = tags.includes('Prioridade Alta') ? 'ALTA' : tags.includes('Prioridade Media') ? 'MEDIA' : '';\n  return `${prio ? prio + ' ' : ''}${name} (due: ${due})${tags.length ? ' [' + tags.join(', ') + ']' : ''}`;\n}).join('\\n');\nconst overdueCount = $('Tasks Atrasadas').all().length;\n\nconst createdCount = $('Tasks Criadas Semana').all().length;\n\nconst projects = $('Active Projects').all().map(i => {\n  const name = i.json.property_name || i.json.Name || 'Sem nome';\n  const type = i.json.property_type || '';\n  return `${name}${type ? ' (' + type + ')' : ''}`;\n}).join('\\n');\n\nconst memoryContext = $('Memory Read').first().json.memoryContext || 'Nenhuma memoria recente.';\n\nconst prompt = `Hoje e ${date}, sexta-feira. SWOT Semanal para Ary Ribeiro.\n\n${memoryContext}\n\nCONTEXTO: Consultor IA, 3 verticais: TJ (advogados BR R$2.997/mes), TM (clinicas BR R$2.997/mes), CL (imobiliarias PT E497/mes). Meta Q2: E12.857 trimestral (~E4.286/mes). Revenue actual: E0. Pipeline vazio = crise.\n\nPROJECTOS ACTIVOS (${$('Active Projects').all().length}):\n${projects || '(nenhum projecto activo)'}\n\nTASKS CONCLUIDAS ESTA SEMANA (${doneCount}):\n${done || '(nenhuma task concluida - semana perdida)'}\n\nTASKS ATRASADAS (${overdueCount}):\n${overdue || '(nenhuma task atrasada)'}\n\nVOLUME: ${createdCount} tasks criadas esta semana\n\nANALISA estes dados e gera um SWOT estrategico:\n\nREGRAS:\n1. STRENGTHS: baseado APENAS em tasks concluidas (wins reais)\n2. WEAKNESSES: tasks atrasadas + projectos sem actividade + revenue E0\n3. OPPORTUNITIES: padroes detectados + o que acelerar na proxima semana para gerar receita\n4. THREATS: atrasos acumulados + pipeline vazio + riscos de nao atingir meta Q2\n5. Se revenue = E0 e pipeline vazio, THREATS deve incluir risco existencial de nao gerar caixa\n6. Termina com 1 DECISAO ESTRATEGICA para a proxima semana (focada em revenue)\n7. Brutalmente honesto - zero fluff, tom de board member exigente\n8. Se nao ha dados suficientes para uma categoria, diz dados insuficientes\n9. Se a memoria recente contem decisoes ou padroes relevantes, INCORPORA na analise SWOT\n\nFORMATO:\nSWOT Semanal - Semana ${weekNumber}/2026\n\nSTRENGTHS\n- [wins da semana]\n\nWEAKNESSES\n- [gaps e falhas]\n\nOPPORTUNITIES\n- [o que acelerar + revenue opportunities]\n\nTHREATS\n- [riscos acumulados + pipeline status]\n\nPROJECTOS\n- [status dos activos com flags]\n\nMEMORIA\n- [1-2 bullets de padroes ou decisoes de sessoes anteriores que impactam esta analise]\n\nDECISAO #1 PROXIMA SEMANA\n[1 frase imperativa focada em revenue]\n\nMaximo 400 palavras.`;\n\nreturn [{ json: { prompt, timeout: 120000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,192],"id":"70710d64-933b-4b12-87c6-576d2a97753f","name":"Build SWOT Prompt + Memory"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"f489a2cf-0ef6-42d6-9b5c-a3da5f807765","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1072,192],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"chatId":"-1002374157964","text":"=📊 *SWOT Semanal — {{ $now.format('dd/MM/yyyy') }}*\n\n{{ $('Claude Bridge').item.json.output }}\n\n---\n_⏱️ Gerado em {{ $('Claude Bridge').item.json.elapsed_s }}s via Claude Code (with memory)_","additionalFields":{"parse_mode":"Markdown"}},"id":"61b50261-0e20-43d3-bf25-9418b3abe881","name":"Telegram SWOT","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[64,208],"webhookId":"76d880cc-be8d-4852-89f8-423aab6eb5c3","credentials":null},{"parameters":{"jsCode":"const output = $('Claude Bridge').item.json.output;\nconst elapsed = $('Claude Bridge').item.json.elapsed_s;\nconst now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nlet text = output\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\ntext = `📊 SWOT Semanal — ${date}\\n\\n${text}\\n\\n───\\n⏱️ Gerado em ${elapsed}s via Claude Code (with memory)`;\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,368],"id":"2c8323c0-6520-4734-9b27-17e62df36aaf","name":"Format WhatsApp"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[224,368],"id":"8e0dc9d3-9ddd-4b57-ba0d-c787eb0af203","name":"WhatsApp SWOT","credentials":null},{"parameters":{"workflowId":{"__rl":true,"value":"URJf7Jg58IQAeXfc","mode":"id","cachedResultUrl":"/workflow/URJf7Jg58IQAeXfc"},"workflowInputs":{"mappingMode":"defineBelow","value":{"source":"WeeklySWOT","project":"Ops","response":"={{ $('Claude Bridge').item.json.output }}"},"matchingColumns":[],"schema":[{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"response","displayName":"response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"c4481ede-6f68-4707-a9dc-02168f4e88c0","name":"Memory Write","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[64,544]},{"parameters":{"jsCode":"const bridgeOutput = $input.first().json;\n\nif (bridgeOutput.output && bridgeOutput.output.length > 10) {\n  return [{ json: { output: bridgeOutput.output, elapsed_s: bridgeOutput.elapsed_s || 0, fallback: false, prompt: '' } }];\n}\n\nconst prompt = $('Build SWOT Prompt + Memory').first().json.prompt || '';\nreturn [{ json: { output: '', elapsed_s: 0, fallback: true, prompt: prompt } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,192],"id":"4d751dc7-61f3-4ffc-a100-b036d8db9201","name":"Fallback Router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3a728824-560c-4d8c-9259-d99ceff4dbdb","leftValue":"={{ $json.fallback }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-704,192],"id":"0dfda8d1-c544-4b37-b890-5ab4ec5531c7","name":"IF Fallback"},{"parameters":{"method":"POST","url":"http://localhost:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"gemma3:27b\", \"messages\": [{\"role\": \"user\", \"content\": $json.prompt}], \"stream\": false}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-416,0],"id":"d2acbe0a-796a-426f-8da7-0df86835faa7","name":"Ollama Fallback"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst content = response.message?.content || 'Erro: Ollama nao respondeu';\nreturn [{ json: { output: content + '\\n\\n⚠️ Gerado via Gemma3:27b (fallback local)', elapsed_s: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,0],"id":"b68be0a4-b8a6-443f-89fd-6e1cb1d08b82","name":"Format Ollama Response"}],"connections":{"Cron Sexta 17:00 UTC":{"main":[[{"node":"Tasks Concluidas","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Tasks Concluidas","type":"main","index":0}]]},"Tasks Concluidas":{"main":[[{"node":"Tasks Atrasadas","type":"main","index":0}]]},"Tasks Atrasadas":{"main":[[{"node":"Tasks Criadas Semana","type":"main","index":0}]]},"Tasks Criadas Semana":{"main":[[{"node":"Active Projects","type":"main","index":0}]]},"Active Projects":{"main":[[{"node":"Memory Read","type":"main","index":0}]]},"Memory Read":{"main":[[{"node":"Build SWOT Prompt + Memory","type":"main","index":0}]]},"Build SWOT Prompt + Memory":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Fallback Router","type":"main","index":0}]]},"Format WhatsApp":{"main":[[{"node":"WhatsApp SWOT","type":"main","index":0}]]},"Fallback Router":{"main":[[{"node":"IF Fallback","type":"main","index":0}]]},"IF Fallback":{"main":[[{"node":"Ollama Fallback","type":"main","index":0}],[{"node":"Telegram SWOT","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Memory Write","type":"main","index":0}]]},"Ollama Fallback":{"main":[[{"node":"Format Ollama Response","type":"main","index":0}]]},"Format Ollama Response":{"main":[[{"node":"Telegram SWOT","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Memory Write","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu"},"staticData":{"node:Cron Sexta 17:00 UTC":{"recurrenceRules":[]}},"meta":null,"pinData":{"Cron Sexta 17:00 UTC":[{"json":{"timestamp":"2026-04-10T17:00:23.039-03:00","Readable date":"April 10th 2026, 5:00:23 pm","Readable time":"5:00:23 pm","Day of week":"Friday","Year":"2026","Month":"April","Day of month":"10","Hour":"17","Minute":"00","Second":"23","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}]},"versionId":"534f81d1-9016-4b62-8882-c3c0efe6d321","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-08T15:11:25.451Z","createdAt":"2026-04-08T15:11:25.451Z","role":"workflow:owner","workflowId":"MuDtJQwHhMDhkAIa","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-30T17:25:46.128Z","createdAt":"2026-03-30T17:25:46.128Z","id":"I55hCGMBk1VDjvLr","name":"claude-bridge"},{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}