claude-brain-—-snapshot-write-v1-naTm33u35fDAWAIW.json
{"updatedAt":"2026-05-17T00:14:07.922Z","createdAt":"2026-05-17T00:14:07.922Z","id":"naTm33u35fDAWAIW","name":"Claude Brain — Snapshot Write v1","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"summary"},{"name":"details"},{"name":"source"},{"name":"type"},{"name":"project"},{"name":"importance"},{"name":"tags"}]}},"id":"f705539d-158b-46b1-b799-f7cdab4fc786","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"jsCode":"const inp = $input.first().json;\n\nconst validTypes = ['Decision', 'Learning', 'Error', 'Insight', 'Pattern', 'Fact', 'Drift'];\nconst validProjects = ['TJ', 'TM', 'CL', 'CF', 'Ops', 'Personal'];\n\nif (!inp.summary || !inp.details) {\n  throw new Error('summary and details required');\n}\nif (!validTypes.includes(inp.type)) {\n  throw new Error(`Invalid type: ${inp.type}. Must be one of: ${validTypes.join(', ')}`);\n}\nif (!validProjects.includes(inp.project)) {\n  throw new Error(`Invalid project: ${inp.project}. Must be one of: ${validProjects.join(', ')}`);\n}\n\nconst importance = parseInt(inp.importance);\nif (isNaN(importance) || importance < 1 || importance > 5) {\n  throw new Error('importance must be integer 1-5');\n}\n\nlet tags = inp.tags;\nif (typeof tags === 'string') {\n  try {\n    tags = JSON.parse(tags);\n  } catch(e) {\n    tags = [tags];\n  }\n}\nif (!Array.isArray(tags)) {\n  tags = [];\n}\ntags = tags.filter(t => t && typeof t === 'string').map(t => t.trim()).filter(Boolean);\n\nreturn [{\n  json: {\n    summary: String(inp.summary).trim(),\n    details: String(inp.details).trim(),\n    source: String(inp.source).trim(),\n    type: inp.type,\n    project: inp.project,\n    importance: importance,\n    tags: tags\n  }\n}];"},"id":"b2b5c450-d663-4ba4-807f-126bd430f16b","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ summary: $json.summary, details: $json.details, source: $json.source, project: $json.project, type: $json.type, importance: $json.importance, tags: $json.tags }) }}","options":{"timeout":15000}},"id":"3b3aef91-c0b9-4d07-84b5-6df65134973e","name":"Supabase INSERT","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,0],"retryOnFail":true,"waitBetweenTries":3000},{"parameters":{"jsCode":"const result = $input.first().json;\nconst upstream = $('Validate Input').item.json;\n\nconst row = Array.isArray(result) ? result[0] : result;\n\nreturn [{\n  json: {\n    success: true,\n    id: row?.id || null,\n    summary: upstream.summary,\n    project: upstream.project,\n    source: upstream.source,\n    tags_count: upstream.tags.length\n  }\n}];"},"id":"9b88a27b-e2ce-4311-bdd0-c6e075d43c63","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Supabase INSERT","type":"main","index":0}]]},"Supabase INSERT":{"main":[[{"node":"Build Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"07021afd-8d03-4cdc-9954-ea99bc55dbcf","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-17T00:14:07.922Z","createdAt":"2026-05-17T00:14:07.922Z","role":"workflow:owner","workflowId":"naTm33u35fDAWAIW","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}