claude-bridge-—-daily-brief-mac-mini-sem-memory-ixks5dQzdnqacEBQ.json
{"updatedAt":"2026-04-14T14:57:13.761Z","createdAt":"2026-04-03T13:49:34.190Z","id":"ixks5dQzdnqacEBQ","name":"Claude Bridge — Daily Brief Mac Mini sem Memory","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"16c439cb-24d0-4467-8afe-ba4fd5382f08","name":"Cron 08:00 UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-848,112]},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"40ba703a-262a-48d1-9e20-dbc7e261c592","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,112],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000},{"parameters":{"chatId":"-1002374157964","text":"=📋 *Daily Brief — {{ $now.format('dd/MM/yyyy') }}*\n\n{{ $('Claude Bridge').item.json.output }}\n\n---\n_⏱️ Gerado em {{ $('Claude Bridge').item.json.elapsed_s }}s via Claude Code_","additionalFields":{"parse_mode":"Markdown"}},"id":"627f8959-468c-46ee-8452-ea0a5e85102a","name":"Telegram Brief","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[608,0],"webhookId":"e7b67a1d-21b2-40af-9e9b-570189d4ee12","credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"manual-trigger","name":"trigger","value":"manual","type":"string"}]},"options":{}},"id":"3b97dc9e-b574-458b-8721-a76d7833a8c0","name":"Manual Trigger","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,288]},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[832,224],"id":"aa9d5921-419b-4f4e-8a1d-c5094f86ff85","name":"WhatsApp Brief","credentials":null},{"parameters":{"jsCode":"const output = $('Claude Bridge').item.json.output;\nconst elapsed = $('Claude Bridge').item.json.elapsed_s;\nconst now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nlet text = output\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\ntext = `📋 Daily Brief — ${date}\\n\\n${text}\\n\\n───\\n⏱️ Gerado em ${elapsed}s via Claude Code`;\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,224],"id":"1220fe5d-db4d-4963-90bb-e18d6d7576c4","name":"Code in JavaScript"},{"parameters":{"jsCode":"const today = new Date().toISOString().slice(0, 10);\n\nconst tasks7d = $('Tasks 7 Dias').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  const due = i.json.property_due_date?.start || '';\n  const tags = i.json.property_tags || [];\n  const prio = tags.includes('Prioridade Alta') ? '🔴' : tags.includes('Prioridade Média') ? '🟡' : '⚪';\n  const overdue = due && due < today ? '⚠️ ATRASADA ' : '';\n  return `${overdue}${prio} ${name} (${due})${tags.length ? ' [' + tags.join(', ') + ']' : ''}`;\n}).join('\\n');\n\nconst overdueCount = $('Tasks 7 Dias').all().filter(i => {\n  const due = i.json.property_due_date?.start || '';\n  return due && due < today;\n}).length;\n\nconst inbox = $('Tasks Inbox').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  return `📥 ${name}`;\n}).join('\\n');\nconst inboxCount = $('Tasks Inbox').all().length;\n\nconst projects = $('Active Projects').all().map(i => {\n  const name = i.json.property_name || i.json.Name || 'Sem nome';\n  const type = i.json.property_type || '';\n  const icon = type === 'Client' ? '🟢' : type === 'Prospect' ? '🟡' : '⚪';\n  return `${icon} ${name}${type ? ' (' + type + ')' : ''}`;\n}).join('\\n');\n\nconst now = new Date();\nconst date = `${now.getFullYear()}-${String(now.getMonth()+1).padStart(2,'0')}-${String(now.getDate()).padStart(2,'0')}`;\nconst weekday = ['Domingo','Segunda','Terca','Quarta','Quinta','Sexta','Sabado'][now.getDay()];\n\nconst prompt = `Hoje e ${date}, ${weekday}. Daily Brief para Ary Ribeiro.\n\nCONTEXTO: Consultor IA, 3 verticais: TJ (advogados BR R$2.997/mes), TM (clinicas BR R$2.997/mes), CL (imobiliarias PT E497/mes). Meta Q2: E12.857 trimestral. Revenue actual: E0. Pipeline vazio = prioridade #1 e prospeccao e conteudo.\n\nPROJECTOS ACTIVOS (${$('Active Projects').all().length}):\n${projects || '(nenhum projecto activo)'}\n\nPROXIMOS 7 DIAS (${$('Tasks 7 Dias').all().length} tasks, ${overdueCount} atrasadas):\n${tasks7d || '(nenhuma task agendada)'}\n\nINBOX SEM DATA (${inboxCount} tasks):\n${inbox || '(inbox vazio)'}\n\nREGRAS:\n1. Se revenue = E0 e pipeline vazio, ACCAO #1 e SEMPRE prospeccao ou criacao de conteudo que gere leads\n2. Identificar a UNICA accao de maior impacto financeiro\n3. Tasks com ATRASADA = urgente\n4. Inbox >10 = flag triagem\n5. Projectos sem Type=Client ou Prospect = flag sem revenue pipeline\n6. Directo, zero fluff, tom de coach exigente\n\nFORMATO:\nACCAO #1 (maior impacto financeiro - imperativa, especifica)\nPIPELINE (3-5 bullets do que fazer hoje)\nURGENTE (tasks atrasadas com impacto em receita)\nPROJECTOS (status dos activos, flags)\nINBOX (status)\nLEMBRETE (1 frase sobre execucao e revenue)\n\nMaximo 250 palavras.`;\n\nreturn [{ json: { prompt, timeout: 120000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,112],"id":"924011f2-f331-46db-bbfc-435b0b9b9cc6","name":"Code in JavaScript Notion Data"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"limit":20,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Due Date|date","condition":"is_empty"},{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-416,112],"id":"1a366ee6-1909-4cb3-b018-42c12f2055d7","name":"Tasks Inbox","executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.plus(7, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-624,112],"id":"73b43617-5378-4126-b267-ff2071de5163","name":"Tasks 7 Dias","credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21505ed2-eb60-4966-8d64-dc0411270e03","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://www.notion.so/21505ed2eb6049668d64dc0411270e03"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"In progress"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-208,112],"id":"f8ec3097-bba3-4057-8e00-7db0d129e645","name":"Active Projects","executeOnce":true,"credentials":null}],"connections":{"Cron 08:00 UTC":{"main":[[{"node":"Tasks 7 Dias","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Tasks 7 Dias","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Telegram Brief","type":"main","index":0},{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"WhatsApp Brief","type":"main","index":0}]]},"Code in JavaScript Notion Data":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Tasks Inbox":{"main":[[{"node":"Active Projects","type":"main","index":0}]]},"Tasks 7 Dias":{"main":[[{"node":"Tasks Inbox","type":"main","index":0}]]},"Active Projects":{"main":[[{"node":"Code in JavaScript Notion Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"fYnGvcrDamwzIZeW"},"staticData":{"node:Cron 08:00 UTC":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"04d06df9-19c1-47c1-9e43-ac6b9ba2621a","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-03T13:49:34.190Z","createdAt":"2026-04-03T13:49:34.190Z","role":"workflow:owner","workflowId":"ixks5dQzdnqacEBQ","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-30T17:25:46.128Z","createdAt":"2026-03-30T17:25:46.128Z","id":"I55hCGMBk1VDjvLr","name":"claude-bridge"}]}