claude-bridge-—-daily-brief-mac-mini-com-memory-v2-ld7vbMr3aFyVlDc1.json
{"updatedAt":"2026-05-31T00:57:48.695Z","createdAt":"2026-04-16T13:01:52.932Z","id":"ld7vbMr3aFyVlDc1","name":"Claude Bridge — Daily Brief Mac Mini com Memory v2","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"manual-trigger","name":"trigger","value":"manual","type":"string"}]},"options":{}},"id":"e9bb1d61-78dd-4e70-a2ad-f25450c6d7ad","name":"Manual Trigger","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1792,288]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.plus(7, 'days').format('yyyy-MM-dd') }}"},{"key":"Due Date|date","condition":"on_or_after","date":"={{ $now.minus(30, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1568,96],"id":"fc5b104b-3c28-4364-a5c6-39f21f0149dc","name":"Tasks 7 Dias","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Due Date|date","condition":"is_empty"},{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1392,96],"id":"1a12a589-5ccb-4de0-8e37-e979df4a6ff7","name":"Tasks Inbox","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21505ed2-eb60-4966-8d64-dc0411270e03","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://www.notion.so/21505ed2eb6049668d64dc0411270e03"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"In progress"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1200,96],"id":"56b09a59-19fe-4f1e-8d81-02f30e86c44f","name":"Active Projects","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"ab66ce18-37be-45aa-952f-5146fe07cef8","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,96],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const bridgeOutput = $input.first().json;\nconst out = bridgeOutput.output || '';\n\n// Detect silent failures of Claude Bridge that return HTTP 200 with bad content:\n// - OAuth expired: \"Not logged in - Please run /login\"\n// - Output truncated/empty: legitimate brief is typically >100 chars\nconst oauthDead = /not logged in|please run \\/login|please log in/i.test(out);\nconst tooShort = out.trim().length < 30;\n\nif (out.length > 10 && !oauthDead && !tooShort) {\n  return [{ json: { output: out, elapsed_s: bridgeOutput.elapsed_s || 0, fallback: false, prompt: '' } }];\n}\n\nconst prompt = $('Build Prompt').first().json.prompt || '';\nreturn [{ json: { output: '', elapsed_s: 0, fallback: true, prompt: prompt } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,96],"id":"ad995a9d-b7c0-44c5-8a15-f356829389d7","name":"Fallback Router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fb-check","leftValue":"={{ $json.fallback }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-272,96],"id":"c164a56a-c9ff-4707-a948-b3c79750bdc1","name":"IF Fallback"},{"parameters":{"chatId":"-1002374157964","text":"={{\n  (() => {\n    const SP = \"_*[]()~`>#+-=|{}.!\\\\\";\n    const esc = (s) => s.split('').map(c => SP.includes(c) ? '\\\\' + c : c).join('');\n    const tx = (text) => text\n      .split(/(\\*\\*[^*]+\\*\\*|`[^`]+`)/g)\n      .map(p => {\n        if (p.startsWith('**') && p.endsWith('**') && p.length > 4) return '*' + esc(p.slice(2, -2)) + '*';\n        if (p.startsWith('`') && p.endsWith('`') && p.length > 2) return p;\n        return esc(p);\n      })\n      .join('');\n    return '📋 *Daily Brief — ' + esc($now.format('dd/MM/yyyy')) + '*\\n'\n      + tx($json.output)\n      + '\\n\\\\-\\\\-\\\\-\\n'\n      + '_⏱️ Gerado em ' + esc(String($json.elapsed_s)) + 's via Claude Code \\\\(with memory\\\\)_';\n  })()\n}}","additionalFields":{"parse_mode":"MarkdownV2"}},"id":"b6e7cfeb-2d14-471d-b7ba-768b2b56bbf0","name":"Telegram Brief","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[416,112],"webhookId":"d4853a0b-d7d3-4a8a-967f-e2d4e74bae7c","credentials":null},{"parameters":{"jsCode":"const output = $json.output;\nconst elapsed = $json.elapsed_s;\nconst now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nlet text = output\n  .replace(/^### (.+)$/gm, '*$1*')\n  .replace(/^## (.+)$/gm, '*$1*')\n  .replace(/^# (.+)$/gm, '*$1*')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\ntext = `📋 Daily Brief — ${date}\\n\\n${text}\\n\\n───\\n⏱️ Gerado em ${elapsed}s via Claude Code (with memory)`;\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,304],"id":"56a4ded1-12cc-47d9-9a7a-1db9e91385ca","name":"Format WhatsApp"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[592,304],"id":"97641aae-a092-4a00-afad-1e4a398642b0","name":"WhatsApp Brief","credentials":null},{"parameters":{"workflowId":{"__rl":true,"value":"URJf7Jg58IQAeXfc","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"source":"DailyBrief","project":"Ops","response":"={{ $json.output }}"},"matchingColumns":[],"schema":[{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"response","displayName":"response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"cb40e181-4b27-49f4-b839-fefcb282e362","name":"Memory Write v2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[416,496],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst text = response.content && response.content[0] ? response.content[0].text : JSON.stringify(response);\nreturn [{ json: { output: text + '\\n\\n⚠️ Gerado via Haiku API (fallback — Claude Bridge indisponivel)', elapsed_s: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-64],"id":"df3b0882-2216-47c7-ab87-a483117e981d","name":"Format api Response"},{"parameters":{"modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[-128,-64],"id":"fa55d57c-2b3b-4e6c-8109-68a7665b5464","name":"Claude api","credentials":null},{"parameters":{"jsCode":"// ===== HELPERS =====\nfunction getTaskName(item) {\n  const props = item.json.properties || {};\n  const nameProps = ['Name', 'Task', 'Title', 'name', 'title'];\n  for (const key of nameProps) {\n    if (props[key] && props[key].title && Array.isArray(props[key].title) && props[key].title.length > 0) {\n      return props[key].title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  for (const key of Object.keys(props)) {\n    const p = props[key];\n    if (p && p.type === 'title' && Array.isArray(p.title) && p.title.length > 0) {\n      return p.title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  return '(sem nome)';\n}\n\nfunction getTags(item) {\n  const props = item.json.properties || {};\n  const tagProps = ['Tags', 'Tag', 'Labels'];\n  for (const key of tagProps) {\n    if (props[key]) {\n      if (props[key].multi_select) return props[key].multi_select.map(t => t.name);\n      if (props[key].select && props[key].select.name) return [props[key].select.name];\n    }\n  }\n  return [];\n}\n\nfunction getDueDate(item) {\n  const props = item.json.properties || {};\n  const dateProps = ['Due Date', 'Due', 'Date', 'Deadline'];\n  for (const key of dateProps) {\n    if (props[key] && props[key].date && props[key].date.start) {\n      return props[key].date.start;\n    }\n  }\n  return '';\n}\n\n// FIX #1: Resolver Project relation → nome real via lookup local\nfunction getProjectId(item) {\n  const props = item.json.properties || {};\n  const projProps = ['Project', 'Projects'];\n  for (const key of projProps) {\n    if (props[key] && props[key].relation && props[key].relation.length > 0) {\n      return props[key].relation[0].id;\n    }\n  }\n  return '';\n}\n\nfunction getProjectType(item) {\n  const props = item.json.properties || {};\n  const typeProps = ['Type', 'Tipo', 'Category'];\n  for (const key of typeProps) {\n    if (props[key]) {\n      if (props[key].select && props[key].select.name) return props[key].select.name;\n    }\n  }\n  return '';\n}\n\n// FIX #5: Geo/contexto a partir das tags\nfunction getContext(tags) {\n  if (tags.includes('Brasil')) return '🇧🇷';\n  if (tags.includes('Portugal')) return '🇵🇹';\n  return '';\n}\n\nfunction getDependency(tags) {\n  if (tags.includes('Dependo de Terceiros')) return '⏸️';\n  return '';\n}\n\n// FIX #2: Forçar timezone Europe/Lisbon — usa Intl API (sempre disponível, sem dependências)\nfunction getTodayLisbon() {\n  const now = new Date();\n  const fmt = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Lisbon',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  });\n  return fmt.format(now); // YYYY-MM-DD\n}\n\nfunction getWeekdayLisbon() {\n  const now = new Date();\n  const fmt = new Intl.DateTimeFormat('pt-PT', {\n    timeZone: 'Europe/Lisbon',\n    weekday: 'long'\n  });\n  const day = fmt.format(now).toLowerCase();\n  // Capitalizar primeira letra, remover acentos para evitar problemas downstream\n  const map = {\n    'domingo': 'Domingo',\n    'segunda-feira': 'Segunda',\n    'terça-feira': 'Terca',\n    'quarta-feira': 'Quarta',\n    'quinta-feira': 'Quinta',\n    'sexta-feira': 'Sexta',\n    'sábado': 'Sabado'\n  };\n  return map[day] || day;\n}\n\n// ===== GET YESTERDAY DAILY SUMMARY =====\nlet yesterdaySummary = '';\ntry {\n  const summaryNode = $('Get Yesterday Summary').first().json;\n  if (summaryNode && summaryNode.found && summaryNode.entries && summaryNode.entries.length > 0) {\n    const entry = summaryNode.entries[0];\n    const dateTag = (entry.tags || []).find(t => /^\\d{4}-\\d{2}-\\d{2}$/.test(t)) || 'data desconhecida';\n    yesterdaySummary = `\\n\\nDAILY SUMMARY DE ONTEM (${dateTag}):\\n${entry.details || entry.summary}\\n`;\n  } else {\n    yesterdaySummary = '\\n\\n(Sem daily summary de ontem disponivel — primeira sessao ou dia anterior sem fecho)\\n';\n  }\n} catch(e) {\n  yesterdaySummary = '\\n\\n(Erro a obter daily summary de ontem)\\n';\n}\n\n// ===== BUILD PROJECT LOOKUP MAP (FIX #1) =====\nconst projectItems = $('Active Projects').all();\nconst projectMap = {};\nfor (const p of projectItems) {\n  const id = p.json.id;\n  const name = getTaskName(p);\n  const type = getProjectType(p);\n  projectMap[id] = { name, type };\n}\n\nfunction getProjectName(item) {\n  const id = getProjectId(item);\n  if (!id) return '';\n  if (projectMap[id]) return projectMap[id].name;\n  return '(unknown project)';\n}\n\n// ===== TIME REFERENCES =====\nconst today = getTodayLisbon();\nconst weekday = getWeekdayLisbon();\n\n// ===== TASKS 7 DIAS =====\nconst tasks7dItems = $('Tasks 7 Dias').all();\nconst tasks7d = tasks7dItems.map(i => {\n  const name = getTaskName(i);\n  const due = getDueDate(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const prio = tags.includes('Prioridade Alta') ? '🔴'\n    : (tags.includes('Prioridade Média') || tags.includes('Prioridade Media')) ? '🟡'\n    : '⚪';\n  const overdue = due && due < today ? '⚠️ ATRASADA ' : '';\n  const ctx = getContext(tags);\n  const dep = getDependency(tags);\n  const flags = [ctx, dep].filter(x => x).join(' ');\n  const projectTag = project ? ` [${project}]` : '';\n  const flagsTag = flags ? ` ${flags}` : '';\n  return `${overdue}${prio} ${name}${projectTag}${flagsTag} (${due})`;\n}).join('\\n');\n\nconst overdueCount = tasks7dItems.filter(i => {\n  const due = getDueDate(i);\n  return due && due < today;\n}).length;\n\n// ===== TASKS INBOX (sem data) =====\nconst inboxItems = $('Tasks Inbox').all();\nconst inbox = inboxItems.map(i => {\n  const name = getTaskName(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const ctx = getContext(tags);\n  const dep = getDependency(tags);\n  const flags = [ctx, dep].filter(x => x).join(' ');\n  const projectTag = project ? ` [${project}]` : '';\n  const flagsTag = flags ? ` ${flags}` : '';\n  return `📥 ${name}${projectTag}${flagsTag}`;\n}).join('\\n');\nconst inboxCount = inboxItems.length;\n\n// ===== ACTIVE PROJECTS =====\nconst projects = projectItems.map(i => {\n  const name = getTaskName(i);\n  const type = getProjectType(i);\n  const icon = type === 'Client' ? '🟢'\n    : type === 'Prospect' ? '🟡'\n    : '⚪';\n  return `${icon} ${name}${type ? ' (' + type + ')' : ''}`;\n}).join('\\n');\n\n// ===== PROMPT =====\nconst prompt = `Hoje e ${today}, ${weekday}. Daily Brief para Ary Ribeiro.\n\nCONTEXTO: Consultor IA, 3 verticais: TJ (advogados BR R$2.997/mes), TM (clinicas BR R$2.997/mes), CL (imobiliarias PT E497/mes). Meta Q2: E12.857 trimestral. Foco actual: construcao da maquina (consistencia de conteudos), Sales suspenso ate 11 Jun 2026.\n${yesterdaySummary}\nPROJECTOS ACTIVOS (${projectItems.length}):\n${projects || '(nenhum projecto activo)'}\n\nPROXIMOS 7 DIAS (${tasks7dItems.length} tasks, ${overdueCount} atrasadas):\n${tasks7d || '(nenhuma task agendada)'}\n\nINBOX SEM DATA (${inboxCount} tasks):\n${inbox || '(inbox vazio)'}\n\nLEGENDA: 🔴 Alta | 🟡 Media | ⚪ Baixa/sem | ⚠️ Atrasada | 🇧🇷 Brasil | 🇵🇹 Portugal | ⏸️ Dependo de terceiros | 🟢 Client | 🟡 Prospect\n\n═══ HARD CONSTRAINTS DE INTEGRIDADE DE DADOS ═══\n\nHC1 - AUDITABILIDADE DE NUMEROS NOTION:\nOs valores ja estao calculados:\n  overdueCount=${overdueCount}, tasks7dCount=${tasks7dItems.length},\n  inboxCount=${inboxCount}, projectsCount=${projectItems.length}\nREGRAS LITERAIS:\n- Reportar EXACTAMENTE estes valores, sem arredondar, aproximar ou inferir.\n- \"X atrasadas\" SEMPRE = overdueCount, NUNCA outro numero.\n- overdueCount usa criterio ESTRITO Due < hoje. Tasks com Due = hoje NAO contam como atrasadas.\n- Se um campo nao tiver valor claro acima: escrever \"N/A\", NUNCA inventar.\n\nHC2 - ANTI CROSS-CONTAMINATION TEMPORAL:\nDaily summary de ontem (acima) e ESPECIFICO de ontem. NUNCA copiar:\n- Numeros (counts de tasks, scores, horas) — usar SEMPRE os values pre-calculados deste prompt.\n- Afirmacoes como \"estas a trabalhar em X\" se o summary nao disser explicitamente.\n- Estado de tasks como \"ainda atrasadas\" sem cruzar com overdueCount actual.\nCada afirmacao deste Brief sobre o estado actual deve ter origem em:\n(a) overdueCount/tasks7dCount/inboxCount/projectsCount pre-calculados, OU\n(b) daily summary de ontem (apenas para contexto qualitativo, NUNCA numeros).\nSe nao houver evidencia em (a) ou (b): NAO afirmar.\n\n═══════════════════════════════════════════════\n\nREGRAS:\n1. ATE 11 JUN 2026: focar em CONSISTENCIA de conteudos. NAO cobrar Sales, pipeline ou outreach. Construcao da maquina vem primeiro.\n2. SE existe DAILY SUMMARY DE ONTEM: usar contexto para sugerir continuidade (tarefas comecadas mas nao terminadas, padroes detectados, sinais a observar do dia anterior).\n3. ACCAO #1 — criterios em ordem de prioridade:\n   a) ALAVANCAGEM ESTRATEGICA: qual task desbloqueia outras tasks ou cria activo reutilizavel (landing page, demo kit, sistema)?\n   b) PRAZO REAL: qual task vence hoje E tem consequencia real (pagamento, deadline cliente, perda irreversivel)?\n   c) ENERGIA NECESSARIA: qual task requer foco profundo agora vs pode ser feita ao fim do dia cansado?\n   ESCOLHER (a) sobre (b) excepto se (b) tiver consequencia irreversivel hoje. Justificar a escolha em 1 frase.\n   NUNCA escolher task admin pura (pagamentos, emails, triagem) como ACCAO #1. Admin vai em PIPELINE.\n4. Tasks com ATRASADA = sinalizar, mas distinguir entre atrasadas estrategicas vs admin nas URGENTES.\n5. AO REPORTAR ATRASADAS: usar EXACTAMENTE o formato \"${overdueCount} atrasadas (Due < hoje, janela ±30d/+7d)\". NUNCA outro numero. NUNCA arredondar. Se o LLM se lembrar de um numero diferente de execucoes anteriores ou de daily summaries antigos, IGNORAR — usar overdueCount=${overdueCount} literal. Este valor ja exclui tasks com Due = hoje (estrito).\n6. Tasks com ⏸️ Dependo de Terceiros = deprioritizar (estao a espera de outros).\n7. Inbox >10 = flag triagem.\n8. Directo, zero fluff, tom de coach exigente mas sem pressao financeira.\n9. Se daily summary ontem mostrar zero tasks Notion fechadas: mencionar explicitamente no LEMBRETE para criar friccao positiva. Ex: \"ontem: 0 tasks fechadas no Notion. Hoje sem captura = quarto dia consecutivo.\"\n\nFORMATO:\nACCAO #1 (maior impacto na construcao da maquina hoje - imperativa, especifica)\nPIPELINE (3-5 bullets do que fazer hoje)\nCONTINUIDADE (1-2 bullets de seguimento do dia anterior, baseado no daily summary)\nURGENTE (tasks atrasadas)\nPROJECTOS (status dos activos, flags)\nINBOX (status)\nLEMBRETE (1 frase sobre consistencia e foco)\n\nMaximo 300 palavras.`;\n\n// timeout em MILISSEGUNDOS (Bridge cap 600000 = 10min). Daily Brief usa 120000 (2min).\nreturn [{ json: { prompt, timeout: 120000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,96],"id":"c1277a8d-425d-4f04-9d72-5232efa3fd21","name":"Build Prompt"},{"parameters":{"workflowId":{"__rl":true,"value":"gxVtgxoGiPD1pW0J","mode":"list","cachedResultUrl":"/workflow/gxVtgxoGiPD1pW0J","cachedResultName":"Claude Brain — Memory Read by Tag v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mode":"single_day","target_tag":"daily-summary","date_tag":"={{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}","days":"1"},"matchingColumns":[],"schema":[{"id":"mode","displayName":"mode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"target_tag","displayName":"target_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"date_tag","displayName":"date_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"days","displayName":"days","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1008,96],"id":"3b0ece52-83ce-49e1-bc67-741bb539df88","name":"Get Yesterday Summary","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"95fbd67b-b302-462d-a224-aeede1a09825","name":"Cron 08:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1792,96]}],"connections":{"Manual Trigger":{"main":[[{"node":"Tasks 7 Dias","type":"main","index":0}]]},"Tasks 7 Dias":{"main":[[{"node":"Tasks Inbox","type":"main","index":0}]]},"Tasks Inbox":{"main":[[{"node":"Active Projects","type":"main","index":0}]]},"Active Projects":{"main":[[{"node":"Get Yesterday Summary","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Fallback Router","type":"main","index":0}]]},"Fallback Router":{"main":[[{"node":"IF Fallback","type":"main","index":0}]]},"IF Fallback":{"main":[[{"node":"Claude api","type":"main","index":0}],[{"node":"Telegram Brief","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Memory Write v2","type":"main","index":0}]]},"Format WhatsApp":{"main":[[{"node":"WhatsApp Brief","type":"main","index":0}]]},"Claude api":{"main":[[{"node":"Format api Response","type":"main","index":0}]]},"Format api Response":{"main":[[{"node":"Telegram Brief","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Memory Write v2","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Get Yesterday Summary":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Cron 08:00":{"main":[[{"node":"Tasks 7 Dias","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu","executionTimeout":1200},"staticData":{"node:Cron 08:00 UTC":{"recurrenceRules":[]},"node:Cron 08:00":{"recurrenceRules":[]}},"meta":null,"pinData":{"Cron 08:00":[{"json":{"timestamp":"2026-05-26T08:00:51.034-03:00","Readable date":"May 26th 2026, 8:00:51 am","Readable time":"8:00:51 am","Day of week":"Tuesday","Year":"2026","Month":"May","Day of month":"26","Hour":"08","Minute":"00","Second":"51","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}]},"versionId":"433f5f0b-8e02-4742-aed6-0b2ee2f207d4","activeVersionId":"433f5f0b-8e02-4742-aed6-0b2ee2f207d4","triggerCount":1,"shared":[{"updatedAt":"2026-04-16T13:01:52.932Z","createdAt":"2026-04-16T13:01:52.932Z","role":"workflow:owner","workflowId":"ld7vbMr3aFyVlDc1","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-31T00:57:48.699Z","createdAt":"2026-05-31T00:57:48.699Z","versionId":"433f5f0b-8e02-4742-aed6-0b2ee2f207d4","workflowId":"ld7vbMr3aFyVlDc1","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"manual-trigger","name":"trigger","value":"manual","type":"string"}]},"options":{}},"id":"e9bb1d61-78dd-4e70-a2ad-f25450c6d7ad","name":"Manual Trigger","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1792,288]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.plus(7, 'days').format('yyyy-MM-dd') }}"},{"key":"Due Date|date","condition":"on_or_after","date":"={{ $now.minus(30, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1568,96],"id":"fc5b104b-3c28-4364-a5c6-39f21f0149dc","name":"Tasks 7 Dias","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Due Date|date","condition":"is_empty"},{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1392,96],"id":"1a12a589-5ccb-4de0-8e37-e979df4a6ff7","name":"Tasks Inbox","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21505ed2-eb60-4966-8d64-dc0411270e03","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://www.notion.so/21505ed2eb6049668d64dc0411270e03"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"In progress"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1200,96],"id":"56b09a59-19fe-4f1e-8d81-02f30e86c44f","name":"Active Projects","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"ab66ce18-37be-45aa-952f-5146fe07cef8","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,96],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const bridgeOutput = $input.first().json;\nconst out = bridgeOutput.output || '';\n\n// Detect silent failures of Claude Bridge that return HTTP 200 with bad content:\n// - OAuth expired: \"Not logged in - Please run /login\"\n// - Output truncated/empty: legitimate brief is typically >100 chars\nconst oauthDead = /not logged in|please run \\/login|please log in/i.test(out);\nconst tooShort = out.trim().length < 30;\n\nif (out.length > 10 && !oauthDead && !tooShort) {\n  return [{ json: { output: out, elapsed_s: bridgeOutput.elapsed_s || 0, fallback: false, prompt: '' } }];\n}\n\nconst prompt = $('Build Prompt').first().json.prompt || '';\nreturn [{ json: { output: '', elapsed_s: 0, fallback: true, prompt: prompt } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,96],"id":"ad995a9d-b7c0-44c5-8a15-f356829389d7","name":"Fallback Router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fb-check","leftValue":"={{ $json.fallback }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-272,96],"id":"c164a56a-c9ff-4707-a948-b3c79750bdc1","name":"IF Fallback"},{"parameters":{"chatId":"-1002374157964","text":"={{\n  (() => {\n    const SP = \"_*[]()~`>#+-=|{}.!\\\\\";\n    const esc = (s) => s.split('').map(c => SP.includes(c) ? '\\\\' + c : c).join('');\n    const tx = (text) => text\n      .split(/(\\*\\*[^*]+\\*\\*|`[^`]+`)/g)\n      .map(p => {\n        if (p.startsWith('**') && p.endsWith('**') && p.length > 4) return '*' + esc(p.slice(2, -2)) + '*';\n        if (p.startsWith('`') && p.endsWith('`') && p.length > 2) return p;\n        return esc(p);\n      })\n      .join('');\n    return '📋 *Daily Brief — ' + esc($now.format('dd/MM/yyyy')) + '*\\n'\n      + tx($json.output)\n      + '\\n\\\\-\\\\-\\\\-\\n'\n      + '_⏱️ Gerado em ' + esc(String($json.elapsed_s)) + 's via Claude Code \\\\(with memory\\\\)_';\n  })()\n}}","additionalFields":{"parse_mode":"MarkdownV2"}},"id":"b6e7cfeb-2d14-471d-b7ba-768b2b56bbf0","name":"Telegram Brief","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[416,112],"webhookId":"d4853a0b-d7d3-4a8a-967f-e2d4e74bae7c","credentials":null},{"parameters":{"jsCode":"const output = $json.output;\nconst elapsed = $json.elapsed_s;\nconst now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nlet text = output\n  .replace(/^### (.+)$/gm, '*$1*')\n  .replace(/^## (.+)$/gm, '*$1*')\n  .replace(/^# (.+)$/gm, '*$1*')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\ntext = `📋 Daily Brief — ${date}\\n\\n${text}\\n\\n───\\n⏱️ Gerado em ${elapsed}s via Claude Code (with memory)`;\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,304],"id":"56a4ded1-12cc-47d9-9a7a-1db9e91385ca","name":"Format WhatsApp"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[592,304],"id":"97641aae-a092-4a00-afad-1e4a398642b0","name":"WhatsApp Brief","credentials":null},{"parameters":{"workflowId":{"__rl":true,"value":"URJf7Jg58IQAeXfc","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"source":"DailyBrief","project":"Ops","response":"={{ $json.output }}"},"matchingColumns":[],"schema":[{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"response","displayName":"response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"cb40e181-4b27-49f4-b839-fefcb282e362","name":"Memory Write v2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[416,496],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst text = response.content && response.content[0] ? response.content[0].text : JSON.stringify(response);\nreturn [{ json: { output: text + '\\n\\n⚠️ Gerado via Haiku API (fallback — Claude Bridge indisponivel)', elapsed_s: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-64],"id":"df3b0882-2216-47c7-ab87-a483117e981d","name":"Format api Response"},{"parameters":{"modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[-128,-64],"id":"fa55d57c-2b3b-4e6c-8109-68a7665b5464","name":"Claude api","credentials":null},{"parameters":{"jsCode":"// ===== HELPERS =====\nfunction getTaskName(item) {\n  const props = item.json.properties || {};\n  const nameProps = ['Name', 'Task', 'Title', 'name', 'title'];\n  for (const key of nameProps) {\n    if (props[key] && props[key].title && Array.isArray(props[key].title) && props[key].title.length > 0) {\n      return props[key].title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  for (const key of Object.keys(props)) {\n    const p = props[key];\n    if (p && p.type === 'title' && Array.isArray(p.title) && p.title.length > 0) {\n      return p.title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  return '(sem nome)';\n}\n\nfunction getTags(item) {\n  const props = item.json.properties || {};\n  const tagProps = ['Tags', 'Tag', 'Labels'];\n  for (const key of tagProps) {\n    if (props[key]) {\n      if (props[key].multi_select) return props[key].multi_select.map(t => t.name);\n      if (props[key].select && props[key].select.name) return [props[key].select.name];\n    }\n  }\n  return [];\n}\n\nfunction getDueDate(item) {\n  const props = item.json.properties || {};\n  const dateProps = ['Due Date', 'Due', 'Date', 'Deadline'];\n  for (const key of dateProps) {\n    if (props[key] && props[key].date && props[key].date.start) {\n      return props[key].date.start;\n    }\n  }\n  return '';\n}\n\n// FIX #1: Resolver Project relation → nome real via lookup local\nfunction getProjectId(item) {\n  const props = item.json.properties || {};\n  const projProps = ['Project', 'Projects'];\n  for (const key of projProps) {\n    if (props[key] && props[key].relation && props[key].relation.length > 0) {\n      return props[key].relation[0].id;\n    }\n  }\n  return '';\n}\n\nfunction getProjectType(item) {\n  const props = item.json.properties || {};\n  const typeProps = ['Type', 'Tipo', 'Category'];\n  for (const key of typeProps) {\n    if (props[key]) {\n      if (props[key].select && props[key].select.name) return props[key].select.name;\n    }\n  }\n  return '';\n}\n\n// FIX #5: Geo/contexto a partir das tags\nfunction getContext(tags) {\n  if (tags.includes('Brasil')) return '🇧🇷';\n  if (tags.includes('Portugal')) return '🇵🇹';\n  return '';\n}\n\nfunction getDependency(tags) {\n  if (tags.includes('Dependo de Terceiros')) return '⏸️';\n  return '';\n}\n\n// FIX #2: Forçar timezone Europe/Lisbon — usa Intl API (sempre disponível, sem dependências)\nfunction getTodayLisbon() {\n  const now = new Date();\n  const fmt = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Lisbon',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  });\n  return fmt.format(now); // YYYY-MM-DD\n}\n\nfunction getWeekdayLisbon() {\n  const now = new Date();\n  const fmt = new Intl.DateTimeFormat('pt-PT', {\n    timeZone: 'Europe/Lisbon',\n    weekday: 'long'\n  });\n  const day = fmt.format(now).toLowerCase();\n  // Capitalizar primeira letra, remover acentos para evitar problemas downstream\n  const map = {\n    'domingo': 'Domingo',\n    'segunda-feira': 'Segunda',\n    'terça-feira': 'Terca',\n    'quarta-feira': 'Quarta',\n    'quinta-feira': 'Quinta',\n    'sexta-feira': 'Sexta',\n    'sábado': 'Sabado'\n  };\n  return map[day] || day;\n}\n\n// ===== GET YESTERDAY DAILY SUMMARY =====\nlet yesterdaySummary = '';\ntry {\n  const summaryNode = $('Get Yesterday Summary').first().json;\n  if (summaryNode && summaryNode.found && summaryNode.entries && summaryNode.entries.length > 0) {\n    const entry = summaryNode.entries[0];\n    const dateTag = (entry.tags || []).find(t => /^\\d{4}-\\d{2}-\\d{2}$/.test(t)) || 'data desconhecida';\n    yesterdaySummary = `\\n\\nDAILY SUMMARY DE ONTEM (${dateTag}):\\n${entry.details || entry.summary}\\n`;\n  } else {\n    yesterdaySummary = '\\n\\n(Sem daily summary de ontem disponivel — primeira sessao ou dia anterior sem fecho)\\n';\n  }\n} catch(e) {\n  yesterdaySummary = '\\n\\n(Erro a obter daily summary de ontem)\\n';\n}\n\n// ===== BUILD PROJECT LOOKUP MAP (FIX #1) =====\nconst projectItems = $('Active Projects').all();\nconst projectMap = {};\nfor (const p of projectItems) {\n  const id = p.json.id;\n  const name = getTaskName(p);\n  const type = getProjectType(p);\n  projectMap[id] = { name, type };\n}\n\nfunction getProjectName(item) {\n  const id = getProjectId(item);\n  if (!id) return '';\n  if (projectMap[id]) return projectMap[id].name;\n  return '(unknown project)';\n}\n\n// ===== TIME REFERENCES =====\nconst today = getTodayLisbon();\nconst weekday = getWeekdayLisbon();\n\n// ===== TASKS 7 DIAS =====\nconst tasks7dItems = $('Tasks 7 Dias').all();\nconst tasks7d = tasks7dItems.map(i => {\n  const name = getTaskName(i);\n  const due = getDueDate(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const prio = tags.includes('Prioridade Alta') ? '🔴'\n    : (tags.includes('Prioridade Média') || tags.includes('Prioridade Media')) ? '🟡'\n    : '⚪';\n  const overdue = due && due < today ? '⚠️ ATRASADA ' : '';\n  const ctx = getContext(tags);\n  const dep = getDependency(tags);\n  const flags = [ctx, dep].filter(x => x).join(' ');\n  const projectTag = project ? ` [${project}]` : '';\n  const flagsTag = flags ? ` ${flags}` : '';\n  return `${overdue}${prio} ${name}${projectTag}${flagsTag} (${due})`;\n}).join('\\n');\n\nconst overdueCount = tasks7dItems.filter(i => {\n  const due = getDueDate(i);\n  return due && due < today;\n}).length;\n\n// ===== TASKS INBOX (sem data) =====\nconst inboxItems = $('Tasks Inbox').all();\nconst inbox = inboxItems.map(i => {\n  const name = getTaskName(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const ctx = getContext(tags);\n  const dep = getDependency(tags);\n  const flags = [ctx, dep].filter(x => x).join(' ');\n  const projectTag = project ? ` [${project}]` : '';\n  const flagsTag = flags ? ` ${flags}` : '';\n  return `📥 ${name}${projectTag}${flagsTag}`;\n}).join('\\n');\nconst inboxCount = inboxItems.length;\n\n// ===== ACTIVE PROJECTS =====\nconst projects = projectItems.map(i => {\n  const name = getTaskName(i);\n  const type = getProjectType(i);\n  const icon = type === 'Client' ? '🟢'\n    : type === 'Prospect' ? '🟡'\n    : '⚪';\n  return `${icon} ${name}${type ? ' (' + type + ')' : ''}`;\n}).join('\\n');\n\n// ===== PROMPT =====\nconst prompt = `Hoje e ${today}, ${weekday}. Daily Brief para Ary Ribeiro.\n\nCONTEXTO: Consultor IA, 3 verticais: TJ (advogados BR R$2.997/mes), TM (clinicas BR R$2.997/mes), CL (imobiliarias PT E497/mes). Meta Q2: E12.857 trimestral. Foco actual: construcao da maquina (consistencia de conteudos), Sales suspenso ate 11 Jun 2026.\n${yesterdaySummary}\nPROJECTOS ACTIVOS (${projectItems.length}):\n${projects || '(nenhum projecto activo)'}\n\nPROXIMOS 7 DIAS (${tasks7dItems.length} tasks, ${overdueCount} atrasadas):\n${tasks7d || '(nenhuma task agendada)'}\n\nINBOX SEM DATA (${inboxCount} tasks):\n${inbox || '(inbox vazio)'}\n\nLEGENDA: 🔴 Alta | 🟡 Media | ⚪ Baixa/sem | ⚠️ Atrasada | 🇧🇷 Brasil | 🇵🇹 Portugal | ⏸️ Dependo de terceiros | 🟢 Client | 🟡 Prospect\n\n═══ HARD CONSTRAINTS DE INTEGRIDADE DE DADOS ═══\n\nHC1 - AUDITABILIDADE DE NUMEROS NOTION:\nOs valores ja estao calculados:\n  overdueCount=${overdueCount}, tasks7dCount=${tasks7dItems.length},\n  inboxCount=${inboxCount}, projectsCount=${projectItems.length}\nREGRAS LITERAIS:\n- Reportar EXACTAMENTE estes valores, sem arredondar, aproximar ou inferir.\n- \"X atrasadas\" SEMPRE = overdueCount, NUNCA outro numero.\n- overdueCount usa criterio ESTRITO Due < hoje. Tasks com Due = hoje NAO contam como atrasadas.\n- Se um campo nao tiver valor claro acima: escrever \"N/A\", NUNCA inventar.\n\nHC2 - ANTI CROSS-CONTAMINATION TEMPORAL:\nDaily summary de ontem (acima) e ESPECIFICO de ontem. NUNCA copiar:\n- Numeros (counts de tasks, scores, horas) — usar SEMPRE os values pre-calculados deste prompt.\n- Afirmacoes como \"estas a trabalhar em X\" se o summary nao disser explicitamente.\n- Estado de tasks como \"ainda atrasadas\" sem cruzar com overdueCount actual.\nCada afirmacao deste Brief sobre o estado actual deve ter origem em:\n(a) overdueCount/tasks7dCount/inboxCount/projectsCount pre-calculados, OU\n(b) daily summary de ontem (apenas para contexto qualitativo, NUNCA numeros).\nSe nao houver evidencia em (a) ou (b): NAO afirmar.\n\n═══════════════════════════════════════════════\n\nREGRAS:\n1. ATE 11 JUN 2026: focar em CONSISTENCIA de conteudos. NAO cobrar Sales, pipeline ou outreach. Construcao da maquina vem primeiro.\n2. SE existe DAILY SUMMARY DE ONTEM: usar contexto para sugerir continuidade (tarefas comecadas mas nao terminadas, padroes detectados, sinais a observar do dia anterior).\n3. ACCAO #1 — criterios em ordem de prioridade:\n   a) ALAVANCAGEM ESTRATEGICA: qual task desbloqueia outras tasks ou cria activo reutilizavel (landing page, demo kit, sistema)?\n   b) PRAZO REAL: qual task vence hoje E tem consequencia real (pagamento, deadline cliente, perda irreversivel)?\n   c) ENERGIA NECESSARIA: qual task requer foco profundo agora vs pode ser feita ao fim do dia cansado?\n   ESCOLHER (a) sobre (b) excepto se (b) tiver consequencia irreversivel hoje. Justificar a escolha em 1 frase.\n   NUNCA escolher task admin pura (pagamentos, emails, triagem) como ACCAO #1. Admin vai em PIPELINE.\n4. Tasks com ATRASADA = sinalizar, mas distinguir entre atrasadas estrategicas vs admin nas URGENTES.\n5. AO REPORTAR ATRASADAS: usar EXACTAMENTE o formato \"${overdueCount} atrasadas (Due < hoje, janela ±30d/+7d)\". NUNCA outro numero. NUNCA arredondar. Se o LLM se lembrar de um numero diferente de execucoes anteriores ou de daily summaries antigos, IGNORAR — usar overdueCount=${overdueCount} literal. Este valor ja exclui tasks com Due = hoje (estrito).\n6. Tasks com ⏸️ Dependo de Terceiros = deprioritizar (estao a espera de outros).\n7. Inbox >10 = flag triagem.\n8. Directo, zero fluff, tom de coach exigente mas sem pressao financeira.\n9. Se daily summary ontem mostrar zero tasks Notion fechadas: mencionar explicitamente no LEMBRETE para criar friccao positiva. Ex: \"ontem: 0 tasks fechadas no Notion. Hoje sem captura = quarto dia consecutivo.\"\n\nFORMATO:\nACCAO #1 (maior impacto na construcao da maquina hoje - imperativa, especifica)\nPIPELINE (3-5 bullets do que fazer hoje)\nCONTINUIDADE (1-2 bullets de seguimento do dia anterior, baseado no daily summary)\nURGENTE (tasks atrasadas)\nPROJECTOS (status dos activos, flags)\nINBOX (status)\nLEMBRETE (1 frase sobre consistencia e foco)\n\nMaximo 300 palavras.`;\n\n// timeout em MILISSEGUNDOS (Bridge cap 600000 = 10min). Daily Brief usa 120000 (2min).\nreturn [{ json: { prompt, timeout: 120000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,96],"id":"c1277a8d-425d-4f04-9d72-5232efa3fd21","name":"Build Prompt"},{"parameters":{"workflowId":{"__rl":true,"value":"gxVtgxoGiPD1pW0J","mode":"list","cachedResultUrl":"/workflow/gxVtgxoGiPD1pW0J","cachedResultName":"Claude Brain — Memory Read by Tag v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mode":"single_day","target_tag":"daily-summary","date_tag":"={{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}","days":"1"},"matchingColumns":[],"schema":[{"id":"mode","displayName":"mode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"target_tag","displayName":"target_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"date_tag","displayName":"date_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"days","displayName":"days","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1008,96],"id":"3b0ece52-83ce-49e1-bc67-741bb539df88","name":"Get Yesterday Summary","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"95fbd67b-b302-462d-a224-aeede1a09825","name":"Cron 08:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1792,96]}],"connections":{"Manual Trigger":{"main":[[{"node":"Tasks 7 Dias","type":"main","index":0}]]},"Tasks 7 Dias":{"main":[[{"node":"Tasks Inbox","type":"main","index":0}]]},"Tasks Inbox":{"main":[[{"node":"Active Projects","type":"main","index":0}]]},"Active Projects":{"main":[[{"node":"Get Yesterday Summary","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Fallback Router","type":"main","index":0}]]},"Fallback Router":{"main":[[{"node":"IF Fallback","type":"main","index":0}]]},"IF Fallback":{"main":[[{"node":"Claude api","type":"main","index":0}],[{"node":"Telegram Brief","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Memory Write v2","type":"main","index":0}]]},"Format WhatsApp":{"main":[[{"node":"WhatsApp Brief","type":"main","index":0}]]},"Claude api":{"main":[[{"node":"Format api Response","type":"main","index":0}]]},"Format api Response":{"main":[[{"node":"Telegram Brief","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Memory Write v2","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Get Yesterday Summary":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Cron 08:00":{"main":[[{"node":"Tasks 7 Dias","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[{"updatedAt":"2026-03-30T17:25:46.128Z","createdAt":"2026-03-30T17:25:46.128Z","id":"I55hCGMBk1VDjvLr","name":"claude-bridge"},{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}