claude-brain-—-memory-read-by-tag-v1-gxVtgxoGiPD1pW0J.json
{"updatedAt":"2026-05-13T12:45:13.708Z","createdAt":"2026-05-12T10:40:19.546Z","id":"gxVtgxoGiPD1pW0J","name":"Claude Brain — Memory Read by Tag v1","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"mode"},{"name":"target_tag"},{"name":"date_tag"},{"name":"days"}]}},"id":"471b0fd8-5868-4a0f-91a1-667fb9182ba3","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"jsCode":"// Inputs:\n// - mode: 'single_day' | 'last_n_days' | 'tagged_only'\n// - target_tag: tag obrigatória (ex: 'daily-summary')\n// - date_tag: tag de data (opcional, para mode='single_day' ex: '2026-05-11')\n// - days: número de dias (opcional, para mode='last_n_days' ex: '7')\n\nconst inp = $input.first().json;\nconst mode = inp.mode || 'last_n_days';\nconst target_tag = inp.target_tag || 'daily-summary';\nconst date_tag = inp.date_tag || '';\nconst days = parseInt(inp.days) || 7;\n\nconst SUPABASE_URL = 'https://apfngqcnjdfinqwefzcs.supabase.co';\nconst enc = encodeURIComponent;\n\nconst params = [];\n\n// Sempre filtrar por não-expirados\nparams.push('or=' + enc('(expired.is.null,expired.eq.false)'));\n\n// Selecionar campos relevantes\nparams.push('select=' + enc('id,summary,details,tags,created_at,source,project,type,importance'));\n\nif (mode === 'single_day') {\n  if (!date_tag) {\n    return [{ json: { error: 'date_tag obrigatorio para mode=single_day', found: false, count: 0, entries: [], formatted: '' } }];\n  }\n  const andFilter = '(tags.cs.{' + target_tag + '},tags.cs.{' + date_tag + '})';\n  params.push('and=' + enc(andFilter));\n  params.push('limit=1');\n} else if (mode === 'last_n_days') {\n  params.push('tags=' + enc('cs.{' + target_tag + '}'));\n  const cutoff = new Date(Date.now() - days * 86400000).toISOString();\n  params.push('created_at=' + enc('gte.' + cutoff));\n  params.push('order=created_at.desc');\n  params.push('limit=' + (days + 5));\n} else if (mode === 'tagged_only') {\n  params.push('tags=' + enc('cs.{' + target_tag + '}'));\n  params.push('order=created_at.desc');\n  params.push('limit=20');\n}\n\nconst fullUrl = SUPABASE_URL + '/rest/v1/memories?' + params.join('&');\n\nreturn [{ json: { url: fullUrl, mode: mode, target_tag: target_tag, date_tag: date_tag, days: days } }];"},"id":"fd9dd227-d372-4c72-b7f0-f420cd0b4ffa","name":"Build Query URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":10000}},"id":"bd513c24-541e-42dc-a204-80e804725204","name":"Supabase REST Query","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,0],"alwaysOutputData":true},{"parameters":{"jsCode":"const items = $input.all();\nconst meta = $('Build Query URL').first().json;\n\n// Lidar com diferentes formatos de resposta\nlet entries = [];\nif (items.length === 0) {\n  entries = [];\n} else if (items.length === 1 && items[0].json) {\n  const j = items[0].json;\n  if (Array.isArray(j)) {\n    entries = j;\n  } else if (j.error) {\n    return [{ json: { found: false, count: 0, entries: [], formatted: `Erro: ${j.error}`, error: j.error } }];\n  } else if (j.id) {\n    entries = [j];\n  } else {\n    entries = [];\n  }\n} else {\n  entries = items.map(i => i.json).filter(j => j && j.id);\n}\n\nif (entries.length === 0) {\n  return [{ json: { found: false, count: 0, entries: [], formatted: `(sem entries para tag '${meta.target_tag}'${meta.date_tag ? ` + '${meta.date_tag}'` : ''})` } }];\n}\n\n// Formatar para inclusão em prompt\nconst lines = entries.map(e => {\n  const date = e.created_at ? e.created_at.substring(0, 10) : 'unknown';\n  const tags = Array.isArray(e.tags) ? e.tags.join(', ') : '';\n  return `### [${date}] ${e.summary}\\n${e.details || '(sem details)'}\\n---`;\n});\n\nconst formatted = `## Memórias por tag: ${meta.target_tag}${meta.date_tag ? ` + ${meta.date_tag}` : ''}\\n\\n${lines.join('\\n\\n')}`;\n\nreturn [{\n  json: {\n    found: true,\n    count: entries.length,\n    entries,\n    formatted,\n    mode: meta.mode,\n    target_tag: meta.target_tag\n  }\n}];"},"id":"0ee28a33-a2d4-4660-8608-51a228f1d560","name":"Format Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Build Query URL","type":"main","index":0}]]},"Build Query URL":{"main":[[{"node":"Supabase REST Query","type":"main","index":0}]]},"Supabase REST Query":{"main":[[{"node":"Format Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu"},"staticData":null,"meta":null,"pinData":{},"versionId":"d8b614b1-36b2-4b44-bc28-b9b917ca2874","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-12T10:40:19.546Z","createdAt":"2026-05-12T10:40:19.546Z","role":"workflow:owner","workflowId":"gxVtgxoGiPD1pW0J","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}