claude-bridge-—-night-shift-mac-mini-com-memory-ViGM2Oiju8NNl8ZO.json
{"updatedAt":"2026-05-01T11:16:52.432Z","createdAt":"2026-04-08T16:31:25.965Z","id":"ViGM2Oiju8NNl8ZO","name":"Claude Bridge — Night Shift Mac Mini com Memory","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"id":"63e601d9-9e08-4ad0-8c67-54818738a1a9","name":"Cron 23:00 UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1696,128]},{"parameters":{"assignments":{"assignments":[{"id":"manual-trigger","name":"trigger","value":"manual","type":"string"}]},"options":{}},"id":"20d18fed-c529-4764-b0f5-73a2a3b5a084","name":"Manual Trigger","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1696,320]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"equals","statusValue":"Done"},{"key":"Due Date|date","condition":"equals","date":"={{ $now.format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1472,128],"id":"d558d504-7cf0-4c77-a638-5803d4c49bbb","name":"Tasks Done Today","alwaysOutputData":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1312,128],"id":"cf7dad35-6f63-4261-bc11-db4c68be4ee9","name":"Tasks Overdue","alwaysOutputData":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"equals","date":"={{ $now.plus(1, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1136,128],"id":"34437916-e489-4945-ac10-5568d673940b","name":"Tasks Due Tomorrow","alwaysOutputData":true,"credentials":null},{"parameters":{"workflowId":{"__rl":true,"value":"ApIb3XMBDSj8NHlE","mode":"id","cachedResultUrl":"/workflow/ApIb3XMBDSj8NHlE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context":"Night Shift review do dia tasks concluidas overdue pipeline revenue","importance":"3"},"matchingColumns":[],"schema":[{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"importance","displayName":"importance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"10414b9c-e771-48de-9dd0-ad559efd6381","name":"Memory Read (All Recent)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-912,128]},{"parameters":{"jsCode":"const now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\nconst tomorrow = new Date(now.getTime() + 86400000);\nconst tomorrowDate = `${String(tomorrow.getDate()).padStart(2,'0')}/${String(tomorrow.getMonth()+1).padStart(2,'0')}/${tomorrow.getFullYear()}`;\nconst weekday = ['Domingo','Segunda','Terca','Quarta','Quinta','Sexta','Sabado'][now.getDay()];\nconst tomorrowWeekday = ['Domingo','Segunda','Terca','Quarta','Quinta','Sexta','Sabado'][tomorrow.getDay()];\n\nconst doneToday = $('Tasks Done Today').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  const tags = i.json.property_tags || [];\n  return `${name}${tags.length ? ' [' + tags.join(', ') + ']' : ''}`;\n}).join('\\n');\nconst doneCount = $('Tasks Done Today').all().length;\n\nconst overdue = $('Tasks Overdue').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  const due = i.json.property_due_date?.start || '';\n  const tags = i.json.property_tags || [];\n  const prio = tags.includes('Prioridade Alta') ? 'ALTA' : tags.includes('Prioridade Media') ? 'MEDIA' : '';\n  return `${prio ? prio + ' ' : ''}${name} (due: ${due})`;\n}).join('\\n');\nconst overdueCount = $('Tasks Overdue').all().length;\n\nconst tasksTomorrow = $('Tasks Due Tomorrow').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  const tags = i.json.property_tags || [];\n  const prio = tags.includes('Prioridade Alta') ? 'ALTA' : tags.includes('Prioridade Media') ? 'MEDIA' : '';\n  return `${prio ? prio + ' ' : ''}${name}`;\n}).join('\\n');\nconst tomorrowCount = $('Tasks Due Tomorrow').all().length;\n\nconst dailyMemories = '';\nconst errorMemories = '';\n\nconst allMemoryContext = $('Memory Read (All Recent)').first().json.memoryContext || 'Nenhuma memoria recente.';\n\nconst prompt = `Hoje e ${date}, ${weekday}, 23:00. Night Shift para Ary Ribeiro.\n\n${allMemoryContext}\n\nCONTEXTO: Consultor IA, 3 verticais: TJ (advogados BR R$2.997/mes), TM (clinicas BR R$2.997/mes), CL (imobiliarias PT E497/mes). Meta Q2: E12.857 trimestral. Revenue actual: E0.\n\nO QUE O DAILY BRIEF MANDOU FAZER HOJE:\n${dailyMemories || '(nenhuma memoria do Daily Brief de hoje)'}\n\nERROS DETECTADOS HOJE:\n${errorMemories || '(nenhum erro detectado)'}\n\nO QUE FOI REALMENTE FEITO (${doneCount} tasks concluidas):\n${doneToday || '(ZERO tasks concluidas hoje)'}\n\nTASKS ATRASADAS (${overdueCount}):\n${overdue || '(nenhuma task atrasada)'}\n\nTASKS PARA AMANHA ${tomorrowDate} (${tomorrowCount}):\n${tasksTomorrow || '(nenhuma task agendada para amanha)'}\n\nANALISA e gera o Night Shift Report:\n\nREGRAS:\n1. COMPARA o que o Daily Brief mandou fazer vs o que foi realmente feito\n2. Se ACCAO #1 do Daily Brief nao foi concluida: identifica PORQUE (grande demais? nao sabe por onde comecar? nao e realmente prioridade?)\n3. Se a mesma ACCAO #1 aparece em memorias de 3+ dias diferentes sem ser concluida (anti-streak): NAO repitas a instrucao. Em vez disso, DECOMPOE em micro-tasks de 30min cada\n4. SCORE do dia: 0-10 baseado em execucao vs planeado\n5. PRE-BRIEF para amanha: baseado no score, tasks de amanha, e padroes detectados\n6. Se score < 5: pre-brief deve DECOMPOR a task #1 em passos de 30min\n7. Se score >= 8: pre-brief mantem o plano\n8. Brutalmente honesto, zero fluff, tom de accountability partner que nao aceita desculpas\n\nFORMATO:\n\nSCORE DO DIA: [X/10] [emoji]\n\nEXECUCAO VS PLANO\n- [o que foi pedido vs o que foi feito, sem meias palavras]\n\nANTI-STREAK [so se detectado]\n- [task X esta como prioridade ha Y dias sem ser executada]\n- [micro-decomposicao em blocos de 30min]\n\nERROS DO DIA [so se houve]\n- [resumo de erros e impacto]\n\nPRE-BRIEF AMANHA (${tomorrowWeekday} ${tomorrowDate})\n- ACCAO #1: [especifica, concreta, com tempo estimado]\n- PIPELINE: [2-3 bullets]\n- [se score < 5: decomposicao em micro-tasks de 30min]\n\nVEREDICTO\n[1 frase dura sobre o dia que passou]\n\nMaximo 350 palavras.`;\n\nreturn [{ json: { prompt, timeout: 120000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,128],"id":"3485b870-02f8-4c76-9999-3ba1f28d5802","name":"Build Night Shift Prompt"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"b68be005-1f11-4a1b-8e3e-711e40df3987","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-512,128],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"chatId":"-1002374157964","text":"=🌙 *Night Shift — {{ $now.format('dd/MM/yyyy') }}*\n\n{{ $('Claude Bridge').item.json.output }}\n\n---\n_⏱️ Gerado em {{ $('Claude Bridge').item.json.elapsed_s }}s via Claude Code (with memory)_","additionalFields":{"parse_mode":"Markdown"}},"id":"b36bacaa-a909-4726-8cc9-4e8ac6ebca3d","name":"Telegram Night Shift","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[560,-32],"webhookId":"night-shift-telegram","credentials":null},{"parameters":{"jsCode":"const output = $('Claude Bridge').item.json.output;\nconst elapsed = $('Claude Bridge').item.json.elapsed_s;\nconst now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nlet text = output\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\ntext = `🌙 Night Shift — ${date}\\n\\n${text}\\n\\n───\\n⏱️ Gerado em ${elapsed}s via Claude Code (with memory)`;\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,144],"id":"91e8b84a-7157-42d4-a60d-52e9afcdad6c","name":"Format WhatsApp"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[736,144],"id":"15fb5cb3-e0f0-4b45-9c86-413890ace6bf","name":"WhatsApp Night Shift","credentials":null},{"parameters":{"jsCode":"const bridgeOutput = $input.first().json;\n\nif (bridgeOutput.output && bridgeOutput.output.length > 10) {\n  return [{ json: { output: bridgeOutput.output, elapsed_s: bridgeOutput.elapsed_s || 0, fallback: false, prompt: '' } }];\n}\n\nconst prompt = $('Build Night Shift Prompt').first().json.prompt || '';\nreturn [{ json: { output: '', elapsed_s: 0, fallback: true, prompt: prompt } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,128],"id":"b63b7625-2ee0-4775-b878-94b93f5e74a8","name":"Fallback Router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3a728824-560c-4d8c-9259-d99ceff4dbdb","leftValue":"={{ $json.fallback }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-176,128],"id":"f41980a2-19d1-4722-820c-cce3f2d59966","name":"IF Fallback"},{"parameters":{"method":"POST","url":"http://localhost:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"gemma3:27b\", \"messages\": [{\"role\": \"user\", \"content\": $json.prompt}], \"stream\": false}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[112,-224],"id":"f2ec6def-a736-4a18-8c0a-3a52911bf3b5","name":"Ollama Fallback"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst content = response.message?.content || 'Erro: Ollama nao respondeu';\nreturn [{ json: { output: content + '\\n\\n⚠️ Gerado via Gemma3:27b (fallback local)', elapsed_s: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,-224],"id":"9e1fde8f-40da-419e-8a26-23cb208eccc7","name":"Format Ollama Response"},{"parameters":{"workflowId":{"__rl":true,"value":"URJf7Jg58IQAeXfc","mode":"id","cachedResultUrl":"/workflow/URJf7Jg58IQAeXfc"},"workflowInputs":{"mappingMode":"defineBelow","value":{"source":"NightShift","project":"Ops","response":"={{ $json.output }}"},"matchingColumns":[],"schema":[{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"response","displayName":"response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"9ae53fa3-3a95-426f-a6a2-1e1ecba606ea","name":"Memory Write","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[560,336]}],"connections":{"Cron 23:00 UTC":{"main":[[{"node":"Tasks Done Today","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Tasks Done Today","type":"main","index":0}]]},"Tasks Done Today":{"main":[[{"node":"Tasks Overdue","type":"main","index":0}]]},"Tasks Overdue":{"main":[[{"node":"Tasks Due Tomorrow","type":"main","index":0}]]},"Tasks Due Tomorrow":{"main":[[{"node":"Memory Read (All Recent)","type":"main","index":0}]]},"Memory Read (All Recent)":{"main":[[{"node":"Build Night Shift Prompt","type":"main","index":0}]]},"Build Night Shift Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Fallback Router","type":"main","index":0}]]},"Format WhatsApp":{"main":[[{"node":"WhatsApp Night Shift","type":"main","index":0}]]},"Fallback Router":{"main":[[{"node":"IF Fallback","type":"main","index":0}]]},"Ollama Fallback":{"main":[[{"node":"Format Ollama Response","type":"main","index":0}]]},"IF Fallback":{"main":[[{"node":"Ollama Fallback","type":"main","index":0}],[{"node":"Telegram Night Shift","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Memory Write","type":"main","index":0}]]},"Format Ollama Response":{"main":[[{"node":"Telegram Night Shift","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Memory Write","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu"},"staticData":{"node:Cron 23:00 UTC":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3f23eeb2-b1ae-4fc7-aed5-a76cb1556906","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-08T16:31:25.965Z","createdAt":"2026-04-08T16:31:25.965Z","role":"workflow:owner","workflowId":"ViGM2Oiju8NNl8ZO","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"},{"updatedAt":"2026-03-30T17:25:46.128Z","createdAt":"2026-03-30T17:25:46.128Z","id":"I55hCGMBk1VDjvLr","name":"claude-bridge"}]}