claude-brain-—-migration-airtable-to-supabase-WBvGQl1MbLVQggOg.json
{"updatedAt":"2026-04-14T15:08:47.304Z","createdAt":"2026-04-14T15:00:31.804Z","id":"WBvGQl1MbLVQggOg","name":"Claude Brain — Migration Airtable to Supabase","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"142ec095-0c0b-47cd-a3ae-e9ffce0e566f","name":"When clicking Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblMikdFKWuCNe4Iq","mode":"id"},"options":{},"sort":{"property":[{"field":"Date"}]}},"id":"24c57bb9-0bdc-4db0-a25d-de760f5fad00","name":"Airtable Read All","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[240,0],"credentials":null},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => {\n  const f = item.json.fields || item.json;\n  const summary = f.Summary || '';\n  const details = f.Details || '';\n  const source = f.Source || 'Manual';\n  const project = f.Project || 'Ops';\n  const type = f.Type || 'Insight';\n  const importance = parseInt(f.Importance) || 3;\n  const tags = f.Tags ? (typeof f.Tags === 'string' ? f.Tags.split(',').map(t => t.trim()) : f.Tags) : [];\n  const date = f.Date || null;\n\n  if (!summary || summary.length < 3) return null;\n\n  return {\n    json: {\n      summary,\n      details,\n      source,\n      project,\n      type,\n      importance,\n      tags,\n      created_at: date,\n      embeddingInput: summary + ' ' + details\n    }\n  };\n}).filter(Boolean);"},"id":"5885500e-eb12-4936-9465-eb46d77e4a17","name":"Normalize Records","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"text-embedding-3-small\", input: $json.embeddingInput }) }}","options":{"batching":{"batch":{"batchSize":20}},"timeout":30000}},"id":"9fb946d0-8b11-4a6a-953a-c3393d55f95c","name":"OpenAI Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,0]},{"parameters":{"jsCode":"const items = $input.all();\nconst normalized = $('Normalize Records').all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const embedding = items[i].json.data[0].embedding;\n  const prev = normalized[i]?.json || {};\n\n  const body = JSON.stringify({\n    summary: prev.summary,\n    details: prev.details,\n    source: prev.source,\n    project: prev.project,\n    type: prev.type,\n    importance: prev.importance,\n    tags: prev.tags,\n    embedding: embedding,\n    created_at: prev.created_at || new Date().toISOString(),\n    expired: false\n  });\n\n  results.push({ json: { insertBody: body } });\n}\n\nreturn results;"},"id":"6a35d601-283e-4494-b872-b7e26c4f2bf2","name":"Prepare Insert Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,0]},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.insertBody }}","options":{"batching":{"batch":{"batchSize":10,"batchInterval":500}},"timeout":15000}},"id":"ae8f99d6-695e-4c7f-b910-258e90c7d5e0","name":"Supabase INSERT","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,0],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\nconst success = items.filter(i => !i.json?.error).length;\nconst failed = items.filter(i => i.json?.error).length;\nreturn [{ json: { total: items.length, success, failed, message: `Migration complete: ${success} inserted, ${failed} failed` } }];"},"id":"2e4d26b3-e3ef-46ef-920e-60398739593d","name":"Migration Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,0]}],"connections":{"When clicking Execute workflow":{"main":[[{"node":"Airtable Read All","type":"main","index":0}]]},"Airtable Read All":{"main":[[{"node":"Normalize Records","type":"main","index":0}]]},"Normalize Records":{"main":[[{"node":"OpenAI Embedding","type":"main","index":0}]]},"OpenAI Embedding":{"main":[[{"node":"Prepare Insert Body","type":"main","index":0}]]},"Prepare Insert Body":{"main":[[{"node":"Supabase INSERT","type":"main","index":0}]]},"Supabase INSERT":{"main":[[{"node":"Migration Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c720ac95-4519-4aa2-b466-f4431c118464","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-14T15:00:31.804Z","createdAt":"2026-04-14T15:00:31.804Z","role":"workflow:owner","workflowId":"WBvGQl1MbLVQggOg","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[]}