claude-bridge-—-night-shift-mac-mini-com-memory-v2-5P3Z4C49iGPsg2fB.json
{"updatedAt":"2026-05-31T00:57:02.259Z","createdAt":"2026-04-16T12:51:11.894Z","id":"5P3Z4C49iGPsg2fB","name":"Claude Bridge — Night Shift Mac Mini com Memory v2","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"manual-trigger","name":"trigger","value":"manual","type":"string"}]},"options":{}},"id":"206c30e8-96d9-4bdb-9083-0b1947aff50d","name":"Manual Trigger","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1408,208]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.format('yyyy-MM-dd') }}"},{"key":"Due Date|date","condition":"on_or_after","date":"={{ $now.minus(30, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-976,16],"id":"1accb348-835e-4fea-b6cb-522755d668c3","name":"Tasks Overdue","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"jsCode":"// ===== HELPERS =====\nfunction getTaskName(item) {\n  const props = item.json.properties || {};\n  const nameProps = ['Name', 'Task', 'Title', 'name', 'title'];\n  for (const key of nameProps) {\n    if (props[key] && props[key].title && Array.isArray(props[key].title) && props[key].title.length > 0) {\n      return props[key].title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  for (const key of Object.keys(props)) {\n    const p = props[key];\n    if (p && p.type === 'title' && Array.isArray(p.title) && p.title.length > 0) {\n      return p.title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  return '(sem nome)';\n}\n\nfunction getTags(item) {\n  const props = item.json.properties || {};\n  const tagProps = ['Tags', 'Tag', 'Labels'];\n  for (const key of tagProps) {\n    if (props[key]) {\n      if (props[key].multi_select) return props[key].multi_select.map(t => t.name);\n      if (props[key].select && props[key].select.name) return [props[key].select.name];\n    }\n  }\n  return [];\n}\n\nfunction getDueDate(item) {\n  const props = item.json.properties || {};\n  const dateProps = ['Due Date', 'Due', 'Date', 'Deadline'];\n  for (const key of dateProps) {\n    if (props[key] && props[key].date && props[key].date.start) {\n      return props[key].date.start;\n    }\n  }\n  return '';\n}\n\nfunction getProjectId(item) {\n  const props = item.json.properties || {};\n  const projProps = ['Project', 'Projects'];\n  for (const key of projProps) {\n    if (props[key] && props[key].relation && props[key].relation.length > 0) {\n      return props[key].relation[0].id;\n    }\n  }\n  return '';\n}\n\nfunction getProjectType(item) {\n  const props = item.json.properties || {};\n  const typeProps = ['Type', 'Tipo', 'Category'];\n  for (const key of typeProps) {\n    if (props[key]) {\n      if (props[key].select && props[key].select.name) return props[key].select.name;\n    }\n  }\n  return '';\n}\n\nfunction getContext(tags) {\n  if (tags.includes('Brasil')) return '🇧🇷';\n  if (tags.includes('Portugal')) return '🇵🇹';\n  return '';\n}\n\nfunction getDependency(tags) {\n  if (tags.includes('Dependo de Terceiros')) return '⏸️';\n  return '';\n}\n\nfunction getNightShiftDate() {\n  const now = new Date();\n  const lisbonNowStr = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Lisbon',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    hour12: false\n  }).format(now);\n  const [datePart, timePart] = lisbonNowStr.split(', ');\n  const hourLisbon = parseInt(timePart, 10);\n\n  let reportDate = datePart;\n  if (hourLisbon < 6) {\n    const d = new Date(datePart + 'T12:00:00Z');\n    d.setUTCDate(d.getUTCDate() - 1);\n    reportDate = d.toISOString().slice(0, 10);\n  }\n  return reportDate;\n}\n\nfunction getWeekdayLisbon(dateStr) {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  const fmt = new Intl.DateTimeFormat('pt-PT', {\n    timeZone: 'Europe/Lisbon',\n    weekday: 'long'\n  });\n  const day = fmt.format(d).toLowerCase();\n  const map = {\n    'domingo': 'Domingo',\n    'segunda-feira': 'Segunda',\n    'terça-feira': 'Terca',\n    'quarta-feira': 'Quarta',\n    'quinta-feira': 'Quinta',\n    'sexta-feira': 'Sexta',\n    'sábado': 'Sabado'\n  };\n  return map[day] || day;\n}\n\n// ===== GET TODAY DAILY SUMMARY (CRIADO PELO ARY ANTES DAS 22h) =====\nlet todaySummary = '';\nlet todayScoreFromSummary = null;\nlet hasSummaryForToday = false;\ntry {\n  const summaryNode = $('Get Today Summary').first().json;\n  if (summaryNode && summaryNode.found && summaryNode.entries && summaryNode.entries.length > 0) {\n    const entry = summaryNode.entries[0];\n    const dateTag = (entry.tags || []).find(t => /^\\d{4}-\\d{2}-\\d{2}$/.test(t)) || 'data desconhecida';\n    todaySummary = `\\n\\nDAILY SUMMARY DE HOJE (${dateTag}) — criado pelo Ary antes desta execucao:\\n${entry.details || entry.summary}\\n`;\n    hasSummaryForToday = true;\n    const scoreMatch = (entry.details || '').match(/SCORE_?DO_?DIA:\\s*(\\d+(?:\\.\\d+)?)\\s*\\/\\s*10/i);\n    if (scoreMatch) todayScoreFromSummary = parseFloat(scoreMatch[1]);\n  } else {\n    todaySummary = '\\n\\n⚠️ Ary NAO criou daily summary de hoje antes desta execucao. NAO disse boa noite ate as 22h.\\n';\n  }\n} catch(e) {\n  todaySummary = '\\n\\n(Erro a obter daily summary de hoje)\\n';\n}\n\n// ===== BUILD PROJECT LOOKUP MAP =====\nconst projectItems = $('Active Projects').all();\nconst projectMap = {};\nfor (const p of projectItems) {\n  const id = p.json.id;\n  const name = getTaskName(p);\n  const type = getProjectType(p);\n  projectMap[id] = { name, type };\n}\n\nfunction getProjectName(item) {\n  const id = getProjectId(item);\n  if (!id) return '';\n  if (projectMap[id]) return projectMap[id].name;\n  return '(unknown project)';\n}\n\nfunction getProjectNameById(id) {\n  if (!id) return '';\n  if (projectMap[id]) return projectMap[id].name;\n  return '';\n}\n\n// ===== DATE REFERENCES =====\nconst today = getNightShiftDate();\nconst weekday = getWeekdayLisbon(today);\n\nconst todayD = new Date(today + 'T12:00:00Z');\ntodayD.setUTCDate(todayD.getUTCDate() + 1);\nconst tomorrow = todayD.toISOString().slice(0, 10);\nconst tomorrowWeekday = getWeekdayLisbon(tomorrow);\n\nconst [ty, tm, td] = today.split('-');\nconst todayDisplay = `${td}/${tm}/${ty}`;\n\n// ===== SNAPSHOT DIFF (NEW IN v3) =====\nlet diffSection = '';\nlet snapshotTodayCount = 0;\nlet snapshotYesterdayCount = 0;\nlet diffCompleted = [];\nlet diffCreated = [];\nlet diffRescheduled = [];\n\ntry {\n  // Snapshot de hoje — cross-branch via $()\n  let todaySnapshotTasks = [];\n  try {\n    const todaySnapshotNode = $('Build Snapshot Payload').first().json;\n    if (todaySnapshotNode && todaySnapshotNode.details) {\n      const payload = JSON.parse(todaySnapshotNode.details);\n      todaySnapshotTasks = payload.tasks || [];\n      snapshotTodayCount = payload.total_pending_in_notion || todaySnapshotTasks.length;\n    }\n  } catch (e) {\n    todaySnapshotTasks = [];\n  }\n\n  // Snapshot de ontem — via Get Yesterday Snapshot node\n  let yesterdaySnapshotTasks = [];\n  try {\n    const yesterdaySnapshotNode = $('Get Yesterday Snapshot').first().json;\n    if (yesterdaySnapshotNode && yesterdaySnapshotNode.found && yesterdaySnapshotNode.entries && yesterdaySnapshotNode.entries.length > 0) {\n      const entry = yesterdaySnapshotNode.entries[0];\n      const payload = JSON.parse(entry.details);\n      yesterdaySnapshotTasks = payload.tasks || [];\n      snapshotYesterdayCount = payload.total_pending_in_notion || yesterdaySnapshotTasks.length;\n    }\n  } catch (e) {\n    yesterdaySnapshotTasks = [];\n  }\n\n  // Computar diff\n  if (yesterdaySnapshotTasks.length > 0) {\n    const todayIds = new Set(todaySnapshotTasks.map(t => t.id));\n    const yesterdayIds = new Set(yesterdaySnapshotTasks.map(t => t.id));\n    const todayMap = new Map(todaySnapshotTasks.map(t => [t.id, t]));\n    const yesterdayMap = new Map(yesterdaySnapshotTasks.map(t => [t.id, t]));\n\n    // COMPLETED: estavam ontem (no relevante), não estão hoje (mas existem no Notion como Done OU foram apagadas)\n    for (const yt of yesterdaySnapshotTasks) {\n      if (!todayIds.has(yt.id)) {\n        diffCompleted.push(yt);\n      }\n    }\n\n    // CREATED: estão hoje, não estavam ontem\n    for (const tt of todaySnapshotTasks) {\n      if (!yesterdayIds.has(tt.id)) {\n        diffCreated.push(tt);\n      }\n    }\n\n    // RESCHEDULED: mesmo id, due_date diferente\n    for (const tt of todaySnapshotTasks) {\n      const yt = yesterdayMap.get(tt.id);\n      if (yt && yt.due_date !== tt.due_date) {\n        diffRescheduled.push({ task: tt, old_due: yt.due_date, new_due: tt.due_date });\n      }\n    }\n\n    // Formatar secção\n    const lines = [];\n    lines.push(`MOVIMENTO DE TASKS (snapshot ontem ${snapshotYesterdayCount} → hoje ${snapshotTodayCount}):`);\n\n    if (diffCompleted.length > 0) {\n      lines.push(`\\n✅ SAIRAM DO RADAR (${diffCompleted.length}) — concluidas ou apagadas:`);\n      diffCompleted.slice(0, 10).forEach(t => {\n        const proj = getProjectNameById(t.project_id);\n        const projTag = proj ? ` [${proj}]` : '';\n        lines.push(`  - ${t.name}${projTag}`);\n      });\n      if (diffCompleted.length > 10) lines.push(`  ... +${diffCompleted.length - 10} mais`);\n    }\n\n    if (diffCreated.length > 0) {\n      lines.push(`\\n🆕 CRIADAS HOJE (${diffCreated.length}):`);\n      diffCreated.slice(0, 10).forEach(t => {\n        const proj = getProjectNameById(t.project_id);\n        const projTag = proj ? ` [${proj}]` : '';\n        const prio = t.priority === 'Alta' ? '🔴' : t.priority === 'Media' ? '🟡' : '⚪';\n        const due = t.due_date ? ` (due: ${t.due_date})` : '';\n        lines.push(`  ${prio} ${t.name}${projTag}${due}`);\n      });\n      if (diffCreated.length > 10) lines.push(`  ... +${diffCreated.length - 10} mais`);\n    }\n\n    if (diffRescheduled.length > 0) {\n      lines.push(`\\n🔄 REAGENDADAS (${diffRescheduled.length}):`);\n      diffRescheduled.slice(0, 10).forEach(r => {\n        const proj = getProjectNameById(r.task.project_id);\n        const projTag = proj ? ` [${proj}]` : '';\n        const oldD = r.old_due || '(sem data)';\n        const newD = r.new_due || '(sem data)';\n        lines.push(`  - ${r.task.name}${projTag}: ${oldD} → ${newD}`);\n      });\n      if (diffRescheduled.length > 10) lines.push(`  ... +${diffRescheduled.length - 10} mais`);\n    }\n\n    if (diffCompleted.length === 0 && diffCreated.length === 0 && diffRescheduled.length === 0) {\n      lines.push(`(sem movimento — tasks identicas a ontem)`);\n    }\n\n    diffSection = '\\n\\n' + lines.join('\\n') + '\\n';\n  } else {\n    diffSection = `\\n\\nMOVIMENTO DE TASKS: (sem snapshot de ontem para comparar — primeiro dia do sistema OU snapshot expirado)\\n`;\n  }\n} catch (e) {\n  diffSection = `\\n\\n(Erro a calcular diff: ${e.message})\\n`;\n}\n\n// ===== FILTRO DONE HOJE =====\nfunction isEditedTodayLisbon(item) {\n  const edited = item.json.last_edited_time || '';\n  if (!edited) return false;\n  const d = new Date(edited);\n  if (isNaN(d.getTime())) return false;\n  const editedDayPT = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Lisbon',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  }).format(d);\n  return editedDayPT === today;\n}\n\nconst doneItems = $('Tasks Done Last 30 Days').all().filter(i => {\n  const props = i.json.properties || {};\n  if (Object.keys(props).length === 0) return false;\n  return isEditedTodayLisbon(i);\n});\n\nconst doneToday = doneItems.map(i => {\n  const name = getTaskName(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const ctx = getContext(tags);\n  const projectTag = project ? ` [${project}]` : '';\n  const ctxTag = ctx ? ` ${ctx}` : '';\n  return `${name}${projectTag}${ctxTag}`;\n}).join('\\n');\nconst doneCount = doneItems.length;\n\n// ===== OVERDUE =====\n// PATCH 2026-05-30: separar vencidas estritas (Due < today) de para-hoje (Due == today)\nconst overdueRawItems = $('Tasks Overdue').all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\n\nconst overdueItems = overdueRawItems.filter(i => {\n  const due = getDueDate(i);\n  return due && due < today;\n});\nconst dueTodayItems = overdueRawItems.filter(i => {\n  const due = getDueDate(i);\n  return due && due === today;\n});\n\nconst overdue = overdueItems.map(i => {\n  const name = getTaskName(i);\n  const due = getDueDate(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const prio = tags.includes('Prioridade Alta') ? '🔴'\n    : (tags.includes('Prioridade Média') || tags.includes('Prioridade Media')) ? '🟡'\n    : '⚪';\n  const ctx = getContext(tags);\n  const dep = getDependency(tags);\n  const flags = [ctx, dep].filter(x => x).join(' ');\n  const projectTag = project ? ` [${project}]` : '';\n  const flagsTag = flags ? ` ${flags}` : '';\n  const dueD = new Date(due + 'T12:00:00Z');\n  const todayD2 = new Date(today + 'T12:00:00Z');\n  const daysOverdue = Math.floor((todayD2 - dueD) / (1000 * 60 * 60 * 24));\n  const daysTag = daysOverdue > 0 ? ` (${daysOverdue}d atrasada)` : '';\n  return `${prio} ${name}${projectTag}${flagsTag} (due: ${due})${daysTag}`;\n}).join('\\n');\nconst overdueCount = overdueItems.length;\nconst dueTodayCount = dueTodayItems.length;\n\nconst antiStreakItems = overdueItems.filter(i => {\n  const due = getDueDate(i);\n  if (!due) return false;\n  const dueD = new Date(due + 'T12:00:00Z');\n  const todayD2 = new Date(today + 'T12:00:00Z');\n  const days = Math.floor((todayD2 - dueD) / (1000 * 60 * 60 * 24));\n  return days >= 3;\n});\nconst antiStreakCount = antiStreakItems.length;\n// ===== ARCHIVE CANDIDATES (PATCH 2) =====\n// Critério objectivo: overdue + last_edited > 30d + priority != Alta\nconst archiveCandidatesItems = overdueItems.filter(i => {\n  const lastEdited = i.json.last_edited_time || '';\n  if (!lastEdited) return false;\n  const editedD = new Date(lastEdited);\n  if (isNaN(editedD.getTime())) return false;\n  const daysSinceEdit = Math.floor((new Date() - editedD) / (1000 * 60 * 60 * 24));\n  const tags = getTags(i);\n  const isAlta = tags.includes('Prioridade Alta');\n  return daysSinceEdit > 30 && !isAlta;\n});\n\nconst archiveCandidates = archiveCandidatesItems.map(i => {\n  const name = getTaskName(i);\n  const project = getProjectName(i);\n  const lastEdited = i.json.last_edited_time || '';\n  const daysSinceEdit = Math.floor((new Date() - new Date(lastEdited)) / (1000 * 60 * 60 * 24));\n  const projectTag = project ? ` [${project}]` : '';\n  return `- ${name}${projectTag} (${daysSinceEdit}d sem edit)`;\n}).join('\\n');\nconst archiveCandidatesCount = archiveCandidatesItems.length;\n// ===== NEXT 7 DAYS =====\nconst next7Items = $('Tasks Next 7 Days').all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\n\nconst next7Days = next7Items.map(i => {\n  const name = getTaskName(i);\n  const due = getDueDate(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const prio = tags.includes('Prioridade Alta') ? '🔴'\n    : (tags.includes('Prioridade Média') || tags.includes('Prioridade Media')) ? '🟡'\n    : '⚪';\n  const ctx = getContext(tags);\n  const dep = getDependency(tags);\n  const flags = [ctx, dep].filter(x => x).join(' ');\n  const projectTag = project ? ` [${project}]` : '';\n  const flagsTag = flags ? ` ${flags}` : '';\n  return `${prio} ${name}${projectTag}${flagsTag} (${due})`;\n}).join('\\n');\nconst next7Count = next7Items.length;\n\n// ===== PROMPT =====\nconst prompt = `Hoje terminou ${todayDisplay}, ${weekday}. Night Shift para Ary Ribeiro.\n\nCONTEXTO: Consultor IA, 3 verticais: TJ (advogados BR R$2.997/mes), TM (clinicas BR R$2.997/mes), CL (imobiliarias PT E497/mes). Meta Q2: E12.857 trimestral. Foco actual: construcao da maquina (consistencia de conteudos), Sales suspenso ate 11 Jun 2026.\n\nREGRA TEMPORAL CRITICA: O daily summary DE HOJE foi criado pelo Ary antes desta execucao (ele disse \"boa noite\" ao Ops Manager ate as 22h). Se nao houver daily summary de hoje (campo vazio abaixo), o Ary nao fez o fechamento do dia — isto e um sinal de fricao na rotina de higiene de sono.\n${todaySummary}\nO QUE FOI REALMENTE FEITO HOJE (${doneCount} tasks Notion concluidas):\n${doneToday || '(ZERO tasks Notion concluidas hoje — mas pode haver trabalho registado no daily summary acima)'}\n${diffSection}\nTASKS ATRASADAS (${overdueCount}${antiStreakCount > 0 ? ', ' + antiStreakCount + ' ha 3+ dias' : ''}):\n${overdue || '(nenhuma task atrasada)'}\nARCHIVE CANDIDATES (criterio: overdue + last_edited > 30d + priority != Alta):\n${archiveCandidates || '(nenhum candidato objectivo)'}\n[total: ${archiveCandidatesCount}]\nTASKS PROXIMOS 7 DIAS (${next7Count}):\n${next7Days || '(nenhuma task agendada)'}\n\nLEGENDA: 🔴 Alta | 🟡 Media | ⚪ Baixa/sem | 🇧🇷 Brasil | 🇵🇹 Portugal | ⏸️ Dependo de terceiros\n\nANALISA e gera o Night Shift Report:\n\n═══ HARD CONSTRAINTS DE INTEGRIDADE DE DADOS ═══\n\nHC1 - ANTI CROSS-CONTAMINATION TEMPORAL:\nO Brain MCP pode retornar daily summaries de dias anteriores como contexto.\nNUNCA copiar valores numericos (sono, horas trabalho, doses, jejum) de daily\nsummaries antigos como se fossem do dia actual. Cada valor numerico DESTE report\ndeve ter origem comprovavel no daily summary DE HOJE (acima). Se um campo so\nexiste em summary de dia anterior, NAO o reportar como facto de hoje.\n\nHC2 - ANTI INFERENCIA POR PADRAO TIPICO:\nPara sono, jejum alimentar, e nutricao: se o daily summary de hoje NAO mencionar\nexplicitamente esses dados (com numero concreto), NAO inferir baseado em\n\"Ary normalmente dorme X\" ou \"rotina tipica\". Escrever literalmente:\n\"sleep_hours nao reportado no daily summary\" ou similar.\nYoga, meditacao, treino: aceitar como facto se o daily summary disser\nexplicitamente que foram feitos.\n\nHC3 - VERIFICACAO DE SUPLEMENTOS CONTRA PROTOCOLO:\nProtocolo 2026 (referencia da memory entry e9b6bbd5):\n  CoQ10 200mg meal | Cindura 800mg pre-workout | Cafeina 200mg pre-workout\n  HMB 3g pre-workout | Creatina 5g pre-workout | Whey 30g post-workout\n  PeptiStrong 2.4g post-workout | Magnesio 400mg evening\n\nSe o daily summary listar doses tomadas:\n- Comparar cada dose vs protocolo\n- Se desvio > 15%: sinalizar literalmente, ex: \"HMB 1000mg vs protocolo 3000mg (-67%)\"\n- Se suplemento do protocolo nao for mencionado: \"Creatina nao reportada (protocolo: 5g pre-workout)\"\n- NUNCA dizer \"X suplementos correctos\" sem ter comparado contra protocolo.\n- Se daily summary nao detalhar doses: dizer \"doses nao detalhadas no summary, validacao impossivel\".\n\nHC4 - AUDITABILIDADE DE NUMEROS NOTION:\nQuando reportar contagens de tasks, usar EXACTAMENTE os valores pre-calculados.\nNUNCA arredondar, aproximar ou inferir. Valores disponiveis:\n  overdueCount=${overdueCount} (Due < hoje AND Status != Done, ESTRITO)\n  dueTodayCount=${dueTodayCount} (Due = hoje AND Status != Done)\n  antiStreakCount=${antiStreakCount} (subset de overdueCount com 3+ dias)\n  doneCount=${doneCount} (Done editado hoje)\n  next7Count=${next7Count} (Due > hoje AND <= hoje+7d)\nReporta-los literais. Se o valor nao estiver claro no contexto acima, escrever \"N/A\".\nNUNCA copiar contagens de daily summaries de dias anteriores como se fossem de hoje.\n\nHC5 - DIFF E PROXY DE EXECUCAO OBJECTIVA (NEW v3):\nA seccao \"MOVIMENTO DE TASKS\" mostra o que mudou entre snapshot de ontem e hoje.\nEsta e a unica metrica OBJECTIVA de execucao (cruza com doneCount mas nao depende\ndo Ary editar last_edited_time). Diff_completed=${diffCompleted.length},\ndiff_created=${diffCreated.length}, diff_rescheduled=${diffRescheduled.length}.\n\n- Se diff_completed > doneCount: tasks fecharam sem editar last_edited (suspeita de\n  bulk-edit ou archive sem completar individualmente). Sinalizar.\n- Se diff_rescheduled > 5: padrao de procrastinacao (Ary empurra prazos em massa).\n  Identificar quais tasks foram empurradas e sinalizar como sinal de friccao.\n- Se diff_created > 10: Ary esta a criar mais tasks do que fecha. Anti-padrao\n  classico (backlog inflation). Apontar.\nHC6 - GROUNDING DE BULK ACTIONS:\nQuando sugerir archive/reschedule/triage em massa, listar IDs ou nomes concretos\nda seccao ARCHIVE CANDIDATES acima. NUNCA escrever \"archive 5+\" ou \"triagem brutal\"\nsem listar os candidatos especificos. Se ARCHIVE CANDIDATES for vazio\n(archiveCandidatesCount=${archiveCandidatesCount}), NAO sugerir archive — escrever\nliteralmente \"sem candidatos objectivos a archive hoje\".\n═══════════════════════════════════════════════\nREGRAS:\n1. ATE 11 JUN 2026: NAO cobrar Sales/pipeline/outreach. Foco em consistencia de conteudos.\n2. SE existe DAILY SUMMARY DE HOJE: usar o score do Ary (${todayScoreFromSummary !== null ? todayScoreFromSummary + '/10' : 'N/A'}) como referencia. Tu podes concordar ou discordar (justificar). Cruzar tasks done Notion com sessoes time_log do daily summary — devem alinhar.\n3. SE NAO existe daily summary de hoje: flag em destaque \"Ary nao fechou o dia ate as 22h — risco de higiene de sono\". NAO dar pre-brief sem fechamento — pedir para criar daily summary primeiro.\n4. Se ha tasks atrasadas: identifica PORQUE nao foram concluidas (grande demais? nao sabe por onde comecar? nao e realmente prioridade?).\n5. Se a mesma task esta atrasada ha 3+ dias (anti-streak detectado: ${antiStreakCount} tasks): NAO repitas a instrucao. DECOMPOE em micro-tasks de 30min cada.\n6. AO REPORTAR TASKS ATRASADAS EM QUALQUER SECCAO: usar SEMPRE o formato \"${overdueCount} vencidas (${antiStreakCount} ha 3+ dias) + ${dueTodayCount} para hoje\". NUNCA reportar so um dos numeros isolado. overdueCount conta Due ESTRITAMENTE < hoje (vencidas reais); dueTodayCount conta Due = hoje (para hoje, ainda nao vencidas); antiStreakCount e o subconjunto de overdueCount com 3+ dias de atraso. Se dueTodayCount=0, omitir essa parte. Apresentar os numeros separadamente evita confundir \"para hoje\" com \"vencido\".\n7. Tasks com ⏸️ Dependo de Terceiros: NAO contar como falha do Ary — flag separadamente.\n8. SCORE proprio do dia (0-10): tu calculas baseado em (a) tasks done sem ⏸️ vs urgencia, (b) rotina 2026 cumprida (do daily summary), (c) consistencia de conteudos, (d) diff_completed vs diff_created (sinal de execucao real vs backlog inflation). Comparar com score do Ary se houver. OBRIGATORIO: a PRIMEIRA linha do teu output deve ser exactamente \"SCORE_DO_DIA: N/10\" (substitui N pelo numero que calculaste, ex 6.5). Esta linha e lida por outro sistema e nao pode faltar.\n9. PRE-BRIEF para amanha (${tomorrowWeekday}): baseado no score, tasks dos proximos 7 dias, e padroes detectados.\n10. Se score < 5: pre-brief deve DECOMPOR a task #1 em passos de 30min.\n11. Se score >= 8: pre-brief mantem o plano.\n12. Brutalmente honesto, zero fluff, tom de accountability partner.\n13. RECOMENDACAO FINAL: lembrar Ary de baixar luminosidade da tela e sair do PC apos ler este report.\n\nFORMATO:\n\nSCORE_DO_DIA: [X/10]\n${hasSummaryForToday ? 'FECHAMENTO DO DIA: ✅ Ary fechou o dia antes das 22h.' : '⚠️ FECHAMENTO DO DIA: NAO FEITO. Criar daily summary AGORA antes de dormir.'}\n\nSCORE DO DIA (Claude vs Ary)\n- Claude: [X/10] ${todayScoreFromSummary !== null ? '| Ary: ' + todayScoreFromSummary + '/10' : ''}\n- [se diferenca >= 2: justificar]\n\nEXECUCAO\n- [cruzar tasks done Notion vs sessoes time_log do daily summary, identificar discrepancias]\n- [comentar diff: ${diffCompleted.length} saidas, ${diffCreated.length} entradas, ${diffRescheduled.length} reagendadas]\n\nANTI-STREAK [so se ${antiStreakCount} > 0]\n- [tasks atrasadas ha 3+ dias com micro-decomposicao em blocos de 30min]\n\nDEPENDENCIAS [so se ha tasks com ⏸️]\n- [listar tasks que dependem de terceiros]\n\nPRE-BRIEF ${tomorrowWeekday.toUpperCase()}\n- ACCAO #1: aplicar criterios em ordem:\n  a) ALAVANCAGEM ESTRATEGICA: qual task desbloqueia outras ou cria activo reutilizavel?\n  b) PRAZO REAL: qual task vence amanha COM consequencia irreversivel?\n  c) ENERGIA NECESSARIA: foco profundo de manha ou admin ao fim do dia?\n  Escolher (a) sobre (b) excepto se (b) tiver consequencia irreversivel.\n  Decompor em primeira micro-task de 30min (gatilho \"abrir ferramenta X\").\n  Justificar a escolha em 1 frase.\n  NUNCA escolher task admin pura como ACCAO #1.\n- PIPELINE SEMANA: [3-5 bullets com as tasks mais criticas dos proximos 7 dias]\n- CONTINUIDADE: [1-2 bullets baseados em sinais a observar do daily summary de hoje]\n\nVEREDICTO\n[1-2 frases sobre o dia, com referencia ao score, fechamento, e padroes detectados]\n\n🌙 BAIXA A LUMINOSIDADE DA TELA E DESLIGA-TE AGORA.\n\nMaximo 450 palavras.`;\n\n// timeout em MILISSEGUNDOS (Bridge cap 600000 = 10min). Night Shift usa 120000 (2min).\nreturn [{ json: { prompt, timeout: 120000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,16],"id":"52a114cc-c16b-47c7-97fc-3f1005c619dd","name":"Build Night Shift Prompt"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"d3c44f80-27dc-461c-87e3-3016894efe6d","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,16],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const bridgeOutput = $input.first().json;\nconst out = bridgeOutput.output || '';\n\n// Detect silent failures of Claude Bridge that return HTTP 200 with bad content:\n// - OAuth expired: \"Not logged in - Please run /login\"\n// - Output truncated/empty: legitimate Night Shift is typically >100 chars\nconst oauthDead = /not logged in|please run \\/login|please log in/i.test(out);\nconst tooShort = out.trim().length < 30;\n\nif (out.length > 10 && !oauthDead && !tooShort) {\n  return [{ json: { output: out, elapsed_s: bridgeOutput.elapsed_s || 0, fallback: false, prompt: '' } }];\n}\n\nconst prompt = $('Build Night Shift Prompt').first().json.prompt || '';\nreturn [{ json: { output: '', elapsed_s: 0, fallback: true, prompt: prompt } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,16],"id":"ea457273-73d1-4a1a-8941-33b12dbec05f","name":"Fallback Router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fb-check","leftValue":"={{ $json.fallback }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[656,16],"id":"74801c91-5941-4852-a187-c3829a942184","name":"IF Fallback"},{"parameters":{"chatId":"-1002374157964","text":"={{\n  (() => {\n    const SP = \"_[]()~`>#+-=|{}.!\\\\\";\n    const esc = (s) => s.split('').map(c => SP.includes(c) ? '\\\\' + c : c).join('');\n    const tx = (text) => esc(text).replace(/\\*\\*(.+?)\\*\\*/gs, '*$1*');\n    return '🌙 *Night Shift — ' + esc($now.format('dd/MM/yyyy')) + '*\\n'\n      + tx($json.output)\n      + '\\n\\\\-\\\\-\\\\-\\n'\n      + '_⏱️ Gerado em ' + esc(String($json.elapsed_s)) + 's via Claude Code \\\\(with memory\\\\)_';\n  })()\n}}","additionalFields":{"parse_mode":"MarkdownV2"}},"id":"fe557229-7f37-4757-9184-7a55f9ab9079","name":"Telegram Night Shift","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,-256],"webhookId":"71096688-814a-42fe-b614-548257cc1bde","credentials":null},{"parameters":{"jsCode":"const output = $json.output;\nconst elapsed = $json.elapsed_s;\nconst now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nlet text = output\n  .replace(/^SCORE_DO_DIA:.*$/im, '')\n  .replace(/^### (.+)$/gm, '*$1*')\n  .replace(/^## (.+)$/gm, '*$1*')\n  .replace(/^# (.+)$/gm, '*$1*')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\ntext = `🌙 Night Shift — ${date}\\n\\n${text}\\n\\n───\\n⏱️ Gerado em ${elapsed}s via Claude Code (with memory)`;\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,16],"id":"5ac11fec-84cf-4a39-8a7d-538b6b2e3562","name":"Format WhatsApp"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2016,16],"id":"1010b59e-6a1a-44a7-a453-3b4224991a70","name":"WhatsApp Night Shift","credentials":null},{"parameters":{"workflowId":{"__rl":true,"value":"URJf7Jg58IQAeXfc","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"source":"NightShift","project":"Ops","response":"={{ $json.output }}"},"matchingColumns":[],"schema":[{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"response","displayName":"response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"257b512e-93e9-42f1-b59e-251fd243f26c","name":"Memory Write v2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1760,224],"onError":"continueRegularOutput"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_after","date":"={{ $now.plus(1, 'days').format('yyyy-MM-dd') }}"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.plus(7, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-768,16],"id":"5567fe7a-b7a0-48ac-8bcd-d882e065b7f7","name":"Tasks Next 7 Days","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"jsCode":"const response = $input.first().json;\nconst text = response.content && response.content[0] ? response.content[0].text : JSON.stringify(response);\nreturn [{ json: { output: text + '\\n\\n⚠️ Gerado via Haiku API (fallback — Claude Bridge indisponivel)', elapsed_s: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,-256],"id":"a4a83def-7186-425e-8b23-40b18e5865b4","name":"Format api Response"},{"parameters":{"modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[864,-256],"id":"74cc8804-716b-4f9c-a536-28bf50d9d04a","name":"Claude api","credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"equals","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_after","date":"={{ $now.minus(30, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1184,16],"id":"8b7c6384-d0b0-462a-9e40-11dfab42218f","name":"Tasks Done Last 30 Days","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21505ed2-eb60-4966-8d64-dc0411270e03","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://www.notion.so/21505ed2eb6049668d64dc0411270e03"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"In progress"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-576,16],"id":"19ef9d80-66d2-4838-b403-d0a5e718d4e8","name":"Active Projects","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"workflowId":{"__rl":true,"value":"gxVtgxoGiPD1pW0J","mode":"list","cachedResultUrl":"/workflow/gxVtgxoGiPD1pW0J","cachedResultName":"Claude Brain — Memory Read by Tag v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mode":"single_day","target_tag":"daily-summary","date_tag":"={{ $now.toFormat('yyyy-MM-dd') }}","days":"1"},"matchingColumns":[],"schema":[{"id":"mode","displayName":"mode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"target_tag","displayName":"target_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"date_tag","displayName":"date_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"days","displayName":"days","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-368,16],"id":"bd6d874f-04ba-4fd1-a1ef-afe911407a4b","name":"Get Today Summary","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1152,-176],"id":"85a3803e-eda0-4832-9e55-4efb694b8efc","name":"Tasks Pending Snapshot","credentials":null},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"id":"19149815-6bc8-4320-b728-e2b558f31cef","name":"Cron 23:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1408,16]},{"parameters":{"jsCode":"function getTaskName(item) {\n  const props = item.json.properties || {};\n  for (const key of Object.keys(props)) {\n    const p = props[key];\n    if (p && p.type === 'title' && Array.isArray(p.title) && p.title.length > 0) {\n      return p.title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  return '(sem nome)';\n}\n\nfunction getDueDate(item) {\n  const props = item.json.properties || {};\n  if (props['Due Date'] && props['Due Date'].date && props['Due Date'].date.start) {\n    return props['Due Date'].date.start;\n  }\n  return null;\n}\n\nfunction getStatus(item) {\n  const props = item.json.properties || {};\n  if (props['Done?'] && props['Done?'].status && props['Done?'].status.name) {\n    return props['Done?'].status.name;\n  }\n  return 'Unknown';\n}\n\nfunction getPriority(item) {\n  const props = item.json.properties || {};\n  if (props['Tags'] && props['Tags'].multi_select) {\n    const tags = props['Tags'].multi_select.map(t => t.name);\n    if (tags.includes('Prioridade Alta')) return 'Alta';\n    if (tags.includes('Prioridade Média') || tags.includes('Prioridade Media')) return 'Media';\n    if (tags.includes('Prioridade Baixa')) return 'Baixa';\n  }\n  return 'Sem';\n}\n\nfunction getDependency(item) {\n  const props = item.json.properties || {};\n  if (props['Tags'] && props['Tags'].multi_select) {\n    return props['Tags'].multi_select.some(t => t.name === 'Dependo de Terceiros');\n  }\n  return false;\n}\n\nfunction getProjectId(item) {\n  const props = item.json.properties || {};\n  if (props['Project'] && props['Project'].relation && props['Project'].relation.length > 0) {\n    return props['Project'].relation[0].id;\n  }\n  return null;\n}\n\nfunction getTodayLisbon() {\n  const now = new Date();\n  return new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Lisbon',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  }).format(now);\n}\n\nfunction isRelevant(task, todayStr) {\n  const today = new Date(todayStr + 'T00:00:00Z');\n  const minDate = new Date(today); minDate.setDate(minDate.getDate() - 7);\n  const maxDate = new Date(today); maxDate.setDate(maxDate.getDate() + 14);\n  \n  if (task.status === 'In progress') return true;\n  if (task.priority === 'Alta') return true;\n  if (task.due_date) {\n    const d = new Date(task.due_date + 'T00:00:00Z');\n    if (d >= minDate && d <= maxDate) return true;\n  }\n  return false;\n}\n\nconst today = getTodayLisbon();\n\nconst allItems = $input.all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\n\nconst rawTasks = allItems.map(i => ({\n  id: i.json.id,\n  name: getTaskName(i),\n  due_date: getDueDate(i),\n  status: getStatus(i),\n  priority: getPriority(i),\n  depends_on_third_party: getDependency(i),\n  project_id: getProjectId(i),\n  last_edited: i.json.last_edited_time || null\n}));\n\n// DEDUP por id\nconst seenIds = new Set();\nconst allTasks = rawTasks.filter(t => {\n  if (!t.id || seenIds.has(t.id)) return false;\n  seenIds.add(t.id);\n  return true;\n});\n\nconst relevantTasks = allTasks.filter(t => isRelevant(t, today));\n\n// PATCH 2026-05-30: subset estrito de vencidas (Due < today AND status != Done)\nconst overdueStrictTasks = allTasks.filter(t => {\n  if (!t.due_date) return false;\n  if (t.status === 'Done') return false;\n  return t.due_date < today;\n});\n\nconst payload = {\n  snapshot_date: today,\n  task_count: relevantTasks.length,\n  total_pending_in_notion: allTasks.length,\n  overdue_strict: overdueStrictTasks.length,\n  raw_items_received: rawTasks.length,\n  dedup_multiplier: rawTasks.length > 0 ? Math.round(rawTasks.length / Math.max(allTasks.length, 1) * 10) / 10 : 1,\n  filter_rules: 'due_date in [today-7d, today+14d] OR priority=Alta OR status=In progress',\n  overdue_strict_rule: 'due_date < today AND status != Done',\n  tasks: relevantTasks\n};\n\nreturn [{\n  json: {\n    summary: `Notion snapshot ${today}: ${relevantTasks.length} relevantes, ${overdueStrictTasks.length} vencidas, ${allTasks.length} pendentes total`,\n    details: JSON.stringify(payload, null, 2),\n    source: 'NightShift',\n    type: 'Fact',\n    project: 'Ops',\n    importance: '2',\n    tags: JSON.stringify(['notion-snapshot', `notion-snapshot:${today}`, 'auto'])\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,-176],"id":"cdb50858-8798-4252-8f00-4e6bbef2842c","name":"Build Snapshot Payload"},{"parameters":{"workflowId":{"__rl":true,"value":"naTm33u35fDAWAIW","mode":"list","cachedResultUrl":"/workflow/naTm33u35fDAWAIW","cachedResultName":"Claude Brain — Snapshot Write v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"summary":"={{ $json.summary }}","details":"={{ $json.details }}","source":"={{ $json.source }}","type":"={{ $json.type }}","project":"={{ $json.project }}","importance":"={{ $json.importance }}","tags":"={{ $json.tags }}"},"matchingColumns":[],"schema":[{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"details","displayName":"details","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"importance","displayName":"importance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-688,-176],"id":"812690a3-66cc-4424-9242-968c67c168db","name":"Save Snapshot to Brain","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"gxVtgxoGiPD1pW0J","mode":"list","cachedResultUrl":"/workflow/gxVtgxoGiPD1pW0J","cachedResultName":"Claude Brain — Memory Read by Tag v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mode":"single_day","target_tag":"notion-snapshot","date_tag":"={{ DateTime.fromISO($now.toISO(), {zone: 'Europe/Lisbon'}).minus({days: 1}).toFormat('yyyy-MM-dd') }}"},"matchingColumns":[],"schema":[{"id":"mode","displayName":"mode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"target_tag","displayName":"target_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date_tag","displayName":"date_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"days","displayName":"days","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-160,16],"id":"eff14c03-4a21-4d14-b5e1-4440684b0a1f","name":"Get Yesterday Snapshot"}],"connections":{"Manual Trigger":{"main":[[{"node":"Tasks Done Last 30 Days","type":"main","index":0}]]},"Tasks Overdue":{"main":[[{"node":"Tasks Next 7 Days","type":"main","index":0}]]},"Build Night Shift Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Fallback Router","type":"main","index":0}]]},"Fallback Router":{"main":[[{"node":"IF Fallback","type":"main","index":0}]]},"IF Fallback":{"main":[[{"node":"Claude api","type":"main","index":0}],[{"node":"Telegram Night Shift","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Memory Write v2","type":"main","index":0}]]},"Format WhatsApp":{"main":[[{"node":"WhatsApp Night Shift","type":"main","index":0}]]},"Tasks Next 7 Days":{"main":[[{"node":"Active Projects","type":"main","index":0}]]},"Format api Response":{"main":[[{"node":"Telegram Night Shift","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Memory Write v2","type":"main","index":0}]]},"Claude api":{"main":[[{"node":"Format api Response","type":"main","index":0}]]},"Tasks Done Last 30 Days":{"main":[[{"node":"Tasks Overdue","type":"main","index":0}]]},"Active Projects":{"main":[[{"node":"Get Today Summary","type":"main","index":0}]]},"Get Today Summary":{"main":[[{"node":"Get Yesterday Snapshot","type":"main","index":0}]]},"Tasks Pending Snapshot":{"main":[[{"node":"Build Snapshot Payload","type":"main","index":0}]]},"Cron 23:00":{"main":[[{"node":"Tasks Done Last 30 Days","type":"main","index":0},{"node":"Tasks Pending Snapshot","type":"main","index":0}]]},"Build Snapshot Payload":{"main":[[{"node":"Save Snapshot to Brain","type":"main","index":0}]]},"Save Snapshot to Brain":{"main":[[]]},"Get Yesterday Snapshot":{"main":[[{"node":"Build Night Shift Prompt","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu","executionTimeout":1200},"staticData":{"node:Cron 23:00 UTC":{"recurrenceRules":[]},"node:Cron 22:00":{"recurrenceRules":[]},"node:Cron 11:00":{"recurrenceRules":[]},"node:Cron 23:00":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Cron 23:00":[{"json":{"timestamp":"2026-05-25T23:00:17.015-03:00","Readable date":"May 25th 2026, 11:00:17 pm","Readable time":"11:00:17 pm","Day of week":"Monday","Year":"2026","Month":"May","Day of month":"25","Hour":"23","Minute":"00","Second":"17","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}]},"versionId":"c874b644-f364-4af3-a937-2c97e0ca7e4c","activeVersionId":"c874b644-f364-4af3-a937-2c97e0ca7e4c","triggerCount":1,"shared":[{"updatedAt":"2026-04-16T12:51:11.894Z","createdAt":"2026-04-16T12:51:11.894Z","role":"workflow:owner","workflowId":"5P3Z4C49iGPsg2fB","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-31T00:57:02.265Z","createdAt":"2026-05-31T00:57:02.265Z","versionId":"c874b644-f364-4af3-a937-2c97e0ca7e4c","workflowId":"5P3Z4C49iGPsg2fB","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"manual-trigger","name":"trigger","value":"manual","type":"string"}]},"options":{}},"id":"206c30e8-96d9-4bdb-9083-0b1947aff50d","name":"Manual Trigger","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1408,208]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.format('yyyy-MM-dd') }}"},{"key":"Due Date|date","condition":"on_or_after","date":"={{ $now.minus(30, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-976,16],"id":"1accb348-835e-4fea-b6cb-522755d668c3","name":"Tasks Overdue","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"jsCode":"// ===== HELPERS =====\nfunction getTaskName(item) {\n  const props = item.json.properties || {};\n  const nameProps = ['Name', 'Task', 'Title', 'name', 'title'];\n  for (const key of nameProps) {\n    if (props[key] && props[key].title && Array.isArray(props[key].title) && props[key].title.length > 0) {\n      return props[key].title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  for (const key of Object.keys(props)) {\n    const p = props[key];\n    if (p && p.type === 'title' && Array.isArray(p.title) && p.title.length > 0) {\n      return p.title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  return '(sem nome)';\n}\n\nfunction getTags(item) {\n  const props = item.json.properties || {};\n  const tagProps = ['Tags', 'Tag', 'Labels'];\n  for (const key of tagProps) {\n    if (props[key]) {\n      if (props[key].multi_select) return props[key].multi_select.map(t => t.name);\n      if (props[key].select && props[key].select.name) return [props[key].select.name];\n    }\n  }\n  return [];\n}\n\nfunction getDueDate(item) {\n  const props = item.json.properties || {};\n  const dateProps = ['Due Date', 'Due', 'Date', 'Deadline'];\n  for (const key of dateProps) {\n    if (props[key] && props[key].date && props[key].date.start) {\n      return props[key].date.start;\n    }\n  }\n  return '';\n}\n\nfunction getProjectId(item) {\n  const props = item.json.properties || {};\n  const projProps = ['Project', 'Projects'];\n  for (const key of projProps) {\n    if (props[key] && props[key].relation && props[key].relation.length > 0) {\n      return props[key].relation[0].id;\n    }\n  }\n  return '';\n}\n\nfunction getProjectType(item) {\n  const props = item.json.properties || {};\n  const typeProps = ['Type', 'Tipo', 'Category'];\n  for (const key of typeProps) {\n    if (props[key]) {\n      if (props[key].select && props[key].select.name) return props[key].select.name;\n    }\n  }\n  return '';\n}\n\nfunction getContext(tags) {\n  if (tags.includes('Brasil')) return '🇧🇷';\n  if (tags.includes('Portugal')) return '🇵🇹';\n  return '';\n}\n\nfunction getDependency(tags) {\n  if (tags.includes('Dependo de Terceiros')) return '⏸️';\n  return '';\n}\n\nfunction getNightShiftDate() {\n  const now = new Date();\n  const lisbonNowStr = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Lisbon',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    hour12: false\n  }).format(now);\n  const [datePart, timePart] = lisbonNowStr.split(', ');\n  const hourLisbon = parseInt(timePart, 10);\n\n  let reportDate = datePart;\n  if (hourLisbon < 6) {\n    const d = new Date(datePart + 'T12:00:00Z');\n    d.setUTCDate(d.getUTCDate() - 1);\n    reportDate = d.toISOString().slice(0, 10);\n  }\n  return reportDate;\n}\n\nfunction getWeekdayLisbon(dateStr) {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  const fmt = new Intl.DateTimeFormat('pt-PT', {\n    timeZone: 'Europe/Lisbon',\n    weekday: 'long'\n  });\n  const day = fmt.format(d).toLowerCase();\n  const map = {\n    'domingo': 'Domingo',\n    'segunda-feira': 'Segunda',\n    'terça-feira': 'Terca',\n    'quarta-feira': 'Quarta',\n    'quinta-feira': 'Quinta',\n    'sexta-feira': 'Sexta',\n    'sábado': 'Sabado'\n  };\n  return map[day] || day;\n}\n\n// ===== GET TODAY DAILY SUMMARY (CRIADO PELO ARY ANTES DAS 22h) =====\nlet todaySummary = '';\nlet todayScoreFromSummary = null;\nlet hasSummaryForToday = false;\ntry {\n  const summaryNode = $('Get Today Summary').first().json;\n  if (summaryNode && summaryNode.found && summaryNode.entries && summaryNode.entries.length > 0) {\n    const entry = summaryNode.entries[0];\n    const dateTag = (entry.tags || []).find(t => /^\\d{4}-\\d{2}-\\d{2}$/.test(t)) || 'data desconhecida';\n    todaySummary = `\\n\\nDAILY SUMMARY DE HOJE (${dateTag}) — criado pelo Ary antes desta execucao:\\n${entry.details || entry.summary}\\n`;\n    hasSummaryForToday = true;\n    const scoreMatch = (entry.details || '').match(/SCORE_?DO_?DIA:\\s*(\\d+(?:\\.\\d+)?)\\s*\\/\\s*10/i);\n    if (scoreMatch) todayScoreFromSummary = parseFloat(scoreMatch[1]);\n  } else {\n    todaySummary = '\\n\\n⚠️ Ary NAO criou daily summary de hoje antes desta execucao. NAO disse boa noite ate as 22h.\\n';\n  }\n} catch(e) {\n  todaySummary = '\\n\\n(Erro a obter daily summary de hoje)\\n';\n}\n\n// ===== BUILD PROJECT LOOKUP MAP =====\nconst projectItems = $('Active Projects').all();\nconst projectMap = {};\nfor (const p of projectItems) {\n  const id = p.json.id;\n  const name = getTaskName(p);\n  const type = getProjectType(p);\n  projectMap[id] = { name, type };\n}\n\nfunction getProjectName(item) {\n  const id = getProjectId(item);\n  if (!id) return '';\n  if (projectMap[id]) return projectMap[id].name;\n  return '(unknown project)';\n}\n\nfunction getProjectNameById(id) {\n  if (!id) return '';\n  if (projectMap[id]) return projectMap[id].name;\n  return '';\n}\n\n// ===== DATE REFERENCES =====\nconst today = getNightShiftDate();\nconst weekday = getWeekdayLisbon(today);\n\nconst todayD = new Date(today + 'T12:00:00Z');\ntodayD.setUTCDate(todayD.getUTCDate() + 1);\nconst tomorrow = todayD.toISOString().slice(0, 10);\nconst tomorrowWeekday = getWeekdayLisbon(tomorrow);\n\nconst [ty, tm, td] = today.split('-');\nconst todayDisplay = `${td}/${tm}/${ty}`;\n\n// ===== SNAPSHOT DIFF (NEW IN v3) =====\nlet diffSection = '';\nlet snapshotTodayCount = 0;\nlet snapshotYesterdayCount = 0;\nlet diffCompleted = [];\nlet diffCreated = [];\nlet diffRescheduled = [];\n\ntry {\n  // Snapshot de hoje — cross-branch via $()\n  let todaySnapshotTasks = [];\n  try {\n    const todaySnapshotNode = $('Build Snapshot Payload').first().json;\n    if (todaySnapshotNode && todaySnapshotNode.details) {\n      const payload = JSON.parse(todaySnapshotNode.details);\n      todaySnapshotTasks = payload.tasks || [];\n      snapshotTodayCount = payload.total_pending_in_notion || todaySnapshotTasks.length;\n    }\n  } catch (e) {\n    todaySnapshotTasks = [];\n  }\n\n  // Snapshot de ontem — via Get Yesterday Snapshot node\n  let yesterdaySnapshotTasks = [];\n  try {\n    const yesterdaySnapshotNode = $('Get Yesterday Snapshot').first().json;\n    if (yesterdaySnapshotNode && yesterdaySnapshotNode.found && yesterdaySnapshotNode.entries && yesterdaySnapshotNode.entries.length > 0) {\n      const entry = yesterdaySnapshotNode.entries[0];\n      const payload = JSON.parse(entry.details);\n      yesterdaySnapshotTasks = payload.tasks || [];\n      snapshotYesterdayCount = payload.total_pending_in_notion || yesterdaySnapshotTasks.length;\n    }\n  } catch (e) {\n    yesterdaySnapshotTasks = [];\n  }\n\n  // Computar diff\n  if (yesterdaySnapshotTasks.length > 0) {\n    const todayIds = new Set(todaySnapshotTasks.map(t => t.id));\n    const yesterdayIds = new Set(yesterdaySnapshotTasks.map(t => t.id));\n    const todayMap = new Map(todaySnapshotTasks.map(t => [t.id, t]));\n    const yesterdayMap = new Map(yesterdaySnapshotTasks.map(t => [t.id, t]));\n\n    // COMPLETED: estavam ontem (no relevante), não estão hoje (mas existem no Notion como Done OU foram apagadas)\n    for (const yt of yesterdaySnapshotTasks) {\n      if (!todayIds.has(yt.id)) {\n        diffCompleted.push(yt);\n      }\n    }\n\n    // CREATED: estão hoje, não estavam ontem\n    for (const tt of todaySnapshotTasks) {\n      if (!yesterdayIds.has(tt.id)) {\n        diffCreated.push(tt);\n      }\n    }\n\n    // RESCHEDULED: mesmo id, due_date diferente\n    for (const tt of todaySnapshotTasks) {\n      const yt = yesterdayMap.get(tt.id);\n      if (yt && yt.due_date !== tt.due_date) {\n        diffRescheduled.push({ task: tt, old_due: yt.due_date, new_due: tt.due_date });\n      }\n    }\n\n    // Formatar secção\n    const lines = [];\n    lines.push(`MOVIMENTO DE TASKS (snapshot ontem ${snapshotYesterdayCount} → hoje ${snapshotTodayCount}):`);\n\n    if (diffCompleted.length > 0) {\n      lines.push(`\\n✅ SAIRAM DO RADAR (${diffCompleted.length}) — concluidas ou apagadas:`);\n      diffCompleted.slice(0, 10).forEach(t => {\n        const proj = getProjectNameById(t.project_id);\n        const projTag = proj ? ` [${proj}]` : '';\n        lines.push(`  - ${t.name}${projTag}`);\n      });\n      if (diffCompleted.length > 10) lines.push(`  ... +${diffCompleted.length - 10} mais`);\n    }\n\n    if (diffCreated.length > 0) {\n      lines.push(`\\n🆕 CRIADAS HOJE (${diffCreated.length}):`);\n      diffCreated.slice(0, 10).forEach(t => {\n        const proj = getProjectNameById(t.project_id);\n        const projTag = proj ? ` [${proj}]` : '';\n        const prio = t.priority === 'Alta' ? '🔴' : t.priority === 'Media' ? '🟡' : '⚪';\n        const due = t.due_date ? ` (due: ${t.due_date})` : '';\n        lines.push(`  ${prio} ${t.name}${projTag}${due}`);\n      });\n      if (diffCreated.length > 10) lines.push(`  ... +${diffCreated.length - 10} mais`);\n    }\n\n    if (diffRescheduled.length > 0) {\n      lines.push(`\\n🔄 REAGENDADAS (${diffRescheduled.length}):`);\n      diffRescheduled.slice(0, 10).forEach(r => {\n        const proj = getProjectNameById(r.task.project_id);\n        const projTag = proj ? ` [${proj}]` : '';\n        const oldD = r.old_due || '(sem data)';\n        const newD = r.new_due || '(sem data)';\n        lines.push(`  - ${r.task.name}${projTag}: ${oldD} → ${newD}`);\n      });\n      if (diffRescheduled.length > 10) lines.push(`  ... +${diffRescheduled.length - 10} mais`);\n    }\n\n    if (diffCompleted.length === 0 && diffCreated.length === 0 && diffRescheduled.length === 0) {\n      lines.push(`(sem movimento — tasks identicas a ontem)`);\n    }\n\n    diffSection = '\\n\\n' + lines.join('\\n') + '\\n';\n  } else {\n    diffSection = `\\n\\nMOVIMENTO DE TASKS: (sem snapshot de ontem para comparar — primeiro dia do sistema OU snapshot expirado)\\n`;\n  }\n} catch (e) {\n  diffSection = `\\n\\n(Erro a calcular diff: ${e.message})\\n`;\n}\n\n// ===== FILTRO DONE HOJE =====\nfunction isEditedTodayLisbon(item) {\n  const edited = item.json.last_edited_time || '';\n  if (!edited) return false;\n  const d = new Date(edited);\n  if (isNaN(d.getTime())) return false;\n  const editedDayPT = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Lisbon',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  }).format(d);\n  return editedDayPT === today;\n}\n\nconst doneItems = $('Tasks Done Last 30 Days').all().filter(i => {\n  const props = i.json.properties || {};\n  if (Object.keys(props).length === 0) return false;\n  return isEditedTodayLisbon(i);\n});\n\nconst doneToday = doneItems.map(i => {\n  const name = getTaskName(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const ctx = getContext(tags);\n  const projectTag = project ? ` [${project}]` : '';\n  const ctxTag = ctx ? ` ${ctx}` : '';\n  return `${name}${projectTag}${ctxTag}`;\n}).join('\\n');\nconst doneCount = doneItems.length;\n\n// ===== OVERDUE =====\n// PATCH 2026-05-30: separar vencidas estritas (Due < today) de para-hoje (Due == today)\nconst overdueRawItems = $('Tasks Overdue').all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\n\nconst overdueItems = overdueRawItems.filter(i => {\n  const due = getDueDate(i);\n  return due && due < today;\n});\nconst dueTodayItems = overdueRawItems.filter(i => {\n  const due = getDueDate(i);\n  return due && due === today;\n});\n\nconst overdue = overdueItems.map(i => {\n  const name = getTaskName(i);\n  const due = getDueDate(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const prio = tags.includes('Prioridade Alta') ? '🔴'\n    : (tags.includes('Prioridade Média') || tags.includes('Prioridade Media')) ? '🟡'\n    : '⚪';\n  const ctx = getContext(tags);\n  const dep = getDependency(tags);\n  const flags = [ctx, dep].filter(x => x).join(' ');\n  const projectTag = project ? ` [${project}]` : '';\n  const flagsTag = flags ? ` ${flags}` : '';\n  const dueD = new Date(due + 'T12:00:00Z');\n  const todayD2 = new Date(today + 'T12:00:00Z');\n  const daysOverdue = Math.floor((todayD2 - dueD) / (1000 * 60 * 60 * 24));\n  const daysTag = daysOverdue > 0 ? ` (${daysOverdue}d atrasada)` : '';\n  return `${prio} ${name}${projectTag}${flagsTag} (due: ${due})${daysTag}`;\n}).join('\\n');\nconst overdueCount = overdueItems.length;\nconst dueTodayCount = dueTodayItems.length;\n\nconst antiStreakItems = overdueItems.filter(i => {\n  const due = getDueDate(i);\n  if (!due) return false;\n  const dueD = new Date(due + 'T12:00:00Z');\n  const todayD2 = new Date(today + 'T12:00:00Z');\n  const days = Math.floor((todayD2 - dueD) / (1000 * 60 * 60 * 24));\n  return days >= 3;\n});\nconst antiStreakCount = antiStreakItems.length;\n// ===== ARCHIVE CANDIDATES (PATCH 2) =====\n// Critério objectivo: overdue + last_edited > 30d + priority != Alta\nconst archiveCandidatesItems = overdueItems.filter(i => {\n  const lastEdited = i.json.last_edited_time || '';\n  if (!lastEdited) return false;\n  const editedD = new Date(lastEdited);\n  if (isNaN(editedD.getTime())) return false;\n  const daysSinceEdit = Math.floor((new Date() - editedD) / (1000 * 60 * 60 * 24));\n  const tags = getTags(i);\n  const isAlta = tags.includes('Prioridade Alta');\n  return daysSinceEdit > 30 && !isAlta;\n});\n\nconst archiveCandidates = archiveCandidatesItems.map(i => {\n  const name = getTaskName(i);\n  const project = getProjectName(i);\n  const lastEdited = i.json.last_edited_time || '';\n  const daysSinceEdit = Math.floor((new Date() - new Date(lastEdited)) / (1000 * 60 * 60 * 24));\n  const projectTag = project ? ` [${project}]` : '';\n  return `- ${name}${projectTag} (${daysSinceEdit}d sem edit)`;\n}).join('\\n');\nconst archiveCandidatesCount = archiveCandidatesItems.length;\n// ===== NEXT 7 DAYS =====\nconst next7Items = $('Tasks Next 7 Days').all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\n\nconst next7Days = next7Items.map(i => {\n  const name = getTaskName(i);\n  const due = getDueDate(i);\n  const project = getProjectName(i);\n  const tags = getTags(i);\n  const prio = tags.includes('Prioridade Alta') ? '🔴'\n    : (tags.includes('Prioridade Média') || tags.includes('Prioridade Media')) ? '🟡'\n    : '⚪';\n  const ctx = getContext(tags);\n  const dep = getDependency(tags);\n  const flags = [ctx, dep].filter(x => x).join(' ');\n  const projectTag = project ? ` [${project}]` : '';\n  const flagsTag = flags ? ` ${flags}` : '';\n  return `${prio} ${name}${projectTag}${flagsTag} (${due})`;\n}).join('\\n');\nconst next7Count = next7Items.length;\n\n// ===== PROMPT =====\nconst prompt = `Hoje terminou ${todayDisplay}, ${weekday}. Night Shift para Ary Ribeiro.\n\nCONTEXTO: Consultor IA, 3 verticais: TJ (advogados BR R$2.997/mes), TM (clinicas BR R$2.997/mes), CL (imobiliarias PT E497/mes). Meta Q2: E12.857 trimestral. Foco actual: construcao da maquina (consistencia de conteudos), Sales suspenso ate 11 Jun 2026.\n\nREGRA TEMPORAL CRITICA: O daily summary DE HOJE foi criado pelo Ary antes desta execucao (ele disse \"boa noite\" ao Ops Manager ate as 22h). Se nao houver daily summary de hoje (campo vazio abaixo), o Ary nao fez o fechamento do dia — isto e um sinal de fricao na rotina de higiene de sono.\n${todaySummary}\nO QUE FOI REALMENTE FEITO HOJE (${doneCount} tasks Notion concluidas):\n${doneToday || '(ZERO tasks Notion concluidas hoje — mas pode haver trabalho registado no daily summary acima)'}\n${diffSection}\nTASKS ATRASADAS (${overdueCount}${antiStreakCount > 0 ? ', ' + antiStreakCount + ' ha 3+ dias' : ''}):\n${overdue || '(nenhuma task atrasada)'}\nARCHIVE CANDIDATES (criterio: overdue + last_edited > 30d + priority != Alta):\n${archiveCandidates || '(nenhum candidato objectivo)'}\n[total: ${archiveCandidatesCount}]\nTASKS PROXIMOS 7 DIAS (${next7Count}):\n${next7Days || '(nenhuma task agendada)'}\n\nLEGENDA: 🔴 Alta | 🟡 Media | ⚪ Baixa/sem | 🇧🇷 Brasil | 🇵🇹 Portugal | ⏸️ Dependo de terceiros\n\nANALISA e gera o Night Shift Report:\n\n═══ HARD CONSTRAINTS DE INTEGRIDADE DE DADOS ═══\n\nHC1 - ANTI CROSS-CONTAMINATION TEMPORAL:\nO Brain MCP pode retornar daily summaries de dias anteriores como contexto.\nNUNCA copiar valores numericos (sono, horas trabalho, doses, jejum) de daily\nsummaries antigos como se fossem do dia actual. Cada valor numerico DESTE report\ndeve ter origem comprovavel no daily summary DE HOJE (acima). Se um campo so\nexiste em summary de dia anterior, NAO o reportar como facto de hoje.\n\nHC2 - ANTI INFERENCIA POR PADRAO TIPICO:\nPara sono, jejum alimentar, e nutricao: se o daily summary de hoje NAO mencionar\nexplicitamente esses dados (com numero concreto), NAO inferir baseado em\n\"Ary normalmente dorme X\" ou \"rotina tipica\". Escrever literalmente:\n\"sleep_hours nao reportado no daily summary\" ou similar.\nYoga, meditacao, treino: aceitar como facto se o daily summary disser\nexplicitamente que foram feitos.\n\nHC3 - VERIFICACAO DE SUPLEMENTOS CONTRA PROTOCOLO:\nProtocolo 2026 (referencia da memory entry e9b6bbd5):\n  CoQ10 200mg meal | Cindura 800mg pre-workout | Cafeina 200mg pre-workout\n  HMB 3g pre-workout | Creatina 5g pre-workout | Whey 30g post-workout\n  PeptiStrong 2.4g post-workout | Magnesio 400mg evening\n\nSe o daily summary listar doses tomadas:\n- Comparar cada dose vs protocolo\n- Se desvio > 15%: sinalizar literalmente, ex: \"HMB 1000mg vs protocolo 3000mg (-67%)\"\n- Se suplemento do protocolo nao for mencionado: \"Creatina nao reportada (protocolo: 5g pre-workout)\"\n- NUNCA dizer \"X suplementos correctos\" sem ter comparado contra protocolo.\n- Se daily summary nao detalhar doses: dizer \"doses nao detalhadas no summary, validacao impossivel\".\n\nHC4 - AUDITABILIDADE DE NUMEROS NOTION:\nQuando reportar contagens de tasks, usar EXACTAMENTE os valores pre-calculados.\nNUNCA arredondar, aproximar ou inferir. Valores disponiveis:\n  overdueCount=${overdueCount} (Due < hoje AND Status != Done, ESTRITO)\n  dueTodayCount=${dueTodayCount} (Due = hoje AND Status != Done)\n  antiStreakCount=${antiStreakCount} (subset de overdueCount com 3+ dias)\n  doneCount=${doneCount} (Done editado hoje)\n  next7Count=${next7Count} (Due > hoje AND <= hoje+7d)\nReporta-los literais. Se o valor nao estiver claro no contexto acima, escrever \"N/A\".\nNUNCA copiar contagens de daily summaries de dias anteriores como se fossem de hoje.\n\nHC5 - DIFF E PROXY DE EXECUCAO OBJECTIVA (NEW v3):\nA seccao \"MOVIMENTO DE TASKS\" mostra o que mudou entre snapshot de ontem e hoje.\nEsta e a unica metrica OBJECTIVA de execucao (cruza com doneCount mas nao depende\ndo Ary editar last_edited_time). Diff_completed=${diffCompleted.length},\ndiff_created=${diffCreated.length}, diff_rescheduled=${diffRescheduled.length}.\n\n- Se diff_completed > doneCount: tasks fecharam sem editar last_edited (suspeita de\n  bulk-edit ou archive sem completar individualmente). Sinalizar.\n- Se diff_rescheduled > 5: padrao de procrastinacao (Ary empurra prazos em massa).\n  Identificar quais tasks foram empurradas e sinalizar como sinal de friccao.\n- Se diff_created > 10: Ary esta a criar mais tasks do que fecha. Anti-padrao\n  classico (backlog inflation). Apontar.\nHC6 - GROUNDING DE BULK ACTIONS:\nQuando sugerir archive/reschedule/triage em massa, listar IDs ou nomes concretos\nda seccao ARCHIVE CANDIDATES acima. NUNCA escrever \"archive 5+\" ou \"triagem brutal\"\nsem listar os candidatos especificos. Se ARCHIVE CANDIDATES for vazio\n(archiveCandidatesCount=${archiveCandidatesCount}), NAO sugerir archive — escrever\nliteralmente \"sem candidatos objectivos a archive hoje\".\n═══════════════════════════════════════════════\nREGRAS:\n1. ATE 11 JUN 2026: NAO cobrar Sales/pipeline/outreach. Foco em consistencia de conteudos.\n2. SE existe DAILY SUMMARY DE HOJE: usar o score do Ary (${todayScoreFromSummary !== null ? todayScoreFromSummary + '/10' : 'N/A'}) como referencia. Tu podes concordar ou discordar (justificar). Cruzar tasks done Notion com sessoes time_log do daily summary — devem alinhar.\n3. SE NAO existe daily summary de hoje: flag em destaque \"Ary nao fechou o dia ate as 22h — risco de higiene de sono\". NAO dar pre-brief sem fechamento — pedir para criar daily summary primeiro.\n4. Se ha tasks atrasadas: identifica PORQUE nao foram concluidas (grande demais? nao sabe por onde comecar? nao e realmente prioridade?).\n5. Se a mesma task esta atrasada ha 3+ dias (anti-streak detectado: ${antiStreakCount} tasks): NAO repitas a instrucao. DECOMPOE em micro-tasks de 30min cada.\n6. AO REPORTAR TASKS ATRASADAS EM QUALQUER SECCAO: usar SEMPRE o formato \"${overdueCount} vencidas (${antiStreakCount} ha 3+ dias) + ${dueTodayCount} para hoje\". NUNCA reportar so um dos numeros isolado. overdueCount conta Due ESTRITAMENTE < hoje (vencidas reais); dueTodayCount conta Due = hoje (para hoje, ainda nao vencidas); antiStreakCount e o subconjunto de overdueCount com 3+ dias de atraso. Se dueTodayCount=0, omitir essa parte. Apresentar os numeros separadamente evita confundir \"para hoje\" com \"vencido\".\n7. Tasks com ⏸️ Dependo de Terceiros: NAO contar como falha do Ary — flag separadamente.\n8. SCORE proprio do dia (0-10): tu calculas baseado em (a) tasks done sem ⏸️ vs urgencia, (b) rotina 2026 cumprida (do daily summary), (c) consistencia de conteudos, (d) diff_completed vs diff_created (sinal de execucao real vs backlog inflation). Comparar com score do Ary se houver. OBRIGATORIO: a PRIMEIRA linha do teu output deve ser exactamente \"SCORE_DO_DIA: N/10\" (substitui N pelo numero que calculaste, ex 6.5). Esta linha e lida por outro sistema e nao pode faltar.\n9. PRE-BRIEF para amanha (${tomorrowWeekday}): baseado no score, tasks dos proximos 7 dias, e padroes detectados.\n10. Se score < 5: pre-brief deve DECOMPOR a task #1 em passos de 30min.\n11. Se score >= 8: pre-brief mantem o plano.\n12. Brutalmente honesto, zero fluff, tom de accountability partner.\n13. RECOMENDACAO FINAL: lembrar Ary de baixar luminosidade da tela e sair do PC apos ler este report.\n\nFORMATO:\n\nSCORE_DO_DIA: [X/10]\n${hasSummaryForToday ? 'FECHAMENTO DO DIA: ✅ Ary fechou o dia antes das 22h.' : '⚠️ FECHAMENTO DO DIA: NAO FEITO. Criar daily summary AGORA antes de dormir.'}\n\nSCORE DO DIA (Claude vs Ary)\n- Claude: [X/10] ${todayScoreFromSummary !== null ? '| Ary: ' + todayScoreFromSummary + '/10' : ''}\n- [se diferenca >= 2: justificar]\n\nEXECUCAO\n- [cruzar tasks done Notion vs sessoes time_log do daily summary, identificar discrepancias]\n- [comentar diff: ${diffCompleted.length} saidas, ${diffCreated.length} entradas, ${diffRescheduled.length} reagendadas]\n\nANTI-STREAK [so se ${antiStreakCount} > 0]\n- [tasks atrasadas ha 3+ dias com micro-decomposicao em blocos de 30min]\n\nDEPENDENCIAS [so se ha tasks com ⏸️]\n- [listar tasks que dependem de terceiros]\n\nPRE-BRIEF ${tomorrowWeekday.toUpperCase()}\n- ACCAO #1: aplicar criterios em ordem:\n  a) ALAVANCAGEM ESTRATEGICA: qual task desbloqueia outras ou cria activo reutilizavel?\n  b) PRAZO REAL: qual task vence amanha COM consequencia irreversivel?\n  c) ENERGIA NECESSARIA: foco profundo de manha ou admin ao fim do dia?\n  Escolher (a) sobre (b) excepto se (b) tiver consequencia irreversivel.\n  Decompor em primeira micro-task de 30min (gatilho \"abrir ferramenta X\").\n  Justificar a escolha em 1 frase.\n  NUNCA escolher task admin pura como ACCAO #1.\n- PIPELINE SEMANA: [3-5 bullets com as tasks mais criticas dos proximos 7 dias]\n- CONTINUIDADE: [1-2 bullets baseados em sinais a observar do daily summary de hoje]\n\nVEREDICTO\n[1-2 frases sobre o dia, com referencia ao score, fechamento, e padroes detectados]\n\n🌙 BAIXA A LUMINOSIDADE DA TELA E DESLIGA-TE AGORA.\n\nMaximo 450 palavras.`;\n\n// timeout em MILISSEGUNDOS (Bridge cap 600000 = 10min). Night Shift usa 120000 (2min).\nreturn [{ json: { prompt, timeout: 120000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,16],"id":"52a114cc-c16b-47c7-97fc-3f1005c619dd","name":"Build Night Shift Prompt"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"d3c44f80-27dc-461c-87e3-3016894efe6d","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,16],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const bridgeOutput = $input.first().json;\nconst out = bridgeOutput.output || '';\n\n// Detect silent failures of Claude Bridge that return HTTP 200 with bad content:\n// - OAuth expired: \"Not logged in - Please run /login\"\n// - Output truncated/empty: legitimate Night Shift is typically >100 chars\nconst oauthDead = /not logged in|please run \\/login|please log in/i.test(out);\nconst tooShort = out.trim().length < 30;\n\nif (out.length > 10 && !oauthDead && !tooShort) {\n  return [{ json: { output: out, elapsed_s: bridgeOutput.elapsed_s || 0, fallback: false, prompt: '' } }];\n}\n\nconst prompt = $('Build Night Shift Prompt').first().json.prompt || '';\nreturn [{ json: { output: '', elapsed_s: 0, fallback: true, prompt: prompt } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,16],"id":"ea457273-73d1-4a1a-8941-33b12dbec05f","name":"Fallback Router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fb-check","leftValue":"={{ $json.fallback }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[656,16],"id":"74801c91-5941-4852-a187-c3829a942184","name":"IF Fallback"},{"parameters":{"chatId":"-1002374157964","text":"={{\n  (() => {\n    const SP = \"_[]()~`>#+-=|{}.!\\\\\";\n    const esc = (s) => s.split('').map(c => SP.includes(c) ? '\\\\' + c : c).join('');\n    const tx = (text) => esc(text).replace(/\\*\\*(.+?)\\*\\*/gs, '*$1*');\n    return '🌙 *Night Shift — ' + esc($now.format('dd/MM/yyyy')) + '*\\n'\n      + tx($json.output)\n      + '\\n\\\\-\\\\-\\\\-\\n'\n      + '_⏱️ Gerado em ' + esc(String($json.elapsed_s)) + 's via Claude Code \\\\(with memory\\\\)_';\n  })()\n}}","additionalFields":{"parse_mode":"MarkdownV2"}},"id":"fe557229-7f37-4757-9184-7a55f9ab9079","name":"Telegram Night Shift","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,-256],"webhookId":"71096688-814a-42fe-b614-548257cc1bde","credentials":null},{"parameters":{"jsCode":"const output = $json.output;\nconst elapsed = $json.elapsed_s;\nconst now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nlet text = output\n  .replace(/^SCORE_DO_DIA:.*$/im, '')\n  .replace(/^### (.+)$/gm, '*$1*')\n  .replace(/^## (.+)$/gm, '*$1*')\n  .replace(/^# (.+)$/gm, '*$1*')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\ntext = `🌙 Night Shift — ${date}\\n\\n${text}\\n\\n───\\n⏱️ Gerado em ${elapsed}s via Claude Code (with memory)`;\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,16],"id":"5ac11fec-84cf-4a39-8a7d-538b6b2e3562","name":"Format WhatsApp"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2016,16],"id":"1010b59e-6a1a-44a7-a453-3b4224991a70","name":"WhatsApp Night Shift","credentials":null},{"parameters":{"workflowId":{"__rl":true,"value":"URJf7Jg58IQAeXfc","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"source":"NightShift","project":"Ops","response":"={{ $json.output }}"},"matchingColumns":[],"schema":[{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"response","displayName":"response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"257b512e-93e9-42f1-b59e-251fd243f26c","name":"Memory Write v2","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1760,224],"onError":"continueRegularOutput"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_after","date":"={{ $now.plus(1, 'days').format('yyyy-MM-dd') }}"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.plus(7, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-768,16],"id":"5567fe7a-b7a0-48ac-8bcd-d882e065b7f7","name":"Tasks Next 7 Days","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"jsCode":"const response = $input.first().json;\nconst text = response.content && response.content[0] ? response.content[0].text : JSON.stringify(response);\nreturn [{ json: { output: text + '\\n\\n⚠️ Gerado via Haiku API (fallback — Claude Bridge indisponivel)', elapsed_s: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,-256],"id":"a4a83def-7186-425e-8b23-40b18e5865b4","name":"Format api Response"},{"parameters":{"modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[864,-256],"id":"74cc8804-716b-4f9c-a536-28bf50d9d04a","name":"Claude api","credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"equals","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_after","date":"={{ $now.minus(30, 'days').format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1184,16],"id":"8b7c6384-d0b0-462a-9e40-11dfab42218f","name":"Tasks Done Last 30 Days","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21505ed2-eb60-4966-8d64-dc0411270e03","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://www.notion.so/21505ed2eb6049668d64dc0411270e03"},"returnAll":true,"simple":false,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"In progress"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-576,16],"id":"19ef9d80-66d2-4838-b403-d0a5e718d4e8","name":"Active Projects","alwaysOutputData":true,"executeOnce":true,"credentials":null},{"parameters":{"workflowId":{"__rl":true,"value":"gxVtgxoGiPD1pW0J","mode":"list","cachedResultUrl":"/workflow/gxVtgxoGiPD1pW0J","cachedResultName":"Claude Brain — Memory Read by Tag v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mode":"single_day","target_tag":"daily-summary","date_tag":"={{ $now.toFormat('yyyy-MM-dd') }}","days":"1"},"matchingColumns":[],"schema":[{"id":"mode","displayName":"mode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"target_tag","displayName":"target_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"date_tag","displayName":"date_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"days","displayName":"days","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-368,16],"id":"bd6d874f-04ba-4fd1-a1ef-afe911407a4b","name":"Get Today Summary","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"returnAll":true,"simple":false,"filterType":"manual","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1152,-176],"id":"85a3803e-eda0-4832-9e55-4efb694b8efc","name":"Tasks Pending Snapshot","credentials":null},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"id":"19149815-6bc8-4320-b728-e2b558f31cef","name":"Cron 23:00","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1408,16]},{"parameters":{"jsCode":"function getTaskName(item) {\n  const props = item.json.properties || {};\n  for (const key of Object.keys(props)) {\n    const p = props[key];\n    if (p && p.type === 'title' && Array.isArray(p.title) && p.title.length > 0) {\n      return p.title.map(t => t.plain_text || '').join('').trim();\n    }\n  }\n  return '(sem nome)';\n}\n\nfunction getDueDate(item) {\n  const props = item.json.properties || {};\n  if (props['Due Date'] && props['Due Date'].date && props['Due Date'].date.start) {\n    return props['Due Date'].date.start;\n  }\n  return null;\n}\n\nfunction getStatus(item) {\n  const props = item.json.properties || {};\n  if (props['Done?'] && props['Done?'].status && props['Done?'].status.name) {\n    return props['Done?'].status.name;\n  }\n  return 'Unknown';\n}\n\nfunction getPriority(item) {\n  const props = item.json.properties || {};\n  if (props['Tags'] && props['Tags'].multi_select) {\n    const tags = props['Tags'].multi_select.map(t => t.name);\n    if (tags.includes('Prioridade Alta')) return 'Alta';\n    if (tags.includes('Prioridade Média') || tags.includes('Prioridade Media')) return 'Media';\n    if (tags.includes('Prioridade Baixa')) return 'Baixa';\n  }\n  return 'Sem';\n}\n\nfunction getDependency(item) {\n  const props = item.json.properties || {};\n  if (props['Tags'] && props['Tags'].multi_select) {\n    return props['Tags'].multi_select.some(t => t.name === 'Dependo de Terceiros');\n  }\n  return false;\n}\n\nfunction getProjectId(item) {\n  const props = item.json.properties || {};\n  if (props['Project'] && props['Project'].relation && props['Project'].relation.length > 0) {\n    return props['Project'].relation[0].id;\n  }\n  return null;\n}\n\nfunction getTodayLisbon() {\n  const now = new Date();\n  return new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Lisbon',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit'\n  }).format(now);\n}\n\nfunction isRelevant(task, todayStr) {\n  const today = new Date(todayStr + 'T00:00:00Z');\n  const minDate = new Date(today); minDate.setDate(minDate.getDate() - 7);\n  const maxDate = new Date(today); maxDate.setDate(maxDate.getDate() + 14);\n  \n  if (task.status === 'In progress') return true;\n  if (task.priority === 'Alta') return true;\n  if (task.due_date) {\n    const d = new Date(task.due_date + 'T00:00:00Z');\n    if (d >= minDate && d <= maxDate) return true;\n  }\n  return false;\n}\n\nconst today = getTodayLisbon();\n\nconst allItems = $input.all().filter(i => {\n  const props = i.json.properties || {};\n  return Object.keys(props).length > 0;\n});\n\nconst rawTasks = allItems.map(i => ({\n  id: i.json.id,\n  name: getTaskName(i),\n  due_date: getDueDate(i),\n  status: getStatus(i),\n  priority: getPriority(i),\n  depends_on_third_party: getDependency(i),\n  project_id: getProjectId(i),\n  last_edited: i.json.last_edited_time || null\n}));\n\n// DEDUP por id\nconst seenIds = new Set();\nconst allTasks = rawTasks.filter(t => {\n  if (!t.id || seenIds.has(t.id)) return false;\n  seenIds.add(t.id);\n  return true;\n});\n\nconst relevantTasks = allTasks.filter(t => isRelevant(t, today));\n\n// PATCH 2026-05-30: subset estrito de vencidas (Due < today AND status != Done)\nconst overdueStrictTasks = allTasks.filter(t => {\n  if (!t.due_date) return false;\n  if (t.status === 'Done') return false;\n  return t.due_date < today;\n});\n\nconst payload = {\n  snapshot_date: today,\n  task_count: relevantTasks.length,\n  total_pending_in_notion: allTasks.length,\n  overdue_strict: overdueStrictTasks.length,\n  raw_items_received: rawTasks.length,\n  dedup_multiplier: rawTasks.length > 0 ? Math.round(rawTasks.length / Math.max(allTasks.length, 1) * 10) / 10 : 1,\n  filter_rules: 'due_date in [today-7d, today+14d] OR priority=Alta OR status=In progress',\n  overdue_strict_rule: 'due_date < today AND status != Done',\n  tasks: relevantTasks\n};\n\nreturn [{\n  json: {\n    summary: `Notion snapshot ${today}: ${relevantTasks.length} relevantes, ${overdueStrictTasks.length} vencidas, ${allTasks.length} pendentes total`,\n    details: JSON.stringify(payload, null, 2),\n    source: 'NightShift',\n    type: 'Fact',\n    project: 'Ops',\n    importance: '2',\n    tags: JSON.stringify(['notion-snapshot', `notion-snapshot:${today}`, 'auto'])\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,-176],"id":"cdb50858-8798-4252-8f00-4e6bbef2842c","name":"Build Snapshot Payload"},{"parameters":{"workflowId":{"__rl":true,"value":"naTm33u35fDAWAIW","mode":"list","cachedResultUrl":"/workflow/naTm33u35fDAWAIW","cachedResultName":"Claude Brain — Snapshot Write v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"summary":"={{ $json.summary }}","details":"={{ $json.details }}","source":"={{ $json.source }}","type":"={{ $json.type }}","project":"={{ $json.project }}","importance":"={{ $json.importance }}","tags":"={{ $json.tags }}"},"matchingColumns":[],"schema":[{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"details","displayName":"details","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"importance","displayName":"importance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-688,-176],"id":"812690a3-66cc-4424-9242-968c67c168db","name":"Save Snapshot to Brain","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"gxVtgxoGiPD1pW0J","mode":"list","cachedResultUrl":"/workflow/gxVtgxoGiPD1pW0J","cachedResultName":"Claude Brain — Memory Read by Tag v1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mode":"single_day","target_tag":"notion-snapshot","date_tag":"={{ DateTime.fromISO($now.toISO(), {zone: 'Europe/Lisbon'}).minus({days: 1}).toFormat('yyyy-MM-dd') }}"},"matchingColumns":[],"schema":[{"id":"mode","displayName":"mode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"target_tag","displayName":"target_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date_tag","displayName":"date_tag","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"days","displayName":"days","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-160,16],"id":"eff14c03-4a21-4d14-b5e1-4440684b0a1f","name":"Get Yesterday Snapshot"}],"connections":{"Manual Trigger":{"main":[[{"node":"Tasks Done Last 30 Days","type":"main","index":0}]]},"Tasks Overdue":{"main":[[{"node":"Tasks Next 7 Days","type":"main","index":0}]]},"Build Night Shift Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Fallback Router","type":"main","index":0}]]},"Fallback Router":{"main":[[{"node":"IF Fallback","type":"main","index":0}]]},"IF Fallback":{"main":[[{"node":"Claude api","type":"main","index":0}],[{"node":"Telegram Night Shift","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Memory Write v2","type":"main","index":0}]]},"Format WhatsApp":{"main":[[{"node":"WhatsApp Night Shift","type":"main","index":0}]]},"Tasks Next 7 Days":{"main":[[{"node":"Active Projects","type":"main","index":0}]]},"Format api Response":{"main":[[{"node":"Telegram Night Shift","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0},{"node":"Memory Write v2","type":"main","index":0}]]},"Claude api":{"main":[[{"node":"Format api Response","type":"main","index":0}]]},"Tasks Done Last 30 Days":{"main":[[{"node":"Tasks Overdue","type":"main","index":0}]]},"Active Projects":{"main":[[{"node":"Get Today Summary","type":"main","index":0}]]},"Get Today Summary":{"main":[[{"node":"Get Yesterday Snapshot","type":"main","index":0}]]},"Tasks Pending Snapshot":{"main":[[{"node":"Build Snapshot Payload","type":"main","index":0}]]},"Cron 23:00":{"main":[[{"node":"Tasks Done Last 30 Days","type":"main","index":0},{"node":"Tasks Pending Snapshot","type":"main","index":0}]]},"Build Snapshot Payload":{"main":[[{"node":"Save Snapshot to Brain","type":"main","index":0}]]},"Save Snapshot to Brain":{"main":[[]]},"Get Yesterday Snapshot":{"main":[[{"node":"Build Night Shift Prompt","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[{"updatedAt":"2026-03-30T17:25:46.128Z","createdAt":"2026-03-30T17:25:46.128Z","id":"I55hCGMBk1VDjvLr","name":"claude-bridge"},{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}