claude-brain-—-memory-write-OPOVNBuiDlK6PS4Y.json
{"updatedAt":"2026-04-14T14:56:52.114Z","createdAt":"2026-04-08T09:35:57.854Z","id":"OPOVNBuiDlK6PS4Y","name":"Claude Brain — Memory Write","active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"source"},{"name":"project"},{"name":"response"}]}},"id":"6541898e-c0b6-4a04-b30b-abd9ce843d90","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-928,80]},{"parameters":{"jsCode":"const content = $input.first().json.content[0].text;\nconst source = $('Execute Workflow Trigger').first().json.source;\nconst project = $('Execute Workflow Trigger').first().json.project;\n\nlet memories = [];\ntry {\n  let cleaned = content.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/```json?\\n?/g, '').replace(/```/g, '').trim();\n  }\n  memories = JSON.parse(cleaned);\n} catch(e) {\n  return [];\n}\n\nif (!Array.isArray(memories) || memories.length === 0) {\n  return [];\n}\n\nreturn memories.map(m => ({\n  json: {\n    source: source,\n    project: project,\n    type: m.type || 'Insight',\n    summary: m.summary || '',\n    details: m.details || '',\n    importance: m.importance || 3,\n    tags: Array.isArray(m.tags) ? m.tags.join(', ') : (m.tags || '')\n  }\n}));"},"id":"84590446-bb46-4e84-9eaf-1479fd1cafc9","name":"Parse Memories JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,80]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appFTflmLuoXUSi3L","mode":"id"},"table":{"__rl":true,"value":"tblMikdFKWuCNe4Iq","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Summary":"={{ $json.summary }}","Source":"={{ $json.source }}","Project":"={{ $json.project }}","Type":"={{ $json.type }}","Details":"={{ $json.details }}","Importance":"={{ $json.importance }}","Tags":"={{ $json.tags }}"},"matchingColumns":[],"schema":[{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Source","displayName":"Source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Details","displayName":"Details","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"Importance","displayName":"Importance","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"870328b4-bad2-44e4-bc4a-d86ff3713c9f","name":"Airtable Create Memory","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[16,80],"credentials":null},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"timeout":300000}},"id":"d1aeda06-b7f5-4239-af7d-2f70c11faf1a","name":"Claude API: Haiku Extract Memories","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,80],"notes":"SETUP: Substituir YOUR_BRIDGE_TOKEN pelo token real do Mac Mini Bridge"},{"parameters":{"jsCode":"const source = $input.first().json.source;\nconst project = $input.first().json.project;\nconst response = ($input.first().json.response || '').substring(0, 6000);\n\nconst cleanResponse = response.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n');\n\nconst prompt = `Analisa esta resposta e extrai memorias uteis para sessoes futuras. Source: ${source} Project: ${project} Resposta: ${cleanResponse} Regras: So inclui informacao que seria util relembrar. Decisoes, erros, padroes, insights. Se nada relevante retorna []. Retorna APENAS um JSON array sem markdown sem backticks: [{\"type\": \"Decision|Learning|Error|Insight|Pattern\", \"summary\": \"frase curta\", \"details\": \"contexto\", \"importance\": 1-5, \"tags\": [\"tag1\"]}]`;\n\nconst body = {\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 1024,\n  messages: [\n    { role: \"user\", content: prompt }\n  ]\n};\n\nreturn [{ json: { body: JSON.stringify(body) } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,80],"id":"7f5b3e89-45ad-44a5-a688-85447a5fd6fa","name":"Prepare Haiku Body"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prepare Haiku Body","type":"main","index":0}]]},"Parse Memories JSON":{"main":[[{"node":"Airtable Create Memory","type":"main","index":0}]]},"Claude API: Haiku Extract Memories":{"main":[[{"node":"Parse Memories JSON","type":"main","index":0}]]},"Prepare Haiku Body":{"main":[[{"node":"Claude API: Haiku Extract Memories","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"fYnGvcrDamwzIZeW"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bcc6fb6b-4fd6-43ff-9041-657d75632f55","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-08T09:35:57.854Z","createdAt":"2026-04-08T09:35:57.854Z","role":"workflow:owner","workflowId":"OPOVNBuiDlK6PS4Y","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}