claude-bridge-—-weekly-swot-mac-mini-sem-memory-fVZ1nv50JbRbnv70.json
{"updatedAt":"2026-04-14T14:57:19.743Z","createdAt":"2026-04-03T13:48:24.653Z","id":"fVZ1nv50JbRbnv70","name":"Claude Bridge — Weekly SWOT Mac Mini sem Memory","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":17}]}},"id":"74f7f70d-d117-4137-be7c-1ea269a26c9d","name":"Cron Sexta 17:00 UTC","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-528,-256]},{"parameters":{"assignments":{"assignments":[{"id":"manual-trigger","name":"trigger","value":"manual","type":"string"}]},"options":{}},"id":"54416f54-82a6-494e-94a3-88920f00d23c","name":"Manual Trigger","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,-80]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"does_not_equal","statusValue":"Done"},{"key":"Due Date|date","condition":"on_or_before","date":"={{ $now.format('yyyy-MM-dd') }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[0,-176],"id":"90d2437f-041b-4de2-bfbd-287d71b26f97","name":"Tasks Atrasadas","credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Due Date|date","condition":"past_week"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[176,-176],"id":"eb36b373-60e3-4a55-bf0c-25dfcd433043","name":"Tasks Criadas Semana","executeOnce":true,"credentials":null},{"parameters":{"jsCode":"const today = new Date().toISOString().slice(0, 10);\nconst now = new Date();\nconst weekNumber = Math.ceil((((now - new Date(now.getFullYear(), 0, 1)) / 86400000) + new Date(now.getFullYear(), 0, 1).getDay() + 1) / 7);\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nconst done = $('Tasks Concluidas').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  const tags = i.json.property_tags || [];\n  return `${name}${tags.length ? ' [' + tags.join(', ') + ']' : ''}`;\n}).join('\\n');\nconst doneCount = $('Tasks Concluidas').all().length;\n\nconst overdue = $('Tasks Atrasadas').all().map(i => {\n  const name = i.json.property_name || 'Sem nome';\n  const due = i.json.property_due_date?.start || '';\n  const tags = i.json.property_tags || [];\n  const prio = tags.includes('Prioridade Alta') ? 'ALTA' : tags.includes('Prioridade Media') ? 'MEDIA' : '';\n  return `${prio ? prio + ' ' : ''}${name} (due: ${due})${tags.length ? ' [' + tags.join(', ') + ']' : ''}`;\n}).join('\\n');\nconst overdueCount = $('Tasks Atrasadas').all().length;\n\nconst createdCount = $('Tasks Criadas Semana').all().length;\n\nconst projects = $('Active Projects').all().map(i => {\n  const name = i.json.property_name || i.json.Name || 'Sem nome';\n  const type = i.json.property_type || '';\n  return `${name}${type ? ' (' + type + ')' : ''}`;\n}).join('\\n');\n\nconst prompt = `Hoje e ${date}, sexta-feira. SWOT Semanal para Ary Ribeiro.\n\nCONTEXTO: Consultor IA, 3 verticais: TJ (advogados BR R$2.997/mes), TM (clinicas BR R$2.997/mes), CL (imobiliarias PT E497/mes). Meta Q2: E12.857 trimestral (~E4.286/mes). Revenue actual: E0. Pipeline vazio = crise.\n\nPROJECTOS ACTIVOS (${$('Active Projects').all().length}):\n${projects || '(nenhum projecto activo)'}\n\nTASKS CONCLUIDAS ESTA SEMANA (${doneCount}):\n${done || '(nenhuma task concluida - semana perdida)'}\n\nTASKS ATRASADAS (${overdueCount}):\n${overdue || '(nenhuma task atrasada)'}\n\nVOLUME: ${createdCount} tasks criadas esta semana\n\nANALISA estes dados e gera um SWOT estrategico:\n\nREGRAS:\n1. STRENGTHS: baseado APENAS em tasks concluidas (wins reais)\n2. WEAKNESSES: tasks atrasadas + projectos sem actividade + revenue E0\n3. OPPORTUNITIES: padroes detectados + o que acelerar na proxima semana para gerar receita\n4. THREATS: atrasos acumulados + pipeline vazio + riscos de nao atingir meta Q2\n5. Se revenue = E0 e pipeline vazio, THREATS deve incluir risco existencial de nao gerar caixa\n6. Termina com 1 DECISAO ESTRATEGICA para a proxima semana (focada em revenue)\n7. Brutalmente honesto - zero fluff, tom de board member exigente\n8. Se nao ha dados suficientes para uma categoria, diz dados insuficientes\n\nFORMATO:\nSWOT Semanal - Semana ${weekNumber}/2026\n\nSTRENGTHS\n- [wins da semana]\n\nWEAKNESSES\n- [gaps e falhas]\n\nOPPORTUNITIES\n- [o que acelerar + revenue opportunities]\n\nTHREATS\n- [riscos acumulados + pipeline status]\n\nPROJECTOS\n- [status dos activos com flags]\n\nDECISAO #1 PROXIMA SEMANA\n[1 frase imperativa focada em revenue]\n\nMaximo 350 palavras.`;\n\nreturn [{ json: { prompt, timeout: 120000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,-176],"id":"7bd67432-a908-4311-8309-78b54fc60cef","name":"Build SWOT Prompt"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"d08b12ba-e635-4da0-baae-ac1bc41d314b","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,-176],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000},{"parameters":{"chatId":"-1002374157964","text":"=📊 *SWOT Semanal — {{ $now.format('dd/MM/yyyy') }}*\n\n{{ $('Claude Bridge').item.json.output }}\n\n---\n_⏱️ Gerado em {{ $('Claude Bridge').item.json.elapsed_s }}s via Claude Code_","additionalFields":{"parse_mode":"Markdown"}},"id":"90a10f93-23a5-46af-90b7-e8c583390bd0","name":"Telegram SWOT","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1008,-368],"webhookId":"76d880cc-be8d-4852-89f8-423aab6eb5c3","credentials":null},{"parameters":{"jsCode":"const output = $('Claude Bridge').item.json.output;\nconst elapsed = $('Claude Bridge').item.json.elapsed_s;\nconst now = new Date();\nconst date = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()}`;\n\nlet text = output\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\ntext = `📊 SWOT Semanal — ${date}\\n\\n${text}\\n\\n───\\n⏱️ Gerado em ${elapsed}s via Claude Code`;\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,0],"id":"7a5eed1c-4331-4f41-90a8-0931687fb50d","name":"Format WhatsApp"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,0],"id":"54fb6b54-8623-48bc-8231-2f3f680c69b4","name":"WhatsApp SWOT","credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"21505ed2-eb60-4966-8d64-dc0411270e03","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://www.notion.so/21505ed2eb6049668d64dc0411270e03"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Status|status","condition":"equals","statusValue":"In progress"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[368,-176],"id":"67b91aa7-a536-4674-9b52-5fafe0b5453d","name":"Active Projects","executeOnce":true,"credentials":null},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"9d2e3a24-9629-4fda-b463-a456ac6a3f22","mode":"list","cachedResultName":"Tasks","cachedResultUrl":"https://www.notion.so/9d2e3a2496294fdab463a456ac6a3f22"},"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Done?|status","condition":"equals","statusValue":"Done"},{"key":"Due Date|date","condition":"past_week"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-192,-176],"id":"e4b585c2-1868-4c8c-8e7f-b36400b6a8ab","name":"Tasks Concluidas","credentials":null}],"connections":{"Cron Sexta 17:00 UTC":{"main":[[{"node":"Tasks Concluidas","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Tasks Concluidas","type":"main","index":0}]]},"Tasks Atrasadas":{"main":[[{"node":"Tasks Criadas Semana","type":"main","index":0}]]},"Tasks Criadas Semana":{"main":[[{"node":"Active Projects","type":"main","index":0}]]},"Build SWOT Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Telegram SWOT","type":"main","index":0},{"node":"Format WhatsApp","type":"main","index":0}]]},"Format WhatsApp":{"main":[[{"node":"WhatsApp SWOT","type":"main","index":0}]]},"Active Projects":{"main":[[{"node":"Build SWOT Prompt","type":"main","index":0}]]},"Tasks Concluidas":{"main":[[{"node":"Tasks Atrasadas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"fYnGvcrDamwzIZeW"},"staticData":{"node:Cron Sexta 17:00 UTC":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"120a59c0-57e5-40d1-9d12-6cf026d32fc3","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-03T13:48:24.653Z","createdAt":"2026-04-03T13:48:24.653Z","role":"workflow:owner","workflowId":"fVZ1nv50JbRbnv70","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-30T17:25:46.128Z","createdAt":"2026-03-30T17:25:46.128Z","id":"I55hCGMBk1VDjvLr","name":"claude-bridge"}]}