cria-videos-ugc-WMhOsvi2GdnjQOtk.json
{"updatedAt":"2025-12-30T15:52:05.963Z","createdAt":"2025-12-28T19:38:03.268Z","id":"WMhOsvi2GdnjQOtk","name":"Cria Videos UGC","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Redes Sociais","formDescription":"Cria artes para redes sociais","formFields":{"values":[{"fieldLabel":"Prompt Image","placeholder":"Image Prompt","requiredField":true},{"fieldLabel":"Imagem","fieldType":"file","requiredField":true},{"fieldLabel":"Prompt Video","placeholder":"Video Prompt","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[0,0],"id":"1eb56801-1c00-40bf-8b0d-4750d893bf2b","name":"On form submission","webhookId":"19dfaaa3-c56c-4a3d-9933-679387451bde"},{"parameters":{"operation":"resize","dataPropertyName":"Imagem","width":720,"height":1280,"resizeOption":"ignoreAspectRatio","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[208,0],"id":"68b82f41-c773-41f8-98a1-65f9d9e9c512","name":"Edit Image"},{"parameters":{"resource":"video","modelId":{"__rl":true,"value":"sora-2","mode":"list","cachedResultName":"SORA-2"},"prompt":"={{ $('On form submission').item.json.Prompt }}","seconds":8,"size":"720x1280","options":{"binaryPropertyNameReference":"Imagem"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[1264,-16],"id":"1a25b65b-7473-44e3-b036-da34a9cb9416","name":"Generate a video","credentials":null},{"parameters":{"method":"POST","url":"https://platform.higgsfield.ai/nano-banana-pro","sendHeaders":true,"headerParameters":{"parameters":[{"name":"hf-api-key","value":"27659611-03e5-4183-b057-ce0416b31587"},{"name":"hf-secret","value":"9dd1e1a567613430c8d1efe8f6ea8dadaa1e86337a736844adfe65977226a57c"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"num_images","value":"1"},{"name":"resolution","value":"720p"},{"name":"aspect_ratio","value":"16:9"},{"name":"output_format","value":"png"},{"name":"image_prompt","value":"={{ $('On form submission').item.json.image_prompt }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[416,0],"id":"1f80dab4-cada-45fc-a26b-590ca4734cab","name":"Cria Imagem"},{"parameters":{"url":"https://platform.higgsfield.ai/requests/{request_id}/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"hf-api-key","value":"27659611-03e5-4183-b057-ce0416b31587"},{"name":"hf-secret","value":"9dd1e1a567613430c8d1efe8f6ea8dadaa1e86337a736844adfe65977226a57c"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[624,0],"id":"45608b20-421b-4aa4-82fe-a2a2111130a2","name":"Pega Imagem"},{"parameters":{"method":"POST","url":"https://platform.higgsfield.ai/veo3.1/fast/image-to-video","sendHeaders":true,"headerParameters":{"parameters":[{"name":"hf-api-key","value":"27659611-03e5-4183-b057-ce0416b31587"},{"name":"hf-secret","value":"9dd1e1a567613430c8d1efe8f6ea8dadaa1e86337a736844adfe65977226a57c"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"video_prompt\": \"{{ $('On form submission').item.json.video_prompt }}\",\n  \"duration\": \"8\",\n  \"resolution\": \"720\",\n  \"aspect_ratio\": \"16:9\",\n  \"generate_audio\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[832,0],"id":"d59076c3-0a5a-4118-b49d-132a76ed3fb6","name":"Cria Video"},{"parameters":{"url":"https://platform.higgsfield.ai/requests/{request_id}/status","sendHeaders":true,"headerParameters":{"parameters":[{"name":"hf-api-key","value":"27659611-03e5-4183-b057-ce0416b31587"},{"name":"hf-secret","value":"9dd1e1a567613430c8d1efe8f6ea8dadaa1e86337a736844adfe65977226a57c"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1056,0],"id":"06567a46-b740-4cfd-aa5e-ac78f5423dbc","name":"Pega Video"}],"connections":{"On form submission":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Cria Imagem","type":"main","index":0}]]},"Cria Imagem":{"main":[[{"node":"Pega Imagem","type":"main","index":0}]]},"Pega Imagem":{"main":[[{"node":"Cria Video","type":"main","index":0}]]},"Cria Video":{"main":[[{"node":"Pega Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1c041ee9-27ec-45c7-bfc5-7e92e5c1bb70","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-28T19:38:03.268Z","createdAt":"2025-12-28T19:38:03.268Z","role":"workflow:owner","workflowId":"WMhOsvi2GdnjQOtk","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[]}