daily-ops-health-check-v2-5bdVoLsne8zF5h1G.json
{"updatedAt":"2026-05-18T00:10:59.712Z","createdAt":"2026-04-28T10:18:03.868Z","id":"5bdVoLsne8zF5h1G","name":"Daily Ops Health Check v2","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"ts-since","name":"sinceUnix","value":"={{ Math.floor(DateTime.now().minus({hours: 24}).toSeconds()) }}","type":"number"},{"id":"ts-now","name":"nowBR","value":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm') }}","type":"string"},{"id":"ts-since-iso","name":"sinceISO","value":"={{ DateTime.now().minus({hours: 24}).toUTC().toISO() }}","type":"string"}]},"options":{}},"id":"c5295e59-51a0-46b3-8992-0cc2eaf87ea2","name":"Set Timestamps","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,224]},{"parameters":{"url":"=https://workflows.coletiv.me/api/v1/executions?status=error&limit=50&includeData=true&firedAfter={{ $('Set Timestamps').first().json.sinceISO }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"***REDACTED***"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"81d44bc7-6abc-470b-8aa5-95458349704c","name":"n8n Hetzner Errors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-16],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://workflowsoracle.coletiv.me/api/v1/executions?status=error&limit=50&includeData=true&firedAfter={{ $('Set Timestamps').first().json.sinceISO }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"***REDACTED***"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"23f0c6eb-2849-49f1-b737-ff76b13946dc","name":"n8n Oracle Errors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,144],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://primary-production-af84.up.railway.app/api/v1/executions?status=error&limit=50&includeData=true&firedAfter={{ $('Set Timestamps').first().json.sinceISO }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"n8n_api_7106fcbdbdf4d40033f526389678362013ef6806a543a54bc1cf025bfe8e3f7020363d15e6d31b31"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"neverError":true}},"timeout":45000}},"id":"1a2eefc9-fb42-4022-879d-3d7f591fcb5a","name":"n8n Railway Errors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,304],"onError":"continueRegularOutput"},{"parameters":{"url":"https://eu1.make.com/api/v2/scenarios?organizationId=547444","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token 8611ac74-f958-4571-b18f-b95db7731e57"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"76afcc9c-49eb-419a-b3ca-8793f91f4c9d","name":"Make List Scenarios","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,464],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Filtra scenarios ATIVOS\nconst response = $input.first().json;\nconst scenarios = response.scenarios || [];\n\nconst active = scenarios.filter(s => s.isPaused === false && s.islinked === true);\n\nif (active.length === 0) {\n  return [{ json: { skip: true, scenarioId: null, scenarioName: null } }];\n}\n\nreturn active.map(s => ({\n  json: {\n    scenarioId: s.id,\n    scenarioName: s.name\n  }\n}));"},"id":"1685909f-56b5-4cd1-b3a3-3a64f17f6024","name":"Filter Active Scenarios","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,464]},{"parameters":{"url":"=https://eu1.make.com/api/v2/dlqs?scenarioId={{ $json.scenarioId }}&status=pending","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token 8611ac74-f958-4571-b18f-b95db7731e57"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"f34e089e-e321-4d08-b341-33c052d930ad","name":"Get Scenario DLQs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,464],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Agrupa dlqs por scenario (preserva nome do scenario)\n// Filtra dlqs já auto-resolvidas (campo resolved: boolean da Make API)\nconst items = $input.all();\nconst dlqsByScenario = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const allDlqs = item.json?.dlqs || [];\n\n  // Filtro: apenas dlqs NÃO resolvidas (resolved === false ou undefined)\n  const dlqs = allDlqs.filter(d => d.resolved !== true);\n\n  if (dlqs.length === 0) continue;\n\n  const scenarioInfo = $('Filter Active Scenarios').all()[i]?.json || {};\n\n  dlqsByScenario.push({\n    scenarioId: scenarioInfo.scenarioId,\n    scenarioName: scenarioInfo.scenarioName,\n    count: dlqs.length,\n    lastError: dlqs[0]?.reason || dlqs[0]?.detail || 'unknown',\n    incompleteExecutionId: dlqs[0]?.id || null\n  });\n}\n\nreturn [{ json: { makeIncomplete: dlqsByScenario } }];"},"id":"781aa1df-c179-445e-b48d-1547e05006e7","name":"Aggregate Make","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,464]},{"parameters":{"numberInputs":4},"id":"fc34aa94-71a0-4ba4-b1fb-28f9fcabaff1","name":"Merge All Sources","type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[800,224]},{"parameters":{"jsCode":"// Consolida erros das 4 fontes em payload único\nconst sinceUnix = $('Set Timestamps').first().json.sinceUnix;\nconst nowBR = $('Set Timestamps').first().json.nowBR;\n\n// Coleta de cada fonte (nodes nomeados)\nconst hetznerRaw = $('n8n Hetzner Errors').first()?.json?.data || [];\nconst oracleRaw = $('n8n Oracle Errors').first()?.json?.data || [];\nconst railwayRaw = $('n8n Railway Errors').first()?.json?.data || [];\nconst makeRaw = $('Aggregate Make').first()?.json?.makeIncomplete || [];\n\n// URLs base\nconst urls = {\n  hetzner: 'https://workflows.coletiv.me',\n  oracle: 'https://workflowsoracle.coletiv.me',\n  railway: 'https://primary-production-af84.up.railway.app',\n  makeBase: 'https://eu1.make.com'\n};\n\n// Filtra n8n por janela 24h e agrupa por workflowId\nfunction processN8n(executions, baseUrl, sourceName) {\n  if (!Array.isArray(executions)) return [];\n  \n  const recent = executions.filter(e => {\n    const stoppedAt = e.stoppedAt ? new Date(e.stoppedAt).getTime() / 1000 : 0;\n    return stoppedAt >= sinceUnix;\n  });\n\n  const byWorkflow = {};\n  for (const exec of recent) {\n    const wfId = exec.workflowId;\n    const wfName = exec.workflowData?.name || exec.workflow?.name || `Workflow ${wfId}`;\n    if (!byWorkflow[wfId]) {\n      byWorkflow[wfId] = {\n        workflowId: wfId,\n        workflowName: wfName,\n        count: 0,\n        lastErrorMessage: null,\n        lastExecutionId: null,\n        source: sourceName,\n        link: `${baseUrl}/workflow/${wfId}`\n      };\n    }\n    byWorkflow[wfId].count += 1;\n    if (!byWorkflow[wfId].lastExecutionId) {\n      byWorkflow[wfId].lastExecutionId = exec.id;\n      byWorkflow[wfId].lastErrorMessage = exec.data?.resultData?.error?.message || 'Sem mensagem';\n      byWorkflow[wfId].executionLink = `${baseUrl}/workflow/${wfId}/executions/${exec.id}`;\n    }\n  }\n  return Object.values(byWorkflow);\n}\n\nconst hetznerErrors = processN8n(hetznerRaw, urls.hetzner, 'Hetzner');\nconst oracleErrors = processN8n(oracleRaw, urls.oracle, 'Oracle');\nconst railwayErrors = processN8n(railwayRaw, urls.railway, 'Railway');\n\n// Make: enriquecer com link\nconst makeErrors = makeRaw.map(m => ({\n  ...m,\n  source: 'Make',\n  link: `${urls.makeBase}/scenarios/${m.scenarioId}/edit`,\n  incompleteLink: `${urls.makeBase}/scenarios/${m.scenarioId}/incomplete-executions`\n}));\n\nconst totalErrors = \n  hetznerErrors.reduce((s, w) => s + w.count, 0) +\n  oracleErrors.reduce((s, w) => s + w.count, 0) +\n  railwayErrors.reduce((s, w) => s + w.count, 0) +\n  makeErrors.reduce((s, w) => s + w.count, 0);\n\nconst totalWorkflows = \n  hetznerErrors.length + oracleErrors.length + railwayErrors.length + makeErrors.length;\n\nreturn [{\n  json: {\n    timestamp: nowBR,\n    totalErrors,\n    totalWorkflows,\n    shouldAlert: totalErrors > 0,\n    sources: {\n      hetzner: hetznerErrors,\n      oracle: oracleErrors,\n      railway: railwayErrors,\n      make: makeErrors\n    }\n  }\n}];"},"id":"9b87785a-a458-4068-9e80-ac7667886c43","name":"Consolidate Errors","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"should-alert","leftValue":"={{ $json.shouldAlert }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3f644a4a-e0ff-4194-aaa3-14e6f50a2dbe","name":"IF Has Errors?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,256]},{"parameters":{"jsCode":"// Formata mensagem Telegram (HTML mode)\nconst data = $input.first().json;\nconst { timestamp, totalErrors, totalWorkflows, sources } = data;\n\nlet msg = `<b>🚨 Daily Ops Health Check</b>\\n`;\nmsg += `<i>${timestamp} BRT — últimas 24h</i>\\n\\n`;\nmsg += `<b>Total:</b> ${totalErrors} erros em ${totalWorkflows} workflows\\n\\n`;\n\nfunction esc(s) {\n  return String(s || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\n\nfunction formatSection(title, emoji, items) {\n  if (items.length === 0) return '';\n  let section = `<b>${emoji} ${title}</b> (${items.length})\\n`;\n  for (const w of items.slice(0, 10)) {\n    const name = esc((w.workflowName || w.scenarioName || 'unknown').substring(0, 60));\n    const link = w.executionLink || w.incompleteLink || w.link;\n    section += `• <a href=\"${link}\">${name}</a> — ${w.count}x\\n`;\n    const errMsg = (w.lastErrorMessage || w.lastError || '').toString().substring(0, 120);\n    if (errMsg) {\n      section += `  <i>↳ ${esc(errMsg)}</i>\\n`;\n    }\n  }\n  if (items.length > 10) section += `  ... +${items.length - 10} outros\\n`;\n  return section + '\\n';\n}\n\nmsg += formatSection('n8n Hetzner', '🔵', sources.hetzner);\nmsg += formatSection('n8n Oracle', '🟠', sources.oracle);\nmsg += formatSection('n8n Railway', '🟣', sources.railway);\nmsg += formatSection('Make Incomplete', '🔴', sources.make);\n\nreturn [{ json: { telegramMessage: msg.trim() } }];"},"id":"8a86c7c6-3127-4c92-8de5-61380f2bf5fe","name":"Format Telegram Msg","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,144]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8052255020:AAFsRlZNXdJLk2kE3fcltD67iXgBuM7ilq0/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": \"1104447486\",\n  \"text\": {{ JSON.stringify($json.telegramMessage) }},\n  \"parse_mode\": \"HTML\",\n  \"disable_web_page_preview\": true\n}","options":{"timeout":10000}},"id":"641651c9-3510-4eed-9e69-5ac0ff9ac641","name":"Send Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,144]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1408,352],"id":"019d8730-8501-4140-8292-f3422513cd77","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 11 * * *"}]}},"id":"76d49ef6-debf-4a31-a841-2673eafb45e8","name":"Schedule 08:00 BRT","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-448,224]}],"connections":{"Set Timestamps":{"main":[[{"node":"n8n Hetzner Errors","type":"main","index":0},{"node":"n8n Oracle Errors","type":"main","index":0},{"node":"n8n Railway Errors","type":"main","index":0},{"node":"Make List Scenarios","type":"main","index":0}]]},"Make List Scenarios":{"main":[[{"node":"Filter Active Scenarios","type":"main","index":0}]]},"Filter Active Scenarios":{"main":[[{"node":"Get Scenario DLQs","type":"main","index":0}]]},"Get Scenario DLQs":{"main":[[{"node":"Aggregate Make","type":"main","index":0}]]},"n8n Hetzner Errors":{"main":[[{"node":"Merge All Sources","type":"main","index":0}]]},"n8n Oracle Errors":{"main":[[{"node":"Merge All Sources","type":"main","index":1}]]},"n8n Railway Errors":{"main":[[{"node":"Merge All Sources","type":"main","index":2}]]},"Aggregate Make":{"main":[[{"node":"Merge All Sources","type":"main","index":3}]]},"Merge All Sources":{"main":[[{"node":"Consolidate Errors","type":"main","index":0}]]},"Consolidate Errors":{"main":[[{"node":"IF Has Errors?","type":"main","index":0}]]},"IF Has Errors?":{"main":[[{"node":"Format Telegram Msg","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Format Telegram Msg":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]},"Schedule 08:00 BRT":{"main":[[{"node":"Set Timestamps","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataErrorExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu","saveDataSuccessExecution":"all","executionTimeout":600},"staticData":{"node:Schedule 08:00 BRT":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"39f836a9-a110-43fd-a08b-e4936551b63b","activeVersionId":"39f836a9-a110-43fd-a08b-e4936551b63b","triggerCount":1,"shared":[{"updatedAt":"2026-04-28T10:18:03.868Z","createdAt":"2026-04-28T10:18:03.868Z","role":"workflow:owner","workflowId":"5bdVoLsne8zF5h1G","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-18T00:10:59.719Z","createdAt":"2026-05-18T00:10:59.719Z","versionId":"39f836a9-a110-43fd-a08b-e4936551b63b","workflowId":"5bdVoLsne8zF5h1G","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"ts-since","name":"sinceUnix","value":"={{ Math.floor(DateTime.now().minus({hours: 24}).toSeconds()) }}","type":"number"},{"id":"ts-now","name":"nowBR","value":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm') }}","type":"string"},{"id":"ts-since-iso","name":"sinceISO","value":"={{ DateTime.now().minus({hours: 24}).toUTC().toISO() }}","type":"string"}]},"options":{}},"id":"c5295e59-51a0-46b3-8992-0cc2eaf87ea2","name":"Set Timestamps","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,224]},{"parameters":{"url":"=https://workflows.coletiv.me/api/v1/executions?status=error&limit=50&includeData=true&firedAfter={{ $('Set Timestamps').first().json.sinceISO }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"***REDACTED***"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"81d44bc7-6abc-470b-8aa5-95458349704c","name":"n8n Hetzner Errors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-16],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://workflowsoracle.coletiv.me/api/v1/executions?status=error&limit=50&includeData=true&firedAfter={{ $('Set Timestamps').first().json.sinceISO }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"***REDACTED***"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"23f0c6eb-2849-49f1-b737-ff76b13946dc","name":"n8n Oracle Errors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,144],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://primary-production-af84.up.railway.app/api/v1/executions?status=error&limit=50&includeData=true&firedAfter={{ $('Set Timestamps').first().json.sinceISO }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"n8n_api_7106fcbdbdf4d40033f526389678362013ef6806a543a54bc1cf025bfe8e3f7020363d15e6d31b31"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"neverError":true}},"timeout":45000}},"id":"1a2eefc9-fb42-4022-879d-3d7f591fcb5a","name":"n8n Railway Errors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,304],"onError":"continueRegularOutput"},{"parameters":{"url":"https://eu1.make.com/api/v2/scenarios?organizationId=547444","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token 8611ac74-f958-4571-b18f-b95db7731e57"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"76afcc9c-49eb-419a-b3ca-8793f91f4c9d","name":"Make List Scenarios","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,464],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Filtra scenarios ATIVOS\nconst response = $input.first().json;\nconst scenarios = response.scenarios || [];\n\nconst active = scenarios.filter(s => s.isPaused === false && s.islinked === true);\n\nif (active.length === 0) {\n  return [{ json: { skip: true, scenarioId: null, scenarioName: null } }];\n}\n\nreturn active.map(s => ({\n  json: {\n    scenarioId: s.id,\n    scenarioName: s.name\n  }\n}));"},"id":"1685909f-56b5-4cd1-b3a3-3a64f17f6024","name":"Filter Active Scenarios","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,464]},{"parameters":{"url":"=https://eu1.make.com/api/v2/dlqs?scenarioId={{ $json.scenarioId }}&status=pending","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token 8611ac74-f958-4571-b18f-b95db7731e57"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"f34e089e-e321-4d08-b341-33c052d930ad","name":"Get Scenario DLQs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,464],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Agrupa dlqs por scenario (preserva nome do scenario)\n// Filtra dlqs já auto-resolvidas (campo resolved: boolean da Make API)\nconst items = $input.all();\nconst dlqsByScenario = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const allDlqs = item.json?.dlqs || [];\n\n  // Filtro: apenas dlqs NÃO resolvidas (resolved === false ou undefined)\n  const dlqs = allDlqs.filter(d => d.resolved !== true);\n\n  if (dlqs.length === 0) continue;\n\n  const scenarioInfo = $('Filter Active Scenarios').all()[i]?.json || {};\n\n  dlqsByScenario.push({\n    scenarioId: scenarioInfo.scenarioId,\n    scenarioName: scenarioInfo.scenarioName,\n    count: dlqs.length,\n    lastError: dlqs[0]?.reason || dlqs[0]?.detail || 'unknown',\n    incompleteExecutionId: dlqs[0]?.id || null\n  });\n}\n\nreturn [{ json: { makeIncomplete: dlqsByScenario } }];"},"id":"781aa1df-c179-445e-b48d-1547e05006e7","name":"Aggregate Make","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,464]},{"parameters":{"numberInputs":4},"id":"fc34aa94-71a0-4ba4-b1fb-28f9fcabaff1","name":"Merge All Sources","type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[800,224]},{"parameters":{"jsCode":"// Consolida erros das 4 fontes em payload único\nconst sinceUnix = $('Set Timestamps').first().json.sinceUnix;\nconst nowBR = $('Set Timestamps').first().json.nowBR;\n\n// Coleta de cada fonte (nodes nomeados)\nconst hetznerRaw = $('n8n Hetzner Errors').first()?.json?.data || [];\nconst oracleRaw = $('n8n Oracle Errors').first()?.json?.data || [];\nconst railwayRaw = $('n8n Railway Errors').first()?.json?.data || [];\nconst makeRaw = $('Aggregate Make').first()?.json?.makeIncomplete || [];\n\n// URLs base\nconst urls = {\n  hetzner: 'https://workflows.coletiv.me',\n  oracle: 'https://workflowsoracle.coletiv.me',\n  railway: 'https://primary-production-af84.up.railway.app',\n  makeBase: 'https://eu1.make.com'\n};\n\n// Filtra n8n por janela 24h e agrupa por workflowId\nfunction processN8n(executions, baseUrl, sourceName) {\n  if (!Array.isArray(executions)) return [];\n  \n  const recent = executions.filter(e => {\n    const stoppedAt = e.stoppedAt ? new Date(e.stoppedAt).getTime() / 1000 : 0;\n    return stoppedAt >= sinceUnix;\n  });\n\n  const byWorkflow = {};\n  for (const exec of recent) {\n    const wfId = exec.workflowId;\n    const wfName = exec.workflowData?.name || exec.workflow?.name || `Workflow ${wfId}`;\n    if (!byWorkflow[wfId]) {\n      byWorkflow[wfId] = {\n        workflowId: wfId,\n        workflowName: wfName,\n        count: 0,\n        lastErrorMessage: null,\n        lastExecutionId: null,\n        source: sourceName,\n        link: `${baseUrl}/workflow/${wfId}`\n      };\n    }\n    byWorkflow[wfId].count += 1;\n    if (!byWorkflow[wfId].lastExecutionId) {\n      byWorkflow[wfId].lastExecutionId = exec.id;\n      byWorkflow[wfId].lastErrorMessage = exec.data?.resultData?.error?.message || 'Sem mensagem';\n      byWorkflow[wfId].executionLink = `${baseUrl}/workflow/${wfId}/executions/${exec.id}`;\n    }\n  }\n  return Object.values(byWorkflow);\n}\n\nconst hetznerErrors = processN8n(hetznerRaw, urls.hetzner, 'Hetzner');\nconst oracleErrors = processN8n(oracleRaw, urls.oracle, 'Oracle');\nconst railwayErrors = processN8n(railwayRaw, urls.railway, 'Railway');\n\n// Make: enriquecer com link\nconst makeErrors = makeRaw.map(m => ({\n  ...m,\n  source: 'Make',\n  link: `${urls.makeBase}/scenarios/${m.scenarioId}/edit`,\n  incompleteLink: `${urls.makeBase}/scenarios/${m.scenarioId}/incomplete-executions`\n}));\n\nconst totalErrors = \n  hetznerErrors.reduce((s, w) => s + w.count, 0) +\n  oracleErrors.reduce((s, w) => s + w.count, 0) +\n  railwayErrors.reduce((s, w) => s + w.count, 0) +\n  makeErrors.reduce((s, w) => s + w.count, 0);\n\nconst totalWorkflows = \n  hetznerErrors.length + oracleErrors.length + railwayErrors.length + makeErrors.length;\n\nreturn [{\n  json: {\n    timestamp: nowBR,\n    totalErrors,\n    totalWorkflows,\n    shouldAlert: totalErrors > 0,\n    sources: {\n      hetzner: hetznerErrors,\n      oracle: oracleErrors,\n      railway: railwayErrors,\n      make: makeErrors\n    }\n  }\n}];"},"id":"9b87785a-a458-4068-9e80-ac7667886c43","name":"Consolidate Errors","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"should-alert","leftValue":"={{ $json.shouldAlert }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3f644a4a-e0ff-4194-aaa3-14e6f50a2dbe","name":"IF Has Errors?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,256]},{"parameters":{"jsCode":"// Formata mensagem Telegram (HTML mode)\nconst data = $input.first().json;\nconst { timestamp, totalErrors, totalWorkflows, sources } = data;\n\nlet msg = `<b>🚨 Daily Ops Health Check</b>\\n`;\nmsg += `<i>${timestamp} BRT — últimas 24h</i>\\n\\n`;\nmsg += `<b>Total:</b> ${totalErrors} erros em ${totalWorkflows} workflows\\n\\n`;\n\nfunction esc(s) {\n  return String(s || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\n\nfunction formatSection(title, emoji, items) {\n  if (items.length === 0) return '';\n  let section = `<b>${emoji} ${title}</b> (${items.length})\\n`;\n  for (const w of items.slice(0, 10)) {\n    const name = esc((w.workflowName || w.scenarioName || 'unknown').substring(0, 60));\n    const link = w.executionLink || w.incompleteLink || w.link;\n    section += `• <a href=\"${link}\">${name}</a> — ${w.count}x\\n`;\n    const errMsg = (w.lastErrorMessage || w.lastError || '').toString().substring(0, 120);\n    if (errMsg) {\n      section += `  <i>↳ ${esc(errMsg)}</i>\\n`;\n    }\n  }\n  if (items.length > 10) section += `  ... +${items.length - 10} outros\\n`;\n  return section + '\\n';\n}\n\nmsg += formatSection('n8n Hetzner', '🔵', sources.hetzner);\nmsg += formatSection('n8n Oracle', '🟠', sources.oracle);\nmsg += formatSection('n8n Railway', '🟣', sources.railway);\nmsg += formatSection('Make Incomplete', '🔴', sources.make);\n\nreturn [{ json: { telegramMessage: msg.trim() } }];"},"id":"8a86c7c6-3127-4c92-8de5-61380f2bf5fe","name":"Format Telegram Msg","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,144]},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8052255020:AAFsRlZNXdJLk2kE3fcltD67iXgBuM7ilq0/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": \"1104447486\",\n  \"text\": {{ JSON.stringify($json.telegramMessage) }},\n  \"parse_mode\": \"HTML\",\n  \"disable_web_page_preview\": true\n}","options":{"timeout":10000}},"id":"641651c9-3510-4eed-9e69-5ac0ff9ac641","name":"Send Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,144]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1408,352],"id":"019d8730-8501-4140-8292-f3422513cd77","name":"No Operation, do nothing"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 11 * * *"}]}},"id":"76d49ef6-debf-4a31-a841-2673eafb45e8","name":"Schedule 08:00 BRT","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-448,224]}],"connections":{"Set Timestamps":{"main":[[{"node":"n8n Hetzner Errors","type":"main","index":0},{"node":"n8n Oracle Errors","type":"main","index":0},{"node":"n8n Railway Errors","type":"main","index":0},{"node":"Make List Scenarios","type":"main","index":0}]]},"Make List Scenarios":{"main":[[{"node":"Filter Active Scenarios","type":"main","index":0}]]},"Filter Active Scenarios":{"main":[[{"node":"Get Scenario DLQs","type":"main","index":0}]]},"Get Scenario DLQs":{"main":[[{"node":"Aggregate Make","type":"main","index":0}]]},"n8n Hetzner Errors":{"main":[[{"node":"Merge All Sources","type":"main","index":0}]]},"n8n Oracle Errors":{"main":[[{"node":"Merge All Sources","type":"main","index":1}]]},"n8n Railway Errors":{"main":[[{"node":"Merge All Sources","type":"main","index":2}]]},"Aggregate Make":{"main":[[{"node":"Merge All Sources","type":"main","index":3}]]},"Merge All Sources":{"main":[[{"node":"Consolidate Errors","type":"main","index":0}]]},"Consolidate Errors":{"main":[[{"node":"IF Has Errors?","type":"main","index":0}]]},"IF Has Errors?":{"main":[[{"node":"Format Telegram Msg","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Format Telegram Msg":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]},"Schedule 08:00 BRT":{"main":[[{"node":"Set Timestamps","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[{"updatedAt":"2026-04-28T10:09:34.496Z","createdAt":"2026-04-28T10:09:34.496Z","id":"Qhji9oQsKJuTCIOx","name":"ops"},{"updatedAt":"2026-04-28T10:09:34.510Z","createdAt":"2026-04-28T10:09:34.510Z","id":"3BV1xFRnIRgwpQ4V","name":"monitoring"}]}