daily-ops-health-check-v1-YFKMNp4nzhw04h7o.json
{"updatedAt":"2026-04-28T10:15:11.425Z","createdAt":"2026-04-28T10:10:12.089Z","id":"YFKMNp4nzhw04h7o","name":"Daily Ops Health Check v1","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 10 * * *"}]}},"id":"3c503d1e-299a-4846-adb2-4da638893533","name":"Schedule 07:00 BRT","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-448,160]},{"parameters":{"assignments":{"assignments":[{"id":"ts-since","name":"sinceISO","value":"={{ DateTime.now().minus({hours: 24}).toISO() }}","type":"string"},{"id":"ts-since-unix","name":"sinceUnix","value":"={{ Math.floor(DateTime.now().minus({hours: 24}).toSeconds()) }}","type":"number"},{"id":"ts-now","name":"nowBR","value":"={{ DateTime.now().setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm') }}","type":"string"}]},"options":{}},"id":"fa54d3c8-d460-40aa-8b49-6aadec17c3d2","name":"Set Timestamps","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,160]},{"parameters":{"url":"=https://workflows.coletiv.me/api/v1/executions?status=error&limit=100","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env.N8N_HETZNER_API_KEY }}"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"257f0f0b-bbd8-47cf-acce-392225864e56","name":"n8n Hetzner Errors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-48]},{"parameters":{"url":"=https://workflowsoracle.coletiv.me/api/v1/executions?status=error&limit=100","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env.N8N_ORACLE_API_KEY }}"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"e094da8c-730d-495c-b90b-a73339e7b332","name":"n8n Oracle Errors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,112]},{"parameters":{"url":"=https://primary-production-af84.up.railway.app/api/v1/executions?status=error&limit=100","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env.N8N_RAILWAY_API_KEY }}"},{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"9c5e1c34-743c-433c-b98c-43d553031f34","name":"n8n Railway Errors","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,272]},{"parameters":{"url":"=https://eu1.make.com/api/v2/scenarios?organizationId=547444","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Token {{ $env.MAKE_API_KEY }}"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"1d6fba34-ec7a-4028-997c-5b685c9eab6d","name":"Make List Scenarios","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,432]},{"parameters":{"jsCode":"// Filtra scenarios ATIVOS e prepara lista para iteração\nconst response = $input.first().json;\nconst scenarios = response.scenarios || [];\n\nconst active = scenarios.filter(s => s.isPaused === false && s.islinked === true);\n\nreturn active.map(s => ({\n  json: {\n    scenarioId: s.id,\n    scenarioName: s.name,\n    folderId: s.folderId\n  }\n}));"},"id":"628e3d05-b543-422e-bb03-1ccf09169d25","name":"Filter Active Scenarios","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,432]},{"parameters":{"url":"=https://eu1.make.com/api/v2/dlqs?scenarioId={{ $json.scenarioId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Token {{ $env.MAKE_API_KEY }}"}]},"options":{"response":{"response":{"neverError":true}},"timeout":15000}},"id":"9117731b-1c5b-46b1-81e5-519334c2c066","name":"Get Scenario DLQs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,432]},{"parameters":{"jsCode":"// Agrupa dlqs por scenario\nconst items = $input.all();\nconst dlqsByScenario = [];\n\nfor (const item of items) {\n  const dlqs = item.json.dlqs || [];\n  if (dlqs.length === 0) continue;\n\n  // scenario info vem do node anterior via $('Filter Active Scenarios')\n  const idx = items.indexOf(item);\n  const scenarioInfo = $('Filter Active Scenarios').all()[idx]?.json || {};\n\n  dlqsByScenario.push({\n    scenarioId: scenarioInfo.scenarioId,\n    scenarioName: scenarioInfo.scenarioName,\n    count: dlqs.length,\n    lastError: dlqs[0]?.reason || 'unknown',\n    incompleteExecutionId: dlqs[0]?.id || null\n  });\n}\n\nreturn [{ json: { makeIncomplete: dlqsByScenario } }];"},"id":"2bdad384-1056-4cba-b461-dc643316dc16","name":"Aggregate Make","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,432]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"99bd2a83-674c-4a48-add3-44c3ec5ac85b","name":"Merge All Sources","type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[800,48]},{"parameters":{"jsCode":"// Consolida erros das 4 fontes em payload único\nconst sinceUnix = $('Set Timestamps').first().json.sinceUnix;\nconst nowBR = $('Set Timestamps').first().json.nowBR;\n\n// Coleta de cada fonte\nconst hetznerRaw = $('n8n Hetzner Errors').first()?.json?.data || [];\nconst oracleRaw = $('n8n Oracle Errors').first()?.json?.data || [];\nconst railwayRaw = $('n8n Railway Errors').first()?.json?.data || [];\nconst makeRaw = $('Aggregate Make').first()?.json?.makeIncomplete || [];\n\n// URLs base (para construir links)\nconst urls = {\n  hetzner: 'https://workflows.coletiv.me',\n  oracle: 'https://workflowsoracle.coletiv.me',\n  railway: 'https://primary-production-af84.up.railway.app',\n  makeBase: 'https://eu1.make.com'\n};\n\n// Filtra n8n por janela 24h e agrupa por workflowId\nfunction processN8n(executions, baseUrl, sourceName) {\n  const recent = executions.filter(e => {\n    const stoppedAt = e.stoppedAt ? new Date(e.stoppedAt).getTime() / 1000 : 0;\n    return stoppedAt >= sinceUnix;\n  });\n\n  const byWorkflow = {};\n  for (const exec of recent) {\n    const wfId = exec.workflowId;\n    const wfName = exec.workflowData?.name || `Workflow ${wfId}`;\n    if (!byWorkflow[wfId]) {\n      byWorkflow[wfId] = {\n        workflowId: wfId,\n        workflowName: wfName,\n        count: 0,\n        lastErrorMessage: null,\n        lastExecutionId: null,\n        source: sourceName,\n        link: `${baseUrl}/workflow/${wfId}`\n      };\n    }\n    byWorkflow[wfId].count += 1;\n    if (!byWorkflow[wfId].lastExecutionId) {\n      byWorkflow[wfId].lastExecutionId = exec.id;\n      byWorkflow[wfId].lastErrorMessage = exec.data?.resultData?.error?.message || 'Sem mensagem';\n      byWorkflow[wfId].executionLink = `${baseUrl}/workflow/${wfId}/executions/${exec.id}`;\n    }\n  }\n  return Object.values(byWorkflow);\n}\n\nconst hetznerErrors = processN8n(hetznerRaw, urls.hetzner, 'Hetzner');\nconst oracleErrors = processN8n(oracleRaw, urls.oracle, 'Oracle');\nconst railwayErrors = processN8n(railwayRaw, urls.railway, 'Railway');\n\n// Make: enriquecer com link\nconst makeErrors = makeRaw.map(m => ({\n  ...m,\n  source: 'Make',\n  link: `${urls.makeBase}/scenarios/${m.scenarioId}/edit`,\n  incompleteLink: m.incompleteExecutionId \n    ? `${urls.makeBase}/scenarios/${m.scenarioId}/incomplete-executions`\n    : null\n}));\n\nconst totalErrors = \n  hetznerErrors.reduce((s, w) => s + w.count, 0) +\n  oracleErrors.reduce((s, w) => s + w.count, 0) +\n  railwayErrors.reduce((s, w) => s + w.count, 0) +\n  makeErrors.reduce((s, w) => s + w.count, 0);\n\nconst totalWorkflows = \n  hetznerErrors.length + oracleErrors.length + railwayErrors.length + makeErrors.length;\n\nreturn [{\n  json: {\n    timestamp: nowBR,\n    totalErrors,\n    totalWorkflows,\n    shouldAlert: totalErrors > 0,\n    sources: {\n      hetzner: hetznerErrors,\n      oracle: oracleErrors,\n      railway: railwayErrors,\n      make: makeErrors\n    }\n  }\n}];"},"id":"aa26f42e-ebb7-4bc1-9550-a36551c4d599","name":"Consolidate Errors","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,48]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"should-alert","leftValue":"={{ $json.shouldAlert }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"f6b81388-8925-4ab2-8201-1c2b3ae7c437","name":"IF Has Errors?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,48]},{"parameters":{"jsCode":"// Formata mensagem Telegram (HTML mode)\nconst data = $input.first().json;\nconst { timestamp, totalErrors, totalWorkflows, sources } = data;\n\nlet msg = `<b>🚨 Daily Ops Health Check</b>\\n`;\nmsg += `<i>${timestamp} BRT — últimas 24h</i>\\n\\n`;\nmsg += `<b>Total:</b> ${totalErrors} erros em ${totalWorkflows} workflows\\n\\n`;\n\nfunction formatSection(title, emoji, items) {\n  if (items.length === 0) return '';\n  let section = `<b>${emoji} ${title}</b> (${items.length})\\n`;\n  for (const w of items.slice(0, 10)) {\n    const name = (w.workflowName || w.scenarioName || 'unknown').substring(0, 60);\n    const link = w.executionLink || w.incompleteLink || w.link;\n    section += `• <a href=\"${link}\">${name}</a> — ${w.count}x\\n`;\n    const errMsg = (w.lastErrorMessage || w.lastError || '').substring(0, 120);\n    if (errMsg) {\n      const escaped = errMsg.replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/&/g, '&amp;');\n      section += `  <i>↳ ${escaped}</i>\\n`;\n    }\n  }\n  if (items.length > 10) section += `  ... +${items.length - 10} outros\\n`;\n  return section + '\\n';\n}\n\nmsg += formatSection('n8n Hetzner', '🔵', sources.hetzner);\nmsg += formatSection('n8n Oracle', '🟠', sources.oracle);\nmsg += formatSection('n8n Railway', '🟣', sources.railway);\nmsg += formatSection('Make Incomplete', '🔴', sources.make);\n\nreturn [{ json: { telegramMessage: msg.trim() } }];"},"id":"222884be-738f-434d-ab99-26f450807694","name":"Format Telegram Msg","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,-144]},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $env.TELEGRAM_OPS_BOT_TOKEN }}/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": \"{{ $env.TELEGRAM_OPS_CHAT_ID }}\",\n  \"text\": {{ JSON.stringify($json.telegramMessage) }},\n  \"parse_mode\": \"HTML\",\n  \"disable_web_page_preview\": true\n}","options":{"timeout":10000}},"id":"be4cafbe-4b98-4a0a-8925-c2724eea4dae","name":"Send Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,-144]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1408,240],"id":"731723bb-2b51-4126-a4d7-54f0b793c5dc","name":"No Operation, do nothing"}],"connections":{"Schedule 07:00 BRT":{"main":[[{"node":"Set Timestamps","type":"main","index":0}]]},"Set Timestamps":{"main":[[{"node":"n8n Hetzner Errors","type":"main","index":0},{"node":"n8n Oracle Errors","type":"main","index":0},{"node":"n8n Railway Errors","type":"main","index":0},{"node":"Make List Scenarios","type":"main","index":0}]]},"Make List Scenarios":{"main":[[{"node":"Filter Active Scenarios","type":"main","index":0}]]},"Filter Active Scenarios":{"main":[[{"node":"Get Scenario DLQs","type":"main","index":0}]]},"Get Scenario DLQs":{"main":[[{"node":"Aggregate Make","type":"main","index":0}]]},"n8n Hetzner Errors":{"main":[[{"node":"Merge All Sources","type":"main","index":0}]]},"n8n Oracle Errors":{"main":[[{"node":"Merge All Sources","type":"main","index":1}]]},"Merge All Sources":{"main":[[{"node":"Consolidate Errors","type":"main","index":0}]]},"Consolidate Errors":{"main":[[{"node":"IF Has Errors?","type":"main","index":0}]]},"IF Has Errors?":{"main":[[{"node":"Format Telegram Msg","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Format Telegram Msg":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"49842667-f5b4-426b-987e-6f86affe510c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-28T10:10:12.089Z","createdAt":"2026-04-28T10:10:12.089Z","role":"workflow:owner","workflowId":"YFKMNp4nzhw04h7o","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-28T10:09:34.510Z","createdAt":"2026-04-28T10:09:34.510Z","id":"3BV1xFRnIRgwpQ4V","name":"monitoring"},{"updatedAt":"2026-04-28T10:09:34.496Z","createdAt":"2026-04-28T10:09:34.496Z","id":"Qhji9oQsKJuTCIOx","name":"ops"}]}