error-router-make-self-healing-mac-mini-sem-memory-cLq2cZjKM9UPFPvG.json
{"updatedAt":"2026-04-14T14:57:01.634Z","createdAt":"2026-04-03T14:30:37.196Z","id":"cLq2cZjKM9UPFPvG","name":"Error Router Make Self-Healing Mac Mini sem Memory","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"d6cfb135-ec1d-4879-a9ea-5240365c81ec","options":{}},"id":"8c49fa70-1f8d-43dd-a06c-8bb09ab89514","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-256,688],"webhookId":"d6cfb135-ec1d-4879-a9ea-5240365c81ec"},{"parameters":{"assignments":{"assignments":[{"id":"cred_1","name":"evo_api_key","value":"2vGHmKALc8VcXLSluKQO","type":"string"},{"id":"cred_2","name":"evo_instanciaID","value":"E240888B2C3F-4435-950D-ACFDD7E234B6","type":"string"},{"id":"cred_3","name":"nome_da_instancia","value":"Mkt Atend 2","type":"string"},{"id":"cred_4","name":"numero_notificacao","value":"+351913095597","type":"string"}]},"options":{}},"id":"db92e430-0d5e-4a96-bd0d-136c1ae4c9d9","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,688]},{"parameters":{"assignments":{"assignments":[{"id":"err_1","name":"scenario_name","value":"={{ $('Webhook1').item.json.body.scenarioName ?? $('Webhook1').item.json.body.scenario_name ?? 'Unknown' }}","type":"string"},{"id":"err_2","name":"scenario_id","value":"={{ $('Webhook1').item.json.body.scenarioId ?? $('Webhook1').item.json.body.scenario_id ?? 'Unknown' }}","type":"string"},{"id":"err_3","name":"error_message","value":"={{ $('Webhook1').item.json.body.errorMessage ?? $('Webhook1').item.json.body.error_message ?? $('Webhook1').item.json.body.error ?? 'No error message' }}","type":"string"},{"id":"err_4","name":"module_name","value":"={{ $('Webhook1').item.json.body.moduleName ?? $('Webhook1').item.json.body.module_name ?? 'Unknown' }}","type":"string"},{"id":"err_5","name":"make_url","value":"=https://eu1.make.com/337878/scenarios/{{ $('Webhook1').item.json.body.scenarioId ?? $('Webhook1').item.json.body.scenario_id ?? '' }}/edit","type":"string"}]},"options":{}},"id":"3d51e6f2-e2c6-4161-a9f8-b9298c583937","name":"Extract Error Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[176,688]},{"parameters":{"jsCode":"const data = $('Extract Error Data').item.json;\n\nconst prompt = `Você é um especialista em Make.com (Integromat). Um cenário Make falhou e precisa de diagnóstico.\n\nSe existir, lê a skill em /home/claude/.claude/skills/n8n-doctor/SKILL.md para contexto sobre padrões de erro em automação (muitos padrões são comuns entre n8n e Make).\n\nERRO DETECTADO:\nCenário: ${data.scenario_name} (ID: ${data.scenario_id})\nMódulo: ${data.module_name}\nErro: ${data.error_message}\n\nPLATAFORMA: Make.com (eu1.make.com, Org 547444, Team 337878)\n\nTAREFAS:\n1. DIAGNOSTICA o erro — identifica root cause provável\n2. CLASSIFICA severidade: 🔴 Crítico (cenário de produção down) | 🟡 Warning (degradado) | 🟢 Info (não impactante)\n3. SUGERE fix concreto (configuração no Make, filtro, ou acção manual)\n4. Se é erro de API/conexão: sugere verificar credentials ou rate limits\n5. Se é erro de dados: sugere verificar input do módulo anterior\n\nPADRÕES COMUNS MAKE:\n- ConnectionError: token expirado ou API down\n- RuntimeError: dados inesperados no input\n- DataError: campo obrigatório vazio ou tipo errado\n- RateLimitError: muitas execuções simultâneas\n- IncompleteDataError: resposta da API truncada\n\nIMPORTANTE sobre Make:\n- NUNCA usar scenarios_update com blueprint para corrigir — corrompe field mappings\n- Correções devem ser manuais no editor Make ou via makeApiCall\n- Se módulo é Notion: verificar se rich_text array precisa de toString()\n\nFORMATO DE RESPOSTA (máximo 200 palavras, directo, sem fluff):\n\nSeveridade: [emoji + nível]\n\nRoot Cause:\n[1-2 frases]\n\nFix Sugerido:\n[passos concretos]\n\nAcção Necessária:\n[automático / manual / monitorar]`;\n\nreturn [{ json: { prompt, timeout: 90000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,688],"id":"d2ec8045-bfdd-45a7-8998-7960a40ae445","name":"Build Diagnostic Prompt"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"905e68f1-8245-42f7-806c-8adb1b8c494e","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,688],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Evo Credentials').item.json.numero_notificacao }}","messageText":"=🚨 *ERRO Make + DIAGNÓSTICO*\n\n📌 *Cenário:* {{ $('Extract Error Data').item.json.scenario_name }}\n🆔 *ID:* {{ $('Extract Error Data').item.json.scenario_id }}\n❌ *Módulo:* {{ $('Extract Error Data').item.json.module_name }}\n⚠️ *Erro:* {{ $('Extract Error Data').item.json.error_message }}\n\n🔧 *Diagnóstico IA:*\n{{ $('Claude Bridge').item.json.output }}\n\n🔗 {{ $('Extract Error Data').item.json.make_url }}\n\n⏱️ Diagnóstico em {{ $('Claude Bridge').item.json.elapsed_s }}s","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,576],"id":"d03a3528-cec8-4b46-b526-a4aaed53d9c4","name":"WhatsApp Alert","credentials":null},{"parameters":{"chatId":"-1002374157964","text":"=🚨 *ERRO Make + DIAGNÓSTICO*\n\n📌 *Cenário:* {{ $('Extract Error Data').item.json.scenario_name }}\n🆔 *ID:* {{ $('Extract Error Data').item.json.scenario_id }}\n❌ *Módulo:* {{ $('Extract Error Data').item.json.module_name }}\n⚠️ *Erro:* {{ $('Extract Error Data').item.json.error_message }}\n\n🔧 *Diagnóstico IA:*\n{{ $('Claude Bridge').item.json.output }}\n\n🔗 {{ $('Extract Error Data').item.json.make_url }}\n\n_⏱️ Diagnóstico em {{ $('Claude Bridge').item.json.elapsed_s }}s_","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,784],"id":"c83d17bc-015d-4ec1-9fe0-9e4257a5987b","name":"Telegram Alert","webhookId":"7a866948-60f3-4e6a-90b7-211274cf703b","credentials":null,"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Evo Credentials","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Extract Error Data","type":"main","index":0}]]},"Extract Error Data":{"main":[[{"node":"Build Diagnostic Prompt","type":"main","index":0}]]},"Build Diagnostic Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"WhatsApp Alert","type":"main","index":0},{"node":"Telegram Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Lisbon","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7c2103c0-e123-490e-8f05-c705a9a4f0d3","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-03T14:30:37.196Z","createdAt":"2026-04-03T14:30:37.196Z","role":"workflow:owner","workflowId":"cLq2cZjKM9UPFPvG","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[]}