error-router-make-self-healing-hetzner-ifJF9jYGUzwzKgoJ.json
{"updatedAt":"2026-04-03T14:56:25.500Z","createdAt":"2026-03-19T15:32:25.373Z","id":"ifJF9jYGUzwzKgoJ","name":"Error Router Make Self-Healing Hetzner","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"make-error-handler-v2","options":{}},"id":"webhook_1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-256,688],"webhookId":"3ae730a1-7e22-4778-a6c0-5429760e5ebf"},{"parameters":{"assignments":{"assignments":[{"id":"cred_1","name":"evo_api_key","value":"2vGHmKALc8VcXLSluKQO","type":"string"},{"id":"cred_2","name":"evo_instanciaID","value":"E240888B2C3F-4435-950D-ACFDD7E234B6","type":"string"},{"id":"cred_3","name":"nome_da_instancia","value":"Mkt Atend 2","type":"string"},{"id":"cred_4","name":"numero_notificacao","value":"+351913095597","type":"string"}]},"options":{}},"id":"02dbbbce-0e03-482e-aac5-4873c2f498e2","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,688]},{"parameters":{"assignments":{"assignments":[{"id":"err_1","name":"scenario_name","value":"={{ $('Webhook1').item.json.body.scenarioName ?? $('Webhook1').item.json.body.scenario_name ?? 'Unknown' }}","type":"string"},{"id":"err_2","name":"scenario_id","value":"={{ $('Webhook1').item.json.body.scenarioId ?? $('Webhook1').item.json.body.scenario_id ?? 'Unknown' }}","type":"string"},{"id":"err_3","name":"error_message","value":"={{ $('Webhook1').item.json.body.errorMessage ?? $('Webhook1').item.json.body.error_message ?? $('Webhook1').item.json.body.error ?? 'No error message' }}","type":"string"},{"id":"err_4","name":"module_name","value":"={{ $('Webhook1').item.json.body.moduleName ?? $('Webhook1').item.json.body.module_name ?? 'Unknown' }}","type":"string"},{"id":"err_5","name":"make_url","value":"=https://eu1.make.com/337878/scenarios/{{ $('Webhook1').item.json.body.scenarioId ?? $('Webhook1').item.json.body.scenario_id ?? '' }}/edit","type":"string"}]},"options":{}},"id":"94c1cfa6-fbe6-4b61-b01a-7c8f518d69cc","name":"Extract Error Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[176,688]},{"parameters":{"jsCode":"const data = $('Extract Error Data').item.json;\n\nconst prompt = `Você é um especialista em Make.com (Integromat). Um cenário Make falhou e precisa de diagnóstico.\n\nSe existir, lê a skill em /home/claude/.claude/skills/n8n-doctor/SKILL.md para contexto sobre padrões de erro em automação (muitos padrões são comuns entre n8n e Make).\n\nERRO DETECTADO:\nCenário: ${data.scenario_name} (ID: ${data.scenario_id})\nMódulo: ${data.module_name}\nErro: ${data.error_message}\n\nPLATAFORMA: Make.com (eu1.make.com, Org 547444, Team 337878)\n\nTAREFAS:\n1. DIAGNOSTICA o erro — identifica root cause provável\n2. CLASSIFICA severidade: 🔴 Crítico (cenário de produção down) | 🟡 Warning (degradado) | 🟢 Info (não impactante)\n3. SUGERE fix concreto (configuração no Make, filtro, ou acção manual)\n4. Se é erro de API/conexão: sugere verificar credentials ou rate limits\n5. Se é erro de dados: sugere verificar input do módulo anterior\n\nPADRÕES COMUNS MAKE:\n- ConnectionError: token expirado ou API down\n- RuntimeError: dados inesperados no input\n- DataError: campo obrigatório vazio ou tipo errado\n- RateLimitError: muitas execuções simultâneas\n- IncompleteDataError: resposta da API truncada\n\nIMPORTANTE sobre Make:\n- NUNCA usar scenarios_update com blueprint para corrigir — corrompe field mappings\n- Correções devem ser manuais no editor Make ou via makeApiCall\n- Se módulo é Notion: verificar se rich_text array precisa de toString()\n\nFORMATO DE RESPOSTA (máximo 200 palavras, directo, sem fluff):\n\nSeveridade: [emoji + nível]\n\nRoot Cause:\n[1-2 frases]\n\nFix Sugerido:\n[passos concretos]\n\nAcção Necessária:\n[automático / manual / monitorar]`;\n\nreturn [{ json: { prompt, timeout: 90000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,688],"id":"a313ec9a-740c-49f7-ac2f-628416485995","name":"Build Diagnostic Prompt"},{"parameters":{"method":"POST","url":"http://128.140.15.139:3939/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"c4643415-2030-470c-959f-bb85a86a8c7a","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,688],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Evo Credentials').item.json.numero_notificacao }}","messageText":"=🚨 *ERRO Make + DIAGNÓSTICO*\n\n📌 *Cenário:* {{ $('Extract Error Data').item.json.scenario_name }}\n🆔 *ID:* {{ $('Extract Error Data').item.json.scenario_id }}\n❌ *Módulo:* {{ $('Extract Error Data').item.json.module_name }}\n⚠️ *Erro:* {{ $('Extract Error Data').item.json.error_message }}\n\n🔧 *Diagnóstico IA:*\n{{ $('Claude Bridge').item.json.output }}\n\n🔗 {{ $('Extract Error Data').item.json.make_url }}\n\n⏱️ Diagnóstico em {{ $('Claude Bridge').item.json.elapsed_s }}s","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,576],"id":"ee8cff36-fa24-4308-a0ac-f1b2bf215256","name":"WhatsApp Alert","credentials":null},{"parameters":{"chatId":"-1002374157964","text":"=🚨 *ERRO Make + DIAGNÓSTICO*\n\n📌 *Cenário:* {{ $('Extract Error Data').item.json.scenario_name }}\n🆔 *ID:* {{ $('Extract Error Data').item.json.scenario_id }}\n❌ *Módulo:* {{ $('Extract Error Data').item.json.module_name }}\n⚠️ *Erro:* {{ $('Extract Error Data').item.json.error_message }}\n\n🔧 *Diagnóstico IA:*\n{{ $('Claude Bridge').item.json.output }}\n\n🔗 {{ $('Extract Error Data').item.json.make_url }}\n\n_⏱️ Diagnóstico em {{ $('Claude Bridge').item.json.elapsed_s }}s_","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,784],"id":"05e0690d-c810-4a26-b19f-88f8ac2b6f4c","name":"Telegram Alert","webhookId":"c813ae06-1f0b-4219-97a6-5d662aa8ca4d","credentials":null,"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Evo Credentials","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Extract Error Data","type":"main","index":0}]]},"Extract Error Data":{"main":[[{"node":"Build Diagnostic Prompt","type":"main","index":0}]]},"Build Diagnostic Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"WhatsApp Alert","type":"main","index":0},{"node":"Telegram Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Lisbon","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c9523f14-6a53-4dc7-a6fb-b72bc410a61d","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-03-19T15:32:25.373Z","createdAt":"2026-03-19T15:32:25.373Z","role":"workflow:owner","workflowId":"ifJF9jYGUzwzKgoJ","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[]}