error-rate-monitor-—-auto-kill-switch-(all-n8n)-PZlO85xB0BNXaI2n.json
{"updatedAt":"2026-05-22T01:04:56.220Z","createdAt":"2026-05-21T23:48:10.464Z","id":"PZlO85xB0BNXaI2n","name":"Error Rate Monitor — Auto Kill-Switch (All N8N)","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"ee065203-aaeb-47c9-aa9f-e91be90a4e98","name":"Schedule 5min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1104,80]},{"parameters":{"jsCode":"// Alvos a vigiar: cada instancia + a sua API key (env var) + base URL.\n// Adiciona/remove instancias aqui conforme necessario.\nconst TARGETS = [\n  { name: 'Railway', base: 'https://primary-production-af84.up.railway.app', keyEnv: 'N8N_RAILWAY_API_KEY' },\n  { name: 'Hetzner', base: 'https://workflows.coletiv.me', keyEnv: 'N8N_HETZNER_API_KEY' },\n  { name: 'Oracle',  base: 'https://workflowsoracle.coletiv.me', keyEnv: 'N8N_ORACLE_API_KEY' },\n];\n// Limiar: se um workflow tiver >= ERROR_THRESHOLD erros na janela WINDOW_MIN, kill.\nconst ERROR_THRESHOLD = 8;\nconst WINDOW_MIN = 5;\n// Self-protect: nunca desactivar estes (Error Routers + este monitor).\nconst NEVER_KILL = ['heQ08w9HPkxGpNDu','q2vURDwHUIi3yHB4','g1IcISZKBhNQXWMt'];\nreturn TARGETS.map(t => ({ json: { ...t, error_threshold: ERROR_THRESHOLD, window_min: WINDOW_MIN, never_kill: NEVER_KILL } }));\n"},"id":"3e92a2a7-58c9-46a6-95a5-49debad50062","name":"Config Targets","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,80]},{"parameters":{"url":"={{ $json.base }}/api/v1/executions?status=error&limit=100","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env[$json.keyEnv] }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"dcb6eaf7-c967-45f0-84f9-ee165e2c1e5f","name":"GET errors da instancia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Agrupa erros por workflowId dentro da janela e decide kills.\nconst cfg = $('Config Targets').item.json;\nconst base = cfg.base, keyEnv = cfg.keyEnv, instName = cfg.name;\nconst THRESH = cfg.error_threshold, WINDOW_MIN = cfg.window_min, NEVER = cfg.never_kill || [];\nconst now = Date.now();\nconst windowMs = WINDOW_MIN * 60 * 1000;\nconst resp = $input.first().json;\nconst rows = Array.isArray(resp) ? resp : (resp.data || []);\nconst counts = {};\nfor (const ex of rows) {\n  const wfId = ex.workflowId || (ex.workflowData && ex.workflowData.id);\n  if (!wfId) continue;\n  const started = new Date(ex.startedAt || ex.createdAt || 0).getTime();\n  if (now - started > windowMs) continue;\n  counts[wfId] = counts[wfId] || { wfId, name: (ex.workflowData && ex.workflowData.name) || wfId, n: 0 };\n  counts[wfId].n++;\n}\nconst out = [];\nfor (const wfId of Object.keys(counts)) {\n  const c = counts[wfId];\n  if (c.n >= THRESH && !NEVER.includes(wfId)) {\n    out.push({ json: { instance: instName, base, keyEnv, workflow_id: wfId, workflow_name: c.name, error_count: c.n, window_min: WINDOW_MIN, action: 'KILL' } });\n  }\n}\n// se nada a matar, devolve item vazio sinalizando OK (para nao quebrar o fluxo)\nif (out.length === 0) return [{ json: { instance: instName, action: 'OK', checked: rows.length } }];\nreturn out;\n"},"id":"fc79cfbd-4134-4a98-8d44-bce8928e61d8","name":"Avaliar limiar","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,80],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"KILL","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"118ed406-ce5e-4a51-a0b4-82038d98ddbb","name":"IF deve matar","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,80]},{"parameters":{"method":"POST","url":"={{ $json.base }}/api/v1/workflows/{{ $json.workflow_id }}/deactivate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env[$json.keyEnv] }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"5aee58eb-3cc8-4513-b6cf-a53bdd07d04a","name":"Desactivar workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-272],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Monta a mensagem de alerta. Preenche o teu chat_id e bot token via env.\nconst d = $('IF deve matar').item.json;\nconst text = `\\u{1F6A8} KILL-SWITCH ACCIONADO\\n\\n` +\n  `Instancia: ${d.instance}\\n` +\n  `Workflow: ${d.workflow_name}\\n` +\n  `ID: ${d.workflow_id}\\n` +\n  `Erros: ${d.error_count} em ${d.window_min} min\\n\\n` +\n  `Workflow DESACTIVADO automaticamente. Investigar antes de reactivar.`;\nreturn [{ json: { text } }];\n"},"id":"74e17cfb-089b-45eb-b3df-ced9a06414bd","name":"Build Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-64]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-16,176],"id":"1208d4cd-c2b7-4b1d-a10e-793e0865b639","name":"No Operation, do nothing"},{"parameters":{"chatId":"-1002374157964","text":"={{ $('Build Alert').item.json.text }}","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[208,-64],"id":"92c2ddb3-e9b6-407b-95ce-1f39c93c2960","name":"Telegram Alert1","webhookId":"013bdd6a-7322-4af9-b1c3-556a5c672982","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":null,"onError":"continueRegularOutput"}],"connections":{"Schedule 5min":{"main":[[{"node":"Config Targets","type":"main","index":0}]]},"Config Targets":{"main":[[{"node":"GET errors da instancia","type":"main","index":0}]]},"GET errors da instancia":{"main":[[{"node":"Avaliar limiar","type":"main","index":0}]]},"Avaliar limiar":{"main":[[{"node":"IF deve matar","type":"main","index":0}]]},"IF deve matar":{"main":[[{"node":"Desactivar workflow","type":"main","index":0},{"node":"Build Alert","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Build Alert":{"main":[[{"node":"Telegram Alert1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":600,"availableInMCP":false},"staticData":{"node:Schedule 5min":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"bea7d055-f0b5-4b34-a5aa-c94e8a59b705","activeVersionId":"bea7d055-f0b5-4b34-a5aa-c94e8a59b705","triggerCount":1,"shared":[{"updatedAt":"2026-05-21T23:48:10.464Z","createdAt":"2026-05-21T23:48:10.464Z","role":"workflow:owner","workflowId":"PZlO85xB0BNXaI2n","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-22T01:04:56.223Z","createdAt":"2026-05-22T01:04:56.223Z","versionId":"bea7d055-f0b5-4b34-a5aa-c94e8a59b705","workflowId":"PZlO85xB0BNXaI2n","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"ee065203-aaeb-47c9-aa9f-e91be90a4e98","name":"Schedule 5min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1104,80]},{"parameters":{"jsCode":"// Alvos a vigiar: cada instancia + a sua API key (env var) + base URL.\n// Adiciona/remove instancias aqui conforme necessario.\nconst TARGETS = [\n  { name: 'Railway', base: 'https://primary-production-af84.up.railway.app', keyEnv: 'N8N_RAILWAY_API_KEY' },\n  { name: 'Hetzner', base: 'https://workflows.coletiv.me', keyEnv: 'N8N_HETZNER_API_KEY' },\n  { name: 'Oracle',  base: 'https://workflowsoracle.coletiv.me', keyEnv: 'N8N_ORACLE_API_KEY' },\n];\n// Limiar: se um workflow tiver >= ERROR_THRESHOLD erros na janela WINDOW_MIN, kill.\nconst ERROR_THRESHOLD = 8;\nconst WINDOW_MIN = 5;\n// Self-protect: nunca desactivar estes (Error Routers + este monitor).\nconst NEVER_KILL = ['heQ08w9HPkxGpNDu','q2vURDwHUIi3yHB4','g1IcISZKBhNQXWMt'];\nreturn TARGETS.map(t => ({ json: { ...t, error_threshold: ERROR_THRESHOLD, window_min: WINDOW_MIN, never_kill: NEVER_KILL } }));\n"},"id":"3e92a2a7-58c9-46a6-95a5-49debad50062","name":"Config Targets","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,80]},{"parameters":{"url":"={{ $json.base }}/api/v1/executions?status=error&limit=100","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env[$json.keyEnv] }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"dcb6eaf7-c967-45f0-84f9-ee165e2c1e5f","name":"GET errors da instancia","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,80],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Agrupa erros por workflowId dentro da janela e decide kills.\nconst cfg = $('Config Targets').item.json;\nconst base = cfg.base, keyEnv = cfg.keyEnv, instName = cfg.name;\nconst THRESH = cfg.error_threshold, WINDOW_MIN = cfg.window_min, NEVER = cfg.never_kill || [];\nconst now = Date.now();\nconst windowMs = WINDOW_MIN * 60 * 1000;\nconst resp = $input.first().json;\nconst rows = Array.isArray(resp) ? resp : (resp.data || []);\nconst counts = {};\nfor (const ex of rows) {\n  const wfId = ex.workflowId || (ex.workflowData && ex.workflowData.id);\n  if (!wfId) continue;\n  const started = new Date(ex.startedAt || ex.createdAt || 0).getTime();\n  if (now - started > windowMs) continue;\n  counts[wfId] = counts[wfId] || { wfId, name: (ex.workflowData && ex.workflowData.name) || wfId, n: 0 };\n  counts[wfId].n++;\n}\nconst out = [];\nfor (const wfId of Object.keys(counts)) {\n  const c = counts[wfId];\n  if (c.n >= THRESH && !NEVER.includes(wfId)) {\n    out.push({ json: { instance: instName, base, keyEnv, workflow_id: wfId, workflow_name: c.name, error_count: c.n, window_min: WINDOW_MIN, action: 'KILL' } });\n  }\n}\n// se nada a matar, devolve item vazio sinalizando OK (para nao quebrar o fluxo)\nif (out.length === 0) return [{ json: { instance: instName, action: 'OK', checked: rows.length } }];\nreturn out;\n"},"id":"fc79cfbd-4134-4a98-8d44-bce8928e61d8","name":"Avaliar limiar","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,80],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"KILL","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"118ed406-ce5e-4a51-a0b4-82038d98ddbb","name":"IF deve matar","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,80]},{"parameters":{"method":"POST","url":"={{ $json.base }}/api/v1/workflows/{{ $json.workflow_id }}/deactivate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"={{ $env[$json.keyEnv] }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"5aee58eb-3cc8-4513-b6cf-a53bdd07d04a","name":"Desactivar workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,-272],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Monta a mensagem de alerta. Preenche o teu chat_id e bot token via env.\nconst d = $('IF deve matar').item.json;\nconst text = `\\u{1F6A8} KILL-SWITCH ACCIONADO\\n\\n` +\n  `Instancia: ${d.instance}\\n` +\n  `Workflow: ${d.workflow_name}\\n` +\n  `ID: ${d.workflow_id}\\n` +\n  `Erros: ${d.error_count} em ${d.window_min} min\\n\\n` +\n  `Workflow DESACTIVADO automaticamente. Investigar antes de reactivar.`;\nreturn [{ json: { text } }];\n"},"id":"74e17cfb-089b-45eb-b3df-ced9a06414bd","name":"Build Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-64]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-16,176],"id":"1208d4cd-c2b7-4b1d-a10e-793e0865b639","name":"No Operation, do nothing"},{"parameters":{"chatId":"-1002374157964","text":"={{ $('Build Alert').item.json.text }}","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[208,-64],"id":"92c2ddb3-e9b6-407b-95ce-1f39c93c2960","name":"Telegram Alert1","webhookId":"013bdd6a-7322-4af9-b1c3-556a5c672982","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":null,"onError":"continueRegularOutput"}],"connections":{"Schedule 5min":{"main":[[{"node":"Config Targets","type":"main","index":0}]]},"Config Targets":{"main":[[{"node":"GET errors da instancia","type":"main","index":0}]]},"GET errors da instancia":{"main":[[{"node":"Avaliar limiar","type":"main","index":0}]]},"Avaliar limiar":{"main":[[{"node":"IF deve matar","type":"main","index":0}]]},"IF deve matar":{"main":[[{"node":"Desactivar workflow","type":"main","index":0},{"node":"Build Alert","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Build Alert":{"main":[[{"node":"Telegram Alert1","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[]}