error-router-n8n-self-healing-hetzner-RBvmMczEexEnf0Ul.json
{"updatedAt":"2026-04-03T13:43:33.566Z","createdAt":"2026-01-27T12:17:12.588Z","id":"RBvmMczEexEnf0Ul","name":"Error Router N8N Self-Healing Hetzner","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1040,112],"id":"1ee21b6a-53f9-44dd-b9c5-1a0064db1191","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"9a2c10c4-74b4-48d0-a8c5-ebe095e7eab5","name":"evo_api_key","value":"2vGHmKALc8VcXLSIuKQO","type":"string"},{"id":"840baa4a-ba9c-49f9-b08b-928815b93a34","name":"evo_instanciaID","value":"E240888B2C3F-4435-950D-ACFDD7E234B6","type":"string"},{"id":"2b0af005-6f9f-4e44-a80f-66d0e59dfa68","name":"nome_da_instancia","value":"Mkt Atend 2","type":"string"},{"id":"a4a61bb7-630f-49e6-a167-f12b0315982f","name":"numero_notificacao","value":"+351913095597","type":"string"}]},"options":{}},"id":"2296c51e-a11a-40de-aa4e-3575711303db","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-832,112]},{"parameters":{"fields":{"values":[{"name":"workflow_name","stringValue":"={{ $('Error Trigger').item.json.workflow.name }}"},{"name":"workflow_id","stringValue":"={{ $('Error Trigger').item.json.workflow.id }}"},{"name":"failed_node","stringValue":"={{ $('Error Trigger').item.json.execution.lastNodeExecuted }}"},{"name":"error_message","stringValue":"={{ $('Error Trigger').item.json.execution.error.message }}"},{"name":"execution_id","stringValue":"={{ $('Error Trigger').item.json.execution.id }}"},{"name":"execution_url","stringValue":"=https://workflows.coletiv.me/workflow/{{ $('Error Trigger').item.json.workflow.id }}/executions/{{ $('Error Trigger').item.json.execution.id }}"}]},"options":{}},"id":"95d69beb-b2fb-4411-91b2-756f3278255a","name":"Extract Error Data","type":"n8n-nodes-base.set","typeVersion":3,"position":[-624,112]},{"parameters":{"jsCode":"const data = $('Extract Error Data').item.json;\n\nconst prompt = `Você é o n8n-doctor. Um workflow n8n falhou e precisa de diagnóstico.\n\nLê a skill em /home/claude/.claude/skills/n8n-doctor/SKILL.md para contexto.\n\nERRO DETECTADO:\nWorkflow: ${data.workflow_name} (ID: ${data.workflow_id})\nNode: ${data.failed_node}\nError: ${data.error_message}\nExecution ID: ${data.execution_id}\n\nINSTÂNCIA: n8n-hetzner (workflows.coletiv.me)\n\nTAREFAS:\n1. DIAGNOSTICA o erro — identifica root cause provável\n2. CLASSIFICA severidade: 🔴 Crítico (serviço down) | 🟡 Warning (degradado) | 🟢 Info (não impactante)\n3. SUGERE fix concreto (comando, configuração, ou acção manual)\n4. Se possível, indica se é erro recorrente (padrão conhecido do n8n-doctor)\n\nFORMATO DE RESPOSTA (máximo 200 palavras, directo, sem fluff):\n\nSeveridade: [emoji + nível]\n\nRoot Cause:\n[1-2 frases]\n\nFix Sugerido:\n[passos concretos]\n\nAcção Necessária:\n[automático / manual / monitorar]`;\n\nreturn [{ json: { prompt, timeout: 90000 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,112],"id":"87c2665c-d261-480f-9496-c6e2dd471c98","name":"Build Diagnostic Prompt"},{"parameters":{"method":"POST","url":"http://128.140.15.139:3939/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"41f70327-fd77-4a26-8aec-718db18012e0","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-208,112],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Evo Credentials').item.json.numero_notificacao }}","messageText":"=🚨 *ERRO N8N + DIAGNÓSTICO*\n\n📌 *Workflow:* {{ $('Extract Error Data').item.json.workflow_name }}\n❌ *Node:* {{ $('Extract Error Data').item.json.failed_node }}\n⚠️ *Erro:* {{ $('Extract Error Data').item.json.error_message }}\n\n🔧 *Diagnóstico IA:*\n{{ $('Claude Bridge').item.json.output }}\n\n🔗 {{ $('Extract Error Data').item.json.execution_url }}\n\n⏱️ Diagnóstico em {{ $('Claude Bridge').item.json.elapsed_s }}s","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[0,0],"id":"4a1eaf84-4caa-4d82-a43a-0548668a8160","name":"WhatsApp Alert","credentials":null},{"parameters":{"chatId":"-1002374157964","text":"=🚨 *ERRO N8N + DIAGNÓSTICO*\n\n📌 *Workflow:* {{ $('Extract Error Data').item.json.workflow_name }}\n🆔 *ID:* {{ $('Extract Error Data').item.json.workflow_id }}\n❌ *Node:* {{ $('Extract Error Data').item.json.failed_node }}\n⚠️ *Erro:* {{ $('Extract Error Data').item.json.error_message }}\n\n🔧 *Diagnóstico IA:*\n{{ $('Claude Bridge').item.json.output }}\n\n🔗 {{ $('Extract Error Data').item.json.execution_url }}\n\n_⏱️ Diagnóstico em {{ $('Claude Bridge').item.json.elapsed_s }}s_","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,208],"id":"8f0925a1-4423-4d46-b29a-70f15c677baa","name":"Telegram Alert","webhookId":"9118f2bc-a0fc-46f7-97e1-1cf3dbff1284","credentials":null,"onError":"continueRegularOutput"}],"connections":{"Error Trigger":{"main":[[{"node":"Evo Credentials","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Extract Error Data","type":"main","index":0}]]},"Extract Error Data":{"main":[[{"node":"Build Diagnostic Prompt","type":"main","index":0}]]},"Build Diagnostic Prompt":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"WhatsApp Alert","type":"main","index":0},{"node":"Telegram Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedMode":"fixed","saveDataSuccessExecution":"all"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a9b008b5-a6be-4f23-8f94-c0a4833ede6c","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-01-27T12:17:12.588Z","createdAt":"2026-01-27T12:17:12.588Z","role":"workflow:owner","workflowId":"RBvmMczEexEnf0Ul","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[]}