error-router-n8n-self-healing-mac-mini-com-memory-v2-heQ08w9HPkxGpNDu.json
{"updatedAt":"2026-05-22T01:20:34.235Z","createdAt":"2026-04-30T22:03:59.349Z","id":"heQ08w9HPkxGpNDu","name":"Error Router N8N Self-Healing Mac Mini com Memory v2","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1840,48],"id":"da488de7-685e-4e64-824b-1488660d0d2b","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"9a2c10c4-74b4-48d0-a8c5-ebe095e7eab5","name":"evo_api_key","value":"2vGHmKALc8VcXLSIuKQO","type":"string"},{"id":"840baa4a-ba9c-49f9-b08b-928815b93a34","name":"evo_instanciaID","value":"E240888B2C3F-4435-950D-ACFDD7E234B6","type":"string"},{"id":"2b0af005-6f9f-4e44-a80f-66d0e59dfa68","name":"nome_da_instancia","value":"Mkt Atend 2","type":"string"},{"id":"a4a61bb7-630f-49e6-a167-f12b0315982f","name":"numero_notificacao","value":"+351913095597","type":"string"}]},"options":{}},"id":"ec7a9e94-3bd4-438e-98c7-3fbf9f22f3ab","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1632,48]},{"parameters":{"fields":{"values":[{"name":"workflow_name","stringValue":"={{ $('Error Trigger').item.json.workflow.name }}"},{"name":"workflow_id","stringValue":"={{ $('Error Trigger').item.json.workflow.id }}"},{"name":"failed_node","stringValue":"={{ $('Error Trigger').item.json.execution.lastNodeExecuted }}"},{"name":"error_message","stringValue":"={{ $('Error Trigger').item.json.execution.error.message }}"},{"name":"execution_id","stringValue":"={{ $('Error Trigger').item.json.execution.id }}"},{"name":"execution_url","stringValue":"=https://workflows.coletiv.me/workflow/{{ $('Error Trigger').item.json.workflow.id }}/executions/{{ $('Error Trigger').item.json.execution.id }}"}]},"options":{}},"id":"08e3bedb-7e28-4c39-b1ca-61681d0761ac","name":"Extract Error Data","type":"n8n-nodes-base.set","typeVersion":3,"position":[-1424,48]},{"parameters":{"workflowId":{"__rl":true,"value":"ApIb3XMBDSj8NHlE","mode":"id","cachedResultUrl":"/workflow/ApIb3XMBDSj8NHlE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context":"Error debugging Make n8n workflow automation","project":"Ops","importance":"2"},"matchingColumns":[],"schema":[{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"importance","displayName":"importance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"be7fe7a6-58f3-4331-ad15-baea465333ce","name":"Memory Read","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-800,-160],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const data = $('Extract Error Data').item.json;\nconst memoryContext = $('Memory Read').first().json.memoryContext || 'Nenhuma memoria recente.';\n\nconst prompt = `Voce e o n8n-doctor. Um workflow n8n falhou e precisa de diagnostico.\n\nLe a skill em /home/claude/.claude/skills/n8n-doctor/SKILL.md para contexto.\n\n${memoryContext}\n\nNOTA SOBRE MEMORIA CRUZADA: Algumas memorias podem ser de outras instancias n8n (Hetzner, Railway, Oracle). Avalia relevancia cruzada antes de aplicar:\n- Transferiveis: erros de infraestrutura partilhada (Supabase, Anthropic API, OpenAI API, Evolution API, Chatwoot, Airtable), erros de logica de workflow, padroes de design, bugs de nodes nativos n8n.\n- NAO transferiveis: IDs de credentials especificos de cada instancia, IDs de workflow/sub-workflow (ApIb..., URJf..., etc.), URLs de webhook, paths locais (/home/claude/...), env vars especificas, problemas de network ligados ao IP do host.\n- Se a memoria menciona uma instancia diferente da actual e o erro e do tipo NAO transferivel, ignora essa memoria. Se e do tipo transferivel, usa-a com peso reduzido (e padrao, nao prova).\n\nERRO DETECTADO:\nWorkflow: ${data.workflow_name} (ID: ${data.workflow_id})\nNode: ${data.failed_node}\nError: ${data.error_message}\nExecution ID: ${data.execution_id}\n\nINSTANCIA: n8n-hetzner (workflows.coletiv.me)\n\nTAREFAS:\n1. DIAGNOSTICA o erro — identifica root cause provavel\n2. CLASSIFICA severidade: CRITICO (servico down) | WARNING (degradado) | INFO (nao impactante)\n3. CLASSIFICA tipo: TRANSIENT (timeout, connection, rate limit) | PERSISTENT (config, dados, API changed)\n4. SUGERE fix concreto (comando, configuracao, ou accao manual)\n5. Se possivel, indica se e erro recorrente (padrao conhecido do n8n-doctor)\n6. Se a memoria recente mostra este MESMO erro ou workflow repetido: ESCALA severidade e sugere fix definitivo\n\nFORMATO DE RESPOSTA (maximo 200 palavras, directo, sem fluff):\n\nSeveridade: [CRITICO | WARNING | INFO]\nTipo: [TRANSIENT | PERSISTENT]\nAuto-fix: [SIM | NAO]\n\nRoot Cause:\n[1-2 frases]\n\nFix Sugerido:\n[passos concretos]\n\nAccao Necessaria:\n[automatico / manual / monitorar]`;\n\nreturn [{ json: { prompt, timeout: 90000, workflow_id: data.workflow_id, error_message: data.error_message } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,-160],"id":"51d883b1-db2e-4c73-98e9-516ab6764dc8","name":"Build Diagnostic Prompt + Memory"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"45fc2869-e538-425d-ad03-e2c9f9bbf9f7","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,-160],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"chatId":"-1002374157964","text":"=🚨 *ERRO N8N + DIAGNÓSTICO*\n\n📌 *Workflow:* {{ $('Extract Error Data').item.json.workflow_name }}\n🆔 *ID:* {{ $('Extract Error Data').item.json.workflow_id }}\n❌ *Node:* {{ $('Extract Error Data').item.json.failed_node }}\n⚠️ *Erro:* {{ $('Extract Error Data').item.json.error_message }}\n\n🔧 *Diagnóstico IA:*\n{{ $('Claude Bridge').item.json.output }}\n\n🔗 {{ $('Extract Error Data').item.json.execution_url }}\n\n_⏱️ Diagnóstico em {{ $('Claude Bridge').item.json.elapsed_s }}s (with memory)_","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[720,-144],"id":"171a3427-d14c-4331-93a1-74562f620841","name":"Telegram Alert","webhookId":"013bdd6a-7322-4af9-b1c3-556a5c672982","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"URJf7Jg58IQAeXfc","mode":"id","cachedResultUrl":"/workflow/URJf7Jg58IQAeXfc"},"workflowInputs":{"mappingMode":"defineBelow","value":{"source":"SelfHealing-Hetzner","project":"Ops","response":"={{ $('Circuit Breaker Supabase').item.json.suppress_alerts === true ? ('[SUPPRESSED ALERT] n8n Workflow: ' + $('Extract Error Data').item.json.workflow_name + ' | Node: ' + $('Extract Error Data').item.json.failed_node + ' | Erro: ' + $('Extract Error Data').item.json.error_message + ' | Reason: ' + $('Circuit Breaker Supabase').item.json.suppress_reason) : ('n8n Workflow: ' + $('Extract Error Data').item.json.workflow_name + ' | Node: ' + $('Extract Error Data').item.json.failed_node + ' | Erro: ' + $('Extract Error Data').item.json.error_message + ' | Diagnostico: ' + $('Claude Bridge').item.json.output) }}"},"matchingColumns":[],"schema":[{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"response","displayName":"response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"7c86127f-ccc9-4da1-83a5-dbf4f8e0b361","name":"Memory Write","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[144,64],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const bridgeOutput = $input.first().json;\n\nif (bridgeOutput.output && bridgeOutput.output.length > 10) {\n  return [{ json: { output: bridgeOutput.output, elapsed_s: bridgeOutput.elapsed_s || 0, fallback: false, prompt: '' } }];\n}\n\nconst prompt = $('Build Diagnostic Prompt + Memory').first().json.prompt || '';\nreturn [{ json: { output: '', elapsed_s: 0, fallback: true, prompt: prompt } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,-160],"id":"41331e70-4841-41ae-a4d6-b22041ac1666","name":"Fallback Router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3a728824-560c-4d8c-9259-d99ceff4dbdb","leftValue":"={{ $json.fallback }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-32,-160],"id":"23dc6f15-65d1-4ba9-8256-fb9de14d800b","name":"IF Fallback"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a0310b7c-fb5c-40b4-830e-fae5620603db","leftValue":"={{ $json.suppress_alerts }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-1024,48],"id":"3d72c8bc-1c18-48ee-8e02-a9561af45159","name":"IF Circuit"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst text = response.content && response.content[0] ? response.content[0].text : JSON.stringify(response);\nreturn [{ json: { output: text + '\\n\\n⚠️ Gerado via Haiku API (fallback — Claude Bridge indisponivel)', elapsed_s: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-352],"id":"39d3b421-1ff2-4a5f-a510-5414dc2a55b3","name":"Format api Response"},{"parameters":{"modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[176,-352],"id":"98b0f9e4-7efc-4106-b53c-290a9d1439dc","name":"Claude api","credentials":null},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/rpc/cb_register_and_check","authentication":"***REDACTED***","nodeCredentialType":"supabaseApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"p_workflow_id","value":"={{ $('Extract Error Data').item.json.workflow_id || 'unknown' }}"},{"name":"p_signature","value":"={{ ($('Extract Error Data').item.json.workflow_id || 'unknown') + '::' + ($('Extract Error Data').item.json.failed_node || 'unknown') + '::' + ($('Extract Error Data').item.json.error_message || '').slice(0, 100) }}"},{"name":"p_instance","value":"Hetzner"},{"name":"p_window_min","value":"30"},{"name":"p_threshold","value":"10"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1216,48],"id":"d40c05d0-a28f-4958-aca2-e40a96441de1","name":"Circuit Breaker Supabase","credentials":null}],"connections":{"Error Trigger":{"main":[[{"node":"Evo Credentials","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Extract Error Data","type":"main","index":0}]]},"Extract Error Data":{"main":[[{"node":"Circuit Breaker Supabase","type":"main","index":0}]]},"IF Circuit":{"main":[[{"node":"Memory Read","type":"main","index":0}],[{"node":"Memory Write","type":"main","index":0}]]},"Memory Read":{"main":[[{"node":"Build Diagnostic Prompt + Memory","type":"main","index":0}]]},"Build Diagnostic Prompt + Memory":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Fallback Router","type":"main","index":0}]]},"Fallback Router":{"main":[[{"node":"IF Fallback","type":"main","index":0}]]},"IF Fallback":{"main":[[{"node":"Claude api","type":"main","index":0}],[{"node":"Telegram Alert","type":"main","index":0},{"node":"Memory Write","type":"main","index":0}]]},"Claude api":{"main":[[{"node":"Format api Response","type":"main","index":0}]]},"Format api Response":{"main":[[{"node":"Telegram Alert","type":"main","index":0}]]},"Circuit Breaker Supabase":{"main":[[{"node":"IF Circuit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionTimeout":1800},"staticData":{"global":{"signatures":{"7uJA7DEc0dVvyBHL::OpenAI Embedding::Bad request - please check your parameters":[1779356074199]}}},"meta":null,"pinData":{},"versionId":"2518390b-4410-45e4-962a-df329d9f1fdb","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-30T22:03:59.349Z","createdAt":"2026-04-30T22:03:59.349Z","role":"workflow:owner","workflowId":"heQ08w9HPkxGpNDu","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"},{"updatedAt":"2026-03-30T17:25:46.128Z","createdAt":"2026-03-30T17:25:46.128Z","id":"I55hCGMBk1VDjvLr","name":"claude-bridge"}]}