error-router-make-self-healing-mac-mini-com-memory-Mm0usRCcHYYbCLXs.json
{"updatedAt":"2026-05-18T00:14:12.111Z","createdAt":"2026-04-08T15:46:24.985Z","id":"Mm0usRCcHYYbCLXs","name":"Error Router Make Self-Healing Mac Mini com Memory","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"d6cfb135-ec1d-4879-a9ea-5240365c81ec","options":{}},"id":"9153e400-edc2-4c3a-bdc0-ed642fcc3b61","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-1712,128],"webhookId":"d6cfb135-ec1d-4879-a9ea-5240365c81ec"},{"parameters":{"assignments":{"assignments":[{"id":"cred_1","name":"evo_api_key","value":"2vGHmKALc8VcXLSluKQO","type":"string"},{"id":"cred_2","name":"evo_instanciaID","value":"E240888B2C3F-4435-950D-ACFDD7E234B6","type":"string"},{"id":"cred_3","name":"nome_da_instancia","value":"Mkt Atend 2","type":"string"},{"id":"cred_4","name":"numero_notificacao","value":"+351913095597","type":"string"}]},"options":{}},"id":"ac30da3e-8fdd-4e42-b083-ff27567eb49d","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1488,128]},{"parameters":{"assignments":{"assignments":[{"id":"err_1","name":"scenario_name","value":"={{ $('Webhook').item.json.body.scenarioName ?? $('Webhook').item.json.body.scenario_name ?? 'Unknown' }}","type":"string"},{"id":"err_2","name":"scenario_id","value":"={{ $('Webhook').item.json.body.scenarioId ?? $('Webhook').item.json.body.scenario_id ?? 'Unknown' }}","type":"string"},{"id":"err_3","name":"error_message","value":"={{ $('Webhook').item.json.body.errorMessage ?? $('Webhook').item.json.body.error_message ?? $('Webhook').item.json.body.error ?? 'No error message' }}","type":"string"},{"id":"err_4","name":"module_name","value":"={{ $('Webhook').item.json.body.moduleName ?? $('Webhook').item.json.body.module_name ?? 'Unknown' }}","type":"string"},{"id":"err_5","name":"make_url","value":"=https://eu1.make.com/337878/scenarios/{{ $('Webhook').item.json.body.scenarioId ?? $('Webhook').item.json.body.scenario_id ?? '' }}/edit","type":"string"}]},"options":{}},"id":"eb2fa870-64ee-4851-a458-3643d5ebd34e","name":"Extract Error Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1280,128]},{"parameters":{"workflowId":{"__rl":true,"value":"ApIb3XMBDSj8NHlE","mode":"id","cachedResultUrl":"/workflow/ApIb3XMBDSj8NHlE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context":"Error debugging Make n8n workflow automation","project":"Ops","importance":"2"},"matchingColumns":[],"schema":[{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"importance","displayName":"importance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"62b3d554-d4ae-4ec7-87e5-15ee2af24973","name":"Memory Read","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-640,16],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const data = $('Extract Error Data').item.json;\nconst memoryContext = $('Memory Read').first().json.memoryContext || 'Nenhuma memoria recente.';\n\nconst prompt = `Voce e um especialista em Make.com (Integromat). Um cenario Make falhou e precisa de diagnostico.\n\nSe existir, le a skill em /home/claude/.claude/skills/n8n-doctor/SKILL.md para contexto sobre padroes de erro em automacao (muitos padroes sao comuns entre n8n e Make).\n\n${memoryContext}\n\nERRO DETECTADO:\nCenario: ${data.scenario_name} (ID: ${data.scenario_id})\nModulo: ${data.module_name}\nErro: ${data.error_message}\n\nPLATAFORMA: Make.com (eu1.make.com, Org 547444, Team 337878)\n\nTAREFAS:\n1. DIAGNOSTICA o erro — identifica root cause provavel\n2. CLASSIFICA severidade: CRITICO (cenario de producao down) | WARNING (degradado) | INFO (nao impactante)\n3. CLASSIFICA tipo de erro: TRANSIENT (timeout, rate limit, connection temporaria) | PERSISTENT (dados errados, config errada, API changed)\n4. SUGERE fix concreto (configuracao no Make, filtro, ou accao manual)\n5. Se e erro de API/conexao: sugere verificar credentials ou rate limits\n6. Se e erro de dados: sugere verificar input do modulo anterior\n7. Se a memoria recente mostra este MESMO erro repetido: ESCALA severidade e sugere fix definitivo\n\nPADROES COMUNS MAKE:\n- ConnectionError: token expirado ou API down\n- RuntimeError: dados inesperados no input\n- DataError: campo obrigatorio vazio ou tipo errado\n- RateLimitError: muitas execucoes simultaneas\n- IncompleteDataError: resposta da API truncada\n\nIMPORTANTE sobre Make:\n- NUNCA usar scenarios_update com blueprint para corrigir — corrompe field mappings\n- Correccoes devem ser manuais no editor Make ou via makeApiCall\n- Se modulo e Notion: verificar se rich_text array precisa de toString()\n\nFORMATO DE RESPOSTA (maximo 200 palavras, directo, sem fluff):\n\nSeveridade: [CRITICO | WARNING | INFO]\nTipo: [TRANSIENT | PERSISTENT]\nAuto-fix: [SIM | NAO]\n\nRoot Cause:\n[1-2 frases]\n\nFix Sugerido:\n[passos concretos]\n\nAccao Necessaria:\n[automatico / manual / monitorar]`;\n\nreturn [{ json: { prompt, timeout: 90000, scenario_id: data.scenario_id, error_message: data.error_message } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,16],"id":"f7fbc196-2410-417c-aa31-9f3cc3d75233","name":"Build Diagnostic Prompt + Memory"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"cd65e3d6-ea12-4614-a575-ea1badf1c9a1","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,16],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"chatId":"-1002374157964","text":"=🚨 *ERRO Make + DIAGNÓSTICO*\n\n📌 *Cenário:* {{ $('Extract Error Data').item.json.scenario_name }}\n🆔 *ID:* {{ $('Extract Error Data').item.json.scenario_id }}\n❌ *Módulo:* {{ $('Extract Error Data').item.json.module_name }}\n⚠️ *Erro:* {{ $('Extract Error Data').item.json.error_message }}\n\n🔧 *Diagnóstico IA:*\n{{ $('Claude Bridge').item.json.output }}\n\n{{ $('Parse Diagnosis').item.json.shouldRerun ? '🔄 *AUTO-RERUN EXECUTADO*' : '👉 *Acção manual necessária*' }}\n\n🔗 {{ $('Extract Error Data').item.json.make_url }}\n\n_⏱️ Diagnóstico em {{ $('Claude Bridge').item.json.elapsed_s }}s (with memory)_","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[960,144],"id":"dc26a0a1-9e6e-460e-a4ff-f01009291340","name":"Telegram Alert","webhookId":"7a866948-60f3-4e6a-90b7-211274cf703b","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"URJf7Jg58IQAeXfc","mode":"id","cachedResultUrl":"/workflow/URJf7Jg58IQAeXfc"},"workflowInputs":{"mappingMode":"defineBelow","value":{"source":"SelfHealing","project":"Ops","response":"=🚨 *ERRO Make + DIAGNÓSTICO*\n\n📌 *Cenário:* {{ $('Extract Error Data').item.json.scenario_name }}\n🆔 *ID:* {{ $('Extract Error Data').item.json.scenario_id }}\n❌ *Módulo:* {{ $('Extract Error Data').item.json.module_name }}\n⚠️ *Erro:* {{ $('Extract Error Data').item.json.error_message }}\n\n🔧 *Diagnóstico IA:*\n{{ $('Claude Bridge').item.json.output }}\n\n{{ $('Parse Diagnosis').item.json.shouldRerun ? '🔄 *AUTO-RERUN EXECUTADO*' : '👉 *Acção manual necessária*' }}\n\n🔗 {{ $('Extract Error Data').item.json.make_url }}\n\n_⏱️ Diagnóstico em {{ $('Claude Bridge').item.json.elapsed_s }}s (with memory)_"},"matchingColumns":[],"schema":[{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"response","displayName":"response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"4086f300-2bec-4e47-9837-fb9e7fd346a2","name":"Memory Write","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[960,592],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const bridgeOutput = $input.first().json;\n\nif (bridgeOutput.output && bridgeOutput.output.length > 10) {\n  return [{ json: { output: bridgeOutput.output, elapsed_s: bridgeOutput.elapsed_s || 0, fallback: false, prompt: '' } }];\n}\n\nconst prompt = $('Build Diagnostic Prompt + Memory').first().json.prompt || '';\nreturn [{ json: { output: '', elapsed_s: 0, fallback: true, prompt: prompt } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,128],"id":"5598e71f-1b91-43c0-82e3-b04dc8fc8556","name":"Fallback Router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3a728824-560c-4d8c-9259-d99ceff4dbdb","leftValue":"={{ $json.fallback }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[128,128],"id":"470ebb47-a8a1-4e49-ae4c-42a60b2aa20c","name":"IF Fallback"},{"parameters":{"jsCode":"// Circuit Breaker v3.1 — dedup por signature (workflow_id + failed_node + error_message[:100])\n// \n// Camada 1: 10 alertas / 30 min por signature (storm de mesmo erro)\n// Camada 2: 30 alertas / 24h por signature (storm sustido de mesmo erro)\n// Camada 3: 100 signatures distintas / 24h por workflow_id (hard cap por workflow ruidoso)\n//\n// FIX v3.1: garbage collection ANTES da inicialização da signature actual\n// (v3 deletava a signature acabada de criar quando era nova/vazia → crash em .length)\n\nconst errorData = $('Extract Error Data').item.json;\nconst staticData = $getWorkflowStaticData('global');\n\nconst now = Date.now();\nconst WINDOW_MS = 30 * 60 * 1000;       // 30 minutos\nconst DAY_MS = 24 * 60 * 60 * 1000;     // 24 horas\n\nconst MAX_PER_SIGNATURE_WINDOW = 10;    // mesmo erro, 30 min\nconst MAX_PER_SIGNATURE_DAY = 30;       // mesmo erro, 24h\nconst MAX_DISTINCT_PER_WORKFLOW = 100;  // erros distintos por workflow, 24h\n\n// Construir signature: workflow_id + failed_node + first 100 chars of error_message\nconst workflowId = errorData.workflow_id || 'unknown';\nconst failedNode = errorData.failed_node || 'unknown';\nconst errorMsg = (errorData.error_message || '').slice(0, 100);\nconst signature = `${workflowId}::${failedNode}::${errorMsg}`;\n\n// Init estrutura raiz\nstaticData.signatures = staticData.signatures || {};\n\n// Garbage collection ANTES de mexer na signature actual:\n// limpar timestamps velhos de TODAS as signatures, e remover as que ficam vazias.\n// Isto é seguro porque a signature nova ainda não foi criada/inicializada.\nfor (const sig of Object.keys(staticData.signatures)) {\n  staticData.signatures[sig] = staticData.signatures[sig].filter(\n    ts => (now - ts) < DAY_MS\n  );\n  if (staticData.signatures[sig].length === 0) {\n    delete staticData.signatures[sig];\n  }\n}\n\n// AGORA inicializar a signature actual (após GC, garantido que não é deletada)\nstaticData.signatures[signature] = staticData.signatures[signature] || [];\n\nconst sigTimestamps = staticData.signatures[signature];\nconst sigDayCount = sigTimestamps.length;\nconst sigWindowCount = sigTimestamps.filter(ts => (now - ts) < WINDOW_MS).length;\n\n// Contar signatures distintas para ESTE workflow nas últimas 24h\nconst distinctSigsForWorkflow = Object.keys(staticData.signatures).filter(sig => {\n  if (!sig.startsWith(`${workflowId}::`)) return false;\n  return staticData.signatures[sig].some(ts => (now - ts) < DAY_MS);\n}).length;\n\n// Camada 3: hard cap de signatures distintas por workflow\nif (distinctSigsForWorkflow >= MAX_DISTINCT_PER_WORKFLOW) {\n  return [{\n    json: {\n      ...errorData,\n      suppress_alerts: true,\n      suppress_reason: `WORKFLOW_HARD_CAP: ${distinctSigsForWorkflow}/${MAX_DISTINCT_PER_WORKFLOW} distinct errors in 24h for workflow ${workflowId}`,\n      suppress_count: distinctSigsForWorkflow,\n      kill_switch: true,\n      signature: signature\n    }\n  }];\n}\n\n// Camada 2: storm sustido de mesmo erro (24h)\nif (sigDayCount >= MAX_PER_SIGNATURE_DAY) {\n  return [{\n    json: {\n      ...errorData,\n      suppress_alerts: true,\n      suppress_reason: `SIGNATURE_DAILY: ${sigDayCount}/${MAX_PER_SIGNATURE_DAY} same-error alerts in 24h for ${signature.slice(0, 80)}`,\n      suppress_count: sigDayCount,\n      kill_switch: false,\n      signature: signature\n    }\n  }];\n}\n\n// Camada 1: storm curto de mesmo erro (30 min)\nif (sigWindowCount >= MAX_PER_SIGNATURE_WINDOW) {\n  return [{\n    json: {\n      ...errorData,\n      suppress_alerts: true,\n      suppress_reason: `SIGNATURE_RATE_LIMIT: ${sigWindowCount}/${MAX_PER_SIGNATURE_WINDOW} same-error alerts in ${WINDOW_MS/60000}min for ${signature.slice(0, 80)}`,\n      suppress_count: sigWindowCount,\n      kill_switch: false,\n      signature: signature\n    }\n  }];\n}\n\n// Permitir alerta + registar timestamp\nstaticData.signatures[signature].push(now);\n\nreturn [{\n  json: {\n    ...errorData,\n    suppress_alerts: false,\n    suppress_count: staticData.signatures[signature].length,\n    distinct_count: distinctSigsForWorkflow + 1,\n    signature: signature\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,128],"id":"0c598cb5-9a93-4a29-a3af-fe3ca4991b68","name":"Circuit Breaker"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2c8a0e53-9efe-42fc-82a2-2eeffc1ab035","leftValue":"={{ $json.suppress_alerts }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-864,128],"id":"a5a67c81-768c-4fe5-a168-4239b27babe1","name":"IF Circuit"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst text = response.content && response.content[0] ? response.content[0].text : JSON.stringify(response);\nreturn [{ json: { output: text + '\\n\\n⚠️ Gerado via Haiku API (fallback — Claude Bridge indisponivel)', elapsed_s: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-32],"id":"32754fe8-88f5-4d8e-9bf5-cb462efd4b86","name":"Format api Response"},{"parameters":{"modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[288,-32],"id":"c0e68f29-3a95-4caf-b9ee-971dda9a0542","name":"Claude api","credentials":null}],"connections":{"Webhook":{"main":[[{"node":"Evo Credentials","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Extract Error Data","type":"main","index":0}]]},"Extract Error Data":{"main":[[{"node":"Circuit Breaker","type":"main","index":0}]]},"Memory Read":{"main":[[{"node":"Build Diagnostic Prompt + Memory","type":"main","index":0}]]},"Build Diagnostic Prompt + Memory":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Fallback Router","type":"main","index":0}]]},"Fallback Router":{"main":[[{"node":"IF Fallback","type":"main","index":0}]]},"IF Fallback":{"main":[[{"node":"Claude api","type":"main","index":0}],[{"node":"Telegram Alert","type":"main","index":0},{"node":"Memory Write","type":"main","index":0}]]},"Circuit Breaker":{"main":[[{"node":"IF Circuit","type":"main","index":0}]]},"IF Circuit":{"main":[[{"node":"Memory Read","type":"main","index":0}],[{"node":"Memory Write","type":"main","index":0}]]},"Claude api":{"main":[[{"node":"Format api Response","type":"main","index":0}]]},"Format api Response":{"main":[[{"node":"Telegram Alert","type":"main","index":0},{"node":"Memory Write","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"errorWorkflow":"heQ08w9HPkxGpNDu","executionTimeout":1200},"staticData":null,"meta":null,"pinData":{},"versionId":"e55f6a62-c033-48c9-9e60-c61ebe3174fc","activeVersionId":"e55f6a62-c033-48c9-9e60-c61ebe3174fc","triggerCount":1,"shared":[{"updatedAt":"2026-04-08T15:46:24.985Z","createdAt":"2026-04-08T15:46:24.985Z","role":"workflow:owner","workflowId":"Mm0usRCcHYYbCLXs","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-18T00:14:12.210Z","createdAt":"2026-05-18T00:14:12.210Z","versionId":"e55f6a62-c033-48c9-9e60-c61ebe3174fc","workflowId":"Mm0usRCcHYYbCLXs","nodes":[{"parameters":{"httpMethod":"POST","path":"d6cfb135-ec1d-4879-a9ea-5240365c81ec","options":{}},"id":"9153e400-edc2-4c3a-bdc0-ed642fcc3b61","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-1712,128],"webhookId":"d6cfb135-ec1d-4879-a9ea-5240365c81ec"},{"parameters":{"assignments":{"assignments":[{"id":"cred_1","name":"evo_api_key","value":"2vGHmKALc8VcXLSluKQO","type":"string"},{"id":"cred_2","name":"evo_instanciaID","value":"E240888B2C3F-4435-950D-ACFDD7E234B6","type":"string"},{"id":"cred_3","name":"nome_da_instancia","value":"Mkt Atend 2","type":"string"},{"id":"cred_4","name":"numero_notificacao","value":"+351913095597","type":"string"}]},"options":{}},"id":"ac30da3e-8fdd-4e42-b083-ff27567eb49d","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1488,128]},{"parameters":{"assignments":{"assignments":[{"id":"err_1","name":"scenario_name","value":"={{ $('Webhook').item.json.body.scenarioName ?? $('Webhook').item.json.body.scenario_name ?? 'Unknown' }}","type":"string"},{"id":"err_2","name":"scenario_id","value":"={{ $('Webhook').item.json.body.scenarioId ?? $('Webhook').item.json.body.scenario_id ?? 'Unknown' }}","type":"string"},{"id":"err_3","name":"error_message","value":"={{ $('Webhook').item.json.body.errorMessage ?? $('Webhook').item.json.body.error_message ?? $('Webhook').item.json.body.error ?? 'No error message' }}","type":"string"},{"id":"err_4","name":"module_name","value":"={{ $('Webhook').item.json.body.moduleName ?? $('Webhook').item.json.body.module_name ?? 'Unknown' }}","type":"string"},{"id":"err_5","name":"make_url","value":"=https://eu1.make.com/337878/scenarios/{{ $('Webhook').item.json.body.scenarioId ?? $('Webhook').item.json.body.scenario_id ?? '' }}/edit","type":"string"}]},"options":{}},"id":"eb2fa870-64ee-4851-a458-3643d5ebd34e","name":"Extract Error Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1280,128]},{"parameters":{"workflowId":{"__rl":true,"value":"ApIb3XMBDSj8NHlE","mode":"id","cachedResultUrl":"/workflow/ApIb3XMBDSj8NHlE"},"workflowInputs":{"mappingMode":"defineBelow","value":{"context":"Error debugging Make n8n workflow automation","project":"Ops","importance":"2"},"matchingColumns":[],"schema":[{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"importance","displayName":"importance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"62b3d554-d4ae-4ec7-87e5-15ee2af24973","name":"Memory Read","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-640,16],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const data = $('Extract Error Data').item.json;\nconst memoryContext = $('Memory Read').first().json.memoryContext || 'Nenhuma memoria recente.';\n\nconst prompt = `Voce e um especialista em Make.com (Integromat). Um cenario Make falhou e precisa de diagnostico.\n\nSe existir, le a skill em /home/claude/.claude/skills/n8n-doctor/SKILL.md para contexto sobre padroes de erro em automacao (muitos padroes sao comuns entre n8n e Make).\n\n${memoryContext}\n\nERRO DETECTADO:\nCenario: ${data.scenario_name} (ID: ${data.scenario_id})\nModulo: ${data.module_name}\nErro: ${data.error_message}\n\nPLATAFORMA: Make.com (eu1.make.com, Org 547444, Team 337878)\n\nTAREFAS:\n1. DIAGNOSTICA o erro — identifica root cause provavel\n2. CLASSIFICA severidade: CRITICO (cenario de producao down) | WARNING (degradado) | INFO (nao impactante)\n3. CLASSIFICA tipo de erro: TRANSIENT (timeout, rate limit, connection temporaria) | PERSISTENT (dados errados, config errada, API changed)\n4. SUGERE fix concreto (configuracao no Make, filtro, ou accao manual)\n5. Se e erro de API/conexao: sugere verificar credentials ou rate limits\n6. Se e erro de dados: sugere verificar input do modulo anterior\n7. Se a memoria recente mostra este MESMO erro repetido: ESCALA severidade e sugere fix definitivo\n\nPADROES COMUNS MAKE:\n- ConnectionError: token expirado ou API down\n- RuntimeError: dados inesperados no input\n- DataError: campo obrigatorio vazio ou tipo errado\n- RateLimitError: muitas execucoes simultaneas\n- IncompleteDataError: resposta da API truncada\n\nIMPORTANTE sobre Make:\n- NUNCA usar scenarios_update com blueprint para corrigir — corrompe field mappings\n- Correccoes devem ser manuais no editor Make ou via makeApiCall\n- Se modulo e Notion: verificar se rich_text array precisa de toString()\n\nFORMATO DE RESPOSTA (maximo 200 palavras, directo, sem fluff):\n\nSeveridade: [CRITICO | WARNING | INFO]\nTipo: [TRANSIENT | PERSISTENT]\nAuto-fix: [SIM | NAO]\n\nRoot Cause:\n[1-2 frases]\n\nFix Sugerido:\n[passos concretos]\n\nAccao Necessaria:\n[automatico / manual / monitorar]`;\n\nreturn [{ json: { prompt, timeout: 90000, scenario_id: data.scenario_id, error_message: data.error_message } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,16],"id":"f7fbc196-2410-417c-aa31-9f3cc3d75233","name":"Build Diagnostic Prompt + Memory"},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.prompt }}"},{"name":"timeout","value":"={{ $json.timeout }}"}]},"options":{}},"id":"cd65e3d6-ea12-4614-a575-ea1badf1c9a1","name":"Claude Bridge","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,16],"retryOnFail":true,"maxTries":2,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"chatId":"-1002374157964","text":"=🚨 *ERRO Make + DIAGNÓSTICO*\n\n📌 *Cenário:* {{ $('Extract Error Data').item.json.scenario_name }}\n🆔 *ID:* {{ $('Extract Error Data').item.json.scenario_id }}\n❌ *Módulo:* {{ $('Extract Error Data').item.json.module_name }}\n⚠️ *Erro:* {{ $('Extract Error Data').item.json.error_message }}\n\n🔧 *Diagnóstico IA:*\n{{ $('Claude Bridge').item.json.output }}\n\n{{ $('Parse Diagnosis').item.json.shouldRerun ? '🔄 *AUTO-RERUN EXECUTADO*' : '👉 *Acção manual necessária*' }}\n\n🔗 {{ $('Extract Error Data').item.json.make_url }}\n\n_⏱️ Diagnóstico em {{ $('Claude Bridge').item.json.elapsed_s }}s (with memory)_","additionalFields":{"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[960,144],"id":"dc26a0a1-9e6e-460e-a4ff-f01009291340","name":"Telegram Alert","webhookId":"7a866948-60f3-4e6a-90b7-211274cf703b","retryOnFail":true,"maxTries":2,"waitBetweenTries":3000,"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"URJf7Jg58IQAeXfc","mode":"id","cachedResultUrl":"/workflow/URJf7Jg58IQAeXfc"},"workflowInputs":{"mappingMode":"defineBelow","value":{"source":"SelfHealing","project":"Ops","response":"=🚨 *ERRO Make + DIAGNÓSTICO*\n\n📌 *Cenário:* {{ $('Extract Error Data').item.json.scenario_name }}\n🆔 *ID:* {{ $('Extract Error Data').item.json.scenario_id }}\n❌ *Módulo:* {{ $('Extract Error Data').item.json.module_name }}\n⚠️ *Erro:* {{ $('Extract Error Data').item.json.error_message }}\n\n🔧 *Diagnóstico IA:*\n{{ $('Claude Bridge').item.json.output }}\n\n{{ $('Parse Diagnosis').item.json.shouldRerun ? '🔄 *AUTO-RERUN EXECUTADO*' : '👉 *Acção manual necessária*' }}\n\n🔗 {{ $('Extract Error Data').item.json.make_url }}\n\n_⏱️ Diagnóstico em {{ $('Claude Bridge').item.json.elapsed_s }}s (with memory)_"},"matchingColumns":[],"schema":[{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"project","displayName":"project","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"response","displayName":"response","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"4086f300-2bec-4e47-9837-fb9e7fd346a2","name":"Memory Write","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[960,592],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const bridgeOutput = $input.first().json;\n\nif (bridgeOutput.output && bridgeOutput.output.length > 10) {\n  return [{ json: { output: bridgeOutput.output, elapsed_s: bridgeOutput.elapsed_s || 0, fallback: false, prompt: '' } }];\n}\n\nconst prompt = $('Build Diagnostic Prompt + Memory').first().json.prompt || '';\nreturn [{ json: { output: '', elapsed_s: 0, fallback: true, prompt: prompt } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,128],"id":"5598e71f-1b91-43c0-82e3-b04dc8fc8556","name":"Fallback Router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3a728824-560c-4d8c-9259-d99ceff4dbdb","leftValue":"={{ $json.fallback }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[128,128],"id":"470ebb47-a8a1-4e49-ae4c-42a60b2aa20c","name":"IF Fallback"},{"parameters":{"jsCode":"// Circuit Breaker v3.1 — dedup por signature (workflow_id + failed_node + error_message[:100])\n// \n// Camada 1: 10 alertas / 30 min por signature (storm de mesmo erro)\n// Camada 2: 30 alertas / 24h por signature (storm sustido de mesmo erro)\n// Camada 3: 100 signatures distintas / 24h por workflow_id (hard cap por workflow ruidoso)\n//\n// FIX v3.1: garbage collection ANTES da inicialização da signature actual\n// (v3 deletava a signature acabada de criar quando era nova/vazia → crash em .length)\n\nconst errorData = $('Extract Error Data').item.json;\nconst staticData = $getWorkflowStaticData('global');\n\nconst now = Date.now();\nconst WINDOW_MS = 30 * 60 * 1000;       // 30 minutos\nconst DAY_MS = 24 * 60 * 60 * 1000;     // 24 horas\n\nconst MAX_PER_SIGNATURE_WINDOW = 10;    // mesmo erro, 30 min\nconst MAX_PER_SIGNATURE_DAY = 30;       // mesmo erro, 24h\nconst MAX_DISTINCT_PER_WORKFLOW = 100;  // erros distintos por workflow, 24h\n\n// Construir signature: workflow_id + failed_node + first 100 chars of error_message\nconst workflowId = errorData.workflow_id || 'unknown';\nconst failedNode = errorData.failed_node || 'unknown';\nconst errorMsg = (errorData.error_message || '').slice(0, 100);\nconst signature = `${workflowId}::${failedNode}::${errorMsg}`;\n\n// Init estrutura raiz\nstaticData.signatures = staticData.signatures || {};\n\n// Garbage collection ANTES de mexer na signature actual:\n// limpar timestamps velhos de TODAS as signatures, e remover as que ficam vazias.\n// Isto é seguro porque a signature nova ainda não foi criada/inicializada.\nfor (const sig of Object.keys(staticData.signatures)) {\n  staticData.signatures[sig] = staticData.signatures[sig].filter(\n    ts => (now - ts) < DAY_MS\n  );\n  if (staticData.signatures[sig].length === 0) {\n    delete staticData.signatures[sig];\n  }\n}\n\n// AGORA inicializar a signature actual (após GC, garantido que não é deletada)\nstaticData.signatures[signature] = staticData.signatures[signature] || [];\n\nconst sigTimestamps = staticData.signatures[signature];\nconst sigDayCount = sigTimestamps.length;\nconst sigWindowCount = sigTimestamps.filter(ts => (now - ts) < WINDOW_MS).length;\n\n// Contar signatures distintas para ESTE workflow nas últimas 24h\nconst distinctSigsForWorkflow = Object.keys(staticData.signatures).filter(sig => {\n  if (!sig.startsWith(`${workflowId}::`)) return false;\n  return staticData.signatures[sig].some(ts => (now - ts) < DAY_MS);\n}).length;\n\n// Camada 3: hard cap de signatures distintas por workflow\nif (distinctSigsForWorkflow >= MAX_DISTINCT_PER_WORKFLOW) {\n  return [{\n    json: {\n      ...errorData,\n      suppress_alerts: true,\n      suppress_reason: `WORKFLOW_HARD_CAP: ${distinctSigsForWorkflow}/${MAX_DISTINCT_PER_WORKFLOW} distinct errors in 24h for workflow ${workflowId}`,\n      suppress_count: distinctSigsForWorkflow,\n      kill_switch: true,\n      signature: signature\n    }\n  }];\n}\n\n// Camada 2: storm sustido de mesmo erro (24h)\nif (sigDayCount >= MAX_PER_SIGNATURE_DAY) {\n  return [{\n    json: {\n      ...errorData,\n      suppress_alerts: true,\n      suppress_reason: `SIGNATURE_DAILY: ${sigDayCount}/${MAX_PER_SIGNATURE_DAY} same-error alerts in 24h for ${signature.slice(0, 80)}`,\n      suppress_count: sigDayCount,\n      kill_switch: false,\n      signature: signature\n    }\n  }];\n}\n\n// Camada 1: storm curto de mesmo erro (30 min)\nif (sigWindowCount >= MAX_PER_SIGNATURE_WINDOW) {\n  return [{\n    json: {\n      ...errorData,\n      suppress_alerts: true,\n      suppress_reason: `SIGNATURE_RATE_LIMIT: ${sigWindowCount}/${MAX_PER_SIGNATURE_WINDOW} same-error alerts in ${WINDOW_MS/60000}min for ${signature.slice(0, 80)}`,\n      suppress_count: sigWindowCount,\n      kill_switch: false,\n      signature: signature\n    }\n  }];\n}\n\n// Permitir alerta + registar timestamp\nstaticData.signatures[signature].push(now);\n\nreturn [{\n  json: {\n    ...errorData,\n    suppress_alerts: false,\n    suppress_count: staticData.signatures[signature].length,\n    distinct_count: distinctSigsForWorkflow + 1,\n    signature: signature\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,128],"id":"0c598cb5-9a93-4a29-a3af-fe3ca4991b68","name":"Circuit Breaker"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2c8a0e53-9efe-42fc-82a2-2eeffc1ab035","leftValue":"={{ $json.suppress_alerts }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-864,128],"id":"a5a67c81-768c-4fe5-a168-4239b27babe1","name":"IF Circuit"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst text = response.content && response.content[0] ? response.content[0].text : JSON.stringify(response);\nreturn [{ json: { output: text + '\\n\\n⚠️ Gerado via Haiku API (fallback — Claude Bridge indisponivel)', elapsed_s: 0 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-32],"id":"32754fe8-88f5-4d8e-9bf5-cb462efd4b86","name":"Format api Response"},{"parameters":{"modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[288,-32],"id":"c0e68f29-3a95-4caf-b9ee-971dda9a0542","name":"Claude api","credentials":null}],"connections":{"Webhook":{"main":[[{"node":"Evo Credentials","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Extract Error Data","type":"main","index":0}]]},"Extract Error Data":{"main":[[{"node":"Circuit Breaker","type":"main","index":0}]]},"Memory Read":{"main":[[{"node":"Build Diagnostic Prompt + Memory","type":"main","index":0}]]},"Build Diagnostic Prompt + Memory":{"main":[[{"node":"Claude Bridge","type":"main","index":0}]]},"Claude Bridge":{"main":[[{"node":"Fallback Router","type":"main","index":0}]]},"Fallback Router":{"main":[[{"node":"IF Fallback","type":"main","index":0}]]},"IF Fallback":{"main":[[{"node":"Claude api","type":"main","index":0}],[{"node":"Telegram Alert","type":"main","index":0},{"node":"Memory Write","type":"main","index":0}]]},"Circuit Breaker":{"main":[[{"node":"IF Circuit","type":"main","index":0}]]},"IF Circuit":{"main":[[{"node":"Memory Read","type":"main","index":0}],[{"node":"Memory Write","type":"main","index":0}]]},"Claude api":{"main":[[{"node":"Format api Response","type":"main","index":0}]]},"Format api Response":{"main":[[{"node":"Telegram Alert","type":"main","index":0},{"node":"Memory Write","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[{"updatedAt":"2026-03-30T17:25:46.128Z","createdAt":"2026-03-30T17:25:46.128Z","id":"I55hCGMBk1VDjvLr","name":"claude-bridge"},{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}