haro-auto-response-fp36GYbe1D1nP0vd.json
{"updatedAt":"2026-05-23T19:46:59.672Z","createdAt":"2026-02-26T20:31:15.443Z","id":"fp36GYbe1D1nP0vd","name":"HARO Auto-Response","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"haro-response","options":{}},"id":"a1b2c3d4-0001-4000-8000-000000000001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-256,304],"webhookId":"haro-response"},{"parameters":{"jsCode":"const record = $input.first().json;\nconst fields = record.fields || record;\n\nconst title = fields.Title || '';\nconst description = fields.Description || '';\nconst recordId = record.id || fields.RecordID || '';\n\n// Parse structured data from description text\nconst nameMatch = description.match(/Name:\\s*(.+)/i);\nconst emailMatch = description.match(/Email:\\s*(\\S+)/i);\nconst deadlineMatch = description.match(/Deadline:\\s*(.+)/i);\nconst mediaMatch = description.match(/Media Outlet:\\s*(.+)/i);\nconst categoryMatch = description.match(/Category:\\s*(.+)/i);\n\nconst journalistName = (fields.Name || (nameMatch ? nameMatch[1].trim() : '')); \nconst journalistEmail = (fields.Email || (emailMatch ? emailMatch[1].trim() : ''));\nconst deadline = (fields.Deadline || (deadlineMatch ? deadlineMatch[1].trim() : ''));\nconst mediaOutlet = mediaMatch ? mediaMatch[1].trim() : '';\nconst category = categoryMatch ? categoryMatch[1].trim() : '';\n\n// Clean description - remove base64 junk\nconst cleanDescription = description.replace(/[A-Za-z0-9+/=]{100,}/g, '[content removed]');\n\n// Auto-detect project\nconst text = (title + ' ' + cleanDescription).toLowerCase();\nlet project = 'GENERAL';\nlet projectContext = '';\nlet signature = '';\n\nif (text.includes('health') || text.includes('medical') || text.includes('telemedicine') || \n    text.includes('doctor') || text.includes('patient') || text.includes('wellness') ||\n    text.includes('therapy') || text.includes('mental health') || text.includes('healthcare')) {\n  project = 'TM';\n  projectContext = 'TeleMed Brasil - Leading telemedicine platform connecting patients with healthcare professionals across Brazil. Specializes in remote consultations, AI-powered health diagnostics, and healthcare accessibility.';\n  signature = 'Ary Gustavo Ribeiro\\nCEO, TeleMed Brasil\\n+351 913 095 597\\narygustavo@jcg.com.br\\ntelemedbrasil.com';\n} else if (text.includes('legal') || text.includes('law') || text.includes('court') || \n           text.includes('justice') || text.includes('judicial') || text.includes('attorney') ||\n           text.includes('litigation') || text.includes('compliance')) {\n  project = 'TJ';\n  projectContext = 'TeleJud - Legal technology platform for the Brazilian judiciary. Pioneering AI-powered solutions for digital courts, case management, and access to justice.';\n  signature = 'Ary Gustavo Ribeiro\\nCEO, TeleJud\\n+351 913 095 597\\narygustavo@jcg.com.br\\ntelejud.com';\n} else if (text.includes('real estate') || text.includes('property') || text.includes('investment') || \n           text.includes('portugal') || text.includes('lisbon') || text.includes('golden visa') ||\n           text.includes('relocation') || text.includes('expat') || text.includes('housing market')) {\n  project = 'CL';\n  projectContext = 'Casas de Lisboa - Premium real estate consultancy in Lisbon, Portugal. Specializes in property investment, Golden Visa program, European relocation services, and luxury real estate.';\n  signature = 'Ary Gustavo Ribeiro\\nCEO, Casas de Lisboa\\n+351 913 095 597\\narygustavo@jcg.com.br\\ncasasdelisboa.com.br';\n} else {\n  project = 'GENERAL';\n  projectContext = 'AI & Digital Innovation Consultant with 18+ years of experience in digital transformation, marketing automation, and AI implementation. Based in Berlin, working with companies across Europe and Latin America.';\n  signature = 'Ary Gustavo Ribeiro\\nAI & Digital Innovation Consultant\\n+351 913 095 597\\narygustavo@jcg.com.br';\n}\n\nreturn [{\n  json: {\n    record_id: recordId,\n    title,\n    description: cleanDescription,\n    journalist_name: journalistName,\n    journalist_email: journalistEmail,\n    deadline,\n    media_outlet: mediaOutlet,\n    category,\n    project,\n    project_context: projectContext,\n    signature\n  }\n}];"},"id":"a1b2c3d4-0003-4000-8000-000000000003","name":"Parse HARO Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[192,304]},{"parameters":{"promptType":"define","text":"=QUERY:\n{{ $json.description }}\n\nIDENTITY — NON-NEGOTIABLE:\n- You are ALWAYS writing as Ary Gustavo Ribeiro. Never invent a different name or persona.\n- First person singular only: \"I am Ary Gustavo Ribeiro...\"\n- Never create fictional characters like \"Ana Morales\" or \"João Silva\".\n\nDraft a compelling expert response to this journalist query. Keep it simple, direct, and ready for the journalist to copy-paste into their article.","messages":{"messageValues":[{"message":"=You are a PR expert writing responses to journalist queries from HARO (Help A Reporter Out). Your goal is to get published and earn a media mention/backlink.\n\nCONTEXT:\n- Responding on behalf of: {{ $json.project_context }}\n- Detected project: {{ $json.project }}\n- Journalist: {{ $json.journalist_name }}\n- Media outlet deadline: {{ $json.deadline }}\n\nRULES:\n1. Start with: \"I am Ary Gustavo Ribeiro, [role from project context], and I am answering because [relevance to query].\"\n2. Answer the journalist's specific questions DIRECTLY. Every sentence must be simple, clear, and ready to copy-paste into an article without editing.\n3. Write as if you're being quoted — short sentences, plain language, no jargon. Journalists will literally copy your text and cite you, so make it effortless.\n4. Keep the total response under 250 words. Shorter pitches win.\n5. If the query asks for tips/advice, number them (1, 2, 3) for easy readability.\n6. Professional but conversational — like a real expert talking to a colleague, not corporate speak.\n7. Naturally mention the company/website ONCE for backlink opportunity, without being pushy.\n8. End with: \"I hope this helps. Feel free to adjust my answers to better fit your writing style. If you need any additional information, don't hesitate to reach out.\"\n9. The response must feel authentic and human — NEVER mention AI.\n10. Tailor expertise and examples to the detected project context.\n11. If project is GENERAL, respond as an AI & Digital Innovation expert.\n12. Use sequential numbering (1, 2, 3, 4...) for ALL lists. NEVER restart numbering. NEVER have two items numbered \"1.\"\n13. NEVER invent statistics, team sizes, timeframes, or titles. If you lack specific data, speak in general strategic terms.\n14. Every sentence should be self-contained and quotable — a journalist should be able to extract ANY sentence and use it as a standalone quote in their article.\n\nOUTPUT FORMAT — respond with EXACTLY this structure:\n\nSUBJECT: Re: HARO - {{ $json.title }}\n\nBODY:\n[Complete email body — do NOT include greeting or signature, those are added automatically]\n\nCRITICAL: There MUST be a blank line between the SUBJECT line and BODY line. Never put them on consecutive lines."}]}},"id":"a1b2c3d4-0005-4000-8000-000000000005","name":"Draft HARO Response","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[464,304]},{"parameters":{"jsCode":"const aiResponse = $('Draft HARO Response').first().json.text || $('Draft HARO Response').first().json.response || '';\nconst data = $('Parse HARO Data').first().json;\n\n// Parse subject and body from AI response\nlet subject = '';\nlet body = '';\n\nconst subjectMatch = aiResponse.match(/SUBJECT:\\s*(.+?)(?:\\n|$)/);\nif (subjectMatch) {\n  subject = subjectMatch[1].trim();\n}\n\nconst bodyMatch = aiResponse.match(/BODY:\\s*([\\s\\S]+)/);\nif (bodyMatch) {\n  body = bodyMatch[1].trim();\n} else {\n  // Fallback: everything after SUBJECT line\n  body = aiResponse.replace(/SUBJECT:.*\\n/, '').trim();\n}\n\n// Build full email draft\nconst greeting = data.journalist_name \n  ? `Hi ${data.journalist_name.split(' ')[0]},` \n  : 'Hi,';\n\nconst fullDraft = `${greeting}\\n\\n${body}\\n\\nBest regards,\\n${data.signature}`;\n\nreturn [{\n  json: {\n    record_id: data.record_id,\n    subject: subject,\n    body: fullDraft,\n    project: data.project,\n    journalist_name: data.journalist_name,\n    journalist_email: data.journalist_email,\n    deadline: data.deadline,\n    title: data.title\n  }\n}];"},"id":"a1b2c3d4-0006-4000-8000-000000000006","name":"Format Draft","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,304]},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"id":"a1b2c3d4-0004-4000-8000-000000000004","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[464,528],"credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app9shUm0Kp9ySC24","mode":"list","cachedResultName":"Opportunities Feed","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24"},"table":{"__rl":true,"value":"tblz1Mbqvjqlb39iD","mode":"list","cachedResultName":"HARO","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24/tblz1Mbqvjqlb39iD"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.query.recordID }}","Title":"={{ $('Parse HARO Data').item.json.title }}","Draft_Response":"=Subject: {{ $json.subject }} Body: {{ $json.body }} ","Deadline":"={{ $('Parse HARO Data').item.json.deadline }}","Name":"={{ $('Parse HARO Data').item.json.journalist_name }}","Email":"={{ $('Parse HARO Data').item.json.journalist_email }}","Status":"Done"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"RecordID","displayName":"RecordID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Deadline","displayName":"Deadline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Draft_Response","displayName":"Draft_Response","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created at","displayName":"Created at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"None","value":"None"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1120,304],"id":"a8392aa7-1ece-467a-8a6b-dea54ace0b03","name":"Update record","credentials":null},{"parameters":{"base":{"__rl":true,"mode":"id","value":"app9shUm0Kp9ySC24"},"table":{"__rl":true,"value":"tblz1Mbqvjqlb39iD","mode":"id"},"id":"={{ $json.query.recordID }}","options":{}},"id":"40c09f47-96d5-4b3e-a43c-62dcc7aba7fd","name":"Airtable: Get Record","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-32,304],"credentials":null,"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Airtable: Get Record","type":"main","index":0}]]},"Parse HARO Data":{"main":[[{"node":"Draft HARO Response","type":"main","index":0}]]},"Draft HARO Response":{"main":[[{"node":"Format Draft","type":"main","index":0}]]},"Format Draft":{"main":[[{"node":"Update record","type":"main","index":0}]]},"OpenAI":{"ai_languageModel":[[{"node":"Draft HARO Response","type":"ai_languageModel","index":0}]]},"Airtable: Get Record":{"main":[[{"node":"Parse HARO Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"heQ08w9HPkxGpNDu","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"timeSavedMode":"fixed","saveDataSuccessExecution":"all","executionTimeout":600},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a3899d3e-b75e-49d8-86fc-6084ead940dd","activeVersionId":"a3899d3e-b75e-49d8-86fc-6084ead940dd","triggerCount":1,"shared":[{"updatedAt":"2026-02-26T20:31:15.443Z","createdAt":"2026-02-26T20:31:15.443Z","role":"workflow:owner","workflowId":"fp36GYbe1D1nP0vd","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-23T19:46:59.676Z","createdAt":"2026-05-23T19:46:59.676Z","versionId":"a3899d3e-b75e-49d8-86fc-6084ead940dd","workflowId":"fp36GYbe1D1nP0vd","nodes":[{"parameters":{"path":"haro-response","options":{}},"id":"a1b2c3d4-0001-4000-8000-000000000001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-256,304],"webhookId":"haro-response"},{"parameters":{"jsCode":"const record = $input.first().json;\nconst fields = record.fields || record;\n\nconst title = fields.Title || '';\nconst description = fields.Description || '';\nconst recordId = record.id || fields.RecordID || '';\n\n// Parse structured data from description text\nconst nameMatch = description.match(/Name:\\s*(.+)/i);\nconst emailMatch = description.match(/Email:\\s*(\\S+)/i);\nconst deadlineMatch = description.match(/Deadline:\\s*(.+)/i);\nconst mediaMatch = description.match(/Media Outlet:\\s*(.+)/i);\nconst categoryMatch = description.match(/Category:\\s*(.+)/i);\n\nconst journalistName = (fields.Name || (nameMatch ? nameMatch[1].trim() : '')); \nconst journalistEmail = (fields.Email || (emailMatch ? emailMatch[1].trim() : ''));\nconst deadline = (fields.Deadline || (deadlineMatch ? deadlineMatch[1].trim() : ''));\nconst mediaOutlet = mediaMatch ? mediaMatch[1].trim() : '';\nconst category = categoryMatch ? categoryMatch[1].trim() : '';\n\n// Clean description - remove base64 junk\nconst cleanDescription = description.replace(/[A-Za-z0-9+/=]{100,}/g, '[content removed]');\n\n// Auto-detect project\nconst text = (title + ' ' + cleanDescription).toLowerCase();\nlet project = 'GENERAL';\nlet projectContext = '';\nlet signature = '';\n\nif (text.includes('health') || text.includes('medical') || text.includes('telemedicine') || \n    text.includes('doctor') || text.includes('patient') || text.includes('wellness') ||\n    text.includes('therapy') || text.includes('mental health') || text.includes('healthcare')) {\n  project = 'TM';\n  projectContext = 'TeleMed Brasil - Leading telemedicine platform connecting patients with healthcare professionals across Brazil. Specializes in remote consultations, AI-powered health diagnostics, and healthcare accessibility.';\n  signature = 'Ary Gustavo Ribeiro\\nCEO, TeleMed Brasil\\n+351 913 095 597\\narygustavo@jcg.com.br\\ntelemedbrasil.com';\n} else if (text.includes('legal') || text.includes('law') || text.includes('court') || \n           text.includes('justice') || text.includes('judicial') || text.includes('attorney') ||\n           text.includes('litigation') || text.includes('compliance')) {\n  project = 'TJ';\n  projectContext = 'TeleJud - Legal technology platform for the Brazilian judiciary. Pioneering AI-powered solutions for digital courts, case management, and access to justice.';\n  signature = 'Ary Gustavo Ribeiro\\nCEO, TeleJud\\n+351 913 095 597\\narygustavo@jcg.com.br\\ntelejud.com';\n} else if (text.includes('real estate') || text.includes('property') || text.includes('investment') || \n           text.includes('portugal') || text.includes('lisbon') || text.includes('golden visa') ||\n           text.includes('relocation') || text.includes('expat') || text.includes('housing market')) {\n  project = 'CL';\n  projectContext = 'Casas de Lisboa - Premium real estate consultancy in Lisbon, Portugal. Specializes in property investment, Golden Visa program, European relocation services, and luxury real estate.';\n  signature = 'Ary Gustavo Ribeiro\\nCEO, Casas de Lisboa\\n+351 913 095 597\\narygustavo@jcg.com.br\\ncasasdelisboa.com.br';\n} else {\n  project = 'GENERAL';\n  projectContext = 'AI & Digital Innovation Consultant with 18+ years of experience in digital transformation, marketing automation, and AI implementation. Based in Berlin, working with companies across Europe and Latin America.';\n  signature = 'Ary Gustavo Ribeiro\\nAI & Digital Innovation Consultant\\n+351 913 095 597\\narygustavo@jcg.com.br';\n}\n\nreturn [{\n  json: {\n    record_id: recordId,\n    title,\n    description: cleanDescription,\n    journalist_name: journalistName,\n    journalist_email: journalistEmail,\n    deadline,\n    media_outlet: mediaOutlet,\n    category,\n    project,\n    project_context: projectContext,\n    signature\n  }\n}];"},"id":"a1b2c3d4-0003-4000-8000-000000000003","name":"Parse HARO Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[192,304]},{"parameters":{"promptType":"define","text":"=QUERY:\n{{ $json.description }}\n\nIDENTITY — NON-NEGOTIABLE:\n- You are ALWAYS writing as Ary Gustavo Ribeiro. Never invent a different name or persona.\n- First person singular only: \"I am Ary Gustavo Ribeiro...\"\n- Never create fictional characters like \"Ana Morales\" or \"João Silva\".\n\nDraft a compelling expert response to this journalist query. Keep it simple, direct, and ready for the journalist to copy-paste into their article.","messages":{"messageValues":[{"message":"=You are a PR expert writing responses to journalist queries from HARO (Help A Reporter Out). Your goal is to get published and earn a media mention/backlink.\n\nCONTEXT:\n- Responding on behalf of: {{ $json.project_context }}\n- Detected project: {{ $json.project }}\n- Journalist: {{ $json.journalist_name }}\n- Media outlet deadline: {{ $json.deadline }}\n\nRULES:\n1. Start with: \"I am Ary Gustavo Ribeiro, [role from project context], and I am answering because [relevance to query].\"\n2. Answer the journalist's specific questions DIRECTLY. Every sentence must be simple, clear, and ready to copy-paste into an article without editing.\n3. Write as if you're being quoted — short sentences, plain language, no jargon. Journalists will literally copy your text and cite you, so make it effortless.\n4. Keep the total response under 250 words. Shorter pitches win.\n5. If the query asks for tips/advice, number them (1, 2, 3) for easy readability.\n6. Professional but conversational — like a real expert talking to a colleague, not corporate speak.\n7. Naturally mention the company/website ONCE for backlink opportunity, without being pushy.\n8. End with: \"I hope this helps. Feel free to adjust my answers to better fit your writing style. If you need any additional information, don't hesitate to reach out.\"\n9. The response must feel authentic and human — NEVER mention AI.\n10. Tailor expertise and examples to the detected project context.\n11. If project is GENERAL, respond as an AI & Digital Innovation expert.\n12. Use sequential numbering (1, 2, 3, 4...) for ALL lists. NEVER restart numbering. NEVER have two items numbered \"1.\"\n13. NEVER invent statistics, team sizes, timeframes, or titles. If you lack specific data, speak in general strategic terms.\n14. Every sentence should be self-contained and quotable — a journalist should be able to extract ANY sentence and use it as a standalone quote in their article.\n\nOUTPUT FORMAT — respond with EXACTLY this structure:\n\nSUBJECT: Re: HARO - {{ $json.title }}\n\nBODY:\n[Complete email body — do NOT include greeting or signature, those are added automatically]\n\nCRITICAL: There MUST be a blank line between the SUBJECT line and BODY line. Never put them on consecutive lines."}]}},"id":"a1b2c3d4-0005-4000-8000-000000000005","name":"Draft HARO Response","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[464,304]},{"parameters":{"jsCode":"const aiResponse = $('Draft HARO Response').first().json.text || $('Draft HARO Response').first().json.response || '';\nconst data = $('Parse HARO Data').first().json;\n\n// Parse subject and body from AI response\nlet subject = '';\nlet body = '';\n\nconst subjectMatch = aiResponse.match(/SUBJECT:\\s*(.+?)(?:\\n|$)/);\nif (subjectMatch) {\n  subject = subjectMatch[1].trim();\n}\n\nconst bodyMatch = aiResponse.match(/BODY:\\s*([\\s\\S]+)/);\nif (bodyMatch) {\n  body = bodyMatch[1].trim();\n} else {\n  // Fallback: everything after SUBJECT line\n  body = aiResponse.replace(/SUBJECT:.*\\n/, '').trim();\n}\n\n// Build full email draft\nconst greeting = data.journalist_name \n  ? `Hi ${data.journalist_name.split(' ')[0]},` \n  : 'Hi,';\n\nconst fullDraft = `${greeting}\\n\\n${body}\\n\\nBest regards,\\n${data.signature}`;\n\nreturn [{\n  json: {\n    record_id: data.record_id,\n    subject: subject,\n    body: fullDraft,\n    project: data.project,\n    journalist_name: data.journalist_name,\n    journalist_email: data.journalist_email,\n    deadline: data.deadline,\n    title: data.title\n  }\n}];"},"id":"a1b2c3d4-0006-4000-8000-000000000006","name":"Format Draft","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,304]},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"id":"a1b2c3d4-0004-4000-8000-000000000004","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[464,528],"credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app9shUm0Kp9ySC24","mode":"list","cachedResultName":"Opportunities Feed","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24"},"table":{"__rl":true,"value":"tblz1Mbqvjqlb39iD","mode":"list","cachedResultName":"HARO","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24/tblz1Mbqvjqlb39iD"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.query.recordID }}","Title":"={{ $('Parse HARO Data').item.json.title }}","Draft_Response":"=Subject: {{ $json.subject }} Body: {{ $json.body }} ","Deadline":"={{ $('Parse HARO Data').item.json.deadline }}","Name":"={{ $('Parse HARO Data').item.json.journalist_name }}","Email":"={{ $('Parse HARO Data').item.json.journalist_email }}","Status":"Done"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"RecordID","displayName":"RecordID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Deadline","displayName":"Deadline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Draft_Response","displayName":"Draft_Response","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created at","displayName":"Created at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"None","value":"None"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1120,304],"id":"a8392aa7-1ece-467a-8a6b-dea54ace0b03","name":"Update record","credentials":null},{"parameters":{"base":{"__rl":true,"mode":"id","value":"app9shUm0Kp9ySC24"},"table":{"__rl":true,"value":"tblz1Mbqvjqlb39iD","mode":"id"},"id":"={{ $json.query.recordID }}","options":{}},"id":"40c09f47-96d5-4b3e-a43c-62dcc7aba7fd","name":"Airtable: Get Record","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-32,304],"credentials":null,"onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Airtable: Get Record","type":"main","index":0}]]},"Parse HARO Data":{"main":[[{"node":"Draft HARO Response","type":"main","index":0}]]},"Draft HARO Response":{"main":[[{"node":"Format Draft","type":"main","index":0}]]},"Format Draft":{"main":[[{"node":"Update record","type":"main","index":0}]]},"OpenAI":{"ai_languageModel":[[{"node":"Draft HARO Response","type":"ai_languageModel","index":0}]]},"Airtable: Get Record":{"main":[[{"node":"Parse HARO Data","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[]}