heartbeat-bridge-dead-man-switch-2vD4RCWad5FlRYRG.json
{"updatedAt":"2026-05-18T00:10:12.165Z","createdAt":"2026-05-08T15:52:57.013Z","id":"2vD4RCWad5FlRYRG","name":"Heartbeat Bridge Dead Man Switch","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"51e03b3c-493e-4031-867f-f08287170d9f","name":"Every 1h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-864,16]},{"parameters":{"url":"https://macmini-bridge.coletiv.me/health","options":{"timeout":10000}},"id":"ebb1e81e-8259-4f43-880d-9f52e11354d0","name":"Bridge Health","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,16],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst item = $input.first();\nconst json = item.json;\nconst isDown = json.error !== undefined || json.code !== undefined;\nlet failures = staticData.consecutiveFailures || 0;\nif (isDown) { failures++; } else { failures = 0; }\nstaticData.consecutiveFailures = failures;\nconst ts = new Date().toISOString();\nconst alertText = '\\ud83e\\udd9e Heartbeat Patrol \\u2014 Bridge Dead Man Switch\\n\\n\\u26a0\\ufe0f Bridge DOWN \\u2014 ' + failures + ' consecutive failures\\nEndpoint: https://macmini-bridge.coletiv.me/health\\nTimestamp: ' + ts + '\\n\\nMac Mini offline ou Claude auth expirou.\\nAction: SSH Mac Mini \\u2192 verificar estado';\nreturn [{ json: { shouldAlert: failures >= 2, consecutiveFailures: failures, bridgeStatus: isDown ? 'DOWN' : 'UP', timestamp: ts, alertText: alertText } }];"},"id":"d2726220-25d5-43ec-877b-e41498fe7c67","name":"Track Failures","type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-alert","leftValue":"={{ $json.shouldAlert }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"94b49301-714a-440a-b726-518d6a12eef2","name":"Should Alert?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,16]},{"parameters":{"chatId":"-1002374157964","text":"=🚨 *Heartbeat Bridge Dead Man Switch*\n\nBridge Mac Mini DOWN for {{ $json.consecutiveFailures }} consecutive checks.\n\nLast attempt: {{ $json.timestamp }}\nStatus code: {{ $json.statusCode }}\nError: {{ $json.errorMessage }}\n\nAccao sugerida:\n1. SSH Mac Mini: `ssh aryribeiromacmini@192.168.1.23`\n2. `echo OK | claude -p`\n3. Se Not logged in: `claude /login`\n\nDetalhes: ~/personal-os/docs/mac-mini-reference.md","additionalFields":{"parse_mode":"Markdown"}},"id":"fe571736-786c-492f-bd80-73d986c0af14","name":"Telegram — Alert Bridge Down","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,-112],"webhookId":"a1378270-6987-4146-8052-8bd6923bf8b7","credentials":null},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,112],"id":"c28d4d78-dc0f-4a99-a4aa-87b2587f1910","name":"No Operation, do nothing"}],"connections":{"Every 1h":{"main":[[{"node":"Bridge Health","type":"main","index":0}]]},"Bridge Health":{"main":[[{"node":"Track Failures","type":"main","index":0}]]},"Track Failures":{"main":[[{"node":"Should Alert?","type":"main","index":0}]]},"Should Alert?":{"main":[[{"node":"Telegram — Alert Bridge Down","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu","executionTimeout":600},"staticData":{"node:Every 1h":{"recurrenceRules":[]},"global":{"consecutiveFailures":0}},"meta":null,"pinData":{},"versionId":"a243df61-2ba1-4db3-9c83-abc6a208dab1","activeVersionId":"a243df61-2ba1-4db3-9c83-abc6a208dab1","triggerCount":1,"shared":[{"updatedAt":"2026-05-08T15:52:57.013Z","createdAt":"2026-05-08T15:52:57.013Z","role":"workflow:owner","workflowId":"2vD4RCWad5FlRYRG","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-18T00:10:12.169Z","createdAt":"2026-05-18T00:10:12.169Z","versionId":"a243df61-2ba1-4db3-9c83-abc6a208dab1","workflowId":"2vD4RCWad5FlRYRG","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"51e03b3c-493e-4031-867f-f08287170d9f","name":"Every 1h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-864,16]},{"parameters":{"url":"https://macmini-bridge.coletiv.me/health","options":{"timeout":10000}},"id":"ebb1e81e-8259-4f43-880d-9f52e11354d0","name":"Bridge Health","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,16],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst item = $input.first();\nconst json = item.json;\nconst isDown = json.error !== undefined || json.code !== undefined;\nlet failures = staticData.consecutiveFailures || 0;\nif (isDown) { failures++; } else { failures = 0; }\nstaticData.consecutiveFailures = failures;\nconst ts = new Date().toISOString();\nconst alertText = '\\ud83e\\udd9e Heartbeat Patrol \\u2014 Bridge Dead Man Switch\\n\\n\\u26a0\\ufe0f Bridge DOWN \\u2014 ' + failures + ' consecutive failures\\nEndpoint: https://macmini-bridge.coletiv.me/health\\nTimestamp: ' + ts + '\\n\\nMac Mini offline ou Claude auth expirou.\\nAction: SSH Mac Mini \\u2192 verificar estado';\nreturn [{ json: { shouldAlert: failures >= 2, consecutiveFailures: failures, bridgeStatus: isDown ? 'DOWN' : 'UP', timestamp: ts, alertText: alertText } }];"},"id":"d2726220-25d5-43ec-877b-e41498fe7c67","name":"Track Failures","type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-alert","leftValue":"={{ $json.shouldAlert }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"94b49301-714a-440a-b726-518d6a12eef2","name":"Should Alert?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-208,16]},{"parameters":{"chatId":"-1002374157964","text":"=🚨 *Heartbeat Bridge Dead Man Switch*\n\nBridge Mac Mini DOWN for {{ $json.consecutiveFailures }} consecutive checks.\n\nLast attempt: {{ $json.timestamp }}\nStatus code: {{ $json.statusCode }}\nError: {{ $json.errorMessage }}\n\nAccao sugerida:\n1. SSH Mac Mini: `ssh aryribeiromacmini@192.168.1.23`\n2. `echo OK | claude -p`\n3. Se Not logged in: `claude /login`\n\nDetalhes: ~/personal-os/docs/mac-mini-reference.md","additionalFields":{"parse_mode":"Markdown"}},"id":"fe571736-786c-492f-bd80-73d986c0af14","name":"Telegram — Alert Bridge Down","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,-112],"webhookId":"a1378270-6987-4146-8052-8bd6923bf8b7","credentials":null},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,112],"id":"c28d4d78-dc0f-4a99-a4aa-87b2587f1910","name":"No Operation, do nothing"}],"connections":{"Every 1h":{"main":[[{"node":"Bridge Health","type":"main","index":0}]]},"Bridge Health":{"main":[[{"node":"Track Failures","type":"main","index":0}]]},"Track Failures":{"main":[[{"node":"Should Alert?","type":"main","index":0}]]},"Should Alert?":{"main":[[{"node":"Telegram — Alert Bridge Down","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[]}