lead-qualification-report-to-trello-OtHDaVKcALzdM3a5.json
{"updatedAt":"2026-06-01T02:04:27.061Z","createdAt":"2025-02-25T14:51:10.192Z","id":"OtHDaVKcALzdM3a5","name":"Lead Qualification Report to Trello","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a8c29fce-9ae8-45a1-b327-9b0a2a363421","leftValue":"={{ $json.fields['resposta5'] && $json.fields['resposta5'].trim() !== '' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1cde9201-a37a-4a46-ab56-1ada2ec81bd5","name":"If - Lead Respondeu Perguntas","type":"n8n-nodes-base.if","typeVersion":2,"position":[-480,48]},{"parameters":{},"id":"9fb29242-aaf9-4a67-a522-237b728f9a71","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-64,448]},{"parameters":{"assignments":{"assignments":[{"id":"5c0e8b9e-7734-44cc-af51-f57f1d7987df","name":"Resumo IA","value":"={{ $json.message.content.resumo }}","type":"string"},{"id":"63e03457-9723-43d5-81f9-c33c5de771c4","name":"Language","value":"={{ $json.message.content.idioma }}","type":"string"}]},"options":{}},"id":"2350232c-b085-463d-a433-5ac32476fab0","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[400,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a8c29fce-9ae8-45a1-b327-9b0a2a363421","leftValue":"={{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.lead_Report }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d2c5f779-365b-4e42-b92b-57f34e2c6f57","name":"If - Lead Report Necessário","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,32]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.4-mini","mode":"list","cachedResultName":"GPT-5.4-MINI"},"messages":{"values":[{"content":"=Sua tarefa tem dois objetivos:\n1) DETECTAR o idioma predominante das respostas do lead.\n2) ESCREVER uma descrição completa do perfil do potencial cliente chamado {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.Name }} que agendou uma reunião online conosco.\n\nAnalise as respostas do potencial cliente abaixo:\nPergunta: Fale com detalhes sobre os problemas que o motivaram a nos procurar e o porquê você agendou uma reunião conosco?\nResposta: {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.resposta1 }}\nPergunta: Fale um pouco sobre o que você faz.\nResposta: {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.resposta2 }}\nPergunta: Fale mais sobre você.\nResposta: {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.resposta3 }}. {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.resposta4 }}\nPergunta: Como você nos encontrou?\nResposta: {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.resposta5 }}\nPergunta: Você já conversou com outros especialistas sobre este assunto?\nResposta: {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.resposta6 }}\n\nLeia a conversa:\n{{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.concat_Messages }}\n\nREGRAS DE SAÍDA (obrigatórias):\n- Responda APENAS com um objeto JSON válido. Sem markdown, sem crases, sem texto antes ou depois.\n- O objeto deve ter exatamente dois campos:\n  \"idioma\": idioma predominante das respostas do lead, por extenso em português (ex.: \"Português\", \"Inglês\", \"Espanhol\", \"Francês\"). Se houver mistura, indique o majoritário.\n  \"resumo\": descrição completa do perfil do lead em plain text e SEMPRE em português do Brasil, independentemente do idioma das respostas. Cubra: quem é, o que faz, problema/motivação, urgência/prazo, se já falou com outros especialistas, e como podemos ajudá-lo.\n\nO nome do lead é: {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.Name }}\n\nFormato de saída (apenas o formato, não o conteúdo):\n{\"idioma\":\"Português\",\"resumo\":\"O lead ... como podemos ajudá-lo.\"}","role":"assistant"}]},"jsonOutput":true,"options":{}},"id":"66dfc24c-34da-4d07-abb8-860194afc49f","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[0,16],"credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"239a73eb-d9d8-442c-aa10-ee9cd88be7f3","leftValue":"={{ $json.id }}","rightValue":"661cf24a16681ccc4842f785","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1488,16],"id":"b9da0b06-48f3-4575-bf51-0e07bc6d8f4f","name":"Filter - List Lead Calendly","disabled":true},{"parameters":{"resource":"list","operation":"getCards","id":"661cf24a16681ccc4842f785","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1728,16],"id":"8da11317-d66f-4359-88fb-8e3d9be23dd3","name":"Trello - Get All Cards on List Lead Calendly","credentials":null},{"parameters":{"fieldToSplitOut":"name","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1936,16],"id":"37df5fd1-fca9-4049-b015-ba3cc5c4d033","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"226cdc23-253d-4cd9-828f-465dd67c715d","leftValue":"={{ $json.name }}","rightValue":"={{ $('Trello Create Comment Board Novo Cliente').first().json.data.card.name }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2160,16],"id":"5044bbe7-4fa6-434f-9843-d03d35058fcb","name":"Filter Card"},{"parameters":{"pollTimes":{"item":[{"mode":"everyWeek"}]},"authentication":"***REDACTED***","baseId":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"id"},"tableId":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"id"},"triggerField":"Last Modified","additionalFields":{}},"id":"afbb32dd-229a-4ebf-941b-31e8d2523963","name":"Airtable Trigger Leads Teste Autobot Calendly Qualification","type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-704,48],"credentials":null},{"parameters":{"resource":"cardComment","cardId":{"__rl":true,"value":"={{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.trello_ID_Card }}","mode":"id"},"text":"={{ $('Edit Fields').item.json['Resumo IA'] }}"},"id":"481d547f-c384-4b40-aecf-f6d53236a637","name":"Trello Create Comment Board Novo Cliente","type":"n8n-nodes-base.trello","typeVersion":1,"position":[608,16],"credentials":null},{"parameters":{"resource":"board","operation":"get","id":{"__rl":true,"value":"https://trello.com/b/Lwtg0qNp/cf-advogados-crm","mode":"url"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1072,16],"id":"a2336c24-1a01-41a7-a173-e7ce3359b3f8","name":"Trello - Board Cliente","credentials":null,"disabled":true},{"parameters":{"url":"=https://api.trello.com/1/boards/{{ $json.id }}/lists","authentication":"***REDACTED***","nodeCredentialType":"trelloApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,16],"id":"d04ab928-c765-4b23-a878-ea3a7f653fb5","name":"Get All Lists - Board Cliente","credentials":null,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"9a2c10c4-74b4-48d0-a8c5-ebe095e7eab5","name":"evo_api_key","value":"2vGHmKALc8VcXLSIuKQO","type":"string"},{"id":"840baa4a-ba9c-49f9-b08b-928815b93a34","name":"evo_instanciaID","value":"E240888B2C3F-4435-950D-ACFDD7E234B6","type":"string"},{"id":"93afa9d0-5a13-4e98-a5a8-74346e7d9f56","name":"nome_da_instancia","value":"testes","type":"string"}]},"options":{}},"id":"c39b4713-b423-4345-8c11-bfa78c4072c5","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2352,16]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"=+351913095597","messageText":"={{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.Name }} respondeu todas as perguntas para a reunião de triagem. {{ $('OpenAI').item.json.message.content }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2560,16],"id":"fa71495c-2d9a-4597-91a7-a16ef96082ad","name":"Teste envia texto Zap para Ary","credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.id }}","lead_Report":"={{ $('Edit Fields').item.json['Resumo IA'] }}","tags":"=[\"Conversa Finalizada\"]","Language":"={{ $('Edit Fields').item.json.Language }}","off_Bot":false},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card_Cliente","displayName":"trello_ID_Card_Cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0a68b0b4-3ee2-4f19-9eee-f439e984bf08","name":"Airtable - Update Tag e Lead Report e Bot OFF","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[848,16],"credentials":null}],"connections":{"If - Lead Respondeu Perguntas":{"main":[[{"node":"If - Lead Report Necessário","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Trello Create Comment Board Novo Cliente","type":"main","index":0}]]},"If - Lead Report Necessário":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Filter - List Lead Calendly":{"main":[[{"node":"Trello - Get All Cards on List Lead Calendly","type":"main","index":0}]]},"Trello - Get All Cards on List Lead Calendly":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter Card","type":"main","index":0}]]},"Filter Card":{"main":[[{"node":"Evo Credentials","type":"main","index":0}]]},"Airtable Trigger Leads Teste Autobot Calendly Qualification":{"main":[[{"node":"If - Lead Respondeu Perguntas","type":"main","index":0}]]},"Trello Create Comment Board Novo Cliente":{"main":[[{"node":"Airtable - Update Tag e Lead Report e Bot OFF","type":"main","index":0}]]},"Trello - Board Cliente":{"main":[[{"node":"Get All Lists - Board Cliente","type":"main","index":0}]]},"Get All Lists - Board Cliente":{"main":[[{"node":"Filter - List Lead Calendly","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Teste envia texto Zap para Ary","type":"main","index":0}]]},"Airtable - Update Tag e Lead Report e Bot OFF":{"main":[[{"node":"Trello - Board Cliente","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Airtable Trigger Leads Teste Autobot Calendly Qualification":{"lastTimeChecked":"2026-06-01T02:04:27Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fdcd2179-236c-4256-8bb6-ae84d619dfb0","activeVersionId":"fdcd2179-236c-4256-8bb6-ae84d619dfb0","triggerCount":1,"shared":[{"updatedAt":"2025-02-25T14:51:10.192Z","createdAt":"2025-02-25T14:51:10.192Z","role":"workflow:owner","workflowId":"OtHDaVKcALzdM3a5","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-06-01T02:04:27.063Z","createdAt":"2026-06-01T02:04:27.063Z","versionId":"fdcd2179-236c-4256-8bb6-ae84d619dfb0","workflowId":"OtHDaVKcALzdM3a5","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a8c29fce-9ae8-45a1-b327-9b0a2a363421","leftValue":"={{ $json.fields['resposta5'] && $json.fields['resposta5'].trim() !== '' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1cde9201-a37a-4a46-ab56-1ada2ec81bd5","name":"If - Lead Respondeu Perguntas","type":"n8n-nodes-base.if","typeVersion":2,"position":[-480,48]},{"parameters":{},"id":"9fb29242-aaf9-4a67-a522-237b728f9a71","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-64,448]},{"parameters":{"assignments":{"assignments":[{"id":"5c0e8b9e-7734-44cc-af51-f57f1d7987df","name":"Resumo IA","value":"={{ $json.message.content.resumo }}","type":"string"},{"id":"63e03457-9723-43d5-81f9-c33c5de771c4","name":"Language","value":"={{ $json.message.content.idioma }}","type":"string"}]},"options":{}},"id":"2350232c-b085-463d-a433-5ac32476fab0","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[400,16]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a8c29fce-9ae8-45a1-b327-9b0a2a363421","leftValue":"={{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.lead_Report }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d2c5f779-365b-4e42-b92b-57f34e2c6f57","name":"If - Lead Report Necessário","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,32]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.4-mini","mode":"list","cachedResultName":"GPT-5.4-MINI"},"messages":{"values":[{"content":"=Sua tarefa tem dois objetivos:\n1) DETECTAR o idioma predominante das respostas do lead.\n2) ESCREVER uma descrição completa do perfil do potencial cliente chamado {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.Name }} que agendou uma reunião online conosco.\n\nAnalise as respostas do potencial cliente abaixo:\nPergunta: Fale com detalhes sobre os problemas que o motivaram a nos procurar e o porquê você agendou uma reunião conosco?\nResposta: {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.resposta1 }}\nPergunta: Fale um pouco sobre o que você faz.\nResposta: {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.resposta2 }}\nPergunta: Fale mais sobre você.\nResposta: {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.resposta3 }}. {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.resposta4 }}\nPergunta: Como você nos encontrou?\nResposta: {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.resposta5 }}\nPergunta: Você já conversou com outros especialistas sobre este assunto?\nResposta: {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.resposta6 }}\n\nLeia a conversa:\n{{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.concat_Messages }}\n\nREGRAS DE SAÍDA (obrigatórias):\n- Responda APENAS com um objeto JSON válido. Sem markdown, sem crases, sem texto antes ou depois.\n- O objeto deve ter exatamente dois campos:\n  \"idioma\": idioma predominante das respostas do lead, por extenso em português (ex.: \"Português\", \"Inglês\", \"Espanhol\", \"Francês\"). Se houver mistura, indique o majoritário.\n  \"resumo\": descrição completa do perfil do lead em plain text e SEMPRE em português do Brasil, independentemente do idioma das respostas. Cubra: quem é, o que faz, problema/motivação, urgência/prazo, se já falou com outros especialistas, e como podemos ajudá-lo.\n\nO nome do lead é: {{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.Name }}\n\nFormato de saída (apenas o formato, não o conteúdo):\n{\"idioma\":\"Português\",\"resumo\":\"O lead ... como podemos ajudá-lo.\"}","role":"assistant"}]},"jsonOutput":true,"options":{}},"id":"66dfc24c-34da-4d07-abb8-860194afc49f","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[0,16],"credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"239a73eb-d9d8-442c-aa10-ee9cd88be7f3","leftValue":"={{ $json.id }}","rightValue":"661cf24a16681ccc4842f785","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1488,16],"id":"b9da0b06-48f3-4575-bf51-0e07bc6d8f4f","name":"Filter - List Lead Calendly","disabled":true},{"parameters":{"resource":"list","operation":"getCards","id":"661cf24a16681ccc4842f785","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1728,16],"id":"8da11317-d66f-4359-88fb-8e3d9be23dd3","name":"Trello - Get All Cards on List Lead Calendly","credentials":null},{"parameters":{"fieldToSplitOut":"name","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1936,16],"id":"37df5fd1-fca9-4049-b015-ba3cc5c4d033","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"226cdc23-253d-4cd9-828f-465dd67c715d","leftValue":"={{ $json.name }}","rightValue":"={{ $('Trello Create Comment Board Novo Cliente').first().json.data.card.name }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2160,16],"id":"5044bbe7-4fa6-434f-9843-d03d35058fcb","name":"Filter Card"},{"parameters":{"pollTimes":{"item":[{"mode":"everyWeek"}]},"authentication":"***REDACTED***","baseId":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"id"},"tableId":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"id"},"triggerField":"Last Modified","additionalFields":{}},"id":"afbb32dd-229a-4ebf-941b-31e8d2523963","name":"Airtable Trigger Leads Teste Autobot Calendly Qualification","type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-704,48],"credentials":null},{"parameters":{"resource":"cardComment","cardId":{"__rl":true,"value":"={{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.trello_ID_Card }}","mode":"id"},"text":"={{ $('Edit Fields').item.json['Resumo IA'] }}"},"id":"481d547f-c384-4b40-aecf-f6d53236a637","name":"Trello Create Comment Board Novo Cliente","type":"n8n-nodes-base.trello","typeVersion":1,"position":[608,16],"credentials":null},{"parameters":{"resource":"board","operation":"get","id":{"__rl":true,"value":"https://trello.com/b/Lwtg0qNp/cf-advogados-crm","mode":"url"},"additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[1072,16],"id":"a2336c24-1a01-41a7-a173-e7ce3359b3f8","name":"Trello - Board Cliente","credentials":null,"disabled":true},{"parameters":{"url":"=https://api.trello.com/1/boards/{{ $json.id }}/lists","authentication":"***REDACTED***","nodeCredentialType":"trelloApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,16],"id":"d04ab928-c765-4b23-a878-ea3a7f653fb5","name":"Get All Lists - Board Cliente","credentials":null,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"9a2c10c4-74b4-48d0-a8c5-ebe095e7eab5","name":"evo_api_key","value":"2vGHmKALc8VcXLSIuKQO","type":"string"},{"id":"840baa4a-ba9c-49f9-b08b-928815b93a34","name":"evo_instanciaID","value":"E240888B2C3F-4435-950D-ACFDD7E234B6","type":"string"},{"id":"93afa9d0-5a13-4e98-a5a8-74346e7d9f56","name":"nome_da_instancia","value":"testes","type":"string"}]},"options":{}},"id":"c39b4713-b423-4345-8c11-bfa78c4072c5","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2352,16]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"=+351913095597","messageText":"={{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.fields.Name }} respondeu todas as perguntas para a reunião de triagem. {{ $('OpenAI').item.json.message.content }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2560,16],"id":"fa71495c-2d9a-4597-91a7-a16ef96082ad","name":"Teste envia texto Zap para Ary","credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable Trigger Leads Teste Autobot Calendly Qualification').item.json.id }}","lead_Report":"={{ $('Edit Fields').item.json['Resumo IA'] }}","tags":"=[\"Conversa Finalizada\"]","Language":"={{ $('Edit Fields').item.json.Language }}","off_Bot":false},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card_Cliente","displayName":"trello_ID_Card_Cliente","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0a68b0b4-3ee2-4f19-9eee-f439e984bf08","name":"Airtable - Update Tag e Lead Report e Bot OFF","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[848,16],"credentials":null}],"connections":{"If - Lead Respondeu Perguntas":{"main":[[{"node":"If - Lead Report Necessário","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Trello Create Comment Board Novo Cliente","type":"main","index":0}]]},"If - Lead Report Necessário":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Filter - List Lead Calendly":{"main":[[{"node":"Trello - Get All Cards on List Lead Calendly","type":"main","index":0}]]},"Trello - Get All Cards on List Lead Calendly":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter Card","type":"main","index":0}]]},"Filter Card":{"main":[[{"node":"Evo Credentials","type":"main","index":0}]]},"Airtable Trigger Leads Teste Autobot Calendly Qualification":{"main":[[{"node":"If - Lead Respondeu Perguntas","type":"main","index":0}]]},"Trello Create Comment Board Novo Cliente":{"main":[[{"node":"Airtable - Update Tag e Lead Report e Bot OFF","type":"main","index":0}]]},"Trello - Board Cliente":{"main":[[{"node":"Get All Lists - Board Cliente","type":"main","index":0}]]},"Get All Lists - Board Cliente":{"main":[[{"node":"Filter - List Lead Calendly","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Teste envia texto Zap para Ary","type":"main","index":0}]]},"Airtable - Update Tag e Lead Report e Bot OFF":{"main":[[{"node":"Trello - Board Cliente","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[]}