lead-gen-pipeline-—-tm-v2-cmXZFTtk85yGkTTq.json
{"updatedAt":"2026-04-06T01:37:37.888Z","createdAt":"2026-04-05T19:33:33.561Z","id":"cmXZFTtk85yGkTTq","name":"Lead Gen Pipeline — TM v2","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":9}]}},"id":"ebfbcc6b-2b3d-4c59-8cee-a7fbaf10eda5","name":"Cron Semanal","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-592,528]},{"parameters":{},"id":"64a76a7d-e7c0-43b0-a864-83041c1b1c88","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-592,720]},{"parameters":{"jsCode":"// CITY ROTATION — muda automaticamente a cada semana\nconst cities = [\n  { cities: ['São Paulo'], country: 'BR', locationQuery: 'São Paulo, SP, Brasil', maxPerSearch: 15 },\n  { cities: ['Rio de Janeiro', 'Belo Horizonte'], country: 'BR', locationQuery: 'Rio de Janeiro, RJ, Brasil', maxPerSearch: 8 },\n  { cities: ['Lisboa', 'Porto'], country: 'PT', locationQuery: 'Lisboa, Portugal', maxPerSearch: 8 },\n  { cities: ['Curitiba', 'Florianópolis', 'Porto Alegre'], country: 'BR', locationQuery: 'Curitiba, PR, Brasil', maxPerSearch: 5 },\n  { cities: ['Brasília', 'Goiânia'], country: 'BR', locationQuery: 'Brasília, DF, Brasil', maxPerSearch: 8 },\n  { cities: ['Salvador', 'Recife'], country: 'BR', locationQuery: 'Salvador, BA, Brasil', maxPerSearch: 8 },\n  { cities: ['Braga', 'Faro', 'Coimbra', 'Aveiro'], country: 'PT', locationQuery: 'Braga, Portugal', maxPerSearch: 4 },\n  { cities: ['São Paulo'], country: 'BR', locationQuery: 'São Paulo, SP, Brasil', maxPerSearch: 15 }\n];\n\nconst now = new Date();\nconst startOfYear = new Date(now.getFullYear(), 0, 1);\nconst weekNumber = Math.ceil(((now - startOfYear) / 86400000 + startOfYear.getDay() + 1) / 7);\nconst weekLabel = `W${weekNumber}-${now.getFullYear()}`;\nconst cityIndex = (weekNumber - 1) % cities.length;\nconst config = cities[cityIndex];\n\nconst searchTerms = [\n  'clínica estética',\n  'clínica de emagrecimento',\n  'dermatologista',\n  'harmonização facial'\n];\n\nreturn [{\n  json: {\n    weekLabel,\n    weekNumber,\n    cityIndex,\n    cities: config.cities,\n    country: config.country,\n    locationQuery: config.locationQuery,\n    maxPerSearch: config.maxPerSearch,\n    searchTerms,\n    runDate: now.toISOString()\n  }\n}];"},"id":"84ad6073-bb3c-47d2-aaee-483b91335771","name":"City Rotation","type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,624]},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/nwua9Gu5YrADL7ZDj/runs?token=***REDACTED***","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"searchStringsArray\": {{ JSON.stringify($json.searchTerms) }},\n  \"locationQuery\": \"{{ $json.locationQuery }}\",\n  \"maxCrawledPlacesPerSearch\": {{ $json.maxPerSearch }},\n  \"language\": \"{{ $json.country === 'PT' ? 'pt-PT' : 'pt-BR' }}\",\n  \"includeWebResults\": false,\n  \"maxImages\": 0,\n  \"maxReviews\": 5,\n  \"scrapeResponsesOfReviews\": true\n}","options":{}},"id":"a510d2a5-15be-4195-8380-450674e0cf7f","name":"Apify: Start Google Maps Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,624],"notes":"SETUP: Criar credential 'Header Auth' com Name=Authorization, Value=***REDACTED*** Ou usar token na URL."},{"parameters":{"amount":120},"id":"7aebaae3-1a38-41a3-acdb-3f5b7320794f","name":"Wait 120s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[128,624],"webhookId":"7be56081-e0f3-4846-9da0-b5ce0c139f40"},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $('Apify: Start Google Maps Run').item.json.data.id }}/dataset/items?token=***REDACTED***","options":{}},"id":"d334fe5e-2873-420d-991c-ab1d74611599","name":"Apify: Get Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,624]},{"parameters":{"jsCode":"// PRE-FILTER + NORMALIZE\n// Remove: <5 reviews, <3 stars, closed, irrelevant categories\nconst input = $input.all();\nconst cityConfig = $('City Rotation').first().json;\nconst seen = new Set();\nconst results = [];\n\nconst irrelevantCategories = [\n  'farmácia', 'pharmacy', 'laboratório', 'laboratory',\n  'hospital público', 'public hospital', 'dentist',\n  'veterinário', 'veterinary', 'fisioterapia'\n];\n\nfor (const item of input) {\n  const d = item.json;\n  \n  // Skip permanently closed\n  if (d.permanentlyClosed) continue;\n  if (d.temporarilyClosed) continue;\n  \n  // Skip <5 reviews\n  const reviewCount = d.reviewsCount || (d.reviews ? d.reviews.length : 0) || 0;\n  if (reviewCount < 5) continue;\n  \n  // Skip <3 stars\n  const rating = d.totalScore || d.stars || d.rating || 0;\n  if (rating < 3) continue;\n  \n  // Skip irrelevant categories\n  const cats = (d.categories || []).map(c => (c || '').toLowerCase()).join(' ');\n  const category = (d.categoryName || d.category || '').toLowerCase();\n  const allCats = cats + ' ' + category;\n  const isIrrelevant = irrelevantCategories.some(ic => allCats.includes(ic));\n  if (isIrrelevant) continue;\n  \n  // Deduplicate by Google Maps URL\n  const gmapsUrl = d.url || d.placeUrl || '';\n  if (seen.has(gmapsUrl)) continue;\n  seen.add(gmapsUrl);\n  \n  // Check if owner responds to reviews\n  let respondsToReviews = false;\n  let responseCount = 0;\n  if (d.reviews && Array.isArray(d.reviews)) {\n    for (const r of d.reviews) {\n      if (r.responseFromOwnerText || r.ownerResponse) responseCount++;\n    }\n    respondsToReviews = responseCount > 0;\n  }\n  \n  results.push({\n    json: {\n      nome: d.title || d.name || '',\n      categoria: d.categoryName || d.category || '',\n      cidade: cityConfig.cities[0],\n      pais: cityConfig.country,\n      telefone: d.phone || '',\n      website: d.website || d.url || '',\n      gmapsUrl: gmapsUrl,\n      rating: rating,\n      reviewsCount: reviewCount,\n      respondsToReviews: respondsToReviews,\n      reviewResponseRate: d.reviews ? `${responseCount}/${d.reviews.length}` : '0/0',\n      ownerPhotosCount: (d.imageCategories || []).length,\n      hasWebsite: !!(d.website),\n      openingHours: d.openingHours || null,\n      categories: d.categories || [],\n      description: d.description || '',\n      weekLabel: cityConfig.weekLabel,\n      runDate: cityConfig.runDate\n    }\n  });\n}\n\nreturn results;"},"id":"b0470f6f-9a59-41e8-8a30-0cb8a9faf949","name":"Pre-Filter & Normalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,624]},{"parameters":{"jsCode":"// PREPARE CLAUDE BRIDGE PAYLOAD\n// Collect ALL leads into a single batch for Claude qualification\nconst allLeads = $input.all().map(i => i.json);\n\nconst prompt = `Tu és um analista de qualificação de leads para serviços de marketing digital dirigidos a clínicas médicas e estéticas.\n\nRecebes um array JSON com dados de negócios extraídos do Google Maps e enriquecidos com scan do website.\n\nPara CADA lead, deves calcular:\n\n1. SCORE (0-100) usando esta fórmula:\n   Score = (GapDigital × 0.35) + (Vitalidade × 0.30) + (Engajamento × 0.20) + (Match × 0.15)\n   \n   - GapDigital: quanto MAIS gaps digitais, MAIOR o score (precisam de ajuda)\n   - Vitalidade: reviews, fotos, listing completo = negócio activo com budget\n   - Engajamento: responde a reviews = dono engajado, vai atender cold call\n   - Match: harmonização/estética=100, emagrecimento=90, dermato=80, integrativa=70, nutrição=50, geral=20\n   \n   AJUSTE PORTUGAL: Se pais=PT, multiplicar peso de reviews por 2.5 (cultura de reviews mais fraca)\n\n2. CLASSE: A (>=70), B (40-69), C (<40)\n\n3. PERFIL:\n   - heavy_user: tem Pixel + Google Ads ou fazTrafegoPago=true\n   - gap_lead: sem site OU sem Instagram OU >5 gaps\n   - balanced: restantes\n\n4. SERVICO PRIMARIO: o que vender primeiro baseado nos gaps\n   - Se sem site → \"Site + Landing Page\"\n   - Se sem Instagram ou ig abandonado → \"Gestão de Instagram\"\n   - Se sem Pixel/Analytics mas tem site → \"Setup de Tracking + Analytics\"\n   - Se heavy_user → \"Auditoria de Ads + Optimização\"\n   - Se tem tudo básico → \"Estratégia de Conteúdo + SEO\"\n\n5. SERVICO SECUNDARIO: upsell futuro\n\n6. ANGULO DE ABORDAGEM: uma frase específica para cold outreach (máx 200 chars)\n   Exemplo: \"Está a correr anúncios no Facebook mas sem Pixel — está a gastar dinheiro sem medir resultados\"\n\nRESPONDE APENAS em JSON array válido, sem markdown, sem backticks:\n[{\"index\":0,\"score\":78,\"classe\":\"A\",\"perfil\":\"gap_lead\",\"servicoPrimario\":\"Site + Landing Page\",\"servicoSecundario\":\"Gestão de Instagram\",\"anguloAbordagem\":\"Sem website — 40% dos pacientes procuram clínicas online antes de marcar consulta\",\"gapsDetected\":[\"sem_site\",\"sem_instagram\"]}]\n\nDADOS DOS LEADS:\n${JSON.stringify(allLeads, null, 2)}`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    leadsCount: allLeads.length,\n    allLeads: allLeads\n  }\n}];"},"id":"5c05ae60-af61-4e53-993a-d2482b3aeb2f","name":"Prepare Claude Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[3248,624]},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ prompt: $json.prompt }) }}","options":{"timeout":300000}},"id":"ab55f50f-4d7c-4ed9-a5c3-c7a4a6f02560","name":"Claude Bridge: Qualify Leads","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3488,624],"notes":"SETUP: Substituir YOUR_BRIDGE_TOKEN pelo token real do Mac Mini Bridge"},{"parameters":{"jsCode":"// PARSE CLAUDE RESPONSE + MERGE WITH ORIGINAL LEADS\nconst claudeResponse = $json;\nconst allLeads = $('Prepare Claude Payload').first().json.allLeads;\nconst weekLabel = allLeads[0]?.weekLabel || '';\nconst runDate = allLeads[0]?.runDate || new Date().toISOString();\n\nlet scores;\ntry {\n  // Claude Bridge returns {output: \"...\"} or {result: \"...\"}\n  const raw = claudeResponse.output || claudeResponse.result || claudeResponse.body || JSON.stringify(claudeResponse);\n  // Extract JSON array from response\n  const jsonMatch = raw.match(/\\[[\\s\\S]*\\]/);\n  if (jsonMatch) {\n    scores = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON array found in Claude response');\n  }\n} catch (e) {\n  // Fallback: return leads without AI scoring\n  return allLeads.map((lead, i) => ({\n    json: {\n      ...lead,\n      score: 50,\n      classe: 'B',\n      perfil: 'balanced',\n      servicoPrimario: 'Diagnóstico Digital',\n      servicoSecundario: 'Pacote Completo',\n      anguloAbordagem: 'Claude scoring failed — revisar manualmente',\n      claudeError: e.message\n    }\n  }));\n}\n\n// Merge scores with lead data\nconst results = [];\nfor (let i = 0; i < allLeads.length; i++) {\n  const lead = allLeads[i];\n  const scoreData = scores.find(s => s.index === i) || scores[i] || {};\n  \n  // Merge gaps from website scan + Claude\n  const allGaps = [...new Set([...(lead.gapsDetected || []), ...(scoreData.gapsDetected || [])])];\n  if (!lead.hasWebsite) allGaps.push('sem_site');\n  if (lead.respondsToReviews === false) allGaps.push('nao_responde_reviews');\n  \n  results.push({\n    json: {\n      nome: lead.nome,\n      categoria: lead.categoria,\n      cidade: lead.cidade,\n      pais: lead.pais,\n      telefone: lead.telefone,\n      website: lead.hasWebsite ? lead.website : '',\n      gmapsUrl: lead.gmapsUrl,\n      rating: lead.rating,\n      reviewsCount: lead.reviewsCount,\n      score: scoreData.score || 50,\n      classe: scoreData.classe || 'B',\n      perfil: scoreData.perfil || 'balanced',\n      servicoPrimario: scoreData.servicoPrimario || '',\n      servicoSecundario: scoreData.servicoSecundario || '',\n      anguloAbordagem: scoreData.anguloAbordagem || '',\n      gapsDetected: allGaps,\n      tagsTech: lead.tagsTech || [],\n      fazTrafegoPago: lead.fazTrafegoPago || false,\n      respondsToReviews: lead.respondsToReviews || false,\n      temAgendamento: lead.temAgendamento || false,\n      status: 'Novo',\n      source: 'Google Maps',\n      weekLabel: weekLabel,\n      runDate: runDate\n    }\n  });\n}\n\nreturn results;"},"id":"2cd5427f-0077-48cc-8df4-a9e08c159052","name":"Parse Claude + Merge","type":"n8n-nodes-base.code","typeVersion":2,"position":[3728,624]},{"parameters":{"method":"POST","url":"https://api.airtable.com/v0/appHlW68vIgSzS8BX/tblJfhyu63msByds6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"records\": [{\n    \"fields\": {\n      \"Nome\": \"{{ $json.nome }}\",\n      \"Categoria\": \"{{ $json.categoria }}\",\n      \"Cidade\": \"{{ $json.cidade }}\",\n      \"Pais\": \"{{ $json.pais }}\",\n      \"Telefone\": \"{{ $json.telefone }}\",\n      \"Website\": \"{{ $json.website }}\",\n      \"Google Maps URL\": \"{{ $json.gmapsUrl }}\",\n      \"Rating\": {{ $json.rating }},\n      \"Reviews Count\": {{ $json.reviewsCount }},\n      \"Instagram URL\": \"{{ $json.instagramUrl }}\",\n      \"Instagram Seguidores\": {{ $json.instagramSeguidores || 0 }},\n      \"Score\": {{ $json.score }},\n      \"Classe\": \"{{ $json.classe }}\",\n      \"Perfil\": \"{{ $json.perfil }}\",\n      \"Servico Primario\": \"{{ $json.servicoPrimario }}\",\n      \"Servico Secundario\": \"{{ $json.servicoSecundario }}\",\n      \"Angulo Abordagem\": \"{{ $json.anguloAbordagem }}\",\n      \"Gaps Detectados\": {{ JSON.stringify($json.gapsDetected) }},\n      \"Tags Tech\": {{ JSON.stringify($json.tagsTech) }},\n      \"Faz Trafego Pago\": {{ $json.fazTrafegoPago }},\n      \"Responde Reviews\": {{ $json.respondsToReviews }},\n      \"Tem Agendamento Online\": {{ $json.temAgendamento }},\n      \"Status\": \"Novo\",\n      \"Source\": \"{{ $json.source }}\",\n      \"Semana\": \"{{ $json.weekLabel }}\",\n      \"Run Date\": \"{{ $json.runDate }}\"\n    }\n  }],\n  \"typecast\": true\n}","options":{}},"id":"61c5d243-f28c-4edd-a95d-d26e71992104","name":"Airtable: Write Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3968,624],"notes":"SETUP: Substituir YOUR_AIRTABLE_TOKEN pelo Personal Access Token do Airtable"},{"parameters":{"jsCode":"const allLeads = $('Parse Claude + Merge').all().map(i => i.json);\n\nconst scoreA = allLeads.filter(l => l.classe === 'A');\nconst scoreB = allLeads.filter(l => l.classe === 'B');\nconst scoreC = allLeads.filter(l => l.classe === 'C');\nconst heavyUsers = allLeads.filter(l => l.perfil === 'heavy_user');\n\nconst topLeads = scoreA\n  .sort((a, b) => (b.score || 0) - (a.score || 0))\n  .slice(0, 3)\n  .map(l => `  • ${l.nome} (${l.score}) — ${l.servicoPrimario}`)\n  .join('\\n');\n\nconst weekLabel = allLeads[0]?.weekLabel || 'W??';\nconst cidade = allLeads[0]?.cidade || '??';\n\nconst message = `🎯 Lead Gen TM — ${weekLabel} (${cidade})\\n\\nTotal scrapeado: ${allLeads.length}\\nScore A: ${scoreA.length} | Score B: ${scoreB.length} | Score C: ${scoreC.length}\\nHeavy Users: ${heavyUsers.length}\\n\\n🏆 Top 3:\\n${topLeads || '  Nenhum Score A esta semana'}\\n\\n📊 Airtable: https://airtable.com/appHlW68vIgSzS8BX/tblJfhyu63msByds6`;\n\nreturn [{ json: { message, scoreA: scoreA.length, scoreB: scoreB.length, scoreC: scoreC.length, total: allLeads.length } }];"},"id":"f6080c84-4508-427f-aad2-9619f4c277d8","name":"Aggregate Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[4208,624]},{"parameters":{"chatId":"-1002374157964","text":"={{ $json.message }}","additionalFields":{"parse_mode":"Markdown"}},"id":"9ec697c0-594a-446a-88f1-8fb9ce721a96","name":"Telegram: Notify","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4448,624],"webhookId":"e7b67a1d-21b2-40af-9e9b-570189d4ee12","credentials":null},{"parameters":{"jsCode":"const message = $('Aggregate Stats').first().json.message;\n\nlet text = message\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4688,624],"id":"fa3282fe-4b61-43e7-a768-615294721828","name":"Code in JavaScript"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4928,624],"id":"811581b3-601f-4520-bb8a-7474af7f4039","name":"WhatsApp Brief","credentials":null},{"parameters":{"content":"## Lead Gen Pipeline — TM v2\n### Clínicas Médicas e Estéticas\n\n**v2:** Apify Cheerio (residential proxy) + Instagram + Dedup\n**Cron:** Segunda 09:00 UTC\n**Rotação:** 8 cidades\n\n**Fluxo:**\n1. Google Maps → Pre-filter\n2. Apify Cheerio Scraper (website scan via proxy)\n3. Apify Instagram Profile Scraper\n4. Merge + Dedup\n5. Claude Bridge (Mac Mini)\n6. Airtable + Telegram + WhatsApp","height":380,"width":460},"id":"e5221187-f726-4485-89d3-012e3c0b4e2d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"### TODO v3\n- Meta Ad Library check\n- Notion Tasks (Score A/B)\n- ActiveCampaign nurture\n- Expandir TJ + CL\n- Doctoralia.com.br","height":220,"width":380},"id":"d8393d64-1673-4ebb-8b93-98f0c02d701e","name":"Sticky Note TODO","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,0]},{"parameters":{"jsCode":"const items = $input.all();\nconst urlsToScan = [];\nconst noWebsiteLeads = [];\nfor (const item of items) {\n  const lead = item.json;\n  const url = lead.website || '';\n  if (!lead.hasWebsite || !url || url.includes('google.com/maps') || url.includes('instagram.com')) {\n    noWebsiteLeads.push({...lead, tagsTech:[], gapsDetected:['sem_site','sem_analytics','sem_pixel','sem_google_ads','sem_blog','sem_seo','sem_schema','sem_whatsapp_widget','sem_agendamento'], fazTrafegoPago:false, temAgendamento:false, websiteScanned:false});\n  } else {\n    urlsToScan.push({ url: url, userData: { leadIndex: urlsToScan.length, nome: lead.nome } });\n  }\n}\nreturn [{ json: { urlsToScan, noWebsiteLeads, allLeads: items.map(i => i.json), hasUrlsToScan: urlsToScan.length > 0 } }];"},"id":"a4fa4e44-d429-4f7d-9caa-8a4d6470ef3a","name":"Prepare Website URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,624]},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/apify~cheerio-scraper/runs?token=***REDACTED***","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"startUrls\": {{ JSON.stringify($json.urlsToScan) }},\n  \"pageFunction\": \"async function pageFunction({ request, $, body }) { return { url: request.url, html: body.substring(0, 50000), userData: request.userData }; }\",\n  \"maxRequestsPerCrawl\": 20,\n  \"maxConcurrency\": 5,\n  \"proxyConfiguration\": { \"useApifyProxy\": true, \"apifyProxyGroups\": [\"RESIDENTIAL\"] },\n  \"additionalMimeTypes\": [\"text/html\"],\n  \"requestHandlerTimeoutSecs\": 30\n}","options":{"timeout":120000}},"id":"feb34d40-3e4c-43de-a976-c3a492727e0e","name":"Apify: Scan Websites","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,624]},{"parameters":{"amount":90},"id":"c0e130c8-c5d4-4005-bd61-e339c542366b","name":"Wait 90s Scan","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,624],"webhookId":"6087831b-f875-40ab-9e10-07cf80cf00ec"},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $('Apify: Scan Websites').item.json.data.id }}/dataset/items?token=***REDACTED***","options":{}},"id":"59534437-69c1-46ae-8d55-6b82c68e4049","name":"Apify: Get Scan Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,624]},{"parameters":{"jsCode":"const scanResults = $input.all().map(i => i.json);\nconst prepData = $('Prepare Website URLs').first().json;\nconst allLeads = prepData.allLeads;\nconst noWebsiteLeads = prepData.noWebsiteLeads;\nconst results = [];\nfor (const lead of allLeads) {\n  const url = lead.website || '';\n  const existing = noWebsiteLeads.find(n => n.gmapsUrl === lead.gmapsUrl);\n  if (existing) { results.push({ json: existing }); continue; }\n  let hostname = '';\n  try { hostname = new URL(url).hostname; } catch(e) {}\n  const scanResult = scanResults.find(s => s.url && hostname && s.url.includes(hostname));\n  const html = (scanResult?.html || '').toLowerCase();\n  if (!html || html.length < 100) {\n    results.push({ json: { ...lead, tagsTech:[], gapsDetected:['website_error'], fazTrafegoPago:false, temAgendamento:false, websiteScanned:false }});\n    continue;\n  }\n  const tags=[]; const gaps=[];\n  if (url.startsWith('https')) tags.push('tem_ssl'); else gaps.push('sem_ssl');\n  if (html.includes('gtag') || html.includes('google-analytics') || /g-[a-z0-9]{5,}/.test(html)) tags.push('tem_ga4'); else gaps.push('sem_analytics');\n  if (html.includes('gtm-') || html.includes('googletagmanager')) tags.push('tem_gtm');\n  if (html.includes('fbq(') || html.includes('facebook.com/tr') || html.includes('fbevents')) tags.push('tem_pixel'); else gaps.push('sem_pixel');\n  if (html.includes('googleadservices') || html.includes('google_conversion') || html.includes('ads/ga-audiences')) tags.push('tem_google_ads'); else gaps.push('sem_google_ads');\n  if (html.includes('analytics.tiktok.com')) tags.push('tem_tiktok_pixel');\n  if (html.includes('/blog') || html.includes('/artigos') || html.includes('/noticias')) tags.push('tem_blog'); else gaps.push('sem_blog');\n  if (!(html.includes('meta name=\"description\"') || html.includes(\"meta name='description'\"))) gaps.push('sem_seo');\n  if (html.includes('application/ld+json') || html.includes('schema.org')) tags.push('tem_schema'); else gaps.push('sem_schema');\n  if (html.includes('wp-content') || html.includes('wordpress')) tags.push('tem_wordpress');\n  else if (html.includes('wixstatic') || html.includes('wix.com')) tags.push('tem_wix');\n  if (html.includes('wa.me/') || html.includes('api.whatsapp.com') || html.includes('whatsapp')) tags.push('tem_whatsapp_widget'); else gaps.push('sem_whatsapp_widget');\n  if (html.includes('tawk.to') || html.includes('tidio') || html.includes('zendesk') || html.includes('crisp.chat') || html.includes('jivochat')) tags.push('tem_chat_widget');\n  if (html.includes('doctoralia') || html.includes('booksy') || html.includes('calendly') || html.includes('agendamento') || html.includes('agendar') || html.includes('marcar consulta')) tags.push('tem_agendamento'); else gaps.push('sem_agendamento');\n  if (html.includes('<form') || html.includes('wpcf7') || html.includes('contact-form')) tags.push('tem_formulario');\n  results.push({ json: { ...lead, tagsTech:tags, gapsDetected:gaps, fazTrafegoPago:tags.includes('tem_pixel')||tags.includes('tem_google_ads'), temAgendamento:tags.includes('tem_agendamento'), websiteScanned:true }});\n}\nreturn results;"},"id":"45ebf1b7-90dd-4bb0-8cff-7ac1eec6d663","name":"Parse All HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,624],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/apify~instagram-profile-scraper/runs?token=***REDACTED***","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"usernames\": {{ JSON.stringify($('Parse All HTML').all().map(i => (i.json.nome || '').toLowerCase().replace(/[^a-z0-9 ]/g,'').replace(/ +/g,'')).filter(n => n.length > 3).slice(0,20)) }},\n  \"resultsLimit\": 1,\n\"memoryMbytes\": 256\n}","options":{"timeout":120000}},"id":"21d39766-51fe-40a5-91a4-0d83f5e0a944","name":"Apify: Instagram Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2048,624],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $('Apify: Instagram Search').item.json.data.id }}/dataset/items?token=***REDACTED***","options":{}},"id":"0055cbdb-ab63-4182-be1c-c3bf534f6fbb","name":"Get IG Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2528,624]},{"parameters":{"jsCode":"const htmlLeads = $('Parse All HTML').all().map(i => i.json);\nconst igResults = $input.all().map(i => i.json);\nconst results = [];\nfor (const lead of htmlLeads) {\n  const nomeClean = (lead.nome || '').toLowerCase().replace(/[^a-z0-9]/g, '');\n  const igMatch = igResults.find(ig => {\n    const igFull = (ig.fullName || '').toLowerCase().replace(/[^a-z0-9]/g, '');\n    const igUser = (ig.username || '').toLowerCase().replace(/[^a-z0-9]/g, '');\n    const prefix = nomeClean.substring(0, 8);\n    return (prefix.length >= 4) && (igFull.includes(prefix) || igUser.includes(prefix) || nomeClean.includes(igUser.substring(0, 8)));\n  });\n  const enriched = { ...lead };\n  if (igMatch) {\n    enriched.instagramUrl = 'https://instagram.com/' + igMatch.username;\n    enriched.instagramSeguidores = igMatch.followersCount || igMatch.followers || 0;\n    enriched.gapsDetected = (enriched.gapsDetected || []).filter(g => g !== 'sem_instagram');\n    const lastPost = igMatch.latestPosts?.[0]?.timestamp;\n    if (lastPost) { const d = (Date.now() - new Date(lastPost).getTime()) / 86400000; if (d > 30) enriched.gapsDetected.push('ig_abandonado'); }\n  } else {\n    enriched.instagramUrl = '';\n    enriched.instagramSeguidores = 0;\n    if (!enriched.gapsDetected) enriched.gapsDetected = [];\n    if (!enriched.gapsDetected.includes('sem_instagram')) enriched.gapsDetected.push('sem_instagram');\n  }\n  results.push({ json: enriched });\n}\nreturn results;"},"id":"7e5ffb04-76d5-417a-bb30-3b528641ee72","name":"Merge Website + IG","type":"n8n-nodes-base.code","typeVersion":2,"position":[2768,624],"alwaysOutputData":true},{"parameters":{"jsCode":"const items = $input.all();\nconst token = '***REDACTED***';\nlet existingUrls = new Set();\ntry {\n  const resp = await fetch('https://api.airtable.com/v0/appHlW68vIgSzS8BX/tblJfhyu63msByds6?fields%5B%5D=Google+Maps+URL&pageSize=1000', { headers: { 'Authorization': 'Bearer ' + token } });\n  const data = await resp.json();\n  for (const rec of (data.records || [])) { const url = rec.fields?.['Google Maps URL'] || ''; if (url) existingUrls.add(url); }\n} catch(e) {}\nconst newLeads = items.filter(i => !existingUrls.has(i.json.gmapsUrl));\nif (newLeads.length === 0) return [{ json: { _skip: true, _msg: 'All ' + items.length + ' leads already exist' } }];\nreturn newLeads;"},"id":"3642d105-5488-49ad-a686-a240196e1ec9","name":"Dedup Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[3008,624],"alwaysOutputData":true},{"parameters":{"amount":120},"id":"3d053fe7-d865-4151-9d12-6779dc9f7578","name":"Wait 120s IG","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2288,624],"webhookId":"a2de9b3a-4dd8-4ed9-9207-d59dc88fc6e7"}],"connections":{"Cron Semanal":{"main":[[{"node":"City Rotation","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"City Rotation","type":"main","index":0}]]},"City Rotation":{"main":[[{"node":"Apify: Start Google Maps Run","type":"main","index":0}]]},"Apify: Start Google Maps Run":{"main":[[{"node":"Wait 120s","type":"main","index":0}]]},"Wait 120s":{"main":[[{"node":"Apify: Get Results","type":"main","index":0}]]},"Apify: Get Results":{"main":[[{"node":"Pre-Filter & Normalize","type":"main","index":0}]]},"Pre-Filter & Normalize":{"main":[[{"node":"Prepare Website URLs","type":"main","index":0}]]},"Prepare Website URLs":{"main":[[{"node":"Apify: Scan Websites","type":"main","index":0}]]},"Apify: Scan Websites":{"main":[[{"node":"Wait 90s Scan","type":"main","index":0}]]},"Wait 90s Scan":{"main":[[{"node":"Apify: Get Scan Results","type":"main","index":0}]]},"Apify: Get Scan Results":{"main":[[{"node":"Parse All HTML","type":"main","index":0}]]},"Parse All HTML":{"main":[[{"node":"Apify: Instagram Search","type":"main","index":0}]]},"Apify: Instagram Search":{"main":[[{"node":"Wait 120s IG","type":"main","index":0}]]},"Get IG Results":{"main":[[{"node":"Merge Website + IG","type":"main","index":0}]]},"Merge Website + IG":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Prepare Claude Payload","type":"main","index":0}]]},"Prepare Claude Payload":{"main":[[{"node":"Claude Bridge: Qualify Leads","type":"main","index":0}]]},"Claude Bridge: Qualify Leads":{"main":[[{"node":"Parse Claude + Merge","type":"main","index":0}]]},"Parse Claude + Merge":{"main":[[{"node":"Airtable: Write Lead","type":"main","index":0}]]},"Airtable: Write Lead":{"main":[[{"node":"Aggregate Stats","type":"main","index":0}]]},"Aggregate Stats":{"main":[[{"node":"Telegram: Notify","type":"main","index":0}]]},"Telegram: Notify":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"WhatsApp Brief","type":"main","index":0}]]},"Wait 120s IG":{"main":[[{"node":"Get IG Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6b49603c-3ec9-488a-a03b-e66387f3346f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-05T19:33:33.561Z","createdAt":"2026-04-05T19:33:33.561Z","role":"workflow:owner","workflowId":"cmXZFTtk85yGkTTq","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-05T12:03:59.006Z","createdAt":"2026-04-05T12:03:59.006Z","id":"1T4NJ6P8jzvmAU8T","name":"apify"},{"updatedAt":"2026-04-05T12:03:59.014Z","createdAt":"2026-04-05T12:03:59.014Z","id":"Go0n9qzspxhI2wIh","name":"tm"},{"updatedAt":"2026-04-05T12:03:59.040Z","createdAt":"2026-04-05T12:03:59.040Z","id":"Jpdhb7TP6mbcD0xb","name":"lead-gen"}]}