lead-gen-pipeline-—-tm-luFxjWS9N238jWEN.json
{"updatedAt":"2026-06-01T10:43:07.929Z","createdAt":"2026-04-05T21:29:02.555Z","id":"luFxjWS9N238jWEN","name":"Lead Gen Pipeline — TM","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":9}]}},"id":"b22022da-8038-4d6c-a072-b60ca65cf94c","name":"Cron Semanal","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,320]},{"parameters":{},"id":"51afb5c4-08bb-4873-b3d1-2fd6ea6241e1","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,512]},{"parameters":{"jsCode":"const cities = [\n  { cities: ['Rio de Janeiro', 'Belo Horizonte'], country: 'BR', locationQuery: 'Rio de Janeiro, RJ, Brasil', maxPerSearch: 8 },\n  { cities: ['Lisboa', 'Porto'], country: 'PT', locationQuery: 'Lisboa, Portugal', maxPerSearch: 8 },\n  { cities: ['Curitiba', 'Florianópolis', 'Porto Alegre'], country: 'BR', locationQuery: 'Curitiba, PR, Brasil', maxPerSearch: 8 },\n  { cities: ['Brasília', 'Goiânia'], country: 'BR', locationQuery: 'Brasília, DF, Brasil', maxPerSearch: 8 },\n  { cities: ['Salvador', 'Recife'], country: 'BR', locationQuery: 'Salvador, BA, Brasil', maxPerSearch: 8 },\n  { cities: ['Braga', 'Coimbra', 'Aveiro'], country: 'PT', locationQuery: 'Braga, Portugal', maxPerSearch: 6 },\n  { cities: ['Leiria', 'Caldas da Rainha', 'Marinha Grande', 'Santarém'], country: 'PT', locationQuery: 'Leiria, Portugal', maxPerSearch: 6 },\n  { cities: ['Faro', 'Portimão', 'Albufeira'], country: 'PT', locationQuery: 'Faro, Portugal', maxPerSearch: 6 },\n  { cities: ['São Paulo'], country: 'BR', locationQuery: 'São Paulo, SP, Brasil', maxPerSearch: 8 }\n];\nconst now = new Date();\nconst startOfYear = new Date(now.getFullYear(), 0, 1);\nconst weekNumber = Math.ceil(((now - startOfYear) / 86400000 + startOfYear.getDay() + 1) / 7);\nconst weekLabel = `W${weekNumber}-${now.getFullYear()}`;\nconst cityIndex = (weekNumber - 1) % cities.length;\nconst config = cities[cityIndex];\nconst searchTerms = [\n  'clínica estética',\n  'clínica de emagrecimento',\n  'dermatologista',\n  'harmonização facial'\n];\nreturn [{\n  json: {\n    weekLabel,\n    weekNumber,\n    cityIndex,\n    cities: config.cities,\n    country: config.country,\n    locationQuery: config.locationQuery,\n    maxPerSearch: config.maxPerSearch,\n    searchTerms,\n    runDate: now.toISOString()\n  }\n}];"},"id":"7ca3e774-0664-4259-a602-652efc44256c","name":"City Rotation","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,416]},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/nwua9Gu5YrADL7ZDj/runs?token=***REDACTED***&waitForFinish=300","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"searchStringsArray\": {{ JSON.stringify($json.searchTerms) }},\n  \"locationQuery\": \"{{ $json.locationQuery }}\",\n  \"maxCrawledPlacesPerSearch\": {{ $json.maxPerSearch }},\n  \"language\": \"{{ $json.country === 'PT' ? 'pt-PT' : 'pt-BR' }}\",\n  \"includeWebResults\": false,\n  \"maxImages\": 0,\n  \"maxReviews\": 5,\n  \"scrapeResponsesOfReviews\": true\n}","options":{"timeout":360000}},"id":"58c1516c-0946-4f84-be3f-1aeac99148bb","name":"Apify: Google Maps Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,416]},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}/dataset/items?token=***REDACTED***","options":{}},"id":"63f05f96-de5c-4049-bf23-4539d97c3296","name":"Get GMaps Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,416]},{"parameters":{"jsCode":"// PRE-FILTER + NORMALIZE\n// Remove: <5 reviews, <3 stars, closed, irrelevant categories\nconst input = $input.all();\nconst cityConfig = $('City Rotation').first().json;\nconst seen = new Set();\nconst results = [];\n\nconst irrelevantCategories = [\n  'farmácia', 'pharmacy', 'laboratório', 'laboratory',\n  'hospital público', 'public hospital', 'dentist',\n  'veterinário', 'veterinary', 'fisioterapia'\n];\n\nfor (const item of input) {\n  const d = item.json;\n  \n  // Skip permanently closed\n  if (d.permanentlyClosed) continue;\n  if (d.temporarilyClosed) continue;\n  \n  // Skip <5 reviews\n  const reviewCount = d.reviewsCount || (d.reviews ? d.reviews.length : 0) || 0;\n  if (reviewCount < 5) continue;\n  \n  // Skip <3 stars\n  const rating = d.totalScore || d.stars || d.rating || 0;\n  if (rating < 3) continue;\n  \n  // Skip irrelevant categories\n  const cats = (d.categories || []).map(c => (c || '').toLowerCase()).join(' ');\n  const category = (d.categoryName || d.category || '').toLowerCase();\n  const allCats = cats + ' ' + category;\n  const isIrrelevant = irrelevantCategories.some(ic => allCats.includes(ic));\n  if (isIrrelevant) continue;\n  \n  // Deduplicate by Google Maps URL\n  const gmapsUrl = d.url || d.placeUrl || '';\n  if (seen.has(gmapsUrl)) continue;\n  seen.add(gmapsUrl);\n  \n  // Check if owner responds to reviews\n  let respondsToReviews = false;\n  let responseCount = 0;\n  if (d.reviews && Array.isArray(d.reviews)) {\n    for (const r of d.reviews) {\n      if (r.responseFromOwnerText || r.ownerResponse) responseCount++;\n    }\n    respondsToReviews = responseCount > 0;\n  }\n  \n  results.push({\n    json: {\n      nome: d.title || d.name || '',\n      categoria: d.categoryName || d.category || '',\n      cidade: cityConfig.cities[0],\n      pais: cityConfig.country,\n      telefone: d.phone || '',\n      website: d.website || d.url || '',\n      gmapsUrl: gmapsUrl,\n      rating: rating,\n      reviewsCount: reviewCount,\n      respondsToReviews: respondsToReviews,\n      reviewResponseRate: d.reviews ? `${responseCount}/${d.reviews.length}` : '0/0',\n      ownerPhotosCount: (d.imageCategories || []).length,\n      hasWebsite: !!(d.website),\n      openingHours: d.openingHours || null,\n      categories: d.categories || [],\n      description: d.description || '',\n      weekLabel: cityConfig.weekLabel,\n      runDate: cityConfig.runDate\n    }\n  });\n}\n\nresults.sort((a, b) => {\n  const scoreA = (a.json.hasWebsite ? 50 : 0) + (a.json.respondsToReviews ? 30 : 0) + Math.min(a.json.reviewsCount, 20);\n  const scoreB = (b.json.hasWebsite ? 50 : 0) + (b.json.respondsToReviews ? 30 : 0) + Math.min(b.json.reviewsCount, 20);\n  return scoreB - scoreA;\n});\nreturn results.slice(0, 10);"},"id":"b3645b4e-4a75-465c-9933-bc6df349e981","name":"Pre-Filter & Normalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,416]},{"parameters":{"jsCode":"const items = $input.all();\nconst urlsToScan = [];\nconst noWebsiteLeads = [];\nfor (const item of items) {\n  const lead = item.json;\n  const url = lead.website || '';\n  if (!lead.hasWebsite || !url || url.includes('google.com/maps') || url.includes('instagram.com')) {\n    noWebsiteLeads.push({...lead, tagsTech:[], gapsDetected:['sem_site','sem_analytics','sem_pixel','sem_google_ads','sem_blog','sem_seo','sem_schema','sem_whatsapp_widget','sem_agendamento'], fazTrafegoPago:false, temAgendamento:false, websiteScanned:false, instagramUrl:'', instagramSeguidores:0});\n  } else {\n    urlsToScan.push({ url: url, userData: { leadIndex: urlsToScan.length, nome: lead.nome } });\n  }\n}\nreturn [{ json: { urlsToScan, noWebsiteLeads, allLeads: items.map(i => i.json), hasUrlsToScan: urlsToScan.length > 0 } }];"},"id":"318cb947-5678-431a-9136-e61fee6768ae","name":"Prepare Website URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,416]},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/apify~cheerio-scraper/runs?token=***REDACTED***&waitForFinish=180","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"startUrls\": {{ JSON.stringify($json.urlsToScan) }},\n  \"pageFunction\": \"async function pageFunction({ request, $, body }) { return { url: request.url, html: body.substring(0, 50000), userData: request.userData }; }\",\n  \"maxRequestsPerCrawl\": 20,\n  \"maxConcurrency\": 5,\n  \"proxyConfiguration\": { \"useApifyProxy\": true, \"apifyProxyGroups\": [\"RESIDENTIAL\"] },\n  \"additionalMimeTypes\": [\"text/html\"],\n  \"requestHandlerTimeoutSecs\": 30\n}","options":{"timeout":240000}},"id":"392ec069-a0a4-45ca-9413-f35a51b7bf89","name":"Apify: Scan Websites","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,416]},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}/dataset/items?token=***REDACTED***","options":{}},"id":"f18b0631-3bc1-4342-8c0a-8e1ba292c1a2","name":"Get Scan Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,416]},{"parameters":{"jsCode":"const scanResults = $input.all().map(i => i.json);\nconst prepData = $('Prepare Website URLs').first().json;\nconst allLeads = prepData.allLeads;\nconst noWebsiteLeads = prepData.noWebsiteLeads;\nconst results = [];\n\nfor (const lead of allLeads) {\n  const url = lead.website || '';\n  const existing = noWebsiteLeads.find(n => n.gmapsUrl === lead.gmapsUrl);\n  if (existing) { results.push({ json: existing }); continue; }\n\n  const scanResult = scanResults.find(s => {\n    if (s.userData && s.userData.leadIndex !== undefined) {\n      const idx = s.userData.leadIndex;\n      const urlsToScan = prepData.urlsToScan || [];\n      return urlsToScan[idx] && urlsToScan[idx].url === url;\n    }\n    let hostname = '';\n    try { hostname = new URL(url).hostname.replace('www.', ''); } catch(e) {}\n    let scanHost = '';\n    try { scanHost = new URL(s.url || '').hostname.replace('www.', ''); } catch(e) {}\n    return hostname && scanHost && (hostname === scanHost || s.url?.includes(hostname));\n  });\n\n  const html = (scanResult?.html || '').toLowerCase();\n\n  if (!html || html.length < 100) {\n    results.push({ json: { ...lead, tagsTech:[], gapsDetected:['website_error'], fazTrafegoPago:false, temAgendamento:false, websiteScanned:false, instagramUrl:'', instagramSeguidores:0 }});\n    continue;\n  }\n\n  const tags = [];\n  const gaps = [];\n\n  if (url.startsWith('https')) tags.push('tem_ssl'); else gaps.push('sem_ssl');\n  if (html.includes('gtag') || html.includes('google-analytics') || html.includes('googletagmanager.com/gtag') || html.includes('googletagmanager')) tags.push('tem_ga4'); else gaps.push('sem_analytics');\n  if (html.includes('gtm-') || html.includes('googletagmanager.com/ns.html')) tags.push('tem_gtm');\n  if (html.includes('fbq(') || html.includes('facebook.com/tr') || html.includes('fbevents') || html.includes('connect.facebook.net')) tags.push('tem_pixel'); else gaps.push('sem_pixel');\n  if (html.includes('googleadservices') || html.includes('google_conversion') || html.includes('ads/ga-audiences') || html.includes('googlesyndication') || html.includes('aw-')) tags.push('tem_google_ads'); else gaps.push('sem_google_ads');\n  if (html.includes('analytics.tiktok.com')) tags.push('tem_tiktok_pixel');\n  if (html.includes('/blog') || html.includes('/artigos') || html.includes('/noticias') || html.includes('/news')) tags.push('tem_blog'); else gaps.push('sem_blog');\n  if (html.includes('meta name=\"description\"') || html.includes(\"meta name='description'\") || html.includes('meta property=\"og:description\"')) {} else gaps.push('sem_seo');\n  if (html.includes('application/ld+json') || html.includes('schema.org')) tags.push('tem_schema'); else gaps.push('sem_schema');\n  if (html.includes('wp-content') || html.includes('wp-includes') || html.includes('wordpress')) tags.push('tem_wordpress');\n  else if (html.includes('wixstatic') || html.includes('wix.com') || html.includes('_wix_browser_sess')) tags.push('tem_wix');\n  if (html.includes('wa.me/') || html.includes('api.whatsapp.com') || html.includes('whatsapp')) tags.push('tem_whatsapp_widget'); else gaps.push('sem_whatsapp_widget');\n  if (html.includes('tawk.to') || html.includes('tidio') || html.includes('zendesk') || html.includes('crisp.chat') || html.includes('jivochat') || html.includes('livechat')) tags.push('tem_chat_widget');\n  if (html.includes('doctoralia') || html.includes('booksy') || html.includes('calendly') || html.includes('agendamento') || html.includes('agendar') || html.includes('marcar consulta') || html.includes('hotdoc') || html.includes('clinicorp')) tags.push('tem_agendamento'); else gaps.push('sem_agendamento');\n  if (html.includes('<form') || html.includes('wpcf7') || html.includes('contact-form') || html.includes('elementor-form')) tags.push('tem_formulario');\n\n  let instagramUrl = '';\n  const igPatterns = [\n    /href=[\"']https?:\\/\\/(?:www\\.)?instagram\\.com\\/([a-z0-9_\\.]{2,30})\\/?[\"']/gi,\n    /instagram\\.com\\/([a-z0-9_\\.]{2,30})\\/?/gi\n  ];\n  const igExclude = ['p','reel','explore','accounts','about','legal','developer','privacy','reels','stories'];\n  for (const pattern of igPatterns) {\n    let match;\n    while ((match = pattern.exec(html)) !== null) {\n      if (match[1] && !igExclude.includes(match[1].toLowerCase())) {\n        instagramUrl = 'https://instagram.com/' + match[1];\n        break;\n      }\n    }\n    if (instagramUrl) break;\n  }\n  if (!instagramUrl) gaps.push('sem_instagram');\n\n  results.push({ json: {\n    ...lead,\n    tagsTech: tags,\n    gapsDetected: gaps,\n    fazTrafegoPago: tags.includes('tem_pixel') || tags.includes('tem_google_ads'),\n    temAgendamento: tags.includes('tem_agendamento'),\n    websiteScanned: true,\n    instagramUrl: instagramUrl,\n    instagramSeguidores: 0\n  }});\n}\nreturn results;"},"id":"b07f22ec-03c4-4332-83f9-5cf9b866d7f6","name":"Parse All HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,416],"alwaysOutputData":true},{"parameters":{"jsCode":"const items = $input.all();\nconst token = '***REDACTED***';\nlet existingUrls = new Set();\ntry {\n  const resp = await fetch('https://api.airtable.com/v0/appHlW68vIgSzS8BX/tblJfhyu63msByds6?fields%5B%5D=Google+Maps+URL&pageSize=1000', { headers: { 'Authorization': 'Bearer ' + token } });\n  const data = await resp.json();\n  for (const rec of (data.records || [])) { const url = rec.fields?.['Google Maps URL'] || ''; if (url) existingUrls.add(url); }\n} catch(e) {}\nconst newLeads = items.filter(i => !existingUrls.has(i.json.gmapsUrl));\nif (newLeads.length === 0) return [{ json: { _skip: true, _msg: 'All ' + items.length + ' leads already exist' } }];\nreturn newLeads;"},"id":"0870e923-b85b-44ed-8a9f-b3d01b24ed74","name":"Dedup Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,416],"alwaysOutputData":true},{"parameters":{"jsCode":"const allLeads = $input.all().map(i => i.json);\nconst BATCH_SIZE = 10;\nconst batches = [];\n\nfor (let i = 0; i < allLeads.length; i += BATCH_SIZE) {\n  batches.push(allLeads.slice(i, i + BATCH_SIZE));\n}\n\nconst promptBase = `Tu és um analista de qualificação de leads para serviços de marketing digital dirigidos a clínicas médicas e estéticas.\n\nPara CADA lead, calcula:\n1. SCORE (0-100): Score = (GapDigital x 0.35) + (Vitalidade x 0.30) + (Engajamento x 0.20) + (Match x 0.15)\n   AJUSTE PORTUGAL: Se pais=PT, multiplicar peso de reviews por 2.5\n2. CLASSE: A (>=70), B (40-69), C (<40)\n3. PERFIL: heavy_user (tem Pixel+Ads), gap_lead (sem site OU >5 gaps), balanced\n4. SERVICO PRIMARIO baseado nos gaps\n5. SERVICO SECUNDARIO: upsell futuro\n6. ANGULO DE ABORDAGEM: frase cold outreach (max 200 chars)\n\nRESPONDE APENAS JSON array valido, sem markdown:\n[{\"index\":0,\"score\":78,\"classe\":\"A\",\"perfil\":\"gap_lead\",\"servicoPrimario\":\"Site + Landing Page\",\"servicoSecundario\":\"Instagram\",\"anguloAbordagem\":\"frase\",\"gapsDetected\":[\"sem_site\"]}]\n\nDADOS:\n`;\n\nreturn batches.map((batch, idx) => ({\n  json: {\n    prompt: promptBase + JSON.stringify(batch, null, 2),\n    leadsCount: batch.length,\n    batchIndex: idx,\n    totalBatches: batches.length,\n    batchLeads: batch,\n    allLeads: allLeads\n  }\n}));"},"id":"9a7f5796-ed35-4482-b19a-d85fbce43493","name":"Prepare Claude Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,416]},{"parameters":{"jsCode":"const claudeResponses = $input.all();\nconst allLeads = $('Prepare Claude Payload').first().json.allLeads;\nconst weekLabel = allLeads[0]?.weekLabel || '';\nconst runDate = allLeads[0]?.runDate || new Date().toISOString();\n\nlet allScores = [];\nfor (const resp of claudeResponses) {\n  try {\n    const raw = resp.json.content?.[0]?.text || resp.json.output || resp.json.result || resp.json.body || JSON.stringify(resp.json);\n    const jsonMatch = raw.match(/\\[[\\s\\S]*\\]/);\n    if (jsonMatch) allScores = allScores.concat(JSON.parse(jsonMatch[0]));\n  } catch (e) {}\n}\n\nconst results = [];\nfor (let i = 0; i < allLeads.length; i++) {\n  const lead = allLeads[i];\n  const scoreData = allScores[i] || { score: 50, classe: 'B', perfil: 'balanced', servicoPrimario: 'Diagnostico Digital', servicoSecundario: 'Pacote Completo', anguloAbordagem: 'Revisar manualmente', gapsDetected: [] };\n  \n  const allGaps = [...new Set([...(lead.gapsDetected || []), ...(scoreData.gapsDetected || [])])];\n  if (lead.respondsToReviews === false && !allGaps.includes('nao_responde_reviews')) allGaps.push('nao_responde_reviews');\n  \n  results.push({ json: {\n    nome: lead.nome, categoria: lead.categoria, cidade: lead.cidade, pais: lead.pais,\n    telefone: lead.telefone, website: lead.hasWebsite ? lead.website : '',\n    gmapsUrl: lead.gmapsUrl, rating: lead.rating, reviewsCount: lead.reviewsCount,\n    instagramUrl: lead.instagramUrl || '', instagramSeguidores: lead.instagramSeguidores || 0,\n    score: scoreData.score || 50, classe: scoreData.classe || 'B',\n    perfil: scoreData.perfil || 'balanced',\n    servicoPrimario: scoreData.servicoPrimario || '', servicoSecundario: scoreData.servicoSecundario || '',\n    anguloAbordagem: scoreData.anguloAbordagem || '',\n    gapsDetected: allGaps, tagsTech: lead.tagsTech || [],\n    fazTrafegoPago: lead.fazTrafegoPago || false,\n    respondsToReviews: lead.respondsToReviews || false,\n    temAgendamento: lead.temAgendamento || false,\n    status: 'Novo', source: 'Google Maps', weekLabel: weekLabel, runDate: runDate\n  }});\n}\nreturn results;"},"id":"4aebebd6-1d34-4d62-a495-9b294249721b","name":"Parse Claude + Merge","type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,416]},{"parameters":{"jsCode":"const allLeads = $('Parse Claude + Merge').all().map(i => i.json);\n\nconst scoreA = allLeads.filter(l => l.classe === 'A');\nconst scoreB = allLeads.filter(l => l.classe === 'B');\nconst scoreC = allLeads.filter(l => l.classe === 'C');\nconst heavyUsers = allLeads.filter(l => l.perfil === 'heavy_user');\n\nconst topLeads = scoreA\n  .sort((a, b) => (b.score || 0) - (a.score || 0))\n  .slice(0, 3)\n  .map(l => `  • ${l.nome} (${l.score}) — ${l.servicoPrimario}`)\n  .join('\\n');\n\nconst weekLabel = allLeads[0]?.weekLabel || 'W??';\nconst cidade = allLeads[0]?.cidade || '??';\n\nconst message = `🎯 Lead Gen TM — ${weekLabel} (${cidade})\\n\\nTotal scrapeado: ${allLeads.length}\\nScore A: ${scoreA.length} | Score B: ${scoreB.length} | Score C: ${scoreC.length}\\nHeavy Users: ${heavyUsers.length}\\n\\n🏆 Top 3:\\n${topLeads || '  Nenhum Score A esta semana'}\\n\\n📊 Airtable: https://airtable.com/appHlW68vIgSzS8BX/tblJfhyu63msByds6`;\n\nreturn [{ json: { message, scoreA: scoreA.length, scoreB: scoreB.length, scoreC: scoreC.length, total: allLeads.length } }];"},"id":"34595634-bad9-4aed-bf60-90d180a6cf67","name":"Aggregate Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[3344,416]},{"parameters":{"chatId":"-1002374157964","text":"={{ $json.message }}","additionalFields":{"parse_mode":"Markdown"}},"id":"55802d52-ac6c-4140-a5e3-00776ff95033","name":"Telegram: Notify","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3584,416],"webhookId":"e7b67a1d-21b2-40af-9e9b-570189d4ee12","credentials":null},{"parameters":{"jsCode":"const message = $('Aggregate Stats').first().json.message;\n\nlet text = message\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3824,416],"id":"2c464331-739a-4946-a298-a18e802a0af1","name":"Code in JavaScript"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4064,416],"id":"eeb97c39-c4c3-4163-9d72-39be315df872","name":"WhatsApp Brief","credentials":null},{"parameters":{"method":"POST","url":"https://api.airtable.com/v0/appHlW68vIgSzS8BX/tblJfhyu63msByds6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ records: [{ fields: { \"Nome\": $json.nome, \"Categoria\": $json.categoria, \"Cidade\": $json.cidade, \"Pais\": $json.pais, \"Telefone\": $json.telefone, \"Website\": $json.website, \"Google Maps URL\": $json.gmapsUrl, \"Rating\": $json.rating, \"Reviews Count\": $json.reviewsCount, \"Instagram URL\": $json.instagramUrl || \"\", \"Score\": $json.score, \"Classe\": $json.classe, \"Perfil\": $json.perfil, \"Servico Primario\": $json.servicoPrimario, \"Servico Secundario\": $json.servicoSecundario, \"Angulo Abordagem\": $json.anguloAbordagem, \"Gaps Detectados\": $json.gapsDetected, \"Tags Tech\": $json.tagsTech, \"Faz Trafego Pago\": $json.fazTrafegoPago, \"Responde Reviews\": $json.respondsToReviews, \"Tem Agendamento Online\": $json.temAgendamento, \"Ad Library URL\": \"https://www.facebook.com/ads/library/?active_status=active&ad_type=all&country=\" + ($json.pais === \"PT\" ? \"PT\" : \"BR\") + \"&q=\" + encodeURIComponent($json.nome), \"Status\": \"Novo\", \"Source\": $json.source || \"Google Maps\", \"Semana\": $json.weekLabel, \"Run Date\": $json.runDate } }], typecast: true }) }}","options":{}},"id":"55ba2962-4237-483e-8b20-1f7bdbd4c3c5","name":"Airtable: Write Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3104,416],"notes":"SETUP: Substituir YOUR_AIRTABLE_TOKEN pelo Personal Access Token do Airtable"},{"parameters":{"content":"## Lead Gen Pipeline — TM v4\n### Clínicas Médicas e Estéticas\n\n**v4:** Cheerio extrai Tags Tech + Instagram URL do HTML\nSem Apify Instagram actor (poupa RAM + créditos)\n\n**Cron:** Segunda 09:00 UTC | 8 cidades\n\n**Fluxo (19 nodes):**\n1. GMaps (waitForFinish) → Pre-Filter top 10\n2. Cheerio Scraper (residential proxy, waitForFinish)\n3. Parse HTML: Tags Tech + Instagram + Gaps\n4. Dedup Check (vs Airtable)\n5. Claude Bridge (Mac Mini) — qualificação batch\n6. Airtable + Telegram + WhatsApp","height":412,"width":420},"id":"3751fa89-3dbe-4ebd-a0dc-9915be9ab9d3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,-112]},{"parameters":{"content":"### TODO v5\n- Meta Ad Library check (nome → faz ads Facebook?)\n- Notion Tasks (Score A: due tomorrow, B: due Friday)\n- ActiveCampaign nurture (Score A)\n- Expandir TJ + CL\n- Doctoralia.com.br scrape\n- Instagram seguidores via Apify (quando upgrade Starter)","height":280,"width":340},"id":"095eacf5-3901-4afa-88c0-af126e962a51","name":"Sticky Note TODO","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,368]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"claude-sonnet-4-6\", max_tokens: 8192, output_config: { effort: \"medium\" }, messages: [{ role: \"user\", content: $json.prompt }] }) }}","options":{"timeout":300000}},"id":"5f8ea314-3394-4b44-9697-87f15f50659b","name":"Claude API: Qualify Leads","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,416],"notes":"SETUP: Substituir YOUR_BRIDGE_TOKEN pelo token real do Mac Mini Bridge"}],"connections":{"Cron Semanal":{"main":[[{"node":"City Rotation","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"City Rotation","type":"main","index":0}]]},"City Rotation":{"main":[[{"node":"Apify: Google Maps Run","type":"main","index":0}]]},"Apify: Google Maps Run":{"main":[[{"node":"Get GMaps Results","type":"main","index":0}]]},"Get GMaps Results":{"main":[[{"node":"Pre-Filter & Normalize","type":"main","index":0}]]},"Pre-Filter & Normalize":{"main":[[{"node":"Prepare Website URLs","type":"main","index":0}]]},"Prepare Website URLs":{"main":[[{"node":"Apify: Scan Websites","type":"main","index":0}]]},"Apify: Scan Websites":{"main":[[{"node":"Get Scan Results","type":"main","index":0}]]},"Get Scan Results":{"main":[[{"node":"Parse All HTML","type":"main","index":0}]]},"Parse All HTML":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Prepare Claude Payload","type":"main","index":0}]]},"Prepare Claude Payload":{"main":[[{"node":"Claude API: Qualify Leads","type":"main","index":0}]]},"Parse Claude + Merge":{"main":[[{"node":"Airtable: Write Lead","type":"main","index":0}]]},"Airtable: Write Lead":{"main":[[{"node":"Aggregate Stats","type":"main","index":0}]]},"Aggregate Stats":{"main":[[{"node":"Telegram: Notify","type":"main","index":0}]]},"Telegram: Notify":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"WhatsApp Brief","type":"main","index":0}]]},"Claude API: Qualify Leads":{"main":[[{"node":"Parse Claude + Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu","executionTimeout":600},"staticData":{"node:Cron Semanal":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"04919a0f-82cb-4b8c-972d-bf55139c6b30","activeVersionId":"04919a0f-82cb-4b8c-972d-bf55139c6b30","triggerCount":1,"shared":[{"updatedAt":"2026-04-05T21:29:02.555Z","createdAt":"2026-04-05T21:29:02.555Z","role":"workflow:owner","workflowId":"luFxjWS9N238jWEN","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-06-01T10:43:07.934Z","createdAt":"2026-06-01T10:43:07.934Z","versionId":"04919a0f-82cb-4b8c-972d-bf55139c6b30","workflowId":"luFxjWS9N238jWEN","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":9}]}},"id":"b22022da-8038-4d6c-a072-b60ca65cf94c","name":"Cron Semanal","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,320]},{"parameters":{},"id":"51afb5c4-08bb-4873-b3d1-2fd6ea6241e1","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,512]},{"parameters":{"jsCode":"const cities = [\n  { cities: ['Rio de Janeiro', 'Belo Horizonte'], country: 'BR', locationQuery: 'Rio de Janeiro, RJ, Brasil', maxPerSearch: 8 },\n  { cities: ['Lisboa', 'Porto'], country: 'PT', locationQuery: 'Lisboa, Portugal', maxPerSearch: 8 },\n  { cities: ['Curitiba', 'Florianópolis', 'Porto Alegre'], country: 'BR', locationQuery: 'Curitiba, PR, Brasil', maxPerSearch: 8 },\n  { cities: ['Brasília', 'Goiânia'], country: 'BR', locationQuery: 'Brasília, DF, Brasil', maxPerSearch: 8 },\n  { cities: ['Salvador', 'Recife'], country: 'BR', locationQuery: 'Salvador, BA, Brasil', maxPerSearch: 8 },\n  { cities: ['Braga', 'Coimbra', 'Aveiro'], country: 'PT', locationQuery: 'Braga, Portugal', maxPerSearch: 6 },\n  { cities: ['Leiria', 'Caldas da Rainha', 'Marinha Grande', 'Santarém'], country: 'PT', locationQuery: 'Leiria, Portugal', maxPerSearch: 6 },\n  { cities: ['Faro', 'Portimão', 'Albufeira'], country: 'PT', locationQuery: 'Faro, Portugal', maxPerSearch: 6 },\n  { cities: ['São Paulo'], country: 'BR', locationQuery: 'São Paulo, SP, Brasil', maxPerSearch: 8 }\n];\nconst now = new Date();\nconst startOfYear = new Date(now.getFullYear(), 0, 1);\nconst weekNumber = Math.ceil(((now - startOfYear) / 86400000 + startOfYear.getDay() + 1) / 7);\nconst weekLabel = `W${weekNumber}-${now.getFullYear()}`;\nconst cityIndex = (weekNumber - 1) % cities.length;\nconst config = cities[cityIndex];\nconst searchTerms = [\n  'clínica estética',\n  'clínica de emagrecimento',\n  'dermatologista',\n  'harmonização facial'\n];\nreturn [{\n  json: {\n    weekLabel,\n    weekNumber,\n    cityIndex,\n    cities: config.cities,\n    country: config.country,\n    locationQuery: config.locationQuery,\n    maxPerSearch: config.maxPerSearch,\n    searchTerms,\n    runDate: now.toISOString()\n  }\n}];"},"id":"7ca3e774-0664-4259-a602-652efc44256c","name":"City Rotation","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,416]},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/nwua9Gu5YrADL7ZDj/runs?token=***REDACTED***&waitForFinish=300","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"searchStringsArray\": {{ JSON.stringify($json.searchTerms) }},\n  \"locationQuery\": \"{{ $json.locationQuery }}\",\n  \"maxCrawledPlacesPerSearch\": {{ $json.maxPerSearch }},\n  \"language\": \"{{ $json.country === 'PT' ? 'pt-PT' : 'pt-BR' }}\",\n  \"includeWebResults\": false,\n  \"maxImages\": 0,\n  \"maxReviews\": 5,\n  \"scrapeResponsesOfReviews\": true\n}","options":{"timeout":360000}},"id":"58c1516c-0946-4f84-be3f-1aeac99148bb","name":"Apify: Google Maps Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,416]},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}/dataset/items?token=***REDACTED***","options":{}},"id":"63f05f96-de5c-4049-bf23-4539d97c3296","name":"Get GMaps Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,416]},{"parameters":{"jsCode":"// PRE-FILTER + NORMALIZE\n// Remove: <5 reviews, <3 stars, closed, irrelevant categories\nconst input = $input.all();\nconst cityConfig = $('City Rotation').first().json;\nconst seen = new Set();\nconst results = [];\n\nconst irrelevantCategories = [\n  'farmácia', 'pharmacy', 'laboratório', 'laboratory',\n  'hospital público', 'public hospital', 'dentist',\n  'veterinário', 'veterinary', 'fisioterapia'\n];\n\nfor (const item of input) {\n  const d = item.json;\n  \n  // Skip permanently closed\n  if (d.permanentlyClosed) continue;\n  if (d.temporarilyClosed) continue;\n  \n  // Skip <5 reviews\n  const reviewCount = d.reviewsCount || (d.reviews ? d.reviews.length : 0) || 0;\n  if (reviewCount < 5) continue;\n  \n  // Skip <3 stars\n  const rating = d.totalScore || d.stars || d.rating || 0;\n  if (rating < 3) continue;\n  \n  // Skip irrelevant categories\n  const cats = (d.categories || []).map(c => (c || '').toLowerCase()).join(' ');\n  const category = (d.categoryName || d.category || '').toLowerCase();\n  const allCats = cats + ' ' + category;\n  const isIrrelevant = irrelevantCategories.some(ic => allCats.includes(ic));\n  if (isIrrelevant) continue;\n  \n  // Deduplicate by Google Maps URL\n  const gmapsUrl = d.url || d.placeUrl || '';\n  if (seen.has(gmapsUrl)) continue;\n  seen.add(gmapsUrl);\n  \n  // Check if owner responds to reviews\n  let respondsToReviews = false;\n  let responseCount = 0;\n  if (d.reviews && Array.isArray(d.reviews)) {\n    for (const r of d.reviews) {\n      if (r.responseFromOwnerText || r.ownerResponse) responseCount++;\n    }\n    respondsToReviews = responseCount > 0;\n  }\n  \n  results.push({\n    json: {\n      nome: d.title || d.name || '',\n      categoria: d.categoryName || d.category || '',\n      cidade: cityConfig.cities[0],\n      pais: cityConfig.country,\n      telefone: d.phone || '',\n      website: d.website || d.url || '',\n      gmapsUrl: gmapsUrl,\n      rating: rating,\n      reviewsCount: reviewCount,\n      respondsToReviews: respondsToReviews,\n      reviewResponseRate: d.reviews ? `${responseCount}/${d.reviews.length}` : '0/0',\n      ownerPhotosCount: (d.imageCategories || []).length,\n      hasWebsite: !!(d.website),\n      openingHours: d.openingHours || null,\n      categories: d.categories || [],\n      description: d.description || '',\n      weekLabel: cityConfig.weekLabel,\n      runDate: cityConfig.runDate\n    }\n  });\n}\n\nresults.sort((a, b) => {\n  const scoreA = (a.json.hasWebsite ? 50 : 0) + (a.json.respondsToReviews ? 30 : 0) + Math.min(a.json.reviewsCount, 20);\n  const scoreB = (b.json.hasWebsite ? 50 : 0) + (b.json.respondsToReviews ? 30 : 0) + Math.min(b.json.reviewsCount, 20);\n  return scoreB - scoreA;\n});\nreturn results.slice(0, 10);"},"id":"b3645b4e-4a75-465c-9933-bc6df349e981","name":"Pre-Filter & Normalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,416]},{"parameters":{"jsCode":"const items = $input.all();\nconst urlsToScan = [];\nconst noWebsiteLeads = [];\nfor (const item of items) {\n  const lead = item.json;\n  const url = lead.website || '';\n  if (!lead.hasWebsite || !url || url.includes('google.com/maps') || url.includes('instagram.com')) {\n    noWebsiteLeads.push({...lead, tagsTech:[], gapsDetected:['sem_site','sem_analytics','sem_pixel','sem_google_ads','sem_blog','sem_seo','sem_schema','sem_whatsapp_widget','sem_agendamento'], fazTrafegoPago:false, temAgendamento:false, websiteScanned:false, instagramUrl:'', instagramSeguidores:0});\n  } else {\n    urlsToScan.push({ url: url, userData: { leadIndex: urlsToScan.length, nome: lead.nome } });\n  }\n}\nreturn [{ json: { urlsToScan, noWebsiteLeads, allLeads: items.map(i => i.json), hasUrlsToScan: urlsToScan.length > 0 } }];"},"id":"318cb947-5678-431a-9136-e61fee6768ae","name":"Prepare Website URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,416]},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/apify~cheerio-scraper/runs?token=***REDACTED***&waitForFinish=180","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"startUrls\": {{ JSON.stringify($json.urlsToScan) }},\n  \"pageFunction\": \"async function pageFunction({ request, $, body }) { return { url: request.url, html: body.substring(0, 50000), userData: request.userData }; }\",\n  \"maxRequestsPerCrawl\": 20,\n  \"maxConcurrency\": 5,\n  \"proxyConfiguration\": { \"useApifyProxy\": true, \"apifyProxyGroups\": [\"RESIDENTIAL\"] },\n  \"additionalMimeTypes\": [\"text/html\"],\n  \"requestHandlerTimeoutSecs\": 30\n}","options":{"timeout":240000}},"id":"392ec069-a0a4-45ca-9413-f35a51b7bf89","name":"Apify: Scan Websites","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,416]},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}/dataset/items?token=***REDACTED***","options":{}},"id":"f18b0631-3bc1-4342-8c0a-8e1ba292c1a2","name":"Get Scan Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,416]},{"parameters":{"jsCode":"const scanResults = $input.all().map(i => i.json);\nconst prepData = $('Prepare Website URLs').first().json;\nconst allLeads = prepData.allLeads;\nconst noWebsiteLeads = prepData.noWebsiteLeads;\nconst results = [];\n\nfor (const lead of allLeads) {\n  const url = lead.website || '';\n  const existing = noWebsiteLeads.find(n => n.gmapsUrl === lead.gmapsUrl);\n  if (existing) { results.push({ json: existing }); continue; }\n\n  const scanResult = scanResults.find(s => {\n    if (s.userData && s.userData.leadIndex !== undefined) {\n      const idx = s.userData.leadIndex;\n      const urlsToScan = prepData.urlsToScan || [];\n      return urlsToScan[idx] && urlsToScan[idx].url === url;\n    }\n    let hostname = '';\n    try { hostname = new URL(url).hostname.replace('www.', ''); } catch(e) {}\n    let scanHost = '';\n    try { scanHost = new URL(s.url || '').hostname.replace('www.', ''); } catch(e) {}\n    return hostname && scanHost && (hostname === scanHost || s.url?.includes(hostname));\n  });\n\n  const html = (scanResult?.html || '').toLowerCase();\n\n  if (!html || html.length < 100) {\n    results.push({ json: { ...lead, tagsTech:[], gapsDetected:['website_error'], fazTrafegoPago:false, temAgendamento:false, websiteScanned:false, instagramUrl:'', instagramSeguidores:0 }});\n    continue;\n  }\n\n  const tags = [];\n  const gaps = [];\n\n  if (url.startsWith('https')) tags.push('tem_ssl'); else gaps.push('sem_ssl');\n  if (html.includes('gtag') || html.includes('google-analytics') || html.includes('googletagmanager.com/gtag') || html.includes('googletagmanager')) tags.push('tem_ga4'); else gaps.push('sem_analytics');\n  if (html.includes('gtm-') || html.includes('googletagmanager.com/ns.html')) tags.push('tem_gtm');\n  if (html.includes('fbq(') || html.includes('facebook.com/tr') || html.includes('fbevents') || html.includes('connect.facebook.net')) tags.push('tem_pixel'); else gaps.push('sem_pixel');\n  if (html.includes('googleadservices') || html.includes('google_conversion') || html.includes('ads/ga-audiences') || html.includes('googlesyndication') || html.includes('aw-')) tags.push('tem_google_ads'); else gaps.push('sem_google_ads');\n  if (html.includes('analytics.tiktok.com')) tags.push('tem_tiktok_pixel');\n  if (html.includes('/blog') || html.includes('/artigos') || html.includes('/noticias') || html.includes('/news')) tags.push('tem_blog'); else gaps.push('sem_blog');\n  if (html.includes('meta name=\"description\"') || html.includes(\"meta name='description'\") || html.includes('meta property=\"og:description\"')) {} else gaps.push('sem_seo');\n  if (html.includes('application/ld+json') || html.includes('schema.org')) tags.push('tem_schema'); else gaps.push('sem_schema');\n  if (html.includes('wp-content') || html.includes('wp-includes') || html.includes('wordpress')) tags.push('tem_wordpress');\n  else if (html.includes('wixstatic') || html.includes('wix.com') || html.includes('_wix_browser_sess')) tags.push('tem_wix');\n  if (html.includes('wa.me/') || html.includes('api.whatsapp.com') || html.includes('whatsapp')) tags.push('tem_whatsapp_widget'); else gaps.push('sem_whatsapp_widget');\n  if (html.includes('tawk.to') || html.includes('tidio') || html.includes('zendesk') || html.includes('crisp.chat') || html.includes('jivochat') || html.includes('livechat')) tags.push('tem_chat_widget');\n  if (html.includes('doctoralia') || html.includes('booksy') || html.includes('calendly') || html.includes('agendamento') || html.includes('agendar') || html.includes('marcar consulta') || html.includes('hotdoc') || html.includes('clinicorp')) tags.push('tem_agendamento'); else gaps.push('sem_agendamento');\n  if (html.includes('<form') || html.includes('wpcf7') || html.includes('contact-form') || html.includes('elementor-form')) tags.push('tem_formulario');\n\n  let instagramUrl = '';\n  const igPatterns = [\n    /href=[\"']https?:\\/\\/(?:www\\.)?instagram\\.com\\/([a-z0-9_\\.]{2,30})\\/?[\"']/gi,\n    /instagram\\.com\\/([a-z0-9_\\.]{2,30})\\/?/gi\n  ];\n  const igExclude = ['p','reel','explore','accounts','about','legal','developer','privacy','reels','stories'];\n  for (const pattern of igPatterns) {\n    let match;\n    while ((match = pattern.exec(html)) !== null) {\n      if (match[1] && !igExclude.includes(match[1].toLowerCase())) {\n        instagramUrl = 'https://instagram.com/' + match[1];\n        break;\n      }\n    }\n    if (instagramUrl) break;\n  }\n  if (!instagramUrl) gaps.push('sem_instagram');\n\n  results.push({ json: {\n    ...lead,\n    tagsTech: tags,\n    gapsDetected: gaps,\n    fazTrafegoPago: tags.includes('tem_pixel') || tags.includes('tem_google_ads'),\n    temAgendamento: tags.includes('tem_agendamento'),\n    websiteScanned: true,\n    instagramUrl: instagramUrl,\n    instagramSeguidores: 0\n  }});\n}\nreturn results;"},"id":"b07f22ec-03c4-4332-83f9-5cf9b866d7f6","name":"Parse All HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,416],"alwaysOutputData":true},{"parameters":{"jsCode":"const items = $input.all();\nconst token = '***REDACTED***';\nlet existingUrls = new Set();\ntry {\n  const resp = await fetch('https://api.airtable.com/v0/appHlW68vIgSzS8BX/tblJfhyu63msByds6?fields%5B%5D=Google+Maps+URL&pageSize=1000', { headers: { 'Authorization': 'Bearer ' + token } });\n  const data = await resp.json();\n  for (const rec of (data.records || [])) { const url = rec.fields?.['Google Maps URL'] || ''; if (url) existingUrls.add(url); }\n} catch(e) {}\nconst newLeads = items.filter(i => !existingUrls.has(i.json.gmapsUrl));\nif (newLeads.length === 0) return [{ json: { _skip: true, _msg: 'All ' + items.length + ' leads already exist' } }];\nreturn newLeads;"},"id":"0870e923-b85b-44ed-8a9f-b3d01b24ed74","name":"Dedup Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,416],"alwaysOutputData":true},{"parameters":{"jsCode":"const allLeads = $input.all().map(i => i.json);\nconst BATCH_SIZE = 10;\nconst batches = [];\n\nfor (let i = 0; i < allLeads.length; i += BATCH_SIZE) {\n  batches.push(allLeads.slice(i, i + BATCH_SIZE));\n}\n\nconst promptBase = `Tu és um analista de qualificação de leads para serviços de marketing digital dirigidos a clínicas médicas e estéticas.\n\nPara CADA lead, calcula:\n1. SCORE (0-100): Score = (GapDigital x 0.35) + (Vitalidade x 0.30) + (Engajamento x 0.20) + (Match x 0.15)\n   AJUSTE PORTUGAL: Se pais=PT, multiplicar peso de reviews por 2.5\n2. CLASSE: A (>=70), B (40-69), C (<40)\n3. PERFIL: heavy_user (tem Pixel+Ads), gap_lead (sem site OU >5 gaps), balanced\n4. SERVICO PRIMARIO baseado nos gaps\n5. SERVICO SECUNDARIO: upsell futuro\n6. ANGULO DE ABORDAGEM: frase cold outreach (max 200 chars)\n\nRESPONDE APENAS JSON array valido, sem markdown:\n[{\"index\":0,\"score\":78,\"classe\":\"A\",\"perfil\":\"gap_lead\",\"servicoPrimario\":\"Site + Landing Page\",\"servicoSecundario\":\"Instagram\",\"anguloAbordagem\":\"frase\",\"gapsDetected\":[\"sem_site\"]}]\n\nDADOS:\n`;\n\nreturn batches.map((batch, idx) => ({\n  json: {\n    prompt: promptBase + JSON.stringify(batch, null, 2),\n    leadsCount: batch.length,\n    batchIndex: idx,\n    totalBatches: batches.length,\n    batchLeads: batch,\n    allLeads: allLeads\n  }\n}));"},"id":"9a7f5796-ed35-4482-b19a-d85fbce43493","name":"Prepare Claude Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,416]},{"parameters":{"jsCode":"const claudeResponses = $input.all();\nconst allLeads = $('Prepare Claude Payload').first().json.allLeads;\nconst weekLabel = allLeads[0]?.weekLabel || '';\nconst runDate = allLeads[0]?.runDate || new Date().toISOString();\n\nlet allScores = [];\nfor (const resp of claudeResponses) {\n  try {\n    const raw = resp.json.content?.[0]?.text || resp.json.output || resp.json.result || resp.json.body || JSON.stringify(resp.json);\n    const jsonMatch = raw.match(/\\[[\\s\\S]*\\]/);\n    if (jsonMatch) allScores = allScores.concat(JSON.parse(jsonMatch[0]));\n  } catch (e) {}\n}\n\nconst results = [];\nfor (let i = 0; i < allLeads.length; i++) {\n  const lead = allLeads[i];\n  const scoreData = allScores[i] || { score: 50, classe: 'B', perfil: 'balanced', servicoPrimario: 'Diagnostico Digital', servicoSecundario: 'Pacote Completo', anguloAbordagem: 'Revisar manualmente', gapsDetected: [] };\n  \n  const allGaps = [...new Set([...(lead.gapsDetected || []), ...(scoreData.gapsDetected || [])])];\n  if (lead.respondsToReviews === false && !allGaps.includes('nao_responde_reviews')) allGaps.push('nao_responde_reviews');\n  \n  results.push({ json: {\n    nome: lead.nome, categoria: lead.categoria, cidade: lead.cidade, pais: lead.pais,\n    telefone: lead.telefone, website: lead.hasWebsite ? lead.website : '',\n    gmapsUrl: lead.gmapsUrl, rating: lead.rating, reviewsCount: lead.reviewsCount,\n    instagramUrl: lead.instagramUrl || '', instagramSeguidores: lead.instagramSeguidores || 0,\n    score: scoreData.score || 50, classe: scoreData.classe || 'B',\n    perfil: scoreData.perfil || 'balanced',\n    servicoPrimario: scoreData.servicoPrimario || '', servicoSecundario: scoreData.servicoSecundario || '',\n    anguloAbordagem: scoreData.anguloAbordagem || '',\n    gapsDetected: allGaps, tagsTech: lead.tagsTech || [],\n    fazTrafegoPago: lead.fazTrafegoPago || false,\n    respondsToReviews: lead.respondsToReviews || false,\n    temAgendamento: lead.temAgendamento || false,\n    status: 'Novo', source: 'Google Maps', weekLabel: weekLabel, runDate: runDate\n  }});\n}\nreturn results;"},"id":"4aebebd6-1d34-4d62-a495-9b294249721b","name":"Parse Claude + Merge","type":"n8n-nodes-base.code","typeVersion":2,"position":[2864,416]},{"parameters":{"jsCode":"const allLeads = $('Parse Claude + Merge').all().map(i => i.json);\n\nconst scoreA = allLeads.filter(l => l.classe === 'A');\nconst scoreB = allLeads.filter(l => l.classe === 'B');\nconst scoreC = allLeads.filter(l => l.classe === 'C');\nconst heavyUsers = allLeads.filter(l => l.perfil === 'heavy_user');\n\nconst topLeads = scoreA\n  .sort((a, b) => (b.score || 0) - (a.score || 0))\n  .slice(0, 3)\n  .map(l => `  • ${l.nome} (${l.score}) — ${l.servicoPrimario}`)\n  .join('\\n');\n\nconst weekLabel = allLeads[0]?.weekLabel || 'W??';\nconst cidade = allLeads[0]?.cidade || '??';\n\nconst message = `🎯 Lead Gen TM — ${weekLabel} (${cidade})\\n\\nTotal scrapeado: ${allLeads.length}\\nScore A: ${scoreA.length} | Score B: ${scoreB.length} | Score C: ${scoreC.length}\\nHeavy Users: ${heavyUsers.length}\\n\\n🏆 Top 3:\\n${topLeads || '  Nenhum Score A esta semana'}\\n\\n📊 Airtable: https://airtable.com/appHlW68vIgSzS8BX/tblJfhyu63msByds6`;\n\nreturn [{ json: { message, scoreA: scoreA.length, scoreB: scoreB.length, scoreC: scoreC.length, total: allLeads.length } }];"},"id":"34595634-bad9-4aed-bf60-90d180a6cf67","name":"Aggregate Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[3344,416]},{"parameters":{"chatId":"-1002374157964","text":"={{ $json.message }}","additionalFields":{"parse_mode":"Markdown"}},"id":"55802d52-ac6c-4140-a5e3-00776ff95033","name":"Telegram: Notify","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3584,416],"webhookId":"e7b67a1d-21b2-40af-9e9b-570189d4ee12","credentials":null},{"parameters":{"jsCode":"const message = $('Aggregate Stats').first().json.message;\n\nlet text = message\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3824,416],"id":"2c464331-739a-4946-a298-a18e802a0af1","name":"Code in JavaScript"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4064,416],"id":"eeb97c39-c4c3-4163-9d72-39be315df872","name":"WhatsApp Brief","credentials":null},{"parameters":{"method":"POST","url":"https://api.airtable.com/v0/appHlW68vIgSzS8BX/tblJfhyu63msByds6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ records: [{ fields: { \"Nome\": $json.nome, \"Categoria\": $json.categoria, \"Cidade\": $json.cidade, \"Pais\": $json.pais, \"Telefone\": $json.telefone, \"Website\": $json.website, \"Google Maps URL\": $json.gmapsUrl, \"Rating\": $json.rating, \"Reviews Count\": $json.reviewsCount, \"Instagram URL\": $json.instagramUrl || \"\", \"Score\": $json.score, \"Classe\": $json.classe, \"Perfil\": $json.perfil, \"Servico Primario\": $json.servicoPrimario, \"Servico Secundario\": $json.servicoSecundario, \"Angulo Abordagem\": $json.anguloAbordagem, \"Gaps Detectados\": $json.gapsDetected, \"Tags Tech\": $json.tagsTech, \"Faz Trafego Pago\": $json.fazTrafegoPago, \"Responde Reviews\": $json.respondsToReviews, \"Tem Agendamento Online\": $json.temAgendamento, \"Ad Library URL\": \"https://www.facebook.com/ads/library/?active_status=active&ad_type=all&country=\" + ($json.pais === \"PT\" ? \"PT\" : \"BR\") + \"&q=\" + encodeURIComponent($json.nome), \"Status\": \"Novo\", \"Source\": $json.source || \"Google Maps\", \"Semana\": $json.weekLabel, \"Run Date\": $json.runDate } }], typecast: true }) }}","options":{}},"id":"55ba2962-4237-483e-8b20-1f7bdbd4c3c5","name":"Airtable: Write Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3104,416],"notes":"SETUP: Substituir YOUR_AIRTABLE_TOKEN pelo Personal Access Token do Airtable"},{"parameters":{"content":"## Lead Gen Pipeline — TM v4\n### Clínicas Médicas e Estéticas\n\n**v4:** Cheerio extrai Tags Tech + Instagram URL do HTML\nSem Apify Instagram actor (poupa RAM + créditos)\n\n**Cron:** Segunda 09:00 UTC | 8 cidades\n\n**Fluxo (19 nodes):**\n1. GMaps (waitForFinish) → Pre-Filter top 10\n2. Cheerio Scraper (residential proxy, waitForFinish)\n3. Parse HTML: Tags Tech + Instagram + Gaps\n4. Dedup Check (vs Airtable)\n5. Claude Bridge (Mac Mini) — qualificação batch\n6. Airtable + Telegram + WhatsApp","height":412,"width":420},"id":"3751fa89-3dbe-4ebd-a0dc-9915be9ab9d3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,-112]},{"parameters":{"content":"### TODO v5\n- Meta Ad Library check (nome → faz ads Facebook?)\n- Notion Tasks (Score A: due tomorrow, B: due Friday)\n- ActiveCampaign nurture (Score A)\n- Expandir TJ + CL\n- Doctoralia.com.br scrape\n- Instagram seguidores via Apify (quando upgrade Starter)","height":280,"width":340},"id":"095eacf5-3901-4afa-88c0-af126e962a51","name":"Sticky Note TODO","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,368]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"claude-sonnet-4-6\", max_tokens: 8192, output_config: { effort: \"medium\" }, messages: [{ role: \"user\", content: $json.prompt }] }) }}","options":{"timeout":300000}},"id":"5f8ea314-3394-4b44-9697-87f15f50659b","name":"Claude API: Qualify Leads","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2624,416],"notes":"SETUP: Substituir YOUR_BRIDGE_TOKEN pelo token real do Mac Mini Bridge"}],"connections":{"Cron Semanal":{"main":[[{"node":"City Rotation","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"City Rotation","type":"main","index":0}]]},"City Rotation":{"main":[[{"node":"Apify: Google Maps Run","type":"main","index":0}]]},"Apify: Google Maps Run":{"main":[[{"node":"Get GMaps Results","type":"main","index":0}]]},"Get GMaps Results":{"main":[[{"node":"Pre-Filter & Normalize","type":"main","index":0}]]},"Pre-Filter & Normalize":{"main":[[{"node":"Prepare Website URLs","type":"main","index":0}]]},"Prepare Website URLs":{"main":[[{"node":"Apify: Scan Websites","type":"main","index":0}]]},"Apify: Scan Websites":{"main":[[{"node":"Get Scan Results","type":"main","index":0}]]},"Get Scan Results":{"main":[[{"node":"Parse All HTML","type":"main","index":0}]]},"Parse All HTML":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Prepare Claude Payload","type":"main","index":0}]]},"Prepare Claude Payload":{"main":[[{"node":"Claude API: Qualify Leads","type":"main","index":0}]]},"Parse Claude + Merge":{"main":[[{"node":"Airtable: Write Lead","type":"main","index":0}]]},"Airtable: Write Lead":{"main":[[{"node":"Aggregate Stats","type":"main","index":0}]]},"Aggregate Stats":{"main":[[{"node":"Telegram: Notify","type":"main","index":0}]]},"Telegram: Notify":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"WhatsApp Brief","type":"main","index":0}]]},"Claude API: Qualify Leads":{"main":[[{"node":"Parse Claude + Merge","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[{"updatedAt":"2026-04-05T12:03:59.040Z","createdAt":"2026-04-05T12:03:59.040Z","id":"Jpdhb7TP6mbcD0xb","name":"lead-gen"},{"updatedAt":"2026-04-05T12:03:59.014Z","createdAt":"2026-04-05T12:03:59.014Z","id":"Go0n9qzspxhI2wIh","name":"tm"},{"updatedAt":"2026-04-05T12:03:59.006Z","createdAt":"2026-04-05T12:03:59.006Z","id":"1T4NJ6P8jzvmAU8T","name":"apify"}]}