lead-gen-pipeline-—-tm-EGeiawoiV58DomEH.json
{"updatedAt":"2026-04-06T01:37:43.301Z","createdAt":"2026-04-05T12:05:45.873Z","id":"EGeiawoiV58DomEH","name":"Lead Gen Pipeline — TM","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":9}]}},"id":"46d4a5a4-682d-4d3a-94dd-97420947d893","name":"Cron Semanal","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-528,112]},{"parameters":{},"id":"ff54979e-0411-4e93-9f25-93d7d2d8e26a","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-528,304]},{"parameters":{"jsCode":"// CITY ROTATION — muda automaticamente a cada semana\nconst cities = [\n  { cities: ['São Paulo'], country: 'BR', locationQuery: 'São Paulo, SP, Brasil', maxPerSearch: 15 },\n  { cities: ['Rio de Janeiro', 'Belo Horizonte'], country: 'BR', locationQuery: 'Rio de Janeiro, RJ, Brasil', maxPerSearch: 8 },\n  { cities: ['Lisboa', 'Porto'], country: 'PT', locationQuery: 'Lisboa, Portugal', maxPerSearch: 8 },\n  { cities: ['Curitiba', 'Florianópolis', 'Porto Alegre'], country: 'BR', locationQuery: 'Curitiba, PR, Brasil', maxPerSearch: 5 },\n  { cities: ['Brasília', 'Goiânia'], country: 'BR', locationQuery: 'Brasília, DF, Brasil', maxPerSearch: 8 },\n  { cities: ['Salvador', 'Recife'], country: 'BR', locationQuery: 'Salvador, BA, Brasil', maxPerSearch: 8 },\n  { cities: ['Braga', 'Faro', 'Coimbra', 'Aveiro'], country: 'PT', locationQuery: 'Braga, Portugal', maxPerSearch: 4 },\n  { cities: ['São Paulo'], country: 'BR', locationQuery: 'São Paulo, SP, Brasil', maxPerSearch: 15 }\n];\n\nconst now = new Date();\nconst startOfYear = new Date(now.getFullYear(), 0, 1);\nconst weekNumber = Math.ceil(((now - startOfYear) / 86400000 + startOfYear.getDay() + 1) / 7);\nconst weekLabel = `W${weekNumber}-${now.getFullYear()}`;\nconst cityIndex = (weekNumber - 1) % cities.length;\nconst config = cities[cityIndex];\n\nconst searchTerms = [\n  'clínica estética',\n  'clínica de emagrecimento',\n  'dermatologista',\n  'harmonização facial'\n];\n\nreturn [{\n  json: {\n    weekLabel,\n    weekNumber,\n    cityIndex,\n    cities: config.cities,\n    country: config.country,\n    locationQuery: config.locationQuery,\n    maxPerSearch: config.maxPerSearch,\n    searchTerms,\n    runDate: now.toISOString()\n  }\n}];"},"id":"8ad4dc4f-060f-4202-b042-6dedfa1ea0b3","name":"City Rotation","type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,208]},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/nwua9Gu5YrADL7ZDj/runs?token=***REDACTED***","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"searchStringsArray\": {{ JSON.stringify($json.searchTerms) }},\n  \"locationQuery\": \"{{ $json.locationQuery }}\",\n  \"maxCrawledPlacesPerSearch\": {{ $json.maxPerSearch }},\n  \"language\": \"{{ $json.country === 'PT' ? 'pt-PT' : 'pt-BR' }}\",\n  \"includeWebResults\": false,\n  \"maxImages\": 0,\n  \"maxReviews\": 5,\n  \"scrapeResponsesOfReviews\": true\n}","options":{}},"id":"fcc1f0e6-2e7e-4c81-bed7-5be4cc7caefd","name":"Apify: Start Google Maps Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,208],"notes":"SETUP: Criar credential 'Header Auth' com Name=Authorization, Value=***REDACTED*** Ou usar token na URL."},{"parameters":{"amount":120},"id":"e8609387-0489-4ca2-b280-778c5bb01cf6","name":"Wait 120s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[192,208],"webhookId":"7be56081-e0f3-4846-9da0-b5ce0c139f40"},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $('Apify: Start Google Maps Run').item.json.data.id }}/dataset/items?token=***REDACTED***","options":{}},"id":"81854d93-8161-4946-a233-2cf455e8ff38","name":"Apify: Get Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,208]},{"parameters":{"jsCode":"// PRE-FILTER + NORMALIZE\n// Remove: <5 reviews, <3 stars, closed, irrelevant categories\nconst input = $input.all();\nconst cityConfig = $('City Rotation').first().json;\nconst seen = new Set();\nconst results = [];\n\nconst irrelevantCategories = [\n  'farmácia', 'pharmacy', 'laboratório', 'laboratory',\n  'hospital público', 'public hospital', 'dentist',\n  'veterinário', 'veterinary', 'fisioterapia'\n];\n\nfor (const item of input) {\n  const d = item.json;\n  \n  // Skip permanently closed\n  if (d.permanentlyClosed) continue;\n  if (d.temporarilyClosed) continue;\n  \n  // Skip <5 reviews\n  const reviewCount = d.reviewsCount || (d.reviews ? d.reviews.length : 0) || 0;\n  if (reviewCount < 5) continue;\n  \n  // Skip <3 stars\n  const rating = d.totalScore || d.stars || d.rating || 0;\n  if (rating < 3) continue;\n  \n  // Skip irrelevant categories\n  const cats = (d.categories || []).map(c => (c || '').toLowerCase()).join(' ');\n  const category = (d.categoryName || d.category || '').toLowerCase();\n  const allCats = cats + ' ' + category;\n  const isIrrelevant = irrelevantCategories.some(ic => allCats.includes(ic));\n  if (isIrrelevant) continue;\n  \n  // Deduplicate by Google Maps URL\n  const gmapsUrl = d.url || d.placeUrl || '';\n  if (seen.has(gmapsUrl)) continue;\n  seen.add(gmapsUrl);\n  \n  // Check if owner responds to reviews\n  let respondsToReviews = false;\n  let responseCount = 0;\n  if (d.reviews && Array.isArray(d.reviews)) {\n    for (const r of d.reviews) {\n      if (r.responseFromOwnerText || r.ownerResponse) responseCount++;\n    }\n    respondsToReviews = responseCount > 0;\n  }\n  \n  results.push({\n    json: {\n      nome: d.title || d.name || '',\n      categoria: d.categoryName || d.category || '',\n      cidade: cityConfig.cities[0],\n      pais: cityConfig.country,\n      telefone: d.phone || '',\n      website: d.website || d.url || '',\n      gmapsUrl: gmapsUrl,\n      rating: rating,\n      reviewsCount: reviewCount,\n      respondsToReviews: respondsToReviews,\n      reviewResponseRate: d.reviews ? `${responseCount}/${d.reviews.length}` : '0/0',\n      ownerPhotosCount: (d.imageCategories || []).length,\n      hasWebsite: !!(d.website),\n      openingHours: d.openingHours || null,\n      categories: d.categories || [],\n      description: d.description || '',\n      weekLabel: cityConfig.weekLabel,\n      runDate: cityConfig.runDate\n    }\n  });\n}\n\nreturn results;"},"id":"6465ddc1-ce4f-45d4-8ab8-c5e68ea6ceee","name":"Pre-Filter & Normalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,208]},{"parameters":{"jsCode":"// PREPARE CLAUDE BRIDGE PAYLOAD\n// Collect ALL leads into a single batch for Claude qualification\nconst allLeads = $input.all().map(i => i.json);\n\nconst prompt = `Tu és um analista de qualificação de leads para serviços de marketing digital dirigidos a clínicas médicas e estéticas.\n\nRecebes um array JSON com dados de negócios extraídos do Google Maps e enriquecidos com scan do website.\n\nPara CADA lead, deves calcular:\n\n1. SCORE (0-100) usando esta fórmula:\n   Score = (GapDigital × 0.35) + (Vitalidade × 0.30) + (Engajamento × 0.20) + (Match × 0.15)\n   \n   - GapDigital: quanto MAIS gaps digitais, MAIOR o score (precisam de ajuda)\n   - Vitalidade: reviews, fotos, listing completo = negócio activo com budget\n   - Engajamento: responde a reviews = dono engajado, vai atender cold call\n   - Match: harmonização/estética=100, emagrecimento=90, dermato=80, integrativa=70, nutrição=50, geral=20\n   \n   AJUSTE PORTUGAL: Se pais=PT, multiplicar peso de reviews por 2.5 (cultura de reviews mais fraca)\n\n2. CLASSE: A (>=70), B (40-69), C (<40)\n\n3. PERFIL:\n   - heavy_user: tem Pixel + Google Ads ou fazTrafegoPago=true\n   - gap_lead: sem site OU sem Instagram OU >5 gaps\n   - balanced: restantes\n\n4. SERVICO PRIMARIO: o que vender primeiro baseado nos gaps\n   - Se sem site → \"Site + Landing Page\"\n   - Se sem Instagram ou ig abandonado → \"Gestão de Instagram\"\n   - Se sem Pixel/Analytics mas tem site → \"Setup de Tracking + Analytics\"\n   - Se heavy_user → \"Auditoria de Ads + Optimização\"\n   - Se tem tudo básico → \"Estratégia de Conteúdo + SEO\"\n\n5. SERVICO SECUNDARIO: upsell futuro\n\n6. ANGULO DE ABORDAGEM: uma frase específica para cold outreach (máx 200 chars)\n   Exemplo: \"Está a correr anúncios no Facebook mas sem Pixel — está a gastar dinheiro sem medir resultados\"\n\nRESPONDE APENAS em JSON array válido, sem markdown, sem backticks:\n[{\"index\":0,\"score\":78,\"classe\":\"A\",\"perfil\":\"gap_lead\",\"servicoPrimario\":\"Site + Landing Page\",\"servicoSecundario\":\"Gestão de Instagram\",\"anguloAbordagem\":\"Sem website — 40% dos pacientes procuram clínicas online antes de marcar consulta\",\"gapsDetected\":[\"sem_site\",\"sem_instagram\"]}]\n\nDADOS DOS LEADS:\n${JSON.stringify(allLeads, null, 2)}`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    leadsCount: allLeads.length,\n    allLeads: allLeads\n  }\n}];"},"id":"b533ad84-cbb0-4e6c-b45a-3a268472c209","name":"Prepare Claude Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,208]},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/execute","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ prompt: $json.prompt }) }}","options":{"timeout":300000}},"id":"6cb77c76-9982-4d0e-85c2-d500c57c4aa7","name":"Claude Bridge: Qualify Leads","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2048,208],"notes":"SETUP: Substituir YOUR_BRIDGE_TOKEN pelo token real do Mac Mini Bridge"},{"parameters":{"jsCode":"// PARSE CLAUDE RESPONSE + MERGE WITH ORIGINAL LEADS\nconst claudeResponse = $json;\nconst allLeads = $('Prepare Claude Payload').first().json.allLeads;\nconst weekLabel = allLeads[0]?.weekLabel || '';\nconst runDate = allLeads[0]?.runDate || new Date().toISOString();\n\nlet scores;\ntry {\n  // Claude Bridge returns {output: \"...\"} or {result: \"...\"}\n  const raw = claudeResponse.output || claudeResponse.result || claudeResponse.body || JSON.stringify(claudeResponse);\n  // Extract JSON array from response\n  const jsonMatch = raw.match(/\\[[\\s\\S]*\\]/);\n  if (jsonMatch) {\n    scores = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON array found in Claude response');\n  }\n} catch (e) {\n  // Fallback: return leads without AI scoring\n  return allLeads.map((lead, i) => ({\n    json: {\n      ...lead,\n      score: 50,\n      classe: 'B',\n      perfil: 'balanced',\n      servicoPrimario: 'Diagnóstico Digital',\n      servicoSecundario: 'Pacote Completo',\n      anguloAbordagem: 'Claude scoring failed — revisar manualmente',\n      claudeError: e.message\n    }\n  }));\n}\n\n// Merge scores with lead data\nconst results = [];\nfor (let i = 0; i < allLeads.length; i++) {\n  const lead = allLeads[i];\n  const scoreData = scores.find(s => s.index === i) || scores[i] || {};\n  \n  // Merge gaps from website scan + Claude\n  const allGaps = [...new Set([...(lead.gapsDetected || []), ...(scoreData.gapsDetected || [])])];\n  if (!lead.hasWebsite) allGaps.push('sem_site');\n  if (lead.respondsToReviews === false) allGaps.push('nao_responde_reviews');\n  \n  results.push({\n    json: {\n      nome: lead.nome,\n      categoria: lead.categoria,\n      cidade: lead.cidade,\n      pais: lead.pais,\n      telefone: lead.telefone,\n      website: lead.hasWebsite ? lead.website : '',\n      gmapsUrl: lead.gmapsUrl,\n      rating: lead.rating,\n      reviewsCount: lead.reviewsCount,\n      score: scoreData.score || 50,\n      classe: scoreData.classe || 'B',\n      perfil: scoreData.perfil || 'balanced',\n      servicoPrimario: scoreData.servicoPrimario || '',\n      servicoSecundario: scoreData.servicoSecundario || '',\n      anguloAbordagem: scoreData.anguloAbordagem || '',\n      gapsDetected: allGaps,\n      tagsTech: lead.tagsTech || [],\n      fazTrafegoPago: lead.fazTrafegoPago || false,\n      respondsToReviews: lead.respondsToReviews || false,\n      temAgendamento: lead.temAgendamento || false,\n      status: 'Novo',\n      source: 'Google Maps',\n      weekLabel: weekLabel,\n      runDate: runDate\n    }\n  });\n}\n\nreturn results;"},"id":"228ad151-5188-4830-b5bd-c168f9207850","name":"Parse Claude + Merge","type":"n8n-nodes-base.code","typeVersion":2,"position":[2288,208]},{"parameters":{"method":"POST","url":"https://api.airtable.com/v0/appHlW68vIgSzS8BX/tblJfhyu63msByds6","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"records\": [{\n    \"fields\": {\n      \"Nome\": \"{{ $json.nome }}\",\n      \"Categoria\": \"{{ $json.categoria }}\",\n      \"Cidade\": \"{{ $json.cidade }}\",\n      \"Pais\": \"{{ $json.pais }}\",\n      \"Telefone\": \"{{ $json.telefone }}\",\n      \"Website\": \"{{ $json.website }}\",\n      \"Google Maps URL\": \"{{ $json.gmapsUrl }}\",\n      \"Rating\": {{ $json.rating }},\n      \"Reviews Count\": {{ $json.reviewsCount }},\n      \"Score\": {{ $json.score }},\n      \"Classe\": \"{{ $json.classe }}\",\n      \"Perfil\": \"{{ $json.perfil }}\",\n      \"Servico Primario\": \"{{ $json.servicoPrimario }}\",\n      \"Servico Secundario\": \"{{ $json.servicoSecundario }}\",\n      \"Angulo Abordagem\": \"{{ $json.anguloAbordagem }}\",\n      \"Gaps Detectados\": {{ JSON.stringify($json.gapsDetected) }},\n      \"Tags Tech\": {{ JSON.stringify($json.tagsTech) }},\n      \"Faz Trafego Pago\": {{ $json.fazTrafegoPago }},\n      \"Responde Reviews\": {{ $json.respondsToReviews }},\n      \"Tem Agendamento Online\": {{ $json.temAgendamento }},\n      \"Status\": \"Novo\",\n      \"Source\": \"{{ $json.source }}\",\n      \"Semana\": \"{{ $json.weekLabel }}\",\n      \"Run Date\": \"{{ $json.runDate }}\"\n    }\n  }],\n  \"typecast\": true\n}","options":{}},"id":"26cbb252-0653-4d08-9077-130d2921e638","name":"Airtable: Write Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,208],"notes":"SETUP: Substituir YOUR_AIRTABLE_TOKEN pelo Personal Access Token do Airtable"},{"parameters":{"jsCode":"const allLeads = $('Parse Claude + Merge').all().map(i => i.json);\n\nconst scoreA = allLeads.filter(l => l.classe === 'A');\nconst scoreB = allLeads.filter(l => l.classe === 'B');\nconst scoreC = allLeads.filter(l => l.classe === 'C');\nconst heavyUsers = allLeads.filter(l => l.perfil === 'heavy_user');\n\nconst topLeads = scoreA\n  .sort((a, b) => (b.score || 0) - (a.score || 0))\n  .slice(0, 3)\n  .map(l => `  • ${l.nome} (${l.score}) — ${l.servicoPrimario}`)\n  .join('\\n');\n\nconst weekLabel = allLeads[0]?.weekLabel || 'W??';\nconst cidade = allLeads[0]?.cidade || '??';\n\nconst message = `🎯 Lead Gen TM — ${weekLabel} (${cidade})\\n\\nTotal scrapeado: ${allLeads.length}\\nScore A: ${scoreA.length} | Score B: ${scoreB.length} | Score C: ${scoreC.length}\\nHeavy Users: ${heavyUsers.length}\\n\\n🏆 Top 3:\\n${topLeads || '  Nenhum Score A esta semana'}\\n\\n📊 Airtable: https://airtable.com/appHlW68vIgSzS8BX/tblJfhyu63msByds6`;\n\nreturn [{ json: { message, scoreA: scoreA.length, scoreB: scoreB.length, scoreC: scoreC.length, total: allLeads.length } }];"},"id":"f96591ac-0bd3-4c8f-899a-fa9f8238b0f8","name":"Aggregate Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,208]},{"parameters":{"content":"## Lead Gen Pipeline — TM\n### Clínicas Médicas e Estéticas\n\n**Cron:** Segunda 09:00 UTC\n**Rotação:** 8 cidades (SP→RJ/BH→Lisboa/Porto→Sul→Centro-Oeste→NE→PT→SP)\n\n**Fluxo:**\n1. City Rotation (automática por semana)\n2. Apify Google Maps Scraper\n3. Pre-filter (<5 reviews, <3 stars, closed)\n4. Website HTML scan (GA, Pixel, Ads, Blog, SEO)\n5. Claude Bridge (Mac Mini) — qualificação batch\n6. Airtable — todos os leads (A+B+C)\n7. Telegram + WhatsApp — notificação\n\n**SETUP NECESSÁRIO:**\n- Credential: Apify Token (Header Auth)\n- Credential: Airtable PAT (Header Auth)\n- Claude Bridge Token (no node)\n- Telegram Bot Token\n- Evolution API Key\n- Error Workflow: RBvmMczEexEnf0Ul","height":380,"width":460},"id":"cb75e7ac-f2e3-40a2-ba0d-e8789f4393c4","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[64,-416]},{"parameters":{"content":"### TODO v2\n- [ ] Instagram enrichment (Apify Instagram Profile Scraper)\n- [ ] Meta Ad Library check (nome do negócio)\n- [ ] Notion Tasks (Score A: due tomorrow, Score B: due Friday)\n- [ ] ActiveCampaign nurture (Score A)\n- [ ] Deduplicação cross-run (check Airtable antes de write)\n- [ ] Webhook trigger alternativo ao cron","height":220,"width":380},"id":"5eb82c65-add9-4cf5-a068-10fecf2742ec","name":"Sticky Note TODO","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,-416]},{"parameters":{"chatId":"-1002374157964","text":"={{ $json.message }}","additionalFields":{"parse_mode":"Markdown"}},"id":"b36609c5-ff88-454a-a4c9-a091a9400058","name":"Telegram: Notify","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3008,208],"webhookId":"e7b67a1d-21b2-40af-9e9b-570189d4ee12","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3424,208],"id":"f90b915b-933f-401b-b84e-090f617fe625","name":"WhatsApp Brief","credentials":null},{"parameters":{"jsCode":"const message = $('Aggregate Stats').first().json.message;\n\nlet text = message\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3216,208],"id":"db8db284-18ed-4e59-9251-1b4747af60a4","name":"Code in JavaScript"},{"parameters":{"jsCode":"const items = $input.all();\nconst urlsToScan = [];\nconst noWebsiteLeads = [];\n\nfor (const item of items) {\n  const lead = item.json;\n  const url = lead.website || '';\n  \n  if (!lead.hasWebsite || !url || url.includes('google.com/maps') || url.includes('instagram.com')) {\n    noWebsiteLeads.push({\n      ...lead,\n      tagsTech: [],\n      gapsDetected: ['sem_site','sem_analytics','sem_pixel','sem_google_ads','sem_blog','sem_seo','sem_schema','sem_whatsapp_widget','sem_agendamento'],\n      fazTrafegoPago: false,\n      temAgendamento: false,\n      websiteScanned: false\n    });\n  } else {\n    urlsToScan.push({ url: url, userData: { leadIndex: urlsToScan.length, nome: lead.nome } });\n  }\n}\n\nreturn [{\n  json: {\n    urlsToScan,\n    noWebsiteLeads,\n    allLeads: items.map(i => i.json),\n    hasUrlsToScan: urlsToScan.length > 0\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,208],"id":"cf0af1fa-5608-4c55-93a4-faa06d3ae5b9","name":"Prepare Website URLs"}],"connections":{"Cron Semanal":{"main":[[{"node":"City Rotation","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"City Rotation","type":"main","index":0}]]},"City Rotation":{"main":[[{"node":"Apify: Start Google Maps Run","type":"main","index":0}]]},"Apify: Start Google Maps Run":{"main":[[{"node":"Wait 120s","type":"main","index":0}]]},"Wait 120s":{"main":[[{"node":"Apify: Get Results","type":"main","index":0}]]},"Apify: Get Results":{"main":[[{"node":"Pre-Filter & Normalize","type":"main","index":0}]]},"Pre-Filter & Normalize":{"main":[[{"node":"Prepare Website URLs","type":"main","index":0}]]},"Prepare Claude Payload":{"main":[[{"node":"Claude Bridge: Qualify Leads","type":"main","index":0}]]},"Claude Bridge: Qualify Leads":{"main":[[{"node":"Parse Claude + Merge","type":"main","index":0}]]},"Parse Claude + Merge":{"main":[[{"node":"Airtable: Write Lead","type":"main","index":0}]]},"Airtable: Write Lead":{"main":[[{"node":"Aggregate Stats","type":"main","index":0}]]},"Aggregate Stats":{"main":[[{"node":"Telegram: Notify","type":"main","index":0}]]},"Telegram: Notify":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"WhatsApp Brief","type":"main","index":0}]]},"Prepare Website URLs":{"main":[[{"node":"Prepare Claude Payload","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ecbb4041-60c5-496c-af42-9a94f22d8d43","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-05T12:05:45.873Z","createdAt":"2026-04-05T12:05:45.873Z","role":"workflow:owner","workflowId":"EGeiawoiV58DomEH","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-05T12:03:59.006Z","createdAt":"2026-04-05T12:03:59.006Z","id":"1T4NJ6P8jzvmAU8T","name":"apify"},{"updatedAt":"2026-04-05T12:03:59.014Z","createdAt":"2026-04-05T12:03:59.014Z","id":"Go0n9qzspxhI2wIh","name":"tm"},{"updatedAt":"2026-04-05T12:03:59.040Z","createdAt":"2026-04-05T12:03:59.040Z","id":"Jpdhb7TP6mbcD0xb","name":"lead-gen"}]}