lead-qualification-report-to-trello-válido-UBNMDfHbD2tiG0um.json
{"updatedAt":"2025-12-25T18:54:32.462Z","createdAt":"2025-03-10T17:03:59.619Z","id":"UBNMDfHbD2tiG0um","name":"Lead Qualification Report to Trello Válido","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a8c29fce-9ae8-45a1-b327-9b0a2a363421","leftValue":"={{ $json.fields['resposta6'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c01302ba-5e79-4c90-9a3c-a542a37c3211","name":"If - Lead Respondeu Perguntas","type":"n8n-nodes-base.if","typeVersion":2,"position":[-480,48]},{"parameters":{},"id":"7274ee3b-1682-4421-b488-f5ae8a16b529","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-64,448]},{"parameters":{"assignments":{"assignments":[{"id":"5c0e8b9e-7734-44cc-af51-f57f1d7987df","name":"Resumo IA","value":"={{ $json.message.content.replace(/\\*\\*/g, '*') }}","type":"string"}]},"options":{}},"id":"760e9e9b-9a7b-4785-913e-081efab9597d","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[400,0]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields['Airtable ID '] }}","lead_Report":"={{ $('OpenAI').item.json.message.content }}","tags":"[\"Conversa Finalizada\"]"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"595b1cb5-904d-42a7-ae02-e2d7e37532b6","name":"Airtable - Update Tag e Lead Report","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1152,0],"credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a8c29fce-9ae8-45a1-b327-9b0a2a363421","leftValue":"={{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.lead_Report }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"00b8652f-ff18-4d4b-95b4-a2507a5695b7","name":"If - Lead Report Necessário","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,32]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Sua tarefa é fazer uma descrição para entendermos o perfil do potencial cliente chamado {{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.Name }} que agendou uma reunião online com nosso escritório de advogados.\n\nAnalise as respostas do potencial cliente abaixo:\n\nPergunta: Fale com detalhes sobre os problemas que o motivaram a nos procurar e o porquê você agendou uma reunião conosco?\nResposta: {{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.resposta1 }}\n\nPergunta: Fale sobre o que você faz e qual é a sua atividade atual?\nResposta: {{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.resposta2 }}\n\nPergunta: Onde você mora?\nResposta: {{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.resposta3 }}. \n\nPergunta: Qual é o seu email?\nResposta: {{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.resposta4 }}\n\nPergunta: Como você descobriu nossa empresa?\nResposta: {{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.resposta5 }}\n\nPergunta: Você já conversou com outros especialistas sobre este assunto?\nResposta: {{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.resposta6 }}\n\nAgora, escreva em plain text uma descrição completa do interessado para entendermos melhor o seu perfil e como poderemos ajudá-lo.\n\nO nome do lead é: {{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.Name }}"}]},"options":{}},"id":"6e957815-38f6-47e0-8e0a-7ab7bd12b0a0","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[0,0],"credentials":null},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":11}]},"authentication":"airtable***","baseId":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"id"},"tableId":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"id"},"triggerField":"Last Modified","additionalFields":{}},"id":"1c332a96-8579-4be7-9a99-b9db044f9e97","name":"Airtable Trigger Teste Leads Calendly Qualification","type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-704,48],"credentials":null},{"parameters":{"resource":"messages-api","instanceName":"testes","remoteJid":"=351913095597","messageText":"=O Lead {{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.Name }} respondeu todas as perguntas para a reunião de triagem.\n{{ $json['Resumo IA'].replace(/(\\r\\n|\\n|\\r)/g, '\\n').replace(/\\n{2,}/g, '\\n\\n').replace(/\"/g, '').trim() }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[672,0],"id":"fbf081e6-4c09-40e7-80c2-c58c9f498b26","name":"Envia mensagem Zap para o Expert","credentials":null},{"parameters":{"resource":"cardComment","cardId":{"__rl":true,"value":"={{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.trello_ID_Card }}","mode":"id"},"text":"={{ $('OpenAI').item.json.message.content }}"},"id":"819923ce-863a-4c10-94e3-e4200e26b19c","name":"Trello Create Comment","type":"n8n-nodes-base.trello","typeVersion":1,"position":[912,0],"credentials":null}],"connections":{"If - Lead Respondeu Perguntas":{"main":[[{"node":"If - Lead Report Necessário","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Envia mensagem Zap para o Expert","type":"main","index":0}]]},"If - Lead Report Necessário":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Airtable - Update Tag e Lead Report":{"main":[[]]},"Airtable Trigger Teste Leads Calendly Qualification":{"main":[[{"node":"If - Lead Respondeu Perguntas","type":"main","index":0}]]},"Envia mensagem Zap para o Expert":{"main":[[{"node":"Trello Create Comment","type":"main","index":0}]]},"Trello Create Comment":{"main":[[{"node":"Airtable - Update Tag e Lead Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Airtable Trigger Teste Leads Calendly Qualification":{"lastTimeChecked":"2025-12-25T18:54:32Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"273eadc5-13f7-4150-9c4d-7d9f5e15a6ef","triggerCount":1,"shared":[{"updatedAt":"2025-03-10T17:03:59.619Z","createdAt":"2025-03-10T17:03:59.619Z","role":"workflow:owner","workflowId":"UBNMDfHbD2tiG0um","projectId":"NLlHufgAcMM6m1Lv"}],"tags":[]}