lead-gen-pipeline-—-cl-ON1tIZDt886aO68m.json
{"updatedAt":"2026-06-01T10:42:31.299Z","createdAt":"2026-04-15T11:20:55.646Z","id":"ON1tIZDt886aO68m","name":"Lead Gen Pipeline — CL","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":9}]}},"id":"bd2bcfc6-60fd-40fa-9ff5-59b6863efabe","name":"Cron Semanal","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[16,-16]},{"parameters":{},"id":"6430d848-7b42-4cd0-81cf-ba95fac91996","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,192]},{"parameters":{"jsCode":"const locations = [\n  { location: 'Portugal', query: 'promotor imobiliário property developer incorporador real estate development construction', maxItems: 30 },\n  { location: 'Lisbon Metropolitan Area', query: 'real estate development investment promotion construction', maxItems: 20 },\n  { location: 'Porto', query: 'promotor imobiliário property developer construção promoção imobiliária', maxItems: 15 },\n  { location: 'Algarve', query: 'real estate developer property development resort construction', maxItems: 15 }\n];\n\nconst now = new Date();\nconst weekNum = Math.ceil((((now - new Date(now.getFullYear(),0,1)) / 86400000) + new Date(now.getFullYear(),0,1).getDay() + 1) / 7);\nconst rotationIndex = weekNum % locations.length;\nconst config = locations[rotationIndex];\n\nconst weekLabel = 'W' + String(weekNum).padStart(2, '0');\nconst runDate = now.toISOString().split('T')[0];\n\nreturn [{ json: {\n  location: config.location,\n  query: config.query,\n  maxItems: config.maxItems,\n  weekLabel: weekLabel,\n  runDate: runDate,\n  rotationIndex: rotationIndex\n}}];"},"id":"4de3c2d7-6d2c-4255-a9f6-9e1f173775ed","name":"Location Rotation","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,80]},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/harvestapi~linkedin-profile-search/runs?token=***REDACTED***&waitForFinish=300","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ query: $json.query, currentJobTitles: ['CEO', 'Founder', 'Co-Founder', 'Managing Partner', 'Managing Director', 'Director', 'General Manager', 'COO', 'CCO'], locations: [$json.location], industryIds: ['48'], profileScraperMode: 'Full', maxItems: $json.maxItems, startPage: 1 }) }}","options":{"timeout":360000}},"id":"a678203e-26d2-4791-a3a6-022384309e34","name":"Apify: LinkedIn Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,80]},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items?token=***REDACTED***&limit=100","options":{"timeout":60000}},"id":"6ad7497e-e213-4af4-9942-1e80da885727","name":"Get LinkedIn Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,80]},{"parameters":{"jsCode":"const input = $input.all();\nconst config = $('Location Rotation').first().json;\nconst results = [];\nconst seen = new Set();\n\nfor (const item of input) {\n  const d = item.json;\n  const name = ((d.firstName || '') + ' ' + (d.lastName || '')).trim();\n  const url = d.linkedinUrl || '';\n  \n  if (!name || !url) continue;\n  if (seen.has(url)) continue;\n  seen.add(url);\n  \n  const headline = d.headline || '';\n  const about = d.about || '';\n  const loc = d.location?.linkedinText || d.location?.parsed?.text || '';\n  const connections = d.connectionsCount || 0;\n  const followers = d.followerCount || 0;\n  \n  const exp = d.experience || [];\n  const currentExp = exp[0] || {};\n  const company = currentExp.companyName || '';\n  const title = currentExp.position || '';\n  const companyUrl = currentExp.companyLinkedinUrl || '';\n  \n  const expYears = exp.reduce((sum, e) => {\n    const start = e.startDate?.year || 0;\n    const end = e.endDate?.year || new Date().getFullYear();\n    return sum + (end - start);\n  }, 0);\n  \n  const skills = (d.skills || []).map(s => s.name || s).slice(0, 10);\n  const hasWebsite = (d.companyWebsites || []).length > 0;\n  const website = hasWebsite ? d.companyWebsites[0].url || d.companyWebsites[0].domain || '' : '';\n  \n  const lastPost = '';\n  \n  results.push({ json: {\n    nome: name,\n    headline: headline,\n    about: about.substring(0, 500),\n    empresa: company,\n    cargo: title,\n    companyUrl: companyUrl,\n    linkedinUrl: url,\n    location: loc,\n    connections: connections,\n    followers: followers,\n    expYears: expYears,\n    skills: skills.join(', '),\n    website: website,\n    lastPost: lastPost,\n    weekLabel: config.weekLabel,\n    runDate: config.runDate,\n    source: 'LinkedIn'\n  }});\n}\n\nif (results.length === 0) {\n  return [{ json: { _skip: true, _msg: 'No valid profiles found' } }];\n}\n\nreturn results;"},"id":"4d3999e0-2b6e-4131-b6fc-82a47ff4d374","name":"Normalize Profiles","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,80]},{"parameters":{"jsCode":"const items = $input.all();\nif (items[0]?.json._skip) return items;\n\nconst token = '***REDACTED***';\nlet existingUrls = new Set();\ntry {\n  let offset = '';\n  while (true) {\n    const url = 'https://api.airtable.com/v0/appHlW68vIgSzS8BX/tblfEtNAVuXRZdxW9?fields%5B%5D=LinkedIn+URL&pageSize=100' + offset;\n    const resp = await fetch(url, { headers: { 'Authorization': 'Bearer ' + token } });\n    const data = await resp.json();\n    for (const rec of (data.records || [])) {\n      const u = rec.fields?.['LinkedIn URL'] || '';\n      if (u) existingUrls.add(u);\n    }\n    if (!data.offset) break;\n    offset = '&offset=' + data.offset;\n  }\n} catch(e) {}\n\nconst newLeads = items.filter(i => !existingUrls.has(i.json.linkedinUrl));\nif (newLeads.length === 0) return [{ json: { _skip: true, _msg: 'All ' + items.length + ' leads already exist in Airtable' } }];\nreturn newLeads;"},"id":"5b6694ca-632f-4f85-ad4d-92559b5e4bb2","name":"Dedup Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,80]},{"parameters":{"jsCode":"const allLeads = $input.all().map(i => i.json);\nif (allLeads[0]?._skip) return [{ json: { _skip: true, _msg: allLeads[0]._msg, allLeads: [] } }];\n\nconst BATCH_SIZE = 10;\nconst batches = [];\nfor (let i = 0; i < allLeads.length; i += BATCH_SIZE) {\n  batches.push(allLeads.slice(i, i + BATCH_SIZE));\n}\n\nconst promptBase = `You are a lead qualification analyst for Casas de Lisboa (CL), an AI-powered marketing service for real estate developers and investors in Portugal.\n\nTARGET CLIENTS: Property developers (promotores imobiliários), real estate investors, construction companies building residential/commercial projects in Portugal.\n\nNOT TARGET: Real estate agents/brokers, mediators, consultants, PropTech SaaS, HR managers, IT directors, or anyone not directly developing/investing in property.\n\nFor EACH lead, evaluate:\n1. FIT_SCORE (0-100): How well they match the target profile\n   - Is developer/investor/construction (not broker/agent)? +40\n   - C-level or decision maker? +20\n   - Based in Portugal (Lisboa/Porto/Algarve)? +15\n   - Active on LinkedIn (>2000 connections)? +10\n   - Has company website? +5\n   - Years of experience >10? +10\n2. FIT_CLASS: A (>=70), B (40-69), C (<40)\n3. FIT_TYPE: developer, investor, construction, broker_agent, other\n4. CONNECTION_MSG: Max 280 chars, in ENGLISH. Personalized based on their headline/company. Reference something specific. Tone: insider/systems, no hype. CTA: offer a free digital presence analysis for their developments.\n5. FOLLOWUP_MSG: Max 500 chars, in ENGLISH. Value proposition + soft CTA. Mention how AI-powered marketing helps sell developments faster.\n6. REJECT_REASON: If class C, explain why (e.g. \"broker not developer\", \"wrong industry\")\n\nRESPOND ONLY valid JSON array, no markdown:\n[{\"index\":0,\"fitScore\":85,\"fitClass\":\"A\",\"fitType\":\"developer\",\"connectionMsg\":\"msg\",\"followupMsg\":\"msg\",\"rejectReason\":\"\"}]\n\nDATA:\n`;\n\nreturn batches.map((batch, idx) => ({\n  json: {\n    prompt: promptBase + JSON.stringify(batch, null, 2),\n    leadsCount: batch.length,\n    batchIndex: idx,\n    totalBatches: batches.length,\n    batchLeads: batch,\n    allLeads: allLeads\n  }\n}));"},"id":"b7d8ffad-e413-40a5-96f6-016b7567a4e2","name":"Prepare Claude Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,80]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"claude-sonnet-4-6\", max_tokens: 8192, output_config: { effort: \"medium\" }, messages: [{ role: \"user\", content: $json.prompt }] }) }}","options":{"timeout":300000}},"id":"908b57e2-6acc-480a-8653-87ea5a4ccdf7","name":"Claude API: Qualify Leads","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,80]},{"parameters":{"jsCode":"const claudeResponses = $input.all();\nconst allLeads = $('Prepare Claude Payload').first().json.allLeads;\nconst weekLabel = allLeads[0]?.weekLabel || '';\nconst runDate = allLeads[0]?.runDate || new Date().toISOString();\n\nlet allScores = [];\nfor (const resp of claudeResponses) {\n  try {\n    const raw = resp.json.content?.[0]?.text || resp.json.output || resp.json.result || JSON.stringify(resp.json);\n    const jsonMatch = raw.match(/\\[[\\s\\S]*\\]/);\n    if (jsonMatch) allScores = allScores.concat(JSON.parse(jsonMatch[0]));\n  } catch (e) {}\n}\n\nconst results = [];\nfor (let i = 0; i < allLeads.length; i++) {\n  const lead = allLeads[i];\n  const score = allScores[i] || { fitScore: 30, fitClass: 'C', fitType: 'other', connectionMsg: '', followupMsg: '', rejectReason: 'Claude parse error' };\n  \n  results.push({ json: {\n    nome: lead.nome,\n    headline: lead.headline,\n    empresa: lead.empresa,\n    cargo: lead.cargo,\n    linkedinUrl: lead.linkedinUrl,\n    companyUrl: lead.companyUrl,\n    location: lead.location,\n    connections: lead.connections,\n    followers: lead.followers,\n    website: lead.website,\n    about: lead.about,\n    fitScore: score.fitScore || 30,\n    fitClass: score.fitClass || 'C',\n    fitType: score.fitType || 'other',\n    connectionMsg: score.connectionMsg || '',\n    followupMsg: score.followupMsg || '',\n    rejectReason: score.rejectReason || '',\n    status: 'Novo',\n    source: 'LinkedIn',\n    weekLabel: weekLabel,\n    runDate: runDate\n  }});\n}\n\nreturn results.filter(r => r.json.fitClass !== 'C' && r.json.fitType !== 'broker_agent');"},"id":"9223bde2-2395-4218-9135-59dec6e9553b","name":"Parse Claude + Filter","type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,80]},{"parameters":{"method":"POST","url":"https://api.airtable.com/v0/appHlW68vIgSzS8BX/tblfEtNAVuXRZdxW9","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ records: [{ fields: { \"Nome\": $json.nome, \"Headline\": $json.headline, \"Empresa\": $json.empresa, \"Cargo\": $json.cargo, \"LinkedIn URL\": $json.linkedinUrl, \"Company LinkedIn\": $json.companyUrl, \"Location\": $json.location, \"Connections\": $json.connections, \"Website\": $json.website, \"Fit Score\": $json.fitScore, \"Fit Class\": $json.fitClass, \"Fit Type\": $json.fitType, \"Connection Message\": $json.connectionMsg, \"Follow-up Message\": $json.followupMsg, \"Status\": \"Novo\", \"Source\": \"LinkedIn\", \"Semana\": $json.weekLabel, \"Run Date\": $json.runDate } }], typecast: true }) }}","options":{}},"id":"dcab9a71-af52-40ec-ac91-649d17081ee1","name":"Airtable: Write Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,80]},{"parameters":{"jsCode":"const allLeads = $('Parse Claude + Filter').all().map(i => i.json);\n\nconst scoreA = allLeads.filter(l => l.fitClass === 'A');\nconst scoreB = allLeads.filter(l => l.fitClass === 'B');\nconst developers = allLeads.filter(l => l.fitType === 'developer');\nconst investors = allLeads.filter(l => l.fitType === 'investor');\n\nconst topLeads = scoreA\n  .sort((a, b) => (b.fitScore || 0) - (a.fitScore || 0))\n  .slice(0, 5)\n  .map(l => `  \\u2022 ${l.nome} (${l.fitScore}) \\u2014 ${l.empresa} [${l.fitType}]`)\n  .join('\\n');\n\nconst weekLabel = allLeads[0]?.weekLabel || 'W??';\nconst location = $('Location Rotation').first().json.location || '??';\n\nconst message = `\\ud83c\\udfe2 Lead Gen CL \\u2014 ${weekLabel} (${location})\\n\\nTotal qualified: ${allLeads.length}\\nScore A: ${scoreA.length} | Score B: ${scoreB.length}\\nDevelopers: ${developers.length} | Investors: ${investors.length}\\n\\n\\ud83c\\udfc6 Top 5:\\n${topLeads || 'None'}\\n\\n\\ud83d\\udcca Airtable: https://airtable.com/appHlW68vIgSzS8BX/tblfEtNAVuXRZdxW9`;\n\nreturn [{ json: { message, totalLeads: allLeads.length, scoreA: scoreA.length, scoreB: scoreB.length } }];"},"id":"48b00844-42b8-4493-9203-3cdbbbb0e1af","name":"Aggregate Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,80]},{"parameters":{"chatId":"-1002374157964","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"efdd3e5f-69b4-4a13-b837-62090e1bb9dc","name":"Telegram: Notify","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2432,80],"webhookId":"0cd371a4-17d9-44f0-bbe6-6503bc596963","credentials":null},{"parameters":{"content":"## Lead Gen Pipeline — CL (LinkedIn)\n\n**Flow:**\n1. Cron (Mon 9h) or Manual → Location Rotation\n2. Apify LinkedIn Profile Search (harvestapi)\n3. Normalize + Dedup (Airtable check)\n4. Claude API qualification (fit score + messages)\n5. Write A+B leads to Airtable\n6. Telegram notification + CSV export\n\n**Airtable:** appHlW68vIgSzS8BX / tblfEtNAVuXRZdxW9\n**Rotation:** Portugal → Lisboa → Porto → Algarve (4 weeks)\n**Target:** RE developers, investors, construction C-level in PT","height":340,"width":420},"id":"7130bb95-4de9-423c-8cfa-fb62e2472c97","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,-16]},{"parameters":{"jsCode":"const message = $('Aggregate Stats').first().json.message;\n\nlet text = message\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,80],"id":"7167cc4c-b32a-4c5f-8d4a-67a189a26058","name":"Code in JavaScript"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2896,80],"id":"db3be094-53c2-46c5-89fc-0cd73e5a186b","name":"WhatsApp Brief","credentials":null}],"connections":{"Cron Semanal":{"main":[[{"node":"Location Rotation","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Location Rotation","type":"main","index":0}]]},"Location Rotation":{"main":[[{"node":"Apify: LinkedIn Search","type":"main","index":0}]]},"Apify: LinkedIn Search":{"main":[[{"node":"Get LinkedIn Results","type":"main","index":0}]]},"Get LinkedIn Results":{"main":[[{"node":"Normalize Profiles","type":"main","index":0}]]},"Normalize Profiles":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Prepare Claude Payload","type":"main","index":0}]]},"Prepare Claude Payload":{"main":[[{"node":"Claude API: Qualify Leads","type":"main","index":0}]]},"Claude API: Qualify Leads":{"main":[[{"node":"Parse Claude + Filter","type":"main","index":0}]]},"Parse Claude + Filter":{"main":[[{"node":"Airtable: Write Lead","type":"main","index":0}]]},"Airtable: Write Lead":{"main":[[{"node":"Aggregate Stats","type":"main","index":0}]]},"Aggregate Stats":{"main":[[{"node":"Telegram: Notify","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"WhatsApp Brief","type":"main","index":0}]]},"Telegram: Notify":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu","executionTimeout":1200},"staticData":{"node:Cron Semanal":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7edc00a5-28ec-4ab0-acee-ece3a315018c","activeVersionId":"7edc00a5-28ec-4ab0-acee-ece3a315018c","triggerCount":1,"shared":[{"updatedAt":"2026-04-15T11:20:55.646Z","createdAt":"2026-04-15T11:20:55.646Z","role":"workflow:owner","workflowId":"ON1tIZDt886aO68m","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-06-01T10:42:31.304Z","createdAt":"2026-06-01T10:42:31.304Z","versionId":"7edc00a5-28ec-4ab0-acee-ece3a315018c","workflowId":"ON1tIZDt886aO68m","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":9}]}},"id":"bd2bcfc6-60fd-40fa-9ff5-59b6863efabe","name":"Cron Semanal","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[16,-16]},{"parameters":{},"id":"6430d848-7b42-4cd0-81cf-ba95fac91996","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,192]},{"parameters":{"jsCode":"const locations = [\n  { location: 'Portugal', query: 'promotor imobiliário property developer incorporador real estate development construction', maxItems: 30 },\n  { location: 'Lisbon Metropolitan Area', query: 'real estate development investment promotion construction', maxItems: 20 },\n  { location: 'Porto', query: 'promotor imobiliário property developer construção promoção imobiliária', maxItems: 15 },\n  { location: 'Algarve', query: 'real estate developer property development resort construction', maxItems: 15 }\n];\n\nconst now = new Date();\nconst weekNum = Math.ceil((((now - new Date(now.getFullYear(),0,1)) / 86400000) + new Date(now.getFullYear(),0,1).getDay() + 1) / 7);\nconst rotationIndex = weekNum % locations.length;\nconst config = locations[rotationIndex];\n\nconst weekLabel = 'W' + String(weekNum).padStart(2, '0');\nconst runDate = now.toISOString().split('T')[0];\n\nreturn [{ json: {\n  location: config.location,\n  query: config.query,\n  maxItems: config.maxItems,\n  weekLabel: weekLabel,\n  runDate: runDate,\n  rotationIndex: rotationIndex\n}}];"},"id":"4de3c2d7-6d2c-4255-a9f6-9e1f173775ed","name":"Location Rotation","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,80]},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/harvestapi~linkedin-profile-search/runs?token=***REDACTED***&waitForFinish=300","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ query: $json.query, currentJobTitles: ['CEO', 'Founder', 'Co-Founder', 'Managing Partner', 'Managing Director', 'Director', 'General Manager', 'COO', 'CCO'], locations: [$json.location], industryIds: ['48'], profileScraperMode: 'Full', maxItems: $json.maxItems, startPage: 1 }) }}","options":{"timeout":360000}},"id":"a678203e-26d2-4791-a3a6-022384309e34","name":"Apify: LinkedIn Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,80]},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items?token=***REDACTED***&limit=100","options":{"timeout":60000}},"id":"6ad7497e-e213-4af4-9942-1e80da885727","name":"Get LinkedIn Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,80]},{"parameters":{"jsCode":"const input = $input.all();\nconst config = $('Location Rotation').first().json;\nconst results = [];\nconst seen = new Set();\n\nfor (const item of input) {\n  const d = item.json;\n  const name = ((d.firstName || '') + ' ' + (d.lastName || '')).trim();\n  const url = d.linkedinUrl || '';\n  \n  if (!name || !url) continue;\n  if (seen.has(url)) continue;\n  seen.add(url);\n  \n  const headline = d.headline || '';\n  const about = d.about || '';\n  const loc = d.location?.linkedinText || d.location?.parsed?.text || '';\n  const connections = d.connectionsCount || 0;\n  const followers = d.followerCount || 0;\n  \n  const exp = d.experience || [];\n  const currentExp = exp[0] || {};\n  const company = currentExp.companyName || '';\n  const title = currentExp.position || '';\n  const companyUrl = currentExp.companyLinkedinUrl || '';\n  \n  const expYears = exp.reduce((sum, e) => {\n    const start = e.startDate?.year || 0;\n    const end = e.endDate?.year || new Date().getFullYear();\n    return sum + (end - start);\n  }, 0);\n  \n  const skills = (d.skills || []).map(s => s.name || s).slice(0, 10);\n  const hasWebsite = (d.companyWebsites || []).length > 0;\n  const website = hasWebsite ? d.companyWebsites[0].url || d.companyWebsites[0].domain || '' : '';\n  \n  const lastPost = '';\n  \n  results.push({ json: {\n    nome: name,\n    headline: headline,\n    about: about.substring(0, 500),\n    empresa: company,\n    cargo: title,\n    companyUrl: companyUrl,\n    linkedinUrl: url,\n    location: loc,\n    connections: connections,\n    followers: followers,\n    expYears: expYears,\n    skills: skills.join(', '),\n    website: website,\n    lastPost: lastPost,\n    weekLabel: config.weekLabel,\n    runDate: config.runDate,\n    source: 'LinkedIn'\n  }});\n}\n\nif (results.length === 0) {\n  return [{ json: { _skip: true, _msg: 'No valid profiles found' } }];\n}\n\nreturn results;"},"id":"4d3999e0-2b6e-4131-b6fc-82a47ff4d374","name":"Normalize Profiles","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,80]},{"parameters":{"jsCode":"const items = $input.all();\nif (items[0]?.json._skip) return items;\n\nconst token = '***REDACTED***';\nlet existingUrls = new Set();\ntry {\n  let offset = '';\n  while (true) {\n    const url = 'https://api.airtable.com/v0/appHlW68vIgSzS8BX/tblfEtNAVuXRZdxW9?fields%5B%5D=LinkedIn+URL&pageSize=100' + offset;\n    const resp = await fetch(url, { headers: { 'Authorization': 'Bearer ' + token } });\n    const data = await resp.json();\n    for (const rec of (data.records || [])) {\n      const u = rec.fields?.['LinkedIn URL'] || '';\n      if (u) existingUrls.add(u);\n    }\n    if (!data.offset) break;\n    offset = '&offset=' + data.offset;\n  }\n} catch(e) {}\n\nconst newLeads = items.filter(i => !existingUrls.has(i.json.linkedinUrl));\nif (newLeads.length === 0) return [{ json: { _skip: true, _msg: 'All ' + items.length + ' leads already exist in Airtable' } }];\nreturn newLeads;"},"id":"5b6694ca-632f-4f85-ad4d-92559b5e4bb2","name":"Dedup Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,80]},{"parameters":{"jsCode":"const allLeads = $input.all().map(i => i.json);\nif (allLeads[0]?._skip) return [{ json: { _skip: true, _msg: allLeads[0]._msg, allLeads: [] } }];\n\nconst BATCH_SIZE = 10;\nconst batches = [];\nfor (let i = 0; i < allLeads.length; i += BATCH_SIZE) {\n  batches.push(allLeads.slice(i, i + BATCH_SIZE));\n}\n\nconst promptBase = `You are a lead qualification analyst for Casas de Lisboa (CL), an AI-powered marketing service for real estate developers and investors in Portugal.\n\nTARGET CLIENTS: Property developers (promotores imobiliários), real estate investors, construction companies building residential/commercial projects in Portugal.\n\nNOT TARGET: Real estate agents/brokers, mediators, consultants, PropTech SaaS, HR managers, IT directors, or anyone not directly developing/investing in property.\n\nFor EACH lead, evaluate:\n1. FIT_SCORE (0-100): How well they match the target profile\n   - Is developer/investor/construction (not broker/agent)? +40\n   - C-level or decision maker? +20\n   - Based in Portugal (Lisboa/Porto/Algarve)? +15\n   - Active on LinkedIn (>2000 connections)? +10\n   - Has company website? +5\n   - Years of experience >10? +10\n2. FIT_CLASS: A (>=70), B (40-69), C (<40)\n3. FIT_TYPE: developer, investor, construction, broker_agent, other\n4. CONNECTION_MSG: Max 280 chars, in ENGLISH. Personalized based on their headline/company. Reference something specific. Tone: insider/systems, no hype. CTA: offer a free digital presence analysis for their developments.\n5. FOLLOWUP_MSG: Max 500 chars, in ENGLISH. Value proposition + soft CTA. Mention how AI-powered marketing helps sell developments faster.\n6. REJECT_REASON: If class C, explain why (e.g. \"broker not developer\", \"wrong industry\")\n\nRESPOND ONLY valid JSON array, no markdown:\n[{\"index\":0,\"fitScore\":85,\"fitClass\":\"A\",\"fitType\":\"developer\",\"connectionMsg\":\"msg\",\"followupMsg\":\"msg\",\"rejectReason\":\"\"}]\n\nDATA:\n`;\n\nreturn batches.map((batch, idx) => ({\n  json: {\n    prompt: promptBase + JSON.stringify(batch, null, 2),\n    leadsCount: batch.length,\n    batchIndex: idx,\n    totalBatches: batches.length,\n    batchLeads: batch,\n    allLeads: allLeads\n  }\n}));"},"id":"b7d8ffad-e413-40a5-96f6-016b7567a4e2","name":"Prepare Claude Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,80]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"claude-sonnet-4-6\", max_tokens: 8192, output_config: { effort: \"medium\" }, messages: [{ role: \"user\", content: $json.prompt }] }) }}","options":{"timeout":300000}},"id":"908b57e2-6acc-480a-8653-87ea5a4ccdf7","name":"Claude API: Qualify Leads","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,80]},{"parameters":{"jsCode":"const claudeResponses = $input.all();\nconst allLeads = $('Prepare Claude Payload').first().json.allLeads;\nconst weekLabel = allLeads[0]?.weekLabel || '';\nconst runDate = allLeads[0]?.runDate || new Date().toISOString();\n\nlet allScores = [];\nfor (const resp of claudeResponses) {\n  try {\n    const raw = resp.json.content?.[0]?.text || resp.json.output || resp.json.result || JSON.stringify(resp.json);\n    const jsonMatch = raw.match(/\\[[\\s\\S]*\\]/);\n    if (jsonMatch) allScores = allScores.concat(JSON.parse(jsonMatch[0]));\n  } catch (e) {}\n}\n\nconst results = [];\nfor (let i = 0; i < allLeads.length; i++) {\n  const lead = allLeads[i];\n  const score = allScores[i] || { fitScore: 30, fitClass: 'C', fitType: 'other', connectionMsg: '', followupMsg: '', rejectReason: 'Claude parse error' };\n  \n  results.push({ json: {\n    nome: lead.nome,\n    headline: lead.headline,\n    empresa: lead.empresa,\n    cargo: lead.cargo,\n    linkedinUrl: lead.linkedinUrl,\n    companyUrl: lead.companyUrl,\n    location: lead.location,\n    connections: lead.connections,\n    followers: lead.followers,\n    website: lead.website,\n    about: lead.about,\n    fitScore: score.fitScore || 30,\n    fitClass: score.fitClass || 'C',\n    fitType: score.fitType || 'other',\n    connectionMsg: score.connectionMsg || '',\n    followupMsg: score.followupMsg || '',\n    rejectReason: score.rejectReason || '',\n    status: 'Novo',\n    source: 'LinkedIn',\n    weekLabel: weekLabel,\n    runDate: runDate\n  }});\n}\n\nreturn results.filter(r => r.json.fitClass !== 'C' && r.json.fitType !== 'broker_agent');"},"id":"9223bde2-2395-4218-9135-59dec6e9553b","name":"Parse Claude + Filter","type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,80]},{"parameters":{"method":"POST","url":"https://api.airtable.com/v0/appHlW68vIgSzS8BX/tblfEtNAVuXRZdxW9","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ records: [{ fields: { \"Nome\": $json.nome, \"Headline\": $json.headline, \"Empresa\": $json.empresa, \"Cargo\": $json.cargo, \"LinkedIn URL\": $json.linkedinUrl, \"Company LinkedIn\": $json.companyUrl, \"Location\": $json.location, \"Connections\": $json.connections, \"Website\": $json.website, \"Fit Score\": $json.fitScore, \"Fit Class\": $json.fitClass, \"Fit Type\": $json.fitType, \"Connection Message\": $json.connectionMsg, \"Follow-up Message\": $json.followupMsg, \"Status\": \"Novo\", \"Source\": \"LinkedIn\", \"Semana\": $json.weekLabel, \"Run Date\": $json.runDate } }], typecast: true }) }}","options":{}},"id":"dcab9a71-af52-40ec-ac91-649d17081ee1","name":"Airtable: Write Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,80]},{"parameters":{"jsCode":"const allLeads = $('Parse Claude + Filter').all().map(i => i.json);\n\nconst scoreA = allLeads.filter(l => l.fitClass === 'A');\nconst scoreB = allLeads.filter(l => l.fitClass === 'B');\nconst developers = allLeads.filter(l => l.fitType === 'developer');\nconst investors = allLeads.filter(l => l.fitType === 'investor');\n\nconst topLeads = scoreA\n  .sort((a, b) => (b.fitScore || 0) - (a.fitScore || 0))\n  .slice(0, 5)\n  .map(l => `  \\u2022 ${l.nome} (${l.fitScore}) \\u2014 ${l.empresa} [${l.fitType}]`)\n  .join('\\n');\n\nconst weekLabel = allLeads[0]?.weekLabel || 'W??';\nconst location = $('Location Rotation').first().json.location || '??';\n\nconst message = `\\ud83c\\udfe2 Lead Gen CL \\u2014 ${weekLabel} (${location})\\n\\nTotal qualified: ${allLeads.length}\\nScore A: ${scoreA.length} | Score B: ${scoreB.length}\\nDevelopers: ${developers.length} | Investors: ${investors.length}\\n\\n\\ud83c\\udfc6 Top 5:\\n${topLeads || 'None'}\\n\\n\\ud83d\\udcca Airtable: https://airtable.com/appHlW68vIgSzS8BX/tblfEtNAVuXRZdxW9`;\n\nreturn [{ json: { message, totalLeads: allLeads.length, scoreA: scoreA.length, scoreB: scoreB.length } }];"},"id":"48b00844-42b8-4493-9203-3cdbbbb0e1af","name":"Aggregate Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[2224,80]},{"parameters":{"chatId":"-1002374157964","text":"={{ $json.message }}","additionalFields":{"parse_mode":"HTML"}},"id":"efdd3e5f-69b4-4a13-b837-62090e1bb9dc","name":"Telegram: Notify","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2432,80],"webhookId":"0cd371a4-17d9-44f0-bbe6-6503bc596963","credentials":null},{"parameters":{"content":"## Lead Gen Pipeline — CL (LinkedIn)\n\n**Flow:**\n1. Cron (Mon 9h) or Manual → Location Rotation\n2. Apify LinkedIn Profile Search (harvestapi)\n3. Normalize + Dedup (Airtable check)\n4. Claude API qualification (fit score + messages)\n5. Write A+B leads to Airtable\n6. Telegram notification + CSV export\n\n**Airtable:** appHlW68vIgSzS8BX / tblfEtNAVuXRZdxW9\n**Rotation:** Portugal → Lisboa → Porto → Algarve (4 weeks)\n**Target:** RE developers, investors, construction C-level in PT","height":340,"width":420},"id":"7130bb95-4de9-423c-8cfa-fb62e2472c97","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,-16]},{"parameters":{"jsCode":"const message = $('Aggregate Stats').first().json.message;\n\nlet text = message\n  .replace(/\\*\\*(.*?)\\*\\*/g, '*$1*')\n  .replace(/^- /gm, '• ')\n  .replace(/---/g, '───');\n\nif (text.length > 4000) {\n  text = text.substring(0, 3950) + '\\n\\n(truncado)';\n}\n\nreturn [{ json: { text, number: '351913095597' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,80],"id":"7167cc4c-b32a-4c5f-8d4a-67a189a26058","name":"Code in JavaScript"},{"parameters":{"resource":"messages-api","instanceName":"=testes","remoteJid":"={{ $json.number }}","messageText":"={{ $json.text }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2896,80],"id":"db3be094-53c2-46c5-89fc-0cd73e5a186b","name":"WhatsApp Brief","credentials":null}],"connections":{"Cron Semanal":{"main":[[{"node":"Location Rotation","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Location Rotation","type":"main","index":0}]]},"Location Rotation":{"main":[[{"node":"Apify: LinkedIn Search","type":"main","index":0}]]},"Apify: LinkedIn Search":{"main":[[{"node":"Get LinkedIn Results","type":"main","index":0}]]},"Get LinkedIn Results":{"main":[[{"node":"Normalize Profiles","type":"main","index":0}]]},"Normalize Profiles":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Prepare Claude Payload","type":"main","index":0}]]},"Prepare Claude Payload":{"main":[[{"node":"Claude API: Qualify Leads","type":"main","index":0}]]},"Claude API: Qualify Leads":{"main":[[{"node":"Parse Claude + Filter","type":"main","index":0}]]},"Parse Claude + Filter":{"main":[[{"node":"Airtable: Write Lead","type":"main","index":0}]]},"Airtable: Write Lead":{"main":[[{"node":"Aggregate Stats","type":"main","index":0}]]},"Aggregate Stats":{"main":[[{"node":"Telegram: Notify","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"WhatsApp Brief","type":"main","index":0}]]},"Telegram: Notify":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[]}