notion-notes-→-obsidian-inbox-O8yPGu5q3Cm8hcT5.json
{"updatedAt":"2026-05-12T10:37:46.308Z","createdAt":"2026-04-13T21:54:02.630Z","id":"O8yPGu5q3Cm8hcT5","name":"Notion Notes → Obsidian Inbox","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"hour":8}]},"databaseId":{"__rl":true,"value":"b02f60c6-0f43-4a40-8f5b-e6c1873617ec","mode":"list","cachedResultName":"Notes","cachedResultUrl":"https://www.notion.so/b02f60c60f434a408f5be6c1873617ec"}},"id":"1aa0573d-6c0b-4bc8-8875-bf970249d64e","name":"Notion Trigger","type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[16,0],"credentials":null},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"returnAll":true,"fetchNestedBlocks":true},"id":"de2b8718-7a7e-40c9-b46a-b0e20e6396bd","name":"Get Page Content","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[224,0],"credentials":null},{"parameters":{"jsCode":"const trigger = $('Notion Trigger').first().json;\nconst blocks = $input.all();\n\nconst title = trigger.Name || 'Untitled';\nconst status = trigger['Done?'] || 'Not started';\nconst tags = Array.isArray(trigger.Tags) ? trigger.Tags : [];\nconst obs = trigger.Obs || '';\nconst url = trigger.URL || '';\nconst archive = trigger.Archive || false;\nconst createdTime = trigger['Created time'] || new Date().toISOString();\nconst notionId = trigger.id;\n\nfunction blocksToMarkdown(blocks) {\n  let md = '';\n  for (const block of blocks) {\n    const b = block.json || block;\n    const type = b.type;\n    if (!type) continue;\n    const text = b.content || '';\n    switch (type) {\n      case 'paragraph': md += text + '\\n\\n'; break;\n      case 'heading_1': md += '# ' + text + '\\n\\n'; break;\n      case 'heading_2': md += '## ' + text + '\\n\\n'; break;\n      case 'heading_3': md += '### ' + text + '\\n\\n'; break;\n      case 'bulleted_list_item': md += '- ' + text + '\\n'; break;\n      case 'numbered_list_item': md += '1. ' + text + '\\n'; break;\n      case 'to_do':\n        const checked = b.to_do?.checked ? 'x' : ' ';\n        md += '- [' + checked + '] ' + text + '\\n'; break;\n      case 'quote': md += '> ' + text + '\\n\\n'; break;\n      case 'code':\n        const lang = b.code?.language || '';\n        md += '```' + lang + '\\n' + text + '\\n```\\n\\n'; break;\n      case 'divider': md += '---\\n\\n'; break;\n      case 'bookmark':\n        const bmUrl = b.bookmark?.url || '';\n        md += '[' + bmUrl + '](' + bmUrl + ')\\n\\n'; break;\n      case 'image':\n        const imgUrl = b.image?.file?.url || b.image?.external?.url || '';\n        if (imgUrl) md += '![](' + imgUrl + ')\\n\\n'; break;\n      case 'callout':\n        const icon = b.callout?.icon?.emoji || '';\n        md += '> ' + icon + ' ' + text + '\\n\\n'; break;\n      default: if (text) md += text + '\\n\\n';\n    }\n  }\n  return md.trim();\n}\n\nconst content = blocksToMarkdown(blocks);\nconst tagsYaml = tags.length > 0 ? '[' + tags.join(', ') + ']' : '[]';\nconst date = createdTime.split('T')[0];\n\nlet frontmatter = '---\\n';\nfrontmatter += 'type: notion-sync\\n';\nfrontmatter += 'source: notion\\n';\nfrontmatter += 'notion_id: ' + notionId + '\\n';\nfrontmatter += 'date: ' + date + '\\n';\nfrontmatter += 'status: ' + status + '\\n';\nfrontmatter += 'tags: ' + tagsYaml + '\\n';\nfrontmatter += 'archive: ' + archive + '\\n';\nif (url) frontmatter += 'url: ' + url + '\\n';\nif (obs) frontmatter += 'obs: \"' + obs.replace(/\"/g, '\\\\\"') + '\"\\n';\nfrontmatter += '---\\n\\n';\n\nlet fullMd = frontmatter;\nif (obs) fullMd += '> ' + obs + '\\n\\n';\nif (url) fullMd += '**URL:** [' + url + '](' + url + ')\\n\\n';\nif (content) fullMd += content;\n\nconst safeTitle = title\n  .replace(/[\\\\/:*?\"<>|]/g, '-')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 100);\n\nconst vaultPath = '/Users/aryribeiromacmini/Library/Mobile Documents/iCloud~md~obsidian/Documents/AryVault/00-Inbox';\nconst filePath = vaultPath + '/' + safeTitle + '.md';\n\nreturn [{ json: { filePath, content: fullMd } }];"},"id":"6e8618f0-8583-4f75-ac11-e3dc4a1e8bfe","name":"Convert to Markdown","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/write-file","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ filePath: $json.filePath, content: $json.content }) }}","options":{"timeout":10000}},"id":"4921eafc-cf9d-4a73-b9cd-3763427006eb","name":"Write to Obsidian","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,0]}],"connections":{"Notion Trigger":{"main":[[{"node":"Get Page Content","type":"main","index":0}]]},"Get Page Content":{"main":[[{"node":"Convert to Markdown","type":"main","index":0}]]},"Convert to Markdown":{"main":[[{"node":"Write to Obsidian","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu"},"staticData":{"node:Notion Trigger":{"lastTimeChecked":"2026-04-25T11:00:00.000Z","possibleDuplicates":["34cc7b49-0f8d-806a-87aa-ca82cb013397"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e75e0d4c-f7e0-452e-a3f2-8fe2a32b5a74","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-13T21:54:02.630Z","createdAt":"2026-04-13T21:54:02.630Z","role":"workflow:owner","workflowId":"O8yPGu5q3Cm8hcT5","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-04-13T21:49:51.707Z","createdAt":"2026-04-13T21:49:51.707Z","id":"jqfCG1mnKuePdAiW","name":"obsidian"}]}