notion-notes-→-obsidian-inbox-v2-s8CMiBMdcT3goLFb.json
{"updatedAt":"2026-05-18T00:10:32.479Z","createdAt":"2026-04-30T18:10:23.527Z","id":"s8CMiBMdcT3goLFb","name":"Notion Notes → Obsidian Inbox v2","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"databaseId":{"__rl":true,"value":"b02f60c6-0f43-4a40-8f5b-e6c1873617ec","mode":"list","cachedResultName":"Notes","cachedResultUrl":"https://www.notion.so/b02f60c60f434a408f5be6c1873617ec"}},"id":"926df986-f98f-49c8-965b-38c9110c30a2","name":"Notion Trigger","type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[-656,128],"credentials":null},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"returnAll":true,"fetchNestedBlocks":true},"id":"ef5571eb-131d-46d9-946c-476a49ac46b7","name":"Get Page Content","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-448,128],"credentials":null},{"parameters":{"jsCode":"const trigger = $('Notion Trigger').first().json;\nconst blocks = $input.all();\n\nconst title = trigger.Name || 'Untitled';\nconst status = trigger['Done?'] || 'Not started';\nconst tags = Array.isArray(trigger.Tags) ? trigger.Tags : [];\nconst obs = trigger.Obs || '';\nconst url = trigger.URL || '';\nconst archive = trigger.Archive || false;\nconst createdTime = trigger['Created time'] || new Date().toISOString();\nconst notionId = trigger.id;\n\nfunction blocksToMarkdown(blocks) {\n  let md = '';\n  for (const block of blocks) {\n    const b = block.json || block;\n    const type = b.type;\n    if (!type) continue;\n    const text = b.content || '';\n    switch (type) {\n      case 'paragraph': md += text + '\\n\\n'; break;\n      case 'heading_1': md += '# ' + text + '\\n\\n'; break;\n      case 'heading_2': md += '## ' + text + '\\n\\n'; break;\n      case 'heading_3': md += '### ' + text + '\\n\\n'; break;\n      case 'bulleted_list_item': md += '- ' + text + '\\n'; break;\n      case 'numbered_list_item': md += '1. ' + text + '\\n'; break;\n      case 'to_do':\n        const checked = b.to_do?.checked ? 'x' : ' ';\n        md += '- [' + checked + '] ' + text + '\\n'; break;\n      case 'quote': md += '> ' + text + '\\n\\n'; break;\n      case 'code':\n        const lang = b.code?.language || '';\n        md += '```' + lang + '\\n' + text + '\\n```\\n\\n'; break;\n      case 'divider': md += '---\\n\\n'; break;\n      case 'bookmark':\n        const bmUrl = b.bookmark?.url || '';\n        md += '[' + bmUrl + '](' + bmUrl + ')\\n\\n'; break;\n      case 'image':\n        const imgUrl = b.image?.file?.url || b.image?.external?.url || '';\n        if (imgUrl) md += '![](' + imgUrl + ')\\n\\n'; break;\n      case 'callout':\n        const icon = b.callout?.icon?.emoji || '';\n        md += '> ' + icon + ' ' + text + '\\n\\n'; break;\n      default: if (text) md += text + '\\n\\n';\n    }\n  }\n  return md.trim();\n}\n\nconst content = blocksToMarkdown(blocks);\nconst tagsYaml = tags.length > 0 ? '[' + tags.join(', ') + ']' : '[]';\nconst date = createdTime.split('T')[0];\n\nlet frontmatter = '---\\n';\nfrontmatter += 'type: notion-sync\\n';\nfrontmatter += 'source: notion\\n';\nfrontmatter += 'notion_id: ' + notionId + '\\n';\nfrontmatter += 'date: ' + date + '\\n';\nfrontmatter += 'status: ' + status + '\\n';\nfrontmatter += 'tags: ' + tagsYaml + '\\n';\nfrontmatter += 'archive: ' + archive + '\\n';\nif (url) frontmatter += 'url: ' + url + '\\n';\nif (obs) frontmatter += 'obs: \"' + obs.replace(/\"/g, '\\\\\"') + '\"\\n';\nfrontmatter += '---\\n\\n';\n\nlet fullMd = frontmatter;\nif (obs) fullMd += '> ' + obs + '\\n\\n';\nif (url) fullMd += '**URL:** [' + url + '](' + url + ')\\n\\n';\nif (content) fullMd += content;\n\nconst safeTitle = title\n  .replace(/[\\\\/:*?\"<>|]/g, '-')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 100);\n\nconst vaultPath = '/Users/aryribeiromacmini/Library/Mobile Documents/iCloud~md~obsidian/Documents/AryVault/00-Inbox';\nconst filePath = vaultPath + '/' + safeTitle + '.md';\n\nreturn [{ json: { filePath, content: fullMd, title, tags, obs, url, notionId } }];"},"id":"52499c16-38fc-4954-95b8-9a75b7b626b4","name":"Convert to Markdown","type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,128]},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/write-file","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ filePath: $json.filePath, content: $json.content }) }}","options":{"timeout":10000}},"id":"24df5240-da64-43a0-b953-14e7a58a7f20","name":"Write to Obsidian","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0]},{"parameters":{"jsCode":"const md = $('Convert to Markdown').first().json;\nconst title = md.title || 'Untitled';\nconst tags = (md.tags || []).join(', ');\nconst obs = md.obs || '';\nconst url = md.url || '';\nconst content = (md.content || '').substring(0, 5000);\n\nconst noteText = `Title: ${title}\\nTags: ${tags}\\nObs: ${obs}\\nURL: ${url}\\nContent: ${content}`;\n\nconst prompt = `Analisa esta nota do Notion e extrai memorias uteis para sessoes futuras.\\n\\nNota: ${noteText.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}\\n\\nRegras: So inclui informacao que seria util relembrar. Decisoes, erros, padroes, insights, factos importantes. Se nada relevante retorna []. Retorna APENAS um JSON array sem markdown sem backticks: [{\"type\": \"Decision|Learning|Error|Insight|Pattern|Fact\", \"summary\": \"frase curta\", \"details\": \"contexto\", \"importance\": 1-5, \"tags\": [\"tag1\"]}]`;\n\nconst body = {\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 1024,\n  messages: [\n    { role: \"user\", content: prompt }\n  ]\n};\n\nreturn [{ json: { body: JSON.stringify(body), notionId: md.notionId, title: md.title } }];"},"id":"5b91616d-bff2-4549-aa3d-ea3f09836365","name":"Prepare Haiku Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,320]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"timeout":300000}},"id":"8173610a-779f-4ce5-95ee-82a9a95b97c5","name":"Haiku Extract Memories","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,320],"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const raw = $input.first().json;\n\nif (!raw.content || !raw.content[0] || !raw.content[0].text) {\n  return [];\n}\n\nconst content = raw.content[0].text;\nconst notionId = $('Prepare Haiku Body').first().json.notionId;\nconst title = $('Prepare Haiku Body').first().json.title;\n\nlet memories = [];\ntry {\n  let cleaned = content.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/```json?\\n?/g, '').replace(/```/g, '').trim();\n  }\n  memories = JSON.parse(cleaned);\n} catch(e) {\n  return [];\n}\n\nif (!Array.isArray(memories) || memories.length === 0) {\n  return [];\n}\n\nreturn memories.map(m => ({\n  json: {\n    source: 'notion-notes',\n    project: 'Personal',\n    type: m.type || 'Insight',\n    summary: m.summary || '',\n    details: (m.details || '') + ' [Notion: ' + title + ']',\n    importance: m.importance || 3,\n    tags: Array.isArray(m.tags) ? m.tags : [m.tags || '']\n  }\n}));"},"id":"78f3aac1-1829-4ec6-8bcc-92688451e766","name":"Parse Memories JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,320]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"text-embedding-3-small\", input: $json.summary + ' ' + $json.details }) }}","options":{"timeout":30000}},"id":"497e0afc-a04a-4772-a2cf-7696c581f289","name":"OpenAI Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,320],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const mem = $('Parse Memories JSON').item.json;\nconst embedding = $json.data[0].embedding;\nreturn [{ json: { ...mem, embedding } }];"},"id":"4b1ce912-5ee9-4203-bea5-457c34246588","name":"Merge Embedding","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,320]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst body = JSON.stringify({\n  query_embedding: item.embedding,\n  similarity_threshold: 0.85,\n  filter_project: item.project || null\n});\nreturn [{ json: { ...item, similarBody: body } }];"},"id":"cd61b8fa-5a4b-41d2-857b-a5a9f4549abb","name":"Prepare Similar Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,320]},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/rpc/find_similar_memory","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.similarBody }}","options":{"timeout":15000}},"id":"b208f985-4dae-4ed1-916a-013456f7a375","name":"Supabase Find Similar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,320],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const similarResults = $input.first().json;\nconst prev = $('Merge Embedding').item.json;\n\nconst hasSimilar = Array.isArray(similarResults) && similarResults.length > 0 && similarResults[0]?.id;\n\nif (hasSimilar) {\n  return [{ json: { action: 'update', existingId: similarResults[0].id, similarity: similarResults[0].similarity, ...prev } }];\n} else {\n  return [{ json: { action: 'insert', ...prev } }];\n}"},"id":"a25b3b7e-479c-4a8b-959f-87b86ce29a5f","name":"Decide Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"upsert-check","leftValue":"={{ $json.action }}","rightValue":"update","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1792,320],"id":"68f35256-fe67-452c-9acc-515a1594e26f","name":"IF Update?"},{"parameters":{"method":"PATCH","url":"=https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories?id=eq.{{ $json.existingId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ summary: $json.summary, details: $json.details, type: $json.type, importance: $json.importance, tags: $json.tags, embedding: $json.embedding, source: $json.source }) }}","options":{"timeout":15000}},"id":"37041dbc-0f98-450b-8ffd-6362ba96869f","name":"Supabase UPDATE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,208]},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ summary: $json.summary, details: $json.details, source: $json.source, project: $json.project, type: $json.type, importance: $json.importance, tags: $json.tags, embedding: $json.embedding }) }}","options":{"timeout":15000}},"id":"4fba0bf3-4e13-4321-ab9b-9f76986c34fe","name":"Supabase INSERT","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,448]}],"connections":{"Notion Trigger":{"main":[[{"node":"Get Page Content","type":"main","index":0}]]},"Get Page Content":{"main":[[{"node":"Convert to Markdown","type":"main","index":0}]]},"Convert to Markdown":{"main":[[{"node":"Write to Obsidian","type":"main","index":0},{"node":"Prepare Haiku Body","type":"main","index":0}]]},"Prepare Haiku Body":{"main":[[{"node":"Haiku Extract Memories","type":"main","index":0}]]},"Haiku Extract Memories":{"main":[[{"node":"Parse Memories JSON","type":"main","index":0}]]},"Parse Memories JSON":{"main":[[{"node":"OpenAI Embedding","type":"main","index":0}]]},"OpenAI Embedding":{"main":[[{"node":"Merge Embedding","type":"main","index":0}]]},"Merge Embedding":{"main":[[{"node":"Prepare Similar Body","type":"main","index":0}]]},"Prepare Similar Body":{"main":[[{"node":"Supabase Find Similar","type":"main","index":0}]]},"Supabase Find Similar":{"main":[[{"node":"Decide Upsert","type":"main","index":0}]]},"Decide Upsert":{"main":[[{"node":"IF Update?","type":"main","index":0}]]},"IF Update?":{"main":[[{"node":"Supabase UPDATE","type":"main","index":0}],[{"node":"Supabase INSERT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"heQ08w9HPkxGpNDu","saveDataSuccessExecution":"all","executionTimeout":600},"staticData":{"node:Notion Trigger":{"lastTimeChecked":"2026-05-31T12:00:00.000Z","possibleDuplicates":["371c7b49-0f8d-8131-9840-eb9f5646ffeb"]}},"meta":null,"pinData":{},"versionId":"edc08a62-c483-474b-9184-c6a61af7bc72","activeVersionId":"edc08a62-c483-474b-9184-c6a61af7bc72","triggerCount":1,"shared":[{"updatedAt":"2026-04-30T18:10:23.527Z","createdAt":"2026-04-30T18:10:23.527Z","role":"workflow:owner","workflowId":"s8CMiBMdcT3goLFb","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-18T00:10:32.482Z","createdAt":"2026-05-18T00:10:32.482Z","versionId":"edc08a62-c483-474b-9184-c6a61af7bc72","workflowId":"s8CMiBMdcT3goLFb","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"databaseId":{"__rl":true,"value":"b02f60c6-0f43-4a40-8f5b-e6c1873617ec","mode":"list","cachedResultName":"Notes","cachedResultUrl":"https://www.notion.so/b02f60c60f434a408f5be6c1873617ec"}},"id":"926df986-f98f-49c8-965b-38c9110c30a2","name":"Notion Trigger","type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[-656,128],"credentials":null},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"returnAll":true,"fetchNestedBlocks":true},"id":"ef5571eb-131d-46d9-946c-476a49ac46b7","name":"Get Page Content","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-448,128],"credentials":null},{"parameters":{"jsCode":"const trigger = $('Notion Trigger').first().json;\nconst blocks = $input.all();\n\nconst title = trigger.Name || 'Untitled';\nconst status = trigger['Done?'] || 'Not started';\nconst tags = Array.isArray(trigger.Tags) ? trigger.Tags : [];\nconst obs = trigger.Obs || '';\nconst url = trigger.URL || '';\nconst archive = trigger.Archive || false;\nconst createdTime = trigger['Created time'] || new Date().toISOString();\nconst notionId = trigger.id;\n\nfunction blocksToMarkdown(blocks) {\n  let md = '';\n  for (const block of blocks) {\n    const b = block.json || block;\n    const type = b.type;\n    if (!type) continue;\n    const text = b.content || '';\n    switch (type) {\n      case 'paragraph': md += text + '\\n\\n'; break;\n      case 'heading_1': md += '# ' + text + '\\n\\n'; break;\n      case 'heading_2': md += '## ' + text + '\\n\\n'; break;\n      case 'heading_3': md += '### ' + text + '\\n\\n'; break;\n      case 'bulleted_list_item': md += '- ' + text + '\\n'; break;\n      case 'numbered_list_item': md += '1. ' + text + '\\n'; break;\n      case 'to_do':\n        const checked = b.to_do?.checked ? 'x' : ' ';\n        md += '- [' + checked + '] ' + text + '\\n'; break;\n      case 'quote': md += '> ' + text + '\\n\\n'; break;\n      case 'code':\n        const lang = b.code?.language || '';\n        md += '```' + lang + '\\n' + text + '\\n```\\n\\n'; break;\n      case 'divider': md += '---\\n\\n'; break;\n      case 'bookmark':\n        const bmUrl = b.bookmark?.url || '';\n        md += '[' + bmUrl + '](' + bmUrl + ')\\n\\n'; break;\n      case 'image':\n        const imgUrl = b.image?.file?.url || b.image?.external?.url || '';\n        if (imgUrl) md += '![](' + imgUrl + ')\\n\\n'; break;\n      case 'callout':\n        const icon = b.callout?.icon?.emoji || '';\n        md += '> ' + icon + ' ' + text + '\\n\\n'; break;\n      default: if (text) md += text + '\\n\\n';\n    }\n  }\n  return md.trim();\n}\n\nconst content = blocksToMarkdown(blocks);\nconst tagsYaml = tags.length > 0 ? '[' + tags.join(', ') + ']' : '[]';\nconst date = createdTime.split('T')[0];\n\nlet frontmatter = '---\\n';\nfrontmatter += 'type: notion-sync\\n';\nfrontmatter += 'source: notion\\n';\nfrontmatter += 'notion_id: ' + notionId + '\\n';\nfrontmatter += 'date: ' + date + '\\n';\nfrontmatter += 'status: ' + status + '\\n';\nfrontmatter += 'tags: ' + tagsYaml + '\\n';\nfrontmatter += 'archive: ' + archive + '\\n';\nif (url) frontmatter += 'url: ' + url + '\\n';\nif (obs) frontmatter += 'obs: \"' + obs.replace(/\"/g, '\\\\\"') + '\"\\n';\nfrontmatter += '---\\n\\n';\n\nlet fullMd = frontmatter;\nif (obs) fullMd += '> ' + obs + '\\n\\n';\nif (url) fullMd += '**URL:** [' + url + '](' + url + ')\\n\\n';\nif (content) fullMd += content;\n\nconst safeTitle = title\n  .replace(/[\\\\/:*?\"<>|]/g, '-')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 100);\n\nconst vaultPath = '/Users/aryribeiromacmini/Library/Mobile Documents/iCloud~md~obsidian/Documents/AryVault/00-Inbox';\nconst filePath = vaultPath + '/' + safeTitle + '.md';\n\nreturn [{ json: { filePath, content: fullMd, title, tags, obs, url, notionId } }];"},"id":"52499c16-38fc-4954-95b8-9a75b7b626b4","name":"Convert to Markdown","type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,128]},{"parameters":{"method":"POST","url":"https://macmini-bridge.coletiv.me/write-file","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ filePath: $json.filePath, content: $json.content }) }}","options":{"timeout":10000}},"id":"24df5240-da64-43a0-b953-14e7a58a7f20","name":"Write to Obsidian","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0]},{"parameters":{"jsCode":"const md = $('Convert to Markdown').first().json;\nconst title = md.title || 'Untitled';\nconst tags = (md.tags || []).join(', ');\nconst obs = md.obs || '';\nconst url = md.url || '';\nconst content = (md.content || '').substring(0, 5000);\n\nconst noteText = `Title: ${title}\\nTags: ${tags}\\nObs: ${obs}\\nURL: ${url}\\nContent: ${content}`;\n\nconst prompt = `Analisa esta nota do Notion e extrai memorias uteis para sessoes futuras.\\n\\nNota: ${noteText.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}\\n\\nRegras: So inclui informacao que seria util relembrar. Decisoes, erros, padroes, insights, factos importantes. Se nada relevante retorna []. Retorna APENAS um JSON array sem markdown sem backticks: [{\"type\": \"Decision|Learning|Error|Insight|Pattern|Fact\", \"summary\": \"frase curta\", \"details\": \"contexto\", \"importance\": 1-5, \"tags\": [\"tag1\"]}]`;\n\nconst body = {\n  model: \"claude-haiku-4-5-20251001\",\n  max_tokens: 1024,\n  messages: [\n    { role: \"user\", content: prompt }\n  ]\n};\n\nreturn [{ json: { body: JSON.stringify(body), notionId: md.notionId, title: md.title } }];"},"id":"5b91616d-bff2-4549-aa3d-ea3f09836365","name":"Prepare Haiku Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,320]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"***REDACTED***"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.body }}","options":{"timeout":300000}},"id":"8173610a-779f-4ce5-95ee-82a9a95b97c5","name":"Haiku Extract Memories","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,320],"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const raw = $input.first().json;\n\nif (!raw.content || !raw.content[0] || !raw.content[0].text) {\n  return [];\n}\n\nconst content = raw.content[0].text;\nconst notionId = $('Prepare Haiku Body').first().json.notionId;\nconst title = $('Prepare Haiku Body').first().json.title;\n\nlet memories = [];\ntry {\n  let cleaned = content.trim();\n  if (cleaned.startsWith('```')) {\n    cleaned = cleaned.replace(/```json?\\n?/g, '').replace(/```/g, '').trim();\n  }\n  memories = JSON.parse(cleaned);\n} catch(e) {\n  return [];\n}\n\nif (!Array.isArray(memories) || memories.length === 0) {\n  return [];\n}\n\nreturn memories.map(m => ({\n  json: {\n    source: 'notion-notes',\n    project: 'Personal',\n    type: m.type || 'Insight',\n    summary: m.summary || '',\n    details: (m.details || '') + ' [Notion: ' + title + ']',\n    importance: m.importance || 3,\n    tags: Array.isArray(m.tags) ? m.tags : [m.tags || '']\n  }\n}));"},"id":"78f3aac1-1829-4ec6-8bcc-92688451e766","name":"Parse Memories JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,320]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: \"text-embedding-3-small\", input: $json.summary + ' ' + $json.details }) }}","options":{"timeout":30000}},"id":"497e0afc-a04a-4772-a2cf-7696c581f289","name":"OpenAI Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,320],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const mem = $('Parse Memories JSON').item.json;\nconst embedding = $json.data[0].embedding;\nreturn [{ json: { ...mem, embedding } }];"},"id":"4b1ce912-5ee9-4203-bea5-457c34246588","name":"Merge Embedding","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,320]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst body = JSON.stringify({\n  query_embedding: item.embedding,\n  similarity_threshold: 0.85,\n  filter_project: item.project || null\n});\nreturn [{ json: { ...item, similarBody: body } }];"},"id":"cd61b8fa-5a4b-41d2-857b-a5a9f4549abb","name":"Prepare Similar Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,320]},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/rpc/find_similar_memory","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.similarBody }}","options":{"timeout":15000}},"id":"b208f985-4dae-4ed1-916a-013456f7a375","name":"Supabase Find Similar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,320],"alwaysOutputData":true,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const similarResults = $input.first().json;\nconst prev = $('Merge Embedding').item.json;\n\nconst hasSimilar = Array.isArray(similarResults) && similarResults.length > 0 && similarResults[0]?.id;\n\nif (hasSimilar) {\n  return [{ json: { action: 'update', existingId: similarResults[0].id, similarity: similarResults[0].similarity, ...prev } }];\n} else {\n  return [{ json: { action: 'insert', ...prev } }];\n}"},"id":"a25b3b7e-479c-4a8b-959f-87b86ce29a5f","name":"Decide Upsert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"upsert-check","leftValue":"={{ $json.action }}","rightValue":"update","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1792,320],"id":"68f35256-fe67-452c-9acc-515a1594e26f","name":"IF Update?"},{"parameters":{"method":"PATCH","url":"=https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories?id=eq.{{ $json.existingId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ summary: $json.summary, details: $json.details, type: $json.type, importance: $json.importance, tags: $json.tags, embedding: $json.embedding, source: $json.source }) }}","options":{"timeout":15000}},"id":"37041dbc-0f98-450b-8ffd-6362ba96869f","name":"Supabase UPDATE","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,208]},{"parameters":{"method":"POST","url":"https://apfngqcnjdfinqwefzcs.supabase.co/rest/v1/memories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"***REDACTED***"},{"name":"Authorization","value":"Bearer ***REDACTED***"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ summary: $json.summary, details: $json.details, source: $json.source, project: $json.project, type: $json.type, importance: $json.importance, tags: $json.tags, embedding: $json.embedding }) }}","options":{"timeout":15000}},"id":"4fba0bf3-4e13-4321-ab9b-9f76986c34fe","name":"Supabase INSERT","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,448]}],"connections":{"Notion Trigger":{"main":[[{"node":"Get Page Content","type":"main","index":0}]]},"Get Page Content":{"main":[[{"node":"Convert to Markdown","type":"main","index":0}]]},"Convert to Markdown":{"main":[[{"node":"Write to Obsidian","type":"main","index":0},{"node":"Prepare Haiku Body","type":"main","index":0}]]},"Prepare Haiku Body":{"main":[[{"node":"Haiku Extract Memories","type":"main","index":0}]]},"Haiku Extract Memories":{"main":[[{"node":"Parse Memories JSON","type":"main","index":0}]]},"Parse Memories JSON":{"main":[[{"node":"OpenAI Embedding","type":"main","index":0}]]},"OpenAI Embedding":{"main":[[{"node":"Merge Embedding","type":"main","index":0}]]},"Merge Embedding":{"main":[[{"node":"Prepare Similar Body","type":"main","index":0}]]},"Prepare Similar Body":{"main":[[{"node":"Supabase Find Similar","type":"main","index":0}]]},"Supabase Find Similar":{"main":[[{"node":"Decide Upsert","type":"main","index":0}]]},"Decide Upsert":{"main":[[{"node":"IF Update?","type":"main","index":0}]]},"IF Update?":{"main":[[{"node":"Supabase UPDATE","type":"main","index":0}],[{"node":"Supabase INSERT","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[{"updatedAt":"2026-04-13T21:49:51.707Z","createdAt":"2026-04-13T21:49:51.707Z","id":"jqfCG1mnKuePdAiW","name":"obsidian"},{"updatedAt":"2026-04-08T09:26:43.193Z","createdAt":"2026-04-08T09:26:43.193Z","id":"IdouWo7wtqlGHDB2","name":"claude-brain"}]}