replicate-to-create-an-image-dgXcyfX3p6uPEQOt.json
{"updatedAt":"2026-05-18T00:16:15.035Z","createdAt":"2026-01-05T09:17:23.835Z","id":"dgXcyfX3p6uPEQOt","name":"Replicate to Create an Image","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"bf198ed8-9945-42be-9078-e45a16aa27c3","name":"url_Model","value":"https://api.replicate.com/v1/predictions","type":"string"},{"id":"a62a5d3b-047f-41c2-8206-9732c9ab4eeb","name":"prompt","value":"={{ $json.output[0].content[0].text }}","type":"string"},{"id":"ccf6c2a1-89f5-4117-82ce-70a7dcbe870b","name":"version","value":"7e0502efc2a94a6b42f8572bade751196af37e9f4c4e430cd3d5c19c1ed31647","type":"string"}]},"options":{}},"id":"bdfb8083-2bd1-4530-afab-bad1bb64c940","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[528,0]},{"parameters":{"name":"image_replicate.png","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1QG4ZNXFpak9UX7zL4KVuJGBhDatBl9Oi","mode":"list","cachedResultName":"Binary_Make","cachedResultUrl":"https://drive.google.com/drive/folders/1QG4ZNXFpak9UX7zL4KVuJGBhDatBl9Oi"},"options":{}},"id":"694d7e87-51b2-4aca-85d3-04d27d7439c8","name":"Upload to Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1824,0],"notesInFlow":false,"credentials":null},{"parameters":{"method":"POST","url":"={{ $json.url_Model }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"version\":\"{{ $json.version }}\",\"input\": {\n      \"model\": \"dev\",\n      \"prompt\": \"{{ $json.prompt }}\",\n      \"lora_scale\": 0.7,\n      \"num_outputs\": 1,\n      \"aspect_ratio\": \"1:1\",\n      \"output_format\": \"png\",\n      \"guidance_scale\": 5,\n      \"output_quality\": 80,\n      \"num_inference_steps\": 50}} ","options":{}},"id":"8d0181b7-d106-4a4e-a853-72d788565f31","name":"Replicate Create Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,0]},{"parameters":{"url":"={{ $('Replicate Create Image').item.json.urls.get }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"options":{}},"id":"254a27a9-bf3f-44c2-8fff-7fca651ef2dc","name":"Get Replicate Link Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,0]},{"parameters":{"assignments":{"assignments":[{"id":"4ea71a56-bc7d-4be0-ba1a-00be6d1c1da3","name":"image_url","value":"={{ $json.output[0] }}","type":"string"}]},"options":{}},"id":"b796e3f8-12d2-4cb3-9e8d-bd482ecd41b6","name":"Get Image url","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1392,0]},{"parameters":{"url":"={{ $json.image_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"f688f4b6-52a3-4cd9-ae60-4155eedcc3a5","name":"Get File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,0]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"responses":{"values":[{"role":"system","content":"You are the XKCD Architect\n\nRole: You are an expert Image Prompt Engineer specializing in FLUX.1. Your mission is to translate concepts into precisely calibrated prompts that capture the minimalist, intellectual, and humorous aesthetic of XKCD-style webcomics.\n\nCore Directives:\n\nMinimalist Precision: Write in a single, cohesive paragraph using commas for separation. Avoid periods and line breaks.\n\nStyle Consistency: Every prompt must explicitly reinforce the \"XKCD style\" and \"simple black and white linework\" to prevent the model from adding unwanted textures or gradients.\n\nSubject & Action: Focus on the \"stick figure\" anatomy and the specific interaction or irony of the scene.\n\nLanguage: Use clear, direct, and slightly clinical English to match the dry wit of the original comic style.\n\nOperational Constraints:\n\nReturn ONLY the prompt. No introductory text, no explanations, no \"Here is your prompt.\"\n\nStart the prompt directly with the subject or the setting.\n\nEnsure the output specifies \"white background\" or \"stark contrast\" to maintain the comic panel feel.\n\nFormatting Template: [Subject/Stick Figure Action], [Specific Setting/Environment], [Camera Perspective & Compositional Layout], in XKCD style, [Specific details of minimalist elements], The linework should be simple and clean with no shading, typical of XKCD comics."},{"content":"Give me a plain simple prompt of a stick figure on a setting doing something in XKCD style. The linework should be simple and clean, typical of XKCD comics."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[208,0],"id":"09e64fb6-6c4f-40da-a7e8-1ea2c3181ee2","name":"Message a model","credentials":null},{"parameters":{"amount":180},"id":"b7993fa4-e57a-4035-bca4-72a954d22c0a","name":"Wait -180s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,0],"webhookId":"ca5a4e18-64bf-4e8e-b303-08f5b4dd2282"},{"parameters":{"httpMethod":"POST","path":"replicate-image","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,0],"id":"8a8e5456-2eae-43ad-a1d9-6bbfc4cd04de","name":"Webhook","webhookId":"e80e0755-958c-4f6a-beb6-d84b06a97b7c"}],"connections":{"Edit Fields":{"main":[[{"node":"Replicate Create Image","type":"main","index":0}]]},"Replicate Create Image":{"main":[[{"node":"Wait -180s","type":"main","index":0}]]},"Get Replicate Link Image":{"main":[[{"node":"Get Image url","type":"main","index":0}]]},"Get Image url":{"main":[[{"node":"Get File","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Upload to Google Drive","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Wait -180s":{"main":[[{"node":"Get Replicate Link Image","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Message a model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"errorWorkflow":"heQ08w9HPkxGpNDu","saveDataSuccessExecution":"all","executionTimeout":600},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2ec38aa1-7e39-4435-ae75-819a42adc288","activeVersionId":"2ec38aa1-7e39-4435-ae75-819a42adc288","triggerCount":1,"shared":[{"updatedAt":"2026-01-05T09:17:23.835Z","createdAt":"2026-01-05T09:17:23.835Z","role":"workflow:owner","workflowId":"dgXcyfX3p6uPEQOt","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-18T00:16:15.038Z","createdAt":"2026-05-18T00:16:15.038Z","versionId":"2ec38aa1-7e39-4435-ae75-819a42adc288","workflowId":"dgXcyfX3p6uPEQOt","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"bf198ed8-9945-42be-9078-e45a16aa27c3","name":"url_Model","value":"https://api.replicate.com/v1/predictions","type":"string"},{"id":"a62a5d3b-047f-41c2-8206-9732c9ab4eeb","name":"prompt","value":"={{ $json.output[0].content[0].text }}","type":"string"},{"id":"ccf6c2a1-89f5-4117-82ce-70a7dcbe870b","name":"version","value":"7e0502efc2a94a6b42f8572bade751196af37e9f4c4e430cd3d5c19c1ed31647","type":"string"}]},"options":{}},"id":"bdfb8083-2bd1-4530-afab-bad1bb64c940","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[528,0]},{"parameters":{"name":"image_replicate.png","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1QG4ZNXFpak9UX7zL4KVuJGBhDatBl9Oi","mode":"list","cachedResultName":"Binary_Make","cachedResultUrl":"https://drive.google.com/drive/folders/1QG4ZNXFpak9UX7zL4KVuJGBhDatBl9Oi"},"options":{}},"id":"694d7e87-51b2-4aca-85d3-04d27d7439c8","name":"Upload to Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1824,0],"notesInFlow":false,"credentials":null},{"parameters":{"method":"POST","url":"={{ $json.url_Model }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"version\":\"{{ $json.version }}\",\"input\": {\n      \"model\": \"dev\",\n      \"prompt\": \"{{ $json.prompt }}\",\n      \"lora_scale\": 0.7,\n      \"num_outputs\": 1,\n      \"aspect_ratio\": \"1:1\",\n      \"output_format\": \"png\",\n      \"guidance_scale\": 5,\n      \"output_quality\": 80,\n      \"num_inference_steps\": 50}} ","options":{}},"id":"8d0181b7-d106-4a4e-a853-72d788565f31","name":"Replicate Create Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,0]},{"parameters":{"url":"={{ $('Replicate Create Image').item.json.urls.get }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"***REDACTED***"}]},"options":{}},"id":"254a27a9-bf3f-44c2-8fff-7fca651ef2dc","name":"Get Replicate Link Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,0]},{"parameters":{"assignments":{"assignments":[{"id":"4ea71a56-bc7d-4be0-ba1a-00be6d1c1da3","name":"image_url","value":"={{ $json.output[0] }}","type":"string"}]},"options":{}},"id":"b796e3f8-12d2-4cb3-9e8d-bd482ecd41b6","name":"Get Image url","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1392,0]},{"parameters":{"url":"={{ $json.image_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"f688f4b6-52a3-4cd9-ae60-4155eedcc3a5","name":"Get File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1616,0]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"responses":{"values":[{"role":"system","content":"You are the XKCD Architect\n\nRole: You are an expert Image Prompt Engineer specializing in FLUX.1. Your mission is to translate concepts into precisely calibrated prompts that capture the minimalist, intellectual, and humorous aesthetic of XKCD-style webcomics.\n\nCore Directives:\n\nMinimalist Precision: Write in a single, cohesive paragraph using commas for separation. Avoid periods and line breaks.\n\nStyle Consistency: Every prompt must explicitly reinforce the \"XKCD style\" and \"simple black and white linework\" to prevent the model from adding unwanted textures or gradients.\n\nSubject & Action: Focus on the \"stick figure\" anatomy and the specific interaction or irony of the scene.\n\nLanguage: Use clear, direct, and slightly clinical English to match the dry wit of the original comic style.\n\nOperational Constraints:\n\nReturn ONLY the prompt. No introductory text, no explanations, no \"Here is your prompt.\"\n\nStart the prompt directly with the subject or the setting.\n\nEnsure the output specifies \"white background\" or \"stark contrast\" to maintain the comic panel feel.\n\nFormatting Template: [Subject/Stick Figure Action], [Specific Setting/Environment], [Camera Perspective & Compositional Layout], in XKCD style, [Specific details of minimalist elements], The linework should be simple and clean with no shading, typical of XKCD comics."},{"content":"Give me a plain simple prompt of a stick figure on a setting doing something in XKCD style. The linework should be simple and clean, typical of XKCD comics."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[208,0],"id":"09e64fb6-6c4f-40da-a7e8-1ea2c3181ee2","name":"Message a model","credentials":null},{"parameters":{"amount":180},"id":"b7993fa4-e57a-4035-bca4-72a954d22c0a","name":"Wait -180s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,0],"webhookId":"ca5a4e18-64bf-4e8e-b303-08f5b4dd2282"},{"parameters":{"httpMethod":"POST","path":"replicate-image","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[16,0],"id":"8a8e5456-2eae-43ad-a1d9-6bbfc4cd04de","name":"Webhook","webhookId":"e80e0755-958c-4f6a-beb6-d84b06a97b7c"}],"connections":{"Edit Fields":{"main":[[{"node":"Replicate Create Image","type":"main","index":0}]]},"Replicate Create Image":{"main":[[{"node":"Wait -180s","type":"main","index":0}]]},"Get Replicate Link Image":{"main":[[{"node":"Get Image url","type":"main","index":0}]]},"Get Image url":{"main":[[{"node":"Get File","type":"main","index":0}]]},"Get File":{"main":[[{"node":"Upload to Google Drive","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Wait -180s":{"main":[[{"node":"Get Replicate Link Image","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Message a model","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[]}