sdr-promovaweb-UlolsqS6Xde13BUJ.json
{"updatedAt":"2026-05-28T22:09:10.848Z","createdAt":"2025-06-22T15:27:10.804Z","id":"UlolsqS6Xde13BUJ","name":"SDR Promovaweb","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# ✨ Fluxo de Conversação do Agente (Envio e Reset de Mensagens)\n\nEste fluxo recebe as mensagens agregadas do usuário, injeta o histórico de conversa em memória Redis, envia o conteúdo para o agente LangChain (GPT-4o-mini) com prompt e contexto, captura a resposta gerada, publica-a de volta no Chatwoot e limpa o buffer de mensagens no Redis.\n\n1. 💬 **contentMesssage**  \n   - Atribui a variável `content` com todas as mensagens agregadas (`$('messageAgregated').item.json.messageUser`).\n2. 🧠 **memoryConversation**  \n   - Carrega ou inicializa a memória da conversa em Redis, usando `sessionKey` customizado (TTL de 900 s) para manter o contexto.\n3. 🤖 **modelConversation**  \n   - Seleciona o modelo **gpt-4o-mini** para processar a mensagem no agente.\n4. 🛠 **agentConversation**  \n   - Orquestra a chamada ao agente LangChain: injeta `content`, `memory` e `model`, aplica o prompt definido (regras de funil, tom e formato de saída) e gera o campo `output`.\n5. ✍️ **setOutput**  \n   - Extrai a resposta do agente (`$json.output`) para a variável `output`.\n6. 🌐 **sendChatwootMessage**  \n   - Envia via HTTP POST a resposta ao Chatwoot, em `/api/v1/accounts/:account_id/conversations/:conversation_id/messages` com `message_type=outgoing`.\n7. 🧹 **resetMessageAgregated**  \n   - Deleta a key `inputMessage-[conversation_id]` no Redis, reiniciando o buffer de mensagens para a próxima iteração.\n8. 🏁 **endConversation**  \n   - Encerra o envio da resposta.\n","height":1020,"width":1140,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2352,1280],"typeVersion":1,"id":"60e466ab-847e-4f98-b775-3a867cfdb8ce","name":"Sticky Note"},{"parameters":{"content":"# 🔄 Atualiza dados Baserow\n\nEste fluxo busca um lead no Baserow com base no `conversation_id`, verifica se já existe na tabela, cria um novo registro caso não seja encontrado e, por fim, mescla o objeto de lead resultante para uso nos próximos passos.\n\n1. 🔍 **getBaserowLead**  \n   - Consulta a tabela do Baserow (databaseId 35889, tableId 529224) filtrando pelo campo de `conversation_id` (`field 4405423`) e retorna, no máximo, um registro.\n2. 🤔 **testExist**  \n   - Avalia se o array retornado por **getBaserowLead** está vazio.  \n   - **true** → não encontrou nenhum lead (payload vazio).  \n   - **false** → já existe um lead com esse `conversation_id`.\n3. ➕ **createBaserowLead**  \n   - Quando **testExist** for **true**, cria um novo registro na mesma tabela definindo o campo `4405423` como o `conversation_id` recebido.\n4. 🔗 **appendLead**  \n   - Mescla a saída de **createBaserowLead** (ramo “true”) ou de **getBaserowLead** (ramo “false”) e encaminha o objeto final adiante no fluxo.\n","height":760,"width":1140,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2352,480],"typeVersion":1,"id":"a6c4daab-ef21-4d3a-a8ff-47c2a3126238","name":"Sticky Note1"},{"parameters":{"operation":"set","key":"=inputMessage-{{ $('webhookDataChatwoot').item.json.body.conversation.messages[0].conversation_id }}","value":"={{ \n  ($json.messageUser || '') \n  + ($json.messageUser ? '\\n' : '') \n  + $('webhookDataChatwoot').item.json.body.conversation.messages[0].content \n}}","keyType":"string"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1760,1920],"id":"e0bb032c-833e-4cd6-a0bf-78d88df32587","name":"messageInsert","notesInFlow":true,"notes":"- insere mensagens na key (inputMessage-conversationid) de forma incremental."},{"parameters":{"operation":"set","key":"={{ String($('webhookDataChatwoot').item.json.body.conversation.messages[0].conversation_id) }}","value":"={{ $json.currentDate }}","keyType":"string","expire":true,"ttl":600},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1360,1920],"id":"06c818a2-fee0-4030-86e7-fcaa18d022fc","name":"setCurrentDate","notesInFlow":true,"notes":"- Insere a data corrente deste fluxo como valor da chave que será o 'conversationid' do chatwoot.\n\n- Deste modo não há problema o tipo de canal de entrada se é whatsapp, Instagram ou outros."},{"parameters":{"operation":"get","propertyName":"currentDate","key":"={{ String($('webhookDataChatwoot').item.json.body.conversation.messages[0].conversation_id) }}","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1568,2128],"id":"7e8ac88c-2bd8-49e9-8a24-c172361e24f6","name":"getFutureDate","notesInFlow":true,"notes":"Retorna a data futura da key. \n\nSim ela pode ser futura pois durante o WAIT que está configurando antes desse node, o cliente pode ter enviado outra mensagem durante este período de espera"},{"parameters":{"operation":"get","propertyName":"messageUser","key":"=inputMessage-{{ $('webhookDataChatwoot').item.json.body.conversation.messages[0].conversation_id }}","keyType":"string","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1568,1920],"id":"f7899c82-9275-4898-96e4-cdc25cbe49ca","name":"getMessage","notesInFlow":true,"notes":"- Verifica se há mensagens do cliente na chave (Key)\n- objetivo de pedir esse GET é para incrementar novas mensagens na mesma chave sem perder as antigas."},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b50066ef-17e2-4cb5-8447-f3c3f4693521","leftValue":"={{ $('setCurrentDate').item.json.currentDate }}","rightValue":"={{ $json.currentDate }}\n","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"id":"525d3f74-04fd-4683-8670-4689978a8059","name":"confereFutureTime","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1760,2128],"notesInFlow":true,"notes":"Aqui comparamos se a data da mesma key que pegamos durante o WAIT é mais recente que a data deste fluxo que está rodando agora."},{"parameters":{"operation":"get","propertyName":"messageUser","key":"=inputMessage-{{ $('webhookDataChatwoot').item.json.body.conversation.messages[0].conversation_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1168,2128],"id":"4c80081f-ebff-4084-a01c-8b91f6690ff7","name":"messageAgregated","notesInFlow":true,"notes":"- Retorna as mensagens agregadas"},{"parameters":{"content":"## ⚡️ Message deBounce (Agregador de Mensagens)\n\nEste fluxo coleta e agrupa múltiplas mensagens enviadas pelo cliente em um curto intervalo (debounce), armazenando-as incrementamente no Redis e aguardando o tempo configurado antes de liberar o lote de mensagens ao agente. Assim evita-se que o agente seja acionado para cada fragmento de texto e melhora-se a eficiência no atendimento.\n\n1. ⏰ **setDateTime**  \n   - Define a data/hora atual no fuso **America/Sao_Paulo**.\n2. 💾 **setCurrentDate**  \n   - Grava o timestamp atual em Redis na key `<conversation_id>`, com **expire de 600 s**.\n3. 🔍 **getMessage**  \n   - Recupera o valor existente em `inputMessage-<conversation_id>`, para compor mensagens de forma incremental.\n4. ➕ **messageInsert**  \n   - Insere a nova mensagem do usuário em `inputMessage-<conversation_id>`, preservando o histórico anterior.\n5. 📦 **messageAgregated**  \n   - Retorna todas as mensagens agregadas até o momento, antes de entrar no período de wait.\n6. ⏳ **tempoEspera**  \n   - Aguarda o tempo de debounce (definido pela variável `debounce`), para agregar possíveis mensagens subsequentes.\n7. 🔮 **getFutureDate**  \n   - Após o WAIT, lê o novo timestamp armazenado em `<conversation_id>`.\n8. ⚖️ **confereFutureTime**  \n   - Compara o timestamp inicial (de `setCurrentDate`) com o futuro (de `getFutureDate`):  \n     - **Se o timestamp futuro for igual ou posterior**, significa que outra mensagem chegou antes do fim do WAIT → interrompe o fluxo sem limpar as mensagens agregadas.  \n     - Caso contrário, prossegue e libera o batch de mensagens ao agente.\n","height":1020,"width":1180,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1120,1280],"typeVersion":1,"id":"b7196138-9e8f-4790-9993-97cf7a28a85c","name":"Sticky Note2"},{"parameters":{"amount":"={{ $('setVariables').item.json.debounce }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,2128],"id":"5c0d44b0-9485-46a8-92aa-d1d022e0f049","name":"tempoEspera","webhookId":"1da3e712-f30e-4b8a-8d98-ac18fea97639","notesInFlow":true,"notes":"Selecione o tempo de deBounce (tempo para agregar mensagens multiplas do cliente dentro de um mesmo espaço de tempo evitando que o agente responda todas as mensagens picotadas do cliente.)"},{"parameters":{"assignments":{"assignments":[{"id":"35831818-2b6c-4e05-ba38-d6d1e2bc09ca","name":"content","value":"={{ $('messageAgregated').item.json.messageUser }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2384,1872],"id":"98df82d8-220c-4b5f-aa06-be759a060d99","name":"contentMesssage"},{"parameters":{"content":"# 📝 Limpar dados do agente\n\n**Gatilho:** Cliente digita `resetar`\n\nAo receber esse comando, o fluxo realiza uma limpeza completa da sessão e do lead: zera a memória armazenada no Redis, remove o registro do lead no Baserow, envia confirmação ao usuário via Chatwoot, exclui os dados de contato e, por fim, encerra o processo de limpeza.\n\n1. 🧹 **resetRedisMemory**  \n   - Limpa a memória armazenada no Redis para este lead.  \n2. 🔍 **findBaserowLead**  \n   - Localiza a linha do lead no Baserow.  \n3. 🗑️ **deleteBaserowLead**  \n   - Exclui o registro do lead no Baserow.  \n4. 📩 **sendChatwootMsgReset**  \n   - Envia uma mensagem de confirmação ao usuário via Chatwoot.  \n5. 🚫 **removeChatwootContact**  \n   - Remove todos os dados do contato no Chatwoot.  \n6. 🏁 **endCleaningOperation**  \n   - Encerra o processo de limpeza.  \n\n> 💡 Ao final, toda a “memória” do agente é reiniciada e o lead é removido dos sistemas.","height":760,"width":1180,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1120,480],"typeVersion":1,"id":"b6c34349-614b-421f-9593-2489244eb9f2","name":"Sticky Note3"},{"parameters":{"content":"# 🎬 Entrada e Tratamentos Iniciais\n\nEste bloco inicial prepara tudo antes de aplicar as regras de negócio: captura o payload do Chatwoot, extrai e organiza os dados-chave em variáveis, descarta mensagens do próprio agente, define parâmetros de contexto (URL base, chave de memória e tempo de debounce) e detecta o comando de “reset” para acionar o fluxo de limpeza.\n\n1. 📬 **webhookDataChatwoot**  \n   - Recebe o payload da mensagem enviada pelo Chatwoot.  \n2. 📝 **payloadResume**  \n   - Organiza e resume os dados principais em variáveis:  \n     - `account_id`  \n     - `conversation_id`  \n     - `inbox_id`  \n     - `content`  \n     - `message_type`  \n     - `contact`  \n3. 🔽 **filterFromMe**  \n   - Filtra apenas mensagens do tipo **incoming**, descartando envios do próprio agente.  \n4. ⚙️ **setVariables**  \n   - Define variáveis de contexto para o fluxo:  \n     - `baseUrl` (URL do Chatwoot) \n     - `memory` (chave de memória no Redis)  \n     - `debounce` (tempo mínimo entre interações)  \n5. 🔍 **messageReset**  \n   - Verifica se o conteúdo da mensagem é `resetar-ia` para acionar o fluxo de limpeza.  \n","height":1020,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[64,1280],"typeVersion":1,"id":"686f1f40-7e6f-45fa-8f1d-550d696eb9c5","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"9f81a0d1-c831-4ebd-93ab-631631197d8a","name":"account_id","value":"={{ $json.body.account.id }}","type":"number"},{"id":"bfc1fbaa-7bae-4b08-80cd-d85c80c265a6","name":"conversation_id","value":"={{ $json.body.conversation.messages[0].conversation_id }}","type":"number"},{"id":"b407f7ae-3b85-41c0-ab02-e7a4885fcbce","name":"inbox_id","value":"={{ $json.body.conversation.contact_inbox.inbox_id }}","type":"number"},{"id":"a1148ba9-e2d3-4ff3-a2d8-251f29865841","name":"content","value":"={{ $json.body.conversation.messages[0].content }}","type":"string"},{"id":"364a98b6-8705-44dd-9aab-e87e1cc901e2","name":"message_type","value":"={{ $json.body.message_type }}","type":"string"},{"id":"75d42f45-0e00-4145-bb77-3120ac96a301","name":"contact","value":"={{ $json.body.conversation.meta.sender.removeField(\"additional_attributes\").removeField(\"thumbnail\").removeField(\"identifier\").removeField(\"blocked\").removeField(\"type\") }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,1952],"id":"d430383e-c6a6-48e6-8066-bdcb9c840491","name":"payloadResume"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b5a79c8-a926-4a8c-9ea2-49e6ac21a0f9","leftValue":"={{ $json.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[464,1952],"id":"9ba36caa-e431-499a-90ef-66797a4c38fd","name":"filterFromMe"},{"parameters":{"content":"# 🤝 Gerencia de status e follow-up da jornada do cliente\n\nEste trecho do fluxo injeta o histórico de conversas, executa um chain LLM para identificar o estágio do lead no funil de vendas, aplica correções à resposta, e produz um JSON estruturado com o status e próximos passos para o follow-up.\n\n1. 💾 **memoryChat**  \n   - Usa o nó Redis Chat Memory para recuperar o histórico de conversas do lead (sessionKey personalizado, TTL de 900 s e janela de contexto de 100 mensagens).\n2. 🧠 **chatMemory**  \n   - Consolida e formata os dados de `memoryChat` como memória ativa para o chain LLM.\n3. 🤖 **funnelStageChain**  \n   - Envia ao modelo (gpt-4o-mini) um prompt que define o “Agente Talk”, seus objetivos e etapas do funil, junto com o histórico de mensagens. Habilita um output parser interno.\n4. 🛠️ **outputParser**  \n   - Aplica um “autofixing” na resposta bruta para garantir:\n     - Campos “serviços” em minúsculas, sem sufixo “ api” e “evolution” uniformizado.\n     - Somente incluir interesses e serviços explicitamente mencionados pelo cliente.\n5. 🔄 **modelParser**  \n   - Reenvia a saída corrigida ao modelo (gpt-4.1-mini) usando um prompt de parsing para gerar um JSON válido.\n6. 📦 **structuredOutput**  \n   - Converte o JSON do `modelParser` em um objeto final estruturado conforme o schema desejado (nome, e-mail, interesses, serviços, urgência, etapa_funil, score, etc.).\n\n","height":1820,"width":980,"color":5},"type":"n8n-nodes-base.stickyNote","position":[3520,480],"typeVersion":1,"id":"b537b561-8044-48e0-9ba0-3da765937eeb","name":"Sticky Note5"},{"parameters":{"operation":"delete","key":"={{ $('setVariables').item.json.memory }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1168,1024],"id":"40abd6ec-46be-4586-9c02-01386f387d84","name":"resetRedisMemory"},{"parameters":{"operation":"delete","databaseId":35889,"tableId":529224,"rowId":"={{ $('findBaserowLead').item.json.id }}"},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1568,1024],"id":"b7b28d6b-e4bb-4195-b5be-611904d6d51f","name":"deleteBaserowLead","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"DELETE","url":"={{ $('setVariables').item.json.baseUrl }}/api/v1/accounts/{{ $('payloadResume').item.json.account_id }}/contacts/{{ $('payloadResume').item.json.contact.id }}","authentication":"***REDACTED***","genericAuthType":"***REDACTED***","options":{"response":{"response":{"neverError":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,1024],"id":"ffb8a672-2c04-435e-8442-52989782c3ff","name":"removeChatwotContact"},{"parameters":{"method":"POST","url":"={{ $('setVariables').item.json.baseUrl }}/api/v1/accounts/{{ $('payloadResume').item.json.account_id }}/conversations/{{ $('payloadResume').item.json.conversation_id }}/messages","authentication":"***REDACTED***","genericAuthType":"***REDACTED***","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=Memória do Agente resetada com sucesso!"},{"name":"message_type","value":"outgoing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,1024],"id":"b4d33ea7-1a26-4666-a8a2-91f350ff518d","name":"sendChatwootMsgReset"},{"parameters":{"databaseId":35889,"tableId":529224,"limit":1,"additionalOptions":{"filters":{"fields":[{"field":4405423,"value":"={{ $('payloadResume').item.json.conversation_id }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1360,1024],"id":"ea2f7236-e1d4-4632-8d21-c3975b317eed","name":"findBaserowLead","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2160,1024],"id":"b9256bf6-5478-4e17-8c14-17d2d9159b77","name":"endCleaningOperation"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a30fce78-af2b-4e89-9b30-83713f6ffe71","leftValue":"={{ $('webhookDataChatwoot').item.json.body.conversation.messages[0].content }}","rightValue":"resetar-ia","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,1952],"id":"94ae82f1-58dd-4210-ae8d-2f3d815caa28","name":"messageReset"},{"parameters":{"httpMethod":"POST","path":"1c39dce1-e4e6-4fd2-b573-a1c4fa23945f","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[112,1952],"id":"9a46ad46-7e51-441d-9e2e-847cebafcffd","name":"webhookDataChatwoot","webhookId":"1c39dce1-e4e6-4fd2-b573-a1c4fa23945f"},{"parameters":{"assignments":{"assignments":[{"id":"68ad9904-120b-421e-ad44-49418f0f7a73","name":"baseUrl","value":"https://chat.agenciasynca.com.br","type":"string"},{"id":"30e97a42-d144-469a-82c3-b030ad7305c0","name":"memory","value":"=memory-{{ $json.conversation_id }}","type":"string"},{"id":"0b8eea99-4d4b-4e8c-a16d-a319b04cacc9","name":"debounce","value":10,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,1952],"id":"4538bfa0-fef8-449e-a15a-bba8ed6a0f4e","name":"setVariables"},{"parameters":{"method":"PUT","url":"={{ $('setVariables').first().json.baseUrl }}/api/v1/accounts/{{ $('payloadResume').first().json.account_id }}/contacts/{{ $('payloadResume').first().json.contact.id }}","authentication":"***REDACTED***","genericAuthType":"***REDACTED***","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('updateBaserowLead').item.json.nome }}"},{"name":"email","value":"={{ $('updateBaserowLead').item.json.email }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5312,1184],"id":"fa7a7155-898b-4e9c-ac01-9d804687c197","name":"updateChatwootContact"},{"parameters":{"operation":"update","databaseId":35889,"tableId":529224,"rowId":"={{ $('appendLead').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":4214466,"fieldValue":"={{ $json.email }}"},{"fieldId":4214463,"fieldValue":"={{ $json.nome }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[5088,1184],"id":"a6c8843c-09f0-4afd-87d6-da9599ccd654","name":"updateBaserowLead"},{"parameters":{"assignments":{"assignments":[{"id":"918e3c88-66f4-483b-9c6c-c790984f6e92","name":"nome","value":"={{ $json.output.nome }}","type":"string"},{"id":"3caf3f92-e7f3-4e69-8a5e-9f824f10949e","name":"email","value":"={{ $json.output['e-mail'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4864,1184],"id":"7c97bcff-64dc-4be4-b760-8506a481c90f","name":"getContactData"},{"parameters":{"method":"POST","url":"={{ $('setVariables').first().json.baseUrl }}/api/v1/accounts/{{ $('payloadResume').first().json.account_id }}/conversations/{{ $('payloadResume').first().json.conversation_id }}/labels","authentication":"***REDACTED***","genericAuthType":"***REDACTED***","sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"={{ $('processAllLabels').item.json.labels }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5072,1824],"id":"8a93872f-13f6-43ef-92ee-11565c38be09","name":"updateChatwootLabels"},{"parameters":{"operation":"update","databaseId":35889,"tableId":529224,"rowId":"={{ $('appendLead').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":4405515,"fieldValue":"={{ $json.output.servicos\n     .join(', ')\n     .toLowerCase()          // transforme tudo em minúsculo\n     .normalize('NFD')       // separa letras dos acentos\n     .replace(/\\p{M}/gu, '') // elimina todos os acentos, deixando só as letras\n}}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[4864,1504],"id":"927b30c7-94d5-443c-98b3-cc75fb40fadc","name":"updateBaserowServices"},{"parameters":{"operation":"update","databaseId":35889,"tableId":529224,"rowId":"={{ $('appendLead').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":4405519,"fieldValue":"={{ $json.output.interesses\n     .join(', ')\n     .toLowerCase()          // transforme tudo em minúsculo\n     .normalize('NFD')       // separa letras dos acentos\n     .replace(/\\p{M}/gu, '') // elimina todos os acentos, deixando só as letras\n}}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[4864,1344],"id":"7e0c7ab0-fbcd-4b8e-ae99-f7d75f0e805f","name":"updateBaserowInterests"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// 1. Puxa labels da conversa\nconst labelsChatwoot = $('webhookDataChatwoot').first().json.body.conversation.labels || [];\n\n// 2. Puxa interesses e serviços do node “Switch”, dentro de output\nconst interesses = $('dataClassifier').first().json.output.interesses || [];\nconst servicos   = $('dataClassifier').first().json.output.servicos    || [];\n\n// 3. Junta tudo num único array\nconst arrayPrincipal = [\n  ...labelsChatwoot,\n  ...interesses,\n  ...servicos,\n];\n\n// 4. Define o que deve ser excluído\nconst arrayExclusao = [\n  \"entrega_realizada\",\n  \"envio_proposta_ou_link\",\n  \"fechado_aguardando_pagamento\",\n  \"follow_up_negociacao\",\n  \"novo_contato\",\n  \"pagamento_confirmado\",\n  \"pos_venda\",\n  \"validacao_qualificacao\"\n];\n\n// 5. Filtra removendo o que está em arrayExclusao\nlet filtrado = arrayPrincipal.filter(item => !arrayExclusao.includes(item));\n\n// 6. Adiciona a etapa atual do funil\nfiltrado.push(\n  $('dataClassifier').first().json.output.etapa_funil\n    .toLowerCase()          // deixa tudo em minúsculo\n    .normalize('NFD')       // separa letras dos acentos\n    .replace(/\\p{M}/gu, '') // remove todos os acentos, deixando só as letras\n);\n\n// 7. Garante valores únicos\nfiltrado = Array.from(new Set(filtrado));\n\n// 8. Grava de volta em labels\n$json.labels = filtrado;\n\nreturn $input.item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4864,1824],"id":"a663b1b8-007e-47ab-95b2-16a8169795a2","name":"processAllLabels"},{"parameters":{"operation":"update","databaseId":35889,"tableId":529224,"rowId":"={{ $('appendLead').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":4405410,"fieldValue":"={{ $json.output.etapa_funil\n     .toLowerCase()          // transforme tudo em minúsculo\n     .normalize('NFD')       // separa letras dos acentos\n     .replace(/\\p{M}/gu, '') // elimina todos os acentos, deixando só as letras\n}}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[4864,1664],"id":"2974f092-cd0f-46fa-bbdd-769830c42928","name":"updateBaserowStatus"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.nome.isNotEmpty() && $json.output['e-mail'].isNotEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"e4a03eea-d47b-4b30-bf44-c3c552d3067e"}],"combinator":"and"},"renameOutput":true,"outputKey":"identificado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c4b7e81-8960-4fd8-8b31-e83a33e8bfd9","leftValue":"={{ $json.output.interesses }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"interesses"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf071cde-2e5d-435d-989f-96a436d8c0a2","leftValue":"={{ $json.output.servicos }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"servicos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b1368b-8abe-4c37-9cb5-c039cccb13de","leftValue":"={{ $json.output.etapa_funil }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"etapa_funil"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ac6196a-40f9-4e27-8f56-c46eab913688","leftValue":"={{ $json.output.interesses.isNotEmpty() || $json.output.servicos.isNotEmpty() || $json.output.etapa_funil.isNotEmpty()}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"atualiza_tags"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4592,1472],"id":"b04ce5e6-e453-41f3-bf4e-8b9dc960bb79","name":"dataClassifier"},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1168,1920],"id":"69812b67-1a58-42ca-85b0-7de147b8d265","name":"setDateTime"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('setVariables').item.json.memory }}","sessionTTL":900,"contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[2704,2080],"id":"1c75b205-9d47-4fb7-b6cc-7165ac456bc8","name":"memoryConversation"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2528,2080],"id":"b882af8f-93b6-4900-8903-8e54a7807988","name":"modelConversation"},{"parameters":{"assignments":{"assignments":[{"id":"5c8bd00f-f34f-40fe-807f-74787d882d92","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2912,1872],"id":"55962e70-2182-4c2c-9e03-b256299c4f48","name":"setOutput"},{"parameters":{"method":"POST","url":"={{ $('setVariables').item.json.baseUrl }}/api/v1/accounts/{{ $('payloadResume').item.json.account_id }}/conversations/{{ $('payloadResume').item.json.conversation_id }}/messages","authentication":"***REDACTED***","genericAuthType":"***REDACTED***","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json.output }}"},{"name":"message_type","value":"outgoing"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3104,1872],"id":"121e4654-519e-42cc-8417-dca9a51dd5d4","name":"sendChatwootMessage"},{"parameters":{"operation":"delete","key":"=inputMessage-{{ $('webhookDataChatwoot').item.json.body.conversation.messages[0].conversation_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2912,2064],"id":"bcbbb94b-9bfd-485b-9bae-1330b180f830","name":"resetMessageAgregated"},{"parameters":{"promptType":"define","text":"={{ $json.content }}","options":{"systemMessage":"=agente_whatsapp:\n  nome: \"Agente Talk\"\n  objetivo: \"Classificar leads interessados em serviços de instalação ou consultoria para n8n, Chatwoot, Evolution API e direcionar para o estágio adequado do funil de vendas.\"\n  tom: \"amigável, direto, profissional\"\n  dados_contato: {{ $('payloadResume').item.json.contact.toJsonString() }}\n  modo_de_Atendimento:\n    - seja gentil e proativo\n    - faça apenas umas pergunta por vez\n    - sua primeira interação deve ser ativa já algo como: estamos felizes que vocÊ entoru em contato e estamos dispostos a te ajudar com sua infraestrutura de marketing e vendas.\n  etapas_funil:\n    - nome: \"novo_contato\"\n      gatilhos:\n        - lead inicia conversa\n      ações:\n        - solicitar: nome, e-mail\n        - perguntar: \"Como você nos conheceu?\"\n        - perguntar: \"Você está buscando ajuda com instalação ou consultoria?\"\n      proximo_estagio: \"validacao_qualificacao\"\n\n    - nome: \"validacao_qualificacao\"\n      gatilhos:\n        - lead respondeu interesse inicial\n      ações:\n        - perguntar: \"Qual dos serviços você precisa? (n8n, Chatwoot, Evolution API, Consultoria)\"\n        - perguntar: \"Você já tentou instalar por conta própria?\"\n        - perguntar: \"Já possui um servidor VPS ou domínio próprio?\"\n        - perguntar: \"Esse projeto é urgente?\"\n      critérios_avançar:\n        - lead tem necessidade clara\n        - lead forneceu dados básicos\n        - lead demonstrou intenção de contratação\n      proximo_estagio: \"envio_proposta_ou_link\"\n\n    - nome: \"envio_proposta_ou_link\"\n      gatilhos:\n        - lead qualificado\n      ações:\n        - caso_consultoria: \"Enviar proposta com escopo e valor por hora\"\n        - caso_instalacao: \"Enviar link de contratação com detalhes do serviço\"\n        - orientar: \"Após o pagamento, nossa equipe técnica entra em contato para agendamento\"\n\n    - valores_consultoria:\n        - consultoria_por_hora: \"R$ 250,00\"\n        - pacote_10_horas: \"R$ 2.000,00\"\n        - você primeiro oferece 2 horas de consultoria para diagnóstico e um onborading de como será resolvido, mas o o cliente pode já contratar mais horas se for da vnotade dele.\n    \n      proximo_estagio: \"follow_up_negociacao\"\n\n    - nome: \"follow_up_negociacao\"\n      gatilhos:\n        - proposta enviada mas sem resposta\n      ações:\n        - enviar lembrete amigável\n        - perguntar se há dúvidas técnicas\n        - compartilhar: depoimentos e cases de sucesso\n\n    - nome: \"fechado_aguardando_pagamento\"\n      gatilhos:\n        - lead aceitou proposta mas não pagou\n      ações:\n        - reforçar importância do agendamento\n        - reenviar link de pagamento\n        - solicitar comprovante (se necessário)\n\n    - nome: \"pagamento_confirmado\"\n      gatilhos:\n        - pagamento confirmado\n      ações:\n        - separar por tipo de serviço\n        - criar tarefa técnica ou agendamento\n        - avisar equipe técnica\n\n    - nome: \"entrega_realizada\"\n      gatilhos:\n        - serviço entregue\n      ações:\n        - enviar acesso ou relatório final\n        - perguntar: \"Ficou tudo certo? Podemos usar seu feedback como um case?\"\n        - marcar projeto como concluído\n\n    - nome: \"pos_venda\"\n      gatilhos:\n        - entrega finalizada com sucesso\n      ações:\n        - oferecer manutenção ou plano de suporte\n        - convidar para comunidade\n        - incluir lead na newsletter\n\n  saída_desejada: \n    formato: JSON\n    exemplo:\n      {\n        \"nome\": \"João\",\n        \"telefone\": \"+55 11 99999-9999\",\n        \"interesse\": \"instalação\",\n        \"serviço\": \"Chatwoot\",\n        \"urgência\": \"alta\",\n        \"etapa_funil\": \"envio_proposta_ou_link\",\n        \"resposta\" : \"Olá bom dia tudo bem?\" \n      }\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2560,1872],"id":"1d801edf-1766-4556-bfa0-98d270142347","name":"agentConversation"},{"parameters":{"databaseId":35889,"tableId":529224,"limit":1,"additionalOptions":{"filters":{"fields":[{"field":4405423,"value":"={{ $('payloadResume').item.json.conversation_id }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2384,1024],"id":"1b286326-d7dd-434c-a1a2-48e9e34e9112","name":"getBaserowLead","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04a27288-4ab7-44fb-bfef-adb478190619","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2544,1024],"id":"67c59560-f62d-4e02-bb7f-12a8b6432fe6","name":"testExist"},{"parameters":{"operation":"create","databaseId":35889,"tableId":529224,"fieldsUi":{"fieldValues":[{"fieldId":4405423,"fieldValue":"={{ $('payloadResume').item.json.conversation_id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[2800,912],"id":"9eeb099a-f5f4-4140-8166-7d6e7b807cb8","name":"createBaserowLead"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3040,1024],"id":"2d6a5784-3113-4e63-8c57-af56ff4c897e","name":"appendLead"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[3600,1104],"id":"78369cd8-c4c3-4777-aac1-d99a85a60579","name":"chatMemory"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('setVariables').first().json.memory }}","sessionTTL":900,"contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[3584,1312],"id":"2cf50bae-e771-4e6e-aa16-55a1a53fe047","name":"memoryChat"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3952,1312],"id":"ff77a51f-461a-430f-ab74-7b72b2478efd","name":"modelChat"},{"parameters":{"options":{"prompt":"=Instructions:\n- Para o campo \"serviços\": converta tudo para minúsculas, remova o sufixo \" api\" e transforme qualquer variação de \"evolution api\" (ou \"evolution\") em \"evolution\".\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[4064,1312],"id":"059f43de-cfb8-436a-82a8-70bdf21df54b","name":"outputParser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4048,1472],"id":"6799d864-aecc-4f4a-8914-555d49ed48f7","name":"modelParser"},{"parameters":{"jsonSchemaExample":"{\n\"nome\": \"\",\n\"e-mail\": \"\",\n\"interesses\": [\"\"],\n\"servicos\": [\"\"],\n\"urgência\": \"\",\n\"etapa_funil\": \"\",\n\"score\"  : 0\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4208,1472],"id":"2e9ffb54-e4ee-449f-8a77-7766497f7bf2","name":"structuredOutput"},{"parameters":{"content":"# 🗂️ Sincronização de dados do lead no Baserow e Chatwoot\n\nEste fluxo recebe as saídas do classifier, atualiza os campos do lead no Baserow (nome, e-mail, interesses, serviços e etapa do funil), agrega as labels e, por fim, sincroniza tudo com o contato e a conversa no Chatwoot.\n\n1. 🎯 **dataClassifier**  \n   - Classifica as flags de saída (`identificado`, `interesses`, `servicos`, `etapa_funil`, `atualiza_tags`) a partir do JSON `output`.\n2. ✏️ **getContactData**  \n   - Extrai `output.nome` e `output['e-mail']` para as variáveis `nome` e `email`.\n3. 💾 **updateBaserowLead**  \n   - Atualiza a linha do lead no Baserow (nome e e-mail) usando o `rowId` de `appendLead`.\n4. 🔄 **updateChatwootContact**  \n   - Envia um PUT para o endpoint de contatos do Chatwoot, atualizando nome e e-mail.\n5. 📝 **updateBaserowInterests**  \n   - Atualiza no Baserow o campo “interesses” com o array de interesses (lowercase, separado por vírgula).\n6. 🛠️ **updateBaserowServices**  \n   - Atualiza no Baserow o campo “serviços” com o array de serviços (lowercase, sem sufixo “ api”).\n7. 🚦 **updateBaserowStatus**  \n   - Atualiza no Baserow o campo “status” (etapa_funil) em lowercase.\n8. 🔍 **processAllLabels**  \n   - Agrega as labels da conversa do Chatwoot, interesses e serviços, filtra tags indesejadas, adiciona a etapa atual e gera um array único de labels.\n9. 🔔 **updateChatwootLabels**  \n   - Envia um POST para aplicar as labels processadas na conversa do Chatwoot.\n10. 🏁 **endProcessing**  \n     - Encerra o processamento dos dados do fluxo.\n","height":1820,"width":1240,"color":7},"type":"n8n-nodes-base.stickyNote","position":[4544,480],"typeVersion":1,"id":"5a311206-99dc-4bd1-8bc3-1c83e90fbe16","name":"Sticky Note6"},{"parameters":{"content":"```\n                                                                                                                                                                                  db                                                                                 88                         db                                                    88  88                                                                          ad88888ba   88888888ba,    88888888ba   \n                                                                                                                                                                                 d88b                                                ,d                              88                        d88b          ,d                                       88  \"\"                                                 ,d                      d8\"     \"8b  88      `\"8b   88      \"8b  \n                                                                                                                                                                                d8'`8b                                               88                              88                       d8'`8b         88                                       88                                                     88                      Y8,          88        `8b  88      ,8P  \n                                                                                                                                                                               d8'  `8b       ,adPPYb,d8   ,adPPYba,  8b,dPPYba,   MM88MMM   ,adPPYba,       ,adPPYb,88   ,adPPYba,          d8'  `8b      MM88MMM   ,adPPYba,  8b,dPPYba,    ,adPPYb,88  88  88,dPYba,,adPYba,    ,adPPYba,  8b,dPPYba,   MM88MMM   ,adPPYba,       `Y8aaaaa,    88         88  88aaaaaa8P'  \n                                                                                                                                                                              d8YaaaaY8b     a8\"    `Y88  a8P_____88  88P'   `\"8a    88     a8P_____88      a8\"    `Y88  a8P_____88         d8YaaaaY8b       88     a8P_____88  88P'   `\"8a  a8\"    `Y88  88  88P'   \"88\"    \"8a  a8P_____88  88P'   `\"8a    88     a8\"     \"8a        `\"\"\"\"\"8b,  88         88  88\"\"\"\"88'    \n                                                                                                                                                                             d8\"\"\"\"\"\"\"\"8b    8b       88  8PP\"\"\"\"\"\"\"  88       88    88     8PP\"\"\"\"\"\"\"      8b       88  8PP\"\"\"\"\"\"\"        d8\"\"\"\"\"\"\"\"8b      88     8PP\"\"\"\"\"\"\"  88       88  8b       88  88  88      88      88  8PP\"\"\"\"\"\"\"  88       88    88     8b       d8              `8b  88         8P  88    `8b    \n                                                                                                                                                                            d8'        `8b   \"8a,   ,d88  \"8b,   ,aa  88       88    88,    \"8b,   ,aa      \"8a,   ,d88  \"8b,   ,aa       d8'        `8b     88,    \"8b,   ,aa  88       88  \"8a,   ,d88  88  88      88      88  \"8b,   ,aa  88       88    88,    \"8a,   ,a8\"      Y8a     a8P  88      .a8P   88     `8b   \n                                                                                                                                                                           d8'          `8b   `\"YbbdP\"Y8   `\"Ybbd8\"'  88       88    \"Y888   `\"Ybbd8\"'       `\"8bbdP\"Y8   `\"Ybbd8\"'      d8'          `8b    \"Y888   `\"Ybbd8\"'  88       88   `\"8bbdP\"Y8  88  88      88      88   `\"Ybbd8\"'  88       88    \"Y888   `\"YbbdP\"'        \"Y88888P\"   88888888Y\"'    88      `8b  \n                                                                                                                                                                                              aa,    ,88                                                                                                                                                                                                                                                                      \n                                                                                                                                                                                               \"Y8bbdP\"\n```","height":220,"width":5720},"type":"n8n-nodes-base.stickyNote","position":[64,224],"typeVersion":1,"id":"bd9f6d80-28b2-46b1-9f38-66fa80362f87","name":"Sticky Note7"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3104,2064],"id":"f3a6e2fc-99df-40b0-a1ad-d581e00b29c6","name":"endConversation"},{"parameters":{"content":"# 🛠️ Configuração Inicial desse Workflow\nAntes de executar o workflow, preencha as variáveis e credenciais abaixo:\n---\n### 🌐 Variáveis de Ambiente\n- **`baseUrl`**: URL pública da instância Chatwoot  \n  _Ex.:_ `https://chat.seudominio.com`\n- **`memory`**: Prefixo de chave para sessão no Redis  \n  _Ex.:_ `session:[conversation_id]`\n- **`debounce`**: Tempo de debounce em segundos  \n  _Ex.:_ `30`\n\n### 🔗 Webhook Chatwoot\n- **webhookDataChatwoot**  \n\n### 🗄️ Credenciais Redis\n- **Overview / Credentials**\n\n### 📊 Credenciais Baserow\n- **Overview / Credentials**\n\n### 🔐 Credenciais Chatwoot\n- **Overview / Credentials**\n\n### 🧠 Credenciais OpenAI\n- **Overview / Credentials**\n\n### ✍️ Autor / Contato\n- **Nome**: Promovaweb\n- **E-mail**: contato@promovaweb.com\n- **WhatsApp**: +55 (11) 9 7671-5006\n","height":760,"width":1020,"color":5},"type":"n8n-nodes-base.stickyNote","position":[64,480],"typeVersion":1,"id":"5316bec2-6bbc-4545-9155-002642618801","name":"Sticky Note9"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5584,1504],"id":"e48df99c-96a1-4ce8-b60b-1fd1d2582b7d","name":"endProcessing"},{"parameters":{"promptType":"define","text":"=agente_whatsapp:\n  nome: \"Agente Talk\"\n  objetivo: \"Classificar leads interessados em serviços de instalação ou consultoria para n8n, Chatwoot, Evolution API e direcionar para o estágio adequado do funil de vendas.\"\n  tom: \"amigável, direto, profissional\"\n  dados_contato: [Execute node ‘payloadResume’ for preview]\n  modo_de_Atendimento:\n    - seja gentil e proativo\n    - faça apenas umas pergunta por vez\n    - sua primeira interação deve ser ativa já algo como: estamos felizes que vocÊ entoru em contato e estamos dispostos a te ajudar com sua infraestrutura de marketing e vendas.\n  etapas_funil:\n    - nome: \"novo_contato\"\n      gatilhos:\n        - lead inicia conversa\n      ações:\n        - solicitar: nome, e-mail\n        - perguntar: \"Como você nos conheceu?\"\n        - perguntar: \"Você está buscando ajuda com instalação ou consultoria?\"\n      proximo_estagio: \"validacao_qualificacao\"\n\n    - nome: \"validacao_qualificacao\"\n      gatilhos:\n        - lead respondeu interesse inicial\n      ações:\n        - perguntar: \"Qual dos serviços você precisa? (n8n, chatwoot, Evolution API, Consultoria)\"\n        - perguntar: \"Você já tentou instalar por conta própria?\"\n        - perguntar: \"Já possui um servidor VPS ou domínio próprio?\"\n        - perguntar: \"Esse projeto é urgente?\"\n      critérios_avançar:\n        - lead tem necessidade clara\n        - lead forneceu dados básicos\n        - lead demonstrou intenção de contratação\n      proximo_estagio: \"envio_proposta_ou_link\"\n\n    - nome: \"envio_proposta_ou_link\"\n      gatilhos:\n        - lead qualificado\n      ações:\n        - caso_consultoria: \"Enviar proposta com escopo e valor por hora\"\n        - caso_instalacao: \"Enviar link de contratação com detalhes do serviço\"\n        - orientar: \"Após o pagamento, nossa equipe técnica entra em contato para agendamento\"\n\n    - valores_consultoria:\n        - consultoria_por_hora: \"R$ 250,00\"\n        - pacote_10_horas: \"R$ 2.000,00\"\n        - você primeiro oferece 2 horas de consultoria para diagnóstico e um onborading de como será resolvido, mas o o cliente pode já contratar mais horas se for da vnotade dele.\n    \n      proximo_estagio: \"follow_up_negociacao\"\n\n    - nome: \"follow_up_negociacao\"\n      gatilhos:\n        - proposta enviada mas sem resposta\n      ações:\n        - enviar lembrete amigável\n        - perguntar se há dúvidas técnicas\n        - compartilhar: depoimentos e cases de sucesso\n\n    - nome: \"fechado_aguardando_pagamento\"\n      gatilhos:\n        - lead aceitou proposta mas não pagou\n      ações:\n        - reforçar importância do agendamento\n        - reenviar link de pagamento\n        - solicitar comprovante (se necessário)\n\n    - nome: \"pagamento_confirmado\"\n      gatilhos:\n        - pagamento confirmado\n      ações:\n        - separar por tipo de serviço\n        - criar tarefa técnica ou agendamento\n        - avisar equipe técnica\n\n    - nome: \"entrega_realizada\"\n      gatilhos:\n        - serviço entregue\n      ações:\n        - enviar acesso ou relatório final\n        - perguntar: \"Ficou tudo certo? Podemos usar seu feedback como um case?\"\n        - marcar projeto como concluído\n\n    - nome: \"pos_venda\"\n      gatilhos:\n        - entrega finalizada com sucesso\n      ações:\n        - oferecer manutenção ou plano de suporte\n        - convidar para comunidade\n        - incluir lead na newsletter\n\n  saída_desejada: \n    formato: JSON\n    exemplo:\n      {\n        \"nome\": \"João\",\n        \"telefone\": \"+55 11 99999-9999\",\n        \"interesse\": \"instalação\",\n        \"serviço\": \"chatwoot\",\n        \"urgência\": \"alta\",\n        \"etapa_funil\": \"envio_proposta_ou_link\",\n        \"resposta\" : \"Olá bom dia tudo bem?\" \n      }\n   instrução extra com relação a saida_Desejada:\n     - quando for montar o array de serviços no caso da 'evolution API' preciso que sempre nunca use o nome comercial \"Evolution API\" e somente use \"evolution\"\n     - o cliente já demonstrou explicitamente o interesse dele? Se é consultoria ou instalação? Se não o array de interesses deve ir vazio. Só deve haver atributos no array interesses se o cliente escolher explicitamente uma opção ou as duas.\n     - o cliente já demonstrou explicitamente os serviços que ele precisa? se ele não falou você não deve pressupor e colocar na saída do array de serviços, serviços dos quais o cliente não mencionou. A saída neste caso deve ser vazia.","hasOutputParser":true,"messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","message":"={{ $json.messages.toJsonString() }}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[3952,1104],"id":"dddefab2-e779-4f40-9f27-437e04e4fa5e","name":"funnelStageChain"}],"connections":{"setCurrentDate":{"main":[[{"node":"getMessage","type":"main","index":0}]]},"getMessage":{"main":[[{"node":"messageInsert","type":"main","index":0}]]},"messageInsert":{"main":[[{"node":"messageAgregated","type":"main","index":0}]]},"getFutureDate":{"main":[[{"node":"confereFutureTime","type":"main","index":0}]]},"messageAgregated":{"main":[[{"node":"tempoEspera","type":"main","index":0}]]},"confereFutureTime":{"main":[[{"node":"getBaserowLead","type":"main","index":0},{"node":"contentMesssage","type":"main","index":0}]]},"tempoEspera":{"main":[[{"node":"getFutureDate","type":"main","index":0}]]},"contentMesssage":{"main":[[{"node":"agentConversation","type":"main","index":0}]]},"payloadResume":{"main":[[{"node":"filterFromMe","type":"main","index":0}]]},"filterFromMe":{"main":[[{"node":"setVariables","type":"main","index":0}]]},"resetRedisMemory":{"main":[[{"node":"findBaserowLead","type":"main","index":0}]]},"deleteBaserowLead":{"main":[[{"node":"sendChatwootMsgReset","type":"main","index":0}]]},"removeChatwotContact":{"main":[[{"node":"endCleaningOperation","type":"main","index":0}]]},"sendChatwootMsgReset":{"main":[[{"node":"removeChatwotContact","type":"main","index":0}]]},"findBaserowLead":{"main":[[{"node":"deleteBaserowLead","type":"main","index":0}]]},"messageReset":{"main":[[{"node":"resetRedisMemory","type":"main","index":0}],[{"node":"setDateTime","type":"main","index":0}]]},"webhookDataChatwoot":{"main":[[{"node":"payloadResume","type":"main","index":0}]]},"setVariables":{"main":[[{"node":"messageReset","type":"main","index":0}]]},"updateBaserowLead":{"main":[[{"node":"updateChatwootContact","type":"main","index":0}]]},"getContactData":{"main":[[{"node":"updateBaserowLead","type":"main","index":0}]]},"processAllLabels":{"main":[[{"node":"updateChatwootLabels","type":"main","index":0}]]},"updateBaserowServices":{"main":[[{"node":"endProcessing","type":"main","index":0}]]},"updateBaserowInterests":{"main":[[{"node":"endProcessing","type":"main","index":0}]]},"updateBaserowStatus":{"main":[[{"node":"endProcessing","type":"main","index":0}]]},"dataClassifier":{"main":[[{"node":"getContactData","type":"main","index":0}],[{"node":"updateBaserowInterests","type":"main","index":0}],[{"node":"updateBaserowServices","type":"main","index":0}],[{"node":"updateBaserowStatus","type":"main","index":0}],[{"node":"processAllLabels","type":"main","index":0}]]},"setDateTime":{"main":[[{"node":"setCurrentDate","type":"main","index":0}]]},"memoryConversation":{"ai_memory":[[{"node":"agentConversation","type":"ai_memory","index":0}]]},"modelConversation":{"ai_languageModel":[[{"node":"agentConversation","type":"ai_languageModel","index":0}]]},"setOutput":{"main":[[{"node":"sendChatwootMessage","type":"main","index":0}]]},"sendChatwootMessage":{"main":[[{"node":"resetMessageAgregated","type":"main","index":0}]]},"agentConversation":{"main":[[{"node":"setOutput","type":"main","index":0}]]},"getBaserowLead":{"main":[[{"node":"testExist","type":"main","index":0}]]},"testExist":{"main":[[{"node":"createBaserowLead","type":"main","index":0}],[{"node":"appendLead","type":"main","index":1}]]},"createBaserowLead":{"main":[[{"node":"appendLead","type":"main","index":0}]]},"appendLead":{"main":[[{"node":"chatMemory","type":"main","index":0}]]},"chatMemory":{"main":[[{"node":"funnelStageChain","type":"main","index":0}]]},"memoryChat":{"ai_memory":[[{"node":"chatMemory","type":"ai_memory","index":0}]]},"modelChat":{"ai_languageModel":[[{"node":"funnelStageChain","type":"ai_languageModel","index":0}]]},"outputParser":{"ai_outputParser":[[{"node":"funnelStageChain","type":"ai_outputParser","index":0}]]},"modelParser":{"ai_languageModel":[[{"node":"outputParser","type":"ai_languageModel","index":0}]]},"structuredOutput":{"ai_outputParser":[[{"node":"outputParser","type":"ai_outputParser","index":0}]]},"resetMessageAgregated":{"main":[[{"node":"endConversation","type":"main","index":0}]]},"updateChatwootLabels":{"main":[[{"node":"endProcessing","type":"main","index":0}]]},"updateChatwootContact":{"main":[[{"node":"endProcessing","type":"main","index":0}]]},"funnelStageChain":{"main":[[{"node":"dataClassifier","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":600,"availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"07403912-2127-43d0-b06f-d31bcb1a2d68","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-06-22T15:27:10.804Z","createdAt":"2025-06-22T15:27:10.804Z","role":"workflow:owner","workflowId":"UlolsqS6Xde13BUJ","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[]}