teste-zap-to-rabbitmq-0G3kZkCB5gls0jKJ.json
{"updatedAt":"2025-06-18T14:59:42.676Z","createdAt":"2025-03-16T10:07:58.701Z","id":"0G3kZkCB5gls0jKJ","name":"Teste Zap to RabbitMQ","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"9a447db9-8ac0-4dab-9389-00d04665c945","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"d112fbf3-7ad5-422f-bf77-bed3892aee9d","name":"Webhook","webhookId":"9a447db9-8ac0-4dab-9389-00d04665c945"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e3d25254-6432-4509-b56e-3aa3359f09e8","leftValue":"={{ $json.body.event }}","rightValue":"messages.upsert","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[200,0],"id":"f430ec21-5209-4693-922f-32af265fbce7","name":"Filter"},{"parameters":{"queue":"testes_atendimento.webhook","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]}}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[420,0],"id":"385b55ef-6fbc-4044-a889-11c31bca8879","name":"RabbitMQ","credentials":null}],"connections":{"Webhook":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bded26d4-8328-47fb-81b1-bc799171af68","triggerCount":1,"shared":[{"updatedAt":"2025-03-16T10:07:58.701Z","createdAt":"2025-03-16T10:07:58.701Z","role":"workflow:owner","workflowId":"0G3kZkCB5gls0jKJ","projectId":"NLlHufgAcMM6m1Lv"}],"tags":[]}