teste-leads-qualification-report-to-trello-válido-UBNMDfHbD2tiG0um.json
{"updatedAt":"2026-05-28T17:24:17.455Z","createdAt":"2025-03-10T17:03:59.619Z","id":"UBNMDfHbD2tiG0um","name":"Teste Leads Qualification Report to Trello Válido","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"triggerField":"lastModifiedTime","additionalFields":{}},"id":"1b5f77a6-6c69-49d1-a45f-b1c2db88c6e7","name":"Airtable Trigger Teste Leads Calendly Qualification","type":"n8n-nodes-base.airtableTrigger","typeVersion":1.1,"position":[96,48],"credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"15d2e2b7-2cec-40e3-be3b-c4d43fdcb0fa","leftValue":"={{ $json.fields.resposta6 }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1e43eb47-7e88-4c14-8fa2-79a0d15c2fcf","name":"If - Lead Respondeu Perguntas","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,384]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"adf06fab-9555-4ee7-b32a-7e83d9a5f9ab","leftValue":"={{ $json.fields.lead_Report }}","rightValue":"","operator":{"type":"string","operation":"notExists"}}],"combinator":"and"},"options":{}},"id":"12bdb98c-a7ae-4c4a-b6f9-86c13fa2e50d","name":"If - Lead Report Necessário","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,144]},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":""},"messages":{"values":[{}]},"options":{"temperature":1}},"id":"a5aad66c-0de1-4eb9-b3e4-e0f313acec94","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[784,-48],"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"f0aefea3-4732-4b7e-868b-15fdb68c35e9","name":"lead_Report","value":"={{ $json.message.content.replace(/\\*\\*/g, '') }}","type":"string"}]},"options":{}},"id":"a36ecb2e-0ff2-4d07-9d5e-a0e1b9bb3e2b","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,64]},{"parameters":{"authentication":"***REDACTED***","messageType":"text","message":"=🤖 **Report Gerado para o Lead:** {{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.nome }}\n\n📊 **Análise de Qualificação:**\n\n{{ $json.lead_Report }}","additionalFields":{"number":"351913095597"},"options":{}},"id":"fd9cee31-c56f-4e53-81fa-2f6a1faa1e33","name":"Envia mensagem Zap para o Expert","type":"n8n-nodes-base.evolutionApi","typeVersion":1,"position":[1360,64],"credentials":null},{"parameters":{"text":"=🤖 **Report Gerado para o Lead:** {{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.nome }}\n\n📊 **Análise de Qualificação:**\n\n{{ $('Edit Fields').item.json.lead_Report }}","cardId":{"__rl":true,"value":"={{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.fields.trelloCardId }}","mode":"id"}},"id":"8743cb88-7c74-473c-89a3-f7f7607d77d7","name":"Trello Create Comment","type":"n8n-nodes-base.trello","typeVersion":3,"position":[1584,64],"credentials":null},{"parameters":{"operation":"update","id":"={{ $('Airtable Trigger Teste Leads Calendly Qualification').item.json.id }}","options":{"bulkSize":10,"ignoreFields":"","useFieldNames":true},"fields":{"fields":[{"fieldId":"lead_Report","fieldValue":"={{ $('Edit Fields').item.json.lead_Report }}"},{"fieldId":"tag","fieldValue":"Conversa Finalizada"}]}},"id":"9d4c4bcd-dddf-4b96-889e-1c2ddfd53b4e","name":"Airtable - Update Tag e Lead Report","type":"n8n-nodes-base.airtable","typeVersion":2.2,"position":[1808,64],"credentials":null},{"parameters":{},"id":"6eb71a84-5f0e-442b-8a1e-81b7e4854bfb","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,320]}],"connections":{"Airtable Trigger Teste Leads Calendly Qualification":{"main":[[{"node":"If - Lead Respondeu Perguntas","type":"main","index":0}]]},"If - Lead Respondeu Perguntas":{"main":[[{"node":"If - Lead Report Necessário","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If - Lead Report Necessário":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Envia mensagem Zap para o Expert","type":"main","index":0}]]},"Envia mensagem Zap para o Expert":{"main":[[{"node":"Trello Create Comment","type":"main","index":0}]]},"Trello Create Comment":{"main":[[{"node":"Airtable - Update Tag e Lead Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"RBvmMczEexEnf0Ul","availableInMCP":false},"staticData":{"node:Airtable Trigger Teste Leads Calendly Qualification":{"lastTimeChecked":"2026-01-05T09:09:17Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7283f94-770e-432f-87cd-0697e6a6dd87","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2025-03-10T17:03:59.619Z","createdAt":"2025-03-10T17:03:59.619Z","role":"workflow:owner","workflowId":"UBNMDfHbD2tiG0um","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[]}