teste-zap-lead-qualification-and-group-management-lbP5iq38rRwWdr8b.json
{"updatedAt":"2025-12-27T18:05:39.235Z","createdAt":"2025-02-25T14:52:08.618Z","id":"lbP5iq38rRwWdr8b","name":"Teste Zap Lead Qualification and Group Management","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"search","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblgbOzJKexBFMP0s","mode":"list","cachedResultName":"Group Manager","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblgbOzJKexBFMP0s"},"filterByFormula":"={Name} = '{{ $('Webhook').item.json.body.chatName }}'","options":{}},"id":"f86dcee0-470f-41ad-a45a-87e9e8280e27","name":"Airtable - Search Group","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-6000,3696],"alwaysOutputData":true,"credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"abdc51b1-c595-49d4-8bcb-f47ed719dec4","leftValue":"={{ !!Object.keys($node[\"Airtable - Search Group\"].data).length }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"74d6a126-9d92-481b-9adf-bfaf99cbc703","name":"If - Group in List","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5632,3680]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc590144-e352-4b1b-9530-1541496352d8","leftValue":"={{ $('Airtable - Search Group').item.json.off_Bot }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"fc47831f-2e02-4076-a165-782783782907","name":"If - On-Bot Group","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5824,3696]},{"parameters":{},"id":"3f5f6b03-59a5-4d1c-b41d-6c4578a3ce74","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5632,3840]},{"parameters":{"assignments":{"assignments":[{"id":"c9521597-3e54-43f1-b90d-9d2d8872cb2b","name":"threadIDVariable","value":"={{ $json.thread_id_openai }}","type":"string"}]},"options":{}},"id":"2c4bba33-2130-4c4f-bcbd-9d24a3312047","name":"ThreadID","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1776,4624],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"137c0347-2f62-4239-946f-98fb99b00b90","leftValue":"={{ String($('RabbitMQ Trigger').item.json.content.body.data.key.remoteJid).toLowerCase() }}","rightValue":"g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"5964b315-adc7-4a84-9eee-a75137098f06","name":"If - Is Group","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6624,4624]},{"parameters":{},"id":"eacb9ee6-11c2-4e38-937f-4512ecb442d2","name":"No Operation, do nothing2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5392,3584]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"filterByFormula":"=RIGHT({Telefone}, 8) = {{ $('Normalizacao').item.json.user_phone.slice(-8) }}","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Created","direction":"desc"}]}},"id":"0dba8041-6986-4577-a8e0-3e5d2e72e87a","name":"Airtable - Search User in Leads","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-3600,4672],"alwaysOutputData":true,"credentials":null,"onError":"continueRegularOutput"},{"parameters":{},"id":"d844832e-f8f3-47be-93ee-240c65e0a187","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2368,5488]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"off_Bot":false,"Airtable ID ":"={{ $('Airtable - Search User in Leads Autobot0').item.json['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":true},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"c93d792b-d262-4566-82c5-f312ed188180","name":"Airtable - Update Bot ON Leads","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-5648,4160],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"off_Bot":true,"Airtable ID ":"={{ $('Airtable - Search User in Leads Autobot0').item.json['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":true},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"b1eb1314-654d-41f6-828e-2a027f5e4525","name":"Airtable - Update Bot OFF Leads","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-5648,4464],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.message_object_textmessage }}","rightValue":"#on","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"#on"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"dcb23115-2ee0-4eb5-94f6-c6b3bc0e3ceb","leftValue":"={{ $('Normalizacao').item.json.message_object_textmessage }}","rightValue":"#off","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"#off"}]},"options":{}},"id":"ceeb78c8-0f97-4a99-a35f-ac7719ca264b","name":"Verifica Comando","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-5824,4320]},{"parameters":{},"id":"29b607d8-280a-4d45-981d-a60ef5494e67","name":"No Operation, do nothing8","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5392,3760]},{"parameters":{"content":"## Grupos","height":541.235811843933,"width":1026.8541208542676},"id":"cdb88419-1373-4f6f-b655-2bf1cf82bc15","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-6128,3520],"typeVersion":1},{"parameters":{"content":"## Ativar/Desativar Bot","height":732.4140750421333,"width":805.1119559794586},"id":"f2b7c204-8b8c-49d9-b758-c1f80271dea9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-6128,4128],"typeVersion":1},{"parameters":{"content":"## Gerir Evento","height":732,"width":865},"id":"87bcdb89-0f34-4606-b6c9-6d510470aae0","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-3664,4480],"typeVersion":1},{"parameters":{"content":"## Usuário fora da lista - Acionar Chatbase","height":732.4140750421333,"width":1418.527043334228},"id":"779ce8bd-e030-4075-a21b-303fc2768847","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-2656,4944],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc590144-e352-4b1b-9530-1541496352d8","leftValue":"={{ $('Airtable - Search User in Leads').item.json.off_Bot }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"620a567e-35a1-485c-8ac3-cfb8c2e85174","name":"If - Off-Bot1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3200,5072]},{"parameters":{},"id":"c9735705-6749-4cdc-8808-e3aa84e702ed","name":"No Operation, do nothing6","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3024,4880]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"4f1d50dc-feaf-43f6-aab0-77b78c7106ea","leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"14514587-a483-423a-a753-c18e644b1ba7","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"dfe9299d-468d-4c6b-8904-3cf5bbe62ef4","name":"If - Queued or In progress?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1200,4592]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cfb7aaf8-2c1a-43aa-ba9e-8b371d86f04d","leftValue":"={{ $('Get Run Status').last().json.status }}","rightValue":"requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"77c4f511-3edc-4bc5-985b-db69db861575","name":"If - Requires Action?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[1440,4608]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc590144-e352-4b1b-9530-1541496352d8","leftValue":"={{ $('Airtable - Update concat_Message').item.json.off_Bot }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4c938326-7795-4b0a-a7c4-3cc3240c92ba","name":"If - Off-Bot2","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,4560]},{"parameters":{},"id":"dff8a7ef-eaf4-4da1-b495-e46d38642f87","name":"Queued Messages1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[240,4800]},{"parameters":{},"id":"80d4e9d1-bc92-43b5-9694-05de0d583e41","name":"No Operation, do nothing4","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-736,3904]},{"parameters":{},"id":"b661b812-d062-43df-8e02-086c1b49f489","name":"No Operation, do nothing7","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[528,4368]},{"parameters":{"assignments":{"assignments":[{"id":"503f68f8-831b-4d46-98eb-299d99a5d8e5","name":"uuid","value":"={{ $('Airtable - Update RunID').item.json.fields.linkMeet.split('/').slice(-2, -1)[0] }}","type":"string"}]},"options":{}},"id":"332fcedf-8eb7-4cdc-98b7-51ad9be68aa5","name":"Get uuid1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3120,5152]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json.properties.id }}\",\n  \"output\": \"Reunião cancelada com sucesso.\"\n} ","options":{}},"id":"b6d6b8e6-4e52-4634-b23e-48bcd3e71102","name":"Tool Call ID - cancel_booking1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4112,5120]},{"parameters":{"content":"## Fluxo Principal","height":2773,"width":5521},"id":"b87e64bb-cc21-4c3a-9b57-7b698de39681","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-1104,3760],"typeVersion":1},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/runs/{{ $('Airtable - Update RunID').item.json.fields.last_Run }} ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"47a26fc4-5497-4541-aa95-22db9bd1d1e4","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,4592],"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"15bd43a9-2c70-4d83-aa49-f14e0a44f03e","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"f88e2472-0909-486e-98aa-8d957b9ead10","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1728,4592],"alwaysOutputData":false},{"parameters":{"fieldToSplitOut":"tool_calls","options":{"destinationFieldName":"properties"}},"id":"2671d0ef-9742-43a4-ab71-d284e9b60383","name":"Split Out Tool Calls","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1952,4592]},{"parameters":{"assignments":{"assignments":[{"id":"b5868dac-c776-4a8b-9e44-d5275d06d1c4","name":"arguments","value":"={{ $json.properties.function.arguments }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"129130ce-46ce-489b-8556-208859f67af5","name":"Separa Arguments","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2432,4608]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d6820d31-01fe-4999-a577-bc90bbe48c85","leftValue":"={{ $json.properties.function.name }}","rightValue":"get_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a97545de-ccbf-4863-b9e4-10c9b1a34860","leftValue":"={{ $json.properties.function.name }}","rightValue":"save_user_data","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"save_user_data"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f957b409-80b1-4f0e-9da1-adae95dd3225","leftValue":"={{ $json.properties.function.name }}","rightValue":"appointment_booking","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"booking"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3f78382d-2114-4bfe-ba2b-a609e3abc5df","leftValue":"={{ $json.properties.function.name }}","rightValue":"cancel_booking","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancel_booking"}]},"options":{}},"id":"2c5b3fa3-1dd7-4b76-b0a0-7996207898b4","name":"Escolha da Tool Function","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2640,4608]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable - Update RunID').item.json.fields['Airtable ID '] }}","last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","concat_Messages":"={{ $('Airtable - Update RunID').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: {{ $('Pega a ultima mensagem OpenAI').item.json.data[0].content[0].text.value }}","token_Usage_Total":"={{ Number($('Airtable - Update RunID').item.json.fields.token_Usage_Total || 0) + Number($('Get Run Status').item.json.usage.total_tokens || 0) }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"7cfecb3b-e0f2-4821-ae3e-674cae30e6f4","name":"Airtable - Update Text last_Message e concat_Message e Token Usage","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[2624,5760],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e3ee6eae-6e60-4b6d-bf8a-5f07e97693d0","leftValue":"={{ $json['Event Type Name'] }}","rightValue":"Evento Teste","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"id":"06c5e3a7-095b-4f28-b956-09ab7822685e","name":"If - Evento Teste","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3376,4672]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52bbb4cb-7a7e-4bac-9159-5fe4fc170430","leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9171f9e2-e0a5-4152-ad3d-62eac8392e6d","leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra"}},"id":"92560389-1d09-48b8-a32f-1984a9abf8cf","name":"Off List Leads Chatbase Switch Media","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2528,5056]},{"parameters":{"jsCode":"// Custom UUID generation function\nfunction uuidv4() {\n    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n        const r = Math.random() * 16 | 0,\n              v = c === 'x' ? r : (r & 0x3 | 0x8);\n        return v.toString(16);\n    });\n}\n\n// Get all input data from n8n\nconst inputData = $input.all();\nconst outputData = [];\n\n// Process each input item\nfor (let item of inputData) {\n    // Ensure 'conversations' object exists\n    let conversations = item.json?.conversations || {};\n\n    // Extract phone number safely\n    const phone = item.json?.Telefone || \"Unknown\";  // Airtable field \"Telefone\"\n\n    // Extract the message content safely\n    const messageText = item.json?.concat_Messages || \"No message provided\";  \n\n    // Extract or generate a conversation ID\n    let conversationId = uuidv4();\n\n    // Ensure a conversation exists for this phone number\n    if (!conversations[phone]) {\n        conversations[phone] = { conversationId, conversation: [] };\n    }\n\n    // Create message object\n    const message = {\n        text: messageText,\n        timestamp: new Date().toISOString()\n    };\n\n    // Append message to conversation\n    conversations[phone].conversation.push(message);\n\n    // Push structured output\n    outputData.push({\n        ...item.json,\n        conversationId,\n        conversation: conversations[phone].conversation\n    });\n}\n\n// Return structured data\nreturn outputData;"},"id":"e3b5ce37-a5dc-4bb2-b818-6906578438c7","name":"Off List Leads conversationId Generator Chatbase","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1968,5424],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://www.chatbase.co/api/v1/chat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fb24393b-842e-486d-a9c9-a6ccc1bcb520"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    { \"content\": \"Como posso te ajudar?\", \n       \"role\": \"assistant\",\n        \"content\": \"{{ $('Normalizacao').item.json.message_object_textmessage }}\", \n        \"role\": \"user\" }\n  ],\n  \"chatbotId\": \"{{ $('AI').item.json.chatbase_agent_id }}\",\n  \"stream\": true,\n  \"temperature\": 0.4,\n  \"model\": \"gpt-4o\",\n  \"conversationId\": \"{{ $json.conversationId }}\"\n}  ","options":{}},"id":"38f4b9fc-3d84-4935-8dcf-1c6910430847","name":"Off List Leads Create Message in Chatbase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1712,5424]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"Ops! Parece que você tentou enviar um áudio, no entanto não conseguimos identificar esse tipo de arquivo, a não ser que seja solicitado. Pedimos desculpas por qualquer inconveniente, mas para continuar nossa conversa, por favor, evite enviar mídias e utilize apenas mensagens de texto.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1984,4960],"id":"b10f20a6-6575-4634-90d4-02edb338e40f","name":"Off List Leads Envia mensagem Zap Chatbase - Sem Audio","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"Ops! Parece que você tentou enviar uma imagem, no entanto não conseguimos identificar esse tipo de arquivo, a não ser que seja solicitado. Pedimos desculpas por qualquer inconveniente, mas para continuar nossa conversa, por favor, evite enviar mídias e utilize apenas mensagens de texto.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1984,5168],"id":"201003be-f917-495e-82a3-c4739a500034","name":"Off List Leads Envia mensagem Zap Chatbase - Sem Imagens","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"={{ $('Off List Leads Create Message in Chatbase').item.json.data }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1456,5424],"id":"e88e8c81-e35a-4d01-a13b-99bbcf1760ab","name":"Off List Leads Envia mensagem Zap Chatbase","credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"396adb2d-4693-4395-bf0c-410c069cbaae","leftValue":"={{ $('Create Message OpenAI').item.json.id }}","rightValue":"={{ $json.data[0].id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"e2bac680-efa5-45c8-bb61-a0ea21f01e7c","name":"If - Last message equal to first message - Fila de Mensagens de Leads Qualificados","type":"n8n-nodes-base.if","typeVersion":2,"position":[32,4592]},{"parameters":{"assignments":{"assignments":[{"id":"503f68f8-831b-4d46-98eb-299d99a5d8e5","name":"uuid","value":"={{ $('Airtable - Update RunID').item.json.fields.linkMeet.split('/').slice(-2, -1)[0] }}","type":"string"}]},"options":{}},"id":"e3eff315-1c45-4cc6-b363-759d67177125","name":"Get uuid2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2960,5424]},{"parameters":{"assignments":{"assignments":[{"id":"2a177ef5-8f2b-48d6-aa14-74f8cb1e049a","name":"gemini_api_key","value":"AIzaSyC5XbEFTLwEIahTLuDa21AM45jZzgmrt5g","type":"string"},{"id":"4e393e46-5476-46b0-bec4-f29277efc038","name":"openai_assistant_id","value":"asst_KeyNeOrEKxrQw94nF3Zi4sHu","type":"string"},{"id":"3b87d13b-8568-4977-a9b4-1872963733ab","name":"chatbase_agent_id","value":"gvb7wbhqqhLze2XQIShPF","type":"string"}]},"options":{}},"id":"cdfa9c56-018b-4553-8238-3cc2ccc43996","name":"AI","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-7008,4624]},{"parameters":{"assignments":{"assignments":[{"id":"9a2c10c4-74b4-48d0-a8c5-ebe095e7eab5","name":"evo_api_key","value":"2vGHmKALc8VcXLSIuKQO","type":"string"},{"id":"840baa4a-ba9c-49f9-b08b-928815b93a34","name":"evo_instanciaID","value":"86DC13EFD51B-4233-99F3-759DF7909C54","type":"string"},{"id":"93afa9d0-5a13-4e98-a5a8-74346e7d9f56","name":"nome_da_instancia","value":"testes","type":"string"}]},"options":{}},"id":"3242308a-76b4-40fe-a2a6-ba8c0f149859","name":"Evo Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-7344,4624]},{"parameters":{"assignments":{"assignments":[{"id":"503b2c0f-f889-4a71-8d96-136dc6d2773d","name":"z-api_instanciaID","value":"3CE1F33CC7D0F0A61DE9EEE17BD0D626","type":"string"},{"id":"5d692ded-8de3-4878-b1a1-91f8de4e26ec","name":"z-api_instancia_tokenID","value":"E1A4AE25C2EBBD6AA4380791","type":"string"},{"id":"241a5052-bd42-4a99-b99d-180bc4033312","name":"z-api_client_token","value":"F424e60c3a35c47fdb94513e0bb06e501S","type":"string"}]},"options":{}},"id":"b328735a-24a3-4e59-bbd0-6b9364394b5d","name":"Z-api Credentials","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-7168,4624]},{"parameters":{"content":"## Criar e Gerir Usuário","height":488,"width":1536},"id":"4fa63efe-8d56-4f63-bc49-e9b133e9728e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-5280,4544],"typeVersion":1},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"filterByFormula":"=RIGHT({Telefone}, 8) = {{ $('Normalizacao').item.json.user_phone.slice(-8) }}","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Created","direction":"desc"}]}},"id":"277700cd-226e-4e90-a5c7-2e8c5cb116a4","name":"Airtable - Search User in Leads Autobot","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-5200,4672],"alwaysOutputData":true,"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"017c418b-22ff-4636-8130-15d35799079b","name":"Cria thread Lead Autobot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4416,4752],"credentials":null},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Normalizacao').item.json.user_name }}","thread_id_openai":"={{ $('Cria thread Lead Autobot').item.json.id }}","concat_Messages":"Início","thread_id_created":"={{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}","counter_Messages":0,"token_Usage_Total":0,"Telefone":"={{ $('Normalizacao').item.json.user_phone }}","Email":"Unknown","Event Type Name":"Unknown","Obs":"Contato sem agendamento","tags":"[\"Entrou no Fluxo\"]","last_Message":"={{ $('Normalizacao').item.json.message_object_textmessage }}"},"matchingColumns":[],"schema":[{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"067841f3-df0b-4d05-a372-96dbe1c98806","name":"Airtable - Create User Lead Autobot","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-4160,4752],"credentials":null},{"parameters":{},"id":"3736ddd1-7cb7-48fa-94fb-052f801c4120","name":"Merge User Lead Autobot","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-3920,4672]},{"parameters":{"content":"## Criar e Gerir Thread","height":488,"width":1196},"id":"709064ec-6d62-4e34-b0ab-bbcf4025de2a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-2576,4400],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"30709591-c9a0-4a59-8e36-43b031179021","leftValue":"={{ $('Airtable - Search User in Leads').item.json.thread_id_openai }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b038a3e9-a74a-4e0b-838f-51e0f2db2011","name":"If - No Thread","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2480,4624]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"8fdb1e2f-efb9-476b-9a8a-ec37b97df3ef","name":"Cria thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,4480],"credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable - Search User in Leads').item.json['Airtable ID '] }}","token_Usage_Total":0,"concat_Messages":"Início","thread_id_openai":"={{ $json.id }}","thread_id_created":"={{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}","tags":"[\"Entrou no Fluxo\"]"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"23d07efe-7112-4c66-9ca1-3ab7fe3ecc15","name":"Airtable - Update ThreadID","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-2128,4480],"credentials":null},{"parameters":{},"id":"abf79d85-cbdf-4f19-9a87-2e09e031e7d3","name":"Merge Thread","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1968,4624],"alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52bbb4cb-7a7e-4bac-9159-5fe4fc170430","leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"9171f9e2-e0a5-4152-ad3d-62eac8392e6d","leftValue":"={{ $('Normalizacao').item.json.content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{"fallbackOutput":"extra"}},"id":"5faceae3-4dc7-477b-84b2-be29c2f91df9","name":"Switch Media (Testes Bot)","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1008,4608]},{"parameters":{"content":"## Set Variables","height":232,"width":705},"id":"b9796617-a45d-4e3f-9e4a-fe25cf06142a","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-7408,4560],"typeVersion":1},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"thread_id_openai":"={{ $json.threadIDVariable }}","Airtable ID ":"={{ $('Airtable - Search User in Leads').item.json['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":true},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"19e4bebf-af9c-429a-899a-ccab7f6705a7","name":"Airtable - Update ThreadID de novo","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-1568,4624],"credentials":null},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $('Normalizacao').item.json.message_object_textmessage }}"}]},"options":{}},"id":"f23ba4b0-8f64-49ac-927a-a4d1690d256e","name":"Create Message OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-704,4608],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs  ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"09f63e8d-c2fc-4e66-813d-f2755905a92f","name":"List Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-544,4880],"credentials":null},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update ThreadID de novo').item.json.fields.thread_id_openai }}/runs/{{ $('Airtable - Update ThreadID de novo').item.json.fields.last_Run }}\n/cancel     ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"4b16a4b6-1c1c-462d-84b9-3309b48deaf0","name":"Cancel a Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-384,4880],"credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"concat_Messages":"={{ $('Airtable - Update ThreadID de novo').item.json.fields.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: {{ $('Normalizacao').item.json.user_name }} - Message: {{ $('Normalizacao').item.json.message_object_textmessage }}","Airtable ID ":"={{ $('Airtable - Update ThreadID de novo').item.json.fields['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"4de08f1a-9a7f-4ec7-838a-24517a683be6","name":"Airtable - Update concat_Message","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-496,4592],"credentials":null},{"parameters":{"amount":10},"id":"cb0e4202-4ec7-4bd2-b830-b338799c8760","name":"Wait 10s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-320,4592],"webhookId":"1533d748-525c-4e0b-a82b-849a56d4a5b8"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update concat_Message').item.json.fields.thread_id_openai }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"ae0c91c5-bd8a-40cd-b82e-ce4ab8326b1a","name":"List Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,4592],"credentials":null},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update concat_Message').item.json.fields.thread_id_openai }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('AI').item.json.openai_assistant_id }}"},{"name":"additional_instructions","value":"=Aqui estão algumas informações importantes que voce já tem do usuário:\n\nNome: {{ $('Airtable - Update concat_Message').item.json.fields.Name }}\n\nEmail: {{ $('Airtable - Update concat_Message').item.json.fields.Email }}\n\nTelefone: {{ $('Airtable - Update concat_Message').item.json.fields.Telefone }}\n\nEvento de Agendamento: {{ $('Airtable - Update concat_Message').item.json.fields['Event Type Name'] }}\n\nLink para Cancelamento da Reunião Evento de Agendamento: {{ $('Airtable - Update concat_Message').item.json.fields.calendly_cancel_url }}\n\nLink para Reagendamento da Reunião Evento de Agendamento: {{ $('Airtable - Update concat_Message').item.json.fields.calendly_reschedule_url }}\n\nData e hora de agora: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }}  \n\nResponda sempre na língua do usuário: {{ $('Airtable - Update concat_Message').item.json.fields.Language }}"}]},"options":{}},"id":"4d895ea8-cabc-4e06-8670-e9d987c514da","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,4592],"alwaysOutputData":true,"retryOnFail":true,"credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"last_Run":"={{ $json.id }}","Airtable ID ":"={{ $('Airtable - Update concat_Message').item.json.fields['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2f565864-67c5-450f-8ab2-49a835830992","name":"Airtable - Update RunID","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[768,4592],"credentials":null},{"parameters":{"amount":4},"id":"6046a444-e2c6-478c-b1d8-98d02db32ce0","name":"Wait 4s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1408,4800],"webhookId":"aa1b52d0-c977-4026-b078-23092a7ae25f"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"efb698bb-6087-40c2-af1e-683d5eec1f63","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2528,4160]},{"parameters":{"options":{"reset":"={{ $node[\"Executar Funções Tools\"].context[\"Done\"] }}"}},"id":"346f678b-1fca-4361-88da-cf6a9e15462c","name":"Executar Funções Tools","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2160,4592]},{"parameters":{"assignments":{"assignments":[{"id":"c5405552-2f77-4c16-9599-477bc72223e6","name":"output","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"67bb1220-76b5-449f-87e6-9ae8210378b9","name":"Concatenar Output em string","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2720,4160]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Get Run Status').item.json[\"thread_id\"] }}/runs/{{ $('Get Run Status').item.json[\"id\"] }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tool_outputs\": {{ Array.isArray($json.output) ? $json.output[$json.output.length - 1] : $json.output }}\n}","options":{}},"id":"adb6b6b8-9929-4368-ad57-74340fed4061","name":"Insert Output","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2944,4224],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"id":"={{ $('Airtable - Update RunID').item.json.fields['Airtable ID '] }}","options":{}},"id":"b42700f0-2a5e-4a9a-a45f-83fbd7823f7d","name":"Airtable - Get User Data","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[3120,4640],"credentials":null},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json['properties']['id'] }}\",\n  \"output\": \"name: {{ $json[\"Name\"] }} Telefone: {{ $json[\"Whatsapp\"] }} email: {{ $json[\"Email\"] }}\"\n}","options":{}},"id":"e13c5270-7908-4366-9474-9cd0880ce42c","name":"Tool Call ID - get_user_data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3392,4640]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"resposta1":"={{ $json.arguments.resposta1 }}","resposta2":"={{ $json.arguments.resposta2 }}","resposta3":"={{ $json.arguments.resposta3 }}","resposta4":"={{ $json.arguments.resposta4 }}","resposta5":"={{ $json.arguments.resposta5 }}","resposta6":"={{ $json.arguments.resposta6 }}","Airtable ID ":"={{ $('Airtable - Update RunID').item.json.fields['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"d86c35fa-46d4-40e8-84a7-22010bb15ae2","name":"Airtable - Save User Answers","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[3152,4928],"credentials":null},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json['properties']['id'] }}\",\n  \"output\": \"Cadastro da resposta realizado com sucesso.\"\n}","options":{}},"id":"bcc664d1-9e79-4bdd-b33c-9529b817c16a","name":"Tool Call ID - save_user_data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3344,4928]},{"parameters":{"method":"POST","url":"=https://api.calendly.com/scheduled_events/{{ $json.uuid }}/cancellation","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"reason\": \"Appointment canceled by the user\"\n}","options":{}},"id":"bdee0e67-87a1-4038-8236-b614914706e1","name":"Cancel Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,5152],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.calendly.com/scheduled_events/{{ $json.uuid }}","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3120,5424],"id":"a5227364-ea42-4418-8772-68f24fa1988a","name":"Get Event Data","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"testes","remoteJid":"+351913095597","messageText":"=Cancele Reunião Manualmente. {{ $('Normalizacao').item.json.user_name }} - Whatsapp {{ $('Normalizacao').item.json.user_phone }}. linkUrl: {{ $('Airtable - Update RunID').item.json.fields.calendly_cancel_url }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3632,4992],"id":"002c5bab-0408-4477-9dc0-ca6f059f6fec","name":"Envia mensagem Zap - Cancelar reunião","credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"Obs":"REUNIÃO CANCELADA PELA AUTOMAÇÃO","Airtable ID ":"={{ $('Airtable - Update RunID').item.json.fields['Airtable ID '] }}"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"89dd492e-a177-4548-85f5-19dfc45baccc","name":"Airtable - Update Reunião Cancelada","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[3888,5120],"credentials":null},{"parameters":{"url":"https://api.calendly.com/event_type_available_times","authentication":"predefinedCredentialType","nodeCredentialType":"calendlyApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"start_time","value":"={{ new Date(Date.now() + 1 * 24 * 60 * 60 * 1000).toISOString().replace('.000Z', '.000000Z') }}"},{"name":"end_time","value":"={{ new Date(Date.now() + 6 * 24 * 60 * 60 * 1000).toISOString().replace('.000Z', '.000000Z') }}\n"},{"name":"event_type","value":"={{ $json.resource.event_type }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"bcffe08d-3ceb-437b-a9da-d672df9431b9","name":"Get Event Availability","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3312,5424],"credentials":null,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = items[0].json.collection;\nconst low_availability_threshold = 1;\nconst availableTimes = data.slice(0, low_availability_threshold);\n\nreturn availableTimes.map(time => ({ json: time }));\n"},"id":"fb477113-ae07-407e-902c-1b5320494334","name":"Get First Option","type":"n8n-nodes-base.code","typeVersion":2,"position":[3488,5408]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": {\n    \"date\": \"{{ new Date($json.start_time).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric', timeZone: 'Europe/Lisbon' }) }}\",\n    \"time\": \"{{ new Date($json.start_time).toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit', hour12: false, timeZone: 'Europe/Lisbon' }) }}\",\n    \"link\": \"{{ $json.scheduling_url }}\"\n  }\n}","options":{}},"id":"a603ca6d-157d-4052-8515-526af20c1115","name":"Output appointment_booking","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3680,5408]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"output"}]},"options":{"outputFormat":"singleItem"}},"id":"f3dad0e5-4e1b-4ed1-a42a-8e8753209b63","name":"Summarize Date and Time","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[3888,5408]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"tool_call_id\": \"{{ $('Separa Arguments').item.json.properties.id }}\",\n  \"output\": {{ $json.concatenated_output }}\n}","options":{}},"id":"1213546e-7f70-449a-ac03-6a0ce45df829","name":"Tool Call ID - appointment_booking","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[4112,5472]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/runs/{{ $('Airtable - Update RunID').item.json.fields.last_Run }}/cancel   ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"da8da41f-8e65-4121-bd58-d1e4bc6880fe","name":"Cancel a Run2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3488,5728],"credentials":null},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"Agende a reunião no link: https://calendly.com/telecalls/evento-teste","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3680,5728],"id":"4e5f9c75-d63b-48a2-924e-87abe6397f2b","name":"Envia resposta Zap Link Agendamento","credentials":null},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/messages       ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"assistant"},{"name":"content","value":"=Sender: Assistant - Message: Agende reunião no link https://calendly.com/telecalls/evento-teste"}]},"options":{}},"id":"d4cf79a5-399a-4759-a41c-289e53563e2f","name":"Create Message OpenAI Link Agendamento","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3888,5728],"credentials":null},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e0051e94-14ac-4315-bff0-f218625bf2c1","leftValue":"={{ $('Get Run Status').last().json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8dcf0331-73d1-4a07-a4b6-83850d0a379e","leftValue":"={{ $('Get Run Status').last().json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"}]},"options":{}},"id":"c0334fa2-2745-454d-84e4-78b7d1b909b9","name":"Switch - Run Status Completed","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1664,6064],"alwaysOutputData":true},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"Tivemos um problema ao processar sua mensagem. Por favor repita ou aguarde um pouco.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1840,6240],"id":"2e74241f-c5be-4040-840d-0fcf530a0eda","name":"Envia mensagem Zap de erro","credentials":null},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Airtable - Update RunID').item.json.fields.thread_id_openai }}/messages?order=desc  ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"fd9b2e0f-7f1a-4519-8726-5091356caa13","name":"Pega a ultima mensagem OpenAI","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,5888],"credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"b85d717a-4655-4c22-9d0e-74a5b659b128","name":"msgs","value":"={{ $json.data[0].content[0].text.value }}","type":"string"}]},"options":{}},"id":"c367b6f2-90f4-45e9-8fca-92125c8ee649","name":"Msgs","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2000,5888]},{"parameters":{"jsCode":"// Função para dividir o texto em mensagens com base em duas quebras de linha consecutivas\nfunction splitTextIntoMessages(text) {\n    if (typeof text !== 'string') {\n        console.log('Invalid input: text is not a string', text);\n        throw new Error('Invalid input: text must be a string');\n    }\n    return text.split('\\n\\n').map(part => part.trim()).filter(part => part.length > 0).map(part => {\n        return { json: { message: part } };\n    });\n}\n\n// Log the input data for debugging\nconsole.log('Input items:', JSON.stringify(items, null, 2));\n\n// Check if msgs_output exists and is a string\nconst inputText = items[0]?.json?.msgs;\n\nif (typeof inputText !== 'string') {\n    console.log('Invalid input: items[0].json.msgs_output is not a valid string', inputText);\n    throw new Error('Invalid input: items[0].json.msgs_output is not a valid string');\n}\n\n// Split the text into messages\nconst messages = splitTextIntoMessages(inputText);\n\n// Return the messages as n8n items\nreturn messages;\n"},"id":"b35fedbc-a915-40d5-802d-295a7ca32ae6","name":"Quebra Mensagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,5888]},{"parameters":{"options":{}},"id":"f6e10519-b333-40cc-8e28-802c284f9550","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2384,5888]},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2624,6032],"id":"1ab56535-efad-4f1e-96af-8f4804808188","name":"Envia mensagem Zap","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"Ops! Parece que você tentou enviar um áudio, no entanto não conseguimos identificar esse tipo de arquivo, a não ser que seja solicitado. Pedimos desculpas por qualquer inconveniente, mas para continuar nossa conversa, por favor, evite enviar mídias e utilize apenas mensagens de texto.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-720,4112],"id":"9967a493-4a6e-4276-886d-bb4997bd61c6","name":"Envia mensagem Zap - Sem Audio","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"={{ $('Normalizacao').item.json.user_phone }}","messageText":"Ops! Parece que você tentou enviar uma imagem, no entanto não conseguimos identificar esse tipo de arquivo, a não ser que seja solicitado. Pedimos desculpas por qualquer inconveniente, mas para continuar nossa conversa, por favor, evite enviar mídias e utilize apenas mensagens de texto.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-720,4368],"id":"a399f51a-e57b-4f40-8539-898ed1a57301","name":"Envia mensagem Zap - Sem Imagem","credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"columns":{"mappingMode":"defineBelow","value":{"Airtable ID ":"={{ $('Airtable - Update RunID').item.json.fields['Airtable ID '] }}","concat_Messages":"={{ $('Airtable - Update RunID').item.json.concat_Messages }}\n\nData: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Agende reunião no link https://calendly.com/telecalls/evento-teste","last_Message":"=Data: {{ $now.setZone('Europe/Lisbon').toFormat('yyyy-MM-dd HH:mm') }} - Sender: Assistant - Message: Agende reunião no link https://calendly.com/telecalls/evento-teste"},"matchingColumns":["Airtable ID "],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Airtable ID ","displayName":"Airtable ID ","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Event Type Name","displayName":"Event Type Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Calendly Event Created Date & Time","displayName":"Calendly Event Created Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Calendly Start Date & Time","displayName":"Calendly Start Date & Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"linkMeet","displayName":"linkMeet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thread_id_created","displayName":"thread_id_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"thread_id_openai","displayName":"thread_id_openai","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Run","displayName":"last_Run","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta1","displayName":"resposta1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta2","displayName":"resposta2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta3","displayName":"resposta3","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta4","displayName":"resposta4","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta5","displayName":"resposta5","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"resposta6","displayName":"resposta6","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"trello_ID_Card","displayName":"trello_ID_Card","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"last_Message","displayName":"last_Message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"concat_Messages","displayName":"concat_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"token_Usage_Total","displayName":"token_Usage_Total","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"counter_Messages","displayName":"counter_Messages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"off_Bot","displayName":"off_Bot","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Obs","displayName":"Obs","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_cancel_url","displayName":"calendly_cancel_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"calendly_reschedule_url","displayName":"calendly_reschedule_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Conversa Inativa","value":"Conversa Inativa"},{"name":"Conversa Finalizada","value":"Conversa Finalizada"},{"name":"Entrou no Fluxo","value":"Entrou no Fluxo"},{"name":"Nenhum","value":"Nenhum"}],"readOnly":false,"removed":false},{"id":"lead_Report","displayName":"lead_Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"b00036fc-f005-4237-b8a0-566f273bdd1f","name":"Airtable - Update New Message Zap Link Agendamento","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[4112,5728],"credentials":null},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appvwWOA6zzaznaC5","mode":"list","cachedResultName":"Autobot","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5"},"table":{"__rl":true,"value":"tblLe9aJTS3rY2mpC","mode":"list","cachedResultName":"Leads Teste (Calendly)","cachedResultUrl":"https://airtable.com/appvwWOA6zzaznaC5/tblLe9aJTS3rY2mpC"},"filterByFormula":"=RIGHT({Telefone}, 8) = {{ $('Normalizacao').item.json.user_phone.slice(-8) }}","returnAll":false,"limit":1,"options":{},"sort":{"property":[{"field":"Created","direction":"desc"}]}},"id":"4fcaeb21-faa9-433b-a49a-cdaf728282f2","name":"Airtable - Search User in Leads Autobot0","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-6320,4640],"alwaysOutputData":true,"credentials":null,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4592,4864],"id":"781b4f94-913f-40db-b82a-de2d7aac29d1","name":"No Operation, do nothing3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c32daae-477d-4694-8334-4af4b9f62556","leftValue":"={{ $('Normalizacao').item.json.user_phone }}","rightValue":"unknown","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"da59ffce-9bf8-4f04-9e74-6c1cdbff0f03","leftValue":"={{ $('Normalizacao').item.json.user_phone }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}},{"id":"6233aa21-dafc-4d0a-bc36-4f6fb0e6393c","leftValue":"={{ $('Normalizacao').item.json.user_phone }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4800,4768],"id":"e712aef5-c3b4-4770-a844-5f6d645e85c4","name":"If - Telefone is unknown"},{"parameters":{"queue":"testes_atendimento.webhook","options":{"arguments":{"argument":[{"key":"x-queue-type","value":"quorum"}]},"acknowledge":"executionFinishesSuccessfully","jsonParseBody":true,"parallelMessages":1}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-7888,4608],"id":"0d5b5a45-374c-4c23-afe1-865eef85ac7c","name":"RabbitMQ Trigger","credentials":null},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8bd55a50-65cd-4a67-8dbc-6e70f360431f","leftValue":"={{ $json.properties.headers['x-delivery-count'] }}","rightValue":3,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7616,4608],"id":"0f74e780-b754-49b1-bdb2-7cf838fbe723","name":"If - mais de 3 tentativas"},{"parameters":{"operation":"deleteMessage"},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[-7360,4352],"id":"d52daa1e-f635-4277-974d-70cbbc31e4ee","name":"Delete from queue","credentials":null},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Evo Credentials').item.json.nome_da_instancia }}","remoteJid":"=+351913095597","messageText":"Erro no último nó do Airtable - Fluxo Teste Lead Qualification and Group Management","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2864,5840],"id":"33d21e69-df9f-4293-a851-0027eda20d10","name":"Envia mensagem Zap de erro1","credentials":null},{"parameters":{"assignments":{"assignments":[{"id":"b0a7008a-6be9-4f46-9c9f-aac0047e566b","name":"user_phone","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.key.remoteJid.replace(/@.*/, '') || \"unknown\" }}","type":"string"},{"id":"ee8753a0-3e64-4130-a806-b70eae5ecf8d","name":"url_zap_provider","value":"={{ $('RabbitMQ Trigger').item.json.content.body.server_url || \"unknown\" }}","type":"string"},{"id":"58cacd80-861f-46d3-8c67-2258d6e0966b","name":"nome_instancia","value":"={{ $('RabbitMQ Trigger').item.json.content.body.instance || \"unknown\" }}","type":"string"},{"id":"de91b4ae-4164-41ba-a7c2-3edb6ee4ba3e","name":"message_id","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.key.id || \"unknown\" }}","type":"string"},{"id":"364824f0-a0c0-42d7-bf1d-d2f0be203c4d","name":"chat_id","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.key.remoteJid || \"unknown\" }}","type":"string"},{"id":"9bfc8bb3-6f77-42b4-8269-8043298e8888","name":"content_type","value":"={{ $('RabbitMQ Trigger').item.json.content.body?.data?.message?.conversation ? \"text\" : \"\" || $('RabbitMQ Trigger').item.json.content.body?.data?.message?.imageMessage ? \"image\" : \"\" || $('RabbitMQ Trigger').item.json.content.body?.data?.message?.documentMessage ? \"document\" : \"\" || $('RabbitMQ Trigger').item.json.content.body?.data?.message?.audioMessage ? \"audio\" : \"\" || \"unknown\" }}","type":"string"},{"id":"2449a6b4-4e21-4c13-8236-61ff1956a554","name":"timestamp","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.messageTimestamp }}","type":"number"},{"id":"359220da-80ca-4bf5-a5ed-4623cad6ad63","name":"content_url","value":"={{ $('RabbitMQ Trigger').item.json.content.body?.data?.message?.audioMessage?.url || $('RabbitMQ Trigger').item.json.content.body?.data?.message?.imageMessage?.url || $('RabbitMQ Trigger').item.json.content.body?.data?.message?.documentMessage?.url || \"unknown\" }}","type":"string"},{"id":"157701bc-a841-4ae4-8e70-d8853aee0795","name":"message_object_zapi","value":"={{ null }}","type":"object"},{"id":"b111a750-e08a-4466-94ef-58d67c898523","name":"user_name","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.pushName || \"unknown\" }}","type":"string"},{"id":"5ebacbea-17a4-442a-838e-85743c6cbe05","name":"from_me","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.key.fromMe || \"unknown\"}}","type":"string"},{"id":"562aaf1b-614f-47ec-8194-1eb30a6f51b3","name":"message_object_evo","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.message || null }}","type":"object"},{"id":"6d45ac32-91a6-4908-9f13-03772f2cc389","name":"message_object_textmessage","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data.message.conversation || \"unknown\" }}","type":"string"},{"id":"40916090-12b1-4aa1-9daf-a41a2523eb5c","name":"is_group","value":"={{ $('RabbitMQ Trigger').item.json.content.body.data?.key?.isGroup || $('RabbitMQ Trigger').item.json.content.body.data.message.senderKeyDistributionMessage.groupId || \"unknown\" }}","type":"string"}]},"options":{}},"id":"45df5060-ac1b-4fb7-9fdc-7d0478b6d802","name":"Normalizacao","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-6848,4624]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"dd053edd-dcc0-4b69-b33d-b2aa4423222e","leftValue":"={{ $('Normalizacao').item.json.from_me }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"70fe7d63-d680-4bcc-a507-fb7254c46a49","name":"If - From Me Leads","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6016,4640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"abdc51b1-c595-49d4-8bcb-f47ed719dec4","leftValue":"={{ $('Airtable - Search User in Leads Autobot').item.json['Airtable ID '] }}","rightValue":"1999-12-31T19:00:00.000-05:00","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"366bf2f4-b3fc-4065-86ce-4352b2c82b11","name":"If - Lead Autobot","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5008,4672]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"abdc51b1-c595-49d4-8bcb-f47ed719dec4","leftValue":"={{ !!Object.keys($node[\"Airtable - Search User in Leads\"].data).length }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"f12f4f09-7984-4b3f-b98a-4a919515aaf2","name":"If - User in Leads","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3024,4640]}],"connections":{"Airtable - Search Group":{"main":[[{"node":"If - On-Bot Group","type":"main","index":0}]]},"If - Group in List":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"No Operation, do nothing8","type":"main","index":0}]]},"If - On-Bot Group":{"main":[[{"node":"If - Group in List","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"ThreadID":{"main":[[{"node":"Airtable - Update ThreadID de novo","type":"main","index":0}]]},"If - Is Group":{"main":[[{"node":"Airtable - Search Group","type":"main","index":0}],[{"node":"Airtable - Search User in Leads Autobot0","type":"main","index":0}]]},"Airtable - Search User in Leads":{"main":[[{"node":"If - Evento Teste","type":"main","index":0}]]},"Verifica Comando":{"main":[[{"node":"Airtable - Update Bot ON Leads","type":"main","index":0}],[{"node":"Airtable - Update Bot OFF Leads","type":"main","index":0}]]},"If - Off-Bot1":{"main":[[{"node":"No Operation, do nothing6","type":"main","index":0}],[{"node":"Off List Leads Chatbase Switch Media","type":"main","index":0}]]},"If - Queued or In progress?1":{"main":[[{"node":"Wait 4s","type":"main","index":0}],[{"node":"If - Requires Action?1","type":"main","index":0}]]},"If - Requires Action?1":{"main":[[{"node":"Captura Tool Calls","type":"main","index":0}],[{"node":"Switch - Run Status Completed","type":"main","index":0}]]},"If - Off-Bot2":{"main":[[{"node":"No Operation, do nothing7","type":"main","index":0}],[{"node":"Run Assistant","type":"main","index":0}]]},"Get uuid1":{"main":[[{"node":"Cancel Event","type":"main","index":0}]]},"Tool Call ID - cancel_booking1":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"If - Queued or In progress?1","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out Tool Calls","type":"main","index":0}]]},"Split Out Tool Calls":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Separa Arguments":{"main":[[{"node":"Escolha da Tool Function","type":"main","index":0}]]},"Escolha da Tool Function":{"main":[[{"node":"Airtable - Get User Data","type":"main","index":0}],[{"node":"Airtable - Save User Answers","type":"main","index":0}],[{"node":"Get uuid2","type":"main","index":0}],[{"node":"Get uuid1","type":"main","index":0}]]},"If - Evento Teste":{"main":[[{"node":"If - User in Leads","type":"main","index":0}],[{"node":"If - Off-Bot1","type":"main","index":0}]]},"Off List Leads Chatbase Switch Media":{"main":[[{"node":"Off List Leads Envia mensagem Zap Chatbase - Sem Audio","type":"main","index":0}],[{"node":"Off List Leads Envia mensagem Zap Chatbase - Sem Imagens","type":"main","index":0}],[{"node":"Off List Leads conversationId Generator Chatbase","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Off List Leads conversationId Generator Chatbase":{"main":[[{"node":"Off List Leads Create Message in Chatbase","type":"main","index":0}]]},"Off List Leads Create Message in Chatbase":{"main":[[{"node":"Off List Leads Envia mensagem Zap Chatbase","type":"main","index":0}]]},"If - Last message equal to first message - Fila de Mensagens de Leads Qualificados":{"main":[[{"node":"If - Off-Bot2","type":"main","index":0}],[{"node":"Queued Messages1","type":"main","index":0}]]},"Get uuid2":{"main":[[{"node":"Get Event Data","type":"main","index":0}]]},"AI":{"main":[[{"node":"Normalizacao","type":"main","index":0}]]},"Evo Credentials":{"main":[[{"node":"Z-api Credentials","type":"main","index":0}]]},"Z-api Credentials":{"main":[[{"node":"AI","type":"main","index":0}]]},"Airtable - Search User in Leads Autobot":{"main":[[{"node":"If - Lead Autobot","type":"main","index":0}]]},"Cria thread Lead Autobot":{"main":[[{"node":"Airtable - Create User Lead Autobot","type":"main","index":0}]]},"Airtable - Create User Lead Autobot":{"main":[[{"node":"Merge User Lead Autobot","type":"main","index":1}]]},"Merge User Lead Autobot":{"main":[[{"node":"Airtable - Search User in Leads","type":"main","index":0}]]},"Off List Leads Envia mensagem Zap Chatbase":{"main":[[]]},"If - No Thread":{"main":[[{"node":"Cria thread","type":"main","index":0}],[{"node":"Merge Thread","type":"main","index":1}]]},"Cria thread":{"main":[[{"node":"Airtable - Update ThreadID","type":"main","index":0}]]},"Airtable - Update ThreadID":{"main":[[{"node":"Merge Thread","type":"main","index":0}]]},"Merge Thread":{"main":[[{"node":"ThreadID","type":"main","index":0}]]},"Switch Media (Testes Bot)":{"main":[[{"node":"Envia mensagem Zap - Sem Audio","type":"main","index":0}],[{"node":"Envia mensagem Zap - Sem Imagem","type":"main","index":0}],[{"node":"Create Message OpenAI","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"Airtable - Update ThreadID de novo":{"main":[[{"node":"Switch Media (Testes Bot)","type":"main","index":0}]]},"Create Message OpenAI":{"main":[[{"node":"Airtable - Update concat_Message","type":"main","index":0}],[{"node":"List Runs","type":"main","index":0}]]},"List Runs":{"main":[[{"node":"Cancel a Run","type":"main","index":0}]]},"Cancel a Run":{"main":[[{"node":"Create Message OpenAI","type":"main","index":0}]]},"Airtable - Update concat_Message":{"main":[[{"node":"Wait 10s","type":"main","index":0}]]},"Wait 10s":{"main":[[{"node":"List Messages","type":"main","index":0}]]},"List Messages":{"main":[[{"node":"If - Last message equal to first message - Fila de Mensagens de Leads Qualificados","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Airtable - Update RunID","type":"main","index":0}]]},"Airtable - Update RunID":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Wait 4s":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Concatenar Output em string","type":"main","index":0}]]},"Executar Funções Tools":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Separa Arguments","type":"main","index":0}]]},"Concatenar Output em string":{"main":[[{"node":"Insert Output","type":"main","index":0}]]},"Insert Output":{"main":[[{"node":"Get Run Status","type":"main","index":0}],[{"node":"Get Run Status","type":"main","index":0}]]},"Airtable - Get User Data":{"main":[[{"node":"Tool Call ID - get_user_data","type":"main","index":0}]]},"Tool Call ID - get_user_data":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Airtable - Save User Answers":{"main":[[{"node":"Tool Call ID - save_user_data","type":"main","index":0}]]},"Tool Call ID - save_user_data":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Cancel Event":{"main":[[{"node":"Airtable - Update Reunião Cancelada","type":"main","index":0}],[{"node":"Envia mensagem Zap - Cancelar reunião","type":"main","index":0}]]},"Get Event Data":{"main":[[{"node":"Get Event Availability","type":"main","index":0}]]},"Envia mensagem Zap - Cancelar reunião":{"main":[[{"node":"Airtable - Update Reunião Cancelada","type":"main","index":0}]]},"Airtable - Update Reunião Cancelada":{"main":[[{"node":"Tool Call ID - cancel_booking1","type":"main","index":0}]]},"Get Event Availability":{"main":[[{"node":"Get First Option","type":"main","index":0}],[{"node":"Cancel a Run2","type":"main","index":0}]]},"Get First Option":{"main":[[{"node":"Output appointment_booking","type":"main","index":0}]]},"Output appointment_booking":{"main":[[{"node":"Summarize Date and Time","type":"main","index":0}]]},"Summarize Date and Time":{"main":[[{"node":"Tool Call ID - appointment_booking","type":"main","index":0}]]},"Tool Call ID - appointment_booking":{"main":[[{"node":"Executar Funções Tools","type":"main","index":0}]]},"Cancel a Run2":{"main":[[{"node":"Envia resposta Zap Link Agendamento","type":"main","index":0}]]},"Envia resposta Zap Link Agendamento":{"main":[[{"node":"Create Message OpenAI Link Agendamento","type":"main","index":0}]]},"Create Message OpenAI Link Agendamento":{"main":[[{"node":"Airtable - Update New Message Zap Link Agendamento","type":"main","index":0}]]},"Switch - Run Status Completed":{"main":[[{"node":"Pega a ultima mensagem OpenAI","type":"main","index":0}],[{"node":"Envia mensagem Zap de erro","type":"main","index":0}]]},"Pega a ultima mensagem OpenAI":{"main":[[{"node":"Msgs","type":"main","index":0}]]},"Msgs":{"main":[[{"node":"Quebra Mensagem","type":"main","index":0}]]},"Quebra Mensagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Airtable - Update Text last_Message e concat_Message e Token Usage","type":"main","index":0}],[{"node":"Envia mensagem Zap","type":"main","index":0}]]},"Envia mensagem Zap":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Airtable - Search User in Leads Autobot0":{"main":[[{"node":"If - From Me Leads","type":"main","index":0}]]},"If - Telefone is unknown":{"main":[[{"node":"Cria thread Lead Autobot","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"RabbitMQ Trigger":{"main":[[{"node":"If - mais de 3 tentativas","type":"main","index":0}]]},"If - mais de 3 tentativas":{"main":[[{"node":"Delete from queue","type":"main","index":0}],[{"node":"Evo Credentials","type":"main","index":0}]]},"Airtable - Update Text last_Message e concat_Message e Token Usage":{"main":[[],[{"node":"Envia mensagem Zap de erro1","type":"main","index":0}]]},"Normalizacao":{"main":[[{"node":"If - Is Group","type":"main","index":0}]]},"If - From Me Leads":{"main":[[{"node":"Verifica Comando","type":"main","index":0}],[{"node":"Airtable - Search User in Leads Autobot","type":"main","index":0}]]},"If - Lead Autobot":{"main":[[{"node":"Merge User Lead Autobot","type":"main","index":0}],[{"node":"If - Telefone is unknown","type":"main","index":0}]]},"If - User in Leads":{"main":[[{"node":"If - No Thread","type":"main","index":0}],[{"node":"Off List Leads Chatbase Switch Media","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","executionTimeout":1200},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bd7e5bef-5998-4d98-b494-0ffc85a91af0","triggerCount":1,"shared":[{"updatedAt":"2025-02-25T14:52:08.618Z","createdAt":"2025-02-25T14:52:08.618Z","role":"workflow:owner","workflowId":"lbP5iq38rRwWdr8b","projectId":"NLlHufgAcMM6m1Lv"}],"tags":[]}