twitter-bot-ary-gustavo-(social-media-assistant)-FXbI2FSUNyblVkj0.json
{"updatedAt":"2026-03-08T10:57:31.502Z","createdAt":"2026-03-08T08:46:15.662Z","id":"FXbI2FSUNyblVkj0","name":"Twitter Bot Ary Gustavo (Social Media Assistant)","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":720}]}},"id":"node1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[112,304]},{"parameters":{"jsCode":"const topics = [\n  \"the importance of copywriting to get clients\",\n  \"why entrepreneurship is so important\",\n  \"the importance of content writing to elevate your authority\",\n  \"the importance of SEO to generate leads\",\n  \"the importance of digital marketing to find clients\",\n  \"the importance of paid ads to find clients\",\n  \"the importance of using artificial intelligence in your job\",\n  \"the importance of lead generation\",\n  \"the importance of using chatbots in your lead generation process\"\n];\nconst shuffled = topics.sort(() => Math.random() - 0.5);\nreturn [{ json: { topic: shuffled[0] } }];"},"id":"node2","name":"Pick Random Topic","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,304]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"responses":{"values":[{"content":"=Your audience are professionals who want to find clients through the internet so they can reach business success and make money.\nWrite a tweet of 230 characters with content related to this topic: ={{ $json.topic }}\n# 1 - Just write the tweet. Don't write anything else.\n# 2 - Don't exceed 230 characters.\n# 3 - Don't use quotation marks.\n# 4 - Never use emojis.\n# 5 - You always write in portuguese language.\n# 6 - The tweet should begin with an engaging hook.\n# 7 - Follow the best Templates of output provided in your instructions, including line breaks and spacing.\n\nIMPORTANT: Never write the hook name or template name. Never write \"Hook: [name]\". Only write the tweet content itself."}]},"builtInTools":{},"options":{"instructions":"=You are a very experienced ghostwriter who excels at writing Twitter posts. You always write in portuguese language. Your job is to use your knowledge to write an engaging Twitter post.\n\nHere is your style guide for how to write the tweets:\n\n1. Voice and Tone:\nInformative and Clear: Prioritize clarity and precision in presenting data.\n\n2. Mood:\nEducational: Create an atmosphere where the reader feels they're gaining valuable insights or learning something new.\n\n3. Sentence Structure:\nVaried Sentence Lengths: Use a mix of succint points for emphasis and longer explanatory sentences for detail.\nDescriptive Sentences: Instead of directive sentences, use descriptive ones to provide information.\n\n4. Transition Style:\nSequential and Logical: Guide the reader through information or steps in a clear, logical sequence.\n\n5. Rhythm and Pacing:\nSteady Flow: Ensure a smooth flow of information, transitioning seamlessly from one point to the next.\n\n6. Signature Styles:\nIntriguing Introductions: Start tweets with a captivating fact, question, or statement to grab attention.\nQuestion and Clarification Format: Begin with a general question or statement and follow up with clarifying information.\n\n7. Use one of these templates (pick the most fitting for the topic):\n- Hook: Easy/Hard Life Advice\n- Hook: Don't Waste Time\n- Hook: Lies You've Been Told\n- Hook: Timeless Wisdom\n- Hook: Contrarian Views\n- Hook: People Think\n- Hook: Simple Ways\n- Hook: Topic Tip\n- Hook: Amateurs vs Pros\n- Hook: The Benefits\n- Hook: Biggest Mistakes\n- Hook: Simple Habits Giant Outcomes\n- Hook: Beginner Mistakes\n- Hook: Stop Trying\n\nIMPORTANT: Never write the hook name or template name. Never write \"Hook: [name]\". Only write the tweet content itself.","maxTokens":300,"temperature":0.8}},"id":"node3","name":"Generate Tweet","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[448,304],"credentials":null},{"parameters":{"method":"POST","url":"https://api.twitter.com/2/tweets","authentication":"***REDACTED***","nodeCredentialType":"oAuth1Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"=={{ $json.output[0].content[0].text }}"}]},"options":{}},"id":"node4","name":"Post to X","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,304],"retryOnFail":true,"credentials":null}],"connections":{"Schedule Trigger":{"main":[[{"node":"Pick Random Topic","type":"main","index":0}]]},"Pick Random Topic":{"main":[[{"node":"Generate Tweet","type":"main","index":0}]]},"Generate Tweet":{"main":[[{"node":"Post to X","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","errorWorkflow":"RBvmMczEexEnf0Ul","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7b4abf78-69aa-4336-a4ee-3ebc2443abef","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-03-08T08:46:15.662Z","createdAt":"2026-03-08T08:46:15.662Z","role":"workflow:owner","workflowId":"FXbI2FSUNyblVkj0","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":null,"tags":[]}