upwork-auto-proposal-Ur9knAqDYJhLlqf9.json
{"updatedAt":"2026-05-18T00:14:38.096Z","createdAt":"2026-02-26T22:08:14.879Z","id":"Ur9knAqDYJhLlqf9","name":"Upwork Auto-Proposal","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"upwork-proposal","responseMode":"lastNode","options":{}},"id":"n01-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"webhookId":"upwork-proposal"},{"parameters":{"assignments":{"assignments":[{"id":"a01","name":"record_id","type":"string","value":"={{ $('Airtable: Get Record').item.json.id }}"},{"id":"a02","name":"title","type":"string","value":"={{ $json.output.title }}"},{"id":"a03","name":"description","type":"string","value":"={{ $('Airtable: Get Record').item.json.Description }}"},{"id":"a04","name":"url","type":"string","value":"={{ $('Airtable: Get Record').item.json.url }}"},{"id":"a05","name":"budget","type":"string","value":"={{ $json.output.budget || '' }}"},{"id":"a06","name":"experience_level","type":"string","value":"={{ $json.output.experience_level || '' }}"},{"id":"a07","name":"hours_week","type":"string","value":"={{ $json.output.hours_week || '' }}"},{"id":"a08","name":"duration","type":"string","value":"={{ $json.output.duration || '' }}"},{"id":"a09","name":"job_type","type":"string","value":"={{ $json.output.job_type || '' }}"},{"id":"a10","name":"tags","type":"string","value":"={{ $json.output.tags || '' }}"},{"id":"a12","name":"attention_test","type":"string","value":"={{ $json.output.attention_test || '' }}"},{"id":"a11","name":"candidate_profile","type":"string","value":"Ary Gustavo Ribeiro — Berlin, Germany e Lisboa, Portugal  Title: Marketing & Growth Leader | AI-Powered Marketing Systems | Product Marketing & Digital Innovation  Summary: 18+ years driving digital innovation, marketing strategy, and business growth across B2B and B2C environments. Designs and scales data-driven marketing ecosystems connecting paid media, CRM, automation, AI, and customer experience to measurable business outcomes. Deep hands-on experience managing campaigns across Meta Ads, Google Ads, TikTok Ads, PPC, SEO, and programmatic channels. 6+ years leading intelligent marketing operations integrating CRM, data pipelines, analytics dashboards, and AI-driven insights to drive acquisition, retention, and conversion optimization. Background bridges growth marketing, product marketing, campaign management, and martech architecture.  Core Skills: Growth Marketing & Strategy, Campaign Management & Optimization, Paid Media (Meta, Google, TikTok, Reddit, LinkedIn Ads), AB Testing & Experimentation, Conversion Rate Optimization (CRO), Funnel Design & Optimization, Data-Driven Marketing & Analytics, Marketing Automation, AI Product Management, Product Marketing, Content Marketing & SEO, CRM Strategy & Optimization, Email Marketing & Lifecycle, Team Leadership & Mentoring, Cross-Functional Collaboration, Donor/Customer Acquisition, Retention & LTV Optimization, Go-to-Market Strategy, Product-Led Growth, Stakeholder Management, Budget Management & ROAS Optimization.  Tech Stack: Meta Ads Manager, Google Ads, TikTok Ads Manager, Google Analytics (GA4), Google Tag Manager, Google Search Console, Google Data Studio/Looker, Hotjar, SEMrush, Ahrefs, OpenAI API, ChatGPT, Gemini, Claude, Groq, N8N, Make (Integromat), Zapier, Python, ActiveCampaign, HubSpot, Pipedrive, Mailchimp, Instantly, WordPress, Webflow, HTML/CSS, REST APIs & Webhooks, Docker, Portainer, VPS Hosting, Supabase, Postgres, Redis, Airtable, Stripe.  Education: Bachelor in Civil Engineering (UFBA, Brazil), Advanced Analytics (NOVA IMS, Portugal), Marketing Extension Program (UC Berkeley, USA), Full Stack Engineer (Udacity).  Key Achievements: Managed paid media campaigns across Meta, Google, and TikTok achieving consistent ROAS improvements. Built cross-channel acquisition funnels reducing customer acquisition cost (CAC) by 40%. Deployed AI-powered lead qualification increasing revenue pipeline by 30%. Built AI chatbots reducing customer service workload by 80%. Created marketing automation workflows saving 40+ hours/month. Achieved 3x increase in lead generation efficiency through data-driven experimentation and AB testing. Designed analytics dashboards tracking CAC, LTV, ROAS, and conversion metrics across channels. Implemented email lifecycle campaigns improving retention and engagement rates.  Experience: AI Automation & Growth Marketing Consultant at Felicidade Plena, Portugal (2020-Present) — Manages paid media campaigns, builds AI-powered marketing systems, develops conversion funnels and landing pages for B2B and B2C clients across health, real estate, and professional services. CMO at Coletiv.me startup hub, Brazil (2018-2020) — Led marketing strategy for 30+ startups, directed cross-functional teams, managed campaign budgets, built automated acquisition funnels, mentored 60+ founders in growth and digital strategy. Head of Growth at Shipsterliving (YC SUS2018), Portugal (2018) — Led growth experiments, AB testing, and campaign optimization achieving 3x lead generation increase. CEO at JCG real estate development, Brazil (2001-2017) — Directed marketing, sales strategy, and team leadership for high-end real estate projects.  Target Roles: Marketing Manager, Growth Marketing Manager, Senior Marketing Manager, Performance Marketing Manager, Product Marketing Manager, AI/Automation PM, Marketing Systems Lead, Head of Growth, Digital Marketing Lead, Campaign Manager, Growth Leadership, Digital Innovation Architect — remote or Berlin-based. Open to: AI, MarTech, SaaS, FinTech, Real Estate Tech, Health Tech, Non-Profit Tech, E-commerce, Marketplace, AdTech.  Languages: Portuguese (native), English (fluent), Spanish (intermediate)."}]},"options":{}},"id":"n03-set-profile","name":"Set: Candidate Profile","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[704,304]},{"parameters":{"promptType":"define","text":"=JOB TITLE: {{ $json.title }}\n\nJOB DESCRIPTION:\n{{ $json.description }}\n\nJOB METADATA:\n- Budget: {{ $json.budget || 'Not specified' }}\n- Experience Level: {{ $json.experience_level || 'Not specified' }}\n- Hours/Week: {{ $json.hours_week || 'Not specified' }}\n- Duration: {{ $json.duration || 'Not specified' }}\n- Type: {{ $json.job_type || 'Not specified' }}\n\nCANDIDATE PROFILE:\n{{ $json.candidate_profile }}\n\nCRITICAL: The attention_test field is for INFORMATION ONLY — it tells us what to include in the proposal. It is NEVER a reason to reject a match. Do NOT set is_match to false because of an attention test. Evaluate the job purely on skills, experience, budget, and industry alignment.\n\nEvaluate this Upwork job against the candidate profile. Return JSON only.","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are a senior Upwork strategist evaluating freelance opportunities.\n\nEVALUATION CRITERIA:\n1. Skills alignment (>50% overlap with candidate core skills)\n2. Experience level match (Expert/Senior preferred, Intermediate acceptable)\n3. Budget alignment ($40+/hr for hourly, $2000+ for fixed)\n4. Industry relevance (marketing, AI, automation, growth, product)\n5. Location compatibility (remote or Berlin)\n6. If job REQUIRES language other than English/Portuguese as mandatory, NO match\n\nUPWORK-SPECIFIC RULES:\n- Jobs requesting agencies/teams still valid if senior solo freelancer fits\n- Red flags: budget under $20/hr, unlimited revisions, unrealistic scope\n- Green flags: clear scope, realistic timeline, professional language\n- Entry level + low budget = NO match\n\nFor suggested_rate: base $65/hr, adjust ±15 by complexity. Never below $45/hr.\n\nFor attention_test: Look for hidden instructions like \"start proposal with X\", \"mention Y\", \"describe the weather in Z\". Extract the EXACT instruction.\n\nCRITICAL: The attention_test is INFORMATION ONLY for the proposal writer. It is NEVER a reason to reject a match. Evaluate purely on skills, experience, budget, and industry alignment."}]}},"id":"n04-job-filter","name":"AI: Job Filter","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[912,304]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.1}},"id":"n05-openai-filter","name":"OpenAI Filter","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,544],"credentials":null},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"is_match\": {\"type\": \"boolean\"},\n    \"match_score\": {\"type\": \"number\"},\n    \"reason\": {\"type\": \"string\"},\n    \"suggested_rate\": {\"type\": \"number\"},\n    \"attention_test\": {\"type\": \"string\"}\n  },\n  \"required\": [\"is_match\", \"match_score\", \"reason\", \"suggested_rate\"]\n}"},"id":"n06-output-parser","name":"Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1072,544]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-01","leftValue":"={{ $json.output.match_score }}","rightValue":60,"operator":{"type":"number","operation":"gte"}},{"id":"76a7da1f-be66-4879-abc3-3aa95d6557a3","leftValue":"={{ $json.output.is_match }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"id":"n07-if-match","name":"IF: Is Match?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,304]},{"parameters":{"promptType":"define","text":"=JOB TITLE: {{ $('Set: Candidate Profile').item.json.title }}\n\nJOB DESCRIPTION:\n{{ $('Set: Candidate Profile').item.json.description }}\n\nJOB URL: {{ $('Set: Candidate Profile').item.json.url }}\n\nMATCH ANALYSIS:\n- Score: {{ $json.output.match_score }}/100\n- Reason: {{ $json.output.reason }}\n- Suggested Rate: ${{ $json.output.suggested_rate }}/hr\n- Attention Test: {{ $json.output.attention_test || 'None' }}\n\nCANDIDATE PROFILE:\n{{ $('Set: Candidate Profile').item.json.candidate_profile }}\n\nWrite a winning Upwork proposal for this job.","messages":{"messageValues":[{"message":"You are an elite Upwork proposal writer with 40%+ interview rate.\n\nRULES:\n1. 150-250 words. Clients scan, not read.\n2. FIRST LINE: If attention test detected, address it IMMEDIATELY. This proves you read the posting.\n3. Structure after hook:\n   - Brief expertise statement connecting you to THEIR need (1 sentence)\n   - 2-3 bullet points with achievements + metrics (CAC, ROAS, conversion %)\n   - What you'll do for THEM in the first week\n   - Soft CTA: \"Happy to discuss\" or \"Let me know if you'd like examples\"\n4. Mirror client's language and terminology.\n5. NEVER use: \"I am very interested\", \"perfect fit\", \"Dear Sir/Madam\"\n6. NEVER mention AI. Tone must be human, direct, confident.\n7. NEVER invent credentials or metrics not in candidate profile.\n8. Hourly jobs: mention rate. Fixed: mention availability.\n9. Sign off: \"— Ary\"\n10. No subject line, no greeting, no signature block. Just proposal text.\n11. Write in same language as job posting.\n12. Use sequential numbering (1, 2, 3) for any lists, NOT repeated \"1.\"\n13. NEVER invent statistics, team sizes, or titles not in profile.\n\nOUTPUT: Raw proposal text ready to paste into Upwork. No headers or labels."}]}},"id":"n08-draft-proposal","name":"AI: Draft Proposal","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1440,208]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"},"options":{"temperature":0.4}},"id":"n09-openai-proposal","name":"OpenAI Proposal","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1488,400],"credentials":null},{"parameters":{"jsCode":"const proposal = $input.first().json;\nconst setData = $('Set: Candidate Profile').first().json;\nconst filterData = $('AI: Job Filter').first().json;\nconst draftText = (proposal.text || proposal.output || '').trim();\n\nreturn [{\n  json: {\n    record_id: setData.record_id,\n    draft_proposal: draftText,\n    match_score: filterData.output?.match_score || 0,\n    match_reason: filterData.output?.reason || '',\n    suggested_rate: filterData.output?.suggested_rate || 65,\n    attention_test: filterData.output?.attention_test || ''\n  }\n}];"},"id":"n10-format-output","name":"Format Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,208]},{"parameters":{"method":"PATCH","url":"https://api.airtable.com/v0/app9shUm0Kp9ySC24/tblgoNVWi5JYAmlVH","authentication":"***REDACTED***","genericAuthType":"***REDACTED***","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"records\": [{ \"id\": $json.record_id, \"fields\": { \"Status\": \"Done\", \"Draft_Proposal\": $json.draft_proposal, \"Match_Score\": $json.match_score, \"Match_Reason\": $json.match_reason, \"Bid_Rate\": $json.suggested_rate } }] }) }}","options":{}},"id":"n11-update-done","name":"Update Airtable: Done","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,208],"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"base":{"__rl":true,"value":"app9shUm0Kp9ySC24","mode":"id"},"table":{"__rl":true,"value":"tblgoNVWi5JYAmlVH","mode":"id"},"id":"={{ $json.query.recordID }}","options":{}},"id":"9452f154-3709-4b0a-8122-79903d1b5a43","name":"Airtable: Get Record","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[192,304],"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.Description }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You extract structured data from Upwork job postings. The input is raw text copied from an Upwork job page.  Extract these fields: - title: exact job title (look for text after \"Job details\") - description: full job description including responsibilities and requirements - url: job URL if provided - budget: budget range (e.g. \"$40.00 - $70.00\") - experience_level: Entry, Intermediate, or Expert - hours_week: e.g. \"More than 30 hrs/week\" - duration: e.g. \"1 to 3 months\" - job_type: Hourly or Fixed - tags: comma-separated skills/categories mentioned - attention_test: any hidden instruction like \"start your proposal with X\" or \"describe the weather in Y\" — extract the EXACT instruction  Look carefully at the raw text. The data IS there — titles appear after \"Job details\", budget appears near \"Hourly range\" or \"Fixed-price\", experience near \"Experience level\", etc."}]}},"id":"n20-extract-job","name":"AI: Extract Job Data","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[384,304]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.1}},"id":"n21-openai-extractor","name":"OpenAI Extractor","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[352,544],"credentials":null},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\"type\": \"string\"},\n    \"description\": {\"type\": \"string\"},\n    \"url\": {\"type\": \"string\"},\n    \"budget\": {\"type\": \"string\"},\n    \"experience_level\": {\"type\": \"string\"},\n    \"hours_week\": {\"type\": \"string\"},\n    \"duration\": {\"type\": \"string\"},\n    \"job_type\": {\"type\": \"string\"},\n    \"tags\": {\"type\": \"string\"},\n    \"attention_test\": {\"type\": \"string\"}\n  },\n  \"required\": [\"title\", \"description\"]\n}"},"id":"n22-job-data-parser","name":"Job Data Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[544,544]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app9shUm0Kp9ySC24","mode":"list","cachedResultName":"Opportunities Feed","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24"},"table":{"__rl":true,"value":"tblgoNVWi5JYAmlVH","mode":"list","cachedResultName":"Upwork","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24/tblgoNVWi5JYAmlVH"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.query.recordID }}","Status":"No Fit","Match_Reason":"={{ $json.output.reason }}","Title":"={{ $('Set: Candidate Profile').item.json.title }}","Budget":"={{ $('Set: Candidate Profile').item.json.budget }}","Experience_Level":"={{ $('Set: Candidate Profile').item.json.experience_level }}","Hours_Week":"={{ $('Set: Candidate Profile').item.json.hours_week }}","Duration":"={{ $('Set: Candidate Profile').item.json.duration }}","Job_Type":"={{ $('Set: Candidate Profile').item.json.job_type }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"RecordID","displayName":"RecordID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Budget","displayName":"Budget","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Experience_Level","displayName":"Experience_Level","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entry","value":"Entry"},{"name":"Intermediate","value":"Intermediate"},{"name":"Expert","value":"Expert"}],"readOnly":false,"removed":false},{"id":"Hours_Week","displayName":"Hours_Week","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Duration","displayName":"Duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Job_Type","displayName":"Job_Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hourly","value":"Hourly"},{"name":"Fixed","value":"Fixed"}],"readOnly":false,"removed":false},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Draft_Proposal","displayName":"Draft_Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Match_Score","displayName":"Match_Score","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Match_Reason","displayName":"Match_Reason","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Bid_Rate","displayName":"Bid_Rate","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created at","displayName":"Created at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"None","value":"None"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"},{"name":"No Fit","value":"No Fit"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1488,608],"id":"ac30a6ac-3d03-451b-8b08-70193fe6dd5f","name":"Update record","credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app9shUm0Kp9ySC24","mode":"list","cachedResultName":"Opportunities Feed","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24"},"table":{"__rl":true,"value":"tblgoNVWi5JYAmlVH","mode":"list","cachedResultName":"Upwork","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24/tblgoNVWi5JYAmlVH"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.query.recordID }}","Match_Score":"={{ $('Format Output').item.json.match_score }}","Bid_Rate":"={{ $('Format Output').item.json.suggested_rate }}","Status":"Done","Draft_Proposal":"={{ $('Format Output').item.json.draft_proposal }}","Match_Reason":"={{ $('Format Output').item.json.match_reason }}","Budget":"={{ $('Set: Candidate Profile').item.json.budget }}","Experience_Level":"={{ $('Set: Candidate Profile').item.json.experience_level }}","Hours_Week":"={{ $('Set: Candidate Profile').item.json.hours_week }}","Duration":"={{ $('Set: Candidate Profile').item.json.duration }}","Job_Type":"={{ $('Set: Candidate Profile').item.json.job_type }}","Title":"={{ $('Set: Candidate Profile').item.json.title }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"RecordID","displayName":"RecordID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Budget","displayName":"Budget","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Experience_Level","displayName":"Experience_Level","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entry","value":"Entry"},{"name":"Intermediate","value":"Intermediate"},{"name":"Expert","value":"Expert"}],"readOnly":false,"removed":false},{"id":"Hours_Week","displayName":"Hours_Week","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Duration","displayName":"Duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Job_Type","displayName":"Job_Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hourly","value":"Hourly"},{"name":"Fixed","value":"Fixed"}],"readOnly":false,"removed":false},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Draft_Proposal","displayName":"Draft_Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Match_Score","displayName":"Match_Score","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Match_Reason","displayName":"Match_Reason","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Bid_Rate","displayName":"Bid_Rate","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Created at","displayName":"Created at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"None","value":"None"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"},{"name":"No Fit","value":"No Fit"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2208,208],"id":"07cca49f-fca3-4d52-ac68-b852cfad3170","name":"Update record1","credentials":null}],"connections":{"Webhook":{"main":[[{"node":"Airtable: Get Record","type":"main","index":0}]]},"Set: Candidate Profile":{"main":[[{"node":"AI: Job Filter","type":"main","index":0}]]},"OpenAI Filter":{"ai_languageModel":[[{"node":"AI: Job Filter","type":"ai_languageModel","index":0}]]},"Output Parser":{"ai_outputParser":[[{"node":"AI: Job Filter","type":"ai_outputParser","index":0}]]},"AI: Job Filter":{"main":[[{"node":"IF: Is Match?","type":"main","index":0}]]},"IF: Is Match?":{"main":[[{"node":"AI: Draft Proposal","type":"main","index":0}],[{"node":"Update record","type":"main","index":0}]]},"OpenAI Proposal":{"ai_languageModel":[[{"node":"AI: Draft Proposal","type":"ai_languageModel","index":0}]]},"AI: Draft Proposal":{"main":[[{"node":"Format Output","type":"main","index":0}]]},"Format Output":{"main":[[{"node":"Update Airtable: Done","type":"main","index":0}]]},"Airtable: Get Record":{"main":[[{"node":"AI: Extract Job Data","type":"main","index":0}]]},"AI: Extract Job Data":{"main":[[{"node":"Set: Candidate Profile","type":"main","index":0}]]},"OpenAI Extractor":{"ai_languageModel":[[{"node":"AI: Extract Job Data","type":"ai_languageModel","index":0}]]},"Job Data Parser":{"ai_outputParser":[[{"node":"AI: Extract Job Data","type":"ai_outputParser","index":0}]]},"Update Airtable: Done":{"main":[[{"node":"Update record1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"errorWorkflow":"heQ08w9HPkxGpNDu","callerPolicy":"workflowsFromSameOwner","availableInMCP":true,"timeSavedMode":"fixed","executionTimeout":600},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ef177f24-415a-4761-bac6-cb0fa668596a","activeVersionId":"ef177f24-415a-4761-bac6-cb0fa668596a","triggerCount":1,"shared":[{"updatedAt":"2026-02-26T22:08:14.879Z","createdAt":"2026-02-26T22:08:14.879Z","role":"workflow:owner","workflowId":"Ur9knAqDYJhLlqf9","projectId":"NLlHufgAcMM6m1Lv"}],"activeVersion":{"updatedAt":"2026-05-18T00:14:38.099Z","createdAt":"2026-05-18T00:14:38.099Z","versionId":"ef177f24-415a-4761-bac6-cb0fa668596a","workflowId":"Ur9knAqDYJhLlqf9","nodes":[{"parameters":{"path":"upwork-proposal","responseMode":"lastNode","options":{}},"id":"n01-webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"webhookId":"upwork-proposal"},{"parameters":{"assignments":{"assignments":[{"id":"a01","name":"record_id","type":"string","value":"={{ $('Airtable: Get Record').item.json.id }}"},{"id":"a02","name":"title","type":"string","value":"={{ $json.output.title }}"},{"id":"a03","name":"description","type":"string","value":"={{ $('Airtable: Get Record').item.json.Description }}"},{"id":"a04","name":"url","type":"string","value":"={{ $('Airtable: Get Record').item.json.url }}"},{"id":"a05","name":"budget","type":"string","value":"={{ $json.output.budget || '' }}"},{"id":"a06","name":"experience_level","type":"string","value":"={{ $json.output.experience_level || '' }}"},{"id":"a07","name":"hours_week","type":"string","value":"={{ $json.output.hours_week || '' }}"},{"id":"a08","name":"duration","type":"string","value":"={{ $json.output.duration || '' }}"},{"id":"a09","name":"job_type","type":"string","value":"={{ $json.output.job_type || '' }}"},{"id":"a10","name":"tags","type":"string","value":"={{ $json.output.tags || '' }}"},{"id":"a12","name":"attention_test","type":"string","value":"={{ $json.output.attention_test || '' }}"},{"id":"a11","name":"candidate_profile","type":"string","value":"Ary Gustavo Ribeiro — Berlin, Germany e Lisboa, Portugal  Title: Marketing & Growth Leader | AI-Powered Marketing Systems | Product Marketing & Digital Innovation  Summary: 18+ years driving digital innovation, marketing strategy, and business growth across B2B and B2C environments. Designs and scales data-driven marketing ecosystems connecting paid media, CRM, automation, AI, and customer experience to measurable business outcomes. Deep hands-on experience managing campaigns across Meta Ads, Google Ads, TikTok Ads, PPC, SEO, and programmatic channels. 6+ years leading intelligent marketing operations integrating CRM, data pipelines, analytics dashboards, and AI-driven insights to drive acquisition, retention, and conversion optimization. Background bridges growth marketing, product marketing, campaign management, and martech architecture.  Core Skills: Growth Marketing & Strategy, Campaign Management & Optimization, Paid Media (Meta, Google, TikTok, Reddit, LinkedIn Ads), AB Testing & Experimentation, Conversion Rate Optimization (CRO), Funnel Design & Optimization, Data-Driven Marketing & Analytics, Marketing Automation, AI Product Management, Product Marketing, Content Marketing & SEO, CRM Strategy & Optimization, Email Marketing & Lifecycle, Team Leadership & Mentoring, Cross-Functional Collaboration, Donor/Customer Acquisition, Retention & LTV Optimization, Go-to-Market Strategy, Product-Led Growth, Stakeholder Management, Budget Management & ROAS Optimization.  Tech Stack: Meta Ads Manager, Google Ads, TikTok Ads Manager, Google Analytics (GA4), Google Tag Manager, Google Search Console, Google Data Studio/Looker, Hotjar, SEMrush, Ahrefs, OpenAI API, ChatGPT, Gemini, Claude, Groq, N8N, Make (Integromat), Zapier, Python, ActiveCampaign, HubSpot, Pipedrive, Mailchimp, Instantly, WordPress, Webflow, HTML/CSS, REST APIs & Webhooks, Docker, Portainer, VPS Hosting, Supabase, Postgres, Redis, Airtable, Stripe.  Education: Bachelor in Civil Engineering (UFBA, Brazil), Advanced Analytics (NOVA IMS, Portugal), Marketing Extension Program (UC Berkeley, USA), Full Stack Engineer (Udacity).  Key Achievements: Managed paid media campaigns across Meta, Google, and TikTok achieving consistent ROAS improvements. Built cross-channel acquisition funnels reducing customer acquisition cost (CAC) by 40%. Deployed AI-powered lead qualification increasing revenue pipeline by 30%. Built AI chatbots reducing customer service workload by 80%. Created marketing automation workflows saving 40+ hours/month. Achieved 3x increase in lead generation efficiency through data-driven experimentation and AB testing. Designed analytics dashboards tracking CAC, LTV, ROAS, and conversion metrics across channels. Implemented email lifecycle campaigns improving retention and engagement rates.  Experience: AI Automation & Growth Marketing Consultant at Felicidade Plena, Portugal (2020-Present) — Manages paid media campaigns, builds AI-powered marketing systems, develops conversion funnels and landing pages for B2B and B2C clients across health, real estate, and professional services. CMO at Coletiv.me startup hub, Brazil (2018-2020) — Led marketing strategy for 30+ startups, directed cross-functional teams, managed campaign budgets, built automated acquisition funnels, mentored 60+ founders in growth and digital strategy. Head of Growth at Shipsterliving (YC SUS2018), Portugal (2018) — Led growth experiments, AB testing, and campaign optimization achieving 3x lead generation increase. CEO at JCG real estate development, Brazil (2001-2017) — Directed marketing, sales strategy, and team leadership for high-end real estate projects.  Target Roles: Marketing Manager, Growth Marketing Manager, Senior Marketing Manager, Performance Marketing Manager, Product Marketing Manager, AI/Automation PM, Marketing Systems Lead, Head of Growth, Digital Marketing Lead, Campaign Manager, Growth Leadership, Digital Innovation Architect — remote or Berlin-based. Open to: AI, MarTech, SaaS, FinTech, Real Estate Tech, Health Tech, Non-Profit Tech, E-commerce, Marketplace, AdTech.  Languages: Portuguese (native), English (fluent), Spanish (intermediate)."}]},"options":{}},"id":"n03-set-profile","name":"Set: Candidate Profile","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[704,304]},{"parameters":{"promptType":"define","text":"=JOB TITLE: {{ $json.title }}\n\nJOB DESCRIPTION:\n{{ $json.description }}\n\nJOB METADATA:\n- Budget: {{ $json.budget || 'Not specified' }}\n- Experience Level: {{ $json.experience_level || 'Not specified' }}\n- Hours/Week: {{ $json.hours_week || 'Not specified' }}\n- Duration: {{ $json.duration || 'Not specified' }}\n- Type: {{ $json.job_type || 'Not specified' }}\n\nCANDIDATE PROFILE:\n{{ $json.candidate_profile }}\n\nCRITICAL: The attention_test field is for INFORMATION ONLY — it tells us what to include in the proposal. It is NEVER a reason to reject a match. Do NOT set is_match to false because of an attention test. Evaluate the job purely on skills, experience, budget, and industry alignment.\n\nEvaluate this Upwork job against the candidate profile. Return JSON only.","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are a senior Upwork strategist evaluating freelance opportunities.\n\nEVALUATION CRITERIA:\n1. Skills alignment (>50% overlap with candidate core skills)\n2. Experience level match (Expert/Senior preferred, Intermediate acceptable)\n3. Budget alignment ($40+/hr for hourly, $2000+ for fixed)\n4. Industry relevance (marketing, AI, automation, growth, product)\n5. Location compatibility (remote or Berlin)\n6. If job REQUIRES language other than English/Portuguese as mandatory, NO match\n\nUPWORK-SPECIFIC RULES:\n- Jobs requesting agencies/teams still valid if senior solo freelancer fits\n- Red flags: budget under $20/hr, unlimited revisions, unrealistic scope\n- Green flags: clear scope, realistic timeline, professional language\n- Entry level + low budget = NO match\n\nFor suggested_rate: base $65/hr, adjust ±15 by complexity. Never below $45/hr.\n\nFor attention_test: Look for hidden instructions like \"start proposal with X\", \"mention Y\", \"describe the weather in Z\". Extract the EXACT instruction.\n\nCRITICAL: The attention_test is INFORMATION ONLY for the proposal writer. It is NEVER a reason to reject a match. Evaluate purely on skills, experience, budget, and industry alignment."}]}},"id":"n04-job-filter","name":"AI: Job Filter","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[912,304]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.1}},"id":"n05-openai-filter","name":"OpenAI Filter","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,544],"credentials":null},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"is_match\": {\"type\": \"boolean\"},\n    \"match_score\": {\"type\": \"number\"},\n    \"reason\": {\"type\": \"string\"},\n    \"suggested_rate\": {\"type\": \"number\"},\n    \"attention_test\": {\"type\": \"string\"}\n  },\n  \"required\": [\"is_match\", \"match_score\", \"reason\", \"suggested_rate\"]\n}"},"id":"n06-output-parser","name":"Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1072,544]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"cond-01","leftValue":"={{ $json.output.match_score }}","rightValue":60,"operator":{"type":"number","operation":"gte"}},{"id":"76a7da1f-be66-4879-abc3-3aa95d6557a3","leftValue":"={{ $json.output.is_match }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"id":"n07-if-match","name":"IF: Is Match?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,304]},{"parameters":{"promptType":"define","text":"=JOB TITLE: {{ $('Set: Candidate Profile').item.json.title }}\n\nJOB DESCRIPTION:\n{{ $('Set: Candidate Profile').item.json.description }}\n\nJOB URL: {{ $('Set: Candidate Profile').item.json.url }}\n\nMATCH ANALYSIS:\n- Score: {{ $json.output.match_score }}/100\n- Reason: {{ $json.output.reason }}\n- Suggested Rate: ${{ $json.output.suggested_rate }}/hr\n- Attention Test: {{ $json.output.attention_test || 'None' }}\n\nCANDIDATE PROFILE:\n{{ $('Set: Candidate Profile').item.json.candidate_profile }}\n\nWrite a winning Upwork proposal for this job.","messages":{"messageValues":[{"message":"You are an elite Upwork proposal writer with 40%+ interview rate.\n\nRULES:\n1. 150-250 words. Clients scan, not read.\n2. FIRST LINE: If attention test detected, address it IMMEDIATELY. This proves you read the posting.\n3. Structure after hook:\n   - Brief expertise statement connecting you to THEIR need (1 sentence)\n   - 2-3 bullet points with achievements + metrics (CAC, ROAS, conversion %)\n   - What you'll do for THEM in the first week\n   - Soft CTA: \"Happy to discuss\" or \"Let me know if you'd like examples\"\n4. Mirror client's language and terminology.\n5. NEVER use: \"I am very interested\", \"perfect fit\", \"Dear Sir/Madam\"\n6. NEVER mention AI. Tone must be human, direct, confident.\n7. NEVER invent credentials or metrics not in candidate profile.\n8. Hourly jobs: mention rate. Fixed: mention availability.\n9. Sign off: \"— Ary\"\n10. No subject line, no greeting, no signature block. Just proposal text.\n11. Write in same language as job posting.\n12. Use sequential numbering (1, 2, 3) for any lists, NOT repeated \"1.\"\n13. NEVER invent statistics, team sizes, or titles not in profile.\n\nOUTPUT: Raw proposal text ready to paste into Upwork. No headers or labels."}]}},"id":"n08-draft-proposal","name":"AI: Draft Proposal","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1440,208]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"},"options":{"temperature":0.4}},"id":"n09-openai-proposal","name":"OpenAI Proposal","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1488,400],"credentials":null},{"parameters":{"jsCode":"const proposal = $input.first().json;\nconst setData = $('Set: Candidate Profile').first().json;\nconst filterData = $('AI: Job Filter').first().json;\nconst draftText = (proposal.text || proposal.output || '').trim();\n\nreturn [{\n  json: {\n    record_id: setData.record_id,\n    draft_proposal: draftText,\n    match_score: filterData.output?.match_score || 0,\n    match_reason: filterData.output?.reason || '',\n    suggested_rate: filterData.output?.suggested_rate || 65,\n    attention_test: filterData.output?.attention_test || ''\n  }\n}];"},"id":"n10-format-output","name":"Format Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,208]},{"parameters":{"method":"PATCH","url":"https://api.airtable.com/v0/app9shUm0Kp9ySC24/tblgoNVWi5JYAmlVH","authentication":"***REDACTED***","genericAuthType":"***REDACTED***","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"records\": [{ \"id\": $json.record_id, \"fields\": { \"Status\": \"Done\", \"Draft_Proposal\": $json.draft_proposal, \"Match_Score\": $json.match_score, \"Match_Reason\": $json.match_reason, \"Bid_Rate\": $json.suggested_rate } }] }) }}","options":{}},"id":"n11-update-done","name":"Update Airtable: Done","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,208],"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"base":{"__rl":true,"value":"app9shUm0Kp9ySC24","mode":"id"},"table":{"__rl":true,"value":"tblgoNVWi5JYAmlVH","mode":"id"},"id":"={{ $json.query.recordID }}","options":{}},"id":"9452f154-3709-4b0a-8122-79903d1b5a43","name":"Airtable: Get Record","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[192,304],"credentials":null,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.Description }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You extract structured data from Upwork job postings. The input is raw text copied from an Upwork job page.  Extract these fields: - title: exact job title (look for text after \"Job details\") - description: full job description including responsibilities and requirements - url: job URL if provided - budget: budget range (e.g. \"$40.00 - $70.00\") - experience_level: Entry, Intermediate, or Expert - hours_week: e.g. \"More than 30 hrs/week\" - duration: e.g. \"1 to 3 months\" - job_type: Hourly or Fixed - tags: comma-separated skills/categories mentioned - attention_test: any hidden instruction like \"start your proposal with X\" or \"describe the weather in Y\" — extract the EXACT instruction  Look carefully at the raw text. The data IS there — titles appear after \"Job details\", budget appears near \"Hourly range\" or \"Fixed-price\", experience near \"Experience level\", etc."}]}},"id":"n20-extract-job","name":"AI: Extract Job Data","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[384,304]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.1}},"id":"n21-openai-extractor","name":"OpenAI Extractor","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[352,544],"credentials":null},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\"type\": \"string\"},\n    \"description\": {\"type\": \"string\"},\n    \"url\": {\"type\": \"string\"},\n    \"budget\": {\"type\": \"string\"},\n    \"experience_level\": {\"type\": \"string\"},\n    \"hours_week\": {\"type\": \"string\"},\n    \"duration\": {\"type\": \"string\"},\n    \"job_type\": {\"type\": \"string\"},\n    \"tags\": {\"type\": \"string\"},\n    \"attention_test\": {\"type\": \"string\"}\n  },\n  \"required\": [\"title\", \"description\"]\n}"},"id":"n22-job-data-parser","name":"Job Data Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[544,544]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app9shUm0Kp9ySC24","mode":"list","cachedResultName":"Opportunities Feed","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24"},"table":{"__rl":true,"value":"tblgoNVWi5JYAmlVH","mode":"list","cachedResultName":"Upwork","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24/tblgoNVWi5JYAmlVH"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.query.recordID }}","Status":"No Fit","Match_Reason":"={{ $json.output.reason }}","Title":"={{ $('Set: Candidate Profile').item.json.title }}","Budget":"={{ $('Set: Candidate Profile').item.json.budget }}","Experience_Level":"={{ $('Set: Candidate Profile').item.json.experience_level }}","Hours_Week":"={{ $('Set: Candidate Profile').item.json.hours_week }}","Duration":"={{ $('Set: Candidate Profile').item.json.duration }}","Job_Type":"={{ $('Set: Candidate Profile').item.json.job_type }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"RecordID","displayName":"RecordID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Budget","displayName":"Budget","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Experience_Level","displayName":"Experience_Level","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entry","value":"Entry"},{"name":"Intermediate","value":"Intermediate"},{"name":"Expert","value":"Expert"}],"readOnly":false,"removed":false},{"id":"Hours_Week","displayName":"Hours_Week","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Duration","displayName":"Duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Job_Type","displayName":"Job_Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hourly","value":"Hourly"},{"name":"Fixed","value":"Fixed"}],"readOnly":false,"removed":false},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Draft_Proposal","displayName":"Draft_Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Match_Score","displayName":"Match_Score","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Match_Reason","displayName":"Match_Reason","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Bid_Rate","displayName":"Bid_Rate","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Created at","displayName":"Created at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"None","value":"None"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"},{"name":"No Fit","value":"No Fit"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1488,608],"id":"ac30a6ac-3d03-451b-8b08-70193fe6dd5f","name":"Update record","credentials":null},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app9shUm0Kp9ySC24","mode":"list","cachedResultName":"Opportunities Feed","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24"},"table":{"__rl":true,"value":"tblgoNVWi5JYAmlVH","mode":"list","cachedResultName":"Upwork","cachedResultUrl":"https://airtable.com/app9shUm0Kp9ySC24/tblgoNVWi5JYAmlVH"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook').item.json.query.recordID }}","Match_Score":"={{ $('Format Output').item.json.match_score }}","Bid_Rate":"={{ $('Format Output').item.json.suggested_rate }}","Status":"Done","Draft_Proposal":"={{ $('Format Output').item.json.draft_proposal }}","Match_Reason":"={{ $('Format Output').item.json.match_reason }}","Budget":"={{ $('Set: Candidate Profile').item.json.budget }}","Experience_Level":"={{ $('Set: Candidate Profile').item.json.experience_level }}","Hours_Week":"={{ $('Set: Candidate Profile').item.json.hours_week }}","Duration":"={{ $('Set: Candidate Profile').item.json.duration }}","Job_Type":"={{ $('Set: Candidate Profile').item.json.job_type }}","Title":"={{ $('Set: Candidate Profile').item.json.title }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"RecordID","displayName":"RecordID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Budget","displayName":"Budget","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Experience_Level","displayName":"Experience_Level","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Entry","value":"Entry"},{"name":"Intermediate","value":"Intermediate"},{"name":"Expert","value":"Expert"}],"readOnly":false,"removed":false},{"id":"Hours_Week","displayName":"Hours_Week","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Duration","displayName":"Duration","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Job_Type","displayName":"Job_Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Hourly","value":"Hourly"},{"name":"Fixed","value":"Fixed"}],"readOnly":false,"removed":false},{"id":"Tags","displayName":"Tags","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Draft_Proposal","displayName":"Draft_Proposal","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Match_Score","displayName":"Match_Score","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Match_Reason","displayName":"Match_Reason","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Bid_Rate","displayName":"Bid_Rate","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Created at","displayName":"Created at","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"None","value":"None"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"},{"name":"No Fit","value":"No Fit"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2208,208],"id":"07cca49f-fca3-4d52-ac68-b852cfad3170","name":"Update record1","credentials":null}],"connections":{"Webhook":{"main":[[{"node":"Airtable: Get Record","type":"main","index":0}]]},"Set: Candidate Profile":{"main":[[{"node":"AI: Job Filter","type":"main","index":0}]]},"OpenAI Filter":{"ai_languageModel":[[{"node":"AI: Job Filter","type":"ai_languageModel","index":0}]]},"Output Parser":{"ai_outputParser":[[{"node":"AI: Job Filter","type":"ai_outputParser","index":0}]]},"AI: Job Filter":{"main":[[{"node":"IF: Is Match?","type":"main","index":0}]]},"IF: Is Match?":{"main":[[{"node":"AI: Draft Proposal","type":"main","index":0}],[{"node":"Update record","type":"main","index":0}]]},"OpenAI Proposal":{"ai_languageModel":[[{"node":"AI: Draft Proposal","type":"ai_languageModel","index":0}]]},"AI: Draft Proposal":{"main":[[{"node":"Format Output","type":"main","index":0}]]},"Format Output":{"main":[[{"node":"Update Airtable: Done","type":"main","index":0}]]},"Airtable: Get Record":{"main":[[{"node":"AI: Extract Job Data","type":"main","index":0}]]},"AI: Extract Job Data":{"main":[[{"node":"Set: Candidate Profile","type":"main","index":0}]]},"OpenAI Extractor":{"ai_languageModel":[[{"node":"AI: Extract Job Data","type":"ai_languageModel","index":0}]]},"Job Data Parser":{"ai_outputParser":[[{"node":"AI: Extract Job Data","type":"ai_outputParser","index":0}]]},"Update Airtable: Done":{"main":[[{"node":"Update record1","type":"main","index":0}]]}},"authors":"***REDACTED***","name":null,"description":null},"tags":[]}